<template>
  <div class="index">
    <div class="list">
      <div class="topBanner">
        <div
            :style="'background-image:url(' + topBanner + ')'"
            class="banner-top"
        ></div>
      </div>
      <div class="main">
        <div class="main-left">
          <div class="main-left-title">
            <div class="main-left-icon">
              <img :src="policy" alt="小牛建讯" class="icon"/>
              <p class="text">政策文件</p>
            </div>
            <div class="main-left-more">
              <a class="more" @click="more">
                <span>查看更多</span>
                <img :src="readMore" alt="小牛建讯">
              </a>
            </div>
          </div>
          <div class="main-left-content">
            <a
                v-for="(item, index) in leftDataList"
                :key="index + 'ddd'"
                class="left-content-item"
                @click="leftDetails(item.noticeId)"
            >
              <p class="left-content-item-title">
                <span class="point"></span>{{ item.title }}
              </p>
              <p class="left-content-item-time">{{ item.sendTime }}</p>
            </a>
          </div>
        </div>
        <div class="main-right">
          <div class="main-right-title">
            <div class="main-right-icon">
              <img :src="QA" alt="小牛建讯" class="icon"/>
              <p class="text">资质问答</p>
            </div>
            <div class="main-right-more">
              <a class="more" @click="moreQA">
                <span>查看更多</span>
                <img :src="readMore" alt="小牛建讯">
              </a>
            </div>
          </div>
          <div class="main-right-content">
            <div
                v-for="(item, index) in rightDataList"
                :key="index + 'sss'"
                class="main-right-content-item"
                @click="queAndQns(item.noticeId)"
            >
              <a class="right-content-item">
                <div class="right-title">
                  <p class="right-content-item-title">
                    <span class="point"></span>{{ item.title }}
                  </p>
                  <p class="right-content-item-time">{{ item.sendTime }}</p>
                </div>
                <div class="right-content-item-main" v-html="item.content"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-url">
      <div class="bottom-url-title">
        <!--        <div class="icon" :style="'background-image:url(' + gov + ')'"></div>-->
        <p class="text"><img :src="gov" alt="小牛建讯" class="icon"/>政府网站</p>
      </div>
      <div class="url">
        <div
            v-for="(item, index) in urlData"
            :key="index + 'kk'"
            class="url-item"
            @click="open(item.url)"
        >
          <p class="text">
            <img :src="urlIcon" alt="小牛建讯" class="urlIcon"/>
            {{item.title }}
          </p>
          <p class="link">{{ item.url }}</p>
        </div>
        <div class="hint">
          注意：排名不分先后顺序
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./HomePage.ts"></script>

<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
}

.point {
  width: 4px;
  height: 4px;
  background: #00AB94;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 8px;
}

.index {

  .list {
    padding: 24px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 16px;

    .topBanner {
      padding-bottom: 24px;

      .banner-top {
        //z-index:9999 !important;
        width: 100%;
        height: 224px;
        background-size: 100% 100%;
      }
    }


    .main {

      background-color: #fff;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .main-left {
        // width: 532px;
        width: 48%;

        .main-left-title {
          height: 54px;
          background-color: #F2F6F8;
          display: flex;
          justify-content: space-between;
          line-height: 54px;
          padding: 0 16px;

          .main-left-icon {
            display: flex;
            align-items: center;

            .icon {
              margin-right: 8px;
            }

            .text {
              font-size: 16px;
              font-weight: 500;
              color: #282828;

            }
          }

          .main-left-more {
            .more {
              display: flex;
              align-items: center;
              font-size: 14px;
              color: #00AB94;
            }
          }
        }

        .main-left-content {
          a {
            color: #282828;

          }

          a:hover {
            color: #00AB94;
          }

          a:hover .left-content-item-time {
            color: #00AB94;
          }

          .left-content-item {
            line-height: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
            font-size: 14px;


            .left-content-item-title {
              width: 408px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .left-content-item-time {
              color: #A0A6AB;
            }
          }
        }
      }

      .main-right {
        // width: 532px;
        width: 48%;

        .main-right-title {
          height: 54px;
          background-color: #F2F6F8;
          display: flex;
          justify-content: space-between;
          line-height: 54px;
          padding: 0 16px;

          .main-right-icon {
            display: flex;
            align-items: center;

            .icon {
              margin-right: 8px;
            }

            .text {
              font-size: 16px;
              font-weight: 500;
              color: #282828;

            }
          }

          .main-right-more {
            .more {
              display: flex;
              align-items: center;
              font-size: 14px;
              color: #00AB94;
            }
          }
        }

        .main-right-content {

          .right-content-item-title:hover + .right-content-item-time {
            color: #00AB94 !important;
          }

          .main-right-content-item {
            margin-top: 16px;

            .right-content-item-title:hover {
              color: #00AB94 !important;
            }

            .right-content-item {


              .right-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                line-height: 20px;

                .right-content-item-title {
                  // width: 408px;
                  width: 80%;
                  font-size: 14px;
                  font-weight: 400;
                  color: #282828;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;

                }

                .right-content-item-time {
                  font-size: 14px;
                  font-weight: 400;
                  color: #A0A6AB;

                }
              }

              .right-content-item-main {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 12px;
                font-weight: 400;
                color: #686868;
                line-height: 17px;
                margin-top: 4px;
              }


            }


          }


        }
      }
    }
  }

  .bottom-url {
    margin-top: 16px;
    background-color: #FFFFFF;
    border-radius: 4px;
    .bottom-url-title {
      position: relative;
      border-bottom: 1px solid #EFF3F6;
      line-height: 54px;
      height: 54px;


      .text {
        font-size: 16px;
        font-weight: 500;
        color: #282828;
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .icon {
          margin-right: 8px;

        }
      }
    }

    .url {
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 24px 81px 24px 88px;

      .url-item {
        width: 30%;
        margin-bottom: 16px;

        .text {
          font-size: 14px;
          color: #686868;
          display: flex;
          align-items: center;
          .urlIcon{
            margin-right: 8px;
            width: 16px;

          }
        }

        .link {
          cursor: pointer;
          margin-top: 4px;
          color: #282828;
          margin-left: 29px;
          font-size: 14px;
          &:hover{
            color: #00AB94;
          }
        }
      }

      .hint {
        width: 100%;
        color: #A0A6AB;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
</style>
