<template>
  <div class="index">
    <div class="left">
      <div class="left-top">
        <div class="left-item">
          <div class="title">{{ content.title }}</div>
          <div class="sendTime">
            <p>发布时间:{{ content.sendTime }}</p>
            <p v-if="content.areaNames !== ''">地区:{{ content.areaNames }}</p>
            <p v-if="content.sourceUrl !== ''">来源:{{ content.sourceUrl }}</p>
          </div>
          <div class="textContent" v-html="content.content"></div>
          <div v-if="content.enclosureUrl !== ''" class="enclosureUrl">
            <div class="text">附件:</div>
            <div class="url">
              <p
                  v-for="(item, index) in showEnclosureUrl"
                  :key="index"
                  @click="download(item.completeUrl)"
              >
                {{ item.url }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-title"><img :src="policy" alt="小牛建讯" class="icon"/>政策文件</div>
      <p v-for="(item, index) in rightList"
         :key="index + 'dd'"
         class="right-content" @click="goTo(item.noticeId)">
        <span class="point"></span>{{ item.title }}</p>
    </div>
  </div>
</template>

<script>
import policy from '@/assets/image/knowledgeWarehouse/ic_news_folder.png'

export default {
  name: 'policyDocDetails',
  data() {
    return {
      // regionCodeListMap:new Map(),
      content: {},
      rightList: [],
      showEnclosureUrl: [],
      policy: policy
    }
  },
  methods: {
    rightListChange() {
      this.$httpRequester
          .post('notice/selKnowledge', {
            pageNum: 1,
            pageSize: 10,
            noticeTypeEnum: '0'
          })
          .then(res => {
            this.rightList = res.data
          })
    },
    goTo(item) {
      this.$router.push({
        query:{'id':item}
      })
      this.policyDocDetails(item)
    },
    policyDocDetails(id) {
      this.$httpRequester
          .get('notice/selManagerDetail', {id: id})
          .then(res => {
            this.showEnclosureUrl=[]
            // res.data[0].areaCode=this.regionCodeListMap.get(res.data[0].areaCode)
            res.data.forEach(item => {
              item.sendTime = this.$moment(item.sendTime).format('yyyy-MM-DD')
              item.areaNames = item.areaNames ? item.areaNames.toString() : ''
              const url = item.enclosureUrl.split(',')
              url.forEach(d => {
                const urlObj = {
                  url: d.slice(d.indexOf('/') + 1, d.indexOf('.')),
                  completeUrl: d
                }
                this.showEnclosureUrl.push(urlObj)
              })
              //    item.enclosureUrl.slice(item.enclosureUrl.indexOf('/')+1,item.enclosureUrl.indexOf('.'))
            })
            this.content = res.data[0]
          })
    },
    download(file) {
      this.$httpRequester
          .download('upload/file/get', {path: file})
          .then(r => {
            const blob = new Blob([r])
            const link = document.createElement('a')
            const time = this.$moment().format('YYYY-MM-DD HH:mm:ss')
            link.href = window.URL.createObjectURL(blob)
            link.download = file.slice(file.indexOf('/') + 1, file.indexOf('_'))
            link.click()
          })
    }
  },


  mounted() {
    this.rightListChange()
    // this.$httpRequester.get("regionCode/selList",{}).then(res=>{
    //     const regionCodeListMap=new Map()
    //     regionCodeListMap.set(0,"全国")
    //     res.forEach(item=>{
    //         regionCodeListMap.set(item.areaCode,item.areaName)
    //     })
    //     this.$nextTick(()=>{
    //         this.regionCodeListMap=regionCodeListMap
    //     })
    // })
    this.$nextTick(() => {
      this.policyDocDetails(this.$route.query.id)
    })
  },

}
</script>

<style lang="scss" scoped>
.point {
  width: 4px;
  height: 4px;
  background: #00AB94;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 8px;
}

.index {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: #FFFFFF !important;


  .left {
    height: 100%;
    // width: 792px;
    width: 70%;


    .left-item {
      .title {
        text-align: center;
        font-size: 18px;
        color: #777777;
        margin-top: 16px;
        margin-bottom: 28px;
      }

      .sendTime {
        width: 100%;
        margin: 0 auto;
        display: flex;
        color: #A0A6AB;
        font-size: 14px;
        justify-content: space-around;
      }

      .textContent {
        margin: 15px auto;
        color: #686868 !important;
      }


      .textContent /deep/ img {
        max-width: 780px !important;
        margin: 0 auto;
      }

      .enclosureUrl {
        display: flex;
        font-size: 16px;
        .text{
          color: #282828;
        }

        .url {
          margin-left: 10px;
          cursor: pointer;

        }
      }
    }
  }

  .right {
    height: 100%;
    // width: 272px;
    width: 26%;
    margin-left: 24px;

    .right-title {
      background-color: #F2F6F8;
      height: 54px;
      line-height: 54px;
      padding-left: 16px;
      font-size: 16px;
      color: #282828;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 8px;

      }
    }




      .right-content {
        // width: 272px;
        width: 100%;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #282828;
        margin-top: 16px;
        cursor: pointer;
        &:hover{
          color: #00AB94;
        }

    }
  }
}
</style>
