<template>
  <div class="index">
    <div class="left">
      <div class="left-top">
        <div class="left-title"><img class="icon" :src="QA" alt="小牛建讯" />资质问答</div>
       <ul>
         <li
             class="left-item"
             v-for="(item, index) in leftList"
             :key="index + 'dd'"
             @click="queAndQnsDetails(item.noticeId)"
         >
           <a class="left-content-title">
             <div class="title"><span class="point"></span>{{ item.title }}</div>
             <div class="time">{{ item.sendTime }}</div>
           </a>
           <div class="left-content" v-html="item.content"></div>
         </li>
       </ul>

      </div>
      <a-pagination
        class="pagination"
        :total="totalSize"
        :item-render="itemRender"
        @change="onChange"
      />
    </div>
    <div class="right">
      <div class="right-title"><img class="icon" :src="policy" alt="小牛建讯"/>政策文件</div>
      <p
        class="right-item"
        v-for="(item, index) in rightList"
        :key="index + 'dd'"
        @click="policyDocDetails(item.noticeId)"
      >
       <span class="point"></span>{{ item.title }}
      </p>
    </div>
  </div>
</template>

<script>
import { Pagination } from 'ant-design-vue'
import QA from '@/assets/image/knowledgeWarehouse/ic_news_question.png'
import policy from '@/assets/image/knowledgeWarehouse/ic_news_folder.png'

export default {
  name: 'PolicyDocList',
  components: {
    aPagination: Pagination
  },
  data() {
    return {
      current: 1,
      totalSize: 0,
      pageSize: 10,
      leftList: [],
      rightList: [],
      QA: QA,
      policy: policy
    }
  },
  methods: {
    reMove(content) {
      const regExp = new RegExp('<.+?>', 'g')
      return '<div>' + content.replace(regExp, '') + '</div>'
    },
    itemRender(current, type, originalElement) {
      if (type === 'prev') {
        originalElement.children = undefined
        originalElement.text = ' 上一页 '
        originalElement.data.class = originalElement.data.class + ' red'
        return originalElement
      } else if (type === 'next') {
        originalElement.children = undefined
        originalElement.text = ' 下一页 '
        originalElement.data.class = originalElement.data.class + ' red'
        return originalElement
      }
      return originalElement
    },
    onChange(current) {
      this.current = current
      this.leftListChange()
    },

    leftListChange() {
      this.$httpRequester
        .post('notice/selKnowledge', {
          pageNum: this.current,
          pageSize: this.pageSize,
          noticeTypeEnum: '3'
        })
        .then(res => {
          this.totalSize = res.totalSize
          res.data.forEach(item => {
            item.content = this.reMove(item.content)
            item.sendTime = this.$moment(item.sendTime).format('yyyy-MM-DD')
          })
          this.leftList = res.data
          this.rightListChange()
        })
    },
    rightListChange() {
      this.$httpRequester
        .post('notice/selKnowledge', {
          pageNum: 1,
          pageSize: 10,
          noticeTypeEnum: '0'
        })
        .then(res => {
          this.rightList = res.data
        })
    },
    policyDocDetails(item) {
      this.$router.push({
        path: '/longna/knowledgeWarehouse/PolicyDocDetails',
        query: { id: item }
      })
    },
    queAndQnsDetails(item) {
      this.$router.push({
        path: '/longna/knowledgeWarehouse/QueAndQnsDetails',
        query: { id: item }
      })
    }
  },
  mounted() {
    this.leftListChange()
  }
}
</script>

<style lang="scss" scoped>
.point {
  width: 4px;
  height: 4px;
  background: #00AB94;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 8px;
}

.index {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: #FFFFFF !important;


  .left {
    width: 792px;
    height: 100%;


    .left-title {
      padding-left: 16px;
      height: 54px;
      line-height: 54px;
      background: #F2F6F8;
      border-radius: 2px;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 8px;
      }
    }

    ul{
      li:last-child{
        border-bottom: none;
      }

      .left-item {
        cursor: pointer;
        display: block;
        border-bottom: 1px solid #EFF3F6;
        padding: 16px 0;
        .left-content-title:hover{
          color: #00AB94;
        }
        .left-content-title:hover .time {
          color: #00AB94;
        }

        .left-content-title {

          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          color: #282828;
          font-size: 16px;

          .title {
            width: 668px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 24px;
          }

          .time {
            color: #A0A6AB;
          }
        }

        .left-content {
          color: #ababab;
          width: 100%;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }


    .pagination {
      margin-top: 15px;
      padding-top: 15px;
    }
  }

  .right {
    width: 272px;
    height: 100%;

    .right-title {
      background-color: #F2F6F8;
      height: 54px;
      line-height: 54px;
      font-size: 16px;
      color: #282828;
      display: flex;
      align-items: center;
      padding-left: 16px;

      .icon {
        padding-right: 8px;

      }
    }

    .right-item {
      width: 260px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 16px;
      font-size: 14px;
      color: #282828;
      cursor: pointer;
      &:hover{
        color: #00AB94;

      }


    }
  }
}
</style>
