<template>
  <div class="shipment-page">
    <shipment-filter
      ref="filter"
      @changeCommendDisabled="changeCommendDisabled"
      @selectSellQualification="findCommondQua"
      @clickFindBtns="clickFindBtns"
      @setFilter="getFilter"
      @noLoginGetList="noLoginGetList"
    ></shipment-filter>
    <div class="table-content">
      <div class="loading" v-show="dataLoading">
        <a-spin size="large" tip="加载中......" />
      </div>
      <div class="tips" id="tips" v-if="showFiftySelect">
        <!-- 小牛建讯为您分析出
       
        资质相关性<span v-if="correlation === 'MORE_THAN_SIXTY'">高于60%</span>
        <span v-if="correlation === 'THIRTY_SIXTY'">30%~60%</span>
        <span v-if="correlation === 'BELOW_THIRTY'">低于30% </span>
        的潜在意向企业，通过下方“相关性筛选”可查看更多企业 -->
        根据企业资质构成相关性，小牛AI为您分析出
        <span class=" text-textPrimary">
          <span v-if="tipText">
            <countTo :startVal="0" :endVal="tipText" :duration="1000"></countTo>
            <span v-if="tipText >= 1000">+</span>
          </span>
          <span v-else>
            0
          </span>
        </span>
        家潜在意向企业
      </div>
      <div class="tips" v-else>
        小牛建讯为您查询出
        <span class=" text-textPrimary">
          <span v-if="tipText">
            <countTo :startVal="0" :endVal="tipText" :duration="1000"></countTo>
            <span v-if="tipText >= 1000">+</span>
          </span>
          <span v-else>
            0
          </span>
        </span>
        家符合条件的企业，查询结果已根据算法优化排序，排列越靠前购买意向越高
      </div>
      <div
        class="filter-btns"
        id="setRiskLevelFilterFilter"
        @mouseleave="mouseleavePutAway"
      >
        <a-select
          :class="{
            'risk-filter-btn': riskLevelFilter,
            'no-data-select': !riskLevelFilter
          }"
          v-model="riskLevelFilter"
          @change="setRiskLevelFilter"
          allowClear
          placeholder="风险等级"
          :open="defaultOpen"
          @mouseenter="mouseenter"
          @select="mouseleave"
          @blur="mouseleave"
          :getPopupContainer="getPopupContainer"
        >
          <a-select-option
            v-for="(item, key) in riskOption"
            :key="key"
            :value="item.value"
          >
            {{ item.label }}
          </a-select-option>
        </a-select>
        <a-button
          @click="setEstablishmentDateSort"
          class="have-rt-margin"
          :class="{
            noRisk: establishmentDateSort === 0,
            haveRisk: establishmentDateSort !== 0
          }"
        >
          成立时间
          <a-icon
            v-if="establishmentDateSort"
            :type="establishmentDateSort === 2 ? 'arrow-down' : 'arrow-up'"
          />
        </a-button>
        <a-select
          :class="{
            'risk-filter-btn': safeCertificationValue,
            'no-data-select': !safeCertificationValue
          }"
          style="width: 130px;"
          v-model="safeCertificationValue"
          allowClear
          @change="setSafeCertificationValueFilter"
          placeholder="安许筛选"
          :open="defaultSafeCertificationOpen"
          @mouseenter="mouseenterSafeCertificationValue"
          @inputKeydown="mouseleaveSafeCertificationValue"
          @select="mouseleaveSafeCertificationValue"
          @blur="mouseleaveSafeCertificationValue"
          :getPopupContainer="getPopupContainer"
        >
          <a-select-option
            @blur="mouseleaveSafeCertificationValue"
            v-for="(item, key) in safeCertificationList"
            :key="key"
            :value="item.value"
          >
            {{ item.label }}
          </a-select-option>
        </a-select>
        <!-- <a-button
          @click="changeReceiveStatus"
          class="have-rt-margin"
          :class="{
            noRisk: !fiftyNotReceive,
            haveRisk: fiftyNotReceive
          }"
        >
          15天内未领取
        </a-button> -->
        <!-- <a-select
          v-if="showFiftySelect"
          :class="{
            'risk-filter-btn': correlation,
            'no-data-select': !correlation
          }"
          style="width: 120px;"
          v-model="correlation"
          @change="setCorrelationFilter"
          placeholder="相关性筛选"
          :open="defaultCorrelationOpen"
          @mouseenter="mouseenterCorrelation"
          @select="mouseleaveCorrelation"
          @blur="mouseleaveCorrelation"
          :getPopupContainer="getPopupContainer"
        >
          <a-select-option
            v-for="(item, key) in correlationOptions"
            :key="key"
            :value="item.value"
          >
            {{ item.label }}
          </a-select-option>
        </a-select> -->
        <a-button
          v-if="showWatchBtn"
          class="special-btn"
          :disabled="isSuperAdmin"
          icon="eye"
          @click="receiveAllList"
          >本页电话
        </a-button>
      </div>
      <div v-if="total > 0">
        <div v-for="(row, index) in tableData" :key="index">
          <table-card
            v-if="row.isHaveBuildQualification"
            @goToCompanyDetail="goToCompanyDetail"
            @goToCompanyRisk="goToCompanyRisk"
            @showSharQrCode="showSharQrCode"
            @receiveThisItem="receiveThisItem"
            @phoneIsNotTurnOn="phoneIsNotTurnOn"
            @phoneIsTurnOn="phoneIsTurnOn"
            :key="index"
            :row="row"
            :isClicked="findClickedItem(row.enterpriseId)"
          ></table-card>
          <simple-card
            v-if="!row.isHaveBuildQualification"
            @goToCompanyDetail="goToCompanyDetail"
            @goToCompanyRisk="goToCompanyRisk"
            @showSharQrCode="showSharQrCode"
            @receiveThisItem="receiveThisItem"
            @phoneIsNotTurnOn="phoneIsNotTurnOn"
            @phoneIsTurnOn="phoneIsTurnOn"
            :key="index"
            :row="row"
            :isClicked="findClickedItem(row.enterpriseId)"
          ></simple-card>
        </div>
        <div
          v-if="
            pageNum > 1 && filter.haveBuildQualification && recommendBtns.length
          "
          class="w-full p-[16px]"
        >
          <div class=" text-tipOrange text-[14px] mb-[16px]">
            <img :src="orangeStar" class="w-[20px] h-[24px]" />
            您可以切换筛选方案查看更多潜在意向客户
          </div>
          <div class=" item-start flex ">
            <div class="w-[80px]  flex-shrink-0 text-textPrimary text-[14px]">
              筛选方案:
            </div>
            <div class="flex items-center justify-start flex-wrap">
              <a-button
                :disabled="otherDisabled"
                :type="
                  recommendQualifications ===
                  item[0].qualificationId + ',' + item[1].qualificationId
                    ? 'primary'
                    : 'default'
                "
                @click="setRecommendQua(key)"
                class="mb-[16px] mr-[16px]"
                v-for="(item, key) in recommendBtns"
                :key="key"
              >
                {{ item[0].qualificationName }} +
                {{ item[1].qualificationName }}
              </a-button>
            </div>
          </div>
          <div class=" flex relative item-start">
            <div class=" flex-shrink-0 w-[80px] text-textPrimary text-[14px]">
              更多选择：
            </div>
            <tree-checkbox-select
              v-model="commendQua"
              :disabled="otherDisabled"
              :designQualificationOptions="[]"
              placeholder="请选择企业取得的施工资质，必选"
              :fakeQualification="fakeQualification"
              :qualificationOptions="qualificationOptions"
              :disableCheck="commendQuaOptions"
              containerId="shipmentFilter"
              @dropdownHidden="hiddenTreeCheckBox"
              @isSetFormVaue="selectFromTreeSelect"
            ></tree-checkbox-select>
            <div
              class="tips left-[80px]  whitespace-nowrap font-medium bottom-[-26px] absolute mt-[5px]"
            >
              说明：为您找到以上
              <span class="text-tipOrange ">6种</span>
              潜客筛选方案，持有方案中资质的企业购买
              <span class="text-tipOrange ">“xxx资质变量”</span>
              意向度较高，也可通过<span class="text-tipOrange">
                “更多选择”
              </span>
              自定义方案进行分析
            </div>
          </div>
        </div>
        <div class="card-pagination">
          <a-pagination
            v-model="pageNum"
            :hideOnSinglePage="true"
            :showTotal="
              () => {
                return false
              }
            "
            @change="tableChange"
            :showQuickJumper="true"
            :pageSize.sync="pageSize"
            :total="total"
          ></a-pagination>
          <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
        </div>
        <div
          :style="'background-image:url(' + freeBg + ')'"
          class="free-vip-item"
          v-if="softVersion === 'V_FREE_TEMP'"
          @click="goToVipPage"
        >
          <!--          <div class="free-main-title">如需查看更多数据，请升级至VIP版本</div>-->
          <!--          <div class="free-sub-title">-->
          <!--            如有疑问，请联系客服，免费咨询热线：400-902-8966-->
          <!--          </div>-->
          <!--          <div class="free-vip-btn">去升级</div>-->
        </div>
        <!--        v-if="softVersion !== 'V_FREE_TEMP'"-->
      </div>

      <block-data
        :imageSrc="notFind"
        :titleText="''"
        :text="'没有找到相关结果，请更换筛选条件重新搜索'"
        v-else
      ></block-data>
      <div class="tips">
        出货查询说明：<br />
        1.
        来源：该数据源于中国住房和城乡建设部、各省级一体化平台、国家企业信用信息公示系统、中国执行网<br />
        2.
        出货查询，企业有资质的无资质的查询方式不一样，有资质的企业可以选择相关性推荐的资质，有这类资质的企业购买意向度更高<br />
        3. 相同查询条件，同一公司所有业务人员查询到的结果，列表展示一致
      </div>
    </div>
    <a-drawer
      @close="closeCompanyDetailDrawer"
      :closable="false"
      :visible="companyDetailDrawer"
      width="840"
    >
      <detail-index
        ref="companyDrawer"
        @setLegalPersonToFilter="setLegalPersonToFilter"
        @setPhoneToFilter="setPhoneToFilter"
        @closeDrawer="closeCompanyDetailDrawer"
        @havePhoneOperate="getSalesList"
        @detailReceive="getSalesList"
        :isFromClient="false"
      ></detail-index>
    </a-drawer>
    <wxqr-code ref="wxqr" :url="wxQrCode"></wxqr-code>
  </div>
</template>

<script>
import freeBg from '@/assets/image/tableItem/free_bg.png'
import { Pagination, Drawer, Spin, Modal, Select } from 'ant-design-vue'
import notFind from '@/assets/image/no_data_block.png'
import orangeStar from '@/assets/image/tableItem/orange_star.png'
import BlockData from '@/components/BlockData.vue'
import WxqrCode from '@/components/WxqrCode.vue'
import { userModule } from '@/store/modules/user'
import { homeModule } from '@/store/modules/home'
import { detailModule } from '@/store/modules/detail'
import shipmentFilter from './Components/Filter.vue'
import TableCard from './Components/TableCard.vue'
import SimpleCard from './Components/SimpleCard.vue'
import DetailIndex from '../Detail/Index.vue'
import countTo from 'vue-count-to'
import { hide } from '@/components/pageationHide.js'
import { universalModule } from '@/store/modules/universal'
import TreeCheckboxSelect from '@/components/TreeCheckboxSelect.vue'
import Cookie from 'js-cookie'

export default {
  name: 'receipt',
  components: {
    TreeCheckboxSelect,
    countTo,
    shipmentFilter,
    TableCard,
    aDrawer: Drawer,
    aSpin: Spin,
    aPagination: Pagination,
    SimpleCard,
    BlockData,
    WxqrCode,
    DetailIndex,
    aSelect: Select,
    aSelectOption: Select.Option
  },

  watch: {
    isListQuery: {
      handler(val) {
        if (val) {
          this.$refs.filter.getFilterHistory()
          detailModule.setListQuery(false)
        }
      }
    }
  },
  computed: {
    isListQuery() {
      return detailModule.isListQuery
    },
    softVersion() {
      return userModule.version
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    }
  },
  data() {
    return {
      orangeStar,
      otherDisabled: false,
      commendQuaOptions: [],
      commendQua: [],
      recommendQualifications: undefined,
      recommendBtns: [],
      isElectron: false,
      defaultOpen: false,
      defaultSafeCertificationOpen: false,
      defaultCorrelationOpen: false,
      freeBg,
      dataLoading: false,
      showWatchBtn: true,
      companyDetailDrawer: false,
      notFind,
      total: 0,
      totalNum: 0,
      tipText: 0,
      isSuperAdmin: false,
      tableData: [],
      filter: {},
      establishmentDateSort: 2,
      riskSort: 1,
      pageNum: 1,
      haveQualification: false,
      safeCertificationValue: 1,
      paramsShipment: {},
      safeCertificationList: [
        { value: 1, label: '安许：有' },
        { value: 2, label: '安许：无' },
        { value: 3, label: '安许：过期' },
        { value: 4, label: '安许：半年到期' }
      ],
      fiftyNotReceive: true,
      correlation: undefined,
      //  'MORE_THAN_SIXTY',
      correlationOptions: [
        { value: 'MORE_THAN_SIXTY', label: '60%以上' },
        { value: 'THIRTY_SIXTY', label: '30%~60%' },
        { value: 'BELOW_THIRTY', label: '30%以下' }
      ],
      pageSize: 10,
      clickItems: [],
      riskLevelFilter: undefined,
      riskOption: [
        { label: '无风险', value: '0' },
        { label: '低风险', value: '1' },
        { label: '中风险', value: '2' },
        { label: '高风险', value: '3' }
      ],
      levelTwoOptions: [],
      levelTwo: undefined,
      wxQrCode: '',
      showFiftySelect: true,
      userId: ''
    }
  },
  methods: {
    async userIsLogin() {
      try {
        if (!this.userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    changeCommendDisabled(status) {
      this.otherDisabled = status
    },
    setRecommendQua(key) {
      // this.qualifications = item.qualificationIds
      this.commendQua = [
        this.recommendBtns[key][0].qualificationId,
        this.recommendBtns[key][1].qualificationId
      ]
      this.recommendQualifications =
        this.recommendBtns[key][0].qualificationId +
        ',' +
        this.recommendBtns[key][1].qualificationId
      this.$refs.filter.setCommendAndFind(this.commendQua)
    },
    selectFromTreeSelect(val) {
      this.recommendQualifications = val.join(',')
    },
    async findCommondQua(val) {
      this.commendQuaOptions = [val]
      await this.$httpRequester
        .get('precise/getRelevanceQualification', { qualificationIds: val })
        .then(res => {
          if (res.length) {
            this.recommendBtns = res
            this.recommendQualifications =
              this.recommendBtns[0][0].qualificationId +
              ',' +
              this.recommendBtns[0][1].qualificationId
            this.commendQua = [
              this.recommendBtns[0][0].qualificationId,
              this.recommendBtns[0][1].qualificationId
            ]
          }
        })
    },
    hiddenTreeCheckBox() {
      if (this.commendQua.length) {
        this.$refs.filter.setCommendAndFind(this.commendQua)
      }
    },
    changeReceiveStatus() {
      this.fiftyNotReceive = !this.fiftyNotReceive
      this.pageNum = 1
      this.getSalesList()
    },
    setSafeCertificationValueFilter() {
      this.userIsLogin().then(() => {
        // console.log(val)
        this.pageNum = 1
        this.getSalesList()
      })
    },
    setPhoneToFilter(phone) {
      this.$refs.filter.onlyPhone(phone)
      this.companyDetailDrawer = false
    },
    setLegalPersonToFilter(person) {
      this.$refs.filter.onlyKeyword(person)
      this.companyDetailDrawer = false
    },
    clickFindBtns() {
      // this.pageNum = 1
      this.riskSort = 1
      this.safeCertificationValue = 1
      this.riskLevelFilter = undefined
      this.establishmentDateSort = 2
      this.fiftyNotReceive = true
      this.tableChange(1, 10)
    },
    closeCompanyDetailDrawer() {
      this.$refs.companyDrawer.setBasicInfoReback()
      this.companyDetailDrawer = false
      this.getSalesList()
    },
    showSharQrCode(item) {
      this.userIsLogin().then(() => {
        if (this.isSuperAdmin) {
          return
        }
        const page = 'pages/detail/enterpriseDetail'
        const pageUrl = `${apiUrl}wx/shared/applet/detail/qrcode?id=${item.enterpriseId}&page=${page}&width=200`
        this.wxQrCode = pageUrl
        this.$refs.wxqr.showModal()
      })
    },
    // 接通跟进
    phoneIsTurnOn(row) {
      detailModule.setEnterpriseInfo({ ...row, clueSources: 2 })
      this.setTurnDetaultQua(row)
      homeModule.changeTurnPhoneStatus(true)
      homeModule.setPageHandleFunction(this.afterTurnOnHandle)
    },
    // 拨打未接通
    phoneIsNotTurnOn(row) {
      detailModule.setEnterpriseInfo({ ...row, clueSources: 2 })
      homeModule.changeNotTurnPhoneStatus(true)
      homeModule.setPageHandleFunction(this.afterTurnOnHandle)
    },
    setCorrelationFilter(val) {
      this.pageNum = 1
      this.correlation = val
      this.getSalesList()
    },
    //鼠标移入展开安许和风险等级
    mouseenterSafeCertificationValue() {
      this.defaultSafeCertificationOpen = true
      this.defaultOpen = false
      this.defaultCorrelationOpen = false
    },
    mouseleaveSafeCertificationValue() {
      this.defaultSafeCertificationOpen = false
    },
    // 相关性
    mouseenterCorrelation() {
      this.defaultCorrelationOpen = true
      this.defaultOpen = false
      this.defaultSafeCertificationOpen = false
    },
    mouseleaveCorrelation() {
      this.defaultCorrelationOpen = false
    },
    // 风险等级
    mouseenter() {
      this.defaultOpen = true
      this.defaultSafeCertificationOpen = false
      this.defaultCorrelationOpen = false
    },
    mouseleave() {
      this.defaultOpen = false
    },
    mouseleavePutAway() {
      this.defaultOpen = false
      this.defaultSafeCertificationOpen = false
      this.defaultCorrelationOpen = false
    },
    getPopupContainer() {
      return document.getElementById('setRiskLevelFilterFilter')
    },
    afterTurnOnHandle() {
      this.getSalesList()
    },
    findClickedItem(enterpriseId) {
      // 判断有没有点过
      const have = this.clickItems.find(c => c === enterpriseId)
      return have
    },
    goToCompanyDetail(item) {
      // if (!this.isNotSpecialProvince) {
      //   return
      // }
      this.userIsLogin().then(() => {
        if (!this.findClickedItem(item.enterpriseId)) {
          this.clickItems.push(item.enterpriseId)
        }
        this.setTurnDetaultQua(item)
        this.companyDetailTitle = item.companyName
        this.companyDetailDrawer = true

        detailModule.setEnterpriseInfo({ ...item, clueSources: 2 })
        this.$nextTick(() => {
          this.$refs.companyDrawer.setColorFromRisk(-1)
          this.$refs.companyDrawer.setBasicInfo()
        })
      })
    },
    goToCompanyRisk(item) {
      // if (!this.isNotSpecialProvince) {
      //   return
      // }
      this.userIsLogin().then(() => {
        if (!this.findClickedItem(item.enterpriseId)) {
          this.clickItems.push(item.enterpriseId)
        }
        // console.log(item)
        this.setTurnDetaultQua(item)
        this.companyDetailTitle = item.companyName
        this.companyDetailDrawer = true

        detailModule.setEnterpriseInfo({ ...item, clueSources: 2 })
        this.$nextTick(() => {
          this.$refs.companyDrawer.setColorFromRisk(item.riskLevel)
          this.$refs.companyDrawer.setBasicInfo()
          this.$refs.companyDrawer.selectMainTitle(3) // 到达风险页面
        })
      })
    },
    setTurnDetaultQua() {
      // 卖资质沟通的应该是要卖出去的资质
      const tableItemDefauletQua = []
      if (this.filter.qualificationIds) {
        this.filter.qualificationIds.forEach(e => {
          const findQua = universalModule.fakeQualificationOptions.find(q => {
            return parseInt(q.value, 10) === parseInt(e, 10)
          })
          tableItemDefauletQua.push(findQua)
        })
      }
      // console.log(tableItemDefauletQua)
      homeModule.setATurnOnDefaultQua(tableItemDefauletQua)
      homeModule.setRowQuaStatus({ onlyDesign: false, onlyConstruction: true })
    },
    receiveThisItem(item) {
      this.userIsLogin().then(() => {
        if (this.isSuperAdmin) {
          this.$message.warning('超级管理员无法查看电话')
          return
        }
        const params = {
          clueSources: 2,
          enterpriseIds: [item.enterpriseId]
        }
        this.$httpRequester
          .post('enterpriseClue/addReceive', params)
          .then(() => {
            this.getSalesList()
            homeModule.getFreeTime()
          })
          .catch(err => {
            if (err.code === '2005') {
              detailModule.setExpriedModalShow(true)
            }
            if (err.code === '5003') {
              Modal.info({
                title: '温馨提示',
                content: err.msg,
                okText: '确定',
                onOk: () => {
                  console.log('is ok')
                }
              })
            } else if (err.code === '5008') {
              detailModule.setGoToVipTeamModalShow(true)
            } else if (err.code === '5013') {
              detailModule.setGoToVipModalShow(true)
            }
          })
      })
    },
    receiveAllList() {
      this.userIsLogin().then(() => {
        const params = {
          clueSources: 2,
          enterpriseIds: this.tableData.map(e => {
            return e.enterpriseId
          })
        }

        // console.log(params)
        this.$httpRequester
          .post('enterpriseClue/addReceive', params)
          .then(res => {
            this.setReceiveDataInTable(res)
            this.$message.success('操作成功')
            homeModule.getFreeTime()
          })
          .catch(err => {
            if (err.code === '2005') {
              detailModule.setExpriedModalShow(true)
            }
            if (err.code === '5004') {
              // 本页全都被领取光了
              Modal.confirm({
                title: '温馨提示',
                content: err.msg,
                okText: '下一页',
                cancelText: '取消',
                onOk: () => {
                  if (this.total / this.pageSize > this.pageNum) {
                    this.pageNum += 1
                    this.tableChange(this.pageNum, this.pageSize)
                  } else {
                    this.$message.warning('已经是最后一页了！')
                    this.showWatchBtn = false
                  }
                },
                onCancel: () => {
                  console.log('on cancel')
                }
              })
            } else if (err.code === '5005') {
              Modal.info({
                title: '温馨提示',
                content: err.msg,
                okText: '确定',
                onOk: () => {
                  this.setReceiveDataInTable(err.data)
                  console.log('is ok')
                }
              })
            } else if (err.code === '5008') {
              detailModule.setGoToVipTeamModalShow(true)
            } else if (err.code === '5013') {
              detailModule.setGoToVipModalShow(true)
            }
          })
      })
    },
    setReceiveDataInTable() {
      // const companyIdList = Object.keys(r)
      // // console.log(companyIdList)
      // this.tableData.forEach((t) => {
      //   if (
      //     companyIdList.find((c) => {
      //       return t.enterpriseId === c
      //     })
      //   ) {
      //     t.receiveCount += 1
      //     t.haveReceive = true
      //     t.phoneNumDisplay = r[t.enterpriseId].join(',')
      //   }
      // })
      this.showWatchBtn = false
      this.getSalesList()
    },
    async tableChange(pageNum, pageSize) {
      this.userIsLogin().then(() => {
        this.pageNum = pageNum
        this.pageSize = pageSize
        // const setUrl = async () => {
        this.$setQuery.addQuery(this.$route, {
          pageNum: this.pageNum,
          pageSize: this.pageSize
        })
        // }
        // this.$nextTick(() => {
        // setUrl().then(() => {
        //   this.$refs.filter.setFilterToFindList()
        // })
        this.$refs.filter.setFilterToFindList(this.pageNum, this.pageSize)
        this.$emit('goBackToTop')
      })
      // this.getSalesList()
    },
    filterIsRisk() {
      this.riskSort = this.riskSort === 2 ? 1 : 2
      this.getSalesList()
    },
    setEstablishmentDateSort() {
      this.userIsLogin().then(() => {
        switch (this.establishmentDateSort) {
          case 0:
            this.establishmentDateSort = 2
            break
          case 2:
            this.establishmentDateSort = 1
            break
          case 1:
            this.establishmentDateSort = 0
            break
        }
        // this.pageNum = 1
        this.getSalesList()
      })
    },
    getFilter(option) {
      this.filter = option.filter
      this.pageNum = option.pageNum ? parseInt(option.pageNum, 10) : 1
      this.pageSize = option.pageSize ? parseInt(option.pageSize, 10) : 10
      this.haveQualification = this.filter.haveBuildQualification
      // if (
      //   this.filter.haveBuildQualification ||
      //   this.filter.haveDesignQualification
      // ) {
      //   // 如果有施工或设计
      //   this.establishmentDateSort = 0
      // } else {
      //   this.establishmentDateSort = 2 // 箭头向下
      // }
      if (!this.haveQualification) {
        // 无施工资质的时候安许也是无
        this.safeCertificationValue = 2
      } else {
        this.safeCertificationValue = 1
      }
      // 设置第二页的筛选
      if (this.filter.haveBuildQualification && this.filter.qualificationIds) {
        this.findCommondQua(this.filter.qualificationIds[0]).then(() => {
          this.commendQua = this.filter.relevanceIds
          this.recommendQualifications = this.filter.relevanceIds.join(',')
        })
      }

      this.getSalesList()
    },
    setRiskLevelFilter() {
      this.userIsLogin().then(() => {
        this.pageNum = 1
        this.getSalesList()
      })
    },
    noLoginGetList(option) {
      this.filter = option

      // this.pageNum = option.pageNum ? parseInt(option.pageNum, 10) : 1
      // this.pageSize = option.pageSize ? parseInt(option.pageSize, 10) : 10
      this.haveQualification = this.filter.haveBuildQualification
      if (
        this.filter.haveBuildQualification ||
        this.filter.haveDesignQualification
      ) {
        // 如果有施工或设计
        this.establishmentDateSort = 0
      } else {
        this.establishmentDateSort = 2 // 箭头向下
      }
      this.paramsShipment = this.filter
      this.$httpRequester
        .post('precise/random/address/list', {
          ...this.filter
        })
        .then(res => {
          this.setTableData(res)
        })
    },
    getSalesList() {
      this.userIsLogin().then(() => {
        if (this.safeCertificationValue) {
          if (
            this.safeCertificationValue === 1 ||
            this.safeCertificationValue === 2
          ) {
            this.paramsShipment = {
              ...this.filter,
              fiftyNotReceive: this.fiftyNotReceive,
              establishmentDateSort: this.establishmentDateSort,
              haveSafeCertificate: this.safeCertificationValue === 1,
              riskSort: this.riskSort,
              riskLevel: this.riskLevelFilter,
              pageNum: this.pageNum,
              pageSize: this.pageSize
            }
          } else if (this.safeCertificationValue === 4) {
            // 安许六个月内过期
            this.paramsShipment = {
              ...this.filter,
              fiftyNotReceive: this.fiftyNotReceive,
              establishmentDateSort: this.establishmentDateSort,
              safeCertificateOvertime: true,
              riskSort: this.riskSort,
              riskLevel: this.riskLevelFilter,
              pageNum: this.pageNum,
              pageSize: this.pageSize
            }
          } else {
            // 安许已过期
            this.paramsShipment = {
              ...this.filter,
              fiftyNotReceive: this.fiftyNotReceive,
              establishmentDateSort: this.establishmentDateSort,
              safeCertificateExpired: true,
              riskSort: this.riskSort,
              riskLevel: this.riskLevelFilter,
              pageNum: this.pageNum,
              pageSize: this.pageSize
            }
          }
        } else {
          this.paramsShipment = {
            ...this.filter,
            fiftyNotReceive: this.fiftyNotReceive,
            establishmentDateSort: this.establishmentDateSort,
            riskSort: this.riskSort,
            riskLevel: this.riskLevelFilter,
            pageNum: this.pageNum,
            pageSize: this.pageSize
          }
        }

        if (this.paramsShipment.phoneNum) {
          this.paramsShipment = {
            phoneNum: this.paramsShipment.phoneNum,
            haveBuildQualification: this.paramsShipment.haveBuildQualification,
            establishmentDateSort: this.establishmentDateSort,
            riskSort: this.riskSort,
            pageNum: this.pageNum,
            pageSize: this.pageSize
          }
        }
        this.dataLoading = true
        this.$httpRequester
          .post('precise/list', {
            ...this.paramsShipment,
            rate: this.correlation
          })
          .then(res => {
            this.setTableData(res)
          })
          .catch(err => {
            this.dataLoading = false
            if (err.code === '5012') {
              detailModule.setFreeOverModalShow(true)
            }
          })
      })
    },
    setTableData(res) {
      this.dataLoading = false
      const relevanceIds = this.paramsShipment.relevanceIds
      // const keyWords = this.filter.keyWord
      let keyWords = ''
      if (this.filter) {
        keyWords = this.filter.keyWord || ''
        const reg3 = /[（]/g,reg4 = /[）]/g;
        if (reg3.test(keyWords)){
          keyWords=keyWords.replace(reg3,"(").replace(reg4,")")
        }
        keyWords = keyWords.replace(/(^\s*)|(\s*$)/g, '')
      }
      // const filtersQlificationId = this.filter.qualificationIds || []
      const showRelevance =
        this.filter.haveBuildQualification ||
        this.filter.haveDesignQualification
      res.data.forEach((e, i) => {
        e.number = i + 1

        // 施工资质
        const buildQualificationsList = []
        // 设计资质
        const designQualificationsList = []
        // const qualificationsList = []
        e.buildQualificationsList.forEach(q => {
          buildQualificationsList.push(q)
        })
        e.designQualificationsList.forEach(q => {
          designQualificationsList.push(q)
        })
        e.buildQualificationsListLocal = buildQualificationsList.filter(q => {
          return q.id
        })
        e.designQualificationsListLocal = designQualificationsList.filter(q => {
          return q.id
        })
        e.isHaveBuildQualification = !!buildQualificationsList.length
        e.isHaveDesignQualification = !!designQualificationsList.length
        e.beforeNameList = e.beforeNameList || []

        e.beforeNameListText = e.beforeNameList.join('、')
        // const replaceReg = new RegExp(keyWords, 'g')
        // 高亮替换v-html值
        const replaceString = '<span class="hightlight">' + keyWords + '</span>'
        e.companyNameHTML = keyWords
          ? e.enterpriseName.replace(keyWords, replaceString)
          : e.enterpriseName // 开始替换
        // 曾用名
        e.beforeNameListHtml = keyWords
          ? e.beforeNameListText.replace(keyWords, replaceString)
          : e.beforeNameListText // 开始替换

        if (e.beforeNameList.length > 2) {
          e.beforeNameListHtmlShort =
            e.beforeNameList.slice(0, 2).join('、') +
            `<span class=" text-tipBlue">...等${e.beforeNameList.length}个</span>`

          e.beforeNameListHtmlShort = keyWords
            ? e.beforeNameListHtmlShort.replace(keyWords, replaceString)
            : e.beforeNameListHtmlShort // 开始替换
        }
        if (relevanceIds) {
          e.buildQualificationsListLocal.forEach(b => {
            // console.log(b)
            if (relevanceIds.includes(parseInt(b.id, 10))) {
              b.qualificationName = `<span class="qua-hightlight">${b.qualificationName}</span>`
            }
          })
        }
        e.buildQualificationsListText = e.buildQualificationsListLocal
          .map(q => {
            return q.qualificationName
          })
          .join('、') // 施工资质悬浮窗的资质列表
        e.designQualificationsListText = e.designQualificationsListLocal
          .map(q => {
            return q.qualificationName
          })
          .join('、') // 设计资质悬浮窗的资质列表

        // console.log(this.paramsShipment)
        e.showRelevance = showRelevance
        // console.log(e)
        // if (e.qualificationsList.length > 5) {
        // if (filtersQlificationId.length > 0) {
        //   const findDisplay = []
        //   const newList = e.buildQualificationsList.concat([])

        //   filtersQlificationId.forEach(f => {
        //     const index = newList.findIndex(
        //       q => parseInt(q.id, 10) === parseInt(f, 10)
        //     )
        //     newList[index] = {}
        //     if (index > -1) {
        //       findDisplay.push(
        //         '<span class="qua-hightlight">' +
        //           e.buildQualificationsList[index].qualificationName +
        //           '</span>' //找到所有筛选的资质
        //       )
        //       //  newList.splice(index, 1)不用slice保证数组长度
        //     }
        //   })
        //   const otherList = newList.filter(n => {
        //     return n.qualificationName
        //   }) // 避免显示混乱 重新取一个数组
        //   const display =
        //     findDisplay.length > 3
        //       ? findDisplay.slice(0, 3).join('、')
        //       : findDisplay.join('、') // 取前五个
        //   const text =
        //     findDisplay.length > 3
        //       ? ''
        //       : otherList
        //           .slice(0, 3 - findDisplay.length)
        //           .map(q => {
        //             return q.qualificationName
        //           })
        //           .join('、')
        //   const tooltipText = otherList
        //     .map(q => {
        //       return q.qualificationName
        //     })
        //     .join('、') // 悬浮窗也要高亮
        //   e.buildQualificationsListText =
        //     display + (tooltipText ? '、' + tooltipText : '')
        //   e.buildQualificationsText =
        //     e.buildQualificationsListLocal.length > 3
        //       ? `${display}${text ? '、' + text : ''}
        //       <span class=" text-tipBlue"> 等
        //       ${e.buildQualificationsListLocal.length}
        //         项</span>`
        //       : `${display}${text ? '、' + text : ''}`
        // }

        // else {
        // 施工

        const text = e.buildQualificationsListLocal
          .slice(0, 3)
          .map(q => {
            return q.qualificationName
          })
          .join('、')

        e.buildQualificationsText =
          e.buildQualificationsListLocal.length > 3
            ? `${text}
                  <span class=" text-tipBlue cursor-pointer">
                  等${e.buildQualificationsListLocal.length}项</span>`
            : text
        // 设计
        const designText = e.designQualificationsListLocal
          .slice(0, 3)
          .map(q => {
            return q.qualificationName
          })
          .join('、')
        e.designQualificationsText =
          e.designQualificationsListLocal.length > 3
            ? `${designText}
                  <span class=" text-tipBlue  cursor-pointer">
                  等${e.designQualificationsListLocal.length}项</span>`
            : designText
        // }
        if (e.phoneList && e.phoneList.length) {
          if (e.haveReceive) {
            e.phoneNumDisplay = e.phoneList.map(c => {
              return this.confirmEnding(c, '*') ? c + '(数据验证中)' : c
            })
          } else {
            e.phoneNumDisplay = e.phoneList.join('、')
          }
          //  : '***********'
        } else {
          e.phoneNumDisplay = '暂无联系方式'
        }

        // e.contactInformationListText = e.contactInformationList.join('、')
        e.receiveCount = e.receiveCount || 0
        e.dealCount = e.dealCount || 0
        // e.haveReceive
        e.checked = false
      })
      this.tableData = res.data
      // console.log(this.tableData)
      const totalLength = res.totalSize.toString().length
      const totalNum = Math.pow(10, totalLength - 1)
      const tipText = Math.floor(res.totalSize / totalNum) // 去除零头
      this.tipText = res.totalSize > 1000 ? tipText * totalNum : res.totalSize
      this.total = res.totalSize
      this.dataLoading = false
      this.$nextTick(() => {
        hide(this.total, this.pageNum)
      })
      this.isNeedShowWatchBtn()
    },
    isNeedShowWatchBtn() {
      const receiveLength = this.tableData.filter(e => {
        return e.haveReceive
      }).length
      this.showWatchBtn = receiveLength !== this.tableData.length
    },
    goToVipPage() {
      if (!this.isElectron) {
        window.open("http://www.xnjx666.com/vip")
      } else {
        if (window.ipcRenderer) {
          window.ipcRenderer.send('openBrower')
        }
        // this.$router.push({
        //   name: 'vip',
        //   query: {
        //     fromUrl: this.$route.name
        //   }
        // })
      }
    },
    //判断结尾字符
    confirmEnding(str, target) {
      const start = str.length - target.length
      const arr = str.substr(start, target.length)
      if (arr === target) {
        return true
      }
      return false
    }
  },
  mounted() {
    const userAgent = navigator.userAgent.toLowerCase()
    if (userAgent.indexOf(' electron/') > -1) {
      // console.log('??')
      this.isElectron = true
      this.userId = localStorage.getItem('userId')
      // Electron-specific code
    } else {
      this.isElectron = false
      this.userId = Cookie.get('userId')
    }
    this.$nextTick(() => {
      this.$emit('goBackToTop')
    })
  }
}
</script>
<style lang="scss" scoped>
@import '../../utils/tableItemFree.scss';
</style>

<style lang="scss" scoped>
.shipment-page {
  .filter-btns {
    margin-top: 12px;
    padding: 6px 21px;
    border: solid 1px #f2f6f8;
    background-color: #f2f6f8;
    position: relative;
    .noRisk {
      border-color: #d2d6d9;
      // background-color: transparent;
      // border-color: #999999;
      color: #282828;
      // &:hover {
      //   border-color: #759fff;
      // }

      // &:focus {
      //   border-color: #759fff;
      // }
    }

    .haveRisk {
      border-color: #00ab94;
      // background-color: #00ab94;
      color: #00ab94;

      // &:hover {
      //   background-color: #759fff;
      //   border-color: #759fff;
      // }
    }

    .special-btn {
      color: #fff;
      background-color: #00bc87;
      position: absolute;
      right: 21px;

      &:hover {
        background-color: #00bc87;
        border-color: #00bc87;
      }
    }
  }

  .card-pagination {
    width: 100%;
    // text-align: right;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .fake-btn {
      margin-left: 8px;
    }
  }
}
</style>
