<template>
  <a-layout class="talents-layout">
    <a-layout-header class="talents-header">
      <root-header></root-header>
    </a-layout-header>
    <a-layout>
      <a-layout-sider class="talents-sider">
        <a-menu
          :defaultSelectedKeys="[menuIndex]"
          :open-keys.sync="openIndex"
          :selected-keys="[menuIndex]"
          mode="inline"
        >
          <template v-for="item in menus">
            <a-menu-item
              v-if="!item.children"
              :key="item.key"
              @click="gotoLink(item)"
            >
              <div class="menuItem">
                <!-- <img
                  :src="item.isSelect ? item.icon.select : item.icon.normal"
                  alt=""
                  class="iconImg"
                /> -->
                <a-icon style="font-size: 18px" :component="item.icon" />
                <!-- <sell-icon></sell-icon> -->
                <span>{{ item.label }}</span>
              </div>
            </a-menu-item>
            <a-sub-menu v-else :key="item.key">
              <span slot="title" class="menuItem">
                <!-- <img
                  :src="item.isSelect ? item.icon.select : item.icon.normal"
                  alt=""
                  class="iconImg"
                /> -->
                <a-icon :component="item.icon" />
                <span>
                  {{ item.label }}
                </span>
              </span>
              <a-menu-item
                v-for="d in item.children"
                :key="d.key"
                @click="gotoLink(d)"
              >
                {{ d.label }}
              </a-menu-item>
            </a-sub-menu>
          </template>
        </a-menu>
      </a-layout-sider>
      <a-layout-content id="layoutView">
        <div
          class="router-history fixed top-[80px] w-full left-[200px]
            min-w-[1000px]  flex  items-center px-[16px] h-[46px] bg-white"
        >
          <!-- {{ historyList }} -->
          <div
            @click="goToHistoryItem(item)"
            :class="{
              currentPgae: item.name === $route.name,
              'history-item': item.name !== $route.name
            }"
            class=" text-[12px] cursor-pointer flex-shrink-0 flex items-center
               text-sysPrimary mr-[8px] 
              bg-[#F2F6F8] px-[8px] py-[4px] rounded-[2px]"
            v-for="(item, key) in historyList"
            :key="key"
          >
            {{ item.title }}
            <a-icon
              @click.stop="removeThisItem(key)"
              class="close-icon ml-[8px]"
              type="close"
            />
          </div>
        </div>
        <router-view
          class="router-main"
          @changeMenuItem="changeMenuItem"
          @goBackToTop="goBackToTop"
        ></router-view>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
import rootHeader from '@/components/RootHeader.vue'
// import 'ant-design-vue/dist/antd.less'
// import '@/utils/talent.less'

import { Layout, Menu } from 'ant-design-vue'
import { shareholderModule } from '@/store/modules/shareholder'
import mySellSelect from '@/assets/image/shareholder/my_sell_select.png'
import mySellNormal from '@/assets/image/shareholder/my_sell.png'
import sellSelect from '@/assets/image/shareholder/sell_select.png'
import sellNormal from '@/assets/image/shareholder/sell.png'
import buySelect from '@/assets/image/shareholder/buy_select.png'
import buyNormal from '@/assets/image/shareholder/buy.png'
import myBuySelect from '@/assets/image/shareholder/my_buy_select.png'
import myBuyNormal from '@/assets/image/shareholder/my_buy.png'
import sellIcon from '@/components/icons/sellIcon.vue'
import buyIcon from '@/components/icons/buyIcon.vue'
import mySellIcon from '@/components/icons/mysellIcon.vue'
import myBuyIcon from '@/components/icons/mybuyIcon.vue'
export default {
  name: 'talents-layout',
  components: {
    rootHeader,
    aLayout: Layout,
    aMenu: Menu,
    aMenuItem: Menu.Item,
    aSubMenu: Menu.SubMenu,
    aLayoutHeader: Layout.Header,
    aLayoutContent: Layout.Content,
    aLayoutSider: Layout.Sider
    // sellIcon
  },
  computed: {
    historyList() {
      const list = localStorage.getItem('shareholderHistory')
        ? JSON.parse(localStorage.getItem('shareholderHistory'))
        : []
      return shareholderModule.historyList.legnth
        ? shareholderModule.historyList
        : list
    }
  },
  data() {
    return {
      // sellIcon,
      menus: [
        {
          key: 1,
          label: '出货信息',
          routerName: 'sell',
          isSelect: false,
          icon: sellIcon
          // {
          //   select: sellSelect,
          //   normal: sellNormal
          // }
        },
        {
          key: 2,
          label: '收货信息',
          routerName: 'buy',
          isSelect: false,
          icon: buyIcon

          // icon: { normal: buyNormal, select: buySelect }
        },
        {
          key: 3,
          label: '我的出售',
          routerName: 'mySell',
          isSelect: false,
          icon: mySellIcon
          // icon: {
          //   normal: mySellNormal,
          //   select: mySellSelect
          // }
        },
        {
          key: 4,
          label: '我的求购',
          routerName: 'myBuying',
          isSelect: false,
          icon: myBuyIcon
          // icon: { normal: myBuyNormal, select: myBuySelect }
        }
      ],
      menuIndex: '',
      menuItems: {},
      openIndex: []
    }
  },
  methods: {
    goBackToTop() {
      this.$nextTick(() => {
        const appDom = document.getElementById('layoutView')
        //   document.body.scrollTop == 0 ? document.documentElement : document.body
        appDom.scrollTop = 0
      })
    },
    changeMenuItem(item) {
      // console.log(item)
      this.menuItems =
        this.menus.find(e => {
          return e.routerName === item.routerName
        }) || item
      this.getOpenKey(this.menus, this.menuItems)
    },
    gotoLink(item) {
      // this.menuIndex = item.key
      this.getOpenKey(this.menus, item)
      if (item.routerName === this.$route.name) {
        return
      }
      const history = { name: item.routerName, title: item.label }
      shareholderModule.changeShareholderHistoryListItem(history)
      this.$router.push({
        name: item.routerName
      })
    },
    getItem(menu) {
      menu.forEach(item => {
        if (
          item.routerName === this.$route.name ||
          item.routerName === this.$route.meta.belong
        ) {
          this.menuItems = item
        }
        if (item.children) {
          this.getItem(item.children)
        }
      })
    },
    getOpenKey(menu, item) {
      // console.log(menu, item)
      // console.log(this.$route)

      if (item.routerName === 'excellentShare') {
        const find = menu.findIndex(e => {
          return e.routerName === 'mySell'
        })

        this.menuIndex = menu[find].key
        this.openIndex = [menu[find].key]
      } else if (item.routerName === 'editBuyingInfo') {
        const find = menu.findIndex(e => {
          return e.routerName === 'myBuying'
        })

        this.menuIndex = menu[find].key
        this.openIndex = [menu[find].key]
      } else {
        this.menuIndex = item.key
        menu.forEach(i => {
          if (item.key === i.key) {
            this.openIndex = [i.key]
          }
          if (i.children) {
            i.children.forEach(d => {
              if (item.key === d.key) {
                this.openIndex = [i.key]
              }
            })
          }
        })
        // console.log(this.menuIndex)
      }
      this.getIcon(this.openIndex)
    },
    getIcon(index) {
      // console.log(index)
      this.menus.forEach(e => {
        if (index.includes(e.key)) {
          e.isSelect = true
        } else {
          e.isSelect = false
        }
      })
      // if (index[0] === 1) {
      //   this.menus[0].icon = personnelIcon
      //   this.menus[1].icon = customerIcon
      // } else if (index[0] === 2) {
      //   this.menus[0].icon = personnelNormal
      //   this.menus[1].icon = customerSelect
      // }
    },
    goToHistoryItem(item) {
      if (item.name === this.$route.name) {
        return
      }

      let menuItem = ''
      const find = this.menus.find(e => {
        return e.routerName === item.name
      })
      menuItem = find
      if (!menuItem) {
        this.menus.forEach(e => {
          if (e.children) {
            const find = e.children.find(e => {
              return e.routerName === item.name
            })
            if (find) {
              menuItem = find
            }
          }
        })
      }
      if (!menuItem) {
        this.$router.push({
          name: item.name,
          query: item.query
        })
      } else {
        this.$nextTick(() => {
          this.gotoLink(menuItem)
          // this.$refs.xiaoniuMenu.changeMenuItemSelect(item.name)
        })
      }
    },
    removeThisItem(key) {
      shareholderModule.removeShareholderTab(key)
    }
  },

  mounted() {
    this.$nextTick(() => {
      this.getItem(this.menus)
      // console.log('menu ite,', this.menuItems)
      this.menuItems.routerName = this.$route.name
      this.getOpenKey(this.menus, this.menuItems)
    })
  }
}
</script>
//
<style lang="less">
// @import '~ant-design-vue/dist/antd.less';
// @import '../../utils/talent.less';
//
</style>
<style lang="scss" scoped>
@media screen and (max-width: 1200px) {
  .router-history {
    left: 0 !important;
    padding-left: 216px !important;
  }
  .layout-content {
    min-height: calc(100vh - 96px) !important;
  }
}

.router-history {
  z-index: 988;
  box-shadow: 0px 10px 20px 0px rgba(166, 166, 166, 0.1);
}
.currentPgae {
  color: #fff;
  background-color: #00ab94;
  .close-icon {
    color: #fff;
  }
}
.ant-menu {
  height: 100%;
}
.ant-layout {
  background-color: #f4fbff;
}
</style>
<style lang="scss" scoped>
.menuItem {
  display: flex;
  align-items: center;

  .iconImg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}

.router-history {
  box-shadow: 0px 10px 20px 0px rgba(166, 166, 166, 0.1);
}
.router-main {
  padding-top: 62px !important;
}
.talents-layout {
  background-color: #f4fbff;
  width: 100vw;
  height: 100vh;
}

.talents-header {
  background-color: #1890ff;
  padding: 0 30px;
  line-height: 0;
  height: 80px;
}

.talents-sider {
  background-color: #fff;
  padding-top: 24px;
  z-index: 989;
}
</style>
