<template>
  <div class="intermediary-page" ref="showBox">
    <div class="filter-box">
      <div class="tips">
        <p>说明:</p>
        <p v-for="(item, index) in instructions" :key="index + 'r'">
          {{ index + 1 }}.{{ item.info }}
        </p>
      </div>
      <div class="filter-list" id="intermediaryFilter">
        <div class="filter-item">
          <div class="label-title">时间范围：</div>
          <a-select
            size="default"
            :getPopupContainer="getPopupContainer"
            style="width: 306px"
            v-model="filterOptions.monthNum"
          >
            <a-select-option
              v-for="item in timeRangeList"
              :key="item.value + 'sss'"
              :value="item.value"
              >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div class="filter-item">
          <div class="label-title">地区：</div>
          <a-tree-select
            :getPopupContainer="getPopupContainer"
            placeholder="请选择地区"
            allow-clear
            id="areaTree"
            treeCheckable
            :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
            v-model="filterOptions.codeList"
            style="width: 306px"
            aria-readonly
            :filterTreeNode="notFilter"
            allowClear
            :tree-data="codeData"
            tree-checkable
            :show-checked-strategy="SHOW_PARENT"
          />
          <!--       <a-select
                            mode="multiple"
                            size="default"
                            style="width: 306px"
                            v-model="filterOptions.codeList"
                            @change="handleChange"
                    >
                        <a-select-option
                                v-for="item in codeData"
                                :key="item.value+'ww'"
                                :value="item.value"
                        >{{ item.label }}
                        </a-select-option>
                    </a-select>-->
        </div>
        <div class="filter-item">
          <div class="label-title">资质级别：</div>
          <a-select
            size="default"
            :getPopupContainer="getPopupContainer"
            style="width: 306px"
            v-model="filterOptions.category"
            @change="handleChangeQualifications"
          >
            <a-select-option
              v-for="item in qualificationsList"
              :key="item.value + 'ef'"
              :value="item.value"
              >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div class="operate-btns">
          <a-button class="btns rt" @click="getClientList" type="primary">
            查询
          </a-button>
          <a-button class="btns" @click="renewFilter">重置</a-button>
        </div>
      </div>
    </div>
    <div class="main">
      <div v-if="hideNotFind" class="table-content">
        <div class="table-left">
          <div id="myHomeChart" ref="homeEcharts"></div>
          <div class="explainText">
            <p style="color: rgba(51, 51, 51, 0.65);font-size: 13px;">
              点击柱状或者资质类别名称可以切换查看详细情况
            </p>
            <div style="font-size: 15px;margin: 30px 0 ;">
              为您找到<span style="color:#3398DB;">
                {{ qualificationNum }} </span
              >个<span style="color:#3398DB;">
                {{ qualificationDesignation }}
              </span>
            </div>
          </div>

          <!--        <a-table
                    bordered
                    :pagination="false"
                    :columns="qualificationsColumns"
                    rowKey="index"
                    :data-source="qualificationsData"
                  >
                    <template slot="customTitle">{{ qualificationCategory }}</template>
                    <template slot="operate" slot-scope="item">
                      <a @click="viewDetails(item)">查看</a>
                    </template>
                  </a-table>-->
        </div>
        <div class="table-right" id="tableRight" ref="heightBox">
          <a-table
            bordered
            :pagination="false"
            :columns="Columns"
            rowKey="index"
            :data-source="detailsListData"
          >
            <template slot="companyName" slot-scope="text">
              <a @click="companyNameSearch(text)" style="color:#4d7cfe">{{
                text
              }}</a>
            </template>
          </a-table>

          <div class="page" v-if="totalSize > 10">
            <a-pagination
              v-model="detailsData.pageNum"
              class="pagination"
              :defaultPageSize="detailsData.pageSize"
              :total="totalSize"
              :item-render="itemRender"
              @change="onChange"
            />
          </div>
          <!--          <div class="btn" v-if="show">-->
          <!--            <a-button-->
          <!--                style="margin-right: 15px;"-->
          <!--                :disabled="prevDisabled"-->
          <!--                @click="prevData"-->
          <!--            >上一页</a-button-->
          <!--            >-->
          <!--            <a-button :disabled="nextDisabled" @click="nextData">下一页</a-button>-->
          <!--          </div>-->
        </div>
      </div>
      <div v-if="showNotFind">
        <img style="width: 100%;height: 100%;" :src="notFind" alt="" />
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./Index.ts"></script>

<style lang="scss" scoped>
.btn {
  height: 50px;
  float: right;
  margin-top: 15px;
}
.intermediary-page {
  position: relative;

  .filter-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 16px 25px;

    .tips {
      padding: 15px;
      font-size: 13px;
      background-color: #fbfbfb;
      margin-bottom: 15px !important;
      p {
        line-height: 28px;
        margin: 0;
        color: rgba(51, 51, 51, 0.65);
      }
    }

    .filter-title {
      font-size: 16px;
      color: #909399;
    }

    .filter-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .filter-item {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 16px;

        .label-title {
          text-align: left;
          font-size: 14px;
          color: #666666;
        }

        .filter-input {
          width: 306px;
        }

        .filter-btn {
          width: 86px;
          height: 36px;
          line-height: 36px;
        }

        .isSelect {
          background-color: rgba($color: #3b68e7, $alpha: 0.1);
          color: #3b68e7;
          border-color: #3b68e7;
        }

        .have-margin {
          margin-right: 24px;
        }
      }
    }

    .operate-btns {
      margin-top: 24px;
      margin-bottom: 16px;

      .btns {
        height: 40px;
        width: 126px;
        font-size: 16px;
        line-height: 40px;
      }

      .rt {
        margin-right: 24px;
      }
    }
  }

  .main {
    width: 100%;
    background-color: #ffffff;
    margin-top: 24px;
    padding: 0 24px 60px 24px;
    .table-content {
      //width: 100%;
      //background-color: #ffffff;
      //padding: 24px 24px 60px 24px;
      //display: flex;
      //justify-content: space-between;
      border-radius: 4px;

      .table-left {
        width: 35%;
        #myHomeChart {
          width: 1100px;
          height: 600px;
        }
        .explainText {
          margin-left: 50px;
          width: 100%;
        }
      }
      .table-right {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-right: 50px;
        .page {
          margin-top: 25px;
          height: 100px;

          .pagination {
            float: right;
          }
        }
      }

      .rt {
        margin-right: 24px;
      }
    }
  }

  .select-status {
    width: 100%;
  }
}
</style>
