<template>
  <div class="advice-page">
    <div class="page-btns">
      <div class="left">
        <a-button class="btn" @click="removeAllSleclt" type="default"
          >删除</a-button
        >
      </div>
      <div class="right">
        <a-button class="btn" @click="refreshList" type="default"
          >刷新</a-button
        >
      </div>
    </div>
    <a-table
      class="page-table"
      :columns="columns"
      rowKey="id"
      :data-source="tableData"
      :loading="loading"
      :pagination="pagination"
      @change="changePageNum"
      :row-selection="{
        selectedRowKeys: selectedRowKeys,
        onChange: onSelectChange
      }"
    >
      <template slot="state" slot-scope="text, record">
        <editable-cell
          :displayText="record.state"
          :text="text"
          @change="e => onCellChange(e, record)"
        />
      </template>
      <template slot="download" slot-scope="text, item">
        <a
          @click="previewOrDownloadFile(link)"
          class="file-item"
          v-for="(link, index) in item.downloadFiles"
          :key="index"
        >
          <a-icon :type="link.icon" />
          {{ link.title }}
        </a>
      </template>
    </a-table>
  </div>
</template>

<script lang="ts" src="./Advice.ts"></script>

<style lang="scss" scoped>
.advice-page {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  .status-tag {
    width: 55px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 13;
    border-radius: 4px;
    margin: 0;
  }
  .file-item {
    display: block;
    margin-top: 5px;
  }
  .notSet {
    background-color: rgba($color: #fa8f00, $alpha: 0.1);
    color: #fa8f00;
  }
  .haveSet {
    color: #67c23a;
    background-color: rgba($color: #67c23a, $alpha: 0.1);
  }
  .undo {
    color: #4d7cfe;
    background-color: rgba($color: #4d7cfe, $alpha: 0.1);
  }
  .page-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    .lf-btn {
      margin-right: 24px;
    }
    .btn {
      width: 102px;
    }
  }
}
</style>
