<template>
  <div>
    <a-table
      class="page-table"
      :columns="columns"
      rowKey="id"
      :pagination="false"
      :data-source="tableData"
    >
      <template slot="state" slot-scope="item, record">
        <a-switch
          :checked="record.state"
          @change="e => handleItemSwitch(e, record)"
        ></a-switch>
      </template>
      <template slot="presentState" slot-scope="item, record">
        <span>{{ record.state ? '已发布' : '待发布' }}</span>
      </template>
      <template slot="operate" slot-scope="item">
        <div class="operate">
          <operate :btns="btns" :info="item"></operate>
        </div>
      </template>
    </a-table>
    <a-drawer
      title="编辑广告"
      placement="right"
      :closable="false"
      width="800px"
      :visible="editVisible"
      :destroyOnClose="true"
      @close="editOnClose"
    >
      <a-form-model
        class="form-model"
        ref="editForm"
        :model="editFormModel"
        :rules="ruleCustom"
        :label-col="{ span: 4 }"
        :wrapper-col="{ offset: 5 }"
      >
        <a-form-model-item label="广告名称" class="form-item">
          <a-input
            :disabled="true"
            v-model="editFormModel.advertisementName"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item label="广告位置" class="form-item">
          <a-select :disabled="true" v-model="editFormModel.advertisementType">
            <a-select-option
              v-for="(item, index) in advLocation"
              :key="index"
              :value="item.value"
            >
              {{ item.text }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item class="form-item" label="广告图片" prop="url">
          <div class="clearfix">
            <a-upload
              list-type="picture-card"
              :file-list="fileList"
              :withCredentials="true"
              accept=".png, .jpg"
              :showUploadList="{ showPreviewIcon: false, showRemoveIcon: true }"
              @change="selectFile"
              :before-upload="beforeUpload"
              :remove="removeFile"
            >
              <div v-if="fileList.length < 1">
                <a-icon type="plus" />
                <div class="ant-upload-text">
                  上传图片...
                </div>
              </div>
            </a-upload>
          </div>
          <p class="tips">
            支持格式:JPG/PNG，单个文件不能超过10MB
            <br />{{ tipsText }}
          </p>
        </a-form-model-item>
        <a-form-model-item class="form-item" label="状 态 ">
          <a-radio-group v-model="editFormModel.state">
            <a-radio :value="true">是</a-radio>
            <a-radio :value="false">否</a-radio>
          </a-radio-group>
        </a-form-model-item>
        <a-form-model-item class="form-item" label="适用省份">
          <a-select
            v-model="editFormModel.applicableArea"
            placeholder="请选择适用的省份,不填为全国"
            mode="multiple"
          >
            <a-select-option
              v-for="(item, index) in areaOptions"
              :key="index"
              :value="item.label"
              :label="item.label"
              optionFilterProp="label"
            >
              {{ item.label }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item class="form-item" label="适用版本">
          <a-select
            v-model="editFormModel.applicableVersion"
            placeholder="请选择适用的版本,不填为全版本通用"
            mode="multiple"
          >
            <a-select-option
              v-for="(item, index) in versionOption"
              :key="index"
              :value="item.value"
              :label="item.label"
              optionFilterProp="label"
            >
              {{ item.label }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item class="form-item">
          <a-button type="primary" @click="editSubmit()">
            保存
          </a-button>
        </a-form-model-item>
      </a-form-model>
    </a-drawer>
    <a-drawer
      title="广告详情"
      placement="right"
      width="800px"
      :closable="false"
      :visible="detailsVisible"
      :destroyOnClose="true"
      @close="detailsOnClose"
    >
      <a-form-model
        class="form-model"
        ref="feedbackForm"
        :model="formModel"
        :label-col="{ span: 4 }"
        :wrapper-col="{ offset: 5 }"
      >
        <a-form-model-item label="广告名称" class="form-item">
          <a-input
            :disabled="true"
            v-model="formModel.advertisementName"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item
          label="广告位置"
          class="form-item"
          prop="advertisementType"
        >
          <a-select :disabled="true" v-model="formModel.advertisementType">
            <a-select-option
              v-for="(item, index) in advLocation"
              :key="index"
              :value="item.value"
            >
              {{ item.text }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item class="form-item" label="广告图片">
          <div class="clearfix">
            <img style="width: 80px;" :src="formModel.url" alt="" />
            <!--            <a-upload-->
            <!--                list-type="picture-card"-->
            <!--                :file-list="fileList"-->
            <!--                accept=".png, .jpg"-->
            <!--                :showUploadList="{ showPreviewIcon: false, showRemoveIcon: false }"-->
            <!--            >-->
            <!--            </a-upload>-->
          </div>
        </a-form-model-item>
        <a-form-model-item class="form-item" label="适用省份">
          {{ formModel.applicableArea }}
        </a-form-model-item>
        <a-form-model-item class="form-item" label="适用版本">
          {{ formModel.applicableVersion }}
        </a-form-model-item>
        <a-form-model-item class="form-item" label="状 态 ">
          <a-radio-group v-model="formModel.state">
            <a-radio :disabled="true" :value="true">是</a-radio>
            <a-radio :disabled="true" :value="false">否</a-radio>
          </a-radio-group>
        </a-form-model-item>
        <a-form-model-item class="form-item">
          <a-button type="primary" @click="detailsSubmit()">
            关闭
          </a-button>
        </a-form-model-item>
      </a-form-model>
    </a-drawer>
  </div>
</template>

<script>
import {
  Select,
  Upload,
  Table,
  Switch,
  Drawer,
  FormModel,
  Input,
  Radio,
  Modal,
  Icon
} from 'ant-design-vue'
import Operate from '@/components/Operate.vue'
import { areaJSON } from '@/utils/area'

export default {
  name: 'AdvManage',
  components: {
    aModal: Modal,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aTextarea: Input.TextArea,
    aInput: Input,
    aRadioGroup: Radio.Group,
    aRadio: Radio,
    aTable: Table,
    aDrawer: Drawer,
    aSwitch: Switch,
    aUpload: Upload,
    aSelect: Select,
    aSelectOption: Select.Option,
    aIcon: Icon,
    Operate
  },

  data() {
    const validateHomepagePic = (rule, value, callback) => {
      // console.log('this.files.length', this.files.length)
      if (this.files.length < 1) {
        // console.log('this.formModel.url',this.formModel.url)
        // console.log('this.fileList.length',this.fileList.length)
        const urlLength = this.fileList.length
        // this.formModel.url.substr(this.formModel.url.lastIndexOf('com/') + "com/".length)
        if (urlLength) {
          callback()
        } else {
          callback(new Error('请上传广告图片'))
        }
      } else {
        callback()
      }
    }
    return {
      btns: [
        {
          label: '详情',
          type: 'primary',
          click: this.details.bind(this)
        },
        {
          label: '编辑',
          click: this.editItem.bind(this)
        }
      ],
      columns: [
        { title: '序号', dataIndex: 'index', width: '70px' },
        { title: '广告名称', dataIndex: 'advertisementName', width: '120px' },
        { title: '广告位置', dataIndex: 'advertisementType', width: '180px' },
        {
          title: '当前状态',
          scopedSlots: { customRender: 'presentState' },
          width: '120px'
        },
        { title: '更新人', dataIndex: 'userName', width: '100px' },
        { title: '更新时间', dataIndex: 'updateTime', width: '150px' },
        {
          title: '是否启用',
          dataIndex: 'state',
          scopedSlots: { customRender: 'state' },
          width: '150px'
        },
        {
          title: '操作',
          scopedSlots: { customRender: 'operate' }
        }
      ],
      advLocationMap: new Map([
        ['LOGIN_PAGE_ONE', '登录页banner1'],
        ['LOGIN_PAGE_TWO', '登录页banner2'],
        ['LOGIN_PAGE_THREE', '登录页banner3'],
        ['HOME_PAGE_ONE', '首页弹窗1'],
        ['HOME_PAGE_TWO', '首页弹窗2']
      ]),
      advLocation: [
        { value: 'LOGIN_PAGE_ONE', text: '登录页banner1' },
        {
          value: 'LOGIN_PAGE_TWO',
          text: '登录页banner2'
        },
        { value: 'LOGIN_PAGE_THREE', text: '登录页banner3' },
        {
          value: 'HOME_PAGE_ONE',
          text: '首页弹窗1'
        },
        { value: 'HOME_PAGE_TWO', text: '首页弹窗2' }
      ],
      versionOption: [
        { value: 'V_FREE_TEMP', label: '体验版' },
        { value: 'V_PERSONAL_VIP', label: 'VIP个人版' },
        { value: 'V_ENTERPRISE_VIP', label: 'VIP企业版' },
        { value: 'V_TEAM_VIP', label: 'VIP集团版' }
      ],
      areaOptions: [],
      tableData: [],
      editVisible: false,
      detailsVisible: false,
      uploadList: [],
      files: [],
      fileList: [],
      editFormModel: {
        id: null,
        url: '',
        state: null,
        advertisementType: '',
        advertisementName: '',
        applicableArea: undefined,
        applicableVersion: undefined
      },
      formModel: {
        id: null,
        url: '',
        state: null,
        advertisementType: '',
        advertisementName: '',
        applicableArea: undefined,
        applicableVersion: undefined
      },
      previewVisible: false,
      ruleCustom: {
        url: [
          { validator: validateHomepagePic, required: true, trigger: 'blur' }
        ]
      },
      uploadUrl: '',
      tipsText: '登录页轮播建议尺寸501*576'
    }
  },
  methods: {
    listData() {
      this.$httpRequester
        .post('advertisement/list', { advertisementType: null })
        .then(res => {
          res.forEach((item, index) => {
            item.index = index + 1
            item.advertisementType = this.advLocationMap.get(
              item.advertisementType
            )
            item.updateTime = this.$moment(item.updateTime).format('yyyy-MM-DD')
          })
          this.tableData = res
        })
    },
    //状态按钮
    handleItemSwitch(switchValue, record) {
      this.$httpRequester
        .get('advertisement/release', { advertisementId: record.id })
        .then(() => {
          record.state = switchValue
          this.$message.success('操作成功')
          this.listData()
        })
    },
    details(item) {
      this.detailsVisible = true
      this.$httpRequester
        .get('advertisement/getOne', { advertisementId: item.id })
        .then(res => {
          // console.log(res)
          this.formModel.advertisementType = res.advertisementType
          this.formModel.url = res.url
          this.formModel.id = res.id
          this.formModel.state = res.state
          this.formModel.advertisementName = res.advertisementName
          this.formModel.applicableArea = res.applicableArea || '全国'
          if (res.applicableVersion) {
            const version = res.applicableVersion.split(',')
            const text = []
            version.forEach(e => {
              // console.log(e)
              const find = this.versionOption.find(v => {
                return v.value === e
              })
              if (find) {
                text.push(find.label)
              }
            })
            this.formModel.applicableVersion = text.join(',')
          } else {
            this.formModel.applicableVersion = '全版本'
          }
          this.fileList = res.url
            ? res.url.split(',').map((e, i) => {
                return {
                  uid: i,
                  name: 'image.png',
                  status: 'done',
                  isHaveUpload: true,
                  url: e
                }
              })
            : []
        })
    },
    editItem(item) {
      this.editVisible = true
      if (
        item.advertisementType === '首页弹窗1' ||
        item.advertisementType === '首页弹窗2'
      ) {
        this.tipsText = '首页弹窗建议尺寸833*799'
      } else {
        this.tipsText = '登录页轮播建议尺寸501*576'
      }
      this.$httpRequester
        .get('advertisement/getOne', { advertisementId: item.id })
        .then(res => {
          this.editFormModel.advertisementType = res.advertisementType
          this.editFormModel.url = res.url
          this.editFormModel.id = res.id
          this.editFormModel.state = res.state
          this.editFormModel.advertisementName = res.advertisementName
          this.editFormModel.applicableArea = res.applicableArea
            ? res.applicableArea.split(',')
            : undefined

          this.editFormModel.applicableVersion = res.applicableVersion
            ? res.applicableVersion.split(',')
            : undefined
          this.fileList = res.url
            ? res.url.split(',').map((e, i) => {
                return {
                  uid: i,
                  name: 'image.png',
                  status: 'done',
                  isHaveUpload: true,
                  url: e
                }
              })
            : []
        })
    },
    editOnClose() {
      this.editVisible = false
    },
    editSubmit() {
      this.$refs.editForm.validate(val => {
        if (val) {
          this.editSubmitFile()
        } else {
          return false
        }
      })
    },

    detailsSubmit() {
      // this.formModel.url = this.formModel.url.substr(this.formModel.url.lastIndexOf('com/') + "com/".length)
      // console.log('111',this.formModel.url)
      // this.$httpRequester.put('advertisement', this.formModel).then(() => {
      this.detailsOnClose()
      //   this.$message.success('保存成功')
      //   this.listData()
      // })
    },
    detailsOnClose() {
      this.detailsVisible = false
    },

    removeFile(file) {
      const index = this.files.findIndex(f => f.uid === file.uid)
      // console.log(index)
      const newFileList = this.files.slice()
      newFileList.splice(index, 1)
      this.files = newFileList
      // console.log('删除之后', this.files)
    },
    beforeUpload(file) {
      this.files = [...this.files, file]
      return false
    },
    selectFile(item) {
      const size = item.file.size
      const MB = 1024 * 1024
      if (size / MB > 10) {
        this.$message.warning('文件过大!')
        return
      }
      this.fileList = item.fileList
      if (this.fileList < 1) {
        return
      }
      const file = item.file
      const formdata = new FormData()
      formdata.append('file', file)
      this.$httpRequester.post('cloud/upload/public', formdata).then(r => {
        this.editFormModel.url = r
      })
    },
    editSubmitFile() {
      if (this.editFormModel.url.substring(0, 10) === 'http://plb') {
        this.editFormModel.url = this.editFormModel.url.substr(
          this.editFormModel.url.lastIndexOf('com/') + 'com/'.length
        )
      }
      const params = {
        ...this.editFormModel
      }
      params.applicableArea = this.editFormModel.applicableArea
        ? this.editFormModel.applicableArea.join(',')
        : ''
      params.applicableVersion = this.editFormModel.applicableVersion
        ? this.editFormModel.applicableVersion.join(',')
        : ''
      this.$httpRequester.put('advertisement', params).then(() => {
        this.editOnClose()
        this.$message.success('修改成功')
        this.listData()
      })
    },
    getAreaCityOptions() {
      const r = areaJSON
      // this.$httpRequester.get('regionCode/selList').then(r => {
      this.areaOptions = r.map(e => {
        return {
          label: e.areaName,
          value: e.areaCode
        }
      })
      // })
    }
  },
  mounted() {
    this.uploadUrl = apiUrl + 'cloud/upload/public'
    this.listData()
    this.getAreaCityOptions()
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  width: 400px;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-upload-list-item-actions {
  a {
    i {
      display: none;
    }
  }
}
</style>
