<template>
  <div class="announcement-page">
    <div class="page-btns">
      <a-button class="lf-btn btn" @click="addEditDrawer" type="primary"
        >添加公告
      </a-button>
      <a-button class="btn" @click="removeAllSeleclt" type="default"
        >删除</a-button
      >
      <!--                <a-button class="btn" @click="refreshList" type="default"-->
      <!--                >刷新-->
      <!--                </a-button-->
      <!--                >-->
    </div>
    <div class="table-content no-padding">
      <div v-if="showLoading" class="loading">
        <a-spin tip="正在下载..."></a-spin>
      </div>
      <a-table
        @change="changePageNum"
        :columns="columns"
        :row-selection="{
          selectedRowKeys: selectedRowKeys,
          onChange: onSelectChange
        }"
        :pagination="pagination"
        rowKey="noticeId"
        :data-source="tableData"
      >
        <template slot="download" slot-scope="text, item">
          <a
            @click="previewOrDownloadFile(link)"
            class="file-item"
            v-for="(link, index) in item.downloadFiles"
            :key="index"
          >
            <a-icon :type="link.icon" />
            {{ link.title }}
          </a>
        </template>
        <template slot="detail" slot-scope="text">
          <div class="mini-content" v-html="text"></div>
        </template>
        <template slot="statusText" slot-scope="text, item">
          <p
            class="status-tag"
            :class="{
              notSet: item.statusCode === '10',
              haveSet: item.statusCode === '11',
              undo: item.statusCode === '12'
            }"
          >
            {{ text }}
          </p>
        </template>
        <template slot="operate" slot-scope="item">
          <div class="operate">
            <operate :btns="item.btns" :info="item"></operate>
          </div>
        </template>
      </a-table>
    </div>
    <a-drawer
      class="form-drawer"
      width="560"
      :destroyOnClose="true"
      :title="drawTitle"
      :visible="drawDisplay"
      :get-container="false"
      @close="closeDrawer"
    >
      <a-form-model
        :model="formModal"
        ref="announcementForm"
        :label-col="{ span: 4 }"
        :wrapper-col="{ offset: 5 }"
      >
        <a-form-model-item
          :rules="{
            required: true,
            message: '请选择公告类型',
            trigger: 'blur'
          }"
          label="类型:"
        >
          <a-select
            :disabled="editDisabled"
            @change="noticeTypeChange"
            v-model="isNoticeType"
            placeholder="请选择公告类型"
          >
            <a-select-option
              v-for="(item, index) in noticeOption"
              :key="index"
              :value="item.value"
              :title="item.label"
              >{{ item.label }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <component
          :is="addComponent"
          :detailsData="detailsData"
          :isEdit="isEdit"
          @beforeSubmit="beforeSubmit"
          :noticeText="noticeText"
        ></component>
      </a-form-model>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./Announcement.ts"></script>

<style lang="scss" scoped>
.announcement-page {
  width: 100%;
  // padding: 24px;
  box-sizing: border-box;

  .table-content {
    position: relative;
    text-align: center;

    .loading {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.2);
      //padding-top: 30%;
    }

    .mini-content {
      height: 40px;
      width: 140px;
      overflow: hidden;
    }
  }

  .no-padding {
    padding: 0 !important;
  }

  .status-tag {
    width: 55px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    margin: 0;
  }

  .notSet {
    background-color: rgba($color: #fa8f00, $alpha: 0.1);
    color: #fa8f00;
  }

  .haveSet {
    color: #67c23a;
    background-color: rgba($color: #67c23a, $alpha: 0.1);
  }

  .undo {
    color: #4d7cfe;
    background-color: rgba($color: #4d7cfe, $alpha: 0.1);
  }

  .page-btns {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .lf-btn {
      margin-right: 24px;
    }

    .btn {
      width: 102px;
    }
  }

  .form-drawer {
    position: relative;

    .bottom-btns {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
      height: 50px;
      display: flex;
      box-sizing: border-box;
      padding-right: 24px;
      align-items: center;
      justify-content: flex-end;

      .lf-btn {
        margin-right: 16px;
      }
    }
  }

  .file-item {
    display: block;
    margin-top: 5px;
  }
}
</style>
