<template>
  <div id="certificationPage" class="certification-page">
    <div class="add-btn have-bottom-margin ">
      <a-button type="primary" class="have-rt-margin" @click="goToAddPlatform"
        >添加平台自营</a-button
      >
      <a-button @click="onlyPlatform">只看平台自营</a-button>
    </div>
    <div class="filter">
      <div class="filter-item have-rt-margin">
        <div class="title">企业名称：</div>
        <div class="filter-input">
          <a-input placeholder="请输入公司名称" v-model="companyName" />
        </div>
      </div>
      <div class="filter-item have-rt-margin">
        <div class="title">标签：</div>
        <div class="filter-short">
          <a-select
            :allowClear="true"
            placeholder="请选择认证状态"
            v-model="channel"
            class="select"
          >
            <a-option
              v-for="item in channelOptions"
              :value="item.value"
              :key="item.value"
              >{{ item.label }}</a-option
            >
          </a-select>
        </div>
      </div>
      <div class="filter-item have-rt-margin">
        <div class="title">资质状态：</div>
        <div class="filter-short">
          <a-select
            :allowClear="true"
            placeholder="请选择认证状态"
            v-model="quelificationStatus"
            class="select"
          >
            <a-option
              v-for="item in quaStatusOptions"
              :value="item.value"
              :key="item.value"
              >{{ item.label }}</a-option
            >
          </a-select>
        </div>
      </div>
      <div class="filter-item have-rt-margin">
        <div class="title">认证状态：</div>
        <div class="filter-short">
          <a-select
            :allowClear="true"
            placeholder="请选择认证状态"
            v-model="status"
            class="select"
          >
            <a-option
              v-for="item in statusOptions"
              :value="item.value"
              :key="item.value"
              >{{ item.label }}</a-option
            >
          </a-select>
        </div>
      </div>
      <div class="filter-item have-rt-margin">
        <div class="title">提交时间：</div>
        <div class="filter-input">
          <a-date-picker v-model="subTime"></a-date-picker>
        </div>
      </div>
      <div class="operate-btns">
        <a-button @click="clickFindBtn" class="have-rt-margin">查询</a-button>
        <a-button @click="resetFilter" type="danger">重置</a-button>
      </div>
    </div>
    <a-table
      @change="tableChange"
      rowKey="id"
      :pagination="pagination"
      :columns="columns"
      :data-source="tableData"
    >
      <template slot="status" slot-scope="item">
        <div v-if="item.status === 0" class="yellow-status status-slot">
          {{ item.statusText }}
        </div>
        <div v-if="item.status === 1" class="green-status status-slot">
          {{ item.statusText }}
        </div>
        <div
          v-if="item.status === 2 || item.status === 3"
          class="red-status status-slot"
        >
          {{ item.statusText }}
        </div>
      </template>
      <template slot="qualificationList" slot-scope="list">
        <div>
          <div v-for="(item, key) in list" :key="key">{{ item }}</div>
        </div>
      </template>
      <template slot="imageList" slot-scope="list">
        <div v-for="(item, key) in list" :key="key">
          <img
            :src="item"
            width="60"
            style=" cursor: pointer;margin-bottom: 10px"
            title="点击查看大图"
            @click="showImagePreview(item)"
          />
        </div>
      </template>
      <template slot="operate" slot-scope="item">
        <operate-column
          v-if="item.channel !== 0"
          :btns="btns"
          :info="item"
        ></operate-column>
        <div v-else>---</div>
      </template>
    </a-table>
    <!-- <a-draw
      width="900px"
      title="审核企业认证"
      placement="right"
      :visible="drawShow"
      :getContainer="getContainer"
      @close="closeDraw"
    >
      <certification-detail :id="detailId"></certification-detail>
    </a-draw> -->
  </div>
</template>

<script>
import { Table, Select, Input, DatePicker, Drawer, Modal } from 'ant-design-vue'
import operateColumn from '@/components/Operate'
import formType from '@/components/Form/formType'
import formIndex from '@/components/Form/index.vue'
import imagePreview from '@/components/ImagePreview'
import { universalModule } from '@/store/modules/universal'
// import certificationDetail from '@/views/QR/Shared/Detail.vue'

export default {
  name: 'certification',
  components: {
    aTable: Table,
    operateColumn,
    aDraw: Drawer,
    aModal: Modal,
    aInput: Input,
    aDatePicker: DatePicker,
    aSelect: Select,
    aOption: Select.Option,
    formIndex,
    imagePreview
  },
  computed: {
    pagination() {
      return {
        showTotal: total => {
          return `共${total}条`
        },
        total: this.total,
        current: this.pageNum,
        pageSize: this.pageSize,
        onChange: this.pageChange
      }
    },
    areaOptions() {
      return universalModule.areaOptions
    }
  },
  data() {
    return {
      detailId: '',
      showRefuse: false,
      detail: {},
      channelText: ['快速发布', '小牛优选', '平台自营'],
      drawShow: false,
      btns: [
        { label: '详情', type: 'link', click: this.showDetail.bind(this) }
        // {
        //   label: '通过',
        //   type: 'primary',
        //   // icon: 'edit',
        //   click: this.passCertification.bind(this),
        // },
        // {
        //   label: '拒绝',
        //   type: 'danger',
        //   // icon: 'edit',
        //   click: this.confirmRefuse.bind(this),
        // },
      ],
      columns: [
        { title: '标签', dataIndex: 'channelText', width: 100 },
        { title: '企业名称', dataIndex: 'enterpriseName', width: 100 },
        { title: '注册地', dataIndex: 'area', width: 100 },
        { title: '资质状态', dataIndex: 'qualificationsSatusText', width: 70 },
        // {
        //   title: '资质证书',
        //   dataIndex: 'imageList',
        //   scopedSlots: { customRender: 'imageList' },
        // },
        // {
        //   title: '社会统一信用代码',
        //   width: 150,
        //   dataIndex: 'socialCreditCodeText',
        // },
        // { title: '营业执照', dataIndex: '' },
        // { title: '法定代表人姓名', width: 150, dataIndex: 'legalPerson' },
        // { title: '身份证正面', dataIndex: '' },
        {
          title: '资质类别及等级',
          dataIndex: 'qualificationList',
          scopedSlots: { customRender: 'qualificationList' }
        },
        {
          title: '提交时间',
          dataIndex: 'createTime',
          width: 120,
          sorter: (a, b) => {
            const ATime = new Date(a.createTime).getTime()
            const BTime = new Date(b.createTime).getTime()
            return ATime - BTime
          },
          sortDirections: ['ascend']
        },
        {
          title: '审核状态',
          // dataIndex: 'status',
          width: 100,
          scopedSlots: {
            customRender: 'status'
          }
        },
        { title: '备注原因', dataIndex: 'remarks', width: 100 },
        { title: '审核用户', dataIndex: 'memberName', width: 90 },
        { title: '审核时间', dataIndex: 'auditTime', width: 120 },
        {
          title: '操作',
          dataIndex: '',
          width: 100,
          scopedSlots: { customRender: 'operate' }
        }
      ],
      tableData: [],
      total: 0,
      pageSize: 10,
      pageNum: 1,
      status: '',
      channel: '',
      quelificationStatus: '',
      channelOptions: [
        { label: '全部', value: '' },
        { label: '快速发布', value: 0 },
        { label: '小牛优选', value: 1 },
        { label: '平台自营', value: 2 }
      ],
      quaStatusOptions: [
        { label: '全部', value: '' },
        { label: '现货', value: 0 },
        { label: '预售', value: 1 }
      ],
      statusOptions: [
        { label: '全部', value: '' },
        { label: '等待审核', value: 0 },
        { label: '认证失败', value: 2 },
        { label: '认证成功', value: 1 }
      ],
      companyName: '',
      subTime: '',
      remarks: '',
      formItems: [
        {
          type: formType.TEXTAREA,
          value: '',
          label: '备注原因',
          name: 'remarks',
          placeholder: '请填写审核不通过原因',
          validate: [
            {
              required: true,
              trigger: 'blur',
              message: '请填写审核不通过的原因'
            }
          ]
        }
      ],
      priviewUrl: '',
      showPriview: false
    }
  },
  methods: {
    showDetail(row) {
      this.$router.push({
        name: 'certificationDetail',
        query: {
          id: row.id,
          isCertification: '1',
          from: this.$route.name,
          cePage: this.pageNum
        }
      })
    },
    goToAddPlatform() {
      this.$router.push({
        name: 'paltformShare',
        query: {
          channel: '2',
          from: this.$route.name
        }
      })
    },
    onlyPlatform() {
      this.channel = 2
      this.pageSize = 10
      this.pageNum = 1
      this.getCertificationList()
    },

    clickFindBtn() {
      this.pageNum = 1
      this.getCertificationList()
    },
    pageChange(pageNum) {
      this.pageNum = pageNum
      this.getCertificationList()
    },
    tableChange(pagination) {
      console.log(pagination)
    },

    getContainer() {
      return document.getElementById('certificationPage')
    },

    // goToCheckOutEnterprise(item) {
    //   // onsole.log(item)
    //   this.detail = item
    //   this.drawShow = true
    // },
    getCertificationList() {
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        status: this.status,
        channel: this.channel,
        quelificationStatus: this.quelificationStatus,
        companyName: this.companyName || undefined,
        submissionTime: this.subTime
          ? this.$moment(this.subTime).format('yyyy-MM-DD')
          : undefined
      }
      const statusText = ['审核中', '成功', '失败', '失败']
      const qualificationsSatusText = ['现货', '预售']

      this.$httpRequester.post('authen/query', params).then(r => {
        r.data.forEach(e => {
          // e.socialCreditCodeText = e.socialCreditCode || '---'
          const find = this.areaOptions.find(a => {
            return a.value === e.areaCode
          })
          e.channelText = this.channelText[e.channel]
          e.qualificationList = e.itemsInfoList
            ? e.itemsInfoList.map(info => {
                return info.authenItemName
              })
            : []
          if (find) {
            e.area = find.label
          }
          e.imageList = e.itemsImageUrlList
            ? e.itemsImageUrlList.map(image => {
                return image.upLoadImageUrl
              })
            : []
          e.statusText = statusText[e.status]
          e.qualificationsSatusText =
            qualificationsSatusText[e.quelificationStatus]
          e.createTime = this.$moment(e.createTime).format('yyyy-MM-DD')
        })
        this.tableData = r.data
        this.total = r.totalSize
      })
    },
    resetFilter() {
      this.status = ''
      this.channel = ''
      this.quelificationStatus = ''
      this.companyName = ''
      this.subTime = ''
      this.pageNum = 1
      this.getCertificationList()
      // console.log(this.status)
    },
    async getPageNum() {
      this.pageNum = this.$route.query.cePage
        ? parseInt(this.$route.query.cePage)
        : 1
    }
  },
  async mounted() {
    await this.getPageNum()
    await universalModule.setAreaOptions()
    this.getCertificationList()
  }
}
</script>

<style lang="scss" scoped>
.certification-page {
  // padding: 24px;
  .filter {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    .filter-item {
      display: flex;
      align-items: center;
      .filter-input {
        width: 140px;
      }
      .filter-short {
        width: 95px;
        .select {
          width: 100%;
        }
      }
    }
  }
  .status-slot {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 55px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
  }
  .yellow-status {
    color: #ff8800;
  }
  .green-status {
    color: #4ebf56;
  }
  .red-status {
    color: #dc0000;
  }
}
</style>
