<template>
  <div class="company-count">
    <div class="userCenter-title">
      <p class="isActive">次数使用情况</p>
    </div>
    <div class="setting-count-page">
      <div class="filter-content have-bottom-margin">
        <div class="filter-item">
          <div class="filter-title">管理员账号：</div>
          <a-input
            v-model="userAccount"
            placeholder="请输入查询的管理员账号"
            class="filter"
          />
        </div>
        <div class="filter-item">
          <div class="filter-title">公司名称：</div>
          <a-input
            v-model="companyName"
            placeholder="请输入查询的公司名称"
            class="filter"
          />
        </div>
        <div class="filter-item">
          <a-button
            @click="findListByFilter"
            type="primary"
            class="have-rt-margin"
            >查询</a-button
          >
          <a-button @click="resetFilter" type="danger">重置</a-button>
        </div>
      </div>
      <div class="count-btns">
        <a-button
          @click="editCompanyCount"
          class="have-rt-margin"
          type="primary"
          >编辑次数</a-button
        >
        <a-button @click="editAllCompany">全局设置</a-button>
      </div>
      <div class="count-table">
        <a-table
          rowKey="id"
          :columns="columns"
          :row-selection="rowSelection"
          :pagination="pagination"
          :dataSource="tableData"
        >
          <template slot="operate" slot-scope="item">
            <operate-column :btns="countBtns" :info="item"></operate-column>
          </template>
        </a-table>
      </div>
      <a-modal
        @ok="confrimEdit"
        @cancel="closeEditModal"
        title="编辑查看次数"
        :visible="editShow"
      >
        <a-form-model
          :model="formValue"
          :labelCol="{ span: 7 }"
          :wrapperCol="{ span: 17 }"
        >
          <a-form-model-item
            v-for="(item, key) in formItem"
            :key="key"
            :label="item.label"
            :prop="item.prop"
          >
            <a-input
              v-model="formValue[item.prop]"
              placeholder="请输入数字，-1表示不限制次数"
            />
          </a-form-model-item>
        </a-form-model>
      </a-modal>
    </div>
  </div>
</template>

<script>
import { Input, Table, Modal, FormModel } from 'ant-design-vue'
import operateColumn from '@/components/Operate'

export default {
  name: 'company-count',
  components: {
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aTable: Table,
    aInput: Input,
    aModal: Modal,
    operateColumn
  },
  computed: {
    countBtns() {
      return [
        { label: '编辑', type: 'link', click: this.setRowToList.bind(this) }
      ]
    },
    rowSelection() {
      return {
        selectedRowKeys: this.selectedRowKeys,
        onChange: this.tableRowSelect
      }
    },
    pagination() {
      return {
        showTotal(total) {
          return `共${total}条`
        },
        showSizeChanger: false,
        pageSize: this.pageSize,
        total: this.total,
        current: this.pageNum,
        onChange: this.tableChange
      }
    }
  },
  data() {
    return {
      formItem: [
        { label: '收货/出货查看次数', prop: 'receiveClueCount' },

        { label: '出售发布次数：', prop: 'sharedAddCount' },
        { label: '出售查看次数', prop: 'sharedCheckCount' },
        { label: '求购发布次数：', prop: 'buyAddCount' },
        { label: '求购查看次数：', prop: 'buyCheckCount' }
      ],
      formValue: {
        sharedAddCount: '',
        sharedCheckCount: '',
        buyAddCount: '',
        buyCheckCount: ''
      },
      selectedRowKeys: [],
      pageSize: 10,
      pageNum: 1,
      total: 0,
      tableData: [],
      columns: [
        // { title: '序号', dataIndex: 'id' },
        { title: '公司名称', dataIndex: 'companyName' },
        { title: '公司管理员', dataIndex: 'memberName', width: 110 },
        { title: '账号(电话号码)', dataIndex: 'userAccount', width: 140 },
        {
          title: '收货/出货查看次数',
          dataIndex: 'receiveClueCount',
          width: 70
        },
        // { title: '查看次数', dataIndex: 'receiveClueCount' },
        {
          title: '出售发布次数',
          dataIndex: 'sharedAddCount'
        },
        { title: '出售查看次数', dataIndex: 'sharedCheckCount' },
        { title: '求购发布次数', dataIndex: 'buyAddCount' },
        { title: '求购查看次数', dataIndex: 'buyCheckCount' },
        {
          title: '操作',
          width: 100,
          dataIndex: '',
          scopedSlots: { customRender: 'operate' }
        }
      ],
      userAccount: '',
      companyName: '',
      selectList: [],
      editShow: false,
      isAll: false
    }
  },
  methods: {
    findListByFilter() {
      this.pageSize = 10
      this.pageNum = 1
      this.getCountList()
    },
    confrimEdit() {
      const params = {
        companyIds: this.isAll
          ? []
          : this.selectList.map(e => {
              return e.id
            }),
        ...this.formValue
      }
      //  console.log(this.formValue)
      this.$httpRequester.put('free/count/updateCount', params).then(() => {
        this.$message.success('操作成功')
        this.closeEditModal()
        this.getCountList()
      })
    },
    tableChange(num, size) {
      this.pageNum = num
      this.pageSize = size
      this.getCountList()
    },
    setRowToList(row) {
      this.selectList.push(row)
      this.editCompanyCount()
    },
    closeEditModal() {
      this.editShow = false
      this.formValue = {
        sharedAddCount: '',
        sharedCheckCount: '',
        buyAddCount: '',
        buyCheckCount: ''
      }
      this.isAll = false
      this.selectedRowKeys = []
      this.selectList = []
    },
    editAllCompany() {
      this.isAll = true
      this.editShow = true
    },
    editCompanyCount() {
      if (!this.selectList.length) {
        this.$message.warning('请先选择需要编辑的数据')
        return
      }
      this.editShow = true
    },
    tableRowSelect(key, list) {
      this.selectedRowKeys = key
      this.selectList = list
    },
    resetFilter() {
      this.userAccount = ''
      this.companyName = ''
    },
    getCountList() {
      const params = {
        companyName: this.companyName,
        userAccount: this.userAccount,
        pageNum: this.pageNum,
        pageSize: this.pageSize
      }
      this.$httpRequester.post('free/count/selList', params).then(res => {
        this.tableData = res.data
        this.total = res.totalSize
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getCountList()
    })
  }
}
</script>

<style lang="scss" scoped>
.company-count {
  .setting-count-page {
    background-color: #ffffff;
    padding: 18px;
  }
  .filter-content {
    width: 100%;
    display: flex;
    .filter-item {
      display: flex;
      align-items: center;
      width: 300px;
      flex-shrink: 0;
    }
    .filter-title {
      font-size: 13px;
      color: #666666;
    }
    .filter {
      width: 200px;
    }
  }
  .count-table {
    margin-top: 18px;
  }
}
</style>
