<template>
  <div class="departmentPage" ref="departmentPage">
    <div class="page-btns">
        <a-button class="lf-btn btn" @click="showAddDrawer" type="primary"
          >
          <img :src="plusIcon" alt="小牛建讯">
          添加部门
        </a-button>
        <a-button class="btn defaultBtnHover" @click="removeAllSelect"
          >删除
        </a-button>
        <a-button class="btn defaultBtnHover" @click="refreshList">刷新</a-button>
    </div>
    <div class="table-search">
      <div class="label">部门名称：</div>
      <a-input
        class="search-input"
        v-model="searchParams.departmentName"
        placeholder="部门名称"
      />
      <div class="label">所属公司：</div>
      <a-input
        class="search-input"
        v-model="searchParams.companyName"
        placeholder="所属公司"
      />
      <div class="label">创建时间：</div>
      <div>
        <a-range-picker
          :disabledDate="disabledDate"
          v-model="createDateRange"
          @change="onChange"
        />
      </div>

      <div class="seachBtn">
        <a-button class="have-rt-margin" type="primary" @click="searchInfo"
          >查询
        </a-button>
        <a-button @click="reset">重置</a-button>
      </div>
    </div>
    <a-table
      class="page-table"
      ref="pageTable"
      bordered
      :columns="columns"
      :row-key="data => data.id"
      :row-selection="rowSelection"
      :data-source="tableData"
      :pagination="pagination"
    >
      <!--            <a-table-column key="enable" title="enable" data-index="enable">-->
      <!--                <template slot-scope="enable">-->
      <!--                    <a-switch :defaultChecked="enable" @change="onChange"/>-->
      <!--                </template>-->
      <!--            </a-table-column>-->
      <template slot="enableSwitch" slot-scope="item, record">
        <a-switch
          :checked="record.enable"
          @change="e => handleItemSwitch(e, record)"
        ></a-switch>
      </template>

      <template slot="operate" slot-scope="item">
        <div class="operate">
          <operate :btns="btns" :info="item"></operate>
        </div>
      </template>
    </a-table>
    <a-drawer
      class="form-drawer"
      width="800"
      ref="drawer"
      :destroyOnClose="true"
      :title="drawTitle"
      :visible="drawDisplay"
      @close="onClose"
      :get-container="false"
    >
      <a-form-model
        ref="departmentFormModel"
        id="departmentFormModel"
        layout="horizontal"
        :rules="rules"
        class="form-model"
        :model="departmentInfo"
      >
        <a-form-model-item label="所属公司：" prop="companyName">
          <a-select
            showSearch
            v-model="departmentInfo.companyName"
            :defaultValue="departmentInfo.companyName"
            style="width: 480px"
            optionFilterProp="label"
            :disabled="!companyCanSelect"
            placeholder="请选择所属公司"
            @change="handleCompanyChange"
          >
            <a-select-option
              v-for="d in companyListData"
              :key="d.id"
              :value="d.id"
              :label="d.companyName"
              >{{ d.companyName }}</a-select-option
            >
          </a-select>

          <!--  <a-select
                  show-search
                  option-filter-prop="children"
                  :filter-option="filterOption"
                  :getPopupContainer="getFormNode"
          >
            <a-select-option v-for="d in companyListData" :key="d.id">
              {{d}}
            </a-select-option>
          </a-select>-->
        </a-form-model-item>
        <a-form-model-item label="部门名称：" prop="departmentName">
          <a-input
            class="form-input"
            style="width: 480px"
            v-model="departmentInfo.departmentName"
            placeholder="请输入部门名称"
          />
        </a-form-model-item>
        <a-form-model-item label="是否启用：" prop="enable">
          <a-radio-group v-model="departmentInfo.enable">
            <a-radio :value="true">是</a-radio>
            <a-radio defaultChecked :value="false">否</a-radio>
          </a-radio-group>
        </a-form-model-item>
        <!--        <a-form-model-item label="是否启用：" prop="enable">-->
        <!--          <a-radio-group v-model="departmentInfo.enable">-->
        <!--            <a-radio  :value="true">是</a-radio>-->
        <!--            <a-radio :value="false">否</a-radio>-->
        <!--          </a-radio-group>-->
        <!--        </a-form-model-item>-->
      </a-form-model>
      <div class="bottom-btn">
        <a-button type="primary"  class="sub-btn" @click="submitDepartmentInfo"
          >提交</a-button
        >
        <a-button type="default" class="close-btn" @click="onClose"
        >取消</a-button
        >
      </div>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./Department.ts"></script>

<style lang="scss" scoped>
::v-deep .ant-table-thead > tr > th {
  padding: 0 0  0 16px;
  height: 46px;
  text-align: left;
  background-color: #F2F6F8;
  //border: none;
}
::v-deep .ant-table-tbody>tr>td{
  padding: 0 16px;
  height: 46px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}
.departmentPage {
  position: relative;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  .seachBtn{
    display: flex;
    .have-rt-margin{
      margin-left: 24px;
    }
  }

  .status-tag {
    width: 55px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    margin: 0;
  }

  .notSet {
    background-color: rgba($color: #fa8f00, $alpha: 0.1);
    color: #fa8f00;
  }

  .haveSet {
    color: #67c23a;
    background-color: rgba($color: #67c23a, $alpha: 0.1);
  }

  .undo {
    color: #4d7cfe;
    background-color: rgba($color: #4d7cfe, $alpha: 0.1);
  }
  .page-btns {
    position: absolute;
    right: 0;
    top: -64px;
    display: flex;
    align-items: center;
    .lf-btn{
      display: flex;
      align-items: center;
      img{
        margin-right: 5px;
      }
    }
    .btn {
      margin-left: 16px;
    }
  }
}

.table-search {
  display: flex;
  align-items: center;
  .label{
    width: 80px
  }

  .search-input {
    width: 150px;
    margin-right: 15px;
    margin-left: 10px;
  }
}

.form-drawer {
  position: relative;

  .bottom-btn {
    background-color: #FFFFFF;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .close-btn {
      margin-right: 16px;
    }
    .sub-btn {
      margin-right: 16px;

    }
  }
}

.form-model {
  width: 100%;

  .form-input {
    width: 400px;
  }
}
</style>
