<template>
  <div class="download-setting">
    <div class="userCenter-title">
      <p class="isActive">系统配置</p>
    </div>
    <div class="setting-form">
      <div class="setting-item">
        <div class="setting-title-one setting-item-title ">配置名称</div>
        <div class="input setting-item-title">配置信息</div>
        <div class="operate setting-item-title">操作</div>
      </div>
      <div class="setting-item" v-for="(item, key) in settingList" :key="key">
        <div class="setting-title">{{ item.remarks }}</div>
        <div class="input"  v-if="item.item!=='ES_QUERY_INDEX_NAME_SUFFIX'">
          <a-input v-model="item.info" :type="item.type" :rows="4" />
        </div>
        <div class="input"  v-if="item.item==='ES_QUERY_INDEX_NAME_SUFFIX'">
          <a-select
              v-model="item.info"
              class="filter-input"
          >
            <a-select-option
                v-for="(item,index) in esList"
                :key="index+'jjj'"
                :value="item.index"
            >表名-{{ item.index }},数据量-{{item.docs_count}}
            </a-select-option>
          </a-select>
        </div>
        <div class="operate">
          <a-button type="primary" @click="submit(item)">提交</a-button>
        </div>
      </div>
      <!-- <div class="setting-item">
        <div class="setting-title">win7下载地址</div>
        <div class="input"><a-input /></div>
        <div class="operate"><a-button type="primary">提交</a-button></div>
      </div> -->
    </div>
  </div>
</template>

<script>
import { Input,Select } from 'ant-design-vue'
export default {
  name: 'download-setting',
  components: {
    aInput: Input,
    aSelect:Select,
    aSelectOption:Select.Option
  },
  data() {
    return {
      settingList: [],
      esList:[]
    }
  },
  methods: {
    getSysDownload() {
      this.$httpRequester.get('sys/config/queryAll').then(res => {
        this.settingList =(res || []).map(e => {
          if (e.item!=='ES_QUERY_INDEX_NAME_SUFFIX'){
            return {
              ...e,
              type: e.item === 'APP_UPDATE_CONTENT' ? 'textarea' : 'text'
            }
          }else {
            this.$httpRequester.get('sys/config/query/es/index').then(res=>{
              this.esList=res
            })
            return {
              ...e,
              type: null
            }
          }


        })
      })
    },
    submit(item) {
      const params = {
        item: item.item,
        id: item.id,
        value: item.info
      }
      this.$httpRequester.get('sys/config/save', params)
    }
  },
  mounted() {
    this.getSysDownload()
  }
}
</script>

<style lang="scss" scoped>
.download-setting {
  padding: 24px;
  height: 500px;
  background-color: #ffffff;
  .setting-form {
    margin-top: 24px;
    .setting-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 20px;
      .setting-title-one{
        width: 200px;

      }

      .input {
        width: 70%;
        .filter-input{
          width: 100%;
        }
      }
      .setting-title {
        color: #282828;
        width: 200px;
        .setting-item-title{
          font-size: 14px;
          font-weight: 400;
          color: #686868;
          line-height: 20px;
        }
      }
      .operate {
        margin-left: 30px;
        width: 200px;
      }
    }
  }
}
</style>
