<template>
  <div class="EnterpriseFocusStatistics" ref="userPage">
    <div class="table-search">
      <div class="search-box">
        <div class="label">企业名称：</div>
        <a-input
          class="search-input"
          placeholder="企业名称"
          v-model="searchParams.companyName"
        />
        <div style="margin-left: 10px">
          <a-button class="have-rt-margin" type="primary" @click="searchInfo"
            >查询
          </a-button>
          <a-button @click="reset">重置</a-button>
        </div>
      </div>
    </div>
    <a-table
      class="page-table"
      ref="pageTable"
      :columns="columns"
      :data-source="tableData"
      :row-key="data => data.id"
      :pagination="pagination"
      @change="handleTableChange"
    >
      <template slot="operate" slot-scope="item">
        <div class="operate">
          <operate :btns="btns" :info="item"></operate>
        </div>
      </template>
    </a-table>
    <a-drawer
      class="form-drawer"
      width="660"
      ref="drawer"
      :destroyOnClose="true"
      title="关注详情"
      :visible="drawDisplay"
      @close="onClose"
      :get-container="false"
    >
      <div>
        {{ enterpriseNameDetails }}的关注统计: 共计{{ totalDataDetails }}条
      </div>
      <a-table
        class="page-table"
        ref="pageTable"
        :columns="columnsDetails"
        :data-source="tableDataDetails"
        :row-key="data => data.id"
        :pagination="paginationDetails"
        @change="handleTablePaginationDetails"
      >
      </a-table>
      <div class="bottom-btn">
        <a-button type="default" class="close-btn" @click="onClose"
          >关闭</a-button
        >
      </div>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./EnterpriseFocusStatistics.ts"></script>

<style lang="scss" scoped>
.EnterpriseFocusStatistics {
  padding: 24px;

  .table-search {
    display: flex;
    justify-content: space-between;

    .search-box {
      display: flex;

      .label {
        line-height: 34px;
      }

      .search-input {
        width: 150px;
        margin-right: 15px;
        margin-left: 10px;
      }
    }
  }

  .bottom-btn {
    width: 100%;
    position: absolute;
    left: 0;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .close-btn {
      margin-right: 16px;
    }

    .sub-btn {
    }
  }
}
</style>
