<template>
  <div class="setting-page">
    <div class="setting-title">设置</div>
    <div v-if="menuItems.length" class="setting-menus">
      <div
          v-for="(item, index) in menuItems"
          :key="index"
          :class="{ 'is-select': item.isSelect }"
          class="menu-item"
          @click="goToMenu(item)"
      >
        {{ item.title }}
      </div>
    </div>
    <div class="content">
      <router-view :key="$route.fullPath"></router-view>
    </div>
  </div>
</template>

<script lang="ts" src="./Index.ts"></script>

<style lang="scss" scoped>
.setting-page {
  width: 100%;
  background-color: #ffffff !important;
  padding: 24px;

  .setting-title {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    line-height: 22px;
  }

  .setting-menus {
    border-bottom: 1px solid #EFF3F6;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    //
    .menu-item {
      margin: 0 32px 0 0;
      color: #686868;
      font-size: 16px;
      cursor: pointer;
      padding-bottom: 16px;
      border-bottom: 3px solid transparent;
    }

    .is-select {
      color: #00AB94;
      border-bottom: 3px solid #00AB94;
    }
  }


  .content {
    width: 100%;
    flex: 1;
    background-color: #ffffff;
  }
}
</style>
