<template>
  <div class="bg-[#F2F6F8]">
    <div v-if="isNotpay">
      <div class="p-[24px] bg-white rounded-[4px]">
        <div class="w-[full] border-b-[1px] border-solid border-[#F2F6F8]">
          <div
            class="w-[fit-content] pb-[8px] text-[18px] text-sysPrimary
          border-b-[4px] border-solid border-sysPrimary"
          >
            会员信息
          </div>
        </div>
        <div class="mt-[24px]">
          <div
            class="mb-[16px] text-[14px]  flex items-center "
            v-for="(item, key) in basicInfo"
            :key="key"
          >
            <div class=" text-textLight mr-[8px]">{{ item.label }}</div>
            <div class=" text-textPrimary">{{ item.value }}</div>
          </div>
        </div>
        <a-button
          type="primary"
          class="mt-[8px] w-[88px] h-[32px]"
          @click="buyService"
        >
          {{
            userInfo.version === 'V_FREE_TEMP' ||
            userInfo.version === 'V_ACTIVITY_VIP'
              ? '购买服务'
              : '续费'
          }}
        </a-button>
      </div>

      <div class="mt-[16px] p-[24px] bg-white rounded-[4px]">
        <div class="w-[full] border-b-[1px] border-solid border-[#F2F6F8]">
          <div
            class="w-[fit-content] pb-[8px] text-[18px] text-sysPrimary
          border-b-[4px] border-solid border-sysPrimary"
          >
            历史订单
          </div>
        </div>
        <div>
          <div v-if="total">
            <div
              class="pb-[64px] pt-[40px] border-b-[1px] border-dashed border-[#A2A2A2]"
              v-for="(item, key) in tableData"
              :key="key"
            >
              <div>
                <span class="text-textLight">创建时间：</span>
                <span class="text-textPrimary mr-[40px] font-medium">
                  {{ item.createTime }}
                </span>
                <span class="text-textLight">订单编号：</span>
                <span class="text-textPrimary font-medium">
                  {{ item.orderNum }}
                </span>
              </div>
              <div
                class="mt-[12px] border-solid border-[#f2f6f8] border-r-[0px] border-[1px]"
              >
                <div class="flex items-center w-full">
                  <div
                    :style="td.width ? 'width:' + td.width : 'flex-grow:1'"
                    class="h-[46px] pl-[16px]  leading-[46px] text-[#68696d] text-[14px]  font-medium bg-bgLight"
                    v-for="(td, index) in colunms"
                    :key="index"
                  >
                    {{ td.title }}
                    <!-- <div>{{ item[td.props] }}</div> -->
                  </div>
                </div>
                <div class="flex items-center w-full">
                  <div
                    :style="td.width ? 'width:' + td.width : 'flex-grow:1'"
                    class="h-[46px] pl-[16px] leading-[46px] text-[#68696d]
                    border-r-[#f2f6f8] border-solid border-r-[1px] border-b-[1px]
                     text-[14px]"
                    v-for="(td, index) in colunms"
                    :key="index"
                    v-html="item[td.props]"
                  ></div>
                </div>
                <div class="h-[70px] leading-[70px] pl-[16px]">
                  <span class="text-textLight text-[16px]">订单金额：</span>
                  <span class="text-tipOrange text-[32px]">
                    ￥{{ item.amountPayable }}
                  </span>
                </div>
              </div>

              <div class="flex justify-between items-center mt-[16px]">
                <div class="text-textTip  text-[14px]">
                  提示：支付成功的订单工作人员会在一个工作日内开通，会员开通的实际有效日期请查看_个人中心_基本信息中的有效期，有疑问请联系服务电话：400-902-8966
                </div>
                <a-button
                  type="primary"
                  v-if="
                    item.orderStatus === 'PAYMENT_IN_PROGRESS' &&
                      item.payMode !== 'TRANSFER_ACCOUNTS'
                  "
                  @click="goToAliPay(item)"
                  class="w-[120px] h-[48px] leading-[48px]"
                >
                  立即支付
                </a-button>
              </div>
            </div>
            <div class="mt-[16px] text-right">
              <a-pagination
                v-model="pageNum"
                :pageSize="pageSize"
                :total="total"
                @change="changePageNum"
              ></a-pagination>
            </div>
          </div>
          <block-data
            v-else
            :imageSrc="notFind"
            :text="'暂无订单信息，请升级VIP享受更多服务'"
            :titleText="''"
          ></block-data>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="p-[24px] bg-white rounded-[4px]">
        <div class="w-[full] border-b-[1px] border-solid border-[#F2F6F8]">
          <div
            class="w-[fit-content] pb-[8px] text-[18px] text-sysPrimary
          border-b-[4px] border-solid border-sysPrimary"
          >
            小牛建讯产品服务
          </div>
        </div>
        <div class="mt-[24px]">
          <div class="mb-[16px] text-[14px]  flex items-center ">
            <div class="text-textLight mr-[8px] w-[70px]">公司名称：</div>
            <div class="text-textPrimary">{{ userInfo.companyName }}</div>
          </div>
          <div class="mb-[16px] text-[14px]  flex items-center ">
            <div class="text-textLight mr-[8px]  w-[70px]">联系人：</div>
            <div class="text-textPrimary">{{ userInfo.name }}</div>
          </div>
          <div class="mb-[16px] text-[14px]  flex items-center ">
            <div class="text-textLight mr-[8px]  w-[70px]">联系电话：</div>
            <div class="text-textPrimary">{{ userInfo.account }}</div>
          </div>
          <div class="mb-[16px] text-[14px] flex items-start ">
            <div class="text-textLight mr-[8px]  w-[70px]">版本：</div>
            <div class="flex">
              <div
                @click="selectThisVersion(key)"
                :class="{ 'select-version': versionIndex === key }"
                class="version-item 
                w-[240px] h-[173px] mr-[40px] cursor-pointer  rounded-[4px]
                flex flex-col items-center justify-center
                border-solid border-[#EBF9F7] border-[1px]"
                v-for="(item, key) in version"
                :key="key"
              >
                <div
                  :class="{
                    'text-tipOrange ': versionIndex === key,
                    'text-[#542200]': versionIndex !== key
                  }"
                  class="w-[240px] mb-[16px] h-[40px] leading-[40px]  text-center text-[18px] bg-cover "
                  :style="
                    versionIndex === key
                      ? 'background-image:url(' + bandWPng + ')'
                      : 'background-image:url(' + bandPng + ')'
                  "
                >
                  {{ item.title }}
                </div>
                <div
                  :class="{
                    'text-[#fff] ': versionIndex === key,
                    'text-tipOrange': versionIndex !== key
                  }"
                  class=" mb-[16px]"
                >
                  <span class="text-[14px]">￥</span>
                  <span class="text-[24px] mr-[4px]">{{ item.price }}</span>
                  <span class="text-[14px]">/年</span>
                </div>
                <div
                  :class="{
                    'text-[#fff]': versionIndex === key,
                    'text-[#542200]': versionIndex !== key
                  }"
                  class="text-[14px]"
                >
                  {{ item.remark }}
                </div>
              </div>
            </div>
          </div>
          <div
            class="ml-[70px] w-[800px] mt-[40px] rounded-[4px] 
            border-dotted border-[#A0A6AB] border-[1px] px-[24px] py-[32px]"
          >
            <div class="flex h-[32px] leading-[32px]">
              <div class=" text-textPrimary text-[18px]">
                订单金额:
              </div>
              <div class="text-tipOrange text-[32px] ">
                ￥{{ version[versionIndex].price }}.00
              </div>
            </div>
            <div class="flex items-center mt-[32px]">
              <div
                @click="selectBankPay"
                :class="{
                  'border-[#ededed] text-textPrimary': !isBank,
                  'border-sysPrimary paymodSelect text-white bg-sysPrimary': isBank
                }"
                class="p-[16px] text-center payMod cursor-pointer hover:border-sysPrimary
                rounded-[2px]  broder-solid border-[1px] w-[120px] h-[98px] mr-[40px]"
              >
                <img :src="isBank ? transW : trans" class="w-[32px] h-[32px]" />
                <div class="mt-[8px] text-[16px]">
                  对公转账
                </div>
              </div>
              <div
                @click="selectZhifubaoPay"
                :class="{
                  'border-[#ededed] text-textPrimary ': !isZhifubao,
                  'border-sysPrimary paymodSelect text-white bg-sysPrimary': isZhifubao
                }"
                class="p-[16px] rounded-[2px] payMod text-center cursor-pointer  hover:border-sysPrimary
                 broder-solid border-[1px] w-[120px] h-[98px] "
              >
                <img
                  :src="isZhifubao ? zhifubaoW : zhifubao"
                  class="w-[32px] h-[32px]"
                />
                <div class="mt-[8px] text-[16px]">支付宝</div>
              </div>
            </div>
            <hr class="my-[32px] border-dashed" color="#A2A2A2" />

            <div class="flex items-center relative" v-if="isBank">
              <img :src="bankPng" class="w-[140px] h-[103px] mr-[22px]" />
              <ul>
                <li class="flex items-center mb-[4px]">
                  <div class="w-[70px] text-textLight">开户名称：</div>
                  <div class="text-textPrimary">龙绚数据运营有限公司</div>
                </li>
                <li class="flex items-center mb-[4px]">
                  <div class="w-[70px] text-textLight">开户银行：</div>
                  <div class="text-textPrimary">
                    招商银行股份有限公司成都世纪城支行
                  </div>
                </li>
                <li class="flex items-center mb-[4px]">
                  <div class="w-[70px] text-textLight">账号：</div>
                  <div class="text-textPrimary">1289 1170 1910 501</div>
                </li>
                <li class="flex items-center mb-[4px]">
                  <div class="w-[70px] text-textLight">转账备注：</div>
                  <div class="text-tipOrange">小牛建讯注册账号</div>
                </li>
              </ul>
              <div
                @click="copyInfo"
                class=" cursor-pointer text-tipBlue absolute right-[0px] border-tipBlue border-solid border-[1px] 
                px-[8px] py-[2px] rounded-[2px]"
              >
                <a-icon
                  class="text-[17px] text-tipBlue"
                  :component="copyIcon"
                />
                复制转账信息
              </div>
            </div>
            <div v-if="isZhifubao"></div>
            <div class="text-[14px] text-textTip mt-[24px] flex items-start">
              <div>说明：</div>
              <div>
                1、充值成功后，一个工作日内开通<br />
                2、请保留支付凭证，联系客服开具发票，服务电话：400-902-8966
              </div>
            </div>
          </div>
          <div class="mt-[24px]">
            <a-button
              @click="confirmOrder"
              class="ml-[70px] px-[22px]"
              size="large"
              type="primary"
            >
              确定
            </a-button>
            <a-button
              @click="cancelPay"
              class="ml-[24px] px-[22px]"
              size="large"
              type="default"
            >
              取消
            </a-button>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="showAliPayModal"
      class="w-[100vw] h-[100vh] z-[1001] fixed top-0 left-0 bg-black bg-opacity-30"
    >
      <div
        class="w-[880px] h-[430px]  bg-white rounded-[4px] absolute left-0 right-0 top-0 bottom-0 m-auto"
      >
        <div
          class="flex h-[76px] leading-[76px] items-center
           border-b-[1px] border-[#EDEDED] border-solid
           justify-between px-[40px] text-textPrimary font-medium text-[20px]"
        >
          正在支付……
          <a-icon
            @click="closeModal"
            class="text-[24px] cursor-pointer text-textTip"
            :component="closeIcon"
          />
        </div>
        <div class="p-[40px] flex items-center">
          <img :src="mascot" class="w-[226px] h-[274px] mr-[80px]" />
          <div class="text-[16px]">
            <div class="mb-[60px]">
              <div class="mb-[16px] text-textPrimary">支付成功了</div>
              <div
                class=" cursor-pointer text-sysPrimary"
                @click="goBackOrderList"
              >
                立即查看订单详情>>
              </div>
            </div>
            <div>
              <div class=" text-textPrimary">如果支付失败了</div>
              <br />
              <div class=" text-tipOrange">请联系客服：400-903-8966>></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Icon, Pagination } from 'ant-design-vue'
import copyIcon from '@/components/icons/copy.vue'
import closeIcon from '@/components/icons/closeIcon.vue'
import { userModule } from '@/store/modules/user'
import BlockData from '@/components/BlockData.vue'
import notFind from '@/assets/image/no_data_block.png'
import bandPng from '@/assets/image/pay/band.png'
import bandWPng from '@/assets/image/pay/band_w.png'
import bankPng from '@/assets/image/pay/bank.png'
import zhifubao from '@/assets/image/pay/zhifubao.png'
import zhifubaoW from '@/assets/image/pay/zhifubao_w.png'
import trans from '@/assets/image/pay/trans.png'
import transW from '@/assets/image/pay/trans_w.png'
import mascot from '@/assets/image/pay/mascot.png'

export default {
  name: 'member-order',
  components: {
    BlockData,
    aPagination: Pagination,
    aIcon: Icon
  },
  data() {
    return {
      aliOrderId: '',
      checkInval: null,
      mascot,
      closeIcon,
      showAliPayModal: false,
      serviceStatus: false,
      copyIcon,
      bankPng,
      bandWPng,
      zhifubao,
      zhifubaoW,
      isBank: true,
      isZhifubao: false,
      trans,
      transW,
      bandPng,
      notFind,
      versionIndex: 0,
      isNotpay: true,
      memberCount: '',
      tableData: [],
      total: 0,
      pageSize: 10,
      pageNum: 1,
      colunms: [
        { props: 'version', title: '版本', width: '120px' },
        // { props: 'timeCount', title: '有效期', width: '104px' },
        { props: 'serviceDuration', title: '服务天数', width: '202px' },
        { props: 'payModeText', title: '支付方式', width: '131px' },
        { props: 'paymentAccount', title: '付款账号' },
        { props: 'payTime', title: '支付时间', width: '200px' },
        { props: 'orderInfo', title: '支付状态', width: '131px' }
      ],
      version: [
        {
          title: 'VIP团队版',
          price: '16800',
          enum: 'V_ENTERPRISE_VIP',
          remark: '最多可支持10个账号使用'
        },
        {
          title: 'VIP企业版',
          price: '25800',
          enum: 'V_ENTERPRISE_PLUS_VIP',
          remark: '最多可支持20个账号使用'
        },
        {
          title: 'VIP集团版',
          price: '35800',
          enum: 'V_TEAM_VIP',
          remark: '最多可支持100个账号使用'
        }
      ]
    }
  },
  computed: {
    userInfo() {
      return userModule
    },
    basicInfo() {
      const basic = [
        { label: '公司名称:', value: userModule.companyName },
        { label: '当前版本:', value: userModule.buyVersion },
        { label: '联系电话:', value: userModule.account },
        { label: '成员数量:', value: this.memberCount + '人' }
      ]

      return basic
    }
  },
  methods: {
    changePageNum(num) {
      this.pageNum = num
      this.getOrderList()
    },
    goToAliPay(item) {
      // console.log(item)
      this.checkInval = setInterval(() => {
        this.chekOrderStatus()
      }, 5000)
      this.showAliPayModal = true
      window.open(item.paymentPage)
    },
    closeModal() {
      this.showAliPayModal = false
      this.$message.warning('用户取消支付')
      this.isNotpay = true
      clearInterval(this.checkInval)
      this.getOrderList()
    },
    goBackOrderList() {
      this.showAliPayModal = false
      // this.$message.warning('支付成功')
      clearInterval(this.checkInval)
      this.isNotpay = true
      this.getOrderList()
    },
    copyInfo() {
      copyThisText(
        '龙绚数据运营有限公司，招商银行股份有限公司成都世纪城支行，1289 1170 1910 501，小牛建讯注册账号'
      )
      this.$message.success('转账信息已复制到粘贴板')
    },
    selectBankPay() {
      this.isBank = true
      this.isZhifubao = false
    },
    selectZhifubaoPay() {
      this.isBank = false
      this.isZhifubao = true
    },
    selectThisVersion(key) {
      this.versionIndex = key
    },
    cancelPay() {
      this.isNotpay = true
    },
    confirmOrder() {
      const params = {
        jumpAddress: 'longna/userCenter/memberOrder',
        orderService: this.version[this.versionIndex].enum,
        payMode: this.isBank ? 'TRANSFER_ACCOUNTS' : 'ALIPAY'
      }
      this.$httpRequester.get('order/createOrder', params).then(res => {
        if (this.isBank) {
          this.$message.success('您的订单已创建成功，请立即支付')
          this.isNotpay = true
          this.getOrderList()
        } else {
          this.aliOrderId = res.orderNum
          this.delayCloseModal()
          this.checkInval = setInterval(() => {
            this.chekOrderStatus()
          }, 5000)
          this.showAliPayModal = true
          window.open(res.msg)
        }
      })
    },
    delayCloseModal() {
      setTimeout(() => {
        this.showAliPayModal = false
      }, 30000)
    },
    // 检查订单状态
    chekOrderStatus() {
      this.$httpRequester
        .get('order/checkOrderStatus', { orderNum: this.aliOrderId })
        .then(res => {
          if (res === 'PAYMENT_SUCCESSFUL') {
            this.$message.success('交易成功')
            //  this.goBackOrderList()
            clearInterval(this.checkInval)
          }
        })
        .catch(() => {
          clearInterval(this.checkInval)

          // this.goBackOrderList()
        })
    },
    // 营销埋点
    buyService() {
      // console.log(this.userInfo.version)
      const params = {
        companyVersionTypeEnum: this.userInfo.buyVersion,
        orderChannelEnum:
          this.userInfo.version === 'V_FREE_TEMP' ||
          this.userInfo.version === 'V_ACTIVITY_VIP'
            ? 'TO_BUY'
            : 'RENEW'
      }
      this.$httpRequester.post('order/point/add', params).then(() => {
        this.isNotpay = false
      })
    },
    getMemberInfo() {
      this.$httpRequester.get('order/getMemberInfo').then(res => {
        this.memberCount = res.memberCount
        this.serviceStatus = res.serviceStatus
      })
    },
    getOrderList() {
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize
      }
      this.$httpRequester.get('order/getOrderList', params).then(res => {
        this.tableData = res.data
        this.total = res.totalSize

        this.tableData.forEach(e => {
          e.version = e.orderService.slice(4, e.orderService.length)
          e.serviceDuration = e.serviceDays + '天'
          // e.duration =
          //   e.timeStart === '-'
          //     ? '-'
          //     : this.$moment(e.timeStart).format('yyyy-MM-DD') +
          //       '至' +
          //       this.$moment(e.timeEnd).format('yyyy-MM-DD')
          e.payModeText =
            e.payMode === 'TRANSFER_ACCOUNTS' ? '对公转账' : '支付宝'
          switch (e.orderStatus) {
            case 'PAYMENT_FINISHED':
              e.orderInfo = '<span class="text-textLight">交易关闭</span>'
              break
            case 'PAYMENT_FAILURE':
              e.orderInfo = '<span class="text-[#F30C0C]">支付失败</span>'
              break
            case 'PAYMENT_SUCCESSFUL':
              e.orderInfo = '<span class="text-textLight">支付成功</span>'
              break
            case 'PAYMENT_IN_PROGRESS':
              e.orderInfo = '<span class="text-tipOrange">待支付</span>'
              break
            default:
              break
          }
        })
      })
    }
  },
  destroyed() {
    clearInterval()
  },
  mounted() {
    this.getMemberInfo()
    this.getOrderList()
  }
}
</script>

<style lang="scss" scoped>
.version-item {
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 127, 40, 0.5);
    border-color: #ff7f28;
  }
}
.select-version {
  box-shadow: 0px 0px 10px 0px rgba(255, 127, 40, 0.5);
  border-color: #ff7f28;
  background: linear-gradient(180deg, #ffb651 0%, #ff7f28 100%);
}
.paymodSelect {
  box-shadow: 0px 0px 6px 0px rgba(0, 171, 148, 0.3);
}
.payMod {
  &:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 171, 148, 0.3);
  }
}
</style>
