<template>
  <div class="OperaLog-page">
    <div class="page-btns">
      <a-button class="btn defaultBtnHover" type="default" @click="refreshList"
      >刷新
      </a-button
      >
    </div>
    <div id="dateRanger" class="components-input-size">
      <div>
        <span>操作用户：</span>
        <a-input v-model="searchParams.searchName" placeholder="操作用户"/>
        <span>操作时间：</span>
        <a-date-range
            v-model="dateRanger"
            :disabledDate="disabledDate"
            :getCalendarContainer="getPopupContainer"
            :placeholder="['请选择开始时间','结束时间']"
            class="dateRanger"
        >
          <a-icon slot="suffixIcon" type="calendar"/>
        </a-date-range>
      </div>

      <div>
        <a-button
            class="have-rt-margin"
            style="margin-left: 20px;"
            type="primary"
            @click="searchClick"
        >
          <span>查询</span>
        </a-button>
        <a-button @click="reset">
          <span>重置</span>
        </a-button>
      </div>

      <!-- <span>所属公司：</span>
      <a-input v-model="searchParams.companyName" placeholder="所属公司" /> -->

    </div>
    <a-table
        :columns="columns"
        :data-source="data"
        :loading="loading"
        :pagination="pagination"
        :row-key="data => data.id"
        bordered
        class="page-table"
        @change="handleTableChange"
    >
      <template slot="name" slot-scope="name"
      >{{ name.first }} {{ name.last }}
      </template
      >
    </a-table>
  </div>
</template>

<script lang="ts" src="./OperaLog.ts"></script>

<style lang="scss" scoped>
::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  text-align: left;
  background-color: #f2f6f8;
}
::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.OperaLog-page {
  position: relative;
  width: 100%;
  // padding: 24px;
  box-sizing: border-box;

  .notSet {
    background-color: rgba($color: #fa8f00, $alpha: 0.1);
    color: #fa8f00;
  }

  .haveSet {
    color: #67c23a;
    background-color: rgba($color: #67c23a, $alpha: 0.1);
  }

  .undo {
    color: #4d7cfe;
    background-color: rgba($color: #4d7cfe, $alpha: 0.1);
  }

  .page-btns {
    height: 40px;
    position: absolute;
    right: 0;
    top: -64px;
    margin-bottom: 12px;

    .lf-btn {
      margin-right: 24px;
    }

    .btn {
      width: 60px;
      height: 32px;
      border-radius: 2px;
    }
  }

  .components-input-size {
    display: flex;
    justify-content: space-between;

    .ant-input {
      width: 160px;
      margin-left: 16px;
      margin-right: 24px;
    }

  }

  .dateRanger {
    width: 280px;
  }
}
</style>
