<template>
  <div class="organization-page">
    <div class="page-btns">
      <div v-if="btnPermDisplay" class="left">
        <a-button
            class="add-btn btn"
            type="primary"
            @click="addOrganizationDrawer"
        >
          <img :src="plusIcon" alt="小牛建讯">
          添加组织
        </a-button
        >
        <a-button class="btn defaultBtnHover" @click="removeAllSleclt"
        >删除
        </a-button
        >
      </div>
      <div>
        <a-button class="btn defaultBtnHover" type="default" @click="refreshList"
        >刷新
        </a-button
        >
      </div>
    </div>
    <div class="filter-tool">
      <span>企业名称：</span>
      <a-input
          v-model="searchKeyword"
          class="filter-input"
          placeholder="请输入企业名称"
      ></a-input>
      <span>使用版本：</span>
      <a-select
          v-model="params.buyVersion"
          allowClear
          class="filter-input"
          placeholder="请选择使用版本"
      >
        <a-select-option
            v-for="item in versionOption"
            :key="item.value"
            :value="item.value"
        >{{ item.label }}
        </a-select-option
        >
      </a-select>
      <span>创建时间：</span>
      <a-date-range
          v-model="createDateRange"
          :placeholder="['开始日期', '结束日期']"
          class="filter-input"
          @change="onChange"
      ></a-date-range>

      <a-button
          class="filter-btn have-rt-margin"
          type="primary"
          @click="getOrganizationData"
      >查询
      </a-button
      >
      <a-button class="filter-btn" @click="reset">重置</a-button>
    </div>
    <a-table
        :columns="columns"
        :data-source="tableData"
        :row-selection="rowSelection"
        :pagination="pagination"
        bordered
        class="page-table"
        rowKey="id"
    >
      <template slot="enableSwitch" slot-scope="item, record">
        <a-switch
            :checked="record.isEnable"
            size="small"
            @change="e => handleItemSwitch(e, record)"
        ></a-switch>
      </template>
      <template v-if="btnPermDisplay" slot="operate" slot-scope="item">
        <div class="operate">
          <operate :btns="btns" :info="item"></operate>
        </div>
      </template>
    </a-table>
    <a-drawer
        :get-container="false"
        :title="drawerTitle"
        :visible="drawerDisplay"
        :width="800"
        class="form-drawer"
        @close="closeDrawer"
    >
      <a-form-model
          ref="organizationForm"
          :model="editModel"
          :rules="rules"
          class="form-model"
          layout="horizontal"
      >
        <a-form-model-item label="公司名称" prop="companyName">
          <a-input
              v-model="editModel.companyName"
              class="form-input"
              placeholder="请输入公司名称"
          />
        </a-form-model-item>
        <!-- <a-form-model-item label="机构编码" prop="companyCode">
          <a-input
            class="form-input"
            v-model="editModel.companyCode"
            placeholder="请输入组织机构编码，英文/英文+数字"
          />
        </a-form-model-item> -->
        <a-form-model-item label="联系人" prop="contactsPerson">
          <a-input
              v-model="editModel.contactsPerson"
              class="form-input"
              placeholder="请输入联系人"
          />
        </a-form-model-item>
        <a-form-model-item label="联系电话" prop="contactsPhone">
          <a-input
              v-model="editModel.contactsPhone"
              class="form-input"
              placeholder="请输入联系电话"
          />
        </a-form-model-item>
        <a-form-model-item label="使用地区" prop="useAreaName">
          <a-cascader
              v-model="editModel.useAreaName"
              :field-names="{
              label: 'areaName',
              value: 'areaName',
              children: 'cityList'
            }"
              :options="areaList"
              class="form-input"
              placeholder="请选择使用地区"
          />
        </a-form-model-item>
        <a-form-model-item label="系统有效期" prop="dateRange">
          <a-date-range
              v-model="editModel.dateRange"
              :placeholder="['开始日期', '结束日期']"
              class="form-input"
              format="YYYY-MM-DD"
          ></a-date-range>
        </a-form-model-item>
        <a-form-model-item label="使用版本" prop="buyVersion">
          <a-select
              v-model="editModel.buyVersion"
              class="form-input"
              placeholder="请选择使用版本"
              @change="selectBuyVersion"
          >
            <a-select-option
                v-for="item in versonOption"
                :key="item.value"
                :value="item.value"
            >
              {{ item.label }}
            </a-select-option
            >
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="使用人数（人）" prop="buyUserCount">
          <a-input
              v-model="editModel.buyUserCount"
              :disabled="userCountDisabled"
              class="form-input"
              placeholder="请输入使用人数"
          />
        </a-form-model-item>
        <a-form-model-item label="是否启用" prop="isEnable">
          <a-radio-group v-model="editModel.isEnable">
            <a-radio :value="true">是</a-radio>
            <a-radio :value="false">否</a-radio>
          </a-radio-group>
        </a-form-model-item>
        <div class="bottom-btns">
          <a-button class="lf-btn" type="primary" @click="submitOrganizationEdit"
          >提交
          </a-button
          >
          <a-button type="default" @click="closeDrawer"
          >取消
          </a-button
          >
        </div>
      </a-form-model>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./Organization.ts"></script>

<style lang="scss" scoped>


.organization-page {
  position: relative;
  width: 100%;

  ::v-deep .ant-table-thead > tr > th {
    padding: 0 0 0 16px;
    height: 46px;
    text-align: left;
    background-color: #f2f6f8;
  }
  ::v-deep .ant-table-tbody > tr > td {
    padding: 0 16px;
    height: 46px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
  }

  .page-btns {
    position: absolute;
    right: 0;
    top: -64px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .left {
      display: flex;
    }

    .add-btn {
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
      }
    }

    .btn {
      margin-left: 16px;
    }
  }

  .filter-tool {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 15px;
    margin-bottom: 26px;

    .filter-title {
      color: #909399;
      font-size: 13px;
      height: 40px;
      line-height: 40px;
    }

    .filter-input {
      width: 200px;
      margin-right: 15px;
      margin-left: 10px;
    }
  }

  .filter-btns {
    .filter-btn {
      width: 102px;
      margin-right: 36px;
    }
  }

  .form-drawer {
    position: relative;

    .bottom-btns {
      background-color: #FFFFFF;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
      height: 50px;
      display: flex;
      box-sizing: border-box;
      padding-right: 24px;
      align-items: center;
      justify-content: flex-end;

      .lf-btn {
        margin-right: 16px;
      }
    }

    .form-model {
      width: 100%;

      .form-input {
        width: 480px;
      }
    }
  }
}
</style>
