<template>
  <div class="quote-page">
    <div style="overflow:auto">
      <div class="page-btns" v-if="!isSuperAdmin">
        <div class="left">
          <a-button class="lf-btn btn" @click="showEditDrawer" type="primary"
            >添加报价</a-button
          >
          <a-button class="btn" @click="removeAllSleclt" type="default"
            >删除</a-button
          >
        </div>
      </div>
      <div class="components-input-size">
        <div>
          <span>资质名称：</span>
          <a-tree-select
            v-model="allQuali"
            tree-checkable
            labelInValue
            treeDefaultExpandAll
            :tree-data="allQualiOptions"
            class="select-tree"
            treeNodeFilterProp="label"
            :tree-node-label-prop="'label'"
            :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
            placeholder="请选择"
            style=" width: 300px; "
          ></a-tree-select>
          <!-- <a-select
            mode="multiple"
            allowClear
            v-model="allQuali"
            placeholder="请选择资质"
            class="qualic-select"
          >
            <a-option
              v-for="(item, index) in allQualiOptions"
              :value="item.value"
              :key="index"
            >
              {{ item.label }}
            </a-option>
          </a-select> -->
          <a-button class="have-rt-margin" type="primary" @click="search">
            <span>查询</span>
          </a-button>
          <a-button @click="reset">
            <span>重置</span>
          </a-button>
        </div>
        <div class="right">
          <a-button class="btn" @click="refreshList" type="default"
            >刷新</a-button
          >
        </div>
      </div>
    </div>
    <a-table
      :columns="columns"
      rowKey="id"
      class="page-table"
      :data-source="tableData"
      :pagination="pagination"
      :loading="loading"
      @change="changePageNum"
      :row-selection="{
        selectedRowKeys: selectedRowKeys,
        onChange: onSelectChange
      }"
    >
      <template slot="operate" slot-scope="item">
        <div class="operate">
          <operate v-if="!isSuperAdmin" :btns="btns" :info="item"></operate>
          <!-- <div v-if='false'>暂无操作</div> -->
        </div>
      </template>
    </a-table>
    <a-drawer
      :title="drawTitle"
      :width="460"
      :destroyOnClose="destroy"
      :visible="drawDisplay"
      :get-container="false"
      @close="onClose"
    >
      <a-form-model
        :model="form"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
        :rules="registerRules"
        ref="firstForm"
      >
        <a-form-model-item label="资质名称" prop="qualificationId">
          <a-tree-select
            @change="selectQualification"
            v-model="form.qualificationId"
            showSearch
            :tree-data="qualificationOptions"
            class="auto-width"
            treeDefaultExpandAll
            treeNodeFilterProp="label"
            :tree-node-label-prop="'label'"
            :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
            placeholder="请选择"
          ></a-tree-select>
        </a-form-model-item>
        <a-form-model-item label="最低价格" has-feedback prop="lowerLimit">
          <a-input
            v-model="form.lowerLimit"
            style=" width: 150px; text-align: center"
            placeholder="最低价格"
            suffix="万元"
          />
          <!--<a-input
                  style=" width: 30px; border-left: 0; pointer-events: none; backgroundColor: #fff"
                  placeholder="~"
                  disabled
          />-->
        </a-form-model-item>

        <a-form-model-item label="最高价格" has-feedback prop="upperLimit">
          <a-input
            v-model="form.upperLimit"
            style=" width: 150px; text-align: center"
            placeholder="最高价格"
            suffix="万元"
          />
        </a-form-model-item>

        <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
          <a-button type="primary" @click="saveQuote('form')">提交</a-button>
        </a-form-model-item>
      </a-form-model>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./Quote.ts"></script>

<style lang="scss" scoped>
.quote-page {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  .status-tag {
    width: 55px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 13;
    border-radius: 4px;
    margin: 0;
  }
  .notSet {
    background-color: rgba($color: #fa8f00, $alpha: 0.1);
    color: #fa8f00;
  }
  .haveSet {
    color: #67c23a;
    background-color: rgba($color: #67c23a, $alpha: 0.1);
  }
  .undo {
    color: #4d7cfe;
    background-color: rgba($color: #4d7cfe, $alpha: 0.1);
  }
  .page-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    .lf-btn {
      margin-right: 24px;
    }
  }
  .btn {
    width: 102px;
  }
  .components-input-size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .qualic-select {
      width: 300px;
      margin-right: 20px;
    }
  }
  .components-input-size .select-tree {
    width: 200px;
    margin: 0 15px;
  }
}
</style>
