<template>
  <div class="role-page">
    <div class="page-btns">
      <div class="left">
        <a-button class="lf-btn btn" @click="addRoleDrawer" type="primary"
          >添加角色</a-button
        >
        <a-button
          class="btn"
          @click="removeAllSeleclt"
          type="danger"
          v-if="btnPermDisplay"
          >删除</a-button
        >
      </div>
      <div class="right">
        <a-button class="btn" @click="refreshList" type="default"
          >刷新</a-button
        >
      </div>
    </div>
    <a-table
      :row-selection="rowSelection"
      class="page-table"
      :columns="columns"
      rowKey="id"
      :data-source="tableData"
    >
      <template slot="enableSwitch" slot-scope="item, record">
        <a-switch
          :checked="record.isEnable"
          @change="e => handleItemSwitch(e, record)"
        ></a-switch>
      </template>
      <template slot="operate" slot-scope="item" v-if="btnPermDisplay">
        <div class="operate">
          <operate :btns="btns" :info="item"></operate>
        </div>
      </template>
    </a-table>
    <a-drawer
      class="form-drawer"
      :get-container="false"
      :visible="drawerDisplay"
      :title="drawerTitle"
      :width="560"
      @close="closeDrawer"
    >
      <a-form-model
        layout="horizontal"
        :labelCol="{ span: 4 }"
        class="form-model"
        :model="editModel"
      >
        <a-form-model-item label="角色名称" prop="roleName">
          <a-input
            class="form-input"
            v-model="editModel.roleName"
            placeholder="请输入角色名称"
          />
        </a-form-model-item>

        <a-form-model-item label="角色描述" prop="description">
          <a-textarea
            class="form-input"
            :auto-size="{ minRows: 3, maxRows: 7 }"
            v-model="editModel.description"
            placeholder="请输入角色描述"
          ></a-textarea>
        </a-form-model-item>
        <a-form-model-item label="角色等级：" prop="roleLevel">
          <a-select
            placeholder="选择角色等级"
            class="form-input"
            v-model="editModel.roleLevelName"
            @change="handleRoleChange"
          >
            <a-select-option v-for="d in roleList" :key="d.id">{{
              d.roleLevelName
            }}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="菜单权限" prop="menuVOList">
          <a-select
            mode="multiple"
            labelInValue
            class="form-input"
            v-model="editModel.menuVOList"
            placeholder="请选择菜单权限"
          >
            <a-select-option v-for="(item, index) in menuList" :key="index">{{
              item.label
            }}</a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="是否启用" prop="enable">
          <a-radio-group v-model="editModel.enable">
            <a-radio :value="true">是</a-radio>
            <a-radio :value="false">否</a-radio>
          </a-radio-group>
        </a-form-model-item>
        <div class="bottom-btns">
          <a-button type="default" @click="closeDrawer" class="lf-btn"
            >取消</a-button
          >
          <a-button type="primary" @click="submitRoleEdit">提交</a-button>
        </div>
      </a-form-model>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./Role.ts"></script>

<style lang="scss" scoped>
.role-page {
  width: 100%;
  position: relative;
  padding: 24px;
  box-sizing: border-box;
  .page-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    .lf-btn {
      margin-right: 24px;
    }
    .btn {
      width: 102px;
    }
  }
  .form-drawer {
    position: relative;
    .bottom-btns {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
      height: 50px;
      display: flex;
      box-sizing: border-box;
      padding-right: 24px;
      align-items: center;
      justify-content: flex-end;
      .lf-btn {
        margin-right: 16px;
      }
    }
    .form-model {
      width: 100%;
      .form-input {
        width: 400px;
      }
    }
  }
}
</style>
