<template>
  <div class="selfReleaseNeeds">
    <div class="table-search">
      <div class="label">联系电话：</div>
      <a-input
        class="search-input"
        v-model.trim="searchData.phone"
        placeholder="联系电话"
      />
      <div class="label">状态：</div>
      <a-select
        style="width: 100px;margin-right: 15px;"
        v-model="searchData.linkState"
      >
        <a-select-option
          v-for="item in linkStateData"
          :key="item.value"
          :value="item.value"
          >{{ item.label }}
        </a-select-option>
      </a-select>
      <div class="label">发布时间：</div>
      <a-range-picker
        class="search-input"
        :disabledDate="disabledDate"
        v-model="createDateRange"
        @change="onChange"
      />
      <a-button class="have-rt-margin" type="primary" @click="search"
        >查询
      </a-button>
      <a-button @click="reset">重置</a-button>
    </div>
    <a-table
      class="page-table"
      :columns="columns"
      rowKey="selfReleaseId"
      :data-source="tableData"
      :pagination="false"
    >
      <template slot="linkState" slot-scope="item, record">
        <span>{{ record.linkState === 0 ? '未联系' : '已联系' }}</span>
      </template>
      <template slot="operate" slot-scope="item, record">
        <div class="operate">
          <div v-if="record.linkState === 1">
            ---
          </div>
          <a v-else @click="remarksClick(record.selfReleaseId)">备注</a>
        </div>
      </template>
    </a-table>
    <div></div>
    <div class="pagination">
      <a-pagination
        class="paginationPage"
        :total="total"
        v-model="searchData.current"
        :pageSize.sync="pageSize"
        show-size-changer
        @change="onChangePageSize"
      />
    </div>
    <a-modal
      title="备注"
      :visible="remarksShow"
      :destroyOnClose="true"
      @cancel="handleCancel"
      class="contactMode"
      okText="提交"
      @ok="handleOk"
    >
      <a-input type="textarea" placeholder="请输入联系情况" v-model="remarks" />
    </a-modal>
  </div>
</template>

<script>
import {
  DatePicker,
  FormModel,
  Input,
  Select,
  Table,
  Pagination,
  Button,
  Drawer
} from 'ant-design-vue'

export default {
  name: 'selfReleaseNeeds',
  components: {
    aDrawer: Drawer,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aInput: Input,
    aSelect: Select,
    aSelectOption: Select.Option,
    aRangePicker: DatePicker.RangePicker,
    aTable: Table,
    aPagination: Pagination,
    aButton: Button
  },
  data() {
    return {
      searchData: {
        current: 1,
        size: 10,
        phone: '',
        linkState: -1,
        startDate: null,
        endDate: null
      },
      pageSize: 10,
      createDateRange: [],
      columns: [
        { title: 'ID', dataIndex: 'selfReleaseId' },
        { title: '企业名称', dataIndex: 'enterpriseName' },
        { title: '用户名', dataIndex: 'memberName', width: 100 },
        { title: '联系人', dataIndex: 'contactsName', width: 100 },
        { title: '联系电话', dataIndex: 'contactsPhone', width: 100 },
        { title: '发布时间', dataIndex: 'releaseTime', width: 100 },
        {
          title: '状态',
          dataIndex: 'linkState',
          width: 100,
          scopedSlots: { customRender: 'linkState' }
        },
        { title: '备注', dataIndex: 'remarks', width: 100 },
        { title: '操作用户', dataIndex: 'linkMemberName', width: 100 },
        { title: '操作时间', dataIndex: 'linkTime', width: 100 },
        { title: '操作', scopedSlots: { customRender: 'operate' } }
      ],
      tableData: [],
      total: 0,
      remarksShow: false,
      linkStateData: [
        { label: '全部', value: -1 },
        { label: '未联系', value: 0 },
        { label: '已联系', value: 1 }
      ],
      remarks: '',
      selfReleaseId: null
    }
  },
  watch: {
    pageSize(val) {
      this.searchData.current = 1
      this.searchData.size = val
      this.pageSize = val
      // console.log(1)
      this.listData()
    }
  },
  methods: {
    onChangePageSize(current, size) {
      this.searchData.current = current
      this.searchData.size = size
      this.pageSize = size
      // console.log(2)
      this.listData()
    },
    //不可选择未来时间
    disabledDate(current) {
      return current && current > this.$moment().endOf('day')
    },
    //获取时间数组
    onChange(date, dateString) {
      this.searchData.startDate = dateString[0] + ' 00:00:00'
      this.searchData.endDate = dateString[1] + ' 23:59:59'
    },
    listData() {
      const data = {
        current: this.searchData.current,
        size: this.searchData.size,
        contactsPhone: this.searchData.phone,
        linkState:
          this.searchData.linkState === -1 ? null : this.searchData.linkState,
        startDate: this.searchData.startDate,
        endDate: this.searchData.endDate
      }
      this.$httpRequester.post('selfRelease/list', data).then(res => {
        this.tableData = res.list
        this.total = res.total
      })
    },
    search() {
      this.searchData.current = 1
      const data = {
        current: this.searchData.current,
        size: this.searchData.size,
        contactsPhone: this.searchData.phone,
        linkState:
          this.searchData.linkState === -1 ? null : this.searchData.linkState,
        startDate: this.searchData.startDate,
        endDate: this.searchData.endDate
      }
      this.$httpRequester.post('selfRelease/list', data).then(res => {
        this.tableData = res.list
        this.total = res.total
      })
    },

    //重置
    reset() {
      // console.log("点击了重置", this.searchParams.departmentName)
      this.searchData.phone = ''
      this.searchData.linkState = -1
      this.searchData.startDate = null
      this.searchData.endDate = null
      this.createDateRange = []
    },
    remarksClick(id) {
      this.remarksShow = true
      this.selfReleaseId = id
    },
    handleCancel() {
      this.remarksShow = false
      this.remarks = ''
    },
    handleOk() {
      const data = {
        remarks: this.remarks,
        selfReleaseId: this.selfReleaseId
      }
      this.$httpRequester.get('selfRelease/addRemarks', data).then(() => {
        this.$message.success('操作成功')
        this.remarksShow = false
        this.remarks = ''
        this.listData()
      })
    }
  },
  mounted() {
    this.listData()
  }
}
</script>

<style scoped lang="scss">
.selfReleaseNeeds {
  .table-search {
    display: flex;
    align-items: center;
    .search-input {
      width: 200px;
      margin-right: 15px;
      margin-left: 10px;
    }
  }
  .pagination {
    height: 50px;
    .paginationPage {
      float: right;
      margin-top: 15px;
    }
  }
}
</style>
