<template>
  <div ref="userPage" class="user-page">
    <div class="page-btns">
      <a-button class="lf-btn btn" type="primary" @click="showAddDrawer">
        <img :src="plusIcon" alt="小牛建讯">
        新增用户
      </a-button
      >
      <a-button class="btn defaultBtnHover" @click="removeAllSelect"
      >删除
      </a-button
      >
      <a-button class="btn defaultBtnHover" @click="refreshList">刷新</a-button>
    </div>
    <div class="table-search">
      <div class="table-search-left">
        <div class="label">账号/姓名：</div>
        <a-input
            v-model="searchParams.searchName"
            class="search-input"
            placeholder="账号/姓名"
        />
        <div class="label">所属公司：</div>
        <a-input
            v-model="searchParams.companyName"
            class="search-input"
            placeholder="所属公司"
        />
      </div>
      <div class="table-search-right">
        <a-button class="have-rt-margin" type="primary" @click="search"
        >查询
        </a-button
        >
        <a-button @click="reset">重置</a-button>
      </div>
    </div>
    <a-table
        :columns="columns"
        :data-source="tableData"
        :row-selection="rowSelection"
        class="page-table"
        rowKey="id"
        :pagination="pagination"
        bordered
    >
      <template slot="enableSwitch" slot-scope="item, record">
        <a-switch
            :checked="record.isEnable"
            @change="e => handleItemSwitch(e, record)"
        ></a-switch>
      </template>
      <template slot="change2String" slot-scope="item, record">
        <span>{{ record.isLead ? '是' : '否' }}</span>
      </template>
      <template slot="operate" slot-scope="item">
        <div class="operate">
          <operate :btns="btns" :info="item"></operate>
        </div>
      </template>
      <template>
        <a-pagination
            v-model="current"
            :pageSize="pageSize"
            :total="total"
            defaultCurrent="1"
            defaultPageSize="10"
            show-less-items
        ></a-pagination>
      </template>
    </a-table>
    <a-drawer
        ref="drawer"
        :destroyOnClose="true"
        :get-container="false"
        :title="drawTitle"
        :visible="drawDisplay"
        class="form-drawer"
        width="800"
        @close="onClose"
    >
      <a-form-model
          id="userFormModel"
          ref="userFormModel"
          :model="userParams"
          :rules="rules"
          class="form-model"
          layout="horizontal"
      >
        <a-form-model-item label="用户姓名：" prop="memberName">
          <a-input
              v-model="userParams.memberName"
              class="form-input"
              placeholder="用户姓名"
          />
        </a-form-model-item>
        <a-form-model-item label="登录账号：" prop="userAccount">
          <a-input
              v-model.trim="userParams.userAccount"
              :disabled="accountDisplay"
              class="form-input"
              placeholder="登录账号, 即:手机号"
          />
        </a-form-model-item>
        <a-form-model-item
            v-if="verifyCode"
            class="verification"
            label="验证码："
            prop="verifyCode"
        >
          <a-input
              v-model="userParams.verifyCode"
              class="form-input"
              placeholder="验证码"
              style="width: 368px"
          />
          <a-button
              :disabled="codeDisabled"
              class="ant-btn-code"
              style="margin-left: 16px"
              type="primary"
              @click="send"
          >
            <span>{{ codeBtnText }}</span>
          </a-button>
        </a-form-model-item>
        <a-form-model-item label="所属公司：" prop="companyName">
          <a-select
              v-model="userParams.companyName"
              :disabled="!companyCanSelect"
              :filter-option="filterOption"
              :getPopupContainer="getFormNode"
              option-filter-prop="children"
              show-search
              style="width: 480px"
              @change="handleCompanyChange"
          >
            <a-select-option v-for="d in companyListData" :key="d.id">{{
                d.companyName
              }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="用户角色：" prop="roleName">
          <a-select
              v-model="userParams.roleName"
              :disabled="!roleCanSelect"
              :filter-option="filterOption"
              :getPopupContainer="getFormNode"
              option-filter-prop="children"
              placeholder="选择角色名称"
              show-search
              style="width: 480px"
              @change="handleRoleChange"
          >
            <a-select-option v-for="d in roleData" :key="d.id">{{
                d.roleName
              }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="所属部门：" prop="departmentName">
          <!--          :disabled="!upladerCanSelect"-->
          <a-select
              v-model="userParams.departmentName"
              :disabled="departmentNameCanSelect"
              :filter-option="filterOption"
              :getPopupContainer="getFormNode"
              option-filter-prop="children"
              placeholder="选择部门名称"
              show-search
              style="width: 480px"
              @change="handDepartmentNameChange"
          >
            <a-select-option v-for="d in departmentData" :key="d.id">{{
                d.departmentName
              }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="是否为部门领导：" prop="isLead">
          <a-radio-group v-model="userParams.isLead">
            <a-radio :disabled="isLeadCanSelect" :value="true">是</a-radio>
            <a-radio :disabled="isLeadCanSelect" :value="false" defaultChecked
            >否
            </a-radio
            >
          </a-radio-group>
        </a-form-model-item>
        <a-form-model-item label="是否启用：" prop="enable">
          <a-radio-group v-model="userParams.enable">
            <a-radio :value="true">是</a-radio>
            <a-radio :value="false" defaultChecked>否</a-radio>
          </a-radio-group>
        </a-form-model-item>
      </a-form-model>
      <div class="bottom-btns">
        <a-button type="primary" class="lf-btn" @click="submitUserInfo">提交</a-button>
        <a-button  type="default" @click="onClose">取消</a-button>

      </div>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./User.ts"></script>

<style lang="scss" scoped>


.user-page {
  width: 100%;
  position: relative;
  ::v-deep .ant-table-thead > tr > th {
    padding: 0 0 0 16px;
    height: 46px;
    text-align: left;
    background-color: #f2f6f8;
  }
  ::v-deep .ant-table-tbody > tr > td {
    padding: 0 16px;
    height: 46px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #686868;
  }

  .status-tag {
    width: 55px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    margin: 0;
  }

  .notSet {
    background-color: rgba($color: #fa8f00, $alpha: 0.1);
    color: #fa8f00;
  }

  .haveSet {
    color: #67c23a;
    background-color: rgba($color: #67c23a, $alpha: 0.1);
  }

  .undo {
    color: #4d7cfe;
    background-color: rgba($color: #4d7cfe, $alpha: 0.1);
  }

  .page-btns {
    position: absolute;
    right: 0;
    top: -64px;
    display: flex;
    align-items: center;

    .lf-btn {
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
      }
    }

    .btn {
      margin-left: 16px;
    }
  }
}

.table-search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .table-search-left {
    display: flex;
    align-items: center;
  }

  .label {
    color: #282828;
    font-size: 14px;
    margin-right: 16px;
  }

  .search-input {
    width: 160px;
    margin-right: 24px;
  }
}

.form-drawer {
  position: relative;

  .bottom-btns {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
    height: 50px;
    display: flex;
    box-sizing: border-box;
    padding-right: 24px;
    align-items: center;
    justify-content: flex-end;

    .lf-btn {
      margin-right: 16px;
    }
  }
}

.form-model {
  width: 100%;

  .form-input {
    width: 480px;
  }
  .ant-btn-code{
    width: 96px;
    text-align: center;
    font-size: 14px;
    padding: 0;
  }
}
</style>
