<template>
  <div id="shipmentPage" class="receipt-page">
    <table-filter
        id="tableFilter"
        ref="tableFilterREF"
        @clickFindBtns="clickFindBtns"
        @findNoLoginList="getVisitorsList"
        @getFilterList="setFilterOption"
        @isNotSpecialProvinceDisabled="specialProvinceDisabled"
        @noLoginFindEnterPriseName="noLoginFindEnterPriseName"
        @noLoginFindLegalPerson="noLoginFindLegalPerson"
        @noLoginFindQualifications="noLoginFindQualifications"
    ></table-filter>
    <div class="table-content">
      <div v-show="dataLoading" class="loading">
        <a-spin size="large" tip="加载中......"/>
      </div>
      <div id="tips" class=" text-textLight text-[13px]">
        小牛建讯为您查询出
        <span class=" text-textPrimary font-bold">
          <span v-if="tipText">
            <countTo :duration="1000" :endVal="tipText" :startVal="0"></countTo>
            <span v-if="tipText >= 1000">+</span>
          </span>
          <span v-else>
            0
          </span>
        </span>
        家符合条件的企业（电话数据经大数据实时演算解析，并经启发式算法优化排序显示）
      </div>
      <div id="setRiskLevelFilterFilter" class="filter-btns">
        <a-select
            id="setRiskLevelSelect"
            v-model="riskLevelFilter"
            :class="{
            'risk-filter-btn': riskLevelFilter,
            'no-data-select': !riskLevelFilter
          }"
            :disabled="ashSettingFlag"
            :getPopupContainer="getRiskPopupContainer"
            :open="defaultOpen"
            allowClear
            placeholder="风险等级"
            @blur="mouseleave"
            @change="setRiskLevelFilter"
            @mouseenter="mouseenter"
            @mouseleave="mouseleave"
            @select="mouseleave"
        >
          <a-select-option
              v-for="(item, key) in riskOption"
              :key="key"
              :value="item.value"
          >
            {{ item.label }}
          </a-select-option>
        </a-select>
        <!-- <a-button
          @click="filterIsRisk"
          class="have-rt-margin"
          :class="{ noRisk: riskSort !== 2, haveRisk: riskSort === 2 }"
        >
          企业风险
          <a-icon :type="riskSort === 2 ? 'arrow-down' : 'arrow-up'" />
        </a-button> -->
        <a-button
            :class="{
            noRisk: establishmentDateSort === 0,
            haveRisk: establishmentDateSort !== 0
          }"
            :disabled="ashSettingFlag"
            class="have-rt-margin "
            @click="setEstablishmentDateSort"
        >
          成立时间
          <a-icon
              v-if="establishmentDateSort"
              :type="establishmentDateSort === 2 ? 'arrow-down' : 'arrow-up'"
          />
        </a-button>
        <a-select
            id="SafeCertificationValueFilter"
            v-model="safeCertificationValue"
            :class="{
            'risk-filter-btn': safeCertificationValue,
            'no-data-select': !safeCertificationValue
          }"
            :disabled="ashSettingFlag"
            :getPopupContainer="getPopupContainer"
            :open="defaultSafeCertificationValueOpen"
            allowClear
            placeholder="安许筛选"
            style="width: 150px;"
            @blur="mouseleaveSafeCertificationValue"
            @change="setSafeCertificationValueFilter"
            @mouseenter="mouseenterSafeCertificationValue"
            @mouseleave="mouseleaveSafeCertificationValue"
            @select="mouseleaveSafeCertificationValue"
        >
          <a-select-option
              v-for="(item, key) in safeCertificationList"
              :key="key"
              :value="item.value"
              class="safeCertificationFilter"
          >
            {{ item.label }}
          </a-select-option>
        </a-select>
        <!-- <a-button
          @click="changeNotReceiveStatus"
          :class="{
            noRisk: !fiftyNotReceive,
            haveRisk: fiftyNotReceive
          }"
        >
          15天内未领取
        </a-button> -->
        <!--        <a-button
          @click="changeSafeCertificate"
          :class="
            safeCertificationValue[safeCertificationIndex].value !== undefined
              ? 'haveRisk'
              : 'noRisk'
          "
        >
          {{ safeCertificationValue[safeCertificationIndex].label }}
        </a-button>-->
        <a-button
            v-if="showWatchBtn"
            :disabled="isSuperAdmin"
            class="special-btn"
            icon="eye"
            @click="receiveAllList"
        >本页电话
        </a-button>
      </div>
      <template v-if="total">
        <table-card
            v-for="(item, index) in tableData"
            :key="index"
            :index="index"
            :isChecked="item.isChecked"
            :isClicked="findClickedItem(item.enterpriseId)"
            :isSpecialProvince="!isNotSpecialProvince"
            :row="item"
            :showCkeckBox="false"
            :tableIndex="index"
            @goToCompanyDetail="goToCompanyDetail"
            @goToCompanyRisk="goToCompanyRisk"
            @phoneIsNotTurnOn="phoneIsNotTurnOn"
            @phoneIsTurnOn="phoneIsTurnOn"
            @receiveThisItem="receiveThisItem"
            @setRiskLevelFilter="setRiskLevelFilter"
            @showRegisterDrawer="showRegisterDrawer"
            @showSharQrCode="showSharQrCode"
        ></table-card>
        <div class="card-pagination">
          <a-pagination
              v-model="pageNum"
              :hideOnSinglePage="true"
              :pageSize.sync="pageSize"
              :showQuickJumper="true"
              :showSizeChanger="false"
              :showTotal="
              () => {
                return false
              }
            "
              :total="total"
              @change="tableChange"
              @showSizeChange="tableChange"
          ></a-pagination>
          <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
        </div>
        <div
            v-if="softVersion === 'V_FREE_TEMP'"
            :style="'background-image:url(' + freeBg + ')'"
            class="free-vip-item"
            @click="goToVipPage"
        >
          <!--          <div class="free-main-title">如需查看更多数据，请升级至VIP版本</div>-->
          <!--          <div class="free-sub-title">-->
          <!--            如有疑问，请联系客服，免费咨询热线：400-902-8966-->
          <!--          </div>-->
          <!--          <div class="free-vip-btn" @click="goToVipPage">去升级</div>-->
        </div>
      </template>

      <block-data
          v-else
          :imageSrc="notFind"
          :text="'没有找到相关结果，请更换筛选条件重新搜索'"
          :titleText="''"
      ></block-data>

      <p class="tips">
        客户查询说明：<br/>
        1.
        数据来源：该数据源于中国住房和城乡建设部、各省级一体化平台、国家企业信用信息公示系统、中国执行网<br/>
        2.相同查询条件，同一公司所有业务人员查询到的结果，列表展示一致。
      </p>
    </div>
    <a-drawer
        :closable="false"
        :destroyOnClose="true"
        :visible="companyDetailDrawer"
        width="840"
        @close="closeCompanyDetailDrawer"
    >
      <detail-index
          ref="companyDrawer"
          :isFromClient="false"
          :otherInfo="companyDetail"
          @closeDrawer="closeCompanyDetailDrawer"
          @detailReceive="getComponyList"
          @havePhoneOperate="getComponyList"
          @setLegalPersonToFilter="setLegalPersonToFilter"
          @setPhoneToFilter="setPhoneToFilter"
          @setRiskLevelFilter="setRiskLevelFilterFromDetail"
          @showSharQrCode="showSharQrCode"
      ></detail-index>
    </a-drawer>
    <wxqr-code ref="wxqr" :url="wxQrCode"></wxqr-code>
    <register-staff ref="rs"></register-staff>
  </div>
</template>

<script>
//
// @changeChecked="changeChecked"
// @receiveThisItem="receiveThisItem"
// @phoneIsNotTurnOn="phoneIsNotTurnOn"
// @phoneIsTurnOn="phoneIsTurnOn"
// @staffFollowUp="staffFollowUp"
import freeBg from '@/assets/image/tableItem/free_bg.png'
import notFind from '@/assets/image/no_data_block.png'
import BlockData from '@/components/BlockData.vue'
import qrModal from '@/components/qrCode.vue'
import WxqrCode from '@/components/WxqrCode.vue'
import {userModule} from '@/store/modules/user'
import {homeModule} from '@/store/modules/home'
import {detailModule} from '@/store/modules/detail'
import {universalModule} from '@/store/modules/universal'

import DetailIndex from '../Detail/Index.vue'
import tableFilter from './Components/TableFilter.vue'
import tableCard from './Components/TableCard.vue'
import {Pagination, Drawer, Spin, Modal, Select} from 'ant-design-vue'
import countTo from 'vue-count-to'
import {hide} from '@/components/pageationHide.js'
import Cookie from 'js-cookie'
import RegisterStaff from '@/components/RegisterStaff.vue'

export default {
  name: 'shipment',
  components: {
    countTo,
    tableFilter,
    tableCard,
    BlockData,
    aDrawer: Drawer,
    aSpin: Spin,
    DetailIndex,
    qrModal,
    aPagination: Pagination,
    aSelect: Select,
    aSelectOption: Select.Option,
    RegisterStaff,
    WxqrCode
  },

  watch: {
    isListQuery: {
      handler(val) {
        if (val) {
          this.$refs.tableFilterREF.getFilterGroup()
          detailModule.setListQuery(false)
        }
      }
    }
  },
  computed: {
    isListQuery() {
      return detailModule.isListQuery
    },
    softVersion() {
      return userModule.version
    }
  },
  data() {
    return {
      ashSettingFlag: false,//地区选择港澳台,置灰风险等按钮
      isElectron: false,
      registerStaffData: [],
      defaultOpen: false,
      defaultSafeCertificationValueOpen: false,
      riskOption: [
        {label: '无风险', value: '0'},
        {label: '低风险', value: '1'},
        {label: '中风险', value: '2'},
        {label: '高风险', value: '3'}
      ],
      riskLevelFilter: undefined,
      freeBg,
      qrCode: '',
      wxQrCode: '',
      establishmentDateSort: 0,
      isSuperAdmin: false,
      showWatchBtn: true,
      filters: null,
      pageSize: 10,
      notFind,
      pageNum: 1,
      riskSort: 1,
      isSafeCertificationType: null,
      dataLoading: false,
      gangAoTai: [810000, 820000, 710000],
      isNotSpecialProvince: false,
      tableData: [],
      tipText: 0,
      total: 0,
      totalNum: 0,
      clickItems: [],
      companyDetailTitle: '',
      companyDetailDrawer: false,
      safeCertificationIndex: 0,
      safeCertificationValue: undefined,
      receiptParams: {},
      safeCertificationList: [
        {value: 1, label: '安许：有'},
        {value: 2, label: '安许：无'},
        {value: 3, label: '安许：过期'},
        {value: 4, label: '安许：半年到期'}
        // { value: 1, label: '有安许证' },
        // { value: 2, label: '无安许证' },
        // { value: 3, label: '6个月内安许到期' }
      ],
      companyDetail: {},
      fiftyNotReceive: true,
      userId: ''
    }
  },
  methods: {
    async userIsLogin() {
      try {
        if (!this.userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    changeNotReceiveStatus() {
      this.fiftyNotReceive = !this.fiftyNotReceive
      this.pageNum = 1
      this.getComponyList()
    },
    showRegisterDrawer(data) {
      this.$refs.rs.showDrawerVisible(data)
    },
    // 接通跟进
    phoneIsTurnOn(row) {
      // console.log(row)
      detailModule.setEnterpriseInfo({...row, clueSources: 1})
      this.setTurnDetaultQua(row)
      homeModule.changeTurnPhoneStatus(true)
      homeModule.setPageHandleFunction(this.afterTurnOnHandle)
    },
    // 拨打未接通
    phoneIsNotTurnOn(row) {
      detailModule.setEnterpriseInfo({...row, clueSources: 1})
      homeModule.changeNotTurnPhoneStatus(true)
      homeModule.setPageHandleFunction(this.afterTurnOnHandle)
    },
    afterTurnOnHandle() {
      this.getComponyList()
    },
    setLegalPersonToFilter(person) {
      this.$refs.tableFilterREF.onlyKeyword(person)
      this.companyDetailDrawer = false
    },
    setPhoneToFilter(phone) {
      this.$refs.tableFilterREF.onlyPhone(phone)
      this.companyDetailDrawer = false
    },
    setEstablishmentDateSort() {
      this.userIsLogin().then(() => {
        switch (this.establishmentDateSort) {
          case 0:
            this.establishmentDateSort = 2
            break
          case 2:
            this.establishmentDateSort = 1
            break
          case 1:
            this.establishmentDateSort = 0
            break
        }
        this.pageNum = 1
        // this.establishmentDateSort += 1
        // if (this.establishmentDateSort > 2) {
        //   this.establishmentDateSort = 0
        // }

        this.getComponyList()
      })
    },
    receiveThisItem(item) {
      this.userIsLogin().then(() => {
        if (this.isSuperAdmin) {
          this.$message.warning('超级管理员无法查看电话')
          return
        }
        const params = {
          clueSources: 1,
          enterpriseIds: [item.enterpriseId]
        }

        this.$httpRequester
            .post('enterpriseClue/addReceive', params)
            .then(() => {
              this.getComponyList()
              homeModule.getFreeTime()
            })
            .catch(err => {
              if (err.code === '2005') {
                detailModule.setExpriedModalShow(true)
              }
              if (err.code === '5003') {
                Modal.info({
                  title: '温馨提示',
                  content: err.msg,
                  okText: '确定',
                  onOk: () => {
                    console.log('is ok')
                  }
                })
              } else if (err.code === '5008') {
                detailModule.setGoToVipTeamModalShow(true)
              } else if (err.code === '5013') {
                detailModule.setGoToVipModalShow(true)
              }
            })
      })
    },
    receiveAllList() {
      this.userIsLogin().then(() => {
        const params = {
          clueSources: 1,
          enterpriseIds: this.tableData
              .filter(e => {
                return e.phoneType
              })
              .map(e => {
                return e.enterpriseId
              })
        }

        if (!params.enterpriseIds.length) {
          // this.$message.success()
          return
        }
        // console.log(params)
        this.$httpRequester
            .post('enterpriseClue/addReceive', params)
            .then(res => {
              this.setReceiveDataInTable(res)
              this.$message.success('操作成功')
              homeModule.getFreeTime()
            })
            .catch(err => {
              if (err.code === '5004') {
                // 本页全都被领取光了
                Modal.confirm({
                  title: '温馨提示',
                  content: err.msg,
                  okText: '下一页',
                  cancelText: '取消',
                  onOk: () => {
                    if (this.total / this.pageSize > this.pageNum) {
                      this.pageNum += 1
                      this.tableChange(this.pageNum, this.pageSize)
                    } else {
                      this.$message.warning('已经是最后一页了！')
                      this.showWatchBtn = false
                    }
                  },
                  onCancel: () => {
                    console.log('on cancel')
                  }
                })
              } else if (err.code === '5005') {
                Modal.info({
                  title: '温馨提示',
                  content: err.msg,
                  okText: '确定',
                  onOk: () => {
                    this.setReceiveDataInTable(err.data)
                    console.log('is ok')
                  }
                })
              } else if (err.code === '5008') {
                detailModule.setGoToVipTeamModalShow(true)
              } else if (err.code === '5013') {
                detailModule.setGoToVipModalShow(true)
              } else if (err.code === '2005') {
                detailModule.setExpriedModalShow(true)
              }
            })
      })
    },
    setReceiveDataInTable() {
      // const companyIdList = Object.keys(r)
      // // console.log(companyIdList)
      // this.tableData.forEach((t) => {
      //   if (
      //     companyIdList.find((c) => {
      //       return t.enterpriseId === c
      //     })
      //   ) {
      //     t.receiveCount += 1
      //     t.haveReceive = true
      //     t.phoneNumDisplay = r[t.enterpriseId].join(',')
      //   }
      // })
      this.showWatchBtn = false
      this.getComponyList()
    },
    setRiskLevelFilterFromDetail(val) {
      this.closeCompanyDetailDrawer()
      this.setRiskLevelFilter(val)
    },
    closeCompanyDetailDrawer() {
      this.$refs.companyDrawer.setBasicInfoReback()
      this.getComponyList()
      this.companyDetailDrawer = false
    },
    findClickedItem(enterpriseId) {
      // 判断有没有点过
      const have = this.clickItems.find(c => c === enterpriseId)
      return have
    },
    getContainer() {
      return document.getElementById('mainContent')
    },
    goToCompanyDetail(item) {
      const isNotHavePhone = item.phoneNumDisplay.indexOf('暂无') > -1
      if (!this.isNotSpecialProvince) {
        return
      }
      if (!this.findClickedItem(item.enterpriseId)) {
        this.clickItems.push(item.enterpriseId)
      }
      this.setTurnDetaultQua(item)
      this.companyDetailTitle = item.companyName
      this.companyDetailDrawer = true

      detailModule.setEnterpriseInfo({
        ...item,
        clueSources: 1,
        isNotHavePhone
      })
      this.$nextTick(() => {
        this.$refs.companyDrawer.setColorFromRisk(-1)
        this.$refs.companyDrawer.setBasicInfo()
      })
    },
    goToCompanyRisk(item) {
      if (!this.isNotSpecialProvince) {
        return
      }
      if (!this.findClickedItem(item.enterpriseId)) {
        this.clickItems.push(item.enterpriseId)
      }
      this.setTurnDetaultQua(item)
      this.companyDetailTitle = item.companyName
      this.companyDetailDrawer = true

      detailModule.setEnterpriseInfo({...item, clueSources: 1})
      this.$nextTick(() => {
        this.$refs.companyDrawer.setColorFromRisk(item.riskLevel)
        this.$refs.companyDrawer.setBasicInfo()
        this.$refs.companyDrawer.selectMainTitle(3) // 到达风险页面
      })
    },
    setTurnDetaultQua(row) {
      let designQua = []
      let tableItemDefauletQua = []
      // console.log(this.filters)
      const onlyDesign = row.designQualificationListLocal.length > 0
      const onlyConstruction = row.qualificationsListLocal.length > 0
      if (this.filters.qualificationIds.length) {
        // console.log(this.filters.must.qualification.data)
        this.filters.qualificationIds.forEach(e => {
          const findQua = row.qualificationsListLocal.find(q => {
            return parseInt(q.id, 10) === e
          })
          if (findQua) {
            tableItemDefauletQua.push({
              value: findQua.id,
              label: findQua.qualificationName
            })
          }
          const findDesign = row.designQualificationListLocal.find(q => {
            return parseInt(q.id, 10) === e
          })
          if (findDesign) {
            tableItemDefauletQua.push({
              value: findDesign.id,
              label: findDesign.qualificationName
            })
          }
        })
        //  this.tableItemDefauletQua = this.filters.must.qualification.data
      } else {
        tableItemDefauletQua = row.qualificationsListLocal.map(e => {
          return {
            value: e.id,
            label: e.qualificationName
          }
        })
        designQua = row.designQualificationListLocal.map(e => {
          return {
            value: e.id,
            label: e.qualificationName
          }
        })
      }
      homeModule.setATurnOnDefaultQua(tableItemDefauletQua.concat(designQua))
      homeModule.setRowQuaStatus({onlyDesign, onlyConstruction})
    },
    showSharQrCode(item) {
      if (this.isSuperAdmin) {
        return
      }
      const page = 'pages/detail/enterpriseDetail'
      const pageUrl = `${apiUrl}wx/shared/applet/detail/qrcode?id=${item.enterpriseId}&page=${page}&width=200`
      this.wxQrCode = pageUrl
      this.$refs.wxqr.showModal()
    },

    tableChange(page, pageSize) {
      this.userIsLogin()
          .then(() => {
            // console.log(page,pageSize)
            this.pageSize = pageSize
            this.pageNum = page
            // const currentPath = this.$route.path
            // this.$setQuery.addQuery(this.$route, {
            //   pageNum: this.pageNum,
            //   pageSize: this.pageSize,
            // })
            // this.$refs.tableFilterREF.saveCurrentPageSizeAndPageNum(
            //   this.pageNum,
            //   this.pageSize
            // )
            // this.$emit('goBackToTop')
            // const pageDom = document.getElementsByClassName(
            //   'ant-pagination-options-quick-jumper'
            // )[0]
            // const pageInput = pageDom.getElementsByTagName('input')

            // this.$nextTick(() => {
            //   pageInput[0].value = ''
            // })
            this.getComponyList()
            this.$emit('goBackToTop')
          })
          .catch(() => {
            this.pageNum = 1
          })
    },
    changeSafeCertificate() {
      this.safeCertificationIndex += 1
      if (this.safeCertificationIndex > 2) {
        this.safeCertificationIndex = 0
      }
      this.pageNum = 1
      // this.haveSafeCertificate = !this.haveSafeCertificate
      this.getComponyList()
    },
    filterIsRisk() {
      this.riskSort = this.riskSort === 2 ? 1 : 2
      this.getComponyList()
    },
    clickFindBtns(info) {
      this.riskSort = 1
      this.riskLevelFilter = undefined
      this.isSafeCertificationType = null
      this.safeCertificationValue = undefined
      this.safeCertificationIndex = 0
      this.establishmentDateSort = 0
      this.fiftyNotReceive = true
      // this.$emit('goBackToTop')
      this.setFilterOption(info)
    },
    setFilterOption(info) {
      // console.log(info)
      this.isNotSpecialProvince = info.isNotSpecialProvince
      this.filters = info.options
      this.pageNum = info.pageNum
      this.pageSize = info.pageSize
      this.getComponyList()
    },
    setSafeCertificationValueFilter(val) {
      this.userIsLogin().then(() => {
        this.pageNum = 1
        this.isSafeCertificationType = val
        this.getComponyList()
      })
    },
    //鼠标移入展开安许和风险等级
    mouseenterSafeCertificationValue() {
      if (!this.ashSettingFlag) {
        this.defaultSafeCertificationValueOpen = true
        this.defaultOpen = false
      }
    },
    mouseleaveSafeCertificationValue() {
      this.defaultSafeCertificationValueOpen = false
    },
    mouseenter() {
      if (!this.ashSettingFlag) {
        this.defaultOpen = true
        this.defaultSafeCertificationValueOpen = false
      }
    },
    mouseleavePutAway() {
      this.defaultOpen = false
      this.defaultSafeCertificationValueOpen = false
    },
    mouseleave() {
      this.defaultOpen = false
    },
    getRiskPopupContainer() {
      return document.getElementById('setRiskLevelSelect')
    },
    getPopupContainer() {
      return document.getElementById('SafeCertificationValueFilter')
    },
    setRiskLevelFilter(val) {
      this.userIsLogin().then(() => {
        this.pageNum = 1
        this.riskLevelFilter = val
        this.getComponyList()
      })
    },
    getComponyList() {
      this.userIsLogin().then(() => {
        this.dataLoading = true
        if (this.isSafeCertificationType) {
          if (this.isSafeCertificationType) {
            if (
                this.isSafeCertificationType === 1 ||
                this.isSafeCertificationType === 2
            ) {
              this.receiptParams = {
                ...this.filters,
                haveSafeCertificate: this.isSafeCertificationType === 1,
                riskSort: this.riskSort,
                establishmentSort: this.establishmentDateSort,
                pageSize: this.pageSize,
                pageNum: this.pageNum,
                riskLevel: this.riskLevelFilter
              }
            } else if (this.isSafeCertificationType === 4) {
              this.receiptParams = {
                ...this.filters,
                safeCertificateOvertime: true, // 六个月内安许到期
                riskSort: this.riskSort,
                establishmentSort: this.establishmentDateSort,
                pageSize: this.pageSize,
                pageNum: this.pageNum,
                riskLevel: this.riskLevelFilter
              }
            } else {
              this.receiptParams = {
                ...this.filters,
                safeCertificateExpired: true, // 安许已经过期
                riskSort: this.riskSort,
                establishmentSort: this.establishmentDateSort,
                pageSize: this.pageSize,
                pageNum: this.pageNum,
                riskLevel: this.riskLevelFilter
              }
            }
          }
        } else {
          this.receiptParams = {
            ...this.filters,
            riskSort: this.riskSort,
            establishmentSort: this.establishmentDateSort,
            pageSize: this.pageSize,
            pageNum: this.pageNum,
            riskLevel: this.riskLevelFilter
          }
          if (this.receiptParams.telephone) {
            this.params = {
              telephone: this.receiptParams.telephone,
              riskSort: this.riskSort,
              establishmentSort: this.establishmentDateSort,
              pageSize: this.pageSize,
              pageNum: this.pageNum
            }
          }
        }
        let params = {}
        if (this.isNotSpecialProvince) {
          params = {
            ...this.receiptParams,
            fiftyNotReceive: this.fiftyNotReceive
          }
        } else {
          params = {
            pageSize: this.pageSize,
            pageNum: this.pageNum,
            areaCodes: this.receiptParams.areaCodes
          }
        }
        this.$httpRequester
            .post('enterpriseClue/list', params)
            .then(r => {
              this.setTableItemData(r)
            })
            .catch(err => {
              this.dataLoading = false
              if (err.code === '5012') {
                detailModule.setFreeOverModalShow(true)
              }
            })
      })
    },
    getVisitorsList(area) {
      const params = {
        // pageNum: 1,
        pageSize: 10,
        areaCodes: area
      }
      this.$httpRequester
          .post('enterpriseClue/random/address/list', params)
          .then(r => {
            this.setTableItemData(r)
          })
          .catch(err => {
            this.dataLoading = false
            if (err.code === '5012') {
              detailModule.setFreeOverModalShow(true)
            }
          })
    },
    noLoginFindEnterPriseName(enterpriseName) {
      const params = {
        pageNum: 1,
        pageSize: 10,
        enterpriseName
      }
      this.$httpRequester
          .post('portal/query', params)
          .then(r => {
            this.filters = {}
            this.filters.keyWord = enterpriseName
            this.setTableItemData(r)
          })
          .catch(err => {
            this.dataLoading = false
            if (err.code === '5012') {
              detailModule.setFreeOverModalShow(true)
            }
          })
    },
    noLoginFindLegalPerson(legalPerson) {
      const params = {
        pageNum: 1,
        pageSize: 10,
        legalPerson
      }
      this.$httpRequester
          .post('portal/query/legaler', params)
          .then(r => {
            this.filters = {}

            this.filters.keyWord = legalPerson
            this.setTableItemData(r)
          })
          .catch(err => {
            this.dataLoading = false
            if (err.code === '5012') {
              detailModule.setFreeOverModalShow(true)
            }
          })
    },
    specialProvinceDisabled(flag) {
      this.ashSettingFlag = !flag
      // console.log(this.ashSettingFlag)
    },
    noLoginFindQualifications(options) {
      const params = {
        pageNum: 1,
        pageSize: 10,
        area: options.area,
        qualificationIds: options.qualifications
      }
      this.$httpRequester
          .post('portal/query/qitem', params)
          .then(r => {
            this.filters = {}
            this.filters.qualificationIds = options.qualifications
            this.setTableItemData(r)
          })
          .catch(err => {
            this.dataLoading = false
            if (err.code === '5012') {
              detailModule.setFreeOverModalShow(true)
            }
          })
    },
    setTableItemData(r) {
      let keyWords = ''
      let areaCode = []
      let filtersQlificationId = []
      if (this.filters) {
        keyWords = this.filters.keyWord || ''
        const reg3 = /[（]/g,reg4 = /[）]/g;
        if (reg3.test(keyWords)){
          keyWords=keyWords.replace(reg3,"(").replace(reg4,")")
        }
        keyWords = keyWords.replace(/(^\s*)|(\s*$)/g, '')
        areaCode = this.filters.areaCodes || []
        filtersQlificationId = this.filters.qualificationIds || []
      }
      this.dataLoading = true
      if (areaCode.length) {
        areaCode.forEach(area => {
          if (this.gangAoTai.includes(area)) {
            this.isNotSpecialProvince = false
          } else {
            this.isNotSpecialProvince = true
          }
        })
      } else {
        this.isNotSpecialProvince = true
      }
      r.data.forEach((e, i) => {
        e.number = i + 1
        const qualificationsList = []
        e.buildQualificationsList.forEach(q => {
          qualificationsList.push(...q.qualificationItems)
        })
        const designQualificationList = []
        e.designQualificationList.forEach(q => {
          designQualificationList.push(...q.qualificationItems)
        })
        /// (this.pageNum - 1) * this.pageSize + i + 1
        e.qualificationsListLocal = qualificationsList.filter(q => {
          return q.id
        })
        e.designQualificationListLocal = designQualificationList.filter(q => {
          return q.id
        })
        // 匹配关键字正则
        // const replaceReg = new RegExp(keyWords, 'g')
        // e.beforeNameListStr = e.beforeNameListStr && e.beforeNameListStr.replace(
        //     this.searchWord,
        //     `<span  style="color:#00AB94;">${this.searchWord}</span>`
        // )
        // 高亮替换v-html值
        const replaceString = '<span class="hightlight">' + keyWords+ '</span>'
        e.registerTypeList = e.registerTypeList || []
        e.qualificationChangeTagList = e.qualificationChangeTagList || []
        e.companyName = e.enterpriseName || e.companyName
        // e.phoneType = e.phoneType  1
        e.receiveCount = this.userId ? e.receiveCount : '登录后可查看 '
        // console.log(e)
        e.companyNameHTML = keyWords
            ? e.companyName.replace(keyWords, replaceString)
            : e.companyName // 开始替换
        // 曾用名
        e.beforeNameList = e.beforeNameList || []
        e.beforeNameListText = e.beforeNameList.join('、')
        e.beforeNameListHtml = keyWords
            ?  e.beforeNameListText.replace(
                keyWords,
                replaceString
            )
            : e.beforeNameListText // 开始替换
        if (e.beforeNameList.length > 2) {
          e.beforeNameListHtmlShort =
              e.beforeNameList.slice(0, 2).join('、') +
              `<span class=" text-tipBlue">...等${e.beforeNameList.length}个</span>`

          e.beforeNameListHtmlShort = keyWords
              ? e.beforeNameListHtmlShort.replace(keyWords, replaceString)
              : e.beforeNameListHtmlShort // 开始替换
        }
        e.qualificationsListText = e.qualificationsListLocal
            .map(q => {
              return q.qualificationName
            })
            .join('、') // 悬浮窗的资质列表
        e.designQualificationListText = e.designQualificationListLocal
            .map(q => {
              return q.qualificationName
            })
            .join('、') // 设计资质
        // if (e.qualificationsList.length > 5) {
        if (filtersQlificationId.length > 0) {
          const findDisplay = []
          const findDesignDisplay = []
          const newList = e.qualificationsListLocal.concat([])
          const newDesignList = e.designQualificationListLocal.concat([])
          filtersQlificationId.forEach(f => {
            const index = newList.findIndex(
                q => parseInt(q.id, 10) === parseInt(f, 10)
            )
            const designIndex = newDesignList.findIndex(
                q => parseInt(q.id, 10) === parseInt(f, 10)
            )
            newList[index] = {}
            newDesignList[designIndex] = {}
            if (index > -1) {
              findDisplay.push(
                  '<span class="qua-hightlight">' +
                  e.qualificationsListLocal[index].qualificationName +
                  '</span>' //找到所有筛选的资质
              )
              //  newList.splice(index, 1)不用slice保证数组长度
            }
            if (designIndex > -1) {
              findDesignDisplay.push(
                  '<span class="qua-hightlight">' +
                  e.designQualificationListLocal[designIndex]
                      .qualificationName +
                  '</span>' //设计资质
              )
              //  newList.splice(index, 1)不用slice保证数组长度
            }
          })

          const otherList = newList.filter(n => {
            return n.qualificationName
          }) // 避免显示混乱 重新取一个数组
          const otherDesignList = newDesignList.filter(n => {
            return n.qualificationName
          })
          const display =
              findDisplay.length > 3
                  ? findDisplay.slice(0, 3).join('、')
                  : findDisplay.join('、') // 取前三个
          const designDisplay =
              findDesignDisplay.length > 2 // 设计只取两个
                  ? findDesignDisplay.slice(0, 2).join('、')
                  : findDesignDisplay.join('、')
          const text =
              findDisplay.length > 3
                  ? ''
                  : otherList
                      .slice(0, 3 - findDisplay.length)
                      .map(q => {
                        return q.qualificationName
                      })
                      .join('、')
          const disignText =
              findDesignDisplay.length > 2
                  ? ''
                  : otherDesignList
                      .slice(0, 2 - findDesignDisplay.length)
                      .map(q => {
                        return q.qualificationName
                      })
                      .join('、')
          const tooltipText = otherList
              .map(q => {
                return q.qualificationName
              })
              .join('、') // 悬浮窗也要高亮

          const desginTooltipText = otherDesignList
              .map(q => {
                return q.qualificationName
              })
              .join('、')
          // e.qualificationsListText =
          //   display + (tooltipText ? '、' + tooltipText : '') // 施工
          // e.designQualificationListText =
          //   designDisplay +
          //   (desginTooltipText ? '、' + desginTooltipText : '') // 设计
          if (display) {
            e.qualificationsText =
                e.qualificationsListLocal.length > 3
                    ? `${display}
                ${text ? '、' + text : ''}
                   <span class=" text-tipBlue"> 等
                  ${e.qualificationsListLocal.length}
                  项 </span>`
                    : `${display}${text ? '、' + text : ''}` // 施工
            e.qualificationsListText =
                display + (tooltipText ? '、' + tooltipText : '')
          } else {
            e.qualificationsListText = tooltipText
            e.qualificationsText =
                e.qualificationsListLocal.length > 3
                    ? `${text}
                  <span class=" text-tipBlue">
                等${e.qualificationsListLocal.length}项</span>`
                    : text
          }
          if (designDisplay) {
            e.desginQualificationText =
                e.designQualificationListLocal.length > 2
                    ? `${designDisplay}${disignText ? '、' + disignText : ''}
                        <span class=" text-tipBlue"> 等
                        ${e.designQualificationListLocal.length}
                        项 </span>`
                    : `${designDisplay}${disignText ? '、' + disignText : ''}` // 设计
            e.designQualificationListText =
                designDisplay +
                (desginTooltipText ? '、' + desginTooltipText : '')
          } else {
            e.designQualificationListText = desginTooltipText
            e.desginQualificationText =
                e.designQualificationListLocal.length > 2
                    ? `${disignText}
                <span class=" text-tipBlue">
                等${e.designQualificationListLocal.length}项</span>`
                    : disignText
          }
        } else {
          const text = e.qualificationsListLocal
              .slice(0, 3)
              .map(q => {
                return q.qualificationName
              })
              .join('、')
          const disignText = e.designQualificationListLocal
              .slice(0, 2)
              .map(q => {
                return q.qualificationName
              })
              .join('、')
          e.qualificationsText =
              e.qualificationsListLocal.length > 3
                  ? `${text}
              <span class=" text-tipBlue">
              等${e.qualificationsListLocal.length}项</span>`
                  : text
          e.desginQualificationText =
              e.designQualificationListLocal.length > 2
                  ? `${disignText}
              <span class=" text-tipBlue">
              等${e.designQualificationListLocal.length}项</span>`
                  : disignText
        }
        if (e.phoneList && e.phoneList.length) {
          if (e.haveReceive) {
            // console.log(e.phoneNumDisplay)
            e.phoneNumDisplay = e.phoneList.map(c => {
              return this.confirmEnding(c, '*') ? c + '(数据验证中)' : c
            })
          } else {
            e.phoneNumDisplay = e.phoneList.join('、')
          }
          //  : '***********'
        } else {
          e.phoneNumDisplay = '暂无联系方式'
        }

        // e.contactInformationListText = e.contactInformationList.join('、')
        // e.receiveCount = e.receiveCount || 0
        e.dealCount = e.dealCount || 0
        // e.haveReceive
        e.checked = false
      })
      this.tableData = r.data
      // console.log(this.tableData)
      const totalLength = r.totalSize.toString().length
      const totalNum = Math.pow(10, totalLength - 1)
      const tipText = Math.floor(r.totalSize / totalNum) // 去除零头
      this.tipText = r.totalSize > 1000 ? tipText * totalNum : r.totalSize
      this.total = r.totalSize
      this.dataLoading = false
      this.$nextTick(() => {
        hide(this.total, this.pageNum)
      })
      if (this.userId) {
        const query = this.$route.query
        if (
            query.qualificationId ||
            query.enterpriseName ||
            query.legalPerson
        ) {
          // if (!r.data[0].haveReceive) {
          //   this.receiveThisItem(r.data[0])
          // }

          this.$setQuery.addQuery(this.$route, {})
        }
      }

      this.isNeedShowWatchBtn()
    },
    isNeedShowWatchBtn() {
      const receiveLength = this.tableData.filter(e => {
        return e.haveReceive
      }).length
      this.showWatchBtn = receiveLength !== this.tableData.length
    },
    goToVipPage() {
      if (!this.isElectron) {
        window.open("http://www.xnjx666.com/vip")

      } else {
        if (window.ipcRenderer) {
          window.ipcRenderer.send('openBrower')
        }
        // this.$router.push({
        //   name: 'vip',
        //   query: {
        //     fromUrl: this.$route.name
        //   }
        // })
      }
    },

    // 活动领取通知
    getActivityNotice() {
      this.$httpRequester.get('wx/activity/get/notice').then(res => {
      })
    },
    //判断结尾字符
    confirmEnding(str, target) {
      const start = str.length - target.length
      const arr = str.substr(start, target.length)
      if (arr === target) {
        return true
      }
      return false
    },
    //判断关键字是中文括号
    chineseChar2englishChar(keyWord) {
      // var str=null
      // const reg = /[(]/g,reg2 = /[)]/g;
      // const reg3 = /[（]/g,reg4 = /[）]/g;
      // if (reg.test(keyWord)){
      //   console.log('包含了英文括号')
      // }
      // if (reg3.test(keyWord)){
      //   str=keyWord.replace(reg3,"").replace(reg4,"")
      // }
      //  // str=keyWord.replace(reg,"").replace(reg2,"")
      //  // str=keyWord.replace(reg3,"").replace(reg4,"")
      // console.log(str)
      // return str
      // 新变量名称.test(字符串变量名称);
      // const replaceString = '<span class="hightlight">' + this.chineseChar2englishChar(keyWords) + '</span>'


    }
  },
  mounted() {
    const userAgent = navigator.userAgent.toLowerCase()
    if (userAgent.indexOf(' electron/') > -1) {
      // console.log('??')
      this.isElectron = true
      // Electron-specific code
    } else {
      this.isElectron = false
    }
    this.userId = this.isElectron
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    // if (!userId) {
    //   this.getVisitorsList()
    // }

    if (detailModule.companyNameToFilter) {
      this.$refs.tableFilterREF.onlyKeyword(detailModule.companyNameToFilter)
    }

    this.$nextTick(() => {
      this.$emit('goBackToTop')
    })
    this.getActivityNotice()
  }
}
</script>
<style lang="scss" scoped>
@import '../../utils/tableItemFree.scss';
</style>
<style lang="scss" scoped>

.ant-btn[disabled] {
  background-color: #f2f6f8 !important;
}

.receipt-page {
  .filter-btns {
    margin-top: 12px;
    padding: 6px 21px;
    border: solid 1px #f2f6f8;
    background-color: #f2f6f8;
    position: relative;

    .noRisk {
      border-color: #d2d6d9;
      // border-color: #999999;
      color: #282828;
      // &:hover {
      //   border-color: #759fff;
      // }

      // &:focus {
      //   border-color: #759fff;
      // }
    }

    .haveRisk {
      border-color: #00ab94;
      // background-color: #00ab94;
      color: #00ab94;

      // &:hover {
      //   background-color: #759fff;
      //   border-color: #759fff;
      // }
    }

    .special-btn {
      color: #fff;
      background-color: #00bc87;
      position: absolute;
      right: 21px;

      &:hover {
        background-color: #00bc87;
        border-color: #00bc87;
      }
    }
  }

  .card-pagination {
    width: 100%;
    // text-align: right;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .fake-btn {
      margin-left: 8px;
    }
  }

  .safeCertificationFilter {
    /deep/ .ant-select-dropdown-menu-item {
      color: #00ab94 !important;
    }
  }
}
</style>
