<template>
  <div class="buying-page">
    <div class="buying-filter" id="buyingFilter">
      <div class="filter-item">
        <div class="filter-label">收货地区：</div>
        <a-select
          allow-clear
          style="width: 305px"
          :getPopupContainer="getPopupContainer"
          v-model="area"
          placeholder="请选择查询区域"
        >
          <a-option
            v-for="item in areaOptions"
            :key="item.value"
            :value="item.value"
            :disabled="item.disabled"
            >{{ item.label }}</a-option
          >
        </a-select>
      </div>
      <div class="filter-item">
        <div class="filter-label">资质类型：</div>
        <tree-checkbox-single-select
          v-model="qualifications"
          class="auto-width"
          containerId="buyingFilter"
          :designQualificationOptions="designQualificationOptions"
          :fakeQualification="fakeQualification"
          :qualificationOptions="qualificationOptions"
        ></tree-checkbox-single-select>
      </div>
      <div class="filter-item">
        <a-button class="large-button" @click="clickFindBtn" type="primary"
          >查询</a-button
        >
        <a-button class="large-button" @click="e => reSetFilter(false)"
          >重置</a-button
        >
      </div>
    </div>
    <div class="table-content">
      <div
        class="buy-tools border-b-[1px] pb-[18px] border-solid border-[#F2F6F8]"
      >
        <div class=" text-textLight">
          小牛建讯为您查询出
          <span class=" text-textPrimary">{{ total }}</span>
          个符合条件的求购信息
        </div>
      </div>
      <div class="flex mt-[28px] items-center justify-between">
        <div
          class="pb-[8px] border-solid border-b-[4px] relative
           border-sysPrimary text-sysPrimary w-[fit-content] text-[18px]"
        >
          全部求购
          <div
            class="text-[14px] left-[83px] top-[5px] absolute w-[126px] text-[#A2A2A2]"
          >
            全平台匹配出售信息
          </div>
        </div>
        <div class="sort-tool">
          <div
            class="tools"
            @click="changeSortRule(0)"
            :class="{ selected: sortIndex === 0 }"
          >
            默认排序
          </div>
          <div class="dividing-line"></div>
          <div
            class="tools"
            @click="changeSortRule(1)"
            :class="{ selected: sortIndex === 1 }"
          >
            最新
          </div>
        </div>
      </div>
      <hr class="line" />
      <div class="table-list">
        <div class="loading" v-show="dataLoading">
          <a-spin size="large" tip="加载中......" />
        </div>
        <div v-if="tableData.length" style="min-height:200px">
          <div v-if="tableData[0].qualification">
            <table-item
              @refreshList="getBuyingList"
              :freeCount="freeCount"
              v-for="(row, index) in tableData"
              :key="index"
              :index="index"
              :row="row"
            ></table-item>
          </div>
          <div class="table-pagination" v-if="total > 10">
            <a-pagination
              v-model="pageNum"
              @change="tableChange"
              @showSizeChange="tableChange"
              :showSizeChanger="false"
              :showQuickJumper="true"
              :pageSize.sync="pageSize"
              :total="total"
            ></a-pagination>
            <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
          </div>
        </div>
        <block-data
          :imageSrc="notFind"
          :text="'发布你的出货信息，有匹配的买家收货，系统将第一时间通知到您'"
          :titleText="'没有找到合适的买家？'"
          v-else
        >
          <a-button
            @click="goToEdit"
            type="primary"
            class="mt-[64px] w-[160px]"
            slot="btSlot"
          >
            立即发布
          </a-button>
        </block-data>
      </div>
      <div
        @click="goToEdit"
        v-if="total > 0"
        class="text-center bg-white p-[24px] w-full flex justify-center"
      >
        <img :src="qrBottom" class="w-full cursor-pointer" />
      </div>
    </div>
  </div>
</template>

<script>
import { TreeSelect, Drawer, Pagination, Select, Spin } from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'
import qrModal from '@/components/qrCode.vue'
import { userModule } from '@/store/modules/user'
import notFind from '@/assets/image/no_data_block.png'
import TableItem from './TableItem'
import processBg from '@/assets/image/qr/process.png'
import TreeCheckboxSingleSelect from '@/components/TreeCheckboxSingleSelect.vue'
import { universalModule } from '@/store/modules/universal'
import { detailModule } from '@/store/modules/detail'

import qrBottom from '@/assets/image/qr/buy_bottom.png'
import { areaJSON } from '@/utils/area'
import Cookie from 'js-cookie'

export default {
  name: 'buy-qualication',
  components: {
    // qrBottom,
    TableItem,
    blockData,
    qrModal,
    aPagination: Pagination,
    aDrawer: Drawer,
    aSpin: Spin,
    aSelect: Select,
    aOption: Select.Option,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    TreeCheckboxSingleSelect
  },
  data() {
    return {
      qrBottom,
      dataLoading: false,
      sortIndex: 0,
      condition: null,
      qualificationIds: [],
      pageSize: 10,
      pageNum: 1,
      total: 0,
      tableData: [{}],
      notFind,
      freeCount: 0,
      userId: '',
      // qualificationOptions: [],
      // fakeQualification: [],
      areaOptions: [],
      qualifications: undefined,
      defaultExpend: [],
      area: 'none',
      areaData: [],
      areaCode: 0,
      lastFilterSave: null,
      haveMyBuyData: false,
      processBg
    }
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    }
  },
  methods: {
    async userIsLogin() {
      try {
        if (!this.userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    goToEdit() {
      this.$emit('changeMenuItem', { routerName: 'excellentShare' })
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1',
          from: this.$route.name
        }
      })
    },
    fastSend() {
      this.$emit('fastSend')
    },
    changeSortRule(index) {
      this.sortIndex = index
      this.getBuyingList()
    },
    getPopupContainer() {
      return document.getElementById('buyingFilter')
    },
    clickFindBtn() {
      this.pageSize = 10
      this.pageNum = 1
      this.getBuyingList()
      // pageSize: this.pageSize,
    },
    reSetFilter() {
      this.qualifications = undefined
      this.areaCode = []
      this.area = undefined
    },
    tableChange(pageNum, pageSize) {
      this.pageSize = pageSize
      this.pageNum = pageNum
      this.$emit('goBackToTop')
      this.getBuyingList()
    },
    selectQualification(item) {
      // console.log(item)
    },

    getFilterCondition() {
      this.$httpRequester
        .get('filter/queryCondition', {
          conditionEnum: 'STOCK_RECEIVING_QUERY'
        })
        .then(res => {
          if (res) {
            const history = JSON.parse(res.filterCondition)
            // console.log(history)
            this.area = history.areaCode === 0 ? 'none' : history.areaCode
            this.pageNum = history.pageNum
            this.pageSize = history.pageSize
            this.sortIndex = history.newestSort ? 1 : 0
            this.qualifications = history.qualificationId
          }
          this.getBuyingList()
        })

        // this.getBuyingList()
    },
    getAreaOptions() {
      const r = areaJSON
      this.areaOptions = []
      this.areaData = r
      const gangAoTai = [810000, 820000, 710000]
      // 去除港澳台
      r.forEach(option => {
        if (gangAoTai.includes(option.areaCode)) {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: true
          })
        } else {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: false
          })
        }
      })
      this.areaOptions.unshift({
        label: '不限',
        value: 'none'
      })
      // this.area = 'none'
    },
    setDefaultExpendKey() {
      this.qualificationOptions.forEach(e => {
        this.defaultExpend.push(e.key)
      })
    },
    getBuyingList() {
      this.dataLoading = true
      const params = {
        areaCode: typeof this.area === 'number' ? this.area : 0,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        newestSort: this.sortIndex === 1, // 是否最新
        qualificationId: this.qualifications
      }
      this.$httpRequester
        .post('trade/resource/buyResourcesList', params)
        .then(res => {
          res.data.forEach(e => {
            e.wantAreaName = e.wantAreaName || '不限'
            e.destinationAreaName = e.destinationAreaName || '不限'
            e.contactsPhoneText =
              '<span ondblclick="copyThisText(' +
              e.contactsPhone +
              ')">' +
              e.contactsPhone +
              '</span>'
          })
          this.dataLoading = false
          this.tableData = res.data
          this.total = res.totalSize
          this.getFreeWatchCount()
        })
    },
    getFreeWatchCount() {
      this.$httpRequester.get('free/count/queryBuyCheckCount').then(res => {
        this.freeCount = res ? res.freeCount : 0
      })
    },
    getMyBuyingList() {
      this.$httpRequester.post('buy/myBuyResourcesList').then(res => {
        this.haveMyBuyData = !!res.length
      })
    }
  },
  mounted() {
    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      universalModule.getTypeQualification()
      universalModule.getQualification()
    }
    this.getAreaOptions()
    if (this.isAdmin) {
      this.getMyBuyingList()
    }

    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
      userAgent.indexOf(' electron/') > -1
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    if (this.userId) {
      this.getFilterCondition()
    } else {
      this.getBuyingList()
    }
  }
}
</script>

<style lang="scss" scoped>
.buying-page {
  padding: 24px;
  .buying-filter {
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 24px 24px 8px 24px;
    position: relative;
    .search-title {
      color: #909399;
      font-size: 16px;
    }

    .filter-item {
      display: flex;
      width: 100%;
      position: relative;
      margin-bottom: 26px;
      align-items: center;
      flex-shrink: 0;
      .filter-label {
        font-size: 14px;
        color: #282828;
        width: 80px;
      }
      .long-label {
        width: 100px;
      }
      .filter-search {
        width: 306px;
        margin-right: 24px;
      }
      .auto-width {
        flex-grow: 0;
        margin-right: 24px;
        min-width: 306px;
        //  max-width: calc(100% - 330px);
      }
      .large-button {
        width: 88px;
        margin-right: 16px;
      }
      .rt-abs-button {
        position: absolute;
        right: 0px;
        width: 116px;
      }
    }
  }
  .line {
    width: 100%;
    margin: 0;
    border-right: none;
    border-left: none;
    border-bottom: 0;
    margin-top: 15px;
    height: 1px;
    border-top: solid 1px #f2f6f8;
  }

  .buy-tools {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .sort-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    .dividing-line {
      height: 15px;
      background-color: #f2f6f8;
      width: 1px;
    }
    .tools {
      cursor: pointer;
      &:hover {
        color: #00ab94;
      }
    }
    .selected {
      color: #00ab94;
    }
  }
  .table-operate {
    margin-top: 10px;
    padding: 10px 21px;
    border: solid 1px #f2f6f8;
    background-color: #f2f6f8;
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    .add-btn {
      position: absolute;
      right: 21px;
    }
  }
  .table-list {
    .table-pagination {
      margin-top: 10px;
      width: 100%;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .fake-btn {
        margin-left: 8px;
      }
    }
  }
  .no-data {
    height: 400px;
    width: 100%;
    position: relative;
    .block-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 700px;
      height: 350px;
      border-radius: 6px;
      border: 1px solid #ccc;
      .block-title {
        font-size: 19px;
        color: #333;
        margin-top: 80px;
        text-align: center;
        font-weight: bold;
      }
      .block-tips {
        margin-top: 30px;
        font-size: 14px;
        text-align: center;
      }
      .block-btns {
        margin-top: 30px;
        display: flex;
        align-items: top;
        justify-content: center;
        text-align: center;
        .btn {
          margin: 0 15px;
          width: 120px;
        }
        // text-align: center;
      }
    }
  }
  .process {
    width: 100%;
    background-size: cover;
    height: 148px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
</style>
