<template>
  <div class="buying-table-item">
    <div class="lf">
      <div class="qua-image" :style="'background-image:url(' + quaImage + ')'">
        <!-- <p>{{ index + 1 }}</p> -->
      </div>
      <div class="info">
        <div class="qualification">{{ row.qualification }}</div>
        <div
          v-if="row.freshResources"
          class="
              text-[14px] text-[#FFA061]  w-[fit-content] bg-[#FFE3D1]
              px-[6px] py-[1px] rounded-[2px]  mr-[8px]
            "
        >
          新上架
        </div>
        <div class="mt-[8px] flex ">
          <div class="w-[56px] text-[14px] text-textPrimary">
            <div class="mb-[2px] ">收货地区</div>
            <div>{{ row.wantAreaName }}</div>
          </div>
          <div class="mx-[24px] mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"></div>
          <div class="w-[56px] text-[14px] text-textPrimary">
            <div class="mb-[2px]">落地地区</div>
            <div>{{ row.destinationAreaName }}</div>
          </div>
          <div class="mx-[24px]  mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"></div>
          <div class="text-[14px] w-[82px] text-textPrimary">
            <div class="mb-[2px]">发布时间</div>
            <div>{{ row.releaseTime }}</div>
          </div>
          <div class="mx-[24px]  mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"></div>
          <div class="w-[56px] text-[14px] text-textPrimary">
            <div class="mb-[2px] ">联系人</div>
            <div
              class="whitespace-nowrap overflow-ellipsis w-full overflow-hidden"
            >
              {{ row.contactsPerson || '-' }}
            </div>
          </div>
          <div class="mx-[24px]  mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"></div>
          <div class="text-[14px] text-textPrimary">
            <div class="mb-[2px] ">联系电话</div>
            <div v-if="!row.checkState">***********</div>
            <div class="  relative text-tipOrange" v-if="row.checkState">
              <span @dblclick="copyPhone"> {{ row.contactsPhone }} </span>
              <a-tooltip title="复制电话号码" placement="right">
                <a-icon
                  @click="copyPhone"
                  :component="conyIcon"
                  style="font-size: 16px;"
                  class="text-[#2194FF] absolute  right-[-19px] bottom-[3px]"
                />
              </a-tooltip>
            </div>
          </div>
        </div>
        <div
          class="
            mt-[5px] text-tipOrange text-[14px]"
        >
          ￥<span class="text-[20px]">面议</span>
        </div>
        <a-button
          class="absolute right-0 w-[88px] bottom-[54px]"
          @click="watchThisPhone"
          type="primary"
          :disabled="row.checkState"
        >
          查看电话
        </a-button>
      </div>
    </div>
  </div>
</template>

<script>
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'
import { Tooltip } from 'ant-design-vue'
import quaImage from '@/assets/image/qr/qua_image.png'
import conyIcon from '@/components/icons/copy.vue'

export default {
  name: 'table-item',
  components: {
    aTooltip: Tooltip
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    }
  },
  props: {
    freeCount: {
      type: Number,
      default: 0
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    },
    index: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      conyIcon,
      quaImage
    }
  },
  methods: {
    copyPhone() {
      this.$message.success('电话号码已复制到粘贴板')
      copyThisText(this.row.contactsPhone)
    },
    watchThisPhone() {
      // if (this.freeCount === 0) {
      //   this.$message.warning('您的免费次数已使用完毕，请联系客服人员增加次数')
      //   return
      // }
      this.$httpRequester
        .get('trade/resource/viewContactInfo', { id: this.row.id })
        .then(() => {
          this.$emit('refreshList')
        })
        .catch(err => {
          if (err.code === '5010') {
            this.$message.warn(err.msg)
            // detailModule.setWatchPhoneModalShow(true)
          } else if (err.code === '5013') {
            detailModule.setGoToVipModalShow(true)
            // detailModule.setWatchPhoneModalShow(true)
          }
        })
    }
  }
}
</script>
<style lang="scss" scoped>
.buying-table-item {
  height: 192px;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid 1px #f2f6f8;
  border-left: solid 1px #f2f6f8;
  border-right: solid 1px #f2f6f8;
  .lf {
    position: relative;
    align-items: flex-start;
    display: flex;
    width: 100%;

    .qua-image {
      z-index: 99;
      width: 104px;
      height: 144px;
      // background-color: #00ab94;
      position: relative;
      margin-right: 20px;
      overflow: hidden;
      border-radius: 3px;
      flex-shrink: 0;
      flex-grow: 0;
      background-size: contain;
      // .image {
      //   width: 175px;
      //   height: 218px;
      //   background-size: cover;
      //   position: absolute;
      //   right: -65px;
      //   bottom: -70px;
      // }
    }
    .info {
      flex-grow: 1;
      height: 144px;
      position: relative;
      .qualification {
        font-size: 16px;
        color: #282828;
        position: relative;
        display: flex;
        font-weight: 500;
        align-items: center;
        //   cursor: pointer;
        margin-bottom: 8px;
      }
      .area-date {
        font-size: 13px;
        margin-bottom: 4px;
        color: #686868;
      }
    }
  }
  .rt {
    .line {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .btns {
      text-align: right;
      width: 70px;
      margin-bottom: 8px;
    }
    .phone-tips {
      font-size: 12px;
      color: #686868;
    }
  }
}
</style>
