<template>
  <div>
    <div class="backBtn" @click="backClick">
      <img :src="back" alt="小牛建讯" height="18px" width="18px"/>
      <span>返回</span>
    </div>
    <div class="bg-white">
      <div class="flex p-[24px] items-center justify-between  text-[16px] text-textPrimary relative">
        <div class="flex">
          {{ detail.respondent }}
          <div v-if="detail.tag==='招募中'"
               :style="'background-image:url(' + conduct + ')'" class="w-[48px] h-[20px] bg-cover ml-[10px]">
          </div>
          <div v-if="detail.tag==='已结束'"
               :style="'background-image:url(' + end + ')'" class="w-[48px] h-[20px] bg-cover ml-[10px]"></div>
        </div>
        <div v-if="detail.deadline" :class="{
        deadline: detail.tag!=='已结束',
          noDeadline: detail.tag==='已结束',
      }" class="text-[14px] text-textLight ml-[8px] ">
          <span>截止日期：</span> <span>{{ detail.deadline }}</span>
        </div>
      </div>
      <div
          class="pl-[24px] h-[54px]  text-[16px] bg-[#F2F6F8]
pt-[16px]
         "
      >
        <div class="border-l-solid border-sysPrimary border-l-[6px] pl-[7px]">破产信息</div>
      </div>
      <div class="bankruptInfo"
      >
        <div class="w-[50%] line">
          <div class=" title">案号</div>
          <div class="info">{{ detail.bankruptcyNum }}</div>
        </div>
        <div class="w-[50%] line">
          <div class="title">公开时间</div>
          <div class="info">{{ detail.releaseTime || '-' }}</div>
        </div>
        <div class="w-[50%] line">
          <div class=" title">经办法院</div>
          <div class="info">{{ detail.court }}</div>
        </div>
        <div class="w-[50%] line">
          <div class=" title">管理机构</div>
          <div class="info">{{ detail.management || '-' }}</div>
        </div>
        <div class="w-[50%] line">
          <div class=" title">申请人</div>
          <div class="info">{{ detail.applicant }}</div>
        </div>
        <div class="w-[50%] line">
          <div class=" title">被申请人</div>
          <div class="info">{{ detail.respondent }}</div>
        </div>
        <div class="w-full line">
          <div class="title">原网址</div>
          <div :class="{noticeAddress:detail.noticeAddress}"><a :href="detail.noticeAddress" class="text-tipBlue" target="blank">{{
              detail.noticeAddress
            }}
          </a></div>

        </div>
      </div>

      <div
          class="pl-[24px] h-[54px] text-[16px] bg-[#F2F6F8] pt-[16px]
         "
      >
        <div class="border-l-solid border-sysPrimary border-l-[6px] pl-[7px]">资质信息</div>
      </div>
      <div class="flex items-center pt-[24px] pl-[24px]">
        <div
            v-for="(item, key) in qualifications"
            :key="key"
            :class="{ 'text-sysPrimary': quaIndex === key }"
            class="text-[16px]  leading-[16px] hover:text-sysPrimary flex items-center cursor-pointer"
            @click="selectQuaType(key)"
        >
          {{ item.industryName }}({{ item.num }})
          <span
              v-if="key < qualifications.length - 1"
              class="w-[6px] h-[6px] rounded-[3px] bg-sysPrimary inline-block mx-[12px]"
          ></span>
        </div>
      </div>

      <div v-for="(item, key) in quaList" :key="key" class="pt-[24px] pl-[24px]">
        <div class="title-band">
          <div :class="{ overtime: item.beOverdue }" class="qualification-type">
            {{ item.certificateType }}
            <div
                :class="{ originColor: item.beOverdue }"
                class="right-triangle"
            ></div>
            <div class="right-triangle white-color"></div>
          </div>
          <div :class="{ originBg: item.beOverdue }" class="type-info">
            <div>
              {{ item.certificateNo }}
              <span class="block"></span>
              有效：{{ item.effectiveDate }}
              <span class="block"></span>
              <span v-if="item.certificateType !== '安许'">
                {{ item.items.length }}项
              </span>
              <span class="block"></span>
              <span v-if="item.beOverdue" class="overtime-text">过期</span>
            </div>
          </div>
        </div>
        <div v-if="item.certificateType !== '安许'" class="content-table">
          <!--          <div class="item-row title">资质项</div>-->
          <div
              v-for="(qua, qIndex) in item.items"
              :key="qIndex"
              class="item-row"
          >
            {{ qua.qualificationName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import back from '@/assets/image/bankrupt/back.png'
import conduct from '@/assets/image/bankrupt/conduct.png'
import end from '@/assets/image/bankrupt/end.png'

export default {
  name: 'bankrupt-detail',
  data() {
    return {
      quaIndex: 0,
      id: '',
      qualifications: [],
      quaList: [],
      detail: {},
      back,
      conduct,
      end
    }
  },
  props: {
    detailId: {
      type: Number
    },
  },
  methods: {
    backClick() {
      this.$emit('backClick')
    },
    selectQuaType(key) {
      this.quaIndex = key
      this.quaList = this.qualifications[this.quaIndex].certificates
    },
    getBankruptDetail() {
      this.$httpRequester
          .get('bankruptcy/bankruptcyDetail', {bankruptcyId: this.detailId})
          .then(res => {
            //   console.log(res)
            this.detail = res.bankruptcyCaseDetailVO
            console.log(this.detail.recruitStatusEnum)
            switch (this.detail.recruitStatusEnum) {

                // case 'OTHER':
                //   this.detail.tag = '其他'
                //   break
              case 'HAVE_IN_HAND':
                this.detail.tag = '招募中'
                break
              case 'HAS_ENDED':
                this.detail.tag = '已结束'
                break
              default:
                break
            }
            this.qualifications = res.certificateIndustryVO
            this.qualifications.forEach((e) => {
              e.num = 0
              if (e.certificates) {
                if (!e.certificates[0].certificateType) {
                  e.certificates = []
                } else {
                  e.certificates.forEach((c) => {
                    e.num += c.qualificationNum
                  })
                }
              } else {
                e.certificates = []
              }
            })
            this.quaList = this.qualifications[this.quaIndex].certificates
          })
    }
  },
  mounted() {
    // this.id = this.$route.query.id
    this.getBankruptDetail()
  }
}
</script>

<style lang="scss" scoped>

.backBtn {
  padding-top: 24px;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #00AB94;
  line-height: 22px;
  cursor: pointer;
  vertical-align: middle;

  img {
    margin-right: 5px;
    vertical-align: middle;

  }

  span {
    vertical-align: middle;

  }
}

.bg-white {

  .deadline {
    color: #FF7F28;
    font-weight: 500;
  }

  .noDeadline {
    span:nth-child(1) {
      font-size: 14px;
      font-weight: 500;
      color: #686868;
      line-height: 22px;
    }

    span:nth-child(2) {
      font-size: 14px;
      font-weight: 500;
      color: #282828;
      line-height: 22px;

    }

  }


}

.bankruptInfo {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;

  .line {
    min-height: 46px;
    display: flex;
    //text-align:center;
    //align-items:center;
    //justify-content:center;


    .title {
      width: 120px;
      min-height: 46px;
      line-height: 46px;
      padding-left: 30px;
      background: #F2F6F8;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      color: #282828;

    }

    .info {
      min-height: 46px;
      line-height: 46px;
      text-align: left;
      width: calc(100% - 120px);
      border-top: 1px solid #F2F6F8;
      border-right: 1px solid #F2F6F8;
      font-size: 14px;
      font-weight: 400;
      color: #686868;
      padding-left:16px;
    }
    .noticeAddress{
      min-height: 46px;
      line-height: 46px;
      text-align: left;
      width: calc(100% - 120px);
      border-top: 1px solid #F2F6F8;
      border-right: 1px solid #F2F6F8;
      border-bottom: 1px solid #F2F6F8;
      font-size: 14px;
      font-weight: 400;
      color: #686868;
      padding-left:16px;

    }


  }

}

.title-band {
  display: flex;
  align-items: center;
  height: 46px;
  justify-content: space-between;
  line-height: 46px;
  font-size: 14px;
  width: 100%;

  .qualification-type {
    position: relative;
    color: #ffffff;
    width: 55px;
    padding-left: 10px;
    text-align: center;
    background-color: #00ab94;

    .right-triangle {
      position: absolute;
      top: 0;
      right: -23px;
      height: 0;
      width: 0;
      border: solid 23px #00ab94;
      border-bottom-color: transparent;
      border-right: transparent;
      border-top-color: transparent;
    }

    .white-color {
      right: -46px;
      border: solid 23px rgba($color: #fff, $alpha: 0.8);
      border-bottom-color: transparent;
      border-right: transparent;
      border-top-color: transparent;
    }

    .originColor {
      border: solid 23px rgba($color: #fa8f00, $alpha: 0.8);
      border-bottom-color: transparent;
      border-right: transparent;
      border-top-color: transparent;
    }
  }

  .overtime {
    background-color: rgba($color: #fa8f00, $alpha: 0.8);
  }

  .type-info {
    text-align: right;
    color: #686868;
    flex-grow: 1;
    font-size: 13px;
    padding-right: 16px;
    margin-left: 23px;
    background-color: #f2f6f8;

    .overtime-text {
      background-color: rgba($color: #fa8f00, $alpha: 0.1);
      width: 42px;
      height: 28px;
      border-radius: 4px;
      margin-left: 5px;
      display: inline-block;
      text-align: center;
      line-height: 28px;
    }

    .block {
      width: 5px;
      display: inline-block;
    }
  }

  .originBg {
    background-color: rgba($color: #fa8f00, $alpha: 0.06);
    color: #fa8f00;
  }
}

.content-table {
  margin-top: 4px;
  // margin-bottom: 24px;
  width: 100%;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  overflow: hidden;

  .item-row {
    position: relative;
    background-color: #fff;
    height: 46px;
    line-height: 36px;
    width: 50%;
    flex-shrink: 1;
    // flex-grow: 1;
    color: #282828;
    text-align: center;

    //&:nth-child(2n) {
    //  border-right: 1px solid rgba(204, 204, 204, 0.3);
    //}

    &:after {
      content: '';
      position: absolute;
      width: 200%;
      height: 1px;
      left: 0;
      bottom: 0;
      border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    }

    //
  }

  .title {
    width: 100%;
    padding-left: 23px;
    text-align: left;
    color: #686868;
  }
}
</style>
