<template>
  <div class="bankrupt-page">
    <div id="brankruptFilter" class="brankrupt-filter relative">
      <div class="filter_box">
        <div class="filter-item">
          <div class="filter-label">企业地区：</div>
          <a-select
              v-model="area"
              :getPopupContainer="getPopupContainer"
              allow-clear
              class="w-[305px]"
              placeholder="请选择查询区域"
          >
            <a-option
                v-for="item in areaOptions"
                :key="item.value"
                :disabled="item.disabled"
                :value="item.value"
            >{{ item.label }}
            </a-option
            >
          </a-select>
        </div>
        <div class="filter-item">
          <div class="filter-label">资质类型：</div>
          <tree-checkbox-single-select
              v-model="qualifications"
              :designQualificationOptions="designQualificationOptions"
              :fakeQualification="fakeQualification"
              :qualificationOptions="qualificationOptions"
              class="auto-width"
              containerId="brankruptFilter"
          ></tree-checkbox-single-select>
        </div>
        <div class="filter-item">
          <div class="filter-label">企业名称：</div>
          <a-input
              v-model="companyName"
              allow-clear
              class="w-[305px]"
              placeholder="请输入企业名称"
          />
        </div>
        <div class="filter-item">
          <div class="filter-label">招募投资人：</div>
          <div>
            <a-checkbox
                :checked="recruiting"
                @change="changeCheckBox('recruiting')"
            >
              招募中
            </a-checkbox>
            <a-checkbox :checked="isOver" @change="changeCheckBox('isOver')">
              已结束
            </a-checkbox>
            <a-checkbox :checked="isOther" @change="changeCheckBox('isOther')">
              其他
            </a-checkbox>
            <a-tooltip placement="right">
              <template slot="title">
                <p class="radio-tips">
                  其他：指企业未发生招募投资公告信息
                </p>
              </template>
              <a-icon type="question-circle"/>
            </a-tooltip>
          </div>
        </div>
        <div class="filter-item">
          <a-button class="large-button" type="primary" @click="clickFindBtn"
          >查询
          </a-button
          >
          <a-button class="large-button" @click="e => reSetFilter(false)"
          >重置
          </a-button
          >
        </div>
      </div>
      <div class="subscribe_box">
        <div class="subscribe-title">订阅</div>
        <div class="subscribe-img">
          <img :src="subscribeCode" alt="小牛建讯" height="120px" width="120px"/>
        </div>
        <div class="subscribe-tips">
          扫码进入小程序订阅破产信息<br>
          我们将及时通过公众号通知你订阅的消息
        </div>
      </div>

    </div>
    <div class="table-content">
      <div
          class="buy-tools border-b-[1px] pb-[18px] border-solid border-[#F2F6F8]"
      >
        <div class="text-textLight">
          小牛建讯为您查询出
          <span class=" text-textPrimary">
          <span v-if="totalTipText">
            <countTo :startVal="0" :endVal="totalTipText" :duration="1000"></countTo>
            <span v-if="totalTipText >= 100">+</span>
          </span>
          <span v-else>
            0
          </span>
        </span>
          家符合条件的企业
        </div>
      </div>
      <!-- <div class="flex mt-[28px] items-center justify-between">
         <div
          class="pb-[8px] border-solid border-b-[4px] relative
           border-sysPrimary text-sysPrimary w-[fit-content] text-[18px]"
        >
          全部求购
          <div
            class="text-[14px] left-[83px] top-[5px] absolute w-[126px] text-[#A2A2A2]"
          >
            全平台匹配出售信息
          </div>
        </div> 
       <div class="sort-tool">
          <div
            class="tools"
            @click="changeSortRule(0)"
            :class="{ selected: sortIndex === 0 }"
          >
            默认排序
          </div>
          <div class="dividing-line"></div>
          <div
            class="tools"
            @click="changeSortRule(1)"
            :class="{ selected: sortIndex === 1 }"
          >
            最新
          </div>
        </div> 
      </div>-->
      <div class="table-list">
        <div v-show="dataLoading" class="loading">
          <a-spin size="large" tip="加载中......"/>
        </div>
        <div v-if="tableData.length" style="min-height:200px">
          <div>
            <table-item
                v-for="(row, index) in tableData"
                :key="index"
                :index="index"
                :isClicked="findClickedItem(row.bankruptcyId)"
                :row="row"
                @goToDetail="goToDetail"
                @refreshList="getBankruptList"
            ></table-item>
          </div>
          <div v-if="total > 10" class="table-pagination">
<!--            <a-pagination-->
<!--                v-model="pageNum"-->
<!--                :pageSize.sync="pageSize"-->
<!--                :showQuickJumper="true"-->
<!--                :showSizeChanger="true"-->
<!--                :total="total"-->
<!--                @change="tableChange"-->
<!--                @showSizeChange="tableChange"-->
<!--            ></a-pagination>-->
            <a-pagination
                v-model="pageNum"
                :hideOnSinglePage="true"
                :pageSize.sync="pageSize"
                :showQuickJumper="true"
                :showSizeChanger="false"
                :showTotal="
              () => {
                return false
              }
            "
                :total="total"
                @change="tableChange"
                @showSizeChange="tableChange"
            ></a-pagination>
            <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
          </div>
          <div class="explain">说明：数据来源全国企业破产重整案件信息网</div>
        </div>
        <block-data
            v-else
            :imageSrc="notFind"
            :text="'未查询到相关数据，请重新设置条件'"
            :titleText="''"
        >
        </block-data>
      </div>
    </div>

    <a-drawer
        :closable="false"
        :destroyOnClose="true"
        :visible="detailDrawer"
        width="840"
        @close="closeDetailDrawer"
    >
      <detailDrawer :detailId="itemDetailId" @backClick="backClick"></detailDrawer>


    </a-drawer>
  </div>
</template>

<script>
import {
  TreeSelect,
  Drawer,
  Pagination,
  Select,
  Spin,
  Input,
  Checkbox,
  Tooltip
} from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'
import {userModule} from '@/store/modules/user'
import notFind from '@/assets/image/no_data_block.png'
import TableItem from './TableItem'
import subscribeCode from '@/assets/image/subscribe_code.png'
import processBg from '@/assets/image/qr/process.png'
import TreeCheckboxSingleSelect from '@/components/TreeCheckboxSingleSelect.vue'
import {universalModule} from '@/store/modules/universal'
import {detailModule} from '@/store/modules/detail'
import detailDrawer from './Detail.vue'
import { hide } from '@/components/pageationHide.js'
import {areaJSON} from '@/utils/area'
import Cookie from 'js-cookie'
import countTo from 'vue-count-to'


export default {
  name: 'bankrupt-list',
  components: {
    countTo,
    TableItem,
    blockData,
    detailDrawer,
    aCheckbox: Checkbox,
    aTooltip: Tooltip,
    aInput: Input,
    aPagination: Pagination,
    aDrawer: Drawer,
    aSpin: Spin,
    aSelect: Select,
    aOption: Select.Option,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    TreeCheckboxSingleSelect
  },
  data() {
    return {
      totalTipText:0,
      clickItems: [],
      recruiting: true,
      isOver: true,
      isOther: true,
      companyName: '',
      dataLoading: false,
      sortIndex: 0,
      qualificationIds: [],
      pageSize: 10,
      pageNum: 1,
      total: 0,
      tableData: [],
      notFind,
      userId: '',
      recruitStatusEnum: [],
      areaOptions: [],
      qualifications: undefined,
      area: undefined,
      areaData: [],
      areaCode: '',
      lastFilterSave: null,
      processBg,
      subscribeCode,
      detailDrawer: false,
      itemDetailId: null,
      recruitStatusEnumMap: new Map([
        ['OTHER', '其他'],
        ['HAVE_IN_HAND', '招募中'],
        ['HAS_ENDED', '已结束'],
      ])
    }
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    }
  },
  methods: {
    backClick() {
      this.detailDrawer = false
    },
    async userIsLogin() {
      try {
        if (!this.userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    findClickedItem(bankruptcyId) {
      // 判断有没有点过
      const have = this.clickItems.find(c => c === bankruptcyId)
      return have
    },
    goToDetail(id) {
      this.detailDrawer = true
      this.itemDetailId = id
      if (!this.findClickedItem(id)) {
        this.clickItems.push(id)
      }
      // const history = {
      //   name: 'bankruptDetail',
      //   query: { id },
      //   title: '破产详情'
      // }
      // universalModule.changeHistoryListItem(history)
      // this.$router.push({
      //   name: 'bankruptDetail',
      //   query: {
      //     id
      //   }
      // })
    },
    changeCheckBox(props) {
      this[props] = !this[props]
    },
    getPopupContainer() {
      return document.getElementById('brankruptFilter')
    },
    clickFindBtn() {
      this.pageSize = 10
      this.pageNum = 1
      this.getBankruptList()
    },
    setFilterToServer() {
      if (!this.qualifications && !this.area) {
        this.$message.warning('请选择筛选条件后再查询!')
        return
      }

      const params = {
        filterCondition: JSON.stringify({
          area: this.area,
          qualifications: this.qualifications
        }),
        companyId: userModule.companyId || 1, // todo:测试数据
        saveUserName: userModule.name,
        saveUserId: userModule.userId,
        conditionName: userModule.name + '共享数据'
      }
      if (this.lastFilterSave) {
        params.id = this.lastFilterSave.id
        this.$httpRequester
            .put('filter/buy/updateConditionByPage', params)
            .then(() => {
              console.log('更新成功')
            })
      } else {
        this.$httpRequester
            .post('filter/buy/saveConditionByPage', params)
            .then(() => {
              console.log('保存成功')
            })
      }
      this.areaCode = this.area
      this.getBankruptList()
    },
    reSetFilter() {
      this.qualifications = undefined
      this.areaCode = []
      this.area = undefined
      this.isOver = true
      this.isOther = true
      this.recruiting = true
      this.companyName = ''
    },
    tableChange(pageNum, pageSize) {
      this.pageSize = pageSize
      this.pageNum = pageNum
      this.$emit('goBackToTop')
      this.getBankruptList()
    },

    getFilterCondition() {
      this.$httpRequester
          .get('filter/queryCondition', {
            conditionEnum: 'BANKRUPTCY_QUERY'
          })
          .then(res => {
            if (res) {
              const history = JSON.parse(res.filterCondition)
              this.area = history.enterpriseAreaCode === '' ? '不限' : parseInt(history.enterpriseAreaCode)
              this.isOver= history.recruitStatusEnum.indexOf('HAS_ENDED')>-1
              this.isOther= history.recruitStatusEnum.indexOf('OTHER')>-1
              this.recruiting= history.recruitStatusEnum.indexOf('HAVE_IN_HAND')>-1
              this.pageNum = history.current
              this.pageSize = history.size
              this.qualifications = history.qualificationId
              this.companyName=history.enterpriseName
            }
            this.getBankruptList()
          })
    },
    getAreaOptions() {
      const r = areaJSON
      this.areaOptions = []
      this.areaData = r
      const gangAoTai = [810000, 820000, 710000]
      // 去除港澳台
      r.forEach(option => {
        if (gangAoTai.includes(option.areaCode)) {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: true
          })
        } else {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: false
          })
        }
      })
      this.areaOptions.unshift({
        label: '不限',
        value: 'none'
      })
      // this.area = 'none'
    },
    getBankruptList() {
      const recruitStatusEnum = []
      if (this.isOver) {
        recruitStatusEnum.push('HAS_ENDED')
      }
      if (this.isOther) {
        recruitStatusEnum.push('OTHER')
      }
      if (this.recruiting) {
        recruitStatusEnum.push('HAVE_IN_HAND')
      }
      if (recruitStatusEnum.length<1){
        this.$message.error('请选择招募投资人后再进行查询')
        return false
      }
      this.dataLoading = true
      let areaArry = ''
      // console.log('this.area',this.area)
      if (typeof this.area === 'number') {
        // const findProvice = areaJSON.find(e => {
        //   return e.areaCode === this.area
        // })
        //  选省份包含所有的市
        // if (findProvice) {
        //   areaArry = findProvice.cityList
        //     .map(list => {
        //       return list.areaCode
        //     })
        //     .concat(this.area)
        // }
        areaArry = this.area
      } else {
        areaArry = ''
      }
      let enterpriseName = ''
      let filtersQlificationId = ''
      const params = {
        enterpriseName: this.companyName,
        enterpriseAreaCode: areaArry,
        // typeof this.area === 'number' ? [this.area] : [],
        current: this.pageNum,
        size: this.pageSize,
        recruitStatusEnum,
        // recruitStatusEnum: ['OTHER', 'HAVE_IN_HAND', 'HAS_ENDED'], // 是否最新
        qualificationId: this.qualifications
      }
      enterpriseName = params.enterpriseName || ''
      filtersQlificationId = params.qualificationId || ''

      this.$httpRequester.post('bankruptcy/list', params).then(res => {
        res.data.forEach(e => {
          // 匹配企业名称
          const replaceReg = new RegExp(enterpriseName, 'g')
          // 高亮替换v-html值
          const replaceString = '<span class="hightlight">' + enterpriseName + '</span>'
          e.companyNameHTML = enterpriseName
              ? e.enterpriseName.replace(replaceReg, replaceString)
              : e.enterpriseName // 开始替换

          const qualificationsList = e.buildQua
          const designQualificationList = e.designQua
          /// (this.pageNum - 1) * this.pageSize + i + 1
          e.qualificationsListLocal = qualificationsList.filter(q => {
            return q.id
          })
          e.designQualificationListLocal = designQualificationList.filter(q => {
            return q.id
          })
          e.qualificationsListText = e.qualificationsListLocal
              .map(q => {
                return q.qualificationName
              })
              .join('、') // 悬浮窗资质列表
          e.designQualificationListText = e.designQualificationListLocal
              .map(q => {
                return q.qualificationName
              })
              .join('、') // 设计资质
          if (filtersQlificationId) {
            const findDisplay = []
            const findDesignDisplay = []
            const newList = e.qualificationsListLocal.concat([])
            const newDesignList = e.designQualificationListLocal.concat([])
            const index = newList.findIndex(
                q => parseInt(q.id, 10) === parseInt(filtersQlificationId, 10)
            )
            const designIndex = newDesignList.findIndex(
                q => parseInt(q.id, 10) === parseInt(filtersQlificationId, 10)
            )
            newList[index] = {}
            newDesignList[designIndex] = {}
            if (index > -1) {
              findDisplay.push(
                  '<span class="qua-hightlight">' +
                  e.qualificationsListLocal[index].qualificationName +
                  '</span>' //找到所有筛选的资质
              )
              //  newList.splice(index, 1)不用slice保证数组长度
            }
            if (designIndex > -1) {
              findDesignDisplay.push(
                  '<span class="qua-hightlight">' +
                  e.designQualificationListLocal[designIndex]
                      .qualificationName +
                  '</span>' //设计资质
              )
              //  newList.splice(index, 1)不用slice保证数组长度
            }

            const otherList = newList.filter(n => {
              return n.qualificationName
            }) // 避免显示混乱 重新取一个数组
            const otherDesignList = newDesignList.filter(n => {
              return n.qualificationName
            })
            const display =
                findDisplay.length > 3
                    ? findDisplay.slice(0, 3).join('、')
                    : findDisplay.join('、') // 取前三个
            const designDisplay =
                findDesignDisplay.length > 2 // 设计只取两个
                    ? findDesignDisplay.slice(0, 2).join('、')
                    : findDesignDisplay.join('、')
            const text =
                findDisplay.length > 3
                    ? ''
                    : otherList
                        .slice(0, 3 - findDisplay.length)
                        .map(q => {
                          return q.qualificationName
                        })
                        .join('、')
            const disignText =
                findDesignDisplay.length > 2
                    ? ''
                    : otherDesignList
                        .slice(0, 2 - findDesignDisplay.length)
                        .map(q => {
                          return q.qualificationName
                        })
                        .join('、')
            const tooltipText = otherList
                .map(q => {
                  return q.qualificationName
                })
                .join('、') // 悬浮窗也要高亮

            const desginTooltipText = otherDesignList
                .map(q => {
                  return q.qualificationName
                })
                .join('、')
            // e.qualificationsListText =
            //   display + (tooltipText ? '、' + tooltipText : '') // 施工
            // e.designQualificationListText =
            //   designDisplay +
            //   (desginTooltipText ? '、' + desginTooltipText : '') // 设计
            if (display) {
              e.qualificationsText =
                  e.qualificationsListLocal.length > 3
                      ? `${display}
                ${text ? '、' + text : ''}
                   <span class=" text-tipBlue"> 等
                  ${e.qualificationsListLocal.length}
                  项 </span>`
                      : `${display}${text ? '、' + text : ''}` // 施工
              e.qualificationsListText =
                  display + (tooltipText ? '、' + tooltipText : '')
            } else {
              e.qualificationsListText = tooltipText
              e.qualificationsText =
                  e.qualificationsListLocal.length > 3
                      ? `${text}
                  <span class=" text-tipBlue">
                等${e.qualificationsListLocal.length}项</span>`
                      : text
            }
            if (designDisplay) {
              e.desginQualificationText =
                  e.designQualificationListLocal.length > 2
                      ? `${designDisplay}${disignText ? '、' + disignText : ''}
                        <span class=" text-tipBlue"> 等
                        ${e.designQualificationListLocal.length}
                        项 </span>`
                      : `${designDisplay}${disignText ? '、' + disignText : ''}` // 设计
              e.designQualificationListText =
                  designDisplay +
                  (desginTooltipText ? '、' + desginTooltipText : '')
            } else {
              e.designQualificationListText = desginTooltipText
              e.desginQualificationText =
                  e.designQualificationListLocal.length > 2
                      ? `${disignText}
                <span class=" text-tipBlue">
                等${e.designQualificationListLocal.length}项</span>`
                      : disignText
            }
          } else {
            const text = e.qualificationsListLocal
                .slice(0, 3)
                .map(q => {
                  return q.qualificationName
                })
                .join('、')
            const disignText = e.designQualificationListLocal
                .slice(0, 2)
                .map(q => {
                  return q.qualificationName
                })
                .join('、')
            e.qualificationsText =
                e.qualificationsListLocal.length > 3
                    ? `${text}
              <span class=" text-tipBlue">
              等${e.qualificationsListLocal.length}项</span>`
                    : text
            e.desginQualificationText =
                e.designQualificationListLocal.length > 2
                    ? `${disignText}
              <span class=" text-tipBlue">
              等${e.designQualificationListLocal.length}项</span>`
                    : disignText
          }

          e.areaName = e.areaName || '不限'
          e.recruitStatusEnum = this.recruitStatusEnumMap.get(e.recruitStatusEnum)
          // e.wantAreaName = e.wantAreaName || '不限'
          // e.destinationAreaName = e.destinationAreaName || '不限'
          // e.contactsPhoneText =
          //   '<span ondblclick="copyThisText(' +
          //   e.contactsPhone +
          //   ')">' +
          //   e.contactsPhone +
          //   '</span>'
        })
        this.dataLoading = false
        this.tableData = res.data
        // console.log(this.tableData)
        this.total = res.totalSize

          const totalLength = res.totalSize.toString().length
          const totalNum = Math.pow(10, totalLength - 1)
        const tipText = Math.floor(res.totalSize / totalNum) // 去除零头
          this.totalTipText = res.totalSize > 100 ? tipText * totalNum : res.totalSize

        this.$nextTick(() => {
          hide(this.total, this.pageNum)
        })
      })
    },
    closeDetailDrawer() {
      this.detailDrawer = false
    }
  },
  mounted() {
    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      universalModule.getTypeQualification()
      universalModule.getQualification()
    }
    this.getAreaOptions()

    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
        userAgent.indexOf(' electron/') > -1
            ? localStorage.getItem('userId')
            : Cookie.get('userId')
    if (this.userId) {
      this.getFilterCondition()
    } else {
    this.getBankruptList()
    }
  }
}
</script>
<style lang="scss">
.hightlight {
  color: #f30c0c !important;
}

.qua-hightlight {
  color: #f30c0c !important;
}
</style>

<style lang="scss" scoped>
::v-deep .ant-drawer-body {
  padding: 0 !important;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

.bankrupt-page {
  padding: 24px;

  .brankrupt-filter {
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .subscribe_box {
      margin-right: 40px;
      text-align: center;
      //margin-top: 13px;
      width: 280px;
      height: 216px;
      background: linear-gradient(180deg, #F7FFFE 0%, #D1FFF9 63%, #E3FFFB 100%);
      border-radius: 4px;
      border: 1px solid #88E5D9;

      .subscribe-title {
        margin-top: 13px;
        font-size: 16px;
        font-weight: 500;
        color: #00AB94;
        line-height: 22px;
        margin-bottom: 8px;

      }

      .subscribe-tips {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 171, 148, 0.49);
        line-height: 20px;
      }


    }

    .search-title {
      color: #909399;
      font-size: 16px;
    }

    .filter-item {
      display: flex;
      width: 100%;
      position: relative;
      margin-bottom: 26px;
      align-items: center;
      flex-shrink: 0;

      .filter-label {
        font-size: 14px;
        color: #282828;
        width: 90px;
      }

      .long-label {
        width: 100px;
      }

      .filter-search {
        width: 306px;
        margin-right: 24px;
      }

      .auto-width {
        flex-grow: 0;
        margin-right: 24px;
        min-width: 306px;
        //  max-width: calc(100% - 330px);
      }

      .large-button {
        width: 88px;
        margin-right: 16px;
      }

      .rt-abs-button {
        position: absolute;
        right: 0px;
        width: 116px;
      }
    }
  }

  .line {
    width: 100%;
    margin: 0;
    border-right: none;
    border-left: none;
    border-bottom: 0;
    margin-top: 15px;
    height: 1px;
    border-top: solid 1px #f2f6f8;
  }

  .buy-tools {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .sort-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;

    .dividing-line {
      height: 15px;
      background-color: #f2f6f8;
      width: 1px;
    }

    .tools {
      cursor: pointer;

      &:hover {
        color: #00ab94;
      }
    }

    .selected {
      color: #00ab94;
    }
  }

  .table-operate {
    margin-top: 10px;
    padding: 10px 21px;
    border: solid 1px #f2f6f8;
    background-color: #f2f6f8;
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;

    .add-btn {
      position: absolute;
      right: 21px;
    }
  }

  .table-list {
    .table-pagination {
      margin-top: 24px;
      width: 100%;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .explain {
      font-size: 14px;
      font-weight: 400;
      color: #A0A6AB;
      line-height: 22px;
      margin-top: 24px;
    }
  }

  .no-data {
    height: 400px;
    width: 100%;
    position: relative;

    .block-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 700px;
      height: 350px;
      border-radius: 6px;
      border: 1px solid #ccc;

      .block-title {
        font-size: 19px;
        color: #333;
        margin-top: 80px;
        text-align: center;
        font-weight: bold;
      }

      .block-tips {
        margin-top: 30px;
        font-size: 14px;
        text-align: center;
      }

      .block-btns {
        margin-top: 30px;
        display: flex;
        align-items: top;
        justify-content: center;
        text-align: center;

        .btn {
          margin: 0 15px;
          width: 120px;
        }

        // text-align: center;
      }
    }
  }

  .process {
    width: 100%;
    background-size: cover;
    height: 148px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .table-content {
    .text-textLight {
      font-size: 14px;
      font-weight: 400;
      color: #686868;
      line-height: 20px;

      .text-textPrimary {
        color: #00AB94;
      }

    }
  }
}
</style>
