<template>
  <div class="bankrupt-table-item">
    <div class="lf">
      <div :style="'background-image:url(' + pcOffical + ')'" class="w-[60px] h-[60px] bg-cover flex-shrink-0">
        <!-- <p>{{ index + 1 }}</p> -->
      </div>
      <div class="info">
        <div class="infoTitle">
          <div :class="{ isClicked: isClicked }"
               class="enterprise-name" @click="goToDetail" v-html="row.companyNameHTML">
          </div>
          <div v-if="row.recruitStatusEnum==='招募中'"
               :style="'background-image:url(' + conduct + ')'" class="w-[48px] h-[20px] bg-cover ml-[10px]">
          </div>
          <div v-if="row.recruitStatusEnum==='已结束'"
               :style="'background-image:url(' + end + ')'" class="w-[48px] h-[20px] bg-cover ml-[10px]"></div>
        </div>

        <div v-show="row.qualificationsListLocal.length" class="mt-[5px]">
          <a-popover
              v-if="row.qualificationsListLocal.length >= 4"
              trigger="hover"
          >
            <div slot="title" class="popover-title ">施工资质</div>
            <template slot="content">
              <div
                  style="max-width: 600px"
                  v-html="row.qualificationsListText"
              ></div>
            </template>
            <div class="flex">
              <div
                  :class="{ isClicked: isClicked }"
                  class="text-textLight flex-shrink-0 regionTitle"
              >
                施工资质：
              </div>
              <span
                  :class="{ isClicked: isClicked }"
                  class=" text-textPrimary"
                  v-html="row.qualificationsText"
              ></span>
            </div>
          </a-popover>
          <div v-else :class="{ isClicked: isClicked }"
          >
            <div class="flex">
              <div
                  :class="{ isClicked: isClicked }"
                  class="flex-shrink-0 text-textLight regionTitle"
              >
                {{ row.specialText || '施工资质：' }}
              </div>
              <span
                  :class="{ isClicked: isClicked }"
                  class=" text-textPrimary"
                  v-html="row.qualificationsText"
              ></span>
            </div>
          </div>
        </div>
        <div v-show="row.designQualificationListLocal.length" class="mt-[5px]">
          <a-popover
              v-if="row.designQualificationListLocal.length >= 3"
              trigger="hover"
          >
            <div slot="title" class="popover-title ">设计资质</div>
            <template slot="content">
              <div
                  style="max-width: 600px"
                  v-html="row.designQualificationListText"
              ></div>
            </template>
            <div class="flex">
              <div
                  :class="{ isClicked: isClicked }"
                  class="text-textLight flex-shrink-0 regionTitle"
              >
                设计资质：
              </div>
              <span
                  :class="{ isClicked: isClicked }"
                  class="text-textPrimary "
                  v-html="row.desginQualificationText"
              ></span>
            </div>
          </a-popover>
          <div v-else :class="{ isClicked: isClicked }"
          >
            <div class="flex">
              <div
                  :class="{ isClicked: isClicked }"
                  class="text-textLight flex-shrink-0 regionTitle"
              >
                {{ row.specialText || '设计资质：' }}
              </div>
              <span
                  :class="{ isClicked: isClicked }"
                  class="text-textPrimary"
                  v-html="row.desginQualificationText"
              ></span>
            </div>
          </div>
        </div>
        <div class="mt-[5px] region">
          <span :class="{ isClicked: isClicked }" class="text-textLight regionTitle"
          >
            <img :src="cityIcon" alt="小牛建讯" height="14px" width="14px">
            地区：</span>
          <span :class="{ isClicked: isClicked }" class="areaName">{{ row.areaName }}</span>
          <span v-if="row.releaseTime" :class="{ isClicked: isClicked }" class="regionTitle ml-[24px] "
          >
            发布时间：<span :class="{ isClicked: isClicked }" class="areaName">{{ row.releaseTime }}</span>
          </span>
          <span v-if="row.deadline" :class="{ isClicked: isClicked,
             deadline: row.recruitStatusEnum!=='已结束',
          noDeadline: row.recruitStatusEnum==='已结束',}" class="ml-[28px]"
          ><span>截止时间：</span><span>{{ row.deadline }}</span></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {userModule} from '@/store/modules/user'
import {detailModule} from '@/store/modules/detail'
import {Tooltip, Popover} from 'ant-design-vue'
import pcOffical from '@/assets/image/tableItem/pc_office.png'
import conduct from '@/assets/image/bankrupt/conduct.png'
import end from '@/assets/image/bankrupt/end.png'
import cityIcon from '@/assets/image/bankrupt/icon_dizhi.png'


import conyIcon from '@/components/icons/copy.vue'

export default {
  name: 'table-item',
  components: {
    aTooltip: Tooltip,
    aPopover: Popover
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    }
  },
  props: {
    isClicked: {
      type: [Boolean, Number, String],
      default: false
    },
    freeCount: {
      type: Number,
      default: 0
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    },
    index: {
      type: Number,
      default: 0
    },

  },
  data() {
    return {
      conyIcon,
      pcOffical,
      conduct,
      end,
      cityIcon
    }
  },
  methods: {
    goToDetail() {
      this.$emit('goToDetail', this.row.bankruptcyId)
    },
    copyPhone() {
      this.$message.success('电话号码已复制到粘贴板')
      copyThisText(this.row.contactsPhone)
    },
    watchThisPhone() {
      // if (this.freeCount === 0) {
      //   this.$message.warning('您的免费次数已使用完毕，请联系客服人员增加次数')
      //   return
      // }
      this.$httpRequester
          .get('trade/resource/viewContactInfo', {id: this.row.id})
          .then(() => {
            this.$emit('refreshList')
          })
          .catch(err => {
            if (err.code === '5010') {
              this.$message.warn(err.msg)
              // detailModule.setWatchPhoneModalShow(true)
            } else if (err.code === '5013') {
              detailModule.setGoToVipModalShow(true)
              // detailModule.setWatchPhoneModalShow(true)
            }
          })
    }
  }
}
</script>
<style lang="scss">

.isClicked {
  color: #a2a2a2 !important;

  span {
    color: #a2a2a2 !important;
  }

  .staff {
    border-color: #a2a2a2 !important;
  }
}
</style>
<style lang="scss" scoped>
.regionTitle {
  font-size: 14px;
  font-weight: 500;
  color: #686868;
  line-height: 22px;

}
.bankrupt-table-item {
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid 1px #f2f6f8;
  border-left: solid 1px #f2f6f8;
  border-right: solid 1px #f2f6f8;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: #00ab94, $alpha: 0.05);

    .enterprise-name {
      color: #00ab94;
    }
  }

  .lf {
    position: relative;
    align-items: flex-start;
    display: flex;
    width: 100%;

    .qua-image {
      z-index: 99;
      width: 104px;
      height: 90px;
      position: relative;
      margin-right: 20px;
      overflow: hidden;
      border-radius: 3px;
      flex-shrink: 0;
      flex-grow: 0;
      background-size: contain;
    }

    .info {
      flex-grow: 1;
      //height: 90px;
      position: relative;
      color: #282828;
      margin-left: 24px;

      .infoTitle {
        display: flex;

        .enterprise-name {
          font-size: 16px;
          position: relative;
          display: flex;
          font-weight: 500;
          align-items: center;
          //   cursor: pointer;
          margin-bottom: 8px;
        }

        .conduct {

        }


      }

      .region {


        .areaName {
          font-size: 14px;
          font-weight: 500;
          color: #282828;
          line-height: 22px;
        }

        .deadline {
          font-size: 14px;
          font-weight: 500;
          color: #FF7F28;
          line-height: 22px;

        }
        .noDeadline {
          span:nth-child(1) {
            font-size: 14px;
            font-weight: 500;
            color: #686868;
            line-height: 22px;
          }
          span:nth-child(2) {
            font-size: 14px;
            font-weight: 500;
            color: #282828;
            line-height: 22px;

          }

        }


      }

      .area-date {
        font-size: 13px;
        margin-bottom: 4px;
        color: #686868;
      }
    }
  }

  .rt {
    .line {
      font-size: 13px;
      margin-bottom: 5px;
    }

    .btns {
      text-align: right;
      width: 70px;
      margin-bottom: 8px;
    }

    .phone-tips {
      font-size: 12px;
      color: #686868;
    }
  }
}
</style>
