<template>
  <div class="qr-page">
    <!--  <div class="page-tabs">
     <a-tabs size="large" :activeKey="activeKey" @change="changeRouter">
        <a-tab-pane
          v-for="item in tabs"
          :key="item.routerName"
          :tab="item.tab"
        ></a-tab-pane>
      </a-tabs>
    </div>-->
    <router-view />
  </div>
</template>

<script>
import { Tabs } from 'ant-design-vue'
export default {
  name: 'client-layout',
  data() {
    return {
      activeKey: 'processubg',
      tabs: [
        { tab: '跟进中客户', routerName: 'processing' },
        { tab: '历史记录', routerName: 'clientHistory' }
      ]
    }
  },
  components: {
    aTabs: Tabs,
    aTabPane: Tabs.TabPane
  },
  methods: {
    changeRouter(key) {
      this.$router.push({
        name: key
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.activeKey = this.$route.name
      //  this.changeRouter(this.activeKey)
    })
  }
}
</script>

<style lang="scss">
// .page-tabs {
//   border-radius: 4px;
//   height: 50px;
//   background-color: #ffffff;
//   .ant-tabs-nav-container {
//     height: 50px;
//   }
// }
</style>
<style lang="scss" scoped>
.qr-page {
  .page-tabs {
    border-radius: 4px 4px 0 0;
    height: 58px;
    background-color: #ffffff;
    // .ant-tabs-nav-container {
    //   height: 50px;
    // }
  }
}
</style>
