<template>
  <div id="clientFilter" class="mine-client-page">
    <div class="filter-box">
      <!-- <div class="filter-title">满足下列所有条件</div> -->
      <div class="filter-list">
        <div class="filter-item">
          <div class="label-title">企业名称：</div>
          <a-input
            v-model="filterOptions.enterpriseName"
            class="filter-input"
            placeholder="请输入查询企业"
          ></a-input>
        </div>
        <div class="filter-item">
          <div class="label-title">更新时间：</div>

          <a-date-range
            v-model="dateRanger"
            :disabled-date="disabledEndDate"
            :getCalendarContainer="getPopupContainer"
            :placeholder="['请选择开始时间', '结束时间']"
            class="filter-input"
            @change="selectDateRange"
          >
            <a-icon slot="suffixIcon" type="calendar" />
          </a-date-range>
        </div>
        <div class="filter-item">
          <div class="label-title">数据来源：</div>
          <a-select
            v-model="clueSources"
            :getPopupContainer="getPopupContainer"
            allowClear
            class="filter-input"
            placeholder="请选择数据来源"
          >
            <a-select-option
              v-for="item in sourceOptions"
              :key="item.value"
              :value="item.value"
              >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div v-if="isSales" class="filter-item">
          <div class="label-title ">跟进人：</div>
          <staffSelect
            ref="searchQua"
            @followStaffChange="followStaffChange"
          ></staffSelect>
        </div>
      </div>
      <div class="operate-btns">
        <a-button class="btns rt" type="primary" @click="beforeGetList">
          查询
        </a-button>
        <a-button class="btns" @click="renewFilter">重置</a-button>
      </div>
    </div>
    <div class="table-content">
      <div class="table-btns">
        <!--        <a-button class="btn rt" @click="showStatusModal">更改状态</a-button>
        <a-button
          :disabled="isSuperAdmin || isSales"
          class="btn"
          @click="receiveEnterprise"
          >分配资源</a-button
        >-->
        <a-Tooltip arrow-point-at-center placement="top">
          <template slot="title">
            <div class="client-tips">
              您在“收货/出货查询”中获取的电话，仅沟通状态为“有意向”的企业转入“我的客户”。<br />
              您可在“我的客户”列表中进行状态修改，“未成交”或“已成交”状态下该资源都将退回“收货/出货查询”首页列表。
            </div>
          </template>
          <div class="client-description">
            <a-icon class="icon" type="question-circle" />
            跟进中的客户规则说明
          </div>
        </a-Tooltip>
      </div>
      <a-table
        v-if="total"
        :columns="columns"
        bordered
        :data-source="tableData"
        :pagination="false"
        rowKey="idDisplay"
        @change="handleTableChange"
      >
        <!-- :row-selection="rowSelection" -->
        <template slot="goToCompanyDetail" slot-scope="text, item">
          <div>
            <a class="color18" @click="goToCompanyDetail(item)">{{ text }}</a>
          </div>
        </template>

        <template slot="qualificationItemsText" slot-scope="text, item">
          <a-popover v-if="item.quaLength >= 7" trigger="hover">
            <div slot="title" class="popover-title">沟通资质</div>
            <template slot="content">
              <div class="popover-details" style="width: 496px;">
                {{ text }}
              </div>
            </template>
            <div class="qua-detail text-textLight cursor-pointer">
              <span>{{ text }}</span>
            </div>
          </a-popover>
          <div v-else class="qua-detail text-textLight">
            {{ text }}
          </div>
        </template>
        <template slot="followRemarks" slot-scope="text, item">
          <div
            @click="goToFollowList(item)"
            class="text-tipBlue cursor-pointer"
          >
            {{ text | filter20 }}
          </div>
        </template>

        <!-- <template slot="phoneList" slot-scope="text, item">
          <a-popover v-if="item.phoneList.length > 1" trigger="hover">
            <div class="popover-title" slot="title">联系电话</div>
            <template slot="content">{{ item.phoneListText }}</template>
            {{ text }}
          </a-popover>
          <div v-else>{{ text }}</div>
        </template> -->
        <template slot="followStatus" slot-scope="text, item">
          <editable-cell
            :cssJudge="cssJudge"
            :displayText="text"
            :isCanEdit="false"
            :statusList="statusList"
            :text="item.followStatusCode"
            @change="e => onCellChange(e, item)"
          />
        </template>
      </a-table>
      <block-data
          v-else
          :imageSrc="notFind"
          :text="''"
          :titleText="''"
      ></block-data>
      <div class="card-pagination">
        <a-pagination
            v-model="pageNum"
            :hideOnSinglePage="true"
            :showTotal="
              () => {
                return false
              }
            "
            @change="changePageNum"
            :showQuickJumper="true"
            :pageSize.sync="pageSize"
            :total="total"
        ></a-pagination>
        <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
      </div>

    </div>
    <a-drawer
      :closable="false"
      :visible="showCompanyDetailDrawer"
      width="840"
      @close="closeCompanyDetailDrawer"
    >
      <detail-index
        ref="companyDrawer"
        :isFromClient="true"
        @closeDrawer="closeCompanyDetailDrawer"
        @followStatusChange="getClientList"
      ></detail-index>
    </a-drawer>
    <a-modal
      v-model="statusDisplay"
      title="更改状态"
      @cancel="closeStatusModal"
      @ok="changeItemsStatus"
    >
      <a-form-model
        ref="statusFormModal"
        :label-col="{ span: 4 }"
        :model="formModel"
        :wrapper-col="{ offset: 5 }"
      >
        <a-form-model-item
          :rules="{ required: true, message: '请选择状态', trigger: 'blur' }"
          label="选择状态"
          prop="status"
        >
          <a-select v-model="formModel.status" class="status-select">
            <a-select-option
              v-for="item in statusList"
              :key="item.value"
              :disabled="item.disabled"
              :value="item.value"
              >{{ item.text }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-form-model>
    </a-modal>
    <assign
      ref="assignModal"
      :receiveList="receiveList"
      @assignSuccess="assignSuccess"
    ></assign>
    <a-modal
      v-model="clientDetail"
      title="我的客户规则说明"
      width="530px"
      @cancel="closeClientDescription"
      @ok="closeClientDescription"
    >
      <p>
        您在客户查询中获取的电话，仅沟通状态为有意向的企业转入我的客户。<br />
        您可在列表中进行状态修改，未成交或已成交状态下该资源都将退回公海池。
      </p>
      <template slot="footer">
        <a-button key="back" style="right: 5px;" @click="handleCancel"
          >关闭
        </a-button>
      </template>
    </a-modal>
  </div>
</template>

<script lang="ts" src="./MyClient.ts"></script>

<style lang="scss" scoped>
.card-pagination {
  width: 100%;
  // text-align: right;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .fake-btn {
    margin-left: 8px;
  }
}
::v-deep .ant-calendar-range-picker-input {
  width: 32%;
  height: 99%;
  text-align: left;
  border: 0;
  outline: 0;
}
::v-deep .ant-calendar-range-picker-separator {
  min-width: 50px;
}
::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  //text-align: center;
  background-color: #f2f6f8;
}
::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  //text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}
.color {
  color: #00ab94;
}

.color18 {
  color: #1890ff;
}

.popover-title {
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  line-height: 36px;
  .popover-details {
    font-size: 14px;
    font-weight: 400;
    color: #272727;
    line-height: 20px;
  }
}
.qua-detail {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  // width: 210px;
  max-height: 40px;
  font-size: 14px;
  font-weight: 400;
  // line-height: 20px;
}

.mine-client-page {
  position: relative;

  .filter-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 2px;
    padding: 24px 24px 8px 24px;

    .filter-title {
      font-size: 16px;
      color: #909399;
    }

    .filter-list {
      width: 100%;

      .filter-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 16px;

        .label-title {
          width: 80px;
          text-align: left;
          font-size: 14px;
          color: #282828;
          color: #282828;
        }

        .isSales {
          margin-left: 10px;
        }

        .filter-input {
          width: 332px;
          height: 32px;
        }

        .filter-btn {
          width: 86px;
          height: 36px;
          line-height: 36px;
        }

        .isSelect {
          background-color: rgba($color: #3b68e7, $alpha: 0.1);
          color: #3b68e7;
          border-color: #3b68e7;
        }

        .have-margin {
          margin-right: 24px;
        }
      }
    }

    .operate-btns {
      margin-top: 24px;
      margin-bottom: 16px;

      .btns {
        height: 32px;
        width: 88px;
      }

      .rt {
        margin-right: 24px;
      }
    }
  }

  .table-content {
    background-color: #ffffff;
    padding: 24px;
    margin-top: 16px;
    border-radius: 4px;

    .status-tag {
      width: 55px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 14px;
      border-radius: 4px;
      margin: 0;
    }

    .noConfirm {
      background-color: rgba($color: #fa8f00, $alpha: 0.1);
      color: #fa8f00;
    }

    .haveIntention {
      color: #67c23a;
      background-color: rgba($color: #67c23a, $alpha: 0.1);
    }

    .haveDeal {
      color: #4d7cfe;
      background-color: rgba($color: #4d7cfe, $alpha: 0.1);
    }

    .table-btns {
      // margin-bottom: 24px;
      // margin-top: 12px;
      height: 40px;
      position: relative;
      width: 100%;
      line-height: 40px;

      .client-description {
        position: absolute;
        right: 12px;
        bottom: 10px;
        cursor: pointer;
        color: #686868;
        font-size: 14px;

        .icon {
          color: #686868;
          margin-right: 8px;
        }
      }
    }

    .rt {
      margin-right: 24px;
    }
  }

  .select-status {
    width: 100%;
  }
}
</style>
