<template>
  <div id="historyFilter" class="client-history">
    <div class="filter-box">
      <!-- <div class="filter-title">满足下列所有条件</div> -->
      <div class="filter-list">
        <div class="filter-item">
          <div class="label-title">企业名称：</div>
          <a-input
              v-model="enterpriseName"
              class="filter-input"
              placeholder="请输入查询企业"
          ></a-input>
        </div>
        <div class="filter-item">
          <div class="label-title">跟进状态：</div>
          <div class="select-list">
            <a-select
                v-model="followStatusPre"
                :getPopupContainer="getPopupContainer"
                allowClear
                class="half-input"
                placeholder="请选择跟进状态"
                @change="selectThePre"
            >
              <a-select-option
                  v-for="item in preOptions"
                  :key="item.value"
                  :value="item.value"
              >{{ item.label }}
              </a-select-option>
            </a-select>
            <a-select
                v-model="followStatusPost"
                :disabled="postDisabled"
                :dropdownMatchSelectWidth="false"
                :getPopupContainer="getPopupContainer"
                class="half-input"
                placeholder="请选择跟进状态"
            >
              <a-select-option
                  v-for="item in postOptions"
                  :key="item.value"
                  :value="item.value"
              >{{ item.label }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filter-item">
          <div class="label-title">更新时间：</div>
          <a-date-range
              v-model="dateRanger"
              :disabled-date="disabledEndDate"
              :getCalendarContainer="getPopupContainer"
              :placeholder="['请选择开始时间', '结束时间']"
              class="filter-input"
              @change="selectDateRange"
          >
            <a-icon slot="suffixIcon" type="calendar"/>
          </a-date-range>
        </div>
        <div class="filter-item">
          <div class="label-title">数据来源：</div>
          <a-select
              v-model="clueSources"
              :getPopupContainer="getPopupContainer"
              allowClear
              class="filter-input"
              placeholder="请选择数据来源"
          >
            <a-select-option
                v-for="item in sourceOptions"
                :key="item.value"
                :value="item.value"
            >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div v-if="isSales" class="filter-item">
          <div class="label-title">跟进人：</div>
          <staffSelect
              ref="searchQua"
              @followStaffChange="followStaffChange"
          ></staffSelect>
        </div>
      </div>
      <div class="operate-btns">
        <a-button class="btns rt" type="primary" @click="beforeFindList">
          查询
        </a-button>
        <a-button class="btns" @click="resetFilter">重置</a-button>
      </div>
    </div>
    <div class="table-content">
      <div class="btns">
        <a-Tooltip placement="top">
          <template slot="title">
            <div class="client-tips">
              您在“出货/收货查询”中获取的电话，选择拨打未接或是接通时跟进状态为无意向、辞职/公司倒闭/资质已售等非有意向状态的企业转入“历史记录”中。
              您可在“历史记录”中复制该企业或多个企业的名称重新获取电话。
            </div>
          </template>
          <div class="client-description">
            <a-icon class="icon" type="question-circle"/>
            历史记录规则说明
          </div>
        </a-Tooltip>
      </div>
      <a-table
          v-if="total"
          :columns="columns"
          :data-source="tableData"
          :pagination="false"
          bordered
          rowKey="index"
      >
        <template slot="goToCompanyDetail" slot-scope="text">
          <div class="text-tipBlue">
            {{ text }}
          </div>
        </template>

        <template slot="qualificationItemsText" slot-scope="text, item">
          <a-popover v-if="item.qualificationItems.length >= 7" trigger="hover">
            <div slot="title" class="popover-title">沟通资质</div>
            <template slot="content">
              <div class="popover-details" style="width: 496px;">
                {{ text }}
              </div>
            </template>
            <div class="qua-detail">
              <span>{{ text }}</span>
            </div>
          </a-popover>
          <div v-else class="qua-detail">
            {{ text }}
          </div>
        </template>
        <template slot="followRemarks" slot-scope="text">
          <div class="text-tipBlue">
            {{ text | filter20 }}
          </div>
        </template>
      </a-table>
      <block-data
          v-else
          :imageSrc="notFind"
          :text="''"
          :titleText="''"
      ></block-data>
      <div class="card-pagination">
        <a-pagination
            v-model="pageNum"
            :hideOnSinglePage="true"
            :pageSize.sync="pageSize"
            :showQuickJumper="true"
            :showTotal="
              () => {
                return false
              }
            "
            :total="total"
            @change="changePage"
        ></a-pagination>
        <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
      </div>

    </div>
  </div>
</template>

<script>
import {
  Input,
  Select,
  DatePicker,
  Table,
  Drawer,
  Tooltip,
  TreeSelect,
  Popover, Pagination
} from 'ant-design-vue'
import {userModule} from '@/store/modules/user'
import {detailModule} from '@/store/modules/detail'
import BlockData from '@/components/BlockData.vue'
import staffSelect from './StaffSelect.vue'
import notFind from '@/assets/image/no_data_block.png'

export default {
  name: 'clentHistory',
  components: {
    staffSelect,
    BlockData,
    aPopover: Popover,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    aTooltip: Tooltip,
    aDrawer: Drawer,
    aTable: Table,
    aInput: Input,
    aSelect: Select,
    aSelectOption: Select.Option,
    aDateRange: DatePicker.RangePicker,
    aPagination: Pagination
  },
  filters: {
    filter20: value => {
      if (value.length > 20) {
        return value.substring(0, 20) + '...'
      } else {
        return value
      }
    }
  },
  computed: {
    isSales() {
      return userModule.roleLevel < 3
    },
    pagination() {
      return {
        total: this.total,
        pageSize: this.pageSize,
        current: this.pageNum,
        // showSizeChanger: true,
        showQuickJumper: true,

        onShowSizeChange: this.changePage,
        onChange: this.changePage
      }
    }
  },
  data() {
    return {
      pageNum: 1,
      pageSize: 10,
      clueSources: undefined,
      notFind,
      followStaff: [],
      tableData: [],
      columns: [
        {
          title: '区域',
          dataIndex: 'areaName',
          width: '90px',
          align: 'left'
        },
        {
          title: '企业全称',
          dataIndex: 'enterpriseName',
          width: '220px',
          scopedSlots: {customRender: 'goToCompanyDetail'},
          align: 'left'

        },
        {
          title: '沟通资质',
          scopedSlots: {customRender: 'qualificationItemsText'},
          dataIndex: 'qualificationItemsText',
          align: 'left'

          // width: '220px'
        },
        {
          title: '联系人',
          width: '85px',
          dataIndex: 'contacts',
          align: 'left'
        },
        {
          title: '跟进状态',
          dataIndex: 'statusText',
          align: 'left'
          // width: '150px'
        },
        {
          title: '跟进记录',
          dataIndex: 'remarks',
          width: '200px',
          scopedSlots: {customRender: 'followRemarks'},
          align: 'left'
        },
        {
          title: '跟进人',
          width: '135px',
          dataIndex: 'memberName',
          align: 'left'

        },
        {
          title: '更新时间',
          dataIndex: 'updateTime',
          width: '120px',
          align: 'left'
          // sorter: (a, b) =>
          //   new Date(a.updateTime).getTime() - new Date(b.updateTime).getTime(),
          // sortDirections: ['descend', 'ascend'],
        },
        {
          title: '数据来源',
          dataIndex: 'clueSourcesText',
          width: '90px',
          align: 'left'

        }
      ],
      sourceText: ['', '收货查询', '出货查询'],
      sourceOptions: [
        {label: '收货查询', value: '1'},
        {label: '出货查询', value: '2'}
      ],
      total: 0,
      preOptions: [
        {label: '无意向', value: 'NO_INTENTION'},
        {label: '挂断/打错了/同行', value: 'WRONG_NUMBER'},
        {label: '辞职/公司倒闭/资质已出售', value: 'RESIGNATION'},
        {label: '未成交', value: 'NO_DEAL'},
        {label: '已成交', value: 'DEAL'},
        {label: '超24小时未确认', value: 'OVERTIME_BACK'}
      ],
      followStatusList: [
        {label: '未确认', value: 'UNCONFIRMED'},
        {label: '自动关联领取', value: 'AUTOMATIC_RECEIVE'},
        {label: '超24小时未确认', value: 'OVERTIME_BACK'},
        {label: '自动关联退回公海', value: 'AUTOMATIC_BACK'},
        {label: '有意向', value: 'INTENTION'},
        {label: '无意向', value: 'NO_INTENTION'},
        {label: '挂断/打错/同行', value: 'WRONG_NUMBER'},
        {label: '辞职/公司倒闭/资质已出售', value: 'RESIGNATION'},
        {label: '挂断', value: 'HANG_UP'},
        {label: '未接', value: 'NO_ANSWER'},
        {label: '空号', value: 'EMPTY_NUMBER'},
        {label: '无法接通', value: 'NOT_AVAILABLE'},
        {label: '不在服务区/国内', value: 'NOT_SERVICE'},
        {label: '其他', value: 'OTHER'},
        {label: '已成交', value: 'DEAL'},
        {label: '未成交', value: 'NO_DEAL'}
      ],
      postDisabled: true,
      postOptions: [],
      staffList: [],
      dateRanger: [],
      startTime: '',
      endTime: '',
      enterpriseName: '',
      followStatusPost: undefined,
      followStatusPre: undefined,
      followUpUserId: [],
      showCompanyDetailDrawer: false
    }
  },
  methods: {
    followStaffChange(val) {
      if (val) {
        this.followUpUserId = val
      } else {
        this.followUpUserId = []
      }
    },
    getPopupContainer() {
      return document.getElementById('historyFilter')
    },
    changePage(num, size) {
      this.pageNum = num
      this.pageSize = size
      this.getHistoryList()
    },
    goToCompanyDetail(item) {
      this.showCompanyDetailDrawer = true
      detailModule.setEnterpriseInfo(item)
      this.$nextTick(() => {
        this.$refs.companyDrawer.setBasicInfo()
      })
    },
    closeCompanyDetailDrawer() {
      this.showCompanyDetailDrawer = false
    },
    selectThePre(item) {
      this.followStatusPost = undefined
      switch (item) {
        case 'NO_INTENTION':
          this.postDisabled = false
          this.postOptions = [
            {label: '挂断', value: 'HANG_UP'},
            {label: '未接', value: 'NO_ANSWER'},
            {label: '空号', value: 'EMPTY_NUMBER'},
            {label: '无法接通', value: 'NOT_AVAILABLE'},
            {label: '不在服务区/国内', value: 'NOT_SERVICE'},
            {label: '其他', value: 'OTHER'}
          ]
          this.followStatusPost = 'HANG_UP'
          break
        case 'DEAL':
          this.postDisabled = true
          this.followStatusPost = undefined
          this.postOptions = []
          break
        case 'NO_DEAL':
          this.postDisabled = true
          this.followStatusPost = undefined
          this.postOptions = []
          break
        default:
          this.postDisabled = true
          this.followStatusPost = undefined
          this.postOptions = []
          break
      }
    },
    disabledEndDate(endValue) {
      const currentDate = new Date().getTime()
      return endValue.valueOf() > currentDate
    },
    userChange(value) {
      console.log(value)
    },
    selectDateRange(range) {
      this.startTime = this.$moment(range[0]).format('yyyy-MM-DD')
      this.endTime = this.$moment(range[1]).format('yyyy-MM-DD')
    },
    setDepartmentStaff(option) {
      this.followUpUserId = []
      if (option.length) {
        option.forEach(o => {
          const value = o.value.split(',')
          value.splice(0, 1)
          const filterValue = value.filter(e => {
            return e
          })
          this.followUpUserId.push(...filterValue)
        })
      }
    },
    getStaffListForDepentment() {
      const params = {
        companyId: userModule.companyId
      }
      this.staffList = []
      this.$httpRequester.get('member/listAllByDepartment', params).then(r => {
        r.forEach((e, i) => {
          this.staffList.push({
            id: e.id || -1,
            children: e.subordinateOrg,
            subordinateOrg: e.subordinateOrg,
            title: e.name || '超级管理员',
            label: e.subordinateOrg,
            key: e.name ? e.name + i : '超级管理员' + i
          })
        })

        function setArrayToChildren(item, id) {
          if (item.subordinateOrg) {
            item.children = []
            item.subordinateOrg.forEach((e, j) => {
              item.children.push({
                subordinateOrg: e.subordinateOrg,
                key: e.name ? e.name + id : '超级管理员' + id,
                title: e.name || '超级管理员',
                label: e.subordinateOrg,
                children: e.subordinateOrg || []
              })
              setArrayToChildren(e, j)
            })
          } else {
            item.children = []
            item.key = item.id + item.name
            item.title = item.name
            item.label = item.subordinateOrg
          }
        }

        function setArrayValue(item) {
          let value = ''

          function loopValue(i) {
            i.children.forEach((e, j) => {
              if (e.subordinateOrg) {
                e.value = 'level' + j + ',' + setArrayValue(e)
                loopValue(e)
              } else {
                e.value = 'min,' + e.id
                value += e.id + ','
              }
            })
          }

          loopValue(item)
          return value
        }

        this.staffList.forEach(e => {
          setArrayToChildren(e, e.id)
        })
        this.staffList.forEach(e => {
          e.value = 'root,' + setArrayValue(e)
        })
      })
    },
    beforeFindList() {
      if (this.$refs.searchQua) {
        this.$refs.searchQua.checkOutSelect()
      }
      this.filterFindList()
    },
    filterFindList() {
      this.pageSize = 10
      this.pageNum = 1
      this.getHistoryList()
    },
    resetFilter() {
      if (this.$refs.searchQua) {
        this.$refs.searchQua.clearFollowStaffId()
      }
      this.enterpriseName = ''
      this.dateRanger = []
      this.startTime = ''
      this.endTime = ''
      this.followUpUserId = []
      this.followStaff = []
      this.followStatusPre = undefined
      this.followStatusPost = undefined
      this.clueSources = undefined
    },
    getHistoryList() {
      const params = {
        enterpriseName: this.enterpriseName,
        followStatus: this.followStatusPost
            ? this.followStatusPost
            : this.followStatusPre,
        // followStatusPost: this.followStatusPost,
        // followStatusPre: this.followStatusPre,
        followUpUserIds: this.followUpUserId || [],
        clueSources: this.clueSources,
        startTime: this.startTime,
        endTime: this.endTime,
        pageNum: this.pageNum,
        pageSize: this.pageSize
      }
      this.$httpRequester
          .post('followRecord/selHistoryCustom', params)
          .then(res => {
            console.log(res)


            res.data.forEach((e, i) => {
              e.statusInfo = []
              if (e.followStatus) {
                const find = this.followStatusList.find(c => {
                  return c.value === e.followStatus
                })
                e.statusInfo.push(find.label)
              }
              e.statusText = e.statusInfo.join('/')
              e.qualificationItemsText = e.qualificationItems
              e.index = i
              e.clueSourcesText = this.sourceText[e.clueSources]
            })
            this.tableData = res.data
            this.total = res.totalSize
          })
    }
  },
  mounted() {
    if (userModule.roleLevel <= 3 || userModule.isLead) {
      this.getStaffListForDepentment()
    }
    this.getHistoryList()
  }
}
</script>

<style lang="scss" scoped>
.card-pagination {
  width: 100%;
  // text-align: right;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .fake-btn {
    margin-left: 8px;
  }
}

.qua-detail {
  margin: 12px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 210px;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
  line-height: 20px;
}

::v-deep .ant-calendar-range-picker-input {
  width: 32%;
  height: 99%;
  text-align: left;
  border: 0;
  outline: 0;
}

::v-deep .ant-calendar-range-picker-separator {
  min-width: 50px;
}

::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  text-align: center;
  background-color: #f2f6f8;
}

::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.color {
  color: #00ab94;
}

.color18 {
  color: #1890ff;
}

.popover-title {
  font-size: 14px;
  font-weight: 500;
  color: #272727;
  line-height: 36px;

  .popover-details {
    font-size: 14px;
    font-weight: 400;
    color: #272727;
    line-height: 20px;
  }
}

.client-history {
  .filter-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 2px;
    padding: 24px 24px 8px 24px;

    .filter-title {
      font-size: 16px;
      color: #909399;
    }

    .filter-list {
      width: 100%;

      .filter-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 16px;

        .label-title {
          width: 80px;
          text-align: left;
          font-size: 14px;
          color: #282828;
        }

        .isSales {
          margin-left: 10px;
        }

        .select-list {
          width: 332px;
          height: 32px;
          display: flex;
          justify-content: space-between;
        }

        .half-input {
          width: 162px;
        }

        .filter-input {
          width: 332px;
          height: 32px;
        }

        .filter-btn {
          width: 86px;
          height: 36px;
          line-height: 36px;
        }

        .isSelect {
          background-color: rgba($color: #3b68e7, $alpha: 0.1);
          color: #3b68e7;
          border-color: #3b68e7;
        }

        .have-margin {
          margin-right: 24px;
        }
      }
    }

    .operate-btns {
      margin-top: 24px;
      margin-bottom: 16px;

      .btns {
        height: 32px;
        width: 88px;
      }

      .rt {
        margin-right: 24px;
      }
    }
  }

  .table-content {
    background-color: #ffffff;
    margin-top: 16px;

    .btns {
      width: 100%;
      height: 40px;
      position: relative;

      .client-description {
        position: absolute;
        right: 22px;

        .icon {
          margin-right: 8px;
        }
      }
    }
  }
}
</style>
