<template>
  <div id="staff">
    <a-select
      v-if="isShowRole"
      :default-active-first-option="false"
      :filter-option="false"
      :getPopupContainer="getPopupContainer"
      :not-found-content="null"
      :show-arrow="false"
      :value="searchQua"
      allowClear
      class="half-input"
      labelInValue
      placeholder="搜索跟进人所属公司"
      show-search
      @change="handleChange"
      @search="handleSearch"
    >
      <a-select-option
        v-for="(s, index) in staffList"
        :key="index"
        :value="s.id"
      >
        {{ s.companyName }}
      </a-select-option>
    </a-select>
    <a-select
      v-model="followStaffId"
      mode="multiple"
      :disabled="staffDisabled"
      allowClear
      showArrow
      class="half-input"
      placeholder="请选择跟进人"
      :getPopupContainer="getPopupContainer"
    >
      <a-select-option
        v-for="(item, index) in roleList"
        :key="index"
        :value="item.id"
      >
        {{ item.memberName }}
      </a-select-option>
    </a-select>
  </div>
</template>

<script>
import { Select } from 'ant-design-vue'
import { userModule } from '@/store/modules/user'

export default {
  name: 'StaffSelect',
  components: {
    aSelect: Select,
    aSelectOption: Select.Option
  },

  watch: {
    followStaffId: {
      handler(val) {
        this.$emit('followStaffChange', val)
      }
    }
  },
  data() {
    return {
      isShowRole: false,
      searchQua: undefined,
      roleList: [],
      staffList: [],
      followStaffId: [],
      staffDisabled: true
    }
  },
  methods: {
    checkOutSelect() {
      if (this.searchQua && !this.followStaffId.length) {
        const val = this.roleList.map(e => {
          return e.id
        })
        this.$emit('followStaffChange', val)
      }
    },
    clearFollowStaffId() {
      if (userModule.roleLevel === 2) {
        this.staffDisabled = false
      }
      if (userModule.roleLevel === 1) {
        this.staffDisabled = true
      }
      this.searchQua = undefined
      this.followStaffId = []
    },
    getPopupContainer() {
      return document.getElementById('staff')
    },
    getRoleList(id) {
      const params = {
        companyId: id
      }
      this.$httpRequester.get('/member/listAllMember', params).then(r => {
        if (r) {
          this.roleList = r
          this.followStaffId = []
        } else {
          this.roleList = []
          this.followStaffId = []
          this.$emit('followStaffChange', this.followStaffId)
        }
      })
    },
    handleChange(item) {
      this.searchQua = item
      this.staffDisabled = false
      if (!item) {
        this.staffList = []
        this.staffDisabled = true
        this.followStaffId = []
        return
      }
      this.getRoleList(item.key)
    },

    handleSearch(search) {
      if (!search) {
        this.staffList = []
        this.followStaffId = []
        this.staffDisabled = true
      } else {
        this.staffDisabled = true
        this.followStaffId = []
        this.staffList = []
        const params = {
          companyName: search
        }
        this.$httpRequester.get('company/byCompanyName', params).then(r => {
          this.staffList = r
        })
      }
    }
  },
  mounted() {
    if (userModule.roleLevel === 1) {
      this.isShowRole = true
    } else if (userModule.roleLevel === 2) {
      this.isShowRole = false
      this.getRoleList(userModule.companyId)
      this.staffDisabled = false
    }
  }
}
</script>

<style lang="scss" scoped>
#staff {
  position: relative;
  display: flex;
  justify-content: space-between;

  .half-input {
    width: 332px;
    height: 32px;
    margin-right: 6px;
  }
}
</style>
