<template>
  <div class="index">
    <div class="title" style="display: flex;justify-content: space-between;">
      <div class="userCenter-title">
        <p class="isActive">基本资料</p>
      </div>
    </div>
    <div v-if="wechatIndex === 1">
      <div class="user-center-basic">
        <div v-for="(item, index) in basicInfo" :key="index" class="info-item">
          <div class="item-name">{{ item.label }}</div>
          <div class="item-value">{{ item.value }}</div>
          <div v-if="item.wechatText" style="margin-left: 24px">
            <a-button class="wechatBtn" type="primary" @click="wechatBinding(item.wechatText)">{{
                item.wechatText
              }}
            </a-button>
          </div>
        </div>
      </div>
    </div>
    <a-modal centered :footer="null" :title="wechatPoperWork" :visible="wechatShow" class="modal" width="368px" @cancel="cancelModal">
      <div  class="user-center-basic">
        <div class="wechatMain">
          <WechatScanCode
              @wechatLoginSuccess="wechatLoginSuccess"
          ></WechatScanCode>
          <p>微信扫码关注公众号绑定账号</p>
        </div>
      </div>
      <div v-if="wechatIndex === 3" class="user-center-basic">
        <div>
          <a-form-model
              ref="firstForm"
              :label-col="{ span: 5 }"
              :model="changeModel"
              :rules="changeRules"
              :wrapper-col="{ span: 19 }"
              class="register-form"
              labelAlign="left"
          >
            <a-form-model-item
                class="register-item"
                label="手机号码:"
                prop="userName"
            >
              <a-input
                  v-model="changeModel.userName"
                  placeholder="请输入手机号码"
              ></a-input>
            </a-form-model-item>
            <a-form-model-item
                class="register-item"
                label="验证码:"
                prop="verifycode"
            >
              <div class="verifycode-input">
                <a-input
                    v-model="changeModel.verifycode"
                    class="have-verifycode"
                    placeholder="请输入短信验证码"
                ></a-input>
                <a-button
                    class="verify-btn"
                    type="primary"
                    @click="sendVerifycode"
                >{{ codeBtnText }}
                </a-button>
              </div>
            </a-form-model-item>
            <a-form-model-item>
              <a-button
                  style="width: 500px;height: 40px;"
                  type="primary"
                  @click="bindingAccount"
              >确认绑定账号
              </a-button
              >
            </a-form-model-item>
          </a-form-model>
        </div>
      </div>
    </a-modal>

  </div>
</template>

<script>
import {userModule} from '@/store/modules/user'
import {Button, Modal, Breadcrumb, FormModel, Input} from 'ant-design-vue'
import qrCode from '@/assets/image/sidetool/offical_qr_code.jpg'
import WechatScanCode from '@/views/Bind/WechatScanCode.vue'

export default {
  name: 'user-basic',
  components: {
    aButton: Button,
    aBreadcrumb: Breadcrumb,
    aBreadcrumbItem: Breadcrumb.Item,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aInput: Input,
    WechatScanCode
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    },
    wechatText() {
      return userModule.isBindWechat === '未绑定' ? '绑定微信' : '解绑'
    },
    basicInfo() {
      let basic = [
        {label: '用户姓名：', value: userModule.name},
        {label: '电话号码:', value: userModule.account},
        {label: '用户角色:', value: userModule.roleName},
        {label: '企业名称:', value: userModule.companyName},
        {label: '使用地区:', value: userModule.useAreaName},
        {label: '系统版本:', value: userModule.buyVersion},
        {label: '使用人数:', value: this.memberCount + '人'},
        {label: '有效期至:', value: userModule.failureTime},
        {
          label: '绑定微信:',
          value: userModule.isBindWechat,
          wechatText: this.wechatText
        },
        {label: '微信昵称:', value: userModule.wechatName}
      ]
      if (userModule.roleLevel !== 2) {
        basic.splice(6, 1)
      }
      if (userModule.roleLevel === 1) {
        basic = [
          {label: '用户姓名：', value: userModule.name},
          {label: '电话号码:', value: userModule.account},
          {label: '用户角色:', value: userModule.roleName}
        ]
      }
      return basic
    }
  },
  data() {
    return {
      wechatShow: false,
      wechatPoperWork: '绑定微信',
      memberCount: '',
      wechatIndex: 1,
      qrCode,
      changeModel: {
        userName: '',
        verifycode: ''
      },
      changeRules: {
        userName: [
          {required: true, validator: this.validMobile, trigger: 'blur'}
        ],
        verifycode: [
          {required: true, message: '请输入验证码', trigger: 'blur'}
        ]
      },
      codeBtnText: '获取验证码',
      codeSIV: null,
      codeDisabled: false
    }
  },
  methods: {
    validMobile(rule, value, callback) {
      const mobileTest = /^1(3|4|5|6|7|8|9)\d{9}$/
      const testValue = this.changeModel.userName
      if (testValue === '') {
        callback(new Error('请输入手机号码'))
      } else if (!mobileTest.test(testValue)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    getMemberList() {
      this.$httpRequester.post('member/list').then(res => {
        this.memberCount = res.totalSize
      })
    },

    cancelModal(){
      this.wechatShow = false
    },
    wechatBinding(text) {
      if (text === '绑定微信') {
        this.wechatIndex = 1
        this.wechatShow = true
      } else {
        const _that = this
        Modal.confirm({
          title: '解绑微信',
          content: '确定要解绑微信吗？解绑后不可用微信扫码登录，请谨慎操作',
          okText: '确定',
          cancelText: '取消',
          onOk() {
            _that.$httpRequester.post('wx/unbind').then(() => {
              _that.$message.success('操作成功')
              //  location.reload()
              _that.getUserInfo()
            })
          },
          onCancel() {
            _that.$message.success('操作取消')
          }
        })
      }
    },
    getUserInfo() {
      const userId = localStorage.getItem('userId')
      this.$httpRequester.get('member/get', {id: userId}).then(r => {
        userModule.setUserInfo(r)
      })
    },
    userCenterBasic() {
      this.wechatIndex = 1
    },
    sendVerifycode() {
      // console.log(this.codeSIV)
      if (this.codeSIV) {
        return
      }
      this.$refs.firstForm.validateField('userName', message => {
        if (!message) {
          const phone = this.isFromLogin
              ? this.changeModel.userName
              : userModule.account
          this.$httpRequester
              .post(
                  'user/sms/verificte/send',
                  {cellPhone: phone},
                  'application/x-www-form-urlencoded'
              )
              .then(() => {
                this.codeDisabled = true
                let time = 120
                this.codeSIV = setInterval(() => {
                  time -= 1
                  this.codeBtnText = `重新发送(${time}S)`
                  if (time === 1) {
                    this.codeBtnText = '获取验证码'
                    this.codeDisabled = false
                    clearInterval(this.codeSIV)
                    this.codeSIV = null
                  }
                }, 1000)
              })
        }
      })
    },
    bindingAccount() {
      this.$refs.firstForm.validate(flag => {
        console.log(flag)
      })
    },

    wechatLoginSuccess(r) {
      // userModule.setUserInfo(info.)
      console.log('绑定成功', r)
      // location.reload()
      this.getUserInfo()
      this.wechatIndex = 1
      this.$message.success('绑定成功')
    }
  },
  mounted() {
    if (this.isAdmin) {
      this.getMemberList()
    }
  }
}
</script>

<style lang="scss" scoped>

::v-deep .ant-modal-header {
  border-bottom: 1px solid #EFF3F6 !important;
}
::v-deep .ant-modal-body{
  padding: 0 !important;
}

.modal {
  .wechatMain {
    margin-top: 40px;
    padding-bottom: 40px;

    text-align: center;
    p{
      margin-top: 14px;
      font-size: 12px;
      font-weight: 400;
      color: #686868;
    }
  }
}

.index {
  padding: 24px;
}

.user-center-basic {
  margin-top: 24px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  //min-height: 50vh;

  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .item-name {
      width: 70px;
      height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #686868;
    }

    .item-value {
      font-size: 14px;
      font-weight: 400;
      color: #282828;
    }

    .wechatBtn {
      height: 20px;
      background: #00AB94;
      border-radius: 2px;
      font-size: 12px;
    }
  }

  .register-form {
    padding-top: 100px;
    width: 500px;
    margin: 0 auto;

    .verifycode-input {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .have-verifycode {
        width: 65% !important;
      }

      .verify-btn {
        // width: 35% !important;
        margin-left: 2%;
        padding: 0 7px !important;
      }

      .verify-btn[disabled] {
        color: #fff !important;
        border: none;
      }
    }
  }
}
</style>
