<template>
  <div class="certification-page">
    <div class="second-title">
      <p class="isActive">我的发布</p>
      <span class="title-tips" v-if="isEdit">
        为了确保资源信息的准确性，增加曝光量，请如实填写</span
      >
    </div>
    <!-- <div class="sub-title">企业认证信息</div> -->
    <div class="back-btn">
      <a-button icon="left" @click="goBack" type="link">返回</a-button>
    </div>
    <div v-if="isEdit">
      <div class="certifi-form" v-if="!isSubmit">
        <form-index
          ref="formIndex"
          :labelCol="{ span: 4 }"
          v-model="formValue"
          @uploadSuccess="uploadSuccess"
          @addMoreQualification="addMoreQualification"
          @removeThisQualification="removeThisQualification"
          :formItems="formItems"
        ></form-index>
        <a-row type="flex">
          <a-col :span="4"> </a-col>
          <div class="submit-certification">
            <a-button @click="submitCertification" type="primary"
              >提交发布</a-button
            >
            <div class="tips">提示：您上传的全部信息均只作为平台审核使用</div>
          </div>
        </a-row>
      </div>
      <div v-else>
        <block-data
          :imageWidth="300"
          text="企业认证审核一般耗时1-3个工作日"
          titleText="企业认证已提交，请等待审核"
        ></block-data>
      </div>
    </div>
    <div class="certifi-list" v-else>
      <div
        class="check-status"
        :style="'background-image:url(' + statusImage + ')'"
      ></div>
      <!-- <div class="info-content">
        <div class="info-maintitle">营业执照信息</div>
        <div class="item-list">
          <div class="list-item">
            <div class="title">企业名称:</div>
            <div class="detail">{{ detail.enterpriseName }}</div>
          </div>
          <div class="list-item">
            <div class="title">社会统一信用代码:</div>
            <div class="detail">{{ detail.socialCreditCode || '---' }}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="title">营业执照:</div>
          <div class="detail">
            <div
              class="image-item"
              title="点击查看大图"
              @click="showImagePreview(detail.businessLicenseUrl)"
              :style="'background-image:url(' + detail.businessLicenseUrl + ')'"
            >
            </div>
          </div>
        </div>
      </div> -->
      <div class="info-content">
        <div class="info-maintitle">认证信息</div>
        <div class="item-list">
          <div class="list-item">
            <div class="title">企业名称:</div>
            <div class="detail">{{ detail.enterpriseName }}</div>
          </div>
          <div class="list-item">
            <div class="title">注册地区:</div>
            <div class="detail">{{ detail.area }}</div>
          </div>
        </div>
        <div class="item-list">
          <div class="list-item">
            <div class="title">资质状态:</div>
            <div class="detail">
              {{ statusText[detail.quelificationStatus] }}
            </div>
          </div>
        </div>
        <div class="item-list">
          <div class="list-item">
            <div class="title">资质类别及等级:</div>
            <div class="detail">
              <p
                v-for="(item, index) in detail.qualificationTextList"
                :key="index"
              >
                {{ item }}
              </p>
            </div>
          </div>
          <!-- <div class="list-item">
            <div class="title">法定代表人姓名:</div>
            <div class="detail">{{ detail.legalPerson }}</div>
          </div> -->
        </div>
        <div class="list-item">
          <div class="title">资质证书:</div>
          <div class="detail">
            <div class="image-list">
              <div
                v-for="(item, key) in detail.itemsImageUrlList"
                :key="key"
                class="image-item"
                title="点击查看大图"
                @click="showImagePreview(item.upLoadImageUrl)"
                :style="'background-image:url(' + item.upLoadImageUrl + ')'"
              >
                <!-- <img :src="detail.legalImageUrl" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="check-remarks" v-if="detail.status === 2">
        审核失败原因：{{ detail.remarks }}
      </div>
      <div
        class="check-remarks success"
        v-if="detail.status === 1 && detail.remarks"
      >
        审核成功原因：{{ detail.remarks }}
      </div>
      <div class="resubmit-btn">
        <a-button
          v-if="detail.status === 2"
          @click="editThisInfo"
          type="primary"
          >重新审核</a-button
        >
      </div>
    </div>
    <image-preview
      @closePrview="closePrview"
      :imageUrl="priviewUrl"
      v-if="showPriview"
    ></image-preview>
  </div>
</template>

<script>
import { Row, Col } from 'ant-design-vue'
import formType from '@/components/Form/formType'
import formIndex from '@/components/Form/index.vue'
import uploadImage from '@/components/Form/ImageUpload'
import BlockData from '@/components/BlockData'
import failure from '@/assets/image/check/failure.png'
import pass from '@/assets/image/check/pass.png'
import ing from '@/assets/image/check/ing.png'
import imagePreview from '@/components/ImagePreview'
import qualificationSelect from './Components/QualificationSelect'
import { universalModule } from '@/store/modules/universal'
export default {
  name: 'certification',
  components: {
    formIndex,
    aRow: Row,
    aCol: Col,
    BlockData,
    imagePreview
  },
  computed: {
    pageTitle() {
      return this.isEdit ? '企业认证' : '企业认证详情'
    },
    formItems() {
      return [
        {
          label: '资质状态',
          type: formType.RADIO,
          options: [
            {
              label: '现货',
              value: 0
            },
            {
              label: '预售',
              value: 1
            }
          ],
          name: 'quelificationStatus',
          value: this.formValue.quelificationStatus,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择资质状态'
            }
          ]
        },
        {
          label: '企业名称',
          type: formType.INPUT,
          placeholder: '请输入企业名称全称',
          name: 'enterpriseName',
          value: this.formValue.enterpriseName,
          validate: [
            {
              required: true,
              trigger: 'blur',
              message: '请输入企业名称'
            }
          ]
        },
        {
          label: '注册地区',
          type: formType.SELECT,
          placeholder: '请选择注册地区，如四川省',
          name: 'areaCode',
          options: this.areaOptions,
          value: this.formValue.areaCode,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择注册地区'
            }
          ]
        },

        // {
        //   label: '社会统一信用代码',
        //   type: formType.INPUT,
        //   placeholder: '请输入营业执照上的社会统一信用代码',
        //   name: 'socialCreditCode',
        //   value: this.formValue.socialCreditCode,
        //   validate: [
        //     {
        //       required: true,
        //       trigger: 'blur',
        //       message: '请输入社会统一信用代码',
        //     },
        //   ],
        // },
        // {
        //   label: '法定代表人',
        //   type: formType.INPUT,
        //   placeholder: '请输入企业法定代表人姓名',
        //   name: 'legalPerson',
        //   value: this.formValue.legalPerson,
        // },
        // {
        //   label: '营业执照',
        //   component: uploadImage,
        //   type: formType.COMPONENT,
        //   style: { width: '200px', height: '200px' },
        //   id: 'businessLicenseUrl',
        //   name: 'businessLicenseUrl',
        //   value: this.formValue.businessLicenseUrl,
        //   default: this.businessLicenseUrl,
        //   size: 5 * 1024 * 1024,
        //   tips:
        //     '仅支持JPG、JPEG和PNG格式，大小不超过5M，文字清晰可辩，企业名称必须与您填写的企业名称一致',
        //   length: 1,
        //   validate: [
        //     {
        //       required: true,
        //       trigger: 'blur',
        //       message: '请上传营业执照',
        //     },
        //   ],
        // },

        // {
        //   label: '法定代表人身份证号码',
        //   type: formType.INPUT,
        //   placeholder: '请输入企业法定代表人身份证号码',
        //   name: 'legalIdCard',
        //   value: this.formValue.legalIdCard,
        //   validate: [
        //     {
        //       required: true,
        //       validator: this.validatorIdCardNo,
        //       trigger: 'blur',
        //       message: '请输入正确的企业法定代表人身份证号码',
        //     },
        //   ],
        // },

        {
          label: '资质证书',
          component: uploadImage,
          type: formType.COMPONENT,
          style: { width: '200px', height: '200px' },
          id: 'itemsImageUrlList',
          length: 10,
          size: 5 * 1024 * 1024,
          name: 'itemsImageUrlList',
          value: this.formValue.itemsImageUrlList,
          default: this.itemsImageUrlList,
          // validate: [
          //   {
          //     required: true,
          //     trigger: 'blur',
          //     message: '请上传企业资质证书',
          //   },
          // ],
          tips: '为增加信息可信度，可上传资质证书图片（马赛克图片）'
        },
        {
          label: '资质类别及等级',
          type: formType.COMPONENT,
          value: this.formValue.itemsInfoList,
          name: 'itemsInfoList',
          component: qualificationSelect,
          list: this.qualificationList,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择资质类别及等级'
            }
          ]
        }
      ]
    },
    qualificationOptions() {
      return universalModule.qualificationOptions
    },
    areaOptions() {
      return universalModule.areaOptions
    }
  },
  data() {
    return {
      formValue: {
        quelificationStatus: '',
        areaCode: [],
        enterpriseName: '',
        businessLicenseUrl: '',
        socialCreditCode: '',
        legalPerson: '',
        itemsIdList: '',
        itemsImageUrlList: []
      },
      statusText: ['现货', '预售'],
      qualificationList: [{ qualificationId: [] }],
      companyName: '',
      priviewUrl: '',
      showPriview: false,
      statusImage: '',
      detail: {},
      id: '',
      isSubmit: false,
      isEdit: true,
      businessLicenseUrl: [],
      itemsImageUrlList: [],
      legalImageUrl: ''
    }
  },
  methods: {
    removeThisQualification(index) {
      this.qualificationList.splice(index, 1)
    },
    addMoreQualification() {
      this.qualificationList.push({ qualificationId: [] })
    },
    editThisInfo() {
      this.isEdit = true
      this.formValue.quelificationStatus = this.detail.quelificationStatus // 资质状态
      this.formValue.areaCode = this.detail.areaCode // 地区
      this.formValue.enterpriseName = this.detail.enterpriseName // 企业名称
      this.formValue.socialCreditCode = this.detail.socialCreditCode // 信用代码
      this.formValue.legalPerson = this.detail.legalPerson // 法人

      // this.businessLicenseUrl = this.detail.businessLicenseUrl.split()
      this.itemsImageUrlList = this.detail.itemsImageUrlList.map(e => {
        return e.upLoadImageUrl
      })
      this.qualificationList = this.detail.itemsInfoList.map(e => {
        return { qualificationId: e.authenItemId }
      })
    },
    closePrview() {
      this.showPriview = false
      this.priviewUrl = ''
    },
    showImagePreview(url) {
      this.showPriview = true
      this.priviewUrl = url
    },
    validatorIdCardNo(rule, value, callback) {
      const isIdNumber = /^[1-9]\d{5}(?:18|19|20)\d{2}(?:0[1-9]|10|11|12)(?:0[1-9]|[1-2]\d|30|31)\d{3}[\dXx]$/
      if (!isIdNumber.test(value)) {
        callback(new Error('请输入正确的企业法定代表人身份证号码'))
      } else {
        callback()
      }
    },
    uploadSuccess(image) {
      // console.log(image)
      this[image.name].push(image.url)
    },
    goBack() {
      // if (window.ipcRenderer) {
      //   const ipcRenderer = window.ipcRenderer
      //   // console.log(ipcRenderer)
      //   ipcRenderer.send('goBack')
      // }
      const isFromTable = !!parseInt(this.$route.query.isFromTable, 10)
      const isFromHomepage = !!parseInt(this.$route.query.isFromHomepage, 10)
      if (isFromTable) {
        this.$router.push({
          name: 'shared'
        })
      } else if (isFromHomepage) {
        this.$router.replace({
          name: 'receipt'
        })
      } else {
        this.$router.replace({
          name: 'resources'
        })
      }

      //  this.$router.go(-1)
    },
    submitCertification() {
      this.formValue.itemsInfoList = this.qualificationList
        .map(e => {
          return e.qualificationId
        })
        .join(',')
      // this.formValue.businessLicenseUrl = this.businessLicenseUrl
      //   .map((e) => {
      //     return e
      //   })
      //   .join()
      this.formValue.itemsImageUrlList = this.itemsImageUrlList.join()
      const params = {
        ...this.formValue
      }

      // params.itemsInfoList = []
      // this.qualificationOptions.forEach((q) => {
      //   this.qualificationList.forEach((l) => {
      //     const find = q.children.find((c) => {
      //       return c.value === l.qualificationId
      //     })
      //     if (find) {
      //       params.itemsInfoList.push({
      //         authenItemId: find.value,
      //         authenItemName: find.label,
      //       })
      //     }
      //   })
      // })
      params.itemsInfoList = this.qualificationList.map(e => {
        return {
          authenItemId: e.qualificationId,
          authenItemName: ''
        }
      })
      params.itemsImageUrlList = this.itemsImageUrlList.map(e => {
        return {
          imageFileName: '',
          upLoadImageUrl: e
        }
      })
      // params.businessLicenseUrl = this.businessLicenseUrl
      //   .map((e) => {
      //     return e
      //   })
      //   .join()
      const validate = this.$refs.formIndex.formValidator()
      if (this.id) {
        params.id = this.id
      }
      // console.log(params)
      // return
      if (validate) {
        this.$httpRequester.post('/authen/add', params).then(() => {
          this.$router.push({
            name: 'resources'
          })
        })
      }
      // if (params) {
      //   params.businessLicenseUrl = this.businessLicenseUrl
      //   params.legalImageUrl = this.legalImageUrl
      //   if (this.$route.query.companyId) {
      //     params.id = this.$route.query.companyId
      //     this.$httpRequester
      //       .put('/enterprise/authentication', params)
      //       .then(() => {
      //         this.isSubmit = true
      //       })
      //       .catch(() => {
      //         this.isSubmit = false
      //       })
      //   } else {
      //     this.$httpRequester
      //       .post('/enterprise/authentication', params)
      //       .then(() => {
      //         this.isSubmit = true
      //       })
      //       .catch(() => {
      //         this.isSubmit = false
      //       })
      //   }
      // }
    },
    getCompanyCertificationDetail() {
      // console.log('getCompanyCertificationDetail')
      this.$httpRequester
        .get('authen/get/deteils', { id: this.id })
        .then(res => {
          this.detail = res
          this.detail.qualificationTextList = res.itemsInfoList.map(e => {
            return e.authenItemName
          })
          const findArea = this.areaOptions.find(e => {
            return e.value === this.detail.areaCode
          })
          if (findArea) {
            this.detail.area = findArea.label
          }
          switch (res.status) {
            case 1:
              this.statusImage = pass
              break
            case 2:
              this.statusImage = failure
              break
            default:
              this.statusImage = ing
          }
        })
    }
  },
  async mounted() {
    await universalModule.getQualification()
    await universalModule.setAreaOptions()
    this.isEdit = parseInt(this.$route.query.isEdit, 10) > 0
    this.$nextTick(() => {
      if (!this.isEdit) {
        this.id = this.$route.query.authenticationId
        this.getCompanyCertificationDetail()
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.certification-page {
  border-radius: 4px;
  background-color: #ffffff !important;
  padding: 24px;
  overflow: hidden;
  position: relative;
  .title-tips {
    margin-left: 10px;
    align-self: flex-end;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  .back-btn {
    position: absolute;
    left: 0;
    top: 65px;
    font-size: 18px;
  }
  .certification-title {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin: 0 -24px;
    padding-left: 24px;
    background-color: #f2f2f2;
  }
  .sub-title {
    font-size: 14px;
    margin-top: 16px;
  }
  .certifi-form {
    margin-top: 40px;
    padding-bottom: 40px;
    width: 900px;
  }
  .submit-certification {
    margin-top: 20px;

    .tips {
      font-size: 13px;
      margin-top: 10px;
    }
  }
  .certifi-list {
    margin-top: 50px;
    width: 100%;
    .check-status {
      width: 114px;
      height: 114px;
      background-size: cover;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      right: 40px;
      top: 150px;
    }
    .item-list {
      display: flex;
      width: 750px;
      justify-content: space-between;
    }
    .info-content {
      width: 100%;
      position: relative;
      padding: 62px 22px 2px 22px;
      border: solid 1px #f2f2f2;
      margin-bottom: 20px;
      border-radius: 4px;
    }
    .info-maintitle {
      height: 32px;
      position: absolute;
      width: 100%;
      line-height: 32px;
      padding-left: 10px;
      border-left: 10px solid #4d7cfe;
      top: 0;
      left: 0;
      box-sizing: border-box;
      color: #8e8e90;
      background-color: #f2f2f2;
    }
    .list-item {
      margin-bottom: 35px;
      display: flex;
      align-items: flex-start;
      .title {
        // font-size: 13px;
        width: fit-content;
        text-align: right;
        margin-right: 35px;
        flex-shrink: 0;
        color: #8e8e90;
        // height: 40px;
        // line-height: 40px;
      }
      .detail {
        .image-list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
        .image-item {
          width: 240px;
          height: 240px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin: 0 15px 15px 0;
          cursor: pointer;
          img {
            width: 300px;
            height: 225px;
          }
        }
      }
      //  line-height: 60px;
    }
  }
  .check-remarks {
    width: fit-content;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    padding: 0 10px;
    color: #ff8800;
    background: #f2f2f2;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-left: 22px;
  }
  .success {
    color: #4ebf56;
  }
  .resubmit-btn {
    margin: 20px 0 20px 22px;
  }
}
</style>
