<template>
  <div class="user-center-attention">
    <div class="title">
      <p @click="changeConpomentTable(true)" :class="{ isActive: myAttention }">
        我的关注
      </p>
      <p
        @click="changeConpomentTable(false)"
        :class="{ isActive: !myAttention }"
      >
        关注动态
      </p>
    </div>
    <div class="tab-card">
      <div class="filter" v-if="myAttention">
        <div class="label">所属分组：</div>
        <div class="user-group">
          <a-button
            class="have-rt-margin"
            @click="setFilterGroup(-1)"
            :type="filterGroupId < 0 ? 'primary' : 'default'"
          >
            全部
          </a-button>
          <a-button
            class="have-rt-margin"
            @click="setFilterGroup(item.value)"
            :type="filterGroupId === item.value ? 'primary' : 'default'"
            v-for="(item, index) in groupBtn"
            :key="index + 'b'"
          >
            {{ item.label }}
          </a-button>
          <a-icon
            title="编辑分组"
            @click="addNewGroup"
            type="edit"
            class="edit-group"
          />
        </div>
      </div>
      <div v-else>
        <!--        myAttention false:关注动态-->
        <div class="filter">
          <div class="label">所属分组：</div>
          <div class="user-group">
            <a-button
              class="have-rt-margin"
              @click="setFilterTagId(-1)"
              :type="filterTagId < 0 ? 'primary' : 'default'"
            >
              全部
            </a-button>
            <a-button
              class="have-rt-margin"
              @click="setFilterTagId(item.value)"
              :type="filterTagId === item.value ? 'primary' : 'default'"
              v-for="(item, index) in groupBtn"
              :key="index + 'aw'"
            >
              {{ item.label }}
            </a-button>
            <a-icon
              title="编辑分组"
              @click="addNewGroup"
              type="edit"
              class="edit-group"
            />
          </div>
        </div>
        <div class="filter have-rt-top24">
          <div class="label-title">时间选择：</div>
          <a-button
            class="have-rt-margin"
            @click="setFilterTime(-1)"
            :type="filterTime < 0 ? 'primary' : 'default'"
          >
            全部
          </a-button>
          <a-button
            class="have-rt-margin"
            v-for="(item, index) in dateRangeBtns"
            :key="index + 'd'"
            @click="setFilterTime(index, item.value)"
            :type="filterTime === item.value ? 'primary' : 'default'"
            >{{ item.title }}
          </a-button>
          <a-date-range
            :disabled-date="disabledEndDate"
            @change="selectDateRange"
            v-model="dateRanger"
          ></a-date-range>
        </div>
        <div class="filter have-rt-top24">
          <div class="label-title">事件类型：</div>
          <a-checkbox @change="onChangeAll" :checked="defaultCheckedAll">
            全部
          </a-checkbox>
          <a-checkbox-group
            v-model="checkboxValue"
            :options="plainOptions"
            @change="onChange"
          />
        </div>
      </div>
    </div>
    <div class="table-content">
      <!-- <attention-table></attention-table> -->
      <component
        @tableChange="tableChange"
        @refreshList="getAttentionList"
        :tableData="tableData"
        :groupId="filterGroupId"
        :total="total"
        :is="tableComponents"
        :tableTotal="tableTotal"
        :tagId="filterTagId"
        @tableListChange="tableListChange"
        @searchEnterpriseName="getAttentionDynatimcList"
        :listData="listData"
      ></component>
    </div>
    <a-drawer
      @close="closeCompanyDetailDrawer"
      :closable="false"
      :visible="showCompanyDetailDrawer"
      width="840"
    >
      <detail-index
        ref="companyDrawer"
        @havePhoneOperate="getAttentionList"
        :isFromClient="false"
      ></detail-index>
    </a-drawer>
    <edit-group @refreshGroup="getGroupList" ref="groupEdit"></edit-group>
  </div>
</template>

<script>
import DetailIndex from '../Detail/Index.vue'
import EditGroup from './Components/EditGroup'
import AttentionTable from './Components/AttentionTable'
import AttentionDynamic from './Components/AttentiomDynamic'
import { Button, DatePicker, Checkbox, Input, Drawer } from 'ant-design-vue'

export default {
  name: 'my-attention',
  components: {
    EditGroup,
    DetailIndex,
    AttentionDynamic,
    aButton: Button,
    aDateRange: DatePicker.RangePicker,
    aCheckboxGroup: Checkbox.Group,
    aCheckbox: Checkbox,
    aDrawer: Drawer,
    aInputSearch: Input.Search
  },
  data() {
    return {
      showCompanyDetailDrawer: false,
      myAttention: true,
      pageNum: 1,
      pageSize: 10,
      filterCompamyName: '',
      groupBtn: [],
      tableData: [],
      total: 0,
      tableComponents: AttentionTable,
      filterGroupId: -1,
      //关注动态
      tableTotal: 0,
      filterTagId: -1,

      pagesNum: 1,
      rowSize: 10,
      listData: [{ companyName: '李四' }],
      //公司名称
      enterpriseName: '',
      //时间选择
      dateRangeIndex: -1,
      //时间按钮
      filterTime: -1,
      dateRangeBtns: [
        { title: '今天', value: 'today' },
        { title: '近七天', value: 'week' },
        { title: '近30天', value: 'month' }
        // { title: '自定义', value: 'userDefined' },
      ],
      dateRanger: [null, null],
      //选中的事件类型
      checkboxValue: [],
      //默认选中全部按钮
      defaultCheckedAll: true,
      //多选框数据
      plainOptions: ['资质变更', '工商变更', '被执行信息', '失信被执行']
    }
  },
  methods: {
    closeCompanyDetailDrawer() {
      this.showCompanyDetailDrawer = false
    },
    changeConpomentTable(val) {
      this.myAttention = val
      if (val) {
        this.tableComponents = AttentionTable
        this.pageNum = 1
        this.pageSize = 10
        this.getGroupList()
      } else {
        this.tableComponents = AttentionDynamic
        this.pagesNum = 1
        this.rowSize = 10
        this.getAttentionDynatimcList()
      }
    },
    tableChange(page) {
      this.pageNum = page.num
      this.pageSize = page.size
      this.getAttentionList()
    },
    setFilterGroup(value) {
      this.filterGroupId = value
      this.getAttentionList()
    },
    addNewGroup() {
      this.$refs.groupEdit.showEditModal()
      this.$nextTick(() => {
        this.$refs.groupEdit.setGroups(this.groupBtn)
      })
    },
    getGroupList() {
      this.$httpRequester.get('attention/grouping/query').then(r => {
        this.groupBtn = r.map(e => {
          return { label: e.groupName, value: e.id }
        })
        this.getAttentionList()
      })
    },
    //查询我的关注列表
    getAttentionList(filterCompamyName) {
      const params = {
        page: this.pageNum,
        rows: this.pageSize,
        sortField: 'create_time',
        sortOrder: 'descend',
        groupId: this.filterGroupId > -1 ? this.filterGroupId : '',
        companyName: filterCompamyName || ''
      }
      this.$httpRequester.get('attention/queryCompany', params).then(r => {
        this.total = r.total
        this.tableData = r.records.map((e, i) => {
          return {
            ...e,
            number: (this.pageNum - 1) * this.pageSize + (i + 1),
            isSelect: false,
            attentionTime: this.$moment(e.createTime).format('yyyy-MM-DD')
          }
        })
      })
    },
    //查询关注动态列表
    getAttentionDynatimcList(enterpriseName) {
      const params = {
        page: this.pagesNum,
        rows: this.rowSize,
        tagId: this.filterTagId > -1 ? this.filterTagId : '',
        startTime: this.dateRanger[0]
          ? this.dateRanger[0].format('YYYY-MM-DD') + ' 00:00:00'
          : '',
        stopTime: this.dateRanger[1]
          ? this.dateRanger[1].format('YYYY-MM-DD') + ' 23:59:59'
          : '',
        businessType: this.checkboxValue,
        companyName: enterpriseName || ''
      }
      this.$httpRequester.post('attention/dynamic/query', params).then(r => {
        this.tableTotal = r.total
        r.records.forEach(item => {
          item.changeContent = item.changeContent.split(',')
        })
        this.listData = r.records
      })
    },
    //分组 ID
    setFilterTagId(value) {
      this.filterTagId = value
      this.getAttentionDynatimcList()
    },
    tableListChange(page) {
      this.pagesNum = page.num
      this.rowSize = page.size
      this.getAttentionDynatimcList()
    },
    //时间选择
    setFilterTime(index, value) {
      if (value === 'userDefined') {
        this.dateRanger = []
        this.filterTime = value
      }
      if (this.dateRangeIndex === index) {
        this.dateRanger = []
        this.filterTime = index
        this.dateRangeIndex = -1
      } else {
        switch (value) {
          case 'today':
            this.dateRanger = [this.$moment(), this.$moment()]
            break
          case 'yesterday':
            this.dateRanger = [
              this.$moment().add(-1, 'days'),
              this.$moment().add(-1, 'days')
            ]
            break
          case 'week':
            this.dateRanger = [
              this.$moment().add(-7, 'days'),
              this.$moment().add('days')
            ]
            break
          case 'month':
            this.dateRanger = [
              this.$moment().add(-30, 'days'),
              this.$moment().add('days')
            ]
            break
          default:
            break
        }
        this.filterTime = value
      }
      this.getAttentionDynatimcList()
    },
    disabledEndDate(endValue) {
      const currentDate = new Date().getTime()
      return endValue.valueOf() > currentDate
    },
    selectDateRange(date) {
      this.dateRanger = date
      this.getAttentionDynatimcList()
      this.filterTime = 'userDefined'
    },
    //多选框
    onChange(checkedValues) {
      this.checkboxValue = checkedValues
      if (this.checkboxValue.length === 4) {
        this.defaultCheckedAll = true
      } else {
        this.defaultCheckedAll = false
      }
      this.getAttentionDynatimcList()
    },
    onChangeAll(checkedValues) {
      this.defaultCheckedAll = checkedValues.target.checked
      if (!this.defaultCheckedAll) {
        this.checkboxValue = []
      } else {
        this.checkboxValue = this.plainOptions
      }
      this.getAttentionDynatimcList()
    }
  },
  mounted() {
    this.getGroupList()
    this.checkboxValue = this.defaultCheckedAll
      ? this.plainOptions
      : this.checkboxValue
  }
}
</script>

<style lang="scss" scoped>
.user-center-attention {
  padding: 24px;

  .isSelect {
    color: #759fff;
    background-color: #fff;
    border-color: #759fff;
  }

  .tab-card {
    padding: 24px 24px;
    background-color: #ffffff;

    .attention-tabs {
      .ant-tabs-nav {
        height: 48px;
      }
    }
  }

  .filter {
    display: flex;
    align-items: center;
    padding-left: 16px;

    .edit-group {
      cursor: pointer;
      font-size: 16px;
      &:hover {
        color: #4d7cfe;
      }
    }
  }

  .table-content {
    background-color: #ffffff;
    padding: 0 24px 24px 24px;
  }
}
</style>
