<template>
  <div class="user-center-resources">
    <!-- <div class="title">
      <p class="isActive">我的资源</p>
    </div> -->
    <div v-if="shareTotal || historyTotal">
      <div v-if="shareTotal">
        <div class="userCenter-title">
          <div class="userCenter-title-left">
            <p class="isActive">我出售的资质</p>
            <div
              v-if="freeCount >= 0"
              class="leading-[20px] text-center
            h-[22px] bg-[#00BC87] tips"
            >
              对外展示免费使用次数剩余：{{ freeCount }}次
            </div>
          </div>
          <div class="userCenter-title-right">
            <a-button type="primary" @click="goToCertification"
              >发布新的资质
            </a-button>
            <a-button class="btns" @click="goBackShareList">
              返回资质集市
            </a-button>
          </div>
        </div>
        <div class="share-table table-warp">
          <a-table
            :columns="sharedColumns"
            :data-source="sharedTable"
            :pagination="sharedPagination"
            :rowClassName="rowClassName"
            class="resources-table"
            rowKey="index"
            bordered
          >
            <template slot="authenStatus" slot-scope="item, row">
              <div
                v-if="row.authenStatus === 0"
                class="yellow-status status-slot"
              >
                {{ item }}
              </div>
              <div
                v-if="row.authenStatus === 1"
                class="green-status status-slot"
              >
                {{ item }}
              </div>
              <div v-if="row.authenStatus === 2" class="red-status status-slot">
                {{ item }}
              </div>
            </template>
            <template slot="operate" slot-scope="item">
              <operate-column
                :btns="shareOperateBtns(item)"
                :info="item"
              ></operate-column>
            </template>
          </a-table>
          <div class="description">
            <p>
              说明：提交后等待系统工作人员审核（1个工作日），审核成功后，系统会将该企业的资质信息展示在“我的发布”列表中。
              <br />
              1.快速发布的出售信息不需要审核，高价出售的资质需要平台审核，标上平台标签：小牛优选。
              <br />
              2.对外展示：您可选择“对外展示”该资质，操作成功后，该资质信息可在“购买资质”列表中供系统所有用户查询。
              <br />
              3.取消展示：您可选择“取消展示”该资质，操作成功后，该资质在“购买资质”列表中将不会被查询到。
              <br />
              4.移除：该资源已经被转出或不需要再展示，您可选择“移除”，移除后不可撤回，如有新的同类资源可重新发布提交审核。
            </p>
          </div>
        </div>
      </div>
      <div v-if="!shareTotal">
        <div class="userCenter-title">
          <div class="userCenter-title-left">
            <p class="isActive">我出售的资质</p>
            <div
              v-if="freeCount >= 0"
              class="leading-[20px] text-center
            h-[22px] bg-[#00BC87] tips"
            >
              对外展示免费使用次数剩余：{{ freeCount }}次
            </div>
          </div>
          <div class="userCenter-title-right">
            <a-button class="back-btns" @click="goBackShareList">
              返回资质集市
            </a-button>
          </div>
        </div>
        <div class="table-warp share-table noneFreeCount">
          <block-data
            :marginTopNum="168"
            :imageHeight="400"
            :imageSrc="notFind"
            :imageWidth="''"
            :text="'您暂未发布资质信息'"
            :titleText="''"
          >
            <template slot="btSlot">
              <a-button type="primary" @click="goToCertification">
                我要发布
              </a-button>
            </template>
          </block-data>
        </div>
      </div>
      <div v-if="historyTotal">
        <div class="userCenter-title ">
          <p class="isActive">发布历史</p>
        </div>
        <div class="history-table table-warp">
          <a-table
            :columns="historyColumns"
            :data-source="historyTableData"
            :pagination="historyPagination"
            :rowClassName="rowClassName"
            class="resources-table"
            rowKey="index"
          >
          </a-table>
          <div class="description">
            提示：已被移除的资质，不可移动或恢复，“发布历史”列表中的数据仅做展示
          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <div class="userCenter-title">
        <p class="isActive">我的发布</p>
        <a-button class="back-btns" @click="goBackShareList">
          返回资质集市
        </a-button>
      </div>
      <div class="table-warp noneFreeCount">
        <block-data
          :imageHeight="440"
          :imageSrc="notFind"
          :imageWidth="''"
          :text="'您暂未发布资质信息'"
          :titleText="''"
        >
          <template slot="btSlot">
            <a-button type="primary" @click="goToCertification">
              我要发布
            </a-button>
          </template>
        </block-data>
      </div>
    </div>

    <a-modal
      v-model="shareModal"
      :destroyOnClose="true"
      title="共享资源"
      width="550px"
      @cancel="closeShareModal"
      @ok="confrimShared"
    >
      <form-index
        ref="formIndex"
        v-model="formValue"
        :formItems="formItems"
        :labelCol="{ span: 4 }"
        @isReallyPhone="isReallyPhone"
      ></form-index>
      <a-form-model
        ref="verifyForm"
        :labelCol="{ span: 4 }"
        :model="formValue"
        :rules="rules"
        :wrapper-col="{ offset: 4 }"
        style="width:100%"
      >
        <a-form-item label="验证码" prop="verifyCode">
          <verify-code
            ref="code"
            :phone="formValue.contactsPhone"
            @isReallyPhone="isReallyPhone"
            @setVerifyCode="setVerifyCode"
          ></verify-code>
        </a-form-item>
        <a-form-item label="其他特性">
          <a-chekbox v-model="isNeedLetter">包函</a-chekbox>
          <a-chekbox v-model="isHoldingCompany">不可控股</a-chekbox>
        </a-form-item>
      </a-form-model>
      <div class="tips">
        说明：资源共享操作成功后您的资源可在“资质转让”中供系统所有用户查询，同时您的免费共享资源次数将减少一次。
      </div>
    </a-modal>
    <!--   -->
    <a-drawer
      :visible="visibleDetail"
      title="我出售的资质"
      width="800px"
      @close="onClose"
    >
      <detailsComponents
        :id="authenticationId"
        :isCertification="0"
      ></detailsComponents>
    </a-drawer>
  </div>
</template>

<script>
import {
  Table,
  Tooltip,
  Modal,
  FormModel,
  Checkbox,
  Drawer
} from 'ant-design-vue'
import detailsComponents from './Components/Detail.vue'

import blockData from '@/components/BlockData.vue'
import developmenting from '@/assets/image/developmenting.png'
import operateColumn from '@/components/Operate'
import one from '@/assets/image/recommend/one.png'
import two from '@/assets/image/recommend/two.png'
import three from '@/assets/image/recommend/three.png'
import four from '@/assets/image/recommend/four.png'
import notFind from '@/assets/image/no_data_block.png'
import formType from '@/components/Form/formType'
import formIndex from '@/components/Form/index.vue'
import VerifyCode from '@/components/verifyCode.vue'

export default {
  name: 'user-resources',
  components: {
    detailsComponents,
    aDrawer: Drawer,
    blockData,
    aTable: Table,
    aTooltip: Tooltip,
    operateColumn,
    aModal: Modal,
    formIndex,
    aChekbox: Checkbox,
    aFormModel: FormModel,
    aFormItem: FormModel.Item,
    VerifyCode
  },
  computed: {
    certificationPagination() {
      return {
        total: this.certificationTotal,
        current: this.certificationPageNum,
        pageSize: this.certificationPageSize,
        onChange: this.certificationChange
      }
    },
    sharedPagination() {
      return {
        total: this.shareTotal,
        current: this.sharedPageNum,
        pageSize: this.sharedPageSize,
        onChange: this.sharedTableChange
      }
    },
    historyPagination() {
      return {
        total: this.historyTotal,
        current: this.historyPageNum,
        pageSize: this.historyPageSize,
        onChange: this.historyTableChange
      }
    },
    sharedBtns() {
      return [
        {
          label: '共享资源',
          type: 'link',
          // icon: 'edit',
          click: this.sharedThisItem.bind(this)
        }
      ]
    },
    formItems() {
      return [
        {
          label: '联系人',
          type: formType.INPUT,
          value: this.formValue.contactsPerson,
          name: 'contactsPerson',
          validate: [
            {
              required: true,
              trigger: 'blur',
              message: '请输入联系人姓名'
            }
          ],
          placeholder: '请输入联系人姓名'
        },
        {
          label: '联系电话',
          type: formType.INPUT,
          value: this.formValue.contactsPhone,
          name: 'contactsPhone',
          validate: [
            {
              required: true,
              validator: this.validatePhoneNumber,
              trigger: 'blur'
            }
          ],
          placeholder: '请输入联系人电话'
        }
        // {
        //   label: '隐藏企业信息',
        //   type: formType.RADIO,
        //   value: false,
        //   name: 'isHidden',
        //   haveTips: true,
        //   tips:
        //     '选择“否”，资源共享成功后可在“资质转让”列表中查看全部信息；选择“是”，资源共享成功在“资质转让”列表中仅不可查看您的公司名称和地区，其余信息均可查看。',
        //   options: [
        //     {
        //       value: true,
        //       label: '是',
        //     },
        //     {
        //       value: false,
        //       label: '否',
        //     },
        //   ],
        // },
      ]
    }
  },
  data() {
    return {
      visibleDetail: false,
      authenticationId: null,
      isNeedLetter: false,
      isHoldingCompany: false,
      rules: {
        verifyCode: [
          {
            required: true,
            message: '请输入验证码',
            trigger: 'blur'
          }
        ]
      },
      formValue: {
        verifyCode: '',
        contactsPhone: '',
        contactsPerson: ''
      },
      notHaveCertList: '',
      btns: [
        {
          label: '详情',
          type: 'link',
          // icon: 'edit',
          click: this.goToDetail.bind(this)
        }
      ],
      historyPageNum: 1,
      historyPageSize: 5,
      historyTableData: [],
      historyTotal: 0,
      historyColumns: [
        // { title: '序号', dataIndex: 'index' },
        { title: '公司名称', dataIndex: 'enterpriseName' },
        { title: '资质类别及等级', dataIndex: 'qualificationNameAndLevel' },
        { title: '资质状态', dataIndex: 'stausText' },
        { title: '移除人员', dataIndex: 'operateUser' },
        { title: '移除时间', dataIndex: 'updateTimeText' }
      ],
      shareTotal: 0,
      sharedPageNum: 1,
      sharedPageSize: 5,
      sharedColumns: [
        // { title: '序号', dataIndex: 'index' },
        { title: '公司名称', dataIndex: 'enterpriseName' },
        { title: '资质类别及等级', dataIndex: 'qualificationNameAndLevel' },

        {
          title: '资质状态',
          dataIndex: 'quelificationStatusText',
          width: 100
        },
        {
          title: '审核状态',
          dataIndex: 'authenStatusText',
          scopedSlots: { customRender: 'authenStatus' },
          width: 100,
          align: 'center'
        },
        { title: '发布人', dataIndex: 'operateUser' },

        { title: '发布有效期至', dataIndex: 'shareEndTimeText', width: 130 },
        {
          title: '操作',
          dataIndex: '',
          width: '220px',
          scopedSlots: { customRender: 'operate' },
          align: 'center'
        }
      ],
      sharedTable: [],
      notFind,
      certificationData: [
        {
          title: '提升企业曝光率',
          detail: '让更多人精准用户找到你',
          image: one
        },
        {
          title: '自主维护企业信息',
          detail: '展示企业详情，信息更新更全面',
          image: four
        },
        {
          title: '企业访客统计',
          detail: '获取访客信息，查找更多合作伙伴',
          image: two
        },
        {
          title: '信誉度高',
          detail: '资源共享信誉度高，优先获取资源',
          image: three
        }
      ],
      developmenting,
      shareModal: false,
      shareItem: null,
      freeCount: 0
    }
  },
  methods: {
    shareOperateBtns(row) {
      if (row.channel === 1) {
        const onlyDetail = [
          {
            label: '详情',
            type: 'link',
            color: '#1890FF',
            click: this.goToDetail.bind(this)
          }
        ]
        const failureBtns = [
          {
            label: '详情',
            type: 'link',
            color: '#1890FF',
            click: this.goToDetail.bind(this)
          },
          {
            label: '重新提审',
            type: 'link',
            color: '#1890FF',
            click: this.reSend.bind(this)
          }
        ]
        const sunccessBtns = [
          {
            label: '详情',
            type: 'link',
            color: '#1890FF',
            click: this.goToDetail.bind(this)
          },
          {
            label: '对外展示',
            type: 'link',
            color: '#1890FF',
            // icon: 'edit',
            click: this.sharedThisItem.bind(this)
          }
        ]
        const displayBtns = [
          {
            label: '详情',
            type: 'link',
            color: '#1890FF',
            click: this.goToDetail.bind(this)
          },
          {
            label: '取消展示',
            type: 'link',
            color: '#1890FF',
            // icon: 'edit',
            click: this.cancelSharedThisItem.bind(this)
          },
          {
            label: '移除',
            type: 'link',
            color: '#1890FF',
            click: this.removeThisItemFromShare.bind(this)
          }
        ]
        if (row.authenStatus === 2) {
          //失败跟审核中只能看详情
          return failureBtns
        } else if (row.authenStatus === 0) {
          // 快速发布
          return onlyDetail
        } else {
          if (row.status) {
            return displayBtns
          } else {
            return sunccessBtns
          }
        }
      } else {
        if (row.status) {
          return [
            {
              label: '详情',
              type: 'link',
              color: '#1890FF',
              click: this.goToDetail.bind(this)
            },
            {
              label: '取消展示',
              type: 'link',
              color: '#1890FF',
              // icon: 'edit',
              click: this.cancelSharedThisItem.bind(this)
            },
            {
              label: '移除',
              type: 'link',
              color: '#1890FF',
              click: this.removeThisItemFromShare.bind(this)
            }
          ]
        } else {
          return [
            {
              label: '详情',
              type: 'link',
              color: '#1890FF',
              click: this.goToDetail.bind(this)
            },

            // {
            //   label: '移除',
            //   type: 'link',
            //   color: '#dc0000',
            //   click: this.removeThisItemFromShare.bind(this),
            // },
            {
              label: '对外展示',
              type: 'link',
              color: '#1890FF',
              // icon: 'edit',
              click: this.sharedThisItem.bind(this)
            },
            {
              label: '重新提审',
              type: 'link',
              color: '#1890FF',
              click: this.reSend.bind(this)
            }
          ]
        }
        // return [
        //   {
        //     label: '详情',
        //     type: 'link',
        //     click: this.goToDetail.bind(this),
        //   },
        //   {
        //     label: '取消展示',
        //     type: 'link',
        //     color: '#ff8800',
        //     // icon: 'edit',
        //     click: this.cancelSharedThisItem.bind(this),
        //   },
        //   {
        //     label: '移除',
        //     type: 'link',
        //     color: '#dc0000',
        //     click: this.removeThisItemFromShare.bind(this),
        //   },
        //   {
        //     label: '重新提审',
        //     type: 'default',
        //     click: this.reSend.bind(this),
        //   },
        // ]
      }
    },
    removeThisItemFromShare(shareItem) {
      Modal.confirm({
        title: '移除资质',
        content:
          '是否确定移除该资质，移除操作成功后不能恢复（不能撤回），请谨慎操作？',
        cancelText: '取消',
        okText: '确定',
        onOk: () => {
          const params = {
            authenRecordId: shareItem.authenticationId,
            sharedItemId: shareItem.sharedItemId,
            sharedId: shareItem.sharedId,
            status: 2
          }
          const isOnlyOne = this.sharedTable.length === 1
          this.$httpRequester.post('shared/statusChange', params).then(() => {
            if (isOnlyOne) {
              this.sharedPageNum =
                this.sharedPageNum > 1 ? this.sharedPageNum - 1 : 1

              this.sharedPageSize = 5
            }
            this.getMySharedList()
            this.historyPageNum = 1
            this.historyPageSize = 5
            this.getMyHistoryList()
          })
        }
      })
    },
    reSend(row) {
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1',
          reSendId: row.authenticationId
        }
      })
    },
    cancelSharedThisItem(shareItem) {
      Modal.confirm({
        title: '取消展示',
        content: '是否取消展示？',
        okText: '确定',
        cancelText: '取消',
        onOk: () => {
          this.cancelShared(shareItem)
        }
      })
    },
    cancelShared(shareItem) {
      const params = {
        authenRecordId: shareItem.authenticationId,
        sharedItemId: shareItem.sharedItemId,
        sharedId: shareItem.sharedId,
        status: 0
      }

      this.$httpRequester.post('shared/statusChange', params).then(() => {
        // console.log(res)
        Modal.info({
          title: '温馨提示',
          content:
            '已成功取消展示该资源，您可在发布有效期截止前再次展示该资源，将不再扣除您的免费展示资源次数'
        })
        this.getMySharedList()
        this.closeShareModal()
      })
    },
    goBackShareList() {
      this.$router.push({
        name: 'qrMain'
      })
    },
    isReallyPhone() {
      const canSendMessage = this.$refs.formIndex.formItemValidator(
        'contactsPhone'
      )
      if (canSendMessage) {
        this.$refs.code.sendVerifycode()
      }
      // console.log(this.formValue.contactsPhone)
    },
    rowClassName() {
      // console.log(a, b)
      return 'resource-row-text'
    },
    getLastNewList() {
      this.$httpRequester
        .get('enterprise/authentication/pullLastInfo')
        .then(() => {
          // if (r) {
          //   this.sharedTable = r
          // }
          this.$message.success('数据已是最新')
          this.getMySharedList()
          this.getNotCerEnterpriseList()
        })
    },
    historyTableChange(pageNum, pageSize) {
      this.historyPageNum = pageNum
      this.historyPageSize = pageSize
      this.getMyHistoryList()
    },
    sharedTableChange(pageNum, pageSize) {
      this.sharedPageNum = pageNum
      this.sharedPageSize = pageSize
      this.getMySharedList()
    },
    validatePhoneNumber(rule, value, callback) {
      //  const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    closeShareModal() {
      this.shareItem = false
      this.shareModal = false
      this.formValue = {
        verifyCode: '',
        contactsPhone: '',
        contactsPerson: ''
      }
      this.isNeedLetter = false
      this.isHoldingCompany = false
      // this.getUserFreeCount()
    },
    setVerifyCode(code) {
      this.formValue.verifyCode = code
    },
    confrimShared() {
      // const form = this.$refs.formIndex.formValidator()
      // let verifyIsOk = false
      // this.$refs.verifyForm.validate((val) => {
      //   verifyIsOk = val
      // })
      // if (!form || !verifyIsOk) {
      //   return
      // }
      //   console.log(form)

      const params = {
        authenRecordId: this.shareItem.authenticationId,
        sharedItemId: this.shareItem.sharedItemId,
        status: 1,
        sharedId: this.shareItem.sharedId,
        isHoldingCompany: this.isHoldingCompany,
        isNeedLetter: this.isNeedLetter,
        verifyCode: this.formValue.verifyCode
      }

      // const params = {
      //   id: this.shareItem.id,
      //   status: 1,
      //   isHoldingCompany: this.isHoldingCompany,
      //   isNeedLetter: this.isNeedLetter,
      //   ...form,
      //   verifyCode: this.formValue.verifyCode,
      // }
      this.$httpRequester.post('shared/statusChange', params).then(() => {
        // console.log(res)
        this.$message.success('操作成功')
        this.getMySharedList()
        // this.getUserFreeCount()
      })
    },
    sharedThisItem(item) {
      // console.log(item)
      // console.log(currentTime, endTime)
      // 次数为0 而且已经过了共享日期
      if (!item.shareEndTime) {
        if (this.freeCount === 0) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )

          return
        }
      } else {
        const currentTime = new Date().getTime()
        const endTime = new Date(item.shareEndTime).getTime()
        if (this.freeCount === 0 && currentTime > endTime) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )

          return
        }
      }

      this.shareItem = item
      Modal.confirm({
        title: '温馨提示',
        content: '是否确定对外展示？',
        onOk: this.confrimShared
      })
      // this.shareModal = true
    },
    goToCertification() {
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1'
          // from: this.$route.name,
        }
      })
    },
    onClose() {
      this.visibleDetail = false
    },
    goToDetail(row) {
      this.visibleDetail = true
      this.authenticationId = row.authenticationId
      // this.$router.push({
      //   name: 'mySellDetail',
      //   query: {
      //     id: row.authenticationId,
      //     isCertification: '0',
      //     historyPage: this.historyPageNum,
      //     mySellPage: this.sharedPageNum,
      //     from: this.$route.name
      //   }
      // })
    },
    getMyHistoryList() {
      const params = {
        currentPage: this.historyPageNum,
        pageSize: this.historyPageSize
      }
      this.$httpRequester.get('shared/remove/list', params).then(res => {
        if (res) {
          res.data.forEach((e, i) => {
            e.index = i + 1
            e.stausText = '已移除'
            e.operateUser = e.operateUser || '---'
            e.updateTimeText = e.updateTime
              ? this.$moment(e.updateTime).format('yyyy-MM-DD')
              : this.$moment().format('yyyy-MM-DD')
          })
          this.historyTableData = res.data
          this.historyTotal = res.totalSize
        }
      })
    },
    getMySharedList() {
      const params = {
        currentPage: this.sharedPageNum,
        pageSize: this.sharedPageSize
      }
      // this.sharedTable = []
      const authenStatus = ['审核中', '审核成功', '审核失败']
      this.$httpRequester
        .get('shared/list', params, 'application/x-www-form-urlencoded')
        .then(res => {
          if (res) {
            this.sharedTable = res.data.map((d, i) => {
              return {
                ...d,
                operateUser: d.operateUser || '---',
                shareEndTimeText: d.shareEndTime || '---',
                index: i + 1,
                quelificationStatusText:
                  d.quelificationStatus === 1 ? '预售' : '现货',
                authenStatusText:
                  d.channel === 0 ? '---' : authenStatus[d.authenStatus]
              }
            })
            this.shareTotal = res.totalSize || 0
          }
          this.getUserFreeCount()
        })
    },
    getNotCerEnterpriseList() {
      this.$httpRequester.post('shared/checkout/emptyIteams').then(res => {
        this.notHaveCertList = res.length ? res.join(',') : ''
      })
    },
    getUserFreeCount() {
      this.$httpRequester.get('free/count/querySharedAddCount').then(res => {
        // console.log(res)
        this.freeCount = res ? res.freeCount : 0
      })
    },
    async getPageNum() {
      this.historyPage = this.$route.query.historyPage
        ? parseInt(this.$route.query.historyPage, 10)
        : 1
      this.sharedPageNum = this.$route.query.mySellPage
        ? parseInt(this.$route.query.mySellPage, 10)
        : 1
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.getPageNum().then(() => {
        this.getMyHistoryList()
        this.getMySharedList()
      })

      // this.getNotCerEnterpriseList()
      // this.getUserFreeCount()
    })
  }
}
</script>

<style lang="scss" scoped>
::v-deep .ant-drawer-header {
  border-bottom: none !important;
}
::v-deep .ant-table-thead > tr > th {
  padding: 0;
  height: 46px;
  text-align: center;
  background-color: #f2f6f8;
}
::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.user-center-resources {
  border-radius: 4px;
  overflow: hidden;
  padding: 24px;
  min-height: 774px;

  .back-btns {
    position: absolute;
    right: 30px;
  }

  .white-color {
    background-color: #fafafa;
  }

  .description {
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    color: #999999;
  }

  .share-tips {
    background-color: #fafafa;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    // margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    // align-self: flex-end;
  }

  .resources-content {
    // padding-top: 4px;
    // padding-bottom: 30px;
    background-color: #ffffff;
    padding-bottom: 40px;

    .no-data-opeater {
      font-size: 16px;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }

    .recommend {
      margin-top: 30px;
      padding-left: 33px;
      padding-bottom: 34px;

      .certification-expain {
        padding-left: 10px;
        margin-top: 14px;
        font-size: 12px;
      }

      .certification-title {
        font-size: 16px;
        color: #8e8e90;
        padding-left: 7px;
        border-left: 3px solid #4d7cfe;
      }

      .certification-items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 50%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;

          .bg {
            height: 100px;
            width: 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .info {
            width: 260px;
            color: #8e8e90;

            .cer-title {
              width: 100%;
              text-align: center;
              font-size: 16px;
              margin-bottom: 6px;
              font-weight: normal;
            }

            .cer-detail {
              width: 100%;
              font-size: 14px;
              font-weight: lighter;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .noneFreeCount {
    margin-top: 168px;
  }

  .table-warp {
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
    padding: 24px;
    position: relative;
    margin-bottom: 18px;

    .certification-table,
    .resources-table {
      margin-top: 20px;

      .ant-table-thead > tr > th {
        background-color: #ffffff;
      }
    }

    .not-cer-tips {
      position: absolute;
      font-size: 12px;
      padding: 0 15px;
      height: 20px;
      bottom: 45px;
      line-height: 20px;
      background-color: #f2f2f2;
      color: #ff8800;
      border-radius: 10px;
    }
  }

  .status-slot {
    margin: 0 auto;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 55px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
  }

  .yellow-status {
    color: #ff8800;
  }

  .green-status {
    color: #4ebf56;
  }

  .red-status {
    color: #f30c0c;
  }
}
</style>
<style lang="scss">
//.certification-table,
//.resources-table {
//  .ant-table-thead > tr > th {
//    background-color: #ffffff;
//    color: rgba($color: #000000, $alpha: 0.5);
//  }
//}
// .resource-row-text {
//   color: # !important;
// }
</style>
