<template>
  <div class="soft-info">
    <div class="userCenter-title">
      <p class="isActive">关于小牛建讯</p>
    </div>
    <div class="info-list">
      <div class="info-item">
        <div class="info-label">版本信息:</div>
        <div class="update-info">{{ info.version }}</div>
      </div>
      <div class="info-item">
        <div class="info-label">版本更新：</div>
        <div class="update-info">{{ updateText }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { Modal } from 'ant-design-vue'
import info from '../../../version.json'
export default {
  name: 'soft-info',
  data() {
    return {
      info: {},
      updateText: ''
    }
  },
  methods: {
    checkUpdateInfo() {
      if (window.ipcRenderer) {
        ipcRenderer.send('checkForUpdateByUser')
        ipcRenderer.on('userCheck', (event, data) => {
          console.log(data)
          if (data.status === 2) {
            Modal.info({
              title: '温馨提示',
              content: '当前版本已是最新版本'
            })
            window.ipcRenderer.removeAllListeners()
          }
        })
      }
      // console.log(this.info)
    },
    getUpdateInfo() {
      this.$httpRequester
        .get('/sys/config/query', { item: 'APP_UPDATE_CONTENT' })
        .then(res => {
          // console.log(res)
          this.updateText = res
        })
    }
  },
  mounted() {
    this.info = info
    this.getUpdateInfo()
  }
}
</script>

<style lang="scss" scoped>
.soft-info {
  padding: 24px;

  .title{
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    line-height: 22px;
  }
  .info-list {
    // height: 100%;
    margin-top: 24px;
    background-color: #ffffff;
    .info-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 15px;
      font-size: 16px;
      .info-label {
        flex-shrink: 0;
        width: 70px;
        font-size: 14px;
        font-weight: 400;
        color: #686868;
        line-height: 20px;
      }
      .update-info {
        white-space: pre-line;
        font-size: 14px;
        font-weight: 400;
        color: #282828;
        line-height: 22px;
      }
    }
  }
}
</style>
