<template>
  <div class="user-center-layout">
<!--    <a-menu
        :selectedKeys="[pId]"
        class="lf-menu"
        mode="horizontal"
        @click="clickMenuItem"
    >
      <a-menu-item v-for="item in menuItems" :key="item.key">
        <a-icon :type="item.icon" theme="filled"/>
        <span>{{ item.name }}</span>
      </a-menu-item>
    </a-menu>-->

    <div class="rt-content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
// import {Menu} from 'ant-design-vue'
import {userModule} from '@/store/modules/user'

export default {
  name: 'user-center-layout',
  // components: {
  //   aMenu: Menu,
  //   aMenuItem: Menu.Item
  // },
  computed: {
    menuItems() {
      const items = [
        {name: '基本信息', icon: 'contacts', pathName: 'UCBasicInfo', key: 0},
        {
          name: '次数使用情况',
          icon: 'database',
          pathName: 'companyCount',
          key: 1
        },
        {name: '系统配置', icon: 'tool', pathName: 'downloadSetting', key: 2},
        {
          name: '我出售的资质',
          icon: 'pay-circle',
          pathName: 'mySell',
          key: 4
        },
        {
          name: '我求购的资质',
          icon: 'shopping',
          pathName: 'myBuying',
          key: 6
        },
        {
          name: '关于小牛建讯',
          icon: 'info-circle',
          pathName: 'softInfo',
          key: 7
        },
        // { name: '设置', icon: 'tool', pathName: 'setting/user' },
        // { name: '我的资源', icon: 'database', pathName: 'UCResources' },
        {
          name: '修改密码',
          icon: 'setting',
          pathName: 'changePassword',
          key: 5
        }
      ]
      if (userModule.roleLevel !== 1) {
        items.splice(1, 2)
      }
      return items
    }
  },
  data() {
    return {
      pId: ''
    }
  },
  methods: {
    clickMenuItem(e) {
      const find = this.menuItems.find(m => {
        return m.key === e.key
      })
      if (this.$route.name === find.pathName) {
        return
      }
      this.$router.replace({
        name: find.pathName,
        query: {
          pId: e.key
        }
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.pId = parseInt(this.$route.query.pId, 10)
    })
  }
}
</script>
<style lang="scss">
.userCenter-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .isActive {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
    margin-right: 12px;
  }

  .userCenter-title-left {
    display: flex;
    //align-items: end;

    .isActive {
      font-size: 16px;
      font-weight: 500;
      color: #282828;
      line-height: 22px;
      margin-right: 12px;
    }

    .tips {
      height: 22px;
      line-height: 22px;
      padding: 0 8px;
      background: #00BC87;
      border-radius: 11px 11px 11px 0;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
    }
  }
  .userCenter-title-right{
    .btns{
      margin-left: 16px;
    }

  }

}


</style>
<style lang="scss" scoped>
.user-center-layout {
  width: 100%;
  position: relative;

  .lf-menu {
    // padding: 16px;
    height: 100%;
    border-right: none;
    border-radius: 4px;
    background-color: #ffffff;
    overflow: hidden;

    .ant-menu-item-selected {
      margin: 0;
      height: 48px;
      line-height: 48px;
    }

    .ant-menu-item {
      height: 48px;
      line-height: 48px;
      margin: 0;
    }
  }

  .rt-content {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
  }
}
</style>
