<template>
  <div class="certification-page">
    <div class="main">
      <!-- <div>
        <a-button
          @click="backFrom"
          v-if="channel === '2'"
          type="link"
          icon="left"
        >
          返回
        </a-button>
      </div> -->
      <div
          class="title-box h-[54px] leading-[54px] w-full text-center border-bgLight border-solid border-b-[1px]"
      >
        <div
            class="text-sysPrimary px-[24px] pt-[24px] pb-[16px] text-[16px] flex items-center cursor-pointer"
            @click="handleReturn"
        >
          <a-icon :component="backIcon" class="mr-[4px]"/>
          返回
        </div>
        <p class="text-[16px] text-textPrimary font-medium">
          {{ id ? '重新提审' : '填写出售资质信息' }}
        </p>
        <div class="title-left"></div>
      </div>
      <div>
        <div v-if="!isSubmit" class="certifi-form">
          <div v-if="id" class="warning">
            <a-icon class="mr-[3px]" theme="filled" type="exclamation-circle"/>
            提示：信息填写越完整，转让速度越快，成功率越大
          </div>
          <a-button class="btn" @click="handleServerSend">平台代发</a-button>
          <div class="formBox w-[540px] mt-[30px]">
            <form-index
                ref="formIndex"
                v-model="formValue"
                :formItems="formItems"
                :labelCol="{ span: 5 }"
                @addMoreQualification="addMoreQualification"
                @radioGroupChange="radioGroupChange"
                @removeImage="removeImage"
                @removeThisQualification="removeThisQualification"
                @setVerifyCode="setVerifyCode"
                @uploadSuccess="uploadSuccess"
                @validatePhone="validatePhone"
            ></form-index>
          </div>
          <!-- <a-row type="flex"> -->
          <!-- <a-col :span="4"> </a-col> -->
          <div class="submit-certification">
            <a-button
                class="have-rt-margin"
                type="primary"
                @click="submitCertification"
            >{{ id ? '重新提审' : '立即发布' }}
            </a-button
            >
            <!-- <a-button @click="backToMySell">取消</a-button>
            <div class="tips" v-if="channel === '1'">
              提示：发布审核成功之后即为小牛优选发布，默认展示时间为30天。中途不需要出售该资质，可在个人中心
              - 我出售的资质，操作下架资源
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <image-preview
        v-if="showPriview"
        :imageUrl="priviewUrl"
        @closePrview="closePrview"
    ></image-preview>

    <server-modal ref="serverModal"></server-modal>
  </div>
</template>

<script>
import {Row, Col} from 'ant-design-vue'
import formType from '@/components/Form/formType'
import formIndex from '@/components/Form/index.vue'
import uploadImage from '@/components/Form/ImageUpload'
import BlockData from '@/components/BlockData'
import imagePreview from '@/components/ImagePreview'
import qualificationSelect from '@/components/QualificationSelect'
import {universalModule} from '@/store/modules/universal'
import VerifyCode from '@/components/verifyCode.vue'
import ServerModal from '../components/ServerModal.vue'
import backIcon from '@/components/icons/backIcon.vue'

export default {
  name: 'certification',
  components: {
    ServerModal,
    formIndex,
    aRow: Row,
    aCol: Col,
    BlockData,
    imagePreview
  },
  computed: {
    pageTitle() {
      return this.isEdit ? '企业认证' : '企业认证详情'
    },
    formItems() {
      const items = [
        {
          label: '剥离方式：',
          type: formType.RADIO,
          options: [
            {
              label: '分立',
              value: 0
            },
            {
              label: '整转',
              value: 1
            }
          ],
          name: 'shipmentType',
          value: this.formValue.shipmentType,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择剥离方式'
            }
          ]
        },
        {
          label: '资质类型：',
          type: formType.COMPONENT,
          value: this.formValue.itemsInfoList,
          name: 'itemsInfoList',
          component: qualificationSelect,
          list: this.qualificationList,
          shipmentType: this.formValue.shipmentType,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择资质类型'
            }
          ]
        },
        {
          label: '企业名称',
          type: formType.INPUT,
          placeholder: '请输入企业名称全称',
          name: 'enterpriseName',
          value: this.formValue.enterpriseName,
          validate: [
            {
              required: true,
              validator: this.isNotHaveNumber
            }
          ]
        },
        {
          label: '注册地区',
          type: formType.SELECT,
          placeholder: '请选择注册地区，如四川省',
          name: 'areaCode',
          options: this.areaOptions,
          value: this.formValue.areaCode,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择注册地区'
            }
          ]
        },
        {
          label: '落地地区',
          type: formType.SELECT,
          placeholder: '请选择出货落地地区',
          name: 'inAreaCode',
          options: this.inAreaOptions,
          value: this.formValue.inAreaCode,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择出货落地地区'
            }
          ]
        },
        {
          label: '营业执照',
          component: uploadImage,
          type: formType.COMPONENT,
          style: {width: '120px', height: '120px'},
          id: 'businessLicenseUrl',
          name: 'businessLicenseUrl',
          value: this.formValue.businessLicenseUrl,
          default: this.businessLicenseUrl,
          show: this.businessPhotoShow,
          size: 5 * 1024 * 1024,
          tips:
              '为增加可信度，请上传营业执照 \n 仅支持JPG、JPEG和PNG格式，大小不超过5M，文字清晰可辩，企业名称必须与您填写的企业名称一致',
          length: 1,
          validate: [
            {
              required: false,
              trigger: 'blur',
              message: '请上传营业执照'
            }
          ]
        },
        {
          label: '证书有效期',
          name: 'effectiveDate',
          type: formType.MONTHRANGE,
          value: this.formValue.effectiveDate,
          mode: 'month',
          placeholder: '请选择证书有效期',
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择证书有效期'
            }
          ]
        },
        {
          label: '资质证书',
          component: uploadImage,
          type: formType.COMPONENT,
          style: {width: '120px', height: '120px'},
          id: 'itemsImageUrlList',
          length: 1,
          size: 5 * 1024 * 1024,
          name: 'itemsImageUrlList',
          value: this.formValue.itemsImageUrlList,
          default: this.itemsImageUrlList,
          show: this.quaPhotoShow,
          validate: [
            {
              required: true,
              trigger: 'blur',
              message: '请上传企业资质证书'
            }
          ],
          tips: '为增加信息可信度，可上传资质证书图片（马赛克图片）'
        },
        {
          label: '更多特性',
          type: formType.CHECKBOX,
          name: 'other',
          options: this.otherOptions,
          value: this.formValue.other
        },
        {
          label: '付款方式',
          type: formType.TEXTAREA,
          name: 'paymentMethod',
          value: this.formValue.paymentMethod,
          placeholder: '请输入付款方式'
        },
        {
          label: '备注说明',
          type: formType.TEXTAREA,
          name: 'showDescribe',
          value: this.formValue.showDescribe,
          placeholder: '没有特别说明可填写无'
        },
        {
          label: '联系人',
          type: formType.INPUT,
          value: this.formValue.contactsPerson,
          name: 'contactsPerson',
          validate: [
            {
              required: true,
              validator: this.validateContactsPerson,
              trigger: 'change'
            }
          ],
          placeholder: '请输入联系人姓名'
        },
        {
          label: '手机',
          type: formType.INPUT,
          value: this.formValue.contactsPhone,
          name: 'contactsPhone',
          validate: [
            {
              required: true,
              validator: this.validatePhoneNumber,
              trigger: 'blur'
            }
          ],
          placeholder: '请输入联系人电话'
        }
      ]
      if (this.channel === '1') {
        items.push({
          label: '验证码',
          type: formType.COMPONENT,
          value: this.formValue.verifyCode,
          name: 'verifyCode',
          component: VerifyCode,
          validate: [
            {
              required: true,
              message: '请输入验证码',
              trigger: 'change'
            }
          ]
        })
      }
      //       const contactsPerson =
      // items.splice(items.length - 2, 0, contactsPerson)
      return items
    },
    qualificationOptions() {
      return universalModule.qualificationOptions
    },
    areaOptions() {
      const options = []
      universalModule.areaOptions.forEach(e => {
        if (this.gangAoTai.includes(e.value)) {
          e.disabled = true
        }
        options.push(e)
      })
      return options
    },
    inAreaOptions() {
      const options = [{label: '全国', value: 0}]
      universalModule.areaOptions.forEach(e => {
        if (this.gangAoTai.includes(e.value)) {
          e.disabled = true
        }
        options.push(e)
      })
      return options
    }
  },
  data() {
    return {
      backIcon,
      businessPhotoShow: false,
      quaPhotoShow: false,
      gangAoTai: [810000, 820000, 710000],
      formValue: {
        itemsInfoList: [],
        verifyCode: '',
        other: ['isNeedLetter', 'isHoldingCompany'],
        showDescribe: '',
        shipmentType: 0,
        areaCode: [],
        inAreaCode: [],
        enterpriseName: '',
        businessLicenseUrl: '',
        socialCreditCode: '',
        legalPerson: '',
        contactsPhone: '',
        contactsPerson: '',
        itemsIdList: '',
        itemsImageUrlList: [],
        effectiveDate: '',
        paymentMethod: '' // 付款方式
      },
      otherOptions: [
        {label: '包函', value: 'isNeedLetter'},
        {label: '可被控股', value: 'isHoldingCompany'}
      ],
      reSendId: 0,
      channel: '1',
      statusText: ['现货', '预售'],
      qualificationList: [{qualificationId: undefined}],
      companyName: '',
      priviewUrl: '',
      showPriview: false,
      statusImage: '',
      detail: {},
      id: '',
      isSubmit: false,
      isEdit: true,
      businessLicenseUrl: [],
      itemsImageUrlList: [],
      legalImageUrl: ''
    }
  },
  methods: {
    handleReturn() {
      this.$emit('changeMenuItem', {routerName: this.routeFrom})
      this.$router.push({
        name: this.routeFrom,
        query: {
          pId: '4'
        }
      })
    },
    validateContactsPerson(rule, value, callback) {
      const notNum = /^[\u4e00-\u9fa5a-zA-Z]+$/
      if (!value) {
        callback(new Error('请输入联系人姓名'))
      } else if (!notNum.test(value)) {
        callback(new Error('联系人姓名仅支持中英文'))
      } else if (value.length > 4) {
        callback(new Error('联系人姓名不能大于四个字符'))
      } else {
        callback()
      }
    },
    handleServerSend() {
      this.$refs.serverModal.autarkyReleaseShow = true
    },
    radioGroupChange(e) {
      // e.target.value == 1 多选
      if (e.target.value == 1) {
        this.qualificationList = [{qualificationId: []}]
      } else {
        this.qualificationList = [{qualificationId: undefined}]
      }
      this.formValue.shipmentType = e.target.value
    },
    isNotHaveNumber(rule, value, callback) {
      const notNum = /^[\u4e00-\u9fa5a-zA-Z]+$/
      if (!value) {
        callback(new Error('请输入企业名称'))
      } else if (notNum.test(value)) {
        callback()
      } else {
        callback(new Error('企业名称仅支持中英文'))
      }
    },
    backToMySell() {
      if (this.$route.query.from) {
        this.$router.replace({
          name: this.$route.query.from
        })
      } else {
        this.$router.push({
          name: 'mySell',
          query: {
            pId: '4'
          }
        })
      }
    },
    backFrom() {
      this.$router.push({
        name: this.$route.query.from
      })
    },
    removeThisQualification(index) {
      this.qualificationList.splice(index, 1)
    },
    validatePhone(promise) {
      const isPhone = this.$refs.formIndex.formItemValidator('contactsPhone')
      promise.resolve({
        validate: isPhone,
        phone: this.formValue.contactsPhone
      })
    },
    validatePhoneNumber(rule, value, callback) {
      //  const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    addMoreQualification() {
      this.qualificationList.push({qualificationId: undefined})
    },
    editThisInfo() {
      console.log(this.detail, 'this.detail')
      this.isEdit = true
      this.formValue.shipmentType = this.detail.shipmentType // 资质状态
      this.formValue.areaCode = this.detail.areaCode // 地区
      this.formValue.inAreaCode = this.detail.inAreaCode // 地区
      this.formValue.enterpriseName = this.detail.enterpriseName // 企业名称
      this.formValue.socialCreditCode = this.detail.socialCreditCode // 信用代码
      this.formValue.legalPerson = this.detail.legalPerson // 法人

      // this.businessLicenseUrl = this.detail.businessLicenseUrl.split()
      this.itemsImageUrlList = this.detail.itemsImageUrlList.map(e => {
        return e.upLoadImageUrl
      })
      this.qualificationList = this.detail.itemsInfoList.map(e => {
        return {qualificationId: e.authenItemId}
      })
    },
    closePrview() {
      this.showPriview = false
      this.priviewUrl = ''
    },
    showImagePreview(url) {
      this.showPriview = true
      this.priviewUrl = url
    },
    validatorIdCardNo(rule, value, callback) {
      const isIdNumber = /^[1-9]\d{5}(?:18|19|20)\d{2}(?:0[1-9]|10|11|12)(?:0[1-9]|[1-2]\d|30|31)\d{3}[\dXx]$/
      if (!isIdNumber.test(value)) {
        callback(new Error('请输入正确的企业法定代表人身份证号码'))
      } else {
        callback()
      }
    },
    setVerifyCode(code) {
      this.formValue.verifyCode = code
    },
    uploadSuccess(image) {
      // console.log(image)
      this[image.name].push(image.url)
    },
    removeImage(image) {
      this[image.name].splice(image.index, 1)
    },
    goBack() {
      // if (window.ipcRenderer) {
      //   const ipcRenderer = window.ipcRenderer
      //   // console.log(ipcRenderer)
      //   ipcRenderer.send('goBack')
      // }
      const isFromTable = !!parseInt(this.$route.query.isFromTable, 10)
      const isFromHomepage = !!parseInt(this.$route.query.isFromHomepage, 10)
      if (isFromTable) {
        this.$router.push({
          name: 'shared'
        })
      } else if (isFromHomepage) {
        this.$router.replace({
          name: 'receipt'
        })
      } else {
        this.$router.replace({
          name: 'resources'
        })
      }

      //  this.$router.go(-1)
    },
    submitCertification() {
      console.log(this.qualificationList)
      this.formValue.itemsImageUrlList = this.itemsImageUrlList.join()

      // 资质多选
      if (this.formValue.shipmentType == 1) {
        this.formValue.itemsInfoList = this.qualificationList[0].qualificationId.map(
            e => {
              return {
                authenItemId: e,
                authenItemName: ''
              }
            }
        )
      } else {
        // 资质单选
        if (this.qualificationList[0].qualificationId) {
          this.formValue.itemsInfoList = this.qualificationList.map(e => {
            return {
              authenItemId: e.qualificationId,
              authenItemName: ''
            }
          })
        } else {
          this.formValue.itemsInfoList = undefined
        }
      }

      console.log(this.formValue)

      this.formValue.businessLicenseUrl = this.businessLicenseUrl
          .map(e => {
            return e
          })
          .join()

      const itemsImageUrlList = this.itemsImageUrlList.map(e => {
        return {
          effectiveDate: this.formValue.effectiveDate,
          imageFileName: '',
          upLoadImageUrl: e
        }
      })
      const others = {}
      this.formValue.other.forEach(o => {
        if (o == 'isHoldingCompany') {
          others[o] = false
        } else {
          others[o] = true
        }
      })
      if (others.isHoldingCompany == undefined) {
        others.isHoldingCompany = true
      }
      const validate = this.$refs.formIndex.formValidator()

      const params = {
        shipmentType: this.formValue.shipmentType,
        itemsInfoList: this.formValue.itemsInfoList,
        enterpriseName: this.formValue.enterpriseName,
        areaCode: this.formValue.areaCode,
        inAreaCode: this.formValue.inAreaCode,
        businessLicenseUrl: this.formValue.businessLicenseUrl,
        itemsImageUrlList,
        authenFeatureVO: {
          ...others
        },
        showDescribe: this.formValue.showDescribe,
        paymentMethod: this.formValue.paymentMethod,
        contactsPhone: this.formValue.contactsPhone,
        contactsPerson: this.formValue.contactsPerson,
        verifyCode: this.formValue.verifyCode,
        // 渠道 1 = > 优选
        channel: 1,
        // 资质状态 0 = > 现货
        quelificationStatus: 0
      }

      // const validate = this.$refs.formIndex.formValidator()
      if (this.id) {
        params.id = this.id
      }

      if (validate) {
        this.$httpRequester
            .post('/authen/add', params)
            .then(() => {
              this.$message.success('发布成功')
              this.$emit('changeMenuItem', {routerName: this.routeFrom})
              if (this.channel === '2') {
                this.$router.push({
                  name: 'enterpriseCertification'
                })
              } else {
                this.$router.push({
                  name: this.routeFrom,
                  query: {
                    pId: '4'
                  }
                })
              }
            })
            .catch(err => {
              if (err.code === '5010') {
                this.$message.warn('出售与求购相关使用次数已用完')
              }
            })
      }
    },
    getCompanyCertificationDetail() {
      // console.log('getCompanyCertificationDetail')
      this.$httpRequester
          .get('authen/get/deteils', {id: this.id})
          .then(res => {
            // console.log(res)
            this.formValue.enterpriseName = res.enterpriseName
            this.formValue.areaCode = res.areaCode
            this.formValue.inAreaCode = res.inAreaCode
            this.formValue.contactsPerson = res.contactsPerson
            this.formValue.shipmentType = res.shipmentType
            this.formValue.itemsInfoList = res.itemsInfoList.map(e => {
              return {label: e.authenItemName, value: e.authenItemId}
            })

            if (this.formValue.shipmentType == 1) {
              this.qualificationList = [{qualificationId: undefined}]
              this.qualificationList[0].qualificationId = res.itemsInfoList.map(
                  e => e.authenItemId
              )
            } else {
              this.qualificationList = res.itemsInfoList.map(e => {
                return {qualificationId: e.authenItemId}
              })
            }

            this.formValue.contactsPhone = res.contactsPhone

            this.formValue.showDescribe = res.showDescribe
            this.formValue.paymentMethod = res.paymentMethod
            this.otherOptions.forEach(o => {
              if (res.authenFeatureVO[o.value]) {
                this.formValue.other.push(o.value)
              }
            })
            this.formValue.effectiveDate = res.itemsImageUrlList[0]
                ? res.itemsImageUrlList[0].effectiveDate
                : ''
            this.itemsImageUrlList = res.itemsImageUrlList.map(img => {
              return img.upLoadImageUrl
            })
            this.businessLicenseUrl = [res.businessLicenseUrl]
            this.businessPhotoShow = true
            this.quaPhotoShow = true
          })
          .catch(() => {
            this.quaPhotoShow = true
            this.businessPhotoShow = true
          })
    }
  },
  async mounted() {
    this.routeFrom = this.$route.query.from || 'mySell'
    this.$emit('goBackToTop')
    await universalModule.getQualification()
    await universalModule.setAreaOptions()
    this.channel = this.$route.query.channel
    // this.isEdit = parseInt(this.$route.query.isEdit, 10) > 0
    this.id = this.$route.query.reSendId
    this.$nextTick(() => {
      if (this.id) {
        this.getCompanyCertificationDetail()
      } else {
        this.quaPhotoShow = true
        this.businessPhotoShow = true
      }
    })
  }
}
</script>

<style lang="scss" scoped>
.certification-page {
  overflow: hidden;
  position: relative;
  padding: 16px;

  .main {
    border-radius: 4px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 18px;

    .title-box {
      display: flex;
      align-items: center;

      > p {
        flex: 1;
        text-align: center;
      }

      .title-left {
        width: 100px;
      }
    }
  }

  .text-textPrimary {
    font-size: 16px;
    font-weight: 500;
    color: #282828;
  }

  .title-tips {
    margin-left: 10px;
    align-self: flex-end;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }

  .back-btn {
    position: absolute;
    left: 0;
    top: 65px;
    font-size: 18px;
  }

  .certification-title {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin: 0 -24px;
    padding-left: 24px;
    background-color: #f2f2f2;
  }

  .sub-title {
    font-size: 14px;
    margin-top: 16px;
  }

  .certifi-form {
    margin-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      width: 110px;
      height: 32px;
      background: #ffffff;
      border-radius: 2px;
      border: 1px solid #00ab94;
      font-size: 14px;
      font-weight: 400;
      color: #00ab94;
      position: absolute;
      right: 24px;
      top: 5px;
      cursor: pointer;
      z-index: 1;
    }

    .warning {
      width: 368px;
      font-size: 14px;
      // text-align: center;
      height: 36px;
      // line-height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fffbf8;
      border: solid 1px #ff7f28;
      // font-weight: bold;
      color: #ff7f28;
      margin: 0 auto 0;
    }

    .formBox {
      position: relative;
    }
  }

  .submit-certification {
    margin-top: 20px;
    width: 500px;
    text-align: center;

    .tips {
      font-size: 13px;
      margin-top: 10px;
    }

    .have-rt-margin {
      width: 240px;
      height: 40px;
      background: #00ab94;
      border-radius: 2px;
    }
  }

  .check-remarks {
    width: fit-content;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    padding: 0 10px;
    color: #ff7f28;
    background: #f2f2f2;
    border-radius: 11px;
    margin-bottom: 20px;
    margin-left: 22px;
  }

  .success {
    color: #4ebf56;
  }

  .resubmit-btn {
    margin: 20px 0 20px 22px;
  }
}
</style>
