<template>
  <div class="user-center-resources">
    <div v-if="shareTotal || historyTotal">
      <div>
        <div class="share-table table-warp">
          <div class="title-box">
            <div class="title">
              <p>我的出售列表</p>
            </div>
            <div class="userCenter-title-right">
              <a-button type="primary" @click="goToCertification">
                发布出货信息
              </a-button>
            </div>
          </div>

          <a-table
            :columns="sharedColumns"
            :data-source="sharedTable"
            :pagination="sharedPagination"
            :rowClassName="rowClassName"
            class="resources-table"
            rowKey="index"
            bordered
          >
            <template slot="qualificationNameAndLevel" slot-scope="item, row">
              <div class="qualificationNameAndLevel_box">
                <a-popover v-if="row.qualificationNameAndLevel && row.qualificationNameAndLevel.length >= 48" trigger="hover">
                    <template slot="content">
                        <div style="max-width: 600px">
                            {{ row.qualificationNameAndLevel || '' }}
                        </div>
                    </template>
                    <div class="popover-text">
                        {{ row.qualificationNameAndLevel && row.qualificationNameAndLevel.substr(0, 48)  || '' }} <span>{{ '...等' + row.qualificationIdsList.length + '个资质' }}</span>
                    </div>
                </a-popover>
                <span v-else>
                    {{ row.qualificationNameAndLevel || '' }}
                </span>
              </div>
            </template>
            <template slot="authenStatus" slot-scope="item, row">
              <xn-tag type="warning" v-if="row.authenStatus === 0">{{ item }}</xn-tag>
              <xn-tag type="success" v-if="row.authenStatus === 1">{{ item }}</xn-tag>
              <xn-tag type="error" v-if="row.authenStatus === 2">{{ item }}</xn-tag>
            </template>
            <template slot="operate" slot-scope="item">
              <operate-column
                :btns="shareOperateBtns(item)"
                :info="item"
              ></operate-column>
            </template>
          </a-table>
          <div class="description">
            <p>提示：</p>
            <p>1、工作人员将在1个工作日内审核您提交的资源信息，审核成功后，该资源信息将会展示给平台所有用户。</p>
            <p>2、对外展示：您可选择“对外展示”该资质，操作成功后，该资质信息将在“出货信息”列表中被其它用户查看。</p>
            <p>3、取消展示：您可选择“取消展示”该资质，操作成功后，其它用户将无法查看此资质信息。</p>
            <p>4、移除：若资质已转让或不需要再展示，您可选择“移除”，移除后不可撤回，如有新的同类资源发布，可重新提交审核。</p>
          </div>
        </div>
      </div>
      
      <!-- 发布历史 -->
      <div v-if="historyTotal">
        <div class="history-table table-warp">
          <div class="userCenter-title ">
            <p class="title">发布历史</p>
          </div>
          <a-table
            :columns="historyColumns"
            :data-source="historyTableData"
            :pagination="historyPagination"
            :rowClassName="rowClassName"
            class="resources-table"
            rowKey="index"
            bordered
          >
          </a-table>
          <div class="description">
            <p>提示：</p>
            <p>已被移除的资质，不可移动或恢复，这里仅做展示</p>
          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <div class="table-warp noneFreeCount">
        <block-data
          :imageHeight="200"
          :imageSrc="notFind"
          :imageWidth="400"
          :text="''"
          :titleText="'还没有发布过出货消息'"
        >
          <template slot="btSlot">
            <a-button type="primary" @click="goToCertification">
              立即发布
            </a-button>
          </template>
        </block-data>
      </div>
    </div>

    <a-modal
      class="form-modal"
      v-model="shareModal"
      :destroyOnClose="true"
      title="对外展示"
      @cancel="closeShareModal"
      @ok="confrimShared"
    >
      <a-form-model
        ref="verifyForm"
        :model="formValue"
        :rules="rules"
        :label-col="{ span: 5 }"
        :wrapper-col="{ offset: 5 }"
        style="width:100%"
      >
      <form-index
        ref="formIndex"
        v-model="formValue"
        :formItems="formItems"
        :label-col="{ span: 5 }"
        :wrapper-col="{ offset: 5 }"
        @isReallyPhone="isReallyPhone"
      ></form-index>
      <a-form-item label="验证码" prop="verifyCode">
        <verify-code
          ref="code"
          :phone="formValue.contactsPhone"
          @isReallyPhone="isReallyPhone"
          @setVerifyCode="setVerifyCode"
        ></verify-code>
      </a-form-item>
      <!-- <a-form-item label="其他特性">
        <a-chekbox v-model="isNeedLetter">包函</a-chekbox>
        <a-chekbox v-model="isHoldingCompany">可被控股</a-chekbox>
      </a-form-item> -->
      </a-form-model>
      <div class="tips">
        说明：对外展示操作成功后，您的出货信息将展示给小牛建讯平台所有用户，并扣除1次资源发布次数
      </div>
    </a-modal>
    <!--   -->
    <a-drawer
      :visible="visibleDetail"
      :closable="false"
      title=""
      :maskClosable="true"
      width="800px"
      @close="closeDetailDrawer"
      :destroyOnClose="true"
      :bodyStyle="{ 'padding': 0 }"
    >
      <detailsComponents
        :id="authenticationId"
        :isCertification="0"
        @closeDetailDrawer="closeDetailDrawer"
      ></detailsComponents>
    </a-drawer>
  </div>
</template>

<script>
import {
  Table,
  Tooltip,
  Modal,
  FormModel,
  Checkbox,
  Drawer,
  Popover
} from 'ant-design-vue'
import detailsComponents from '../components/Detail.vue'
import XnTag from '@/components/XnTag.vue'
import blockData from '@/components/BlockData.vue'
import developmenting from '@/assets/image/developmenting.png'
import operateColumn from '@/components/Operate'
import notFind from '@/assets/image/no_data_block.png'
import formType from '@/components/Form/formType'
import formIndex from '@/components/Form/index.vue'
import VerifyCode from '@/components/verifyCode.vue'

export default {
  name: 'user-resources',
  components: {
    XnTag,
    detailsComponents,
    aDrawer: Drawer,
    blockData,
    aTable: Table,
    aTooltip: Tooltip,
    operateColumn,
    aModal: Modal,
    formIndex,
    aChekbox: Checkbox,
    aFormModel: FormModel,
    aFormItem: FormModel.Item,
    VerifyCode,
    aPopover: Popover
  },
  computed: {
    certificationPagination() {
      return {
        total: this.certificationTotal,
        current: this.certificationPageNum,
        pageSize: this.certificationPageSize,
        onChange: this.certificationChange
      }
    },
    sharedPagination() {
      return {
        total: this.shareTotal,
        current: this.sharedPageNum,
        pageSize: this.sharedPageSize,
        onChange: this.sharedTableChange,
        showQuickJumper: true,

      }
    },
    historyPagination() {
      return {
        total: this.historyTotal,
        current: this.historyPageNum,
        pageSize: this.historyPageSize,
        onChange: this.historyTableChange
      }
    },
    sharedBtns() {
      return [
        {
          label: '共享资源',
          type: 'link',
          // icon: 'edit',
          click: this.sharedThisItem.bind(this)
        }
      ]
    },
    formItems() {
      return [
        {
          label: '联系电话',
          type: formType.INPUT,
          value: this.formValue.contactsPhone,
          name: 'contactsPhone',
          disabled: true,
          validate: [
            {
              required: true,
              validator: this.validatePhoneNumber,
              trigger: 'blur'
            }
          ],
          placeholder: '请输入联系人电话'
        }
      ]
    }
  },
  data() {
    return {
      visibleDetail: false,
      authenticationId: null,
      isNeedLetter: false,
      isHoldingCompany: false,
      rules: {
        verifyCode: [
          {
            required: true,
            message: '请输入验证码',
            trigger: 'blur'
          }
        ]
      },
      formValue: {
        verifyCode: '',
        contactsPhone: '',
        contactsPerson: ''
      },
      notHaveCertList: '',
      btns: [
        {
          label: '详情',
          type: 'link',
          // icon: 'edit',
          click: this.goToDetail.bind(this)
        }
      ],
      historyPageNum: 1,
      historyPageSize: 10,
      historyTableData: [],
      historyTotal: 0,
      historyColumns: [
        { title: '序号', dataIndex: 'index', width: 83 },
        { title: '公司名称', dataIndex: 'enterpriseName', width: 380 },
        { title: '资质', dataIndex: 'qualificationNameAndLevel' },
        { title: '剥离方式', dataIndex: 'shipmentTypeText', width: 150 },
        { title: '移除时间', dataIndex: 'updateTimeText', width: 184 }
      ],
      shareTotal: 0,
      sharedPageNum: 1,
      sharedPageSize: 10,

      // 我的出售列表
      sharedColumns: [
        { title: '序号', dataIndex: 'index', width: 48 },
        { title: '公司名称', dataIndex: 'enterpriseName', width: 300 },
        { title: '资质', dataIndex: 'qualificationNameAndLevel', scopedSlots: { customRender: 'qualificationNameAndLevel' }, },
        {
          title: '剥离方式',
          dataIndex: 'shipmentTypeText',
          width: 100,
        },
        {
          title: '审核状态',
          dataIndex: 'authenStatusText',
          scopedSlots: { customRender: 'authenStatus' },
          width: 100,
          align: 'left'
        },
        { title: '发布人', dataIndex: 'operateUser', width: 150 },

        { title: '有效期至', dataIndex: 'shareEndTime', width: 130 },
        { title: '发布时间', dataIndex: 'updateTime', width: 130 },
        {
          title: '操作',
          dataIndex: '',
          width: '255px',
          scopedSlots: { customRender: 'operate' },
          align: 'left'
        }
      ],
      sharedTable: [],
      notFind,
      developmenting,
      shareModal: false,
      shareItem: null,
      freeCount: 0
    }
  },
  methods: {
    shareOperateBtns(row) {
      if (row.channel === 1) {
        const onlyDetail = [
          {
            label: '详情',
            type: 'link',
            color: '#00AB94',
            click: this.goToDetail.bind(this)
          }
        ]
        const failureBtns = [
          {
            label: '详情',
            type: 'link',
            color: '#00AB94',
            click: this.goToDetail.bind(this)
          },
          {
            label: '重新提审',
            type: 'link',
            color: '#00AB94',
            click: this.reSend.bind(this)
          }
        ]
        const sunccessBtns = [
          {
            label: '详情',
            type: 'link',
            color: '#00AB94',
            click: this.goToDetail.bind(this)
          },
          {
            label: '对外展示',
            type: 'link',
            color: '#00AB94',
            // icon: 'edit',
            click: this.sharedThisItem.bind(this)
          }
        ]
        const displayBtns = [
          {
            label: '详情',
            type: 'link',
            color: '#00AB94',
            click: this.goToDetail.bind(this)
          },
          {
            label: '取消展示',
            type: 'link',
            color: '#00AB94',
            // icon: 'edit',
            click: this.cancelSharedThisItem.bind(this)
          },
          {
            label: '移除',
            type: 'link',
            color: '#00AB94',
            click: this.removeThisItemFromShare.bind(this)
          }
        ]
        if (row.authenStatus === 2) {
          //失败跟审核中只能看详情
          return failureBtns
        } else if (row.authenStatus === 0) {
          // 快速发布
          return onlyDetail
        } else {
          if (row.status) {
            return displayBtns
          } else {
            return sunccessBtns
          }
        }
      } else {
        if (row.status) {
          return [
            {
              label: '详情',
              type: 'link',
              color: '#00AB94',
              click: this.goToDetail.bind(this)
            },
            {
              label: '取消展示',
              type: 'link',
              color: '#00AB94',
              // icon: 'edit',
              click: this.cancelSharedThisItem.bind(this)
            },
            {
              label: '移除',
              type: 'link',
              color: '#00AB94',
              click: this.removeThisItemFromShare.bind(this)
            }
          ]
        } else {
          return [
            {
              label: '详情',
              type: 'link',
              color: '#00AB94',
              click: this.goToDetail.bind(this)
            },
            {
              label: '对外展示',
              type: 'link',
              color: '#00AB94',
              // icon: 'edit',
              click: this.sharedThisItem.bind(this)
            },
            {
              label: '重新提审',
              type: 'link',
              color: '#00AB94',
              click: this.reSend.bind(this)
            }
          ]
        }
      }
    },
    removeThisItemFromShare(shareItem) {
      Modal.confirm({
        title: '移除资质',
        content:
          '确定要移除该资质？移除后不可恢复，请谨慎处理',
        okText: '确定',
        cancelText: '取消',
        onOk: () => {
          const params = {
            authenRecordId: shareItem.authenticationId,
            sharedItemId: shareItem.sharedItemId,
            sharedId: shareItem.sharedId,
            status: 2
          }
          const isOnlyOne = this.sharedTable.length === 1
          this.$httpRequester.post('shared/statusChange', params).then(() => {
            if (isOnlyOne) {
              this.sharedPageNum =
                this.sharedPageNum > 1 ? this.sharedPageNum - 1 : 1

              this.sharedPageSize = 5
            }
            this.getMySharedList()
            this.historyPageNum = 1
            this.historyPageSize = 5
            this.getMyHistoryList()
          })
        }
      })
    },
    reSend(row) {
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1',
          reSendId: row.authenticationId
        }
      })
    },
    cancelSharedThisItem(shareItem) {
      Modal.confirm({
        title: '取消展示',
        content: '是否取消展示？',
        okText: '确定',
        cancelText: '取消',
        onOk: () => {
          this.cancelShared(shareItem)
        }
      })
    },
    cancelShared(shareItem) {
      const params = {
        authenRecordId: shareItem.authenticationId,
        sharedItemId: shareItem.sharedItemId,
        sharedId: shareItem.sharedId,
        status: 0
      }

      this.$httpRequester.post('shared/statusChange', params).then(() => {
        // console.log(res)
        Modal.info({
          title: '温馨提示',
          content:
            '已成功取消展示该资源，您可在发布有效期截止前再次展示该资源，将不再扣除您的免费展示资源次数'
        })
        this.getMySharedList()
        this.closeShareModal()
      })
    },
    isReallyPhone() {
      const canSendMessage = this.$refs.formIndex.formItemValidator(
        'contactsPhone'
      )
      if (canSendMessage) {
        this.$refs.code.sendVerifycode()
      }
      // console.log(this.formValue.contactsPhone)
    },
    rowClassName() {
      // console.log(a, b)
      return 'resource-row-text'
    },
    getLastNewList() {
      this.$httpRequester
        .get('enterprise/authentication/pullLastInfo')
        .then(() => {
          this.$message.success('数据已是最新')
          this.getMySharedList()
          this.getNotCerEnterpriseList()
        })
    },
    historyTableChange(pageNum, pageSize) {
      this.historyPageNum = pageNum
      this.historyPageSize = pageSize
      this.getMyHistoryList()
    },
    sharedTableChange(pageNum, pageSize) {
      this.sharedPageNum = pageNum
      this.sharedPageSize = pageSize
      this.getMySharedList()
    },
    validatePhoneNumber(rule, value, callback) {
      //  const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    closeShareModal() {
      this.shareItem = false
      this.shareModal = false
      this.formValue = {
        verifyCode: '',
        contactsPhone: '',
        contactsPerson: ''
      }
      this.isNeedLetter = false
      this.isHoldingCompany = false
      // this.getUserFreeCount()
    },
    setVerifyCode(code) {
      this.formValue.verifyCode = code
    },

    // 对外展示
    confrimShared() {
      const params = {
        authenRecordId: this.shareItem.authenticationId,
        sharedItemId: this.shareItem.sharedItemId,
        status: 1,
        sharedId: this.shareItem.sharedId,
        // isHoldingCompany: !this.isHoldingCompany,
        // isNeedLetter: this.isNeedLetter,
        verifyCode: this.formValue.verifyCode,
        contactsPhone: this.formValue.contactsPhone,
        // contactsPerson: this.formValue.contactsPerson,
      }

      console.log(params, 'params')
      
      const validate = this.$refs.formIndex.formValidator()
      this.$refs.verifyForm.validate(val => {
        if (val && validate) {
          this.$httpRequester.post('shared/status/display', params).then(() => {
            this.$message.success('操作成功')
            this.getMySharedList()
            this.shareModal = false
          })
        }
      })
    },
    sharedThisItem(item) {
      // 次数为0 而且已经过了共享日期
      if (!item.shareEndTime) {
        if (this.freeCount === 0) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )

          return
        }
      } else {
        const currentTime = new Date().getTime()
        const endTime = new Date(item.shareEndTime).getTime()
        if (this.freeCount === 0 && currentTime > endTime) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )

          return
        }
      }

      this.shareItem = item
      this.formValue.contactsPhone = item.contactsPhone
      this.shareModal = true
    },
    goToCertification() {
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1'
        }
      })
    },
    closeDetailDrawer() {
      this.visibleDetail = false
    },
    goToDetail(row) {
      this.visibleDetail = true
      this.authenticationId = row.authenticationId
    },
    getMyHistoryList() {
      const params = {
        currentPage: this.historyPageNum,
        pageSize: this.historyPageSize
      }
      this.$httpRequester.get('shared/remove/list', params).then(res => {
        if (res) {
          res.data.forEach((e, i) => {
            e.index = i + 1
            e.stausText = '已移除'
            e.shipmentTypeText = e.shipmentType === 1 ? '整转' : '分立'
            e.qualificationNameAndLevel = e.qualificationNameAndLevel.replace(/\+/g, '，'),
            e.operateUser = e.operateUser || '---'
            e.updateTimeText = e.updateTime
              ? this.$moment(e.updateTime).format('yyyy-MM-DD')
              : this.$moment().format('yyyy-MM-DD')
          })
          this.historyTableData = res.data
          this.historyTotal = res.totalSize
        }
      })
    },
    getMySharedList() {
      const params = {
        currentPage: this.sharedPageNum,
        pageSize: this.sharedPageSize
      }
      const authenStatus = ['审核中', '审核成功', '审核失败']
      this.$httpRequester
        .get('shared/list', params, 'application/x-www-form-urlencoded')
        .then(res => {
          if (res) {
            this.sharedTable = res.data.map((d, i) => {
              return {
                ...d,
                operateUser: d.operateUser || '',
                shareEndTimeText: d.shareEndTime || '',
                index: i + 1,
                qualificationNameAndLevel: d.qualificationNameAndLevel.replace(/\+/g, '，'),
                qualificationIdsList: d.qualificationIds && d.qualificationIds.split(','),
                shipmentTypeText:
                  d.shipmentType === 1 ? '整转' : '分立',
                authenStatusText:
                  d.channel === 0 ? '-' : authenStatus[d.authenStatus]
              }
            })
            this.shareTotal = res.totalSize || 0
          }
          this.getUserFreeCount()
        })
    },
    getNotCerEnterpriseList() {
      this.$httpRequester.post('shared/checkout/emptyIteams').then(res => {
        this.notHaveCertList = res.length ? res.join(',') : ''
      })
    },
    getUserFreeCount() {
      this.$httpRequester.get('free/count/querySharedAddCount').then(res => {
        this.freeCount = res ? res.freeCount : 0
      })
    },
    async getPageNum() {
      this.historyPage = this.$route.query.historyPage
        ? parseInt(this.$route.query.historyPage, 10)
        : 1
      this.sharedPageNum = this.$route.query.mySellPage
        ? parseInt(this.$route.query.mySellPage, 10)
        : 1
    }
  },
  mounted() {
    this.$emit('goBackToTop')
    this.$nextTick(() => {
      this.getPageNum().then(() => {
        this.getMyHistoryList()
        this.getMySharedList()
      })
    })
  }
}
</script>

<style lang="scss" scoped>
::v-deep .ant-drawer-header {
  border-bottom: none !important;
}
::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  text-align: left;
  background-color: #f2f6f8;
}
::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.user-center-resources {
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
  min-height: 774px;

  .back-btns {
    position: absolute;
    right: 30px;
  }

  .white-color {
    background-color: #fafafa;
  }

  .description {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    color: #A0A6AB;
    line-height: 22px;
  }

  .share-tips {
    background-color: #fafafa;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    // margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    // align-self: flex-end;
  }

  .resources-content {
    // padding-top: 4px;
    // padding-bottom: 30px;
    background-color: #ffffff;
    padding-bottom: 40px;

    .no-data-opeater {
      font-size: 16px;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }

    .recommend {
      margin-top: 30px;
      padding-left: 33px;
      padding-bottom: 34px;

      .certification-expain {
        padding-left: 10px;
        margin-top: 14px;
        font-size: 12px;
      }

      .certification-title {
        font-size: 16px;
        color: #8e8e90;
        padding-left: 7px;
        border-left: 3px solid #4d7cfe;
      }

      .certification-items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 50%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;

          .bg {
            height: 100px;
            width: 100px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .info {
            width: 260px;
            color: #8e8e90;

            .cer-title {
              width: 100%;
              text-align: center;
              font-size: 16px;
              margin-bottom: 6px;
              font-weight: normal;
            }

            .cer-detail {
              width: 100%;
              font-size: 14px;
              font-weight: lighter;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .noneFreeCount {
    height: 81vh;
    background: #FFFFFF;

    button{
      width: 160px;
      height: 32px;
      background: #00AB94;
      border-radius: 2px;
      margin-top: 30px;
    }
  }

  .table-warp {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 24px;
    position: relative;
    margin-bottom: 18px;

    .title-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      color: #282828;
    }

    .title{
      font-size: 16px;
      font-weight: bold;
      color: #282828;
    }

    .certification-table,
    .resources-table {
      margin-top: 20px;

      .ant-table-thead > tr > th {
        background-color: #ffffff;
      }
    }

    .not-cer-tips {
      position: absolute;
      font-size: 12px;
      padding: 0 15px;
      height: 20px;
      bottom: 45px;
      line-height: 20px;
      background-color: #f2f2f2;
      color: #ff8800;
      border-radius: 10px;
    }
  }

  .qualificationNameAndLevel_box{
    .popover-text{
      span{
        color: #2194FF;
      }
    }
  }

  .status-slot {
    margin: 0 auto;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    width: 55px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
  }

  .yellow-status {
    color: #ff8800;
  }

  .green-status {
    color: #4ebf56;
  }

  .red-status {
    color: #f30c0c;
  }
}
</style>
<style lang="scss">
.tips{
  font-size: 14px;
  font-weight: 400;
  color: #A0A6AB;
}
</style>

<style lang="less">
.form-modal .ant-form-item label{
  margin-right: 10px;
}
</style>
