<template>
  <div
    class="process py-[40px] pl-[48px] text-white flex items-center justify-start "
    :style="'background-image:url(' + processBg + ')'"
  >
    <div class=" flex-shrink-0 text-[18px] font-medium">交易流程</div>
    <div class="flex items-center">
      <div
        class="w-[254px] text-center relative"
        v-for="(item, key) in processList"
        :key="key"
      >
        <img class="w-[30px] h-[30px]" :src="item.icon" />
        <div class="text-[16px] mt-[6px]  font-medium">{{ item.title }}</div>
        <div class="text-[12px] mt-[4px]">{{ item.text }}</div>
        <img
          v-if="key < processList.length - 1"
          :src="doublearrowImage"
          class="right-[16px] top-[26px] absolute w-[16px] h-[16px]"
        />
      </div>
    </div>
  </div>
</template>

<script>
import succeedImage from '@/assets/image/qr/icon/succeed.png'
import doublearrowImage from '@/assets/image/qr/icon/doublearrow.png'
import searchImage from '@/assets/image/qr/icon/search.png'
import contactImage from '@/assets/image/qr/icon/contact.png'
import agreementImage from '@/assets/image/qr/icon/agreement.png'
import processBg from '@/assets/image/qr/process.png'

export default {
  name: 'qr-bottom',
  data() {
    return {
      doublearrowImage,
      processList: [
        {
          title: '挑选资质',
          icon: searchImage,
          text: '挑选合适的资质，查看电话'
        },
        { title: '联系卖家', icon: contactImage, text: '电话联系卖家商谈' },
        {
          title: '签订合同',
          icon: agreementImage,
          text: '交流确定资质细节，并签订相应会合同'
        },
        {
          title: '交易达成',
          icon: succeedImage,
          text: '相关手续变更，资质交易达成'
        }
      ],
      processBg
    }
  }
}
</script>
