<template>
  <div class="qr-page">
    <!--  <div class="page-tabs">
     <a-breadcrumb>
        <a-breadcrumb-item><a @click="goToMain">资质集市</a></a-breadcrumb-item>
        <a-breadcrumb-item> {{ pageName }}</a-breadcrumb-item>
      </a-breadcrumb> -->
    <!-- <a-tabs size="large" :activeKey="activeKey" @change="changeRouter">
        <a-tab-pane
          v-for="item in tabs"
          :key="item.routerName"
          :tab="item.tab"
        ></a-tab-pane>
      </a-tabs> 
    </div>-->
    <router-view @goBackToTop="goBackToTop" @fastSend="showFastModal" />
    <a-modal
      v-model="fastModal"
      :destroyOnClose="true"
      width="620px"
      :footer="null"
    >
      <div slot="title" style="text-align:center">只需1步,买家快速找上门</div>
      <form-index
        v-model="formValue"
        ref="quickForm"
        :labelCol="{ span: 5 }"
        @setVerifyCode="setVerifyCode"
        @validatePhone="validatePhone"
        :designQualificationOptions="designQualificationOptions"
        :fakeQualification="fakeQualification"
        singleId="quickQuaSelect"
        :qualificationOptions="qualificationOptions"
        :formItems="formItems"
      ></form-index>
      <div class="quick-bottom">
        <a-button
          class="quick-btns"
          @click="beforeSubmit"
          type="primary"
          size="large"
          >快速提交</a-button
        >
        <div class="tips">
          您的专属客服稍后将会和您取得联系，以验证出售信息的真实及完整性
        </div>
        <div class="service-phone">
          免费咨询热线：400-902-8966
        </div>
      </div>
    </a-modal>
  </div>
</template>

<script>
import { Tabs, Breadcrumb, Modal } from 'ant-design-vue'
import formType from '@/components/Form/formType'
import formIndex from '@/components/Form/index.vue'
import VerifyCode from '@/components/verifyCode.vue'
import { universalModule } from '@/store/modules/universal'

export default {
  name: 'qualification-resources',
  components: {
    formIndex,
    aTabs: Tabs,
    aModal: Modal,
    aTabPane: Tabs.TabPane,
    aBreadcrumb: Breadcrumb,
    aBreadcrumbItem: Breadcrumb.Item
  },
  computed: {
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    },
    areaOptions() {
      const options = [{ label: '全国', value: 0 }]
      universalModule.areaOptions.forEach(e => {
        if (this.gangAoTai.includes(e.value)) {
          e.disabled = true
        }
        options.push(e)
      })
      return options
    },
    pageName() {
      const find = this.tabs.find(e => {
        return e.routerName === this.activeKey
      })
      return find ? find.tab : ''
    },
    formItems() {
      return [
        {
          label: '资质状态',
          type: formType.RADIO,
          value: this.formValue.quelificationStatus,
          name: 'quelificationStatus',
          options: [
            { value: 0, label: '现货' },
            { value: 1, label: '预售' }
          ],
          validate: [
            {
              required: true,
              trigger: 'blur',
              message: '请选择资质状态'
            }
          ]
        },
        {
          label: '企业名称',
          type: formType.INPUT,
          placeholder: '请输入企业名称全称',
          name: 'enterpriseName',
          value: this.formValue.enterpriseName,
          validate: [
            {
              required: true,
              validator: this.isNotHaveNumber
            }
          ]
        },
        {
          label: '资质类别及等级:',
          name: 'itemsInfoList',
          value: this.formValue.itemsInfoList,
          // fakeQualification: this.fakeQualification,
          // qualificationOptions: this.qualificationOptions,
          // component: TreeCheckboxSingleSelect,
          // component: TreeCheckboxSingleSelect,

          type: formType.SINGLECHECKBOKTREE,
          validate: [
            {
              required: true,
              message: '请选择资质类别及等级',
              trigger: 'change'
            }
          ]
        },
        {
          label: '落地地区',
          type: formType.SELECT,
          placeholder: '请选择出货落地地区',
          name: 'inAreaCode',
          options: this.areaOptions,
          value: this.formValue.inAreaCode,
          validate: [
            {
              required: true,
              trigger: 'change',
              message: '请选择出货落地地区'
            }
          ]
        },
        {
          label: '其他特性',
          type: formType.CHECKBOX,
          name: 'other',
          options: [
            { label: '不可控股', value: 'isHoldingCompany' },
            { label: '包函', value: 'isNeedLetter' }
          ],
          value: this.formValue.other
        },
        {
          label: '联系人',
          type: formType.INPUT,
          value: this.formValue.contactsPerson,
          name: 'contactsPerson',
          validate: [
            {
              required: true,
              message: '请输入联系人姓名',
              trigger: 'blur'
            }
          ],
          placeholder: '请输入联系人姓名'
        },
        {
          label: '手机',
          type: formType.INPUT,
          value: this.formValue.contactsPhone,
          name: 'contactsPhone',
          validate: [
            {
              required: true,
              validator: this.validatePhoneNumber,
              trigger: 'blur'
            }
          ],
          placeholder: '请输入联系人电话'
        },
        {
          label: '验证码',
          type: formType.COMPONENT,
          value: this.formValue.verifyCode,
          name: 'verifyCode',
          component: VerifyCode,
          validate: [
            {
              required: true,
              message: '请输入验证码',
              trigger: 'change'
            }
          ]
        }
      ]
    }
  },
  data() {
    return {
      gangAoTai: [810000, 820000, 710000],
      // fakeQualification: [],
      formQualification: [],
      formValue: {
        other: [],
        itemsInfoList: undefined,
        quelificationStatus: 0,
        verifyCode: '',
        contactsPhone: '',
        contactsPerson: '',
        enterpriseName: ''
      },
      fastModal: false,
      activeKey: 'buying',
      tabs: [
        { tab: '我要买资质', routerName: 'shared' },
        { tab: '我要卖资质', routerName: 'buying' },
        { tab: '主页', routerName: 'qrMain' },
        { tab: '小牛优选发布', routerName: 'excellentShare' }
      ]
    }
  },

  methods: {
    getTypeQualifications() {
      this.formQualification = []
      this.$httpRequester
        .get('qualification/selQualificationAllByType')
        .then(r => {
          const formQualification = r.map((e, i) => {
            return {
              title: e.qualificationType,
              key: i,
              isExpend: i === 0,
              children: e.qualificationList.map(q => {
                return {
                  title: q.qualificationName,
                  key: q.qualificationName,
                  // checkable: true,
                  children: q.qualificationLevels.map(level => {
                    return {
                      id: level.id,
                      title: level.level,
                      disabled: false
                    }
                  }),
                  value: []
                }
              })
            }
          })
          this.formQualification = this.$deepCopy(formQualification)
        })
    },
    getQalicationList() {
      // 获取资质列表
      this.fakeQualification = []
      this.$httpRequester.get('qualification/selQualificationAll').then(r => {
        r.forEach(e => {
          e.qualificationLevels.forEach(q => {
            this.fakeQualification.push({
              label: e.qualificationName + q.level,
              value: q.id
            })
          })
        })
        this.getTypeQualifications()
      })
    },
    goBackToTop() {
      this.$emit('goBackToTop')
    },
    isNotHaveNumber(rule, value, callback) {
      const notNum = /^[\u4e00-\u9fa5a-zA-Z]+$/
      if (!value) {
        callback(new Error('请输入企业名称'))
      } else if (notNum.test(value)) {
        callback()
      } else {
        callback(new Error('企业名称仅支持中英文'))
      }
    },
    goToMain() {
      if (this.$route.name === 'qrMain') return
      this.$router.push({
        name: 'qrMain'
      })
    },
    beforeSubmit() {
      const validate = this.$refs.quickForm.formValidator()
      if (validate) {
        this.quickSubmit()
      }
    },
    quickSubmit() {
      const other = {}
      this.formValue.other.forEach(o => {
        other[o] = true
      })
      // console.log(this.fakeQualification)
      const params = {
        ...this.formValue,
        authenFeatureVO: {
          ...other
        },
        channel: 0,
        itemsInfoList: [
          {
            authenItemId: this.formValue.itemsInfoList
            // authenItemName: this.formValue.itemsInfoList.label,
          }
        ]
      }
      this.$httpRequester.post('authen/add', params).then(() => {
        this.fastModal = false
        this.$message.success('发布成功')
        this.$router.push({
          name: 'mySell',
          query: {
            pId: '4'
          }
        })
      })
    },
    setVerifyCode(value) {
      this.formValue.verifyCode = value
    },
    showFastModal() {
      this.formValue = {
        other: [],
        itemsInfoList: undefined,
        quelificationStatus: 0,
        verifyCode: '',
        contactsPhone: '',
        contactsPerson: ''
      }
      this.fastModal = true
    },
    changeRouter(key) {
      this.$router.push({
        name: key
      })
    },
    validatePhone(promise) {
      const isPhone = this.$refs.quickForm.formItemValidator('contactsPhone')
      promise.resolve({
        validate: isPhone,
        phone: this.formValue.contactsPhone
      })
    },
    validatePhoneNumber(rule, value, callback) {
      //  const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    }
    // getQualificationList() {},
  },
  async mounted() {
    // await universalModule.getQualification()
    await universalModule.setAreaOptions()
    // if (!this.fakeQualification.length || !this.qualificationOptions.length) {
    await universalModule.getTypeQualification()
    await universalModule.getQualification()
    // }
    //  this.getQalicationList()
    this.$nextTick(() => {
      this.activeKey = this.$route.name
      //  this.getQualificationList()
      //  this.changeRouter(this.activeKey)
    })
  }
}
</script>

<style lang="scss">
// .page-tabs {
//   border-radius: 4px;
//   height: 50px;
//   background-color: #ffffff;
//   .ant-tabs-nav-container {
//     height: 50px;
//   }
// }
.quick-bottom {
  text-align: center;
  .quick-btns {
    width: 50%;
    margin-bottom: 5px;
  }
  .service-phone {
    margin-top: 10px;
  }
}
</style>
<style lang="scss" scoped>
.qr-page {
  .page-tabs {
    border-radius: 4px 4px 0 0;
    height: 28px;
    padding: 25px;
    background-color: #ffffff;
    // .ant-tabs-nav-container {
    //   height: 50px;
    // }
  }
}
</style>
