<template>
  <div class="qr-main-page">
    <div class="header-content" id="qrHeader">
      <div class="buying-content">
        <div class="title-tools">
          <div class="page-title " @click="goToShare">
            我要买资质
            <a-icon class="ml-[3px] text-[14px]" type="right" />
          </div>
          <div class="qua-search">
            <a-select
              show-search
              :value="searchQua"
              placeholder="搜索您想要的资质"
              :default-active-first-option="false"
              :show-arrow="false"
              :filter-option="false"
              :getPopupContainer="getPopupContainer"
              allowClear
              labelInValue
              style="width:90%"
              :not-found-content="null"
              @search="handleSearch"
              @change="handleChange"
            >
              <a-select-option
                v-for="(s, index) in resOption"
                :key="index"
                :value="s.value"
              >
                {{ s.label }}
              </a-select-option>
            </a-select>
            <a-button
              icon="search"
              class=" bg-bgLight text-sysPrimary w-[40px] h-[32px] "
              @click="goToSharedBySearch"
            ></a-button>
          </div>
        </div>
        <div class="qualification-list">
          <div class="qua-line">
            <!-- <a-icon type="tool" /> -->
            <div class="qua-type">施工总承包</div>
            <div
              class="qua-item"
              @click="goToShareHaveQua(item)"
              v-for="item in EPC"
              :key="item.value"
            >
              {{ item.label }}
            </div>
          </div>
          <div class="qua-line">
            <!-- <a-icon type="project" /> -->
            <div class="qua-type">施工专业承包</div>
            <div
              class="qua-item"
              @click="goToShareHaveQua(item)"
              v-for="item in PC"
              :key="item.value"
            >
              {{ item.label }}
            </div>
          </div>
        </div>
      </div>
      <div class="sell-content">
        <div class="title-tools">
          <div class="page-title " @click="goToSell">
            我要卖资质
            <a-icon class="ml-[3px] text-[14px]" type="right" />
            <div class="sell-num ">
              有
              <span class=" font-medium text-textPrimary">{{ buySize }}</span>
              人正在找资质
            </div>
          </div>
        </div>
        <div class="sell-btns">
          <a-button class="sell-btn quickly" @click="quicklySubmit"
            >快速发布
          </a-button>
          <a-button type="primary" class="sell-btn" @click="goToExcellentShare">
            优选发布
          </a-button>
          <a-button type="primary" class="sell-btn" @click="goToAutarkyRelease">
            自营发布
          </a-button>
        </div>
      </div>
    </div>
    <div class="excellent-content">
      <a-button
        size="small"
        class="more-btn"
        type="link"
        @click="goToShareUserChannel"
      >
        <div class="flex items-center">
          更多小牛优选在售资源
          <a-icon class="ml-[3px] text-[14px]" type="right" />
        </div>
      </a-button>
      <div class="ex-title">小牛优选</div>
      <div class="tips">由小牛平台精挑细选并审核，让您放心选取可靠的资质</div>
      <div class="ex-list">
        <div
          class="ex-item"
          @click="goToShareUserChannel"
          v-for="(item, key) in excellentData"
          :key="key"
        >
          <div
            class="item-image-box"
            :style="'background-image:url(' + quaImage + ')'"
          >
            <!-- <div
              class="item-image"
              
            ></div> -->
          </div>
          <div class="item-name">{{ item.qualificationNameAndLevel }}</div>
          <div class="item-other">
            <div class="other-info">{{ item.areaName }}</div>
            <div class="other-info">
              {{ item.authenFeatureVO.isNeedLetter ? '包函' : '不包函' }}
            </div>
            <div class="other-info">
              {{
                item.authenFeatureVO.isHoldingCompany ? '不可控股' : '可控股'
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="model-description"
      :style="'background-image:url(' + qrInfo + ')'"
    >
      <div class="tab-name-list">
        <div
          v-for="(item, key) in tabs"
          :key="key"
          class="tab-name"
          @click="changeTabs(key)"
          :class="{ selected: currentTab === key }"
        >
          {{ item.name }}
        </div>
      </div>
      <div class="model-pane">
        <div v-for="(item, key) in tabs" :key="key">
          <div v-show="key === currentTab">
            <div class="tabs-title">{{ item.title }}</div>
            <div class="tabs-description">{{ item.description }}</div>
            <div class="tabs-process">
              <div
                class="pr-item"
                v-for="(pr, index) in item.process"
                :key="index"
              >
                <!-- <a-icon class="pr-icon" :type="pr.icon"></a-icon> -->
                <img :src="pr.icon" class="w-[30px] h-[30px]" />
                <div class="relative">
                  <span class="pr-remark">
                    {{ pr.remark }}
                  </span>
                  <!-- <a-icon
                  
                    class="next-icon"
                    type="double-right"
                  /> -->
                  <img
                    v-if="index < item.process.length - 1"
                    :src="doublearrowImage"
                    class="right-[-41px] top-[-16px] absolute w-[16px] h-[16px]"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="qr-foot" :style="'background-image:url(' + qrBottom + ')'">
      <div class="slogan-content">
        <div
          class="slogan"
          v-html="'让您快速找到 &nbsp;&nbsp; 想要的资质'"
        ></div>
        <div class="slogan-phone">
          <!-- <a-icon type="phone" theme="filled" class="right-phone"></a-icon> -->
          免费咨询电话400-902-8966
        </div>
      </div>
      <div class="jump-btns">
        <a-button class="jump-btn" type="primary" @click="goToShare">
          我要买资质
        </a-button>
        <a-button class="jump-btn sell-btn" @click="goToSell">
          我要卖资质
        </a-button>
      </div>
    </div>
    <div>
      <a-modal
        title="平台自营发布"
        :visible="autarkyReleaseShow"
        :destroyOnClose="true"
        @cancel="handleCancel"
        class="contactMode"
      >
        <a-form-model
          ref="contactForm"
          :model="contactModeData"
          :rules="contactModeRules"
          :label-col="{ span: 5 }"
          :wrapper-col="{ offset: 5 }"
        >
          <a-form-model-item ref="name" label="联系人" prop="name">
            <a-input
              v-model.trim="contactModeData.name"
              placeholder="请输入联系人"
            />
          </a-form-model-item>
          <a-form-model-item ref="phone" label="手机" prop="phone">
            <a-input
              v-model.trim="contactModeData.phone"
              placeholder="请留下手机，我们会及时联系您"
            />
          </a-form-model-item>
          <a-form-model-item label="验证码:" prop="verificationCode">
            <div style="display: flex;">
              <a-input
                style="margin-right: 15px;"
                v-model.trim="contactModeData.verificationCode"
                placeholder="请输入短信验证码"
              ></a-input>
              <a-button
                :disabled="codeDisabled"
                @click="sendVerifycode"
                class="verify-btn"
                type="primary"
                >{{ codeBtnText }}
              </a-button>
            </div>
          </a-form-model-item>
          <div class="tips">
            注意：如需发布平台自营资质，请留下您的联系方式，您的专属客服稍后将会和您取得联系。
          </div>
        </a-form-model>
        <template slot="footer">
          <a-button type="primary" @click="handleOk">提交 </a-button>
        </template>
      </a-modal>
    </div>
  </div>
</template>
<script>
import { Input, Tabs, Select, FormModel } from 'ant-design-vue'
import { universalModule } from '@/store/modules/universal'
import { detailModule } from '@/store/modules/detail'

// import qrBg from '@/assets/image/qr/qr_bg.png'
import qrBottom from '@/assets/image/qr/qr_bottom.png'
import qrInfo from '@/assets/image/qr/qr_info.png'
import quaImage from '@/assets/image/qr/qua_image.png'
import btbImage from '@/assets/image/qr/icon/btb.png'
import contactImage from '@/assets/image/qr/icon/contact.png'
import doublearrowImage from '@/assets/image/qr/icon/doublearrow.png'
import forsureImage from '@/assets/image/qr/icon/forsure.png'
import releaseImage from '@/assets/image/qr/icon/release.png'
import searchImage from '@/assets/image/qr/icon/search.png'
import succeedImage from '@/assets/image/qr/icon/succeed.png'
import telImage from '@/assets/image/qr/icon/tel.png'
import toexamineImage from '@/assets/image/qr/icon/toexamine.png'
import Cookie from 'js-cookie'

export default {
  name: 'qr-main',
  components: {
    aInputSearch: Input.Search,
    aTabs: Tabs,
    aSelect: Select,
    aSelectOption: Select.Option,
    aTabsPane: Tabs.TabPane,
    aFormModel: FormModel,
    aInput: Input,
    aFormModelItem: FormModel.Item
  },
  computed: {
    qualificationOptions() {
      return universalModule.fakeQualificationOptions
    }
  },
  data() {
    return {
      btbImage,
      contactImage,
      doublearrowImage,
      forsureImage,
      releaseImage,
      searchImage,
      succeedImage,
      telImage,
      toexamineImage,
      userId: '',
      EPC: [
        { label: '建筑工程一级', value: '5' },
        { label: '市政公用工程一级', value: '41' },
        { label: '钢结构工程二级', value: '70' },
        { label: '机电工程二级', value: '48' },
        { label: '水利水电工程二级', value: '22' }
      ], // 总承包
      PC: [
        { label: '建筑装饰装修一级', value: '72' },
        { label: '环保工程一级', value: '136' },
        { label: '建筑幕墙一级', value: '77' },
        { label: '地基基础一级', value: '50' },
        { label: '电子与智能化工程二级', value: '58' }
      ], // 专业承包
      excellentData: [],
      currentTab: 0,
      tabs: [
        {
          name: '小牛优选',
          title: '平台严选',
          description: '由平台精心严选并审核，让您放心购买',
          process: [
            { icon: forsureImage, remark: '需求确认' },
            { icon: toexamineImage, remark: '提交审核' },
            { icon: btbImage, remark: '对接买家' }
          ]
        },
        {
          name: '平台自营',
          title: '平台自营',
          description: '由平台发布，资源100%精准',
          process: [
            { icon: forsureImage, remark: '确认资质' },
            { icon: telImage, remark: '查看电话' },
            { icon: succeedImage, remark: '交易成功' }
          ]
        },
        {
          name: '购买流程',
          title: '购买资质',
          description: '在资质集市中挑选或者拨打客服电话400-902-8966',
          process: [
            { icon: searchImage, remark: '寻找资质' },
            { icon: contactImage, remark: '联系卖家' },
            { icon: succeedImage, remark: '达成交易' }
          ]
        },
        {
          name: '出售流程',
          title: '出售资质',
          description: '快速发布想要出售的资质信息',
          process: [
            { icon: releaseImage, remark: '在线发布' },
            { icon: toexamineImage, remark: '提交审核' },
            { icon: succeedImage, remark: '交易达成' }
          ]
        }
      ],
      searchQua: undefined,
      resOption: [],
      searchOptions: [],
      qrBottom,
      qrInfo,
      quaImage,
      buySize: 0,
      autarkyReleaseShow: false,
      contactModeData: {
        name: '',
        phone: '',
        verificationCode: null
      },
      codeDisabled: false,
      codeBtnText: '获取验证码',
      codeSIV: null,
      contactModeRules: {
        name: [{ required: true, validator: this.verifyName, trigger: 'blur' }],
        phone: [
          { required: true, validator: this.validMobile, trigger: 'blur' }
        ],
        verificationCode: [
          {
            validator: this.verifyCodevalidate,
            required: true,
            message: '请输入正确的验证码',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    validMobile(rule, value, callback) {
      const mobileTest = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (value === '') {
        callback(new Error('请输入手机号码'))
      } else if (!mobileTest.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    verifyName(rule, value, callback) {
      if (value === '') {
        callback(new Error('请输入联系人'))
      }
      // else if (
      //     value.toLocaleLowerCase() !== this.identifyCode.toLocaleLowerCase()
      // ) {
      //   callback(new Error('请输入'))
      // }
      else {
        callback()
      }
    },
    async userIsLogin() {
      try {
        if (!this.userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    changeTabs(key) {
      this.currentTab = key
    },
    getPopupContainer() {
      return document.getElementById('qrHeader')
    },
    handleChange(item) {
      this.userIsLogin().then(() => {
        this.searchQua = item
        if (!item) {
          this.resOption = []
          return
        }
        this.handleSearch(item.label)
      })
    },
    handleSearch(search) {
      if (!search) {
        this.resOption = []
      } else {
        this.resOption = []
        this.qualificationOptions.forEach(s => {
          if (s.label.indexOf(search) > -1) {
            this.resOption.push(s)
          }
        })
      }
    },
    goToShareUserChannel() {
      this.userIsLogin().then(() => {
        localStorage.setItem('channel', '1')
        this.$router.push({
          name: 'shared'
        })
      })
    },
    goToSharedBySearch() {
      if (!this.searchQua) {
        this.$message.warning('请输入要查询的资质名称关键词！')
        return
      }
      this.goToShareHaveQua({
        label: this.searchQua.label,
        value: this.searchQua.key
      })
    },
    goToShareHaveQua(item) {
      this.userIsLogin().then(() => {
        const shareQua = JSON.stringify(item)
        localStorage.setItem('shareQua', shareQua)
        this.$router.push({
          name: 'shared'
        })
      })
    },
    goToExcellentShare() {
      this.userIsLogin().then(() => {
        this.$router.push({
          name: 'excellentShare',
          query: {
            channel: '1'
          }
        })
      })
    },
    goToAutarkyRelease() {
      this.userIsLogin().then(() => {
        this.autarkyReleaseShow = true
      })
    },
    goToShare() {
      this.userIsLogin().then(() => {
        const history = { name: 'shared', title: '我要买资质' }
        // console.log(history)
        universalModule.changeHistoryListItem(history)
        this.$router.push({
          name: 'shared'
        })
      })
    },
    goToSell() {
      this.userIsLogin().then(() => {
        const history = { name: 'buying', title: '我要卖资质' }
        universalModule.changeHistoryListItem(history)
        this.$router.push({
          name: 'buying'
        })
      })
    },
    quicklySubmit() {
      this.userIsLogin().then(() => {
        this.$emit('fastSend')
      })
    },
    getExecellentList() {
      const parmas = {
        isNeedLetter: true,
        pageSize: 5,
        sortType: 1,
        pageNum: 1,
        channel: 1 // 小牛精选
      }
      this.$httpRequester.post('/shared/query', parmas).then(res => {
        // console.log(res)
        this.excellentData = res.data
      })
    },
    getAllBuyList() {
      this.$httpRequester.post('buy/buyResourcesList').then(res => {
        this.buySize = res.totalSize
      })
    },

    handleOk() {
      this.$refs.contactForm.validate(val => {
        if (val) {
          const params = {
            contactsName: this.contactModeData.name,
            contactsPhone: this.contactModeData.phone,
            verifyCodeInput: this.contactModeData.verificationCode
          }
          this.$httpRequester.post('selfRelease/add', params).then(() => {
            this.$message.success('操作成功')
            this.autarkyReleaseShow = false
            this.emptyContactModeData()
          })
        }
      })
    },
    emptyContactModeData() {
      this.contactModeData.name = ''
      this.contactModeData.phone = ''
      this.contactModeData.verificationCode = null
      this.codeBtnText = '获取验证码'
      this.codeDisabled = false
      clearInterval(this.codeSIV)
      this.codeSIV = null
    },
    handleCancel() {
      this.autarkyReleaseShow = false
      this.emptyContactModeData()
    },
    sendVerifycode() {
      if (this.codeSIV) {
        return
      }
      this.$refs.contactForm.validateField('phone', message => {
        if (!message) {
          this.$httpRequester
            .post(
              'user/sms/verificte/send',
              { cellPhone: this.contactModeData.phone },
              'application/x-www-form-urlencoded'
            )
            .then(() => {
              this.codeDisabled = true
              let time = 120
              this.codeSIV = setInterval(() => {
                time -= 1
                this.codeBtnText = `重新发送(${time}S)`
                if (time === 1) {
                  this.codeBtnText = '获取验证码'
                  this.codeDisabled = false
                  clearInterval(this.codeSIV)
                  this.codeSIV = null
                }
              }, 1000)
            })
        }
      })
    },
    setFakeDataList() {
      this.excellentData = [
        {
          areaName: '北京市',
          authenFeatureVO: { isNeedLetter: true },
          authenImageUrl: 'upload/image/bd7084b70230ad5eca16ea03c889fb73',
          channel: 1,
          checkState: true,
          id: 7187,
          isNewest: true,
          qualificationNameAndLevel: '建筑工程施工总承包一级资质',
          quelificationStatus: 0
        },
        {
          areaName: '北京市',
          authenFeatureVO: {},
          authenImageUrl: 'upload/image/bd7084b70230ad5eca16ea03c889fb73',
          channel: 1,
          checkState: true,
          id: 7188,
          isNewest: true,
          qualificationNameAndLevel: '市政公用工程施工总承包一级资质',
          quelificationStatus: 0
        },
        {
          areaName: '江苏省',
          authenFeatureVO: {},
          authenImageUrl: 'upload/image/bd7084b70230ad5eca16ea03c889fb73',
          channel: 1,
          checkState: true,
          id: 7189,
          isNewest: true,
          qualificationNameAndLevel: '地基基础工程专业承包一级资质',
          quelificationStatus: 0
        },
        {
          areaName: '江苏省',
          authenFeatureVO: {},
          authenImageUrl: 'upload/image/bd7084b70230ad5eca16ea03c889fb73',
          channel: 1,
          checkState: true,
          id: 7190,
          isNewest: true,
          qualificationNameAndLevel: '建筑幕墙工程专业承包一级资质',
          quelificationStatus: 0
        },
        {
          areaName: '江苏省',
          authenFeatureVO: { isNeedLetter: true },
          authenImageUrl: 'upload/image/bd7084b70230ad5eca16ea03c889fb73',
          channel: 1,
          checkState: true,
          id: 7191,
          isNewest: true,
          qualificationNameAndLevel: '桥梁工程专业承包二级资质',
          quelificationStatus: 0
        }
      ]
    }
  },
  mounted() {
    // return
    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
      userAgent.indexOf(' electron/') > -1
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    if (this.userId) {
      this.getExecellentList()
      this.getAllBuyList()
    } else {
      this.setFakeDataList()
    }

    // this.qualificationOptions.forEach((e) => {
    //   e.children.forEach((c) => {
    //     this.searchOptions.push({
    //       label: c.label,
    //       value: c.value,
    //     })
    //   })
    // })
    // console.log(this.searchOptions)
  }
}
</script>

<style lang="scss" scoped>
.qr-main-page {
  //   padding: 12px 24px;
  padding-bottom: 40px;
  background-color: transparent;

  .header-content {
    // padding: 0 24px;
    // height: 170px;
    position: relative;
    // display: flex;
    // border-radius: 0 0 4px 4px;
    // align-items: flex-start;
    // justify-content: space-between;

    .title-tools {
      width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;

      .page-title {
        font-size: 16px;
        cursor: pointer;
        font-weight: 500;
        display: flex;
        align-items: center;
        color: #282828;
        height: 54px;
        line-height: 54px;
        border-bottom: 1px #eff3f6 solid;
        &:hover {
          color: #00ab94;
          .sell-num {
            color: #585858;
          }
        }
      }

      .qua-search {
        margin-top: 16px;
        width: 360px;
        display: flex;
        align-self: center;
      }

      .sell-num {
        color: #585858;
        margin-left: 10px;
        font-size: 12px;
      }
    }

    .buying-content {
      width: 100%;
      // height: 200px;
      padding: 0 24px;
      background-color: #fff;

      flex-shrink: 0;

      .qualification-list {
        margin-top: 15px;
      }

      .qua-line {
        height: 45px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 14px;

        .qua-type {
          font-weight: 400;
          color: #282828;
          width: 110px;
        }

        .qua-item {
          flex-shrink: 0;
          width: fit-content;
          padding: 0 8px;
          cursor: pointer;
          font-size: 14px;
          height: 24px;
          line-height: 24px;
          border: solid 1px #d2d6d9;
          text-align: center;
          margin-right: 12px;

          &:hover {
            color: #00ab94;
            border-color: #00ab94;
          }
        }
      }
    }

    .sell-content {
      width: 100%;
      margin-top: 16px;
      background-color: #fff;
      padding: 0 24px;
      // height: 100%;
      flex-shrink: 0;

      .sell-btns {
        width: 100%;
        margin-top: 16px;
        display: flex;
        align-items: center;
        padding-bottom: 44px;
        justify-content: flex-start;
        // height: 97px;

        .sell-btn {
          width: 88px;
          height: 32px;
          margin-right: 8px;
          font-size: 14px;
        }

        .quickly {
          position: relative;
          border-color: #00ab94;
          color: #00ab94;

          &:after {
            content: '只需一步，买家找上门';
            height: 20px;
            position: absolute;
            bottom: -28px;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 12px;
            color: #a0a6ab;
          }
        }
      }
    }
  }

  .excellent-content {
    margin-top: 16px;
    border-radius: 4px;
    padding: 0 24px;
    background-color: #fff;
    position: relative;

    .more-btn {
      position: absolute;
      right: 24px;
      top: 16px;
      z-index: 12;
    }

    .ex-title {
      z-index: 11;
      font-size: 16px;
      margin-bottom: 6px;
      font-weight: 500;
      // width: fit-content;
      position: relative;
      width: 100%;
      height: 54px;
      line-height: 54px;
      border-bottom: 1px #eff3f6 solid;

      &:after {
        content: '为您精选';
        font-size: 12px;
        width: fit-content;
        color: #ffffff;
        background-color: #00bc87;
        // height: 20px;
        // line-height: 20px;
        position: absolute;
        height: 20px;
        line-height: 20px;
        left: 73px;
        top: 10px;
        padding: 0px 6px;
        border-radius: 10px 10px 10px 0;
        // width: 70px;
      }
    }

    .ex-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 20px;
      // padding-bottom: 18px;
      .ex-item {
        width: 210px;
        border: solid 1px #ddd;
        height: 290px;
        cursor: pointer;
        position: relative;
        border-radius: 4px;
        margin: 0 20px 20px 0;
        overflow: hidden;

        .item-image-box {
          width: 100%;
          height: 200px;
          // background-color: #00ab94;
          position: relative;
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          // .item-image {
          //   position: absolute;
          //   height: 262px;
          //   width: 230px;
          //   background-size: cover;
          //   right: -65px;
          //   bottom: -77px;
          // }
        }

        .item-name {
          margin-top: 20px;
          width: 100%;
          text-align: center;
          font-size: 13px;
          word-wrap: break-word;
          word-break: normal;
        }

        .item-other {
          position: absolute;
          height: 40px;
          bottom: 0;
          width: 100%;
          left: 0;
          //   background-color: #ddd;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .other-info {
            height: 25px;
            line-height: 25px;
            width: 33%;
            text-align: center;
            border-right: 1px solid #ddd;

            &:last-child {
              border-color: transparent;
            }
          }
        }

        &:hover {
          border-color: #00ab94;
          box-shadow: 1px 2px 3px 3px #f1f1f1;
        }
      }
    }
  }

  .model-description {
    height: 184px;
    background-size: cover;
    // padding: 24px;
    // background-color: #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tab-name-list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 240px;
      height: 100%;
      box-sizing: content-box;
      // padding-left: 70px;

      .tab-name {
        font-size: 14px;
        width: 100%;
        height: 46px;
        line-height: 46px;
        cursor: pointer;
        border-right: 1px rgba($color: #fff, $alpha: 0.1) solid;
        border-bottom: 1px rgba($color: #fff, $alpha: 0.1) solid;
        text-align: center;
        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.1);
        }
      }

      .selected {
        // color: #00ab94;
        background-color: rgba($color: #fff, $alpha: 0.1);
        // border-bottom: solid 2px #00ab94;
      }
    }

    .model-pane {
      // padding-left: 130px;
      // padding-top: 20px;
      // width: auto;
      height: 100%;
      padding-left: 48px;
      flex-grow: 1;
      .tabs-title {
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 4px;
        font-weight: 500;
      }

      .tabs-description {
        font-size: 14px;
        // margin-top: 10px;
      }

      .tabs-process {
        margin-top: 36px;
        display: flex;
        align-items: center;
      }

      .pr-item {
        height: 70px;
        margin-right: 98px;
        font-size: 12px;
        text-align: center;

        .pr-icon {
          //   width: 0px;
          font-size: 30px;
          margin-bottom: 15px;
        }

        // .next-icon {
        //   margin-left: 20px;
        // }
      }
    }
  }

  .qr-foot {
    margin-top: 20px;
    height: 156px;
    width: 100%;
    // background-color: #fff;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: space-between;

    .slogan-content {
      //   height: 100px;
      // wi;
      padding-left: 240px;
      text-align: left;

      .slogan {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 4px;
      }

      .slogan-phone {
        font-size: 14px;
        color: #fff;

        // .right-phone {
        //   margin-top: 4px;
        //   transform: rotate(90deg);
        //   margin-right: 8px;
        // }
      }
    }

    .jump-btns {
      margin-right: 80px;
      // width: 240px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .jump-btn {
        width: 102px;
        background-color: #1890ff;
        border-color: #1890ff;
        &:hover {
          background-color: #1890ff;
        }
        // text-align: center;
        // font-weight: bold;
        // height: 32px;
        //  margin: 0 10px;
      }

      .sell-btn {
        border-color: #ff7f28;
        background-color: #ff7f28;
        color: #fff;
        margin-left: 12px;

        &:hover {
          background-color: #ff7f28;
        }
      }
    }
  }
}
</style>
