<template>
  <a-modal
    @ok="assignToStaff"
    @cancel="cancelAssign"
    v-model="assignModal"
    title="分配资源"
  >
    <a-form-model
      ref="assignForm"
      :model="assignModel"
      :label-col="{ span: 4 }"
      :wrapper-col="{ offset: 5 }"
    >
      <a-form-model-item
        :rules="{ required: true, message: '请选择分配对象', trigger: 'blur' }"
        label="接受对象"
        prop="assignStaff"
      >
        <a-select
          labelInValue
          v-model="assignModel.assignStaff"
          @change="seletAssignStaff"
          placeholder="请选择分配对象"
        >
          <a-select-option
            v-for="staff in staffList"
            :key="staff.value"
            :value="staff.value"
            >{{ staff.label }}</a-select-option
          >
        </a-select>
      </a-form-model-item>
      <a-form-model-item label="备注信息" prop="remark">
        <a-textarea
          v-model="assignStaff.reamrk"
          :auto-size="{ minRows: 4, maxRows: 7 }"
        ></a-textarea>
      </a-form-model-item>
    </a-form-model>
  </a-modal>
</template>

<script lang="ts" src="./Assign.ts"></script>
