<template>
  <div class="follow-form" id="followForm">
    <a-form-model
      ref="followForm"
      :model="followModel"
      :rules="rules"
      :label-col="{ span: 5 }"
      :wrapper-col="{ offset: 5 }"
    >
      <a-form-model-item label="跟进资质" prop="qualificationItemIds">
        <tree-checkbox-select
          :fakeQualification="fakeQualification"
          containerId="followForm"
          :qualificationOptions="qualificationOptions"
          :designQualificationOptions="designQualificationOptions"
          v-model="followModel.qualificationItemIds"
        ></tree-checkbox-select>
      </a-form-model-item>
      <a-form-model-item label="跟进状态" prop="followStatus">
        <a-select
          placeholder="请选择跟进状态"
          v-model="followModel.followStatus"
        >
          <a-select-option
            v-for="item in followStatusOptions"
            :key="item.vlaue"
            :value="item.value"
            :disabled="item.disabled"
            >{{ item.label }}</a-select-option
          >
        </a-select>
      </a-form-model-item>

      <a-form-model-item label="联系电话" prop="phone">
        <a-input
          placeholder="请输入联系电话"
          v-model="followModel.phone"
        ></a-input>
      </a-form-model-item>
      <a-form-model-item label="联系人" prop="contacts">
        <a-input
          placeholder="请输入联系人"
          v-model="followModel.contacts"
        ></a-input>
      </a-form-model-item>
      <!-- <a-form-model-item label="电话是否有效">
        <a-select v-model="followModel.phoneStatus">
          <a-select-option
            v-for="item in phoneStatusOptions"
            :key="item.vlaue"
            :value="item.value"
            >{{ item.label }}</a-select-option
          >
        </a-select>
      </a-form-model-item>-->
      <!-- <a-form-model-item label="外呼单号">
        <a-input
          placeholder="请输入外呼单号"
          v-model="followModel.outcallOrderId"
        ></a-input>
      </a-form-model-item>-->
      <a-form-model-item label="跟进备注" prop="remarks">
        <a-textarea
          placeholder="请输入跟进备注"
          v-model="followModel.remarks"
        ></a-textarea>
      </a-form-model-item>
    </a-form-model>
  </div>
</template>

<script lang="ts" src="./Follow.ts"></script>

<style lang="scss" scoped>
.follow-form {
  width: 100%;
}
</style>
