<template>
  <div ref="filterDrawer" class="filter-drawer">
    <a-input-search
      placeholder="请输入条件组名称"
      class="filter-input"
      v-model="filterKeyword"
      enter-button
      @search="searchFilterGroup"
    />
    <a-select
      placeholder="请选择保存人进行查询"
      v-model="staffModel"
      class="filter-input"
      @change="changeStaffList"
    >
      <a-select-option
        v-for="option in staffList"
        :key="option.label"
        :value="option.value"
        >{{ option.label }}</a-select-option
      >
    </a-select>
    <a-select
      placeholder="请选择排序条件进行查询"
      v-model="sortModel"
      class="filter-input"
      @change="changeSort"
    >
      <a-select-option
        v-for="(option, index) in sortOptions"
        :key="index"
        :value="option.value"
        >{{ option.label }}</a-select-option
      >
    </a-select>
    <div class="filter-group-list">
      <div
        class="filter-group"
        v-for="(item, index) in filterGroup"
        :key="index"
      >
        <div @click="removeThisItem(item)" class="remove-group">
          <a-icon type="close" />
        </div>
        <div class="group-title">{{ item.conditionName }}</div>
        <div class="group-info">保存人：{{ item.saveUserName }}</div>
        <div class="group-info">保存时间：{{ item.saveTime }}</div>
        <div class="group-info">使用次数：{{ item.usedCount }}</div>
        <div class="group-btns">
          <a-button type="link" @click="preview(item)">预览</a-button>
          <a-button type="link" @click="useThisGroup(item)">使用</a-button>
        </div>
      </div>
    </div>
    <a-pagination
      v-model="pageNum"
      @change="changePage"
      :total="total"
      :page-size="5"
      :default-current="1"
      showLessItems
      size="small"
      :show-total="total => `共 ${total} 条`"
    ></a-pagination>
    <a-modal
      :width="560"
      :title="previewTitle"
      :visible="previewModal"
      okText="使用"
      :getContainer="containNode"
      @ok="updateFilterGroup"
      @cancel="handleCancelPreview"
    >
      <search-filter ref="searchRef"></search-filter>
    </a-modal>
  </div>
</template>

<script lang="ts" src="./GroupDrawer.ts"></script>

<style lang="scss" scoped>
.filter-drawer {
  .filter-input {
    width: 100%;
    margin-bottom: 16px;
  }
  .filter-group-list {
    .filter-group {
      position: relative;
      width: 324px;
      height: 110px;
      background-color: #fafafa;
      border-radius: 2px;
      margin-top: 16px;
      box-sizing: border-box;
      padding: 8px 12px;
      margin-bottom: 16px;
      .remove-group {
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 8px;
        color: rgba($color: #000000, $alpha: 0.65);
      }
      .group-title {
        color: rgba($color: #000000, $alpha: 0.85);
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 7px;
      }
      .group-info {
        color: rgba($color: #000000, $alpha: 0.65);
        font-size: 12px;
        height: 20px;
        margin: 1px 0;
        line-height: 20px;
      }
      .group-btns {
        position: absolute;
        bottom: 0;
        right: 12px;
      }
    }
  }
}
</style>
