<template>
  <div id="homePage" class="longna-homepage">
    <table-filter
      ref="tableFilterREF"
      id="tableFilter"
      @clickFindBtns="clickFindBtns"
      @getFilterList="setFilterOption"
    ></table-filter>
    <!-- <search-tool
      ref="tool"
      @findFilterTableData="setFilterOption"
    ></search-tool>-->

    <!-- <div @click="filterGroupDisplay" class="filter-group fixed">
      <a-icon type="menu-fold" />条件组
    </div>-->
    <a-drawer
      @close="closeCompanyDetailDrawer"
      :getContainer="getDetailDom"
      :closable="false"
      :visible="showCompanyDetailDrawer"
      width="840"
    >
      <detail-index
        ref="companyDrawer"
        @closeDrawer="closeCompanyDetailDrawer"
        @havePhoneOperate="getComponyList"
        @detailReceive="getComponyList"
        :otherInfo="companyDetail"
        :isFromClient="false"
      ></detail-index>
    </a-drawer>
    <!-- <a-drawer
      title="历史保存"
      placement="right"
      @close="closeDrawer"
      :get-container="false"
      width="364"
      :visible="showFilterGroup"
    >
      <group-drawer
        @update-filter-group="setFilterOptionFromDrawer"
        ref="filterGroup"
      ></group-drawer>
    </a-drawer>-->
    <div class="table-content">
      <a-anchor class="transpant-dom">
        <a-anchor-link
          ref="backToFilterLink"
          href="#tableFilter"
        ></a-anchor-link>
      </a-anchor>
      <div class="loading" v-show="dataLoading">
        <a-spin size="large" tip="加载中......" />
      </div>
      <p class="top-tips" id="tips">
        小牛建讯为您查询出
        <span class="primary-text">{{ tipText }}</span>
        家符合条件的企业（电话数据经大数据实时演算解析，并经启发式算法优化排序显示）
      </p>
      <div v-if="isNotSpecialProvince" class="btns">
        <!-- <a-button
          type="primary"
          v-if="!isSuperAdmin"
          @click="receiveListItems"
          class="lf-btns"
          >领取资源</a-button
        >-->

        <a-button
          @click="filterIsRisk"
          class="lf-btns"
          :class="{ noRisk: isRisk !== 2, haveRisk: isRisk === 2 }"
        >
          企业风险
          <a-icon :type="isRisk === 2 ? 'arrow-down' : 'arrow-up'" />
        </a-button>
        <a-button
          @click="filterIsEstablisTime"
          class="lf-btns"
          :class="{ noRisk: timeDesc !== 2, haveRisk: timeDesc === 2 }"
        >
          成立时间
          <a-icon
            v-if="timeDesc > 0"
            :type="timeDesc === 2 ? 'arrow-down' : 'arrow-up'"
          />
        </a-button>
        <!-- <a-button
          @click="filterIsReceiveCount"
          :type="isReceiveCount === 2 ? 'primary' : 'default'"
          >领取次数 <a-icon :type="isReceiveCount === 2 ? 'up' : 'down'"
        /></a-button>-->
        <div class="absolute-rt-btns">
          <a-button
            v-if="showWatchBtn"
            class="special-btn"
            :disabled="isSuperAdmin"
            icon="eye"
            @click="receiveAllList"
            >本页电话</a-button
          >
          <!-- <a-button
            :type="isBatch ? 'primary' : 'default'"
            @click="changeBatchStatus"
            :disabled="isSuperAdmin || isSales"
            >批量分配资源
          </a-button>-->
        </div>
        <div class="batch-btns" v-if="isBatch">
          <a-button
            @click="changeBatchStatus"
            class="lf-btns fixed-width"
            type="default"
            >取消</a-button
          >
          <a-button
            @click="selectAllTableCard"
            class="lf-btns border-btn fixed-width"
            v-if="showSelectAllBtn"
            type="default"
            >全选</a-button
          >
          <a-button
            @click="cleanSelectAll"
            v-if="!showSelectAllBtn"
            class="lf-btns border-btn fixed-width"
            type="default"
            >取消全选</a-button
          >
          <a-button
            @click="assignItems"
            class="lf-btns fixed-width"
            type="primary"
            >分配({{ batchNum }})</a-button
          >
        </div>
      </div>
      <!-- @click="assignItems" -->

      <template v-if="total">
        <table-card
          @receiveThisItem="receiveThisItem"
          @phoneIsNotTurnOn="phoneIsNotTurnOn"
          @phoneIsTurnOn="phoneIsTurnOn"
          @staffFollowUp="staffFollowUp"
          :isSpecialProvince="!isNotSpecialProvince"
          :isChecked="item.isChecked"
          :showCkeckBox="isBatch"
          @showSharQrCode="showSharQrCode"
          @changeChecked="changeChecked"
          @goToCompanyDetail="goToCompanyDetail"
          :isClicked="findClickedItem(item.enterpriseId)"
          v-for="(item, index) in tableData"
          :key="index"
          :index="index"
          :row="item"
        ></table-card>
        <div class="card-pagination">
          <a-pagination
            v-model="pageNum"
            @change="tableChange"
            @showSizeChange="tableChange"
            :showTotal="paginationShowTotal"
            :showSizeChanger="false"
            :showQuickJumper="true"
            :pageSize.sync="pageSize"
            :total="total"
          ></a-pagination>
          <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
        </div>
      </template>
      <block-data
        :imageSrc="notFind"
        :titleText="''"
        :text="''"
        v-else
      ></block-data>
      <p class="tips">
        客户查询说明：<br />
        1.
        数据来源：该数据源于中国住房和城乡建设部、各省级一体化平台、国家企业信用信息公示系统、中国执行网<br />
        2.相同查询条件，同一公司所有业务人员查询到的结果，列表展示一致。
      </p>
      <!-- <a-table
        @change="tableChange"
        :row-selection="rowSelection"
        :columns="columns"
        :pagination="pagination"
        rowKey="enterpriseId"
        :data-source="tableData"
      >
        <template slot="goToCompanyDetail" slot-scope="text, item">
          <a
            :class="{ isClicked: findClickedItem(item.enterpriseId) }"
            @click="goToCompanyDetail(item)"
          >
            <div v-html="text"></div>
          </a>
        </template>
        <template slot="qulifications" slot-scope="text, item">
          <div>
            <a-popover
              v-if="item.qualificationsList.length >= 2"
              trigger="hover"
            >
              <div class="popover-title" slot="title">取得资质</div>
              <template slot="content">
                <div style="max-width:600px">
                  {{ item.qualificationsListText }}
                </div>
              </template>
              {{ text }}
            </a-popover>
            <p v-else>{{ text }}</p>
          </div>
        </template>
        <template slot="legalRisks" slot-scope="text, item">
          <div class="risks-content">
            <div :class="{ haveRisks: item.isDishonesty || item.isExecuted }">
              {{ text }}
            </div>
          </div>
        </template>
        <template slot="phoneReceive" slot-scope="text, item">
          <div class="phoneReceive">
            <div v-if="item.haveReceive">
              <a-popover trigger="hover">
                <div class="popover-title" slot="title">联系电话</div>
                <template slot="content">{{
                  item.contactInformationList
                }}</template>
                {{ text }}
              </a-popover>
            </div>
            <div v-else>
              <a-button
                type="link"
                :disabled="isSuperAdmin"
                @click="receiveThisItem(item)"
                >领取</a-button
              >
            </div>
          </div>
        </template>
        <template slot="operate" slot-scope="item">
          <div v-if="item.haveReceive" class="operate">
            <operate :btns="btns" :info="item"></operate>
          </div>
          <div v-else>领取后方可操作</div>
        </template>
      </a-table>-->
      <assign
        ref="assignModal"
        @assignSuccess="assignSuccess"
        :receiveList="receiveList"
      ></assign>
      <a-modal
        @ok="addFollow"
        @cancel="closeFollowDrawer"
        v-model="followShow"
        title="添加跟进记录"
      >
        <follow :followQualication="followQualication" ref="followRef"></follow>
      </a-modal>
    </div>
    <!-- <a-modal
      title="沟通情况"
      :visible="turnOnShow"
      :destroyOnClose="true"
      @ok="modalHandleOk"
      @cancel="modalHandleCancel"
    >
      <form-components ref="communicationForm" :formItems="formItems"></form-components>
    </a-modal>
    <a-modal
      title="未接通电话"
      width="400px"
      :visible="notTurnOnShow"
      @ok="modalHandleOk"
      @cancel="modalHandleCancel"
    >
      <div class="not-turnon-form">
        <div class="label">未接通类型：</div>
        <a-select class="select-input" v-model="notTurnOnValue">
          <a-select-option
            v-for="item in notTurnOnInfo"
            :key="item.value"
            :value="item.value"
          >{{ item.label }}</a-select-option>
        </a-select>
      </div>
    </a-modal> -->
    <qr-modal ref="qr" :url="qrCode"></qr-modal>
  </div>
</template>

<script lang="ts" src="./Index.ts"></script>
<style lang="scss">
.hightlight {
  color: #ff8800 !important;
}
</style>
<style lang="scss" scoped>
.longna-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  .table-content {
    margin-top: 24px;
    width: 100%;
    border-radius: 4px;
    flex: 1;
    box-sizing: border-box;
    padding: 28px 24px;
    position: relative;
    background-color: #ffffff;
    .loading {
      width: 100%;
      z-index: 1000;
      height: 100%;
      background-color: rgba($color: #afafaf, $alpha: 0.4);
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      padding-top: 10%;
    }
    .top-tips {
      position: absolute;
      left: 24px;
      top: 12px;
      // padding-left: 21px;
      font-size: 13px;
      color: #909399;
    }
    .btns {
      margin-top: 12px;
      padding: 6px 21px;
      border: solid 1px #f2f2f2;
      background-color: #f2f2f2;
      position: relative;
      // margin-bottom: 24px;
      .fixed-width {
        width: 90px;
      }
      .noRisk {
        background-color: transparent;
        border-color: #999999;
        &:hover {
          border-color: #759fff;
        }
        &:focus {
          border-color: #759fff;
        }
      }
      .haveRisk {
        background-color: #4d7cfe;
        color: #ffffff;
        &:hover {
          background-color: #759fff;
          border-color: #759fff;
        }
      }
      .lf-btns {
        margin-right: 24px;
      }
      .absolute-rt-btns {
        position: absolute;
        top: 6px;
        right: 28px;
        display: flex;
        align-items: center;
        .special-btn {
          color: #fff;
          background-color: #65b3fe;
          &:hover {
            background-color: #84baef;
            border-color: #84baef;
          }
        }
      }
      .batch-btns {
        margin-top: 5px;
        border-top: solid 1px #fafafa;
        padding-top: 5px;
        width: 100%;
        text-align: center;
        .border-btn {
          border-color: #4d7cfe;
          color: #4d7cfe;
        }
      }
    }
  }
  .card-pagination {
    width: 100%;
    // text-align: right;
    margin-top: 35px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .fake-btn {
      margin-left: 8px;
    }
  }
  .fixed {
    position: fixed;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #4d7cfe;
    color: #fff;
    right: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: 0px 10px 20px 0px rgba(77, 124, 254, 0.1);
  }
  .filter-group {
    top: 40%;
    width: 40px;
    height: 103px;
    font-size: 13px;
    padding: 15px;
    word-wrap: break-word;
  }
  .feedback-btns {
    bottom: 10%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
  }
  .back-to-top {
    bottom: 5%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    color: #4d7cfe;
    background-color: #e0e8ff;
  }
  .filter-input {
    width: 100%;
    margin-bottom: 16px;
  }
  .risks-content {
    width: 100%;
    .haveRisks {
      font-size: 13px;
      color: #e63737;
      width: auto;
      display: inline-block;
      background-color: rgba($color: #f95a5a, $alpha: 0.1);
      padding: 5px 8px;
      border-radius: 4px;
    }
  }
}
</style>
