<template>
  <div class="search-tool">
    <div class="search-title">满足下列所有查询条件</div>
    <search-filter
      ref="searchRef"
      @setFilterOptions="setFilterOptions"
      v-show="isExpend"
    ></search-filter>
    <div
      class="collapse-expend expend-btn"
      @click="collaspeOrExpend"
      v-if="!isExpend"
    >
      <a-icon type="down" />展开
    </div>
    <div class="collapse-expend collapse-btn" @click="collaspeOrExpend" v-else>
      <a-icon type="up" />收起
    </div>
  </div>
</template>

<script lang="ts" src="./SearchTool.ts"></script>

<style lang="scss" scoped>
.search-tool {
  // max-height: 306px;
  // overflow-y: auto;
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 25px 24px 25px;
  position: relative;
  .search-title {
    color: #909399;
    font-size: 16px;
  }

  .collapse-expend {
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    right: 25px;
    bottom: 10px;
    color: #4d7cfe;
  }
}
</style>
