<template>
  <div>
    <div class="search-items">
      <div class="search-item">
        <a-input
          :style="{ width: isfromModal ? '142px' : '' }"
          class="search-input"
          default-value="资质类别及等级"
          :read-only="true"
        />
        <a-tree-select
          @change="selectQualification"
          v-model="qualification"
          :treeDefaultExpandedKeys="defaultExpend"
          tree-checkable
          labelInValue
          class="auto-width"
          treeNodeFilterProp="label"
          :tree-node-label-prop="'label'"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          placeholder="请选择输入"
        >
          <!-- :tree-data="qualificationOptions" -->

          <a-tree-select-node
            v-for="qua in qualificationOptions"
            :key="qua.key"
            @click.native="expendNode(qua.key)"
            :value="qua.value"
            :selectable="qua.selectable"
            :checkable="qua.checkable"
            :label="qua.label"
            :title="qua.title"
          >
            <a-tree-select-node
              v-for="children in qua.children"
              :key="children.key"
              :value="children.value"
              @click.native.stop
              :label="children.label"
              :title="children.title"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select>
      </div>
      <!-- <div v-if="haveAdd"> -->
      <div
        class="search-item"
        v-for="(item, index) in filterOption"
        :key="index"
      >
        <a-select
          v-model="item.title"
          class="search-input"
          v-if="item.type"
          @change="e => selectFilterOption(index, e)"
        >
          <div slot="placeholder">请选择筛选条件</div>
          <a-select-option
            v-for="(option, OIndex) in inputOptions"
            :key="OIndex"
            :disabled="option.disabled"
            :value="OIndex"
            >{{ option.label }}</a-select-option
          >
        </a-select>
        <!-- <div v-if="item.type > -1"> -->
        <!-- 时间范围选择1 -->
        <a-range-picker
          class="confrim-width"
          v-model="item.value"
          format="YYYY-MM-DD"
          v-if="item.type === DATE_RANGE"
          :disabled-date="disabledEndDate"
          @change="e => changeRangeDate(index, e)"
          :placeholder="['请选择日期范围', '请选择日期范围']"
        ></a-range-picker>
        <!-- 选择器2 -->
        <a-select
          class="auto-width"
          v-model="item.value"
          placeholder="请选择"
          @change="e => selectOptions(e, index, item)"
          v-if="item.type === SELECT"
        >
          <a-select-option
            v-for="(filterOption, FOPIndex) in item.options"
            :key="FOPIndex"
            :value="filterOption.value"
            >{{ filterOption.label }}</a-select-option
          >
        </a-select>
        <!-- 输入框3 -->
        <a-input
          class="confrim-width"
          v-if="item.type === INPUT"
          placeholder="请输入查询条件"
          v-model="item.value"
        ></a-input>
        <!-- 单选按钮4 -->
        <a-radio-group
          v-model="item.value"
          v-if="item.type === RADIO"
          class="auto-width"
        >
          <a-radio :value="1">有</a-radio>
          <a-radio :value="0">无</a-radio>
        </a-radio-group>
        <!-- 数字框5 -->
        <a-input-number
          v-model="item.value"
          v-if="item.type === NUMBER"
          class="confrim-width"
        ></a-input-number>
        <!-- 日期选择6 -->
        <a-date-picker
          placeholder="请选择日期"
          v-if="item.type === DATE"
          v-model="item.value"
          :disabled-date="disabledEndDate"
          class="confrim-width"
        ></a-date-picker>
        <!-- 多项树选择7 -->
        <a-tree-select
          v-model="treeSelect"
          @change="e => selectTreeNode(e, index)"
          tree-checkable
          v-if="item.type === MULIT_SELECT"
          :tree-data="item.options"
          class="auto-width"
          :tree-node-label-prop="'title'"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          placeholder="请选择"
        ></a-tree-select>
        <!-- 数字范围8 -->
        <div
          v-if="item.type === NUMBER_RANG"
          class="number-range confrim-width"
        >
          <a-input-number
            class="num-input"
            @change="e => setMinNumber(index, e)"
            @blur="setMinInput(index)"
            placeholder="请输入最小值"
            :min="0"
            v-model="item.value['min']"
          ></a-input-number>
          <div class="text-label">{{ item.options[0].text }}</div>
          <div class="text-label have-margin">至</div>
          <a-input-number
            class="num-input"
            :min="item.options[1].text || 0"
            @change="e => setMaxNumber(index, e)"
            placeholder="请输入最大值"
            v-model="item.value['max']"
          ></a-input-number>
          <div class="text-label">{{ item.options[0].text }}</div>
        </div>
        <!-- 多项查询9 -->
        <a-input
          class="confrim-width"
          v-if="item.type === MULIT_INPUT"
          placeholder="多个查询请用逗号分隔开，以保证查询准确"
          v-model="item.value"
        ></a-input>
        <div class="remove-icon" v-if="item.type">
          <a-icon @click="removeThisFilter(index)" type="delete" />
        </div>
      </div>

      <!-- </div> -->
      <!-- </div> -->
      <div class="search-item" v-if="!isfromModal">
        <a-button @click="addNewFilterSelect">添加条件</a-button>
      </div>
    </div>
    <div v-show="!isfromModal" class="operate-btn">
      <a-button
        size="large"
        @click="searchTable"
        class="search-btn"
        type="primary"
        >查询</a-button
      >
      <a-button size="large" @click="showSaveModl" class="save-btn"
        >保存条件组</a-button
      >
    </div>
    <a-modal
      :width="560"
      title="保存条件组"
      :visible="saveModal"
      @ok="saveCurrentFilters"
      @cancel="handleCancelSave"
    >
      <div class="save-tips">
        <a-icon
          type="info-circle"
          theme="filled"
          class="havemargin"
        />温馨提示：条件组整个共享，即您保存条件后，贵司其他用户也可以使用该条件组
      </div>
      <div class="group-form-item">
        <div class="label">条件组名称</div>
        <a-input class="input" v-model="groupName" placeholder="请输入" />
      </div>
    </a-modal>
  </div>
</template>
<script lang="ts" src="./SearchFilter.ts"></script>

<style lang="scss" scoped>
.search-items {
  margin-top: 16px;
  width: 100%;
  .search-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-bottom: 16px;
    .search-input {
      width: 306px;
    }
    .auto-width {
      flex-grow: 0;
      margin-left: 24px;
      min-width: 306px;
      max-width: calc(100% - 330px);
    }
    .confrim-width {
      flex-grow: 0;
      margin-left: 24px;
      width: 306px;
    }
    .number-range {
      display: flex;
      flex-shrink: 0;
      justify-content: space-between;
      align-self: center;
      .num-input {
        width: 30%;
      }
      .have-margin {
        margin: 0 10px;
      }
    }
    .text-label {
      height: 36px;
      line-height: 36px;
    }
    .remove-icon {
      height: 36px;
      line-height: 36px;
      font-size: 18px;
      margin-left: 22px;
    }
  }
}
.operate-btn {
  margin-top: 43px;
  .search-btn {
    width: 102px;
    margin-right: 24px;
  }
}
</style>
<style lang="scss">
.save-tips {
  width: 528px;
  text-align: center;
  background-color: #fafafa;
  color: #4d7cfe;
  font-size: 13px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 33px;
  .havemargin {
    margin-right: 4px;
  }
}
.group-form-item {
  display: flex;
  width: 528px;
  align-self: center;
  flex-shrink: 0;
  justify-content: center;
  .label {
    color: #909399;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin-right: 16px;
  }
  .input {
    width: 80%;
    height: 40px;
  }
}
</style>
