<template>
  <div class="page">
    <div id="filterBox" class="filter-box">
      <div class="filter-list">
        <div id="notice" class="filter-item">
          <div class="label-title">公示公告类型：</div>
          <a-select
              v-model="filterData.notice"
              :getPopupContainer="getPopupContainer"
              size="default"
              style="width: 360px"
              @change="noticeChange"
          >
            <a-select-option
                v-for="item in noticeList"
                :key="item.value + 'sss'"
                :value="item.value"
            >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div id="qualifications" class="filter-item">
          <div class="label-title">资质或安许：</div>
          <a-select
              v-model="filterData.qualifications"
              :disabled="isChoice"
              :getPopupContainer="getPopupQualifications"
              placeholder="请选择资质分立申报或者安许证"
              size="default"
              style="width: 360px"
              @change="handleChangeQualifications"
          >
            <a-select-option
                v-for="item in qualificationsList"
                :key="item.value + 'sss'"
                :value="item.value"
            >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div id="region" class="filter-item">
          <div class="label-title">地区：</div>
          <a-select
              v-model="filterData.region"
              :getPopupContainer="getPopupRegion"
              allowClear
              placeholder="请选择地区"
              size="default"
              style="width: 360px"
              @change="regionChange"
          >
            <a-select-option
                v-for="item in regionList"
                :key="item.value + 'sss'"
                :value="item.value"
            >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div class="filter-item">
          <div class="label-title">资质类别及等级：</div>
          <tree-checkbox-single-select
              v-model="filterData.opinion"
              :disabled="isChoiceOpinion"
              :fakeQualification="fakeQualification"
              :qualificationOptions="qualificationOptions"
              containerId="filterBox"
              style="width: 360px"
          ></tree-checkbox-single-select>
          <!-- <a-tree-select
              :disabled="isChoiceOpinion"
              style="width: 360px"
              :getPopupContainer="getPopupContainer"
              @change="selectQualification"
              v-model="filterData.opinion"
              :treeDefaultExpandedKeys="defaultExpend"
              :treeExpandedKeys="defaultExpend"
              allow-clear
              labelInValue
              showSearch
              treeNodeFilterProp="label"
              treeNodeLabelProp="label"
              :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
              placeholder="请输入选择资质"
          >

            <a-tree-select-node
                v-for="qua in qualificationOptions"
                :key="qua.key"
                :value="qua.value"
                :selectable="false"
                :checkable="false"
                :label="qua.label"
                :title="qua.title"
            >
              <a-tree-select-node
                  v-for="children in qua.children"
                  :key="children.key"
                  :value="children.value"
                  :disabled="children.disabled"
                  :label="children.label"
                  :title="children.title"
              ></a-tree-select-node>
            </a-tree-select-node>
          </a-tree-select> -->
        </div>
        <div id="approval" class="filter-item">
          <div class="label-title">审批意见：</div>
          <a-select
              v-model="filterData.approval"
              :disabled="isChoice"
              :getPopupContainer="getPopupApproval"
              allowClear
              placeholder="请选择是否通过"
              size="default"
              style="width: 360px"
              @change="approvalChange"
          >
            <a-select-option
                v-for="item in opinionList"
                :key="item.value + 'sss'"
                :value="item.value"
            >{{ item.label }}
            </a-select-option>
          </a-select>
        </div>
        <div id="releaseTimeDom" class="filter-item">
          <div class="label-title">发布时间：</div>
          <a-date-range
              v-model="filterData.releaseTime"
              :disabled-date="disabledDate"
              :getCalendarContainer="getPopupReleaseTimeDom"
              class="item-input"
              @change="releaseTimeChange"
          />
        </div>
        <div id="EnterpriseName" class="filter-item">
          <div class="label-title">企业名称：</div>
          <div style="margin-right: 20px;">
            <a-input
                v-model.trim="filterData.companyName"
                :getCalendarContainer="getPopupReleaseEnterpriseName"
                placeholder="请输入企业名称关键词"
                style="min-width: 260px;"
            ></a-input>
          </div>
          <a-tooltip placement="top">
            <template slot="title">
              <span
              >搜索出企业名称、申请企业名称、变更企业名称中包含此关键词的数据</span
              >
            </template>
            <a-icon type="question-circle"/>
          </a-tooltip>
        </div>
      </div>
      <div class="operate-btns">
        <a-button class="btns rt" type="primary" @click="getClientList">
          查询
        </a-button>
        <a-button class="btns" @click="renewFilter">重置</a-button>
      </div>
    </div>
    <div class="table-content">
      <div class="table-content-explainText">
        <div class="table-content-title">{{ title }}</div>
        <div class="text">
          <!--          <a-tooltip>-->
          <!--            <template slot="title">-->
          <!--              1. 公示公告主要是为了监控<br>-->
          <!--              2. 公示公告内容包括企业申报资料、分立信息、安全生产许可证<br>-->
          <!--              3. 目前涵盖地区有江苏、四川、云南<br>-->
          <!--              4. 资质服务商可以介入各环节监控企业，根据公司业务联系相关企业<br>-->
          <!--              5. 数据来源：国家企业信用信息公示系统、江苏省建设厅、四川省建设厅、云南省建设厅、四库一平台-->
          <!--            </template>-->
          <div class="explainText">
            <p v-html="explainText.explain"></p>
            <p class="table-content-explainText-text">
              {{ explainText.source }}
            </p>
          </div>
          <!--          </a-tooltip>-->
        </div>
      </div>
      <div>
        <div v-if="tableData.length > 0">
          <a-table
              :columns="columns"
              :dataSource="tableData"
              :pagination="false"
              bordered
              rowKey="id"
          >
          </a-table>
          <div v-if="totalSize > 25" class="page">
            <a-pagination
                v-model="filterData.current"
                :defaultPageSize="defaultPageSize"
                :item-render="itemRender"
                :total="totalSize"
                class="pagination"
                @change="onChange"
            />
          </div>
        </div>
        <div v-else>
          <img :src="notFind" alt="" style="width: 100%;height: 100%;"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./Index.ts"></script>

<style lang="scss" scoped>
::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  text-align: left;
  background-color: #f2f6f8;
}

::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.rt {
  margin-right: 15px;
}

.page {
  position: relative;

  .filter-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 16px 25px;

    .filter-title {
      font-size: 16px;
      color: #909399;
    }

    .filter-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .filter-item {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 16px;

        .label-title {
          min-width: 120px;
          text-align: right;
          font-size: 14px;
          color: #666666;
        }

        .item-input {
          max-width: 360px;
        }

        .filter-input {
          width: 306px;
        }

        .filter-btn {
          width: 86px;
          height: 36px;
          line-height: 36px;
        }

        .isSelect {
          background-color: rgba($color: #3b68e7, $alpha: 0.1);
          color: #3b68e7;
          border-color: #3b68e7;
        }

        .have-margin {
          margin-right: 24px;
        }
      }
    }

    .operate-btns {
      margin-left: 120px;
    }
  }

  .table-content {
    .page {
      margin-top: 25px;
      height: 100px;

      .pagination {
        float: right;
      }
    }

    background-color: #ffffff;
    padding: 24px;
    height: 100%;
    margin-top: 28px;
    border-radius: 4px;

    .table-content-explainText {
      width: 100%;

      .table-content-title {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }

      .text {
        min-height: 90px;
        padding-top: 15px;
        font-size: 12px;
        color: #ddd;

        .explainText {
          float: right;

          p {
            margin: 0;
          }

          .table-content-explainText-text {
            font-size: 12px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
</style>
