<template>
  <div class="shared-page">
    <!-- <block-data
      :imageWidth="'100%'"
      :imageHeight="'100%'"
      :imageSrc="imageSrc"
      :text="''"
      :titleText="''"
    ></block-data> -->
    <div class="shared-filter" id="sharedFilter">
      <div class="filter-item">
        <div class="filter-label">区域：</div>
        <a-select
          :getPopupContainer="getPopupContainer"
          allow-clear
          @change="selectArea"
          style="width: 305px"
          v-model="area"
          placeholder="请选择查询区域"
        >
          <a-option
            v-for="item in areaOptions"
            :key="item.value"
            :value="item.value"
            :disabled="item.disabled"
            >{{ item.label }}</a-option
          >
        </a-select>
      </div>
      <div class="filter-item">
        <div class="filter-label">资质：</div>
        <tree-checkbox-single-select
          v-model="qualifications"
          class="auto-width"
          containerId="sharedFilter"
          :designQualificationOptions="designQualificationOptions"
          :fakeQualification="fakeQualification"
          :qualificationOptions="qualificationOptions"
        ></tree-checkbox-single-select>
        <!-- <a-tree-select
          :getPopupContainer="getPopupContainer"
          @change="selectQualification"
          v-model="qualifications"
          :treeDefaultExpandedKeys="defaultExpend"
          :treeExpandedKeys="defaultExpend"
          allow-clear
          labelInValue
          showSearch
          class="auto-width"
          treeNodeFilterProp="label"
          treeNodeLabelProp="label"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          placeholder="请输入选择资质"
        >


          <a-tree-select-node
            v-for="qua in qualificationOptions"
            :key="qua.key"
            :value="qua.value"
            :selectable="false"
            :checkable="false"
            :label="qua.label"
            :title="qua.title"
          >
            <a-tree-select-node
              v-for="children in qua.children"
              :key="children.key"
              :value="children.value"
              :disabled="children.disabled"
              :label="children.label"
              :title="children.title"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select> -->
      </div>
      <div class="filter-item">
        <div class="filter-label">资质状态：</div>
        <div>
          <!-- <a-checkbox-group
            @change="selectQualificationStatus"
            v-model="qualificationStatus"
          > -->
          <a-checkbox
            @change="selectQualificationStatus(0)"
            :checked="qualificationStatus === 0"
            >现货</a-checkbox
          >
          <a-checkbox
            @change="selectQualificationStatus(1)"
            :checked="qualificationStatus === 1"
            >预售</a-checkbox
          >
          <!-- </a-checkbox-group> -->
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-label">更多特性：</div>
        <div>
          <a-checkbox-group v-model="other">
            <a-checkbox
              :value="item.value"
              v-for="(item, key) in otherOptions"
              :key="key"
            >
              {{ item.label }}
            </a-checkbox>
          </a-checkbox-group>
        </div>
      </div>
      <div class="filter-item">
        <a-button class="large-button" @click="clickFindBtn" type="primary">
          查询
        </a-button>
        <a-button class="large-button" @click="e => reSetFilter(false)">
          重置
        </a-button>
        <a-button
          @click="goToSellQualification"
          class="large-button rt-abs-button"
          >我要出售资源</a-button
        >
      </div>
    </div>

    <div class="table-content">
      <div class="loading" v-show="dataLoading">
        <a-spin size="large" tip="加载中......" />
      </div>
      <!-- <div class="free-count-info" v-if="isAdmin">
        <span v-if="freeCount >= 0"
          >免费查看电话使用次数剩余：{{ freeCount }}次</span
        >
        <a-button @click="goToMyCertification" class="add-btn specical-btn"
          >我的发布</a-button
        >
      </div> -->
      <!-- <a-tabs v-model="channel" @change="selectChannel">
        <a-tab-pane
          v-for="item in tabOptions"
          :key="item.value"
          :tab="item.label"
        >
        </a-tab-pane>
      </a-tabs> -->
      <div class="flex w-full tabs-list">
        <div
          :class="{
            tabSelected: item.value === channel,
            normalTab: item.value !== channel
          }"
          @click="selectChannel(item.value)"
          class="text-[16px] cursor-pointer mr-[32px] pb-[21px] w-[fit-content] "
          v-for="item in tabOptions"
          :key="item.value"
        >
          {{ item.label }}
        </div>
      </div>
      <div class="qr-tools">
        <div class="tips buy-tips">
          小牛建讯为您查询出
          <span class=" text-textLight ">{{ total }}</span>
          个符合条件的资质
        </div>
        <div class="sort-tool">
          <div
            class="tools"
            @click="changeSortRule(0)"
            :class="{ selected: sortIndex === 0 }"
          >
            默认排序
          </div>
          <div class="dividing-line"></div>
          <div
            class="tools"
            @click="changeSortRule(1)"
            :class="{ selected: sortIndex === 1 }"
          >
            最新
          </div>
        </div>
      </div>
      <hr class="line" />
      <div v-if="tableData.length" style="min-height:200px">
        <div v-if="tableData[0].qualificationNameAndLevel">
          <table-item
            :freeCount="freeCount"
            v-for="(item, index) in tableData"
            @refreshList="getSharedList"
            :key="index"
            :index="index"
            :row="item"
          ></table-item>
        </div>
        <div v-if="total > 10" class="card-pagination">
          <a-pagination
            v-model="pageNum"
            @change="tableChange"
            @showSizeChange="tableChange"
            :showTotal="paginationShowTotal"
            :showSizeChanger="false"
            :showQuickJumper="true"
            :pageSize.sync="pageSize"
            :total="total"
          ></a-pagination>
          <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
        </div>
      </div>
      <div class="quickly-buy flex flex-col items-center" v-else>
        <div
          class="w-[800px] edit-content py-[60px] px-[100px]  border-solid border-[1px] border-bgLight"
        >
          <div class="block-title">没有您想要的资质？</div>
          <div class="tips">
            发布求购后有符合条件的资质上架将短信/消息通知您
          </div>
          <edit-buy-info :isFromTable="true"></edit-buy-info>
        </div>
      </div>
      <!-- <div class="tips">
        发布资源数据说明：<br />
        1.“发布资源”列表中的资源由小牛建讯用户自主上传，经审核过滤掉高风险（指企业有失信被执行信息）企业的数据。<br />
        2. “发布资源”列表中展示的电话号码均已短信验证，确保联系方式真实有效。
      </div> -->
    </div>

    <a-drawer
      @close="closeCompanyDetailDrawer"
      :closable="false"
      :visible="companyDetailDrawerDisplay"
      width="840"
    >
      <!-- <detail-index
        ref="companyDrawer"
        @detailReceive="receiveThisItem"
        :otherInfo="companyDetail"
        :isFromClient="false"
      ></detail-index> -->
    </a-drawer>
    <qr-modal ref="qr" :url="qrCode"></qr-modal>

    <qr-bottom></qr-bottom>
  </div>
</template>

<script>
import blockData from '@/components/BlockData.vue'
import {
  TreeSelect,
  Drawer,
  Pagination,
  Select,
  Radio,
  Checkbox,
  Tabs,
  Spin
} from 'ant-design-vue'
import developmenting from '@/assets/image/developmenting2X.png'
import { userModule } from '@/store/modules/user'
import qrModal from '@/components/qrCode.vue'
import notFind from '@/assets/image/no_data_block.png'
import TableItem from './TableItem.vue'
import editBuyInfo from '../Buy/Edit.vue'
import TreeCheckboxSingleSelect from '@/components/TreeCheckboxSingleSelect.vue'
import { universalModule } from '@/store/modules/universal'
import qrBottom from '../Bottom.vue'
import { areaJSON } from '@/utils/area'
// import DetailIndex from '../Detail/Index.vue'

export default {
  name: 'shared',
  components: {
    blockData,
    qrModal,
    aPagination: Pagination,
    aDrawer: Drawer,
    aSpin: Spin,
    TableItem,
    aSelect: Select,
    aCheckbox: Checkbox,
    aCheckboxGroup: Checkbox.Group,
    aRadio: Radio,
    aRadioGroup: Radio.Group,
    aOption: Select.Option,
    aTabs: Tabs,
    aTabPane: Tabs.TabPane,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    editBuyInfo,
    TreeCheckboxSingleSelect,
    qrBottom
  },
  data() {
    return {
      qualificationStatus: '',
      channel: 0,
      tabOptions: [
        { value: 0, label: '快速发布' },
        { value: 1, label: '小牛优选' },
        { value: 2, label: '平台自营' }
      ],
      sortIndex: 0,
      notFind,
      qrCode: '',
      dataLoading: false,
      otherOptions: [
        { label: '财务纠纷', value: 'isFinanceDispute' },
        { label: '法律纠纷', value: 'isLawDispute' },
        { label: '行政处罚记录', value: 'isPoliticsPenalize' },
        { label: '在建工程', value: 'isBuildingProject' },
        { label: '挂靠人员', value: 'isHangingClose' },
        { label: '安全生产许可证', value: 'isSecurityLicence' },
        { label: '包函', value: 'isNeedLetter' },
        { label: '不可控股', value: 'isHoldingCompany' }
      ],
      other: ['isNeedLetter'],
      companyDetail: {},
      companyDetailDrawerDisplay: false,
      qualifications: undefined,
      defaultExpend: [],
      areaOptions: [],
      areaData: [],
      // qualificationOptions: [],
      // fakeQualification: [],
      area: undefined,
      areaCode: [],
      lastFilterSave: null,
      imageSrc: developmenting,
      SHOW_PARENT: TreeSelect.SHOW_PARENT,
      pageSize: 10,
      pageNum: 1,
      total: 0,
      freeCount: 0,
      tableData: [{}],
      isHaveSelfList: false
    }
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    }
  },
  methods: {
    goToSellQualification() {
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1'
          // from: this.$route.name,
        }
      })
    },
    selectQualificationStatus(status) {
      if (this.qualificationStatus === status) {
        this.qualificationStatus = ''
      } else {
        this.qualificationStatus = status
      }
    },
    selectChannel(channel) {
      this.channel = channel
      this.pageNum = 1
      this.getSharedList()
    },
    changeSortRule(index) {
      this.sortIndex = index
      this.getSharedList()
    },
    getPopupContainer() {
      return document.getElementById('sharedFilter')
    },
    goToMyCertification() {
      if (this.isHaveSelfList) {
        this.$router.push({
          name: 'resources'
        })
      } else {
        this.$router.push({
          name: 'certification',
          query: {
            isEdit: 1,
            isFromTable: 1
          }
        })
      }
    },
    goToEditCertification() {
      this.$router.push({
        name: 'editBuyingInfo',
        query: {
          isFromShareTable: 1
        }
      })
    },
    tableChange(pageNum, pageSize) {
      this.pageSize = pageSize
      this.pageNum = pageNum
      this.$emit('goBackToTop')
      this.getSharedList()
    },
    paginationShowTotal(total) {
      return ''
      // `共${total}条数据`
    },
    showShareQrCode(item) {
      if (item.isHidden) {
        return
      }
      this.$httpRequester
        .get('enterpriseClue/shareEnterpriseTime', {
          enterpriseId: item.enterpriseId,
          userId: userModule.userId
        })
        .then(res => {
          const href = window.location.href
          const find = href.indexOf('#')
          const host = href.substr(0, find + 1)
          const currentDate = new Date().getTime()
          // encodeURIComponent(
          const link =
            VUE_APP_TYPE === 'online'
              ? 'http://www.xnjx666.com:9000/index.html#'
              : host
          const pageUrl = `${link}/enterprise/share?enterpriseId=${item.enterpriseId}&dateTime=${currentDate}&uuid=${res}`
          // )
          const url =
            'http://www.xnjx666.com/shareIframe.html?src=' +
            encodeURIComponent(pageUrl)
          this.qrCode = url
          this.$refs.qr.showModal()
        })
    },
    selectQualification(val) {
      // console.log(val)
      // this.getSharedList()
    },
    closeCompanyDetailDrawer() {
      this.companyDetailDrawerDisplay = false
    },
    // goToCompanyDetail(row) {
    //   if (row.isHidden || !row.haveReceive) {
    //     return
    //   } else {
    //     // console.log('no hidden')
    //     this.companyDetail = row
    //     this.companyDetailDrawerDisplay = true
    //     detailModule.setEnterpriseInfo(row)
    //     this.$nextTick(() => {
    //       this.$refs.companyDrawer.setBasicInfo()
    //     })
    //   }
    // },
    selectArea(value) {
      this.areaCode = []
      if (value) {
        this.areaData.forEach(e => {
          if (value === e.areaCode) {
            // console.log(e)
            this.areaCode = e.cityList.map(c => {
              return c.areaCode
            })
            this.areaCode.push(value)
          }
        })
      }
    },
    clickFindBtn() {
      this.pageSize = 10
      this.pageNum = 1
      // pageSize: this.pageSize,
      // this.setFilterToServer()
      this.getSharedList()
    },
    setFilterToServer() {
      // if (!this.qualifications && !this.area) {
      //   this.$message.warning('请选择筛选条件后再查询!')
      //   return
      // }
      const params = {
        filterCondition: JSON.stringify({
          area: this.area,
          other: this.other,
          qualifications: this.qualifications
        }),
        companyId: userModule.companyId || 1, // todo:测试数据
        saveUserName: userModule.name,
        saveUserId: userModule.userId,
        conditionName: userModule.name + '共享数据'
      }
      if (this.lastFilterSave) {
        params.id = this.lastFilterSave.id
        this.$httpRequester.put('filter/shared', params).then(() => {
          console.log('更新成功')
        })
      } else {
        this.$httpRequester.post('filter/shared', params).then(() => {
          console.log('保存成功')
        })
      }
      this.getSharedList()
    },
    notFilter() {
      return false
    },
    setFilterToFindList() {
      this.getSharedList()
    },
    reSetFilter() {
      this.areaCode = []
      this.area = undefined
      this.other = ['isNeedLetter']
      this.qualifications = undefined
      this.qualificationStatus = ''
      // console.log('reset')
    },
    getTypeQualifications() {
      this.qualificationOptions = []
      this.$httpRequester
        .get('qualification/selQualificationAllByType')
        .then(r => {
          const qualificationOptions = r.map((e, i) => {
            return {
              title: e.qualificationType,
              key: i,
              isExpend: i === 0,
              children: e.qualificationList.map(q => {
                return {
                  title: q.qualificationName,
                  key: q.qualificationName,
                  // checkable: true,
                  children: q.qualificationLevels.map(level => {
                    return {
                      id: level.id,
                      title: level.level,
                      disabled: false
                    }
                  }),
                  value: []
                }
              })
            }
          })
          this.qualificationOptions = this.$deepCopy(qualificationOptions)
          // this.getQualificationOptions()
          // const typeList = this.$deepCopy(tqualificationOptions)
          userModule.setQualificationTypeList(qualificationOptions)
          // this.getFilterGroup() // 先拉取选项再进行赋值
        })
    },
    getQalicationList() {
      // 获取资质列表
      this.fakeQualification = []
      this.$httpRequester.get('qualification/selQualificationAll').then(r => {
        r.forEach(e => {
          e.qualificationLevels.forEach(q => {
            this.fakeQualification.push({
              label: e.qualificationName + q.level,
              value: q.id
            })
          })
        })
        const typeList = this.$deepCopy(this.fakeQualification)
        userModule.setFakeQualificationList(typeList)
        this.getTypeQualifications()
        // r.forEach((e, i) => {
        //   this.defaultExpend.push(e.qualificationName + i)
        //   this.qualificationOptions.push({
        //     title: e.qualificationName,
        //     label: e.qualificationName,
        //     value: e.qualificationName + i,
        //     key: e.qualificationName + i,
        //     selectable: false,
        //     checkable: false,
        //     children: e.qualificationLevels.map((q) => {
        //       return {
        //         selectable: true,
        //         checkable: true,
        //         disabled: false,
        //         label: e.qualificationName + q.level,
        //         title: q.level,
        //         value: q.id,
        //         key: q.id,
        //       }
        //     }),
        //   })
        // })
        // const qua = this.$deepCopy(this.qualificationOptions)
        // userModule.setQualificationOptions(qua)
        //  this.getFilterGroup() // 先拉取选项再进行赋值
      })
    },
    setDefaultExpendKey() {
      this.qualificationOptions.forEach(e => {
        this.defaultExpend.push(e.key)
      })
    },
    getFilterCondition() {
      this.$httpRequester
        .get('filter/shared/queryConditionByPage', {
          page: 1,
          rows: 1,
          sortBy: 'saveTime',
          desc: true,
          userId: userModule.userId,
          companyId: userModule.companyId
        })
        .then(res => {
          // console.log(res.records)
          if (res.records.length) {
            this.lastFilterSave = res.records[0]
          }
          this.getAreaOptions()
        })
    },
    getAreaOptions() {
      const r = areaJSON
      // this.$httpRequester.get('regionCode/selList').then(r => {
      this.areaOptions = []
      this.areaData = r
      const gangAoTai = [810000, 820000, 710000]
      // 去除港澳台
      r.forEach(option => {
        if (gangAoTai.includes(option.areaCode)) {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: true
          })
        } else {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: false
          })
        }
      })
      const shareQua = localStorage.getItem('shareQua')
      const localChannel = localStorage.getItem('channel')
      if (localChannel) {
        this.qualifications = undefined
        this.area = undefined
        this.channel = parseInt(localChannel, 10)
        localStorage.removeItem('channel')
        this.getSharedList()
        // this.setFilterToServer()   不需要保存数据了
      } else if (shareQua) {
        const localQua = JSON.parse(shareQua).value
        this.$nextTick(() => {
          this.qualifications = parseInt(localQua, 10)
          // console.log(this.qualifications)
          localStorage.removeItem('shareQua')
          this.getSharedList()
        })

        // this.setFilterToServer()
        // this.setFilterToServer()
      } else {
        this.getSharedList()
      }
      // else {
      //   if (!this.lastFilterSave) {
      //     const userArea = userModule.useAreaName.split('/')
      //     const findProvince = r.find((e) => {
      //       return e.areaName === userArea[0]
      //     }) // 找到省份
      //     // console.log(findProvince)
      //     if (findProvince) {
      //       this.area = parseInt(findProvince.areaCode, 10)
      //     }
      //   } else {
      //     const filter = JSON.parse(this.lastFilterSave.filterCondition)
      //     this.area = filter.area ? parseInt(filter.area, 10) : undefined
      //     this.qualifications = filter.qualifications || null
      //     this.other = filter.other || []
      //   }
      //   const p = new Promise((resolve) => {
      //     this.selectArea(this.area)
      //     resolve(this.areaCode)
      //   })
      //   p.then(() => {
      //     this.getSharedList()
      //   })
      // }
      // })
    },
    getSharedList() {
      // console.log(this.qualifications)
      this.dataLoading = true
      const other = {}
      this.other.forEach(e => {
        other[e] = true
      })
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        ...other,
        sortType: this.sortIndex,
        areaCodes: this.areaCode,
        channel: this.channel,
        // channel: this.channel > 0 ? this.channel : undefined,
        companyId: userModule.companyId,
        quelificationStatus: this.qualificationStatus,
        qualification: this.qualifications ? [this.qualifications] : []
      }
      this.$httpRequester.post('shared/query', params).then(res => {
        this.tableData = res.data
        res.data.forEach((r, i) => {
          r.number = i + 1
          r.qualificationsList = ['']
          r.qualificationsText = r.enterpriseName
          r.establishmentDate = 'no'
          r.companyNameHTML = r.qualificationName

          // r.region = r.areaName
          r.specialText = ' '
          r.notShowQrcode = true
          r.haveReceive = r.checkState === 1

          r.phoneNumDisplay =
            '<span ondblclick="copyThisText(' +
            r.contactsPhone +
            ')" >' +
            r.contactsPhone +
            '</span>'

          r.riskLevel = -1
          r.updateTime = this.$moment(r.updateTime).format('yyyy-MM-DD')
          r.releaseTime = this.$moment(r.releaseTime).format('yyyy-MM-DD')
        })
        this.dataLoading = false
        this.getFreeQueryCount()
        this.total = res.totalSize || 0
      })
    },
    getFreeQueryCount() {
      this.$httpRequester.get('free/count/querySharedCheckCount').then(res => {
        this.freeCount = res ? res.freeCount : 0
      })
    },
    getSelfSharedList() {
      const params = {
        currentPage: 1,
        pageSize: 1
      }
      this.$httpRequester
        .get('shared/list', params, 'application/x-www-form-urlencoded')
        .then(res => {
          this.isHaveSelfList = res ? !!res.totalSize : false
        })
    }
  },
  mounted() {
    // console.log(userModule.qualificationTreeList)
    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      universalModule.getTypeQualification()
      universalModule.getQualification()
    }
    // if (userModule.qualificationTreeList.length) {
    //   this.qualificationOptions = userModule.qualificationTreeList
    //   this.setDefaultExpendKey()
    // } else {
    //   this.getQalicationList()
    // }
    // this.getFilterCondition()
    if (this.isAdmin) {
      this.getSelfSharedList()
    }
    this.getAreaOptions()
    //
    this.$nextTick(() => {
      this.$emit('goBackToTop')
    })
    // this.getSharedList()
    // this.$nextTick(() => {
    //   // const dom = document.getElementById('areaTree')
    //   // const areaTreeInput = dom.getElementsByTagName('input')[0]
    //   // const areaTreeFather = areaTreeInput.parentElement
    //   // areaTreeFather.removeChild(areaTreeInput)

    //   // this.getAreaOptions()
    // })
  }
}
</script>

<style lang="scss" scoped>
.shared-page {
  // padding-top: 60px;
  // height: 50vh;
  // border-radius: 0 0 6px 6px;
  overflow: hidden;
  // background-color: #ffffff !important;
  .line {
    width: 100%;
    margin-top: 15px;
    border-right: none;
    border-left: none;
    border-bottom: 0;
    margin-bottom: 0;
    height: 1px;
    border-top: solid 1px #f2f6f8;
  }
  .shared-filter {
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 24px 24px 8px 24px;
    position: relative;
    .search-title {
      color: #909399;
      font-size: 16px;
    }
    .advanced-btns {
      margin-left: 25px;
      position: relative;
      // position: absolute;
      right: 25px;
    }
    .filter-item {
      display: flex;
      width: 100%;
      margin-bottom: 16px;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      .filter-label {
        font-size: 14px;
        color: #232323;
        width: 80px;
      }
      .long-label {
        width: 100px;
      }
      .filter-search {
        width: 306px;
        margin-right: 24px;
      }
      .auto-width {
        flex-grow: 0;
        margin-right: 24px;
        min-width: 306px;
        //  max-width: calc(100% - 330px);
      }
      .short-filter {
        width: 266px;
      }
      .number-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .have-margin {
          margin: 0 10px;
        }
      }
      .type-radio {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        width: 180px;
        .group {
          margin-right: 5px;
        }
        .radio-tips {
          margin-bottom: 0;
          font-size: 13px;
          color: #909399;
        }
      }
      .large-button {
        width: 88px;
        margin-right: 16px;
      }
      .rt-abs-button {
        position: absolute;
        right: 0px;
        width: 116px;
      }
    }

    .collapse-expend {
      position: absolute;
      font-size: 14px;
      cursor: pointer;
      right: 25px;
      bottom: 10px;
      color: #4d7cfe;
    }
  }

  .table-content {
    // padding: 16px 24px;
    background-color: #ffffff;
    border-radius: 2px;
    .free-count-info {
      margin-top: 10px;
      // margin-top: 12px;
      padding: 10px 21px;
      border: solid 1px #f2f6f8;
      background-color: #f2f6f8;
      position: relative;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .add-btn {
        position: absolute;
        right: 21px;
      }
    }
    .tabs-list {
      border-bottom: 1px #eff3f6 solid;
      .tabSelected {
        color: #00ab94;
        border-bottom: 3px solid #00ab94;
      }
      .normalTab {
        color: #686868;
        border-bottom: 3px solid transparent;
      }
    }
  }
  .qr-tools {
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
    .sort-tool {
      position: absolute;
      top: 0px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 110px;
      .dividing-line {
        height: 15px;
        background-color: #f2f6f8;
        width: 1px;
      }
      .tools {
        cursor: pointer;
        color: #a0a6ab;
        &:hover {
          color: #00ab94;
        }
      }
      .selected {
        color: #00ab94;
      }
    }
  }
  .quickly-buy {
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #f2f6f8;
    border-top-color: transparent;
    padding: 24px;
    border-radius: 2px;
    .edit-content {
      box-shadow: 0 0 4px 1px #f2f6f8;
    }
    .block-title {
      font-size: 16px;
      color: #282828;
      // margin-top: 20px;
      margin-bottom: 2px;
      // margin-top: 80px;
      text-align: center;
      font-weight: 500;
    }
    .tips {
      font-size: 12px;
      text-align: center;
    }
  }
  .card-pagination {
    width: 100%;
    // text-align: right;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .fake-btn {
      margin-left: 8px;
    }
  }
  .process {
    width: 100%;
    background-size: cover;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 16px;
    border-radius: 2px;
    overflow: hidden;
  }
}
</style>
