<template>
  <div class="buying-table-item">
    <div class="lf">
      <div class="is-new" v-if="row.isNewest">新上架</div>
      <div class="qua-image" :style="'background-image:url(' + quaImage + ')'">
        <!-- <div class="image" :style="'background-image:url(' + qrBg + ')'"></div> -->
        <!-- <p>{{ index + 1 }}</p> -->
      </div>
      <div class="info">
        <div class="qualification">
          {{ row.qualificationNameAndLevel }}
          <!-- <a-tag class="channel-tag" color="cyan" v-if="row.channel === 1"
            >小牛优选</a-tag
          > -->
          <img
            :src="good"
            class="w-[20px] h-[22px] ml-[12px]"
            v-if="row.channel === 1"
          />
          <a-tag class="channel-tag" color="purple" v-if="row.channel === 2"
            >平台自营</a-tag
          >
          <a-tag
            class="channel-tag"
            color="green"
            v-if="row.quelificationStatus === 0"
            >现货</a-tag
          >
          <a-tag
            class="channel-tag"
            color="cyan"
            v-if="row.quelificationStatus === 1"
            >预售</a-tag
          >
        </div>
        <div class="area-effect relative">
          <div class="info-item">地区：{{ row.areaName || '不限' }}</div>
          <div class="line" v-if="row.effectiveDate"></div>
          <div class="info-item" v-if="row.effectiveDate">
            有效期至{{ row.effectiveDate }}
          </div>
          <div class="text-[14px] text-textLight absolute right-[-20px]">
            发布日期：{{ row.releaseTime }}
          </div>
        </div>
        <div class="other-list">
          <div class="other-item" v-for="(item, key) in otherList" :key="key">
            <div class="label">{{ item.label }}</div>
            <div
              class="value"
              v-if="item.value !== 'isHoldingCompany' && item.value !== 'price'"
            >
              {{ row.authenFeatureVO[item.value] ? '有' : '无' }}
            </div>
            <div class="value" v-if="item.value === 'isHoldingCompany'">
              {{ row.authenFeatureVO[item.value] ? '有' : '无' }}
            </div>
            <div
              class="value"
              v-if="item.value === 'price'"
              style="color: #dc0000;"
            >
              面议
            </div>
          </div>
        </div>

        <div class="rt">
          <!-- <div class="submit-time">发布日期：{{ row.releaseTime }}</div> -->
          <div class="contact flex items-center">
            <div class="person line mr-[13px]">
              联系人：{{ row.contactsPerson }}
            </div>
            <a-tooltip
              v-if="row.checkState"
              title="双击可复制电话号码"
              trigger="hover"
            >
              <div class="phone line">
                电话：
                <span
                  @dblclick="dblCopy"
                  class=" text-textPrimary"
                  v-html="row.phoneNumDisplay"
                ></span>
              </div>
            </a-tooltip>
            <div class="phone line" v-else>
              电话：
              <span class=" text-textPrimary">***********</span>
            </div>
          </div>
          <div class="flex items-center">
            <div class="phone-tips mr-[8px]">
              手机号经短信校验属实
            </div>
            <a-button
              @click="watchThisPhone"
              class="btns"
              size="small"
              :disabled="row.checkState"
              type="primary"
              >查看电话</a-button
            >
          </div>
        </div>
        <!-- <div class="other">
          <div class="area-date">地区：{{ row.areaName || '不限' }}</div>
          <div class="area-date">企业风险：{{ row.riskInfo || '暂无' }}</div>
          <div class="area-date">其他：{{ row.otherInfo || '---' }}</div>
          <div class="area-date">发布时间：{{ row.releaseTime }}</div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { Tooltip, Tag } from 'ant-design-vue'
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'
import quaImage from '@/assets/image/qr/qua_image.png'
import good from '@/assets/image/qr/icon/good.png'

export default {
  name: 'table-item',
  components: {
    aTooltip: Tooltip,
    aTag: Tag
  },
  data() {
    return {
      quaImage,
      good,
      otherList: [
        { label: '财务纠纷', value: 'isFinanceDispute' },
        { label: '法律纠纷', value: 'isLawDispute' },
        { label: '行政处罚记录', value: 'isPoliticsPenalize' },
        { label: '在建工程', value: 'isBuildingProject' },
        { label: '挂靠人员', value: 'isHangingClose' },
        { label: '安全生产许可证', value: 'isSecurityLicence' },
        { label: '包函', value: 'isNeedLetter' },
        { label: '不可控股', value: 'isHoldingCompany' },
        { label: '价格', value: 'price' }
      ]
    }
  },
  props: {
    freeCount: {
      type: Number,
      default: 0
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    },
    index: {
      type: Number,
      default: 0
    }
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    }
  },
  methods: {
    dblCopy() {
      this.$message.success('电话号码已复制到粘贴板')
    },
    watchThisPhone() {
      // if (this.freeCount === 0) {
      //   this.$message.warning('您的免费次数已使用完毕，请联系客服人员增加次数')
      //   return
      // }
      this.$httpRequester
        .get('shared/phone/view', { id: this.row.id })
        .then(() => {
          this.$emit('refreshList')
        })
        .catch(err => {
          if (err.code === '5010') {
            this.$message.warn('出售与求购相关使用次数已用完')
            // detailModule.setWatchPhoneModalShow(true)
          } else if (err.code === '5013') {
            detailModule.setGoToVipModalShow(true)
          }
        })
    }
  }
}
</script>
<style lang="scss" scoped>
.buying-table-item {
  min-height: 200px;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  // display: flex;
  // align-items: flex-end;
  // justify-content: space-between;
  border-bottom: solid 1px #eff3f6;
  border-left: solid 1px #eff3f6;
  border-right: solid 1px #eff3f6;
  .lf {
    width: 100%;
    position: relative;
    align-items: flex-start;
    display: flex;
    .is-new {
      width: 52px;
      height: 22px;
      background-color: #00ab94;
      text-align: center;
      line-height: 22px;
      font-size: 12px;
      color: #fff;
      position: absolute;
      left: -24px;
      top: -24px;
      z-index: 100;
    }
    .qua-image {
      z-index: 99;
      width: 104px;
      height: 144px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      // background-color: #4d7cfe;
      position: relative;
      margin-right: 16px;
      flex-grow: 0;
      overflow: hidden;
      .image {
        width: 175px;
        height: 218px;
        background-size: cover;
        position: absolute;
        right: -55px;
        bottom: -70px;
      }
    }

    .info {
      flex-grow: 1;
      .qualification {
        font-size: 16px;
        color: #282828;
        position: relative;
        display: flex;
        font-weight: 500;
        align-items: center;
        //   cursor: pointer;
        margin-bottom: 4px;
        .channel-tag {
          margin-left: 10px;
        }
        // .excellent {
        // }
        // .platform {
        // }
      }
      .area-effect {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        flex-shrink: 0;
        font-size: 14px;
        color: #686868;
        justify-content: flex-start;
        div {
          width: fit-content;
          margin-right: 20px;
        }
        .line {
          width: 1px;
          height: 16px;
          flex-shrink: 0;
          background-color: #ddd;
        }
      }
      .other-list {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: flex-start;
        .other-item {
          width: fit-content;
          padding: 0 16px 0 10px;
          font-size: 14px;
          margin-right: 5px;
          text-align: center;
          border-right: solid 1px #ddd;
          .value {
            margin-top: 4px;
            font-size: 12px;
          }
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
      .area-date {
        font-size: 13px;
        margin-bottom: 4px;
        color: #8e8e90;
      }
    }
  }
  .rt {
    // margin-bottom: 20px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .submit-time {
      position: absolute;
      color: #8e8e90;
      text-align: right;
      top: -80px;
      right: 0;
      width: 200px;
    }
    .line {
      font-size: 14px;
    }
    .btns {
      text-align: right;
      width: 72px;
    }
    .phone-tips {
      font-size: 12px;
      color: #a0a6ab;
    }
  }
}
</style>
