<template>
    <div class="detail">
        <div
            @click="closeDetailDrawer"
            class="text-sysPrimary px-[24px] pt-[24px] pb-[16px] text-[16px] flex items-center cursor-pointer"
            >
            <a-icon type="import" class="mr-[4px]" />
            返回
        </div>
        <div class="title">
            <p>审核状态</p>
        </div>
        <div class="steps-box">
            <a-steps progress-dot :current="current">
                <a-step title="提交审核" status="" description="" />
                <a-step title="审核中" status="" description="" />
                <a-step v-if="detail.status > 1" title="审核失败" status="error" :description="detail.remarks" />
                <a-step v-else title="审核成功" />
            </a-steps>
        </div>
        <div class="title">
            <p>资质详情</p>
        </div>
        <div class="main main-table">
            <ul class="list">
                <li class="item">
                    <div class="title">资质类型</div>
                    <div class="value">
                        <a-popover v-if="detail.qualificationTextListText && detail.qualificationTextListText.length >= 8 && detail.itemsInfoList.length != 1" trigger="hover">
                            <template slot="content">
                                <div style="max-width: 600px">
                                    {{ detail.qualificationTextListText || '' }}
                                </div>
                            </template>
                            <div class="popover-text">
                                {{ detail.qualificationTextListText && detail.qualificationTextListText.substr(0, 8)  || '' }} <span>{{ '...等' + detail.itemsInfoList.length + '个资质' }}</span>
                            </div>
                        </a-popover>
                        <span v-else>
                            {{ detail.qualificationTextListText || '' }}
                        </span>
                    </div>
                </li>
                <li class="item">
                    <div class="title">剥离方式</div>
                    <div class="value">{{ detail.shipmentType == 1 ? "整转" : '分立' }}</div>
                </li>
                <li class="item">
                    <div class="title">注册地区</div>
                    <div class="value">{{ detail.areaName || '' }}</div>
                </li>
                <li class="item">
                    <div class="title">落地地区</div>
                    <div class="value">{{ detail.inAreaName || '' }}</div>
                </li>
                <li class="item">
                    <div class="title">更多特性</div>
                    <div class="value">
                        {{ detail.authenFeatureVO && detail.authenFeatureVO.isNeedLetter ? '包函' : '' }}
                        {{ detail.authenFeatureVO && !detail.authenFeatureVO.isHoldingCompany ? '可被控股' : '' }}
                    </div>
                </li>
                <li class="item">
                    <div class="title">企业名称</div>
                    <div class="value">{{ detail.enterpriseName || '' }}</div>
                </li>
                <li class="item">
                    <div class="title">证书有限期</div>
                    <div class="value">{{ effectiveDate || '' }}</div>
                </li>
                <li class="item">
                    <div class="title">发布时间</div>
                    <div class="value">{{ detail.createTime || '' }}</div>
                </li>
                <li class="item">
                    <div class="title">资质证书</div>
                    <div class="value image-box">
                        <img :src="detail.itemsImageUrlList && detail.itemsImageUrlList[0].upLoadImageUrl" mode="" />
                        <p v-if="detail.itemsImageUrlList && detail.itemsImageUrlList[0].upLoadImageUrl" @click="showImagePreview(detail.itemsImageUrlList[0].upLoadImageUrl, '资质证书')">点击查看大图</p>
                    </div>
                </li>
                <li class="item">
                    <div class="title">营业执照</div>
                    <div class="value image-box">
                        <img :src="detail.businessLicenseUrl" mode="" />
                        <p v-if="detail.businessLicenseUrl" @click="showImagePreview(detail.businessLicenseUrl, '营业执照')">点击查看大图</p>
                    </div>
                </li>
                <li class="item item-flex-1">
                    <div class="title">付款方式</div>
                    <div class="value" style="white-space: pre">{{ detail.paymentMethod || '无' }}</div>
                </li>
                <li class="item item-flex-1">
                    <div class="title">特别说明</div>
                    <div class="value" style="white-space: pre">{{ detail.showDescribe || '无' }}</div>
                </li>
            </ul>
        </div>
        <div class="title">
            <p>联系方式</p>
        </div>
        <div class="main">
            <a-table
                :columns="historyColumns"
                :data-source="historyTableData"
                :pagination="false"
                class="resources-table"
                rowKey="id"
                bordered
            >
            </a-table>
        </div>
        <image-preview-modal :showPriview="showPriview" :title="priviewTitle" :imageUrl="priviewUrl" @closePrview="closePrview"></image-preview-modal>
    </div>
</template>

<script>
import { Steps, Table, Modal, Popover } from 'ant-design-vue'
import { universalModule } from '@/store/modules/universal'
import { userModule } from '@/store/modules/user'
import formType from '@/components/Form/formType'
import failure from '@/assets/image/check/failure.png'
import pass from '@/assets/image/check/pass.png'
import ing from '@/assets/image/check/ing.png'
import imagePreviewModal from '@/components/ImagePreviewModal.vue'
export default {
    name: 'detail',
    props: {
        id: {
            type: Number
        },
        isCertification: {
            type: Number
        }
    },
    components: {
        imagePreviewModal,
        aPopover: Popover,
        aTable: Table,
        aSteps: Steps,
        aStep: Steps.Step
    },
    data(){
        return {
            historyColumns: [
                { title: '企业名称', dataIndex: 'enterprise' },
                { title: '姓名', dataIndex: 'name' },
                { title: '联系方式', dataIndex: 'phone' }
            ],

            statusImage: '',
            failure,
            pass,
            ing,
            detail: {},
            priviewUrl: '',
            priviewTitle: '',
            showPriview: false,
            showRefuse: false,
            effectiveDate: '',
            refuseRemark: '',
            other: [],
            formItems: [
                {
                    type: formType.TEXTAREA,
                    value: '',
                    label: '备注原因',
                    name: 'remarks',
                    placeholder: '请填写审核不通过原因',
                    validate: [
                        {
                        required: true,
                        trigger: 'blur',
                        message: '请填写审核不通过的原因'
                        }
                    ]
                }
            ],
            statusText: ['现货', '预售'],
            otherOptions: [
                { label: '财务纠纷', value: 'isFinanceDispute', isShow: false },
                { label: '法律纠纷', value: 'isLawDispute', isShow: false },
                { label: '行政处罚记录', value: 'isPoliticsPenalize', isShow: false },
                { label: '在建工程', value: 'isBuildingProject', isShow: false },
                { label: '挂靠人员', value: 'isHangingClose', isShow: false },
                { label: '安全生产许可证', value: 'isSecurityLicence', isShow: false },
                { label: '包函', value: 'isNeedLetter', isShow: false },
                { label: '不可控股', value: 'isHoldingCompany', isShow: false }
            ]
        }
    },
    computed: {
        historyTableData(){
            return [{
                id: 1,
                enterprise: this.detail.enterpriseName,
                name: this.detail.contactsPerson,
                phone: this.detail.contactsPhone
            }]
        },
        current(){
            return this.detail.status > 0 ? 2 : 1
        },
        isSuperAdmin() {
            return userModule.roleLevel === 1
        },
        areaOptions() {
            return universalModule.areaOptions
        }
  },
  methods: {
    closeDetailDrawer() {
      this.$emit('closeDetailDrawer')
    },
    reSend() {
        this.$router.push({
            name: 'excellentShare',
            query: {
                channel: '1',
                reSendId: this.id
            }
        })
    },
    confirmRefuse() {
        this.refuseRemark = ''
        this.showRefuse = true
    },
    closeModal() {
        this.showRefuse = false
    },
    confirmPass() {
        Modal.confirm({
            title: '审核成功',
            content:
            '审核成功之后，该企业添加的资质信息会展示在我的发布中，一旦审核通过不可撤销，请仔细审核用户上传的资质信息。',
            onOk: () => {
                this.passCertification()
            }
        })
    },
    passCertification() {
        const params = {
            status: 1,
            authenId: this.id
        }
        this.$httpRequester.post('authen/inspect', params).then(() => {
            this.$message.success('操作成功')
            this.getCompanyCertificationDetail()
        })
    },
    closePrview() {
        this.showPriview = false
        this.priviewUrl = ''
    },
    showImagePreview(url, title) {
        this.showPriview = true
        this.priviewUrl = url
        this.priviewTitle = title
    },
    backFrom() {
        if (this.$route.query.from) {
            this.$router.push({
                name: this.$route.query.from,
                query: {
                    pId: '4',
                    historyPage: this.$route.query.historyPage || '',
                    mySellPage: this.$route.query.mySellPage || '',
                    cePage: this.$route.query.cePage
                }
            })
        } else {
            this.$router.push({
                name: 'mySell',
                query: {
                    pId: '4'
                }
            })
        }
    },
    getCompanyCertificationDetail() {
        // console.log('getCompanyCertificationDetail')
        this.$httpRequester
            .get('authen/get/deteils', { id: this.id })
            .then(res => {
            this.detail = res
            this.detail.qualificationTextList = res.itemsInfoList.map(e => {
                return e.authenItemName
            })
            this.detail.qualificationTextListText = this.detail.qualificationTextList.join('，')
            const findArea = this.areaOptions.find(e => {
                return e.value === this.detail.areaCode
            })
            if (findArea) {
                this.detail.area = findArea.label
            }
            // 落地地区
            let findInarea = {}
            if (this.detail.inAreaCode === 0) {
                findInarea = { label: '全国', value: 0 }
            } else {
                findInarea = this.areaOptions.find(e => {
                return e.value === this.detail.inAreaCode
                })
            }
            if (findInarea) {
                this.detail.findInarea = findInarea.label
            }
            for (const key in res.authenFeatureVO) {
                this.otherOptions.forEach(o => {
                if (key === o.value) {
                    o.isShow = res.authenFeatureVO[key]
                }
                })
            }

            if (res.itemsImageUrlList) {
                res.itemsImageUrlList.forEach(i => {
                if (i.effectiveDate) this.effectiveDate = i.effectiveDate
                })
            }
            switch (res.status) {
                case 1:
                this.statusImage = pass
                break
                case 2:
                this.statusImage = failure
                break
                case 3:
                this.statusImage = failure
                break
                default:
                this.statusImage = ing
            }
            })
        }
    },
    async mounted() {
        await universalModule.setAreaOptions()
    },
    watch: {
        id() {
            this.getCompanyCertificationDetail()
        },
        areaOptions() {
            this.getCompanyCertificationDetail()
        }
    }
}
</script>

<style lang="less" scoped>
.detail{
    >.title{
        width: 100%;
        height: 54px;
        line-height: 54px;
        font-size: 16px;
        font-weight: bold;
        color: #282828;
        background: #F2F6F8;
        position: relative;
        padding: 0 24px;

        p{
            margin-left: 10px;
        }

        &::before{
            content: '';
            width: 6px;
            height: 16px;
            background: #00AB94;
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .steps-box{
        padding: 80px;
        display: flex;
        justify-content: center;
    }

    .main{
        margin: 24px;
    }

    .main-table{
        border-radius: 2px;
        overflow: hidden;
        border-top: 1px solid #F2F6F8;
        border-right: 1px solid #F2F6F8;
        .list{
            display: flex;
            flex-wrap: wrap;

            .item{
                width: 50%;
                display: flex;

                .title{
                    width: 136px;
                    padding: 12px 0;
                    background: #F2F6F8;
                    font-size: 14px;
                    font-weight: 500;
                    color: #282828;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .value{
                    width: 240px;
                    padding: 12px 16px;
                    box-shadow: inset 0px -1px 0px 0px #F2F6F8;
                    font-size: 14px;
                    font-weight: 400;
                    color: #686868;
                    box-sizing: border-box;

                    .popover-text{
                        span{
                            color: #2194FF;
                        }
                    }
                }

                .image-box{
                    display: flex;
                    align-items: flex-end;
                    
                    img{
                        width: 56px;
                        height: 56px;
                        border-radius: 2px;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        color: #A2A2A2;
                        display: inline-block;
                        margin-left: 8px;
                        cursor: pointer;
                    }
                }
            }

            .item-flex-1{
                width: 100%;
                .title{
                    width: 132px;
                }
                .value{
                    flex: 1;
                }
            }
        }
        
    }
}
</style>