<template>
  <div class="service">
      <a-modal
        title="平台代发"
        :visible="autarkyReleaseShow"
        :destroyOnClose="true"
        @cancel="handleCancel"
        class="contactMode"
      >
        <a-form-model
          ref="contactForm"
          :model="contactModeData"
          :rules="contactModeRules"
          :label-col="{ span: 5 }"
          :wrapper-col="{ offset: 5 }"
        >
          <a-form-model-item ref="name" label="联系人" prop="name">
            <a-input
              v-model.trim="contactModeData.name"
              placeholder="请输入联系人"
            />
          </a-form-model-item>
          <a-form-model-item ref="phone" label="手机" prop="phone">
            <a-input
              v-model.trim="contactModeData.phone"
              placeholder="请留下手机，我们会及时联系您"
            />
          </a-form-model-item>
          <a-form-model-item label="验证码:" prop="verificationCode">
            <div style="display: flex;">
              <a-input
                style="margin-right: 15px;"
                v-model.trim="contactModeData.verificationCode"
                placeholder="请输入短信验证码"
              ></a-input>
              <a-button
                :disabled="codeDisabled"
                @click="sendVerifycode"
                class="verify-btn"
                type="primary"
                >{{ codeBtnText }}
              </a-button>
            </div>
          </a-form-model-item>
          <div class="tips">
            提示：如果你不会发布，可留下联系方式，平台客服稍后会联系你，帮助你发布出货信息。
          </div>
        </a-form-model>
        <template slot="footer">
          <a-button type="primary" @click="handleOk">提交 </a-button>
        </template>
      </a-modal>
  </div>
</template>
<script>
import { Input, FormModel } from 'ant-design-vue'

export default {
  name: 'qr-main',
  components: {
    aFormModel: FormModel,
    aInput: Input,
    aFormModelItem: FormModel.Item
  },
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  model: {
    props: 'show',
    event: 'change'
  },
  data() {
    return {
      autarkyReleaseShow: false,
      contactModeData: {
        name: '',
        phone: '',
        verificationCode: null
      },
      codeDisabled: false,
      codeBtnText: '获取验证码',
      codeSIV: null,
      contactModeRules: {
        name: [{ required: true, validator: this.verifyName, trigger: 'blur' }],
        phone: [
          { required: true, validator: this.validMobile, trigger: 'blur' }
        ],
        verificationCode: [
          {
            validator: this.verifyCodevalidate,
            required: true,
            message: '请输入正确的验证码',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    validMobile(rule, value, callback) {
      const mobileTest = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (value === '') {
        callback(new Error('请输入手机号码'))
      } else if (!mobileTest.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    verifyName(rule, value, callback) {
      if (value === '') {
        callback(new Error('请输入联系人'))
      } else {
        callback()
      }
    },

    handleOk() {
      this.$refs.contactForm.validate(val => {
        if (val) {
          const params = {
            contactsName: this.contactModeData.name,
            contactsPhone: this.contactModeData.phone,
            verifyCodeInput: this.contactModeData.verificationCode
          }
          this.$httpRequester.post('selfRelease/add', params).then(() => {
            this.$message.success('操作成功')
            this.autarkyReleaseShow = false
            this.emptyContactModeData()
          })
        }
      })
    },
    emptyContactModeData() {
      this.contactModeData.name = ''
      this.contactModeData.phone = ''
      this.contactModeData.verificationCode = null
      this.codeBtnText = '获取验证码'
      this.codeDisabled = false
      clearInterval(this.codeSIV)
      this.codeSIV = null
    },
    handleCancel() {
      this.autarkyReleaseShow = false
      this.emptyContactModeData()
    },
    sendVerifycode() {
      if (this.codeSIV) {
        return
      }
      this.$refs.contactForm.validateField('phone', message => {
        if (!message) {
          this.$httpRequester
            .post(
              'user/sms/verificte/send',
              { cellPhone: this.contactModeData.phone },
              'application/x-www-form-urlencoded'
            )
            .then(() => {
              this.codeDisabled = true
              let time = 120
              this.codeSIV = setInterval(() => {
                time -= 1
                this.codeBtnText = `重新发送(${time}S)`
                if (time === 1) {
                  this.codeBtnText = '获取验证码'
                  this.codeDisabled = false
                  clearInterval(this.codeSIV)
                  this.codeSIV = null
                }
              }, 1000)
            })
        }
      })
    },
  },
  mounted() {
   
  }
}
</script>

<style lang="scss" scoped>
.tips{
  font-size: 14px;
  font-weight: 400;
  color: #A0A6AB;
}
</style>

<style lang="less">
.contactMode .ant-form-item label{
  margin-right: 10px;
}
</style>
