<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>
        小牛建讯
    </title>
    <script src="<%= BASE_URL %>qrcode.js"></script>
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) document.write('\x3Cscript id="_iealwn_js" data-outver="11" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>');</script>
</head>

<body>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
                properly without JavaScript enabled. Please enable it to
                continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
        //  <!-- <%= htmlWebpackPlugin.options.title %> -->
        var VUE_APP_TYPE = '<%=  process.env.VUE_APP_TYPE %>'
        var apiUrl = ''
        apiUrl = '<%=  process.env.VUE_APP_URL %>'
        // console.log(apiUrl)
        var BASEURL = '<%= BASE_URL %>'
        // console.log(BASEURL)
    </script>
</body>

<script>
    function copyThisText(e) {
        const input = document.createElement('input');
        document.body.appendChild(input);
        input.setAttribute('value', e);
        input.select();
        if (document.execCommand('copy')) {
            document.execCommand('copy')
        }
        document.body.removeChild(input);
    }

    function goToBuyPage() {
        const origin = location.origin
        location.href = origin + '#/longna/qualificationResources/buying'
    }
</script>

</html>