<template>
  <a-modal
      title="沟通情况"
      :visible="turnOnShow"
      :destroyOnClose="true"
      @ok="modalHandleOk"
      :zIndex="1001"
      @cancel="modalHandleCancel"
  >
    <form-components
        ref="followForm"
        v-model="formValue"
        :formItems="formItems"
    ></form-components>
    <div class="tips">
      说明：<br/>
      1. 请如实、仔细填写沟通情况，有利于提高跟踪质量。<br/>
      2. 跟踪情况栏目选择“有意向”，本条客户资源自动保存到“我的客户”中，可在“我的客户”里进行跟踪管理。
    </div>
  </a-modal>
</template>

<script>
import FormComponents from '@/components/Form/index'
import formType from '@/components/Form/formType'
export default {
  name: 'gaps-follow',
  components: {
    FormComponents
  },
  props: {
    enterprisePhoneList: {
      type: Array,
      default() {
        return []
      }
    }
  },
  computed: {
    formItems() {
      return [
        {
          label: '沟通情况：',
          type: formType.SELECT,
          options: [
            { label: '有意向', value: 1 },
            { label: '未成交', value: 5 },
            { label: '已成交', value: 6 }
          ],
          value: this.formValue.followStatus,
          placeholder: '请选择沟通情况',
          validate: [
            {
              required: true,
              message: '请选择沟通情况',
              trigger: 'change'
            }
          ],
          name: 'followStatus'
        },
        {
          label: '联系人：',
          type: formType.INPUT,
          value: this.formValue.contactsPerson,
          placeholder: '请输入联系人',
          name: 'contactsPerson',
          validate: [
            {
              required: true,
              message: '请输入联系人',
              trigger: 'blur'
            }
          ]
        },
        {
          label: '联系电话：',
          type: formType.SELECT,
          showSearch: true,
          value: this.formValue.contactsPhone,
          options: this.enterprisePhoneList.length
              ? this.enterprisePhoneList
                  .map(e => {
                    return { value: e, label: e }
                  })
                  .concat(this.phoneList)
              : [],
          placeholder: '请输入联系电话',
          name: 'contactsPhone',
          props: {
            allowClear: true
          },
          searchFunction: this.setInputInOptions.bind(this),
          validate: [
            {
              validator: this.validatePhoneNumber,
              required: true,
              trigger: 'blur'
            }
          ]
        },
        {
          label: '备注：',
          type: formType.TEXTAREA,
          value: this.formValue.remarks,
          placeholder: '请输入跟进备注',
          name: 'remarks',
          validate: [
            {
              required: true,
              message: '请输入跟进备注',
              trigger: 'blur'
            }
          ]
        }
      ]
    }
  },
  data() {
    return {
      formValue: {
        followStatus: [],
        contactsPerson: '',
        contactsPhone: '',
        remarks: ''
      },
      turnOnShow: false,
      debounce: null,
      phoneList: [],
      contactsPhone: '',
      formPhoneType: ''
    }
  },
  methods: {
    setInputInOptions(value) {
      this.phoneList=[]
      if (!value) {
        return
      }
      let inputPhone = ''
      if (this.debounce) {
        clearTimeout(this.debounce)
      }
      this.debounce = setTimeout(() => {
        inputPhone = value
        // const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
        // if (isCellPhone.test(inputPhone)) {
        if (
            this.phoneList.find(e => {
              return e.value === value
            })
        ) {
          return
        }
        this.phoneList.push({ value: inputPhone, label: inputPhone })
        // }
        this.contactsPhone = inputPhone
      }, 500)
    },
    validatePhoneNumber(rule, value, callback) {
      const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value) && !isTelephone.test(value)) {
        callback(new Error('请输入正确的固话或者手机号码'))
      } else {
        callback()
      }
    },
    showModal(contactsPhone) {
      this.turnOnShow = true
      this.formValue.contactsPhone = contactsPhone
    },
    modalHandleCancel() {
      this.formValue = {
        followStatus: [],
        contactsPerson: '',
        contactsPhone: '',
        remarks: ''
      }
      this.turnOnShow = false
    },
    modalHandleOk() {
      const validate = this.$refs.followForm.formValidator()
      if (validate) {
        this.$emit('confirmFollow', this.formValue)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.tips{
  font-size: 12px;
  font-weight: 400;
  color: #A0A2A7;
  line-height: 18px;
}

</style>
