<template>
  <div id="clientFilter" class="mine-client-page relative">
    <!-- <div class="w-full box-border absolute left-0 top-0 p-[16px] bg-white">
      <a-breadcrumb>
        <a-breadcrumb-item>
          我的客户
        </a-breadcrumb-item>
        <a-breadcrumb-item>
          跟进中企业
        </a-breadcrumb-item>
      </a-breadcrumb>
    </div> -->
    <div class="filter-box">
      <!-- <div class="filter-title">满足下列所有条件</div> -->
      <div class="filter-list">
        <div class="filter-item">
          <div class="label-title">企业名称：</div>
          <a-input
              v-model="filterOptions.enterpriseName"
              class="filter-input"
              placeholder="请输入企业名称"
          ></a-input>
        </div>
        <div class="filter-item">
          <div class="label-title">更新时间：</div>
          <a-date-range
              v-model="dateRanger"
              :disabled-date="disabledEndDate"
              :getCalendarContainer="getPopupContainer"
              :placeholder="['请选择开始时间', '结束时间']"
              class="filter-input"
          >
            <a-icon slot="suffixIcon" type="calendar"/>
          </a-date-range>
        </div>
        <div v-if="isSales" class="filter-item">
          <div class="label-title">跟进人：</div>
          <staffSelect
              ref="searchQua"
              @followStaffChange="followStaffChange"
          ></staffSelect>
        </div>
      </div>
      <div class="operate-btns">
        <a-button class="btns rt" type="primary" @click="getClientList">
          查询
        </a-button>
        <a-button class="btns" @click="renewFilter">重置</a-button>
      </div>
    </div>
    <div class="table-content">
      <p v-if="total" class="total">
        跟进中的有意向客户共<span> {{ total }} </span>家
      </p>
      <a-table
          v-if="total"
          :columns="columns"
          :data-source="tableData"
          :pagination="pagination"
          bordered
          rowKey="index"
          @change="handleTableChange"
      >
        <!-- :row-selection="rowSelection" -->
        <template slot="companyInfo" slot-scope="text, item">
          <div class="companyInfo">
            <p class="companyName mb4">{{ item.companyInfo.companyName }}</p>
            <p>法定代表人：{{ item.companyInfo.legalPerson }}</p>
          </div>
        </template>
        <template slot="followRemarks" slot-scope="text, item">
          <div
              class="text-tipBlue cursor-pointer"
              @click="goToFollowList(item)"
          >
            {{ text | filter20 }}
          </div>
        </template>
        <template slot="followStatus" slot-scope="text, item">
          <span>{{ item.followStatus }}</span>
        </template>
        <template slot="operate" slot-scope="text, item">
          <div class="operate">
            <a-button type="link" @click="goToDetail(item)">查看</a-button>
            <span class="interval">｜</span>
            <a-button
                :disabled="isSuperAdmin || !item.haveReceive"
                class="have-rt-margin"
                type="link"
                @click="addNewAssign(item)"
            >添加跟进记录
            </a-button>
          </div>
        </template>
      </a-table>
      <block-data
          v-else
          :imageSrc="notFind"
          :text="''"
          :titleText="''"
      ></block-data>
    </div>
    <follow
        ref="communicate"
        :enterprisePhoneList="followPhoneList"
        @confirmFollow="confirmFollow"
    ></follow>
  </div>
</template>

<script lang="ts" src="./FollowUp.ts"></script>

<style lang="scss" scoped>
::v-deep .ant-calendar-range-picker-input {
  width: 32%;
  height: 99%;
  text-align: left;
  border: 0;
  outline: 0;
}

::v-deep .ant-calendar-range-picker-separator {
  min-width: 50px;
}

#clientFilter {
  position: relative;
}

.companyInfo {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mb4 {
  margin-bottom: 4px;
}

::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  text-align: left;
  background-color: #f2f6f8;
}

::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.total {
  margin-bottom: 24px;
  margin-left: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
  line-height: 20px;

  span {
    font-weight: 500;
    color: #282828;
  }
}

.companyName {
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  line-height: 20px;
}

.operate {
  position: relative;
  left: -16px;
}

.interval {
  font-size: 12px;
  font-weight: 400;
  color: #d8d8d8;
  line-height: 32px;
}

.mine-client-page {
  padding: 20px 16px 16px 16px;

  .filter-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 29px 24px 22px 24px;

    .filter-title {
      font-size: 16px;
      color: #909399;
    }

    .filter-list {
      width: 100%;

      .filter-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 16px;

        .label-title {
          width: 110px;
          text-align: left;
          font-size: 14px;
          flex-shrink: 0;
          font-weight: 400;
          color: #282828;
          line-height: 22px;
        }

        .filter-input {
          width: 332px;
        }

        .filter-btn {
          width: 86px;
          height: 36px;
          line-height: 36px;
        }

        .isSelect {
          background-color: rgba($color: #3b68e7, $alpha: 0.1);
          color: #3b68e7;
          border-color: #3b68e7;
        }

        .have-margin {
          margin-right: 24px;
        }
      }
    }

    .operate-btns {
      margin-top: 24px;
      margin-bottom: 16px;

      .btns {
        height: 40px;
        width: 126px;
        font-size: 16px;
        line-height: 40px;
      }

      .rt {
        margin-right: 24px;
      }
    }
  }

  .table-content {
    margin-top: 16px;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 4px;
    font-size: 14px;
    color: #686868;

    .status-tag {
      width: 55px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 14px;
      border-radius: 4px;
      margin: 0;
    }

    .noConfirm {
      background-color: rgba($color: #fa8f00, $alpha: 0.1);
      color: #fa8f00;
    }

    .haveIntention {
      color: #67c23a;
      background-color: rgba($color: #67c23a, $alpha: 0.1);
    }

    .haveDeal {
      color: #4d7cfe;
      background-color: rgba($color: #4d7cfe, $alpha: 0.1);
    }

    .table-btns {
      // margin-bottom: 24px;
      // margin-top: 12px;
      height: 40px;
      position: relative;
      width: 100%;
      line-height: 40px;

      .client-description {
        position: absolute;
        right: 12px;
        bottom: 10px;
        cursor: pointer;

        .icon {
          margin-right: 8px;
        }
      }
    }

    .rt {
      margin-right: 24px;
    }
  }

  .select-status {
    width: 100%;
  }
}
</style>
