<template>
  <div id="historyFilter" class="relative client-history">
    <!-- <div class="w-full box-border absolute left-0 top-0 p-[16px] bg-white">
      <a-breadcrumb>
        <a-breadcrumb-item>
          我的客户
        </a-breadcrumb-item>
        <a-breadcrumb-item>
          历史记录
        </a-breadcrumb-item>
      </a-breadcrumb>
    </div> -->
    <div class="filter-box">
      <div class="filter-list">
        <div class="filter-item">
          <div class="label-title">企业名称：</div>
          <a-input
              v-model="enterpriseName"
              class="filter-input"
              placeholder="请输入企业名称"
          ></a-input>
        </div>
        <div class="filter-item">
          <div class="label-title">跟进状态：</div>
          <div class="select-list">
            <a-select
                v-model="followStatus"
                :allowClear="true"
                :dropdownMatchSelectWidth="false"
                :getPopupContainer="getPopupContainer"
                class="filter-input"
                placeholder="请选择跟进状态"
            >
              <a-select-option
                  v-for="item in postOptions"
                  :key="item.value"
                  :value="item.value"
              >{{ item.label }}
              </a-select-option>
            </a-select>
          </div>
        </div>
        <div class="filter-item">
          <div class="label-title">更新时间：</div>
          <a-date-range
              v-model="dateRanger"
              :disabled-date="disabledEndDate"
              :getCalendarContainer="getPopupContainer"
              :placeholder="['请选择开始时间', '结束时间']"
              class="filter-input"
              @change="selectDateRange"
          >
            <a-icon slot="suffixIcon" type="calendar"/>
          </a-date-range>
        </div>
        <div v-if="isSales" class="filter-item">
          <div class="label-title">跟进人：</div>
          <staffSelect
              ref="searchQua"
              @followStaffChange="followStaffChange"
          ></staffSelect>
        </div>
      </div>
      <div class="operate-btns">
        <a-button class="btns rt" type="primary" @click="filterFindList">
          查询
        </a-button>
        <a-button class="btns" @click="resetFilter">重置</a-button>
      </div>
    </div>
    <div class="table-content">
      <p v-if="total" class="total">
        历史跟进客户共<span> {{ total }} </span>家
      </p>
      <a-table
          v-if="total"
          :columns="columns"
          :data-source="tableData"
          :pagination="pagination"
          bordered
          rowKey="index"
      >
        <template slot="companyInfo" slot-scope="text, item">
          <div class="companyInfo">
            <p class="companyName mb4">{{ item.companyInfo.companyName }}</p>
            <p>法定代表人：{{ item.companyInfo.legalPerson }}</p>
          </div>
        </template>
        <template slot="followRemarks" slot-scope="text">
          <div class="text-tipBlue cursor-pointer">
            {{ text | filter20 }}
          </div>
        </template>
      </a-table>
      <block-data
          v-else
          :imageSrc="notFind"
          :text="''"
          :titleText="''"
      ></block-data>
    </div>
  </div>
</template>

<script>
import {
  Input,
  Select,
  DatePicker,
  Table,
  Drawer,
  Tooltip,
  TreeSelect,
  Icon,
  Breadcrumb
} from 'ant-design-vue'
import {userModule} from '@/store/modules/user'
import BlockData from '@/components/BlockData.vue'
import staffSelect from './StaffSelect.vue'
import notFind from '@/assets/image/no_data_block.png'

export default {
  name: 'HistoricalRecords',
  components: {
    staffSelect,
    BlockData,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    aTooltip: Tooltip,
    aDrawer: Drawer,
    aTable: Table,
    aInput: Input,
    aSelect: Select,
    aSelectOption: Select.Option,
    aDateRange: DatePicker.RangePicker,
    aIcon: Icon,
    aBreadcrumb: Breadcrumb,
    aBreadcrumbItem: Breadcrumb.Item
  },
  filters: {
    filter20: value => {
      if (value.length > 20) {
        return value.substring(0, 20) + '...'
      } else {
        return value
      }
    }
  },
  computed: {
    isSales() {
      return userModule.roleLevel < 3
    },
    isSuperAdmin() {
      return userModule.roleLevel === 1
    },
    pagination() {
      return {
        total: this.total,
        pageSize: this.pageSize,
        current: this.pageNum,
        showSizeChanger: false,
        showQuickJumper: true,
        onShowSizeChange: this.changePage,
        onChange: this.changePage
      }
    }
  },
  data() {
    return {
      pageNum: 1,
      pageSize: 10,
      notFind,
      statusMap: new Map([
        ['INTENTION', '有意向'],
        ['NO_INTENTION', '无意向'],
        ['HANG_UP', '挂断/打错了/同行'],
        ['RESIGNATION', '辞职/公司倒闭'],
        ['NO_DEAL', '未成交'],
        ['DEAL', '已成交']
      ]),
      tableData: [],
      columns: [
        {title: '序号', dataIndex: 'index', width: '80px'},
        {
          title: '企业信息',
          dataIndex: 'companyInfo',
          width: '224px',
          scopedSlots: {customRender: 'companyInfo'}
        },
        {title: '联系人', dataIndex: 'contactsPerson', width: '100px'},

        {
          title: '跟进人',
          dataIndex: 'followUserName'
        },

        {
          title: '跟进状态',
          dataIndex: 'followStatus'
        },
        {
          title: '跟进记录',
          dataIndex: 'remarks',
          width: '180px',
          scopedSlots: {customRender: 'followRemarks'}
        },
        {
          title: '状态更新时间',
          dataIndex: 'updateTime'
          // sorter: (a, b) =>
          //   new Date(a.updateTime).getTime() - new Date(b.updateTime).getTime(),
          // sortDirections: ['descend', 'ascend'],
        }
      ],
      total: 0,
      postOptions: [
        {label: '无意向', value: 'NO_INTENTION'},
        {label: '挂断/打错了/同行', value: 'HANG_UP'},
        {label: '辞职/公司倒闭', value: 'RESIGNATION'},
        {label: '未成交', value: 'NO_DEAL'},
        {label: '已成交', value: 'DEAL'}
      ],
      dateRanger: [null, null],
      startTime: '',
      endTime: '',
      enterpriseName: '',
      followStatus: undefined,
      followUserId: [],
      subordinateArr: []
    }
  },
  methods: {
    followStaffChange(val) {
      if (val) {
        this.followUserId = val
      } else {
        this.followUserId = []
      }
    },
    getPopupContainer() {
      return document.getElementById('historyFilter')
    },
    changePage(num, size) {
      this.pageNum = num
      this.pageSize = size
      this.getHistoryList()
    },
    disabledEndDate(endValue) {
      const currentDate = new Date().getTime()
      return endValue.valueOf() > currentDate
    },
    selectDateRange(range) {
      this.startTime = this.$moment(range[0]).format('yyyy-MM-DD')
      this.endTime = this.$moment(range[1]).format('yyyy-MM-DD')
    },
    async getFollowUserId() {
      const params = {
        companyId: userModule.companyId
      }
      this.followUserId = []
      this.$httpRequester.get('member/listAllByDepartment', params).then(r => {
        r.forEach(e => {
          e.subordinateOrg.forEach(i => {
            i.subordinateOrg.forEach(d => {
              const userId = userModule.userId
              if (d.id === parseInt(userId)) {
                this.subordinateArr = i.subordinateOrg
              }
            })
          })
        })

        this.subordinateArr.forEach(item => {
          this.followUserId.push(JSON.stringify(item.id))
        })
        // console.log('243', this.followUserId instanceof Array)
      })
    },
    filterFindList() {
      this.pageSize = 10
      this.pageNum = 1
      this.getHistoryList()
    },
    resetFilter() {
      if (this.$refs.searchQua) {
        this.$refs.searchQua.clearFollowStaffId()
      }
      if (userModule.roleLevel === 4) {
        this.followUserId = [userModule.userId]
      } else {
        this.followUserId = []
      }
      this.enterpriseName = ''
      this.dateRanger = [null, null]
      this.startTime = ''
      this.endTime = ''
      this.followStatus = undefined
    },
    getNextDate(date, day = 1, format = '{y}-{m}-{d}') {
      if (date) {
        const nDate = new Date(date)
        nDate.setDate(nDate.getDate() + day)
        const formatObj = {
          y: nDate.getFullYear(),
          m: nDate.getMonth() + 1,
          d: nDate.getDate()
        }
        return format.replace(/{([ymd])+}/g, (result, key) => {
          const value = formatObj[key]
          return value.toString().padStart(2, '0')
        })
      } else {
        throw new Error('getNextDate:错误的参数')
      }
    },
    getHistoryList() {
      const params = {
        enterpriseName: this.enterpriseName,
        followStatus: this.followStatus,
        followUserId: this.followUserId,
        startDate: this.startTime,
        endDate: this.endTime ? this.getNextDate(this.endTime, 1) : '',
        pageNum: this.pageNum,
        pageSize: this.pageSize
      }
      this.$httpRequester
          .post('bm/follow/selBmEnterpriseFollowPage', params)
          .then(res => {
            this.total = res.totalSize
            res.data.forEach((e, i) => {
              e.companyInfo = {}
              e.followStatus = this.statusMap.get(e.followStatus)
              e.companyInfo = {
                companyName: e.companyName,
                legalPerson: e.legalPerson
                // phoneText: e.contactPhone.join(',')
              }
              // e.statusText = e.statusInfo.join('/')
              e.updateTime = e.updateTime
                  ? this.$moment(e.updateTime).format('YYYY-MM-DD HH:mm:ss')
                  : '-'
              e.index = i + 1
            })
            this.tableData = res.data
          })
    }
  },
  mounted() {
    if (userModule.roleLevel === 3 || userModule.isLead) {
      this.getFollowUserId()
      setTimeout(() => {
        this.getHistoryList()
      }, 200)
      console.log('304', this.followUserId)
    } else if (userModule.roleLevel === 4) {
      this.followUserId = [userModule.userId]
      this.getHistoryList()
    } else {
      this.getHistoryList()
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .ant-calendar-range-picker-input {
  width: 32%;
  height: 99%;
  text-align: left;
  border: 0;
  outline: 0;
}

::v-deep .ant-calendar-range-picker-separator {
  min-width: 50px;
}

#historyFilter {
  position: relative;
}

.companyInfo {
  padding-top: 12px;
  padding-bottom: 12px;
}

::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  text-align: left;
  background-color: #f2f6f8;
}

::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.companyName {
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  line-height: 20px;
}

.mb4 {
  margin-bottom: 4px;
}

.total {
  margin-bottom: 24px;
  margin-left: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
  line-height: 20px;

  span {
    font-weight: 500;
    color: #282828;
  }
}

.interval {
  font-size: 12px;
  font-weight: 400;
  color: #d8d8d8;
  line-height: 22px;
}

.client-history {
  padding: 20px 16px 16px 16px;

  .filter-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 29px 24px 22px 24px;

    .filter-title {
      font-size: 16px;
      color: #909399;
    }

    .filter-list {
      width: 100%;

      .filter-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 16px;

        .label-title {
          width: 110px;
          text-align: left;
          font-size: 14px;
          flex-shrink: 0;
          font-weight: 400;
          color: #282828;
          line-height: 22px;
        }

        .select-list {
          width: 332px;
          display: flex;
          justify-content: space-between;
        }

        .half-input {
          width: 160px;
        }

        .filter-input {
          width: 332px;
        }

        .filter-btn {
          width: 86px;
          height: 36px;
          line-height: 36px;
        }

        .isSelect {
          background-color: rgba($color: #3b68e7, $alpha: 0.1);
          color: #3b68e7;
          border-color: #3b68e7;
        }

        .have-margin {
          margin-right: 24px;
        }
      }
    }

    .operate-btns {
      margin-top: 24px;
      margin-bottom: 16px;

      .btns {
        height: 40px;
        width: 126px;
        font-size: 16px;
        line-height: 40px;
      }

      .rt {
        margin-right: 24px;
      }
    }
  }

  .table-content {
    background-color: #ffffff;
    margin-top: 16px;

    .btns {
      width: 100%;
      height: 40px;
      position: relative;

      .client-description {
        position: absolute;
        right: 22px;

        .icon {
          margin-right: 8px;
        }
      }
    }
  }
}
</style>
