<template>
  <div id="staff">
    <a-select
        v-if="isShowRole"
        :default-active-first-option="false"
        :filter-option="false"
        :getPopupContainer="getPopupContainer"
        :not-found-content="null"
        :class="{isShowRoleLength:isShowRole,halfInput:!isShowRole}"
        :show-arrow="false"
        :value="searchQua"
        allowClear
        labelInValue
        placeholder="跟进人所属企业"
        show-search
        @change="handleChange"
        @search="handleSearch"
    >
      <a-select-option
          v-for="(s, index) in staffList"
          :key="index"
          :value="s.id"
      >
        {{ s.companyName }}
      </a-select-option>
    </a-select>
    <a-select
        v-model="followStaffId"
        :disabled="staffDisabled"
        :getPopupContainer="getPopupContainer"
        allowClear
        :class="{isShowRoleLength:isShowRole,halfInput:!isShowRole}"
        mode="multiple"
        showArrow
        placeholder="请选择跟进人"
    >
      <a-select-option
          v-for="(item, index) in roleList"
          :key="index"
          :value="item.id"
      >
        {{ item.memberName }}
      </a-select-option>
    </a-select>
  </div>
</template>

<script>
import {Select} from 'ant-design-vue'
import {userModule} from '@/store/modules/user'

export default {
  name: 'StaffSelect',
  components: {
    aSelect: Select,
    aSelectOption: Select.Option
  },

  watch: {
    followStaffId: {
      handler(val) {
        this.$emit('followStaffChange', val)
      }
    }
  },
  data() {
    return {
      isShowRole: false,
      searchQua: undefined,
      roleList: [],
      staffList: [],
      followStaffId: [],
      staffDisabled: true
    }
  },
  methods: {
    clearFollowStaffId() {
      if (userModule.roleLevel === 2) {
        this.staffDisabled = false
      }
      if (userModule.roleLevel === 1) {
        this.staffDisabled = true
      }
      this.searchQua = undefined
      this.followStaffId = []
    },
    getPopupContainer() {
      return document.getElementById('staff')
    },
    getRoleList(id) {
      const params = {
        companyId: id
      }
      this.$httpRequester.get('/member/listAllMember', params).then(r => {
        if (r) {
          this.roleList = r
          this.followStaffId = []
        } else {
          this.roleList = []
          this.followStaffId = []
          this.$emit('followStaffChange', this.followStaffId)
        }
      })
    },
    handleChange(item) {
      this.searchQua = item
      this.staffDisabled = false
      if (!item) {
        this.staffList = []
        this.staffDisabled = true
        this.followStaffId = []
        return
      }
      this.getRoleList(item.key)
    },

    handleSearch(search) {
      if (!search) {
        this.staffList = []
        this.followStaffId = []
        this.staffDisabled = true
      } else {
        this.staffDisabled = true
        this.followStaffId = []
        this.staffList = []
        const params = {
          companyName: search
        }
        this.$httpRequester.get('company/byCompanyName', params).then(r => {
          this.staffList = r
        })
      }
    }
  },
  mounted() {
    if (userModule.roleLevel === 1) {
      this.isShowRole = true
    } else if (userModule.roleLevel === 2) {
      this.isShowRole = false
      this.getRoleList(userModule.companyId)
      this.staffDisabled = false
    }
  }
}
</script>

<style lang="scss" scoped>
#staff {
  position: relative;
  display: flex;
  justify-content: space-between;
  .halfInput {
    width: 332px;
  }
  .isShowRoleLength{
    width: 158px;
    margin-right: 16px;


  }
}
</style>
