<template>
  <div class="share-info">
    <div class="longna-bg"></div>
    <div class="top-content">
      <img class="logo" :src="logo" />
      <div>
        <div class="main-title">小牛建讯</div>
        <div class="sub-title">为您推荐一家优质资质企业</div>
      </div>
    </div>
    <div v-if="!overTime">
      <div v-if="enterpriseInfo" class="enterprise-info">
        <div class="enterprise-title">
          <div
            class="image"
            :style="'background-image:url(' + zizhiPng + ')'"
          ></div>
          <div class="name-status">
            <div class="name">{{ enterpriseInfo.companyName }}</div>
            <div class="status">
              {{ enterpriseInfo.businessStatus || '暂无' }}
            </div>
            <div :class="riskDetail[enterpriseInfo.riskLevel].type">
              {{ riskDetail[enterpriseInfo.riskLevel].title }}
            </div>
            <div class="upDataTime">
              数据更新时间:
              <span>{{ currentTime }}</span>
            </div>
          </div>
        </div>
        <div class="enterprise-detail">
          <div class="detail-item">
            统一社会信用代码：{{ enterpriseInfo.socialCreditCode || '-' }}
          </div>
          <div class="detail-item">
            法定代表人：<span v-html="enterpriseInfo.legalPerson"></span>
          </div>
          <div class="detail-item">
            成立时间：{{ enterpriseInfo.establishmentDate || '-' }}
          </div>
          <div class="detail-item">
            注册资本：{{ enterpriseInfo.registeredCapital }}
          </div>
          <div class="detail-item">
            公司类型：{{ enterpriseInfo.companyType || '-' }}
          </div>
          <div class="detail-item">
            登记机关：{{ enterpriseInfo.registrationAuthority || '-' }}
          </div>
          <div class="detail-item" v-if="enterpriseInfo.shareholderType">
            股东类型：企业法人
            <span
              class="shareholder-info"
              v-if="enterpriseInfo.shareholderChange"
            >
              近三个月发生股东变更</span
            >
          </div>
        </div>
      </div>
      <div v-else class="enterprise-info no-data">暂无数据</div>
      <div class="other-title">取得资质</div>
      <div
        v-if="enterpriseInfo && enterpriseInfo.enterpriseQualificationVOList"
      >
        <div
          v-for="(item, index) in enterpriseInfo.enterpriseQualificationVOList"
          :key="index"
        >
          <div class="content-item">
            <div class="content-title" :class="{ beOverdue: item.beOverdue }">
              证书编号：{{ item.certificateNo }}
              <div class="mini-date" v-if="!item.beOverdue">
                有效期至：{{ item.effectiveDate }}
              </div>
              <div class="mini-date" v-else>过期</div>
            </div>
            <div class="qualification" v-if="item.certificateType !== '安许'">
              <div class="mini-title">资质类别及等级</div>
              <div
                class="qualification-item"
                v-for="(qua, qIndex) in item.items"
                :key="qIndex"
              >
                {{ qua.qualificationName }}
              </div>
            </div>
          </div>
        </div>
        <!-- <div
          v-for="(item, index) in enterpriseInfo.enterpriseQualificationVOList"
          :key="'安许' + index"
        >
          <div class="content-item" v-if="item.certificateType === '安许'">
            <div class="content-title" :class="{ beOverdue: item.beOverdue }">
              证书编号：{{ item.certificateNo }}
              <div class="mini-date" v-if="!item.beOverdue">
                有效期至：{{ item.effectiveDate }}
              </div>
              <div class="mini-date" w-else>
                过期
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div v-else>
        <div class="content-item">
          <div class="qualification text-detail">暂无信息</div>
        </div>
      </div>
      <div class="other-title">风险信息</div>
      <p class="tips">
        如需要查看详细风险信息请登录小牛建讯官网查看(www.xnjx666.com)
      </p>
      <div v-if="riskInfo" class="content-item">
        <ul>
          <li
            v-for="(item, index) in riskInfo"
            :class="{
              isHaveNum: item.number > 0 && item.title === '失信被执行'
            }"
            :key="index"
          >
            {{ item.title }} <span> ({{ item.number }}) </span>
          </li>
        </ul>
      </div>
      <div v-else>
        <div class="content-item">
          <div class="qualification text-detail">暂无信息</div>
        </div>
      </div>
    </div>
    <div class="over-time-content" v-else>
      <img :src="notFind" />
      <p class="over-tip">当前分享已过期</p>
    </div>
    <!-- <div class="other-title">产品介绍</div>
    <div class="content-item">
      <div class="qualification text-detail">
        小牛建讯大数据查询系统，是专业的建筑行业企业大数据查询平台。提供数据分析、数据查询、资源共享等数据化服务,
        包括特级、一级、二级、三级建筑企业资质信息、企业工商信息和企业法律风险信息查询等,
        将数据挖掘与数据分析相结合，构建了全网最全面的信息资源库。通过智能AI数据算法分析，为资质服务企业提供精准的数据结果。帮助客户从海量企业中匹配大量精准的企业资源，实现企业资源的获取跟进转化到最终成交。
        如需了解更多产品信息，请联系本公司冯经理(400-902-8966)试用系统。
        （网址：
                <a
                        href="http://192.168.0.108:8090/index.html#/longna/homePage"
                >小牛建讯</a>） 
      </div> 
    </div> -->
    <div class="bottom-tips">
      出资质，查客户，寻资源。<br />
      资质服务企业都在使用的建筑行业大数据综合服务平台，如需了解更多产品信息，
      请联系您的专属客服400-902-8966使用系统
    </div>
    <div class="qrImg">
      <div>
        <img :src="qr" alt="" />
        <p
          style="width: 120px;text-align: center;font-size: 12px;color: #999999;"
        >
          （微信公众号）
        </p>
      </div>
    </div>
    <div></div>
  </div>
</template>
<script lang="ts" src="./Share.ts"></script>

<style lang="scss" scoped>
.tips {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.65);
  margin-bottom: 0 !important;
}
.share-info {
  padding: 0 4vw;
  width: 100vw;
  position: relative;

  .over-time-content {
    z-index: 101;
    width: 100%;
    text-align: center;
    position: relative;
    // position: absolute;
    box-shadow: 0px 2vw 5.3vw 0px rgba(0, 0, 0, 0.06);
    border-radius: 5vw;
    margin-top: -16vh;
    padding-bottom: 4vw;
    background-color: #ffffff;

    img {
      width: 50vw;
      height: 50vw;
    }

    .over-tips {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .longna-bg {
    height: 30vh;
    background-color: #4d7cfe;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 3.7vw 3.7vw;
    overflow: hidden;
    z-index: 100;
  }

  .top-content {
    height: 30vh;
    padding-top: 7vw;
    z-index: 101;
    position: relative;
    display: flex;

    .logo {
      width: 12vw;
      height: 12vw;
      margin-right: 3vw;
      margin-top: 3vw;
    }

    .main-title {
      font-size: 5.3vw;
      color: #ffffff;
      margin-bottom: 1vw;
    }

    .sub-title {
      font-size: 4vw;
      color: rgba($color: #ffffff, $alpha: 0.7);
    }

    color: #ffffff;
  }

  .enterprise-info {
    margin-top: -16vh;
    border-radius: 3.7vw;
    background-color: #ffffff;
    position: relative;
    z-index: 101;
    padding: 12.5vw 3.2vw 8vw 3.2vw;
    box-shadow: 0px 2vw 5.3vw 0px rgba(0, 0, 0, 0.06);

    .enterprise-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .image {
        width: 13vw;
        height: 13vw;
        margin-right: 3vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .name-status {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .name {
          font-size: 4.8vw;
          font-weight: bold;
          color: #333333;
          margin-bottom: 1vw;
        }

        .status {
          background-color: rgba($color: #4d7cfe, $alpha: 0.1);
          border-radius: 0.8vw;
          padding: 0.5vw 2vw;
          color: #4d7cfe;
          margin-right: 2vw;
          width: fit-content;
          text-align: center;
        }
        .hight-risk {
          color: #dc0000;
          border: 1px solid #dc0000;
        }
        .medium-risk {
          color: #ff8800;
          border: 1px solid #ff8800;
        }
        .no-risk {
          color: #80a56d;
          border: 1px solid #4ebf56;
        }
        .risk {
          border-radius: 0.8vw;
          padding: 0.5vw 2vw;
          width: fit-content;
          text-align: center;
        }
        .upDataTime {
          position: absolute;
          left: -13vw;
          color: #cccccc;
          font-size: 12px;
          top: -7vw;
        }
      }
    }

    .enterprise-detail {
      color: #333333;
      margin-top: 6vw;
      font-size: 3.7vw;

      .detail-item {
        margin-top: 1.8vw;
        .shareholder-info {
          color: #999999;
          padding: 1vw;
          margin-left: 2vw;
          border-radius: 4 px;
          border: 1px solid #999999;
        }
      }
    }
  }

  .no-data {
    height: 38vw;
  }

  .other-title {
    font-size: 4.8vw;
    color: #333333;
    margin-top: 6vw;
    font-weight: bold;
  }

  .content-item {
    background-color: #ffffff;
    box-shadow: 0 2vw 5.3vw 0 rgba(0, 0, 0, 0.1);
    //  padding: 0.8vw;
    box-sizing: border-box;
    border-radius: 3.7vw;
    margin-top: 3vw;
    margin-bottom: 8vw;
    overflow: hidden;

    ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 3vw 4vw;

      li {
        list-style: none;
        line-height: 7vw;
        width: 50%;
      }
    }

    .content-title {
      background-color: rgba($color: #4d7cfe, $alpha: 0.8);
      color: #ffffff;
      font-size: 3.5vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // height: 10.6vw;
      // line-height: 10.6vw;
      padding: 3vw 3vw;

      .mini-date {
        color: rgba($color: #ffffff, $alpha: 0.7);
        font-size: 3vw;
        flex-shrink: 0;
      }
    }
    .beOverdue {
      background-color: #fa8f00;
      // color: #;
    }

    .qualification {
      padding: 3vw 4vw;

      .mini-title {
        color: #606366;
        font-size: 3vw;
        margin-bottom: 3vw;
      }

      .qualification-item {
        color: #333333;
        font-size: 4vw;
        font-weight: bold;
        margin-bottom: 3vw;
      }
    }

    .text-detail {
      line-height: 6.4vw;
    }
  }
  .bottom-tips {
    margin-bottom: 10vw;
    color: #999999;
  }
  .isHaveNum {
    color: #dc0000;
    font-weight: bold;
  }
  .qrImg {
    width: 100px;
    text-align: center;
    margin: 0 auto 32px;

    img {
      width: 120px;
      height: 120px;
    }
  }
}
</style>
