<template>
  <div class="had-phone">
    <a-form-model
      :model="registerModel"
      :rules="registerRules"
      ref="hadForm"
      class="had-form"
    >
      <a-form-model-item class="register-item" prop="userAccount">
        <a-input
          v-model="registerModel.userAccount"
          placeholder="请输入手机号码"
        ></a-input>
      </a-form-model-item>
      <a-form-model-item class="register-item"  prop="verifycode">
        <verify-code
          class="login-verify"
          @setVerifyCode="verifyInputCode"
          ref="verifyInput"
          :phone="registerModel.username"
          @validatePhone="isReallyPhone"
          :bgColor="bgColor"
          :loginStyle="loginStyle"
        ></verify-code>
      </a-form-model-item>
    </a-form-model>
    <div class="form-btns">
      <a-button @click="beforeSubmit" type="primary" class="agree-btns"
        >同意协议并绑定登录</a-button
      >
    </div>
  </div>
</template>

<script>
import { FormModel, Input } from 'ant-design-vue'
import verifyCode from '@/components/verifyCode.vue'

export default {
  name: 'had-phone',
  components: {
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aInput: Input,
    verifyCode
  },
  props: {
    wechatCode: {
      type: String,
      default: ''
    }
  },
  computed: {
    isElectron() {
      const userAgent = navigator.userAgent.toLowerCase()
      if (userAgent.indexOf(' electron/') > -1) {
        // console.log('??')
        return true

        // Electron-specific code
      } else {
        return false
      }
    }
  },
  data() {
    return {
      registerModel: {
        userAccount: '',
        verifycode: ''
      },
      registerRules: {
        userAccount: [
          { validator: this.validMobile, required: true, trigger: 'input' }
        ],
        verifycode: [
          { required: true, message: '请输入验证码', trigger: 'input' }
        ]
      },
      bgColor: 'verificationBtn',
      loginStyle: 'loginStyle-register'
    }
  },
  methods: {
    validMobile(rule, value, callback) {
      const mobileTest = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (value === '') {
        callback(new Error('请输入手机号码'))
      } else if (!mobileTest.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    verifyInputCode(val) {
      this.registerModel.verifycode = val
    },
    isReallyPhone(promise) {
      this.$refs.hadForm.validateField('userAccount', message => {
        if (!message) {
          promise.resolve({
            validate: true,
            phone: this.registerModel.userAccount
          })
        }
      })
    },
    beforeSubmit() {
      this.$refs.hadForm.validate(val => {
        if (val) {
          const params = {
            authonKey: this.wechatCode,
            username: this.registerModel.userAccount,
            verifycode: this.registerModel.verifycode,
            loginSource: this.isElectron ? 1 : 0
          }
          const url = this.isElectron ? 'wx/bind/login' : 'wx/website/login'
          this.$httpRequester
            .post(url, params, 'application/x-www-form-urlencoded')
            .then(res => {
              this.$message.success('绑定成功，即将登录')
              this.$emit('wechatLoginSuccess', res)
            })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.had-phone {
  width: 100%;
  position: relative;
  padding-top: 48px;
  .had-form {
    width: 100%;
    // margin-top: 25px;
    .register-item /deep/ .ant-input {
      background-color: transparent;
      outline: none;
      //border:0;
      color: #282828;
      // border: 1px solid #0a78b2;
      box-shadow: none;
      appearance: none;

      // &:hover {
      //   background-color: transparent;
      //   border: 2px solid #0a78b2;
      //   outline: none;
      //   box-shadow: none;
      // }

      // &:focus {
      //   outline: none;
      //   box-shadow: none;
      //   border: 2px solid #0a78b2;
      // }
    }
    .verifycode-input {
      .have-verifycode {
        width: 53%;
      }

      .verify-btn {
        width: 44%;
        margin-left: 2%;
        background-color: #1ebdf2;
        border: none;
      }
      .verify-btn[disabled] {
        color: #fff !important;
        border: none;
      }
    }
  }
  .agree-btns {
    // position: absolute;
    width: 100%;
    background-color: #00ab94;
    border: none;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 14px;
  }
}
</style>
<style lang="scss">
.had-form {
  .ant-form-item-required::before {
    content: '' !important;
  }
  .ant-form-item {
    margin-bottom: 16px !important;
  }
  .ant-form-explain {
    position: absolute;
  }
  .anticon,
  .anticon-close-circle,
  .ant-cascader-picker-clear,
  .ant-cascader-picker-arrow {
    //color: #fff !important;
    background-color: transparent;
  }
}
</style>
