.error-explain {
  color: #f5222d;
  font-size: 12px;
  margin-bottom: -1px;
  clear: both;
  min-height: 22px;
  margin-top: 2px;
  line-height: 1.5;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.form-input {
  background-color: transparent;
  outline: none;
  color: #282828;
  box-shadow: none;
  appearance: none;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  border: 1px solid #eff3f6;
  .input-main {
    display: flex;
    align-items: center;
    input {
      background-color: transparent;
      border: 0;
      outline: none;
      box-shadow: none;
      width: 90%;
      height: 30px;
      padding-left: 8px;
      &:hover {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.iconColor {
  color: #ffffff;
  margin-left: 7px;
  margin-right: 7px;
}
.form-input /deep/ .ant-input {
  background-color: transparent;
  outline: none;
  border: 0;
  color: #fff;
  box-shadow: none;
  appearance: none;

  &:hover {
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-code-input {
  width: 132px;
  height: 40px;
  border: 2px solid #0a78b2;
  line-height: 40px;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: #ffffff;
  .form-code-input-main {
    display: flex;
    align-items: center;
    input {
      width: 75%;
      height: 38px;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      outline: none;
      &:hover {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.verifycode-input {
  display: flex;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  justify-content: space-between;

  .code-image {
    width: 90px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
  }
}

.customer-bt {
  margin-top: -4px;
  display: flex;
  justify-content: space-between;
}
.customer-bt /deep/ .ant-checkbox-inner {
  appearance: none;
  border: 2px solid #00ab94;
  background-color: transparent;
}

.login-bt {
  background-color: #00ab94;
  height: 40px;
  border: none;
  font-weight: bold;
  line-height: 40px;
  margin-top: 25px;
}
