<template>
  <div class="register-page">
    <div v-show="isLoading" class="loading">
      <a-spin size="large" tip="加载中...." />
    </div>
    <div class="register-box loginRegBox">
      <a-form-model
        labelAlign="left"
        :model="registerModel"
        :rules="registerRules"
        ref="bindForm"
        :label-col="{ span: 5 }"
        :wrapper-col="{ offset: 5 }"
        class="register-form"
      >
        <a-form-model-item
          class="register-item"
          label="公司名称"
          prop="companyName"
        >
          <a-input
            v-model="registerModel.companyName"
            placeholder="请输入公司名称"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item
          class="register-item cityCascaderInput"
          label="使用地区"
          prop="city"
        >
          <a-cascader
            :fieldNames="{
              label: 'areaName',
              value: 'areaName',
              children: 'cityList'
            }"
            :options="cityList"
            :value="registerModel.city"
            @change="selectCity"
            placeholder="请选择使用地区"
          />
        </a-form-model-item>
        <a-form-model-item class="register-item" label="姓名" prop="memberName">
          <a-input
            v-model="registerModel.memberName"
            placeholder="请输入姓名"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item
          class="register-item"
          label="手机号码"
          prop="userAccount"
        >
          <a-input
            v-model="registerModel.userAccount"
            placeholder="请输入手机号码"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item
          class="register-item"
          label="验证码"
          prop="verifycode"
        >
          <verify-code
            class="login-verify"
            @setVerifyCode="verifyInputCode"
            ref="verifyInput"
            :phone="registerModel.username"
            @validatePhone="isReallyPhone"
            :bgColor="bgColor"
            :loginStyle="loginStyle"
          ></verify-code>
        </a-form-model-item>
      </a-form-model>
      <div class="form-btns">
        <a-button @click="beforeSubmit" type="primary" class="agree-btns"
          >同意协议并绑定登录</a-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { Cascader, FormModel, Input, Modal, Spin } from 'ant-design-vue'
import verifyCode from '@/components/verifyCode.vue'
import jsonp from 'jsonp'

export default {
  name: 'register-componement',
  components: {
    aCascader: Cascader,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aInput: Input,
    aModal: Modal,
    aSpin: Spin,
    verifyCode
  },
  props: {
    wechatCode: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isLoading: false,
      inputValue: {},
      registerModel: {
        city: [],
        companyName: '',
        memberName: '',
        userAccount: '',
        verifycode: ''
      },
      cityList: [],
      bgColor: 'verificationBtn',
      loginStyle: 'loginStyle-register',
      registerRules: {
        companyName: [
          {
            required: true,
            validator: this.campanyValid,
            // message: '请输入公司名称',
            trigger: 'input'
          }
        ],
        city: [{ required: true, message: '请选择所在区域', trigger: 'input' }],
        memberName: [
          { required: true, validator: this.validMemberName, trigger: 'input' }
        ],
        userAccount: [
          { validator: this.validMobile, required: true, trigger: 'input' }
        ],
        verifycode: [
          { required: true, message: '请输入验证码', trigger: 'input' }
        ]
      },
      provinceName: '',
      cityName: ''
    }
  },
  methods: {
    isReallyPhone(promise) {
      this.$refs.bindForm.validateField('userAccount', message => {
        if (!message) {
          promise.resolve({
            validate: true,
            phone: this.registerModel.userAccount
          })
        }
      })
    },
    verifyInputCode(val) {
      this.registerModel.verifycode = val
    },
    selectCity(val) {
      this.registerModel.city = val
    },
    validMobile(rule, value, callback) {
      const mobileTest = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (value === '') {
        callback(new Error('请输入手机号码'))
      } else if (!mobileTest.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    validPassword(rule, value, callback) {
      const pwdTest = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/
      if (!pwdTest.test(value)) {
        callback(new Error('密码只能是6-12位的数字+字母组合'))
      } else {
        callback()
      }
    },
    validPasswordConfirm(rule, value, callback) {
      // console.log('passd', value)
      if (value !== this.registerModel.password) {
        callback(new Error('两次密码输入不一致'))
      } else {
        callback()
      }
    },
    campanyValid(rule, value, callback) {
      const reg = new RegExp("^[\u4E00-\u9FFF]+$");
      if (value.trim().length === 0) {
        callback(new Error('名称不合法，公司名称不能为空'))
      } else if (value.length > 50) {
        callback(new Error('名称不合法，公司名称不得超过50位'))
      } else if (!reg.test(value)) {
        callback(new Error('名称不合法，公司名称只能为中文字符'))
      } else {
        callback()
      }
    },
    validMemberName(rule, value, callback) {
      const reg = new RegExp("^[\u4E00-\u9FFF]+$");
      if (value.trim().length < 2) {
        callback(new Error('姓名过短,姓名至少为2位'))
      } else if (value.length > 10) {
        callback(new Error('姓名过长，姓名不能超过10位'))
      } else if (!reg.test(value)) {
        callback(new Error('用户姓名只能为中文字符'))
      } else {
        callback()
      }
    },
    getCityRegion() {
      this.isLoading = true
      this.$httpRequester
        .get('regionCode/selList')
        .then(r => {
          this.cityList = r
          this.getLocaltionFromServe()
          // this.getCurrentLocation()
        })
        .catch(() => {
          this.isLoading = false
        })
    },
    getLocaltionFromServe() {
      this.$httpRequester.get('areaIp/get').then(res => {
        if (!res) {
          this.getCurrentLocation()
        } else {
          this.provinceName = res.province
          this.cityName = res.city
          this.findProvinceAndCity()
        }
      })
    },
    getCurrentLocation() {
      const baiduApi =
        'http://api.map.baidu.com/location/ip?ak=fGC7lrCC48g76vMdqsMQb34I8bXnx9jp&sn=d778766514d7fc4009ff0a7fc153d1e7'
      jsonp(baiduApi, null, (err, data) => {
        if (err) {
          this.isLoading = false
          this.$message.error(err)
        } else {
          this.provinceName = data.content.address_detail.province
          this.cityName = data.content.address_detail.city
          this.findProvinceAndCity()
        }
      })
    },
    findProvinceAndCity() {
      const findProvince = this.cityList.find(c => {
        return c.areaName === this.provinceName
      })
      let findCity = null
      const specialCity = ['北京', '上海', '重庆', '天津']

      if (findProvince) {
        const isSpecial = specialCity.find(e => {
          return findProvince.areaName.indexOf(e) > -1
        })
        if (isSpecial) {
          findCity = findProvince.cityList[0]
        } else {
          findCity =
            findProvince.cityList.find(c => {
              return this.cityName && c.areaName.indexOf(this.cityName) > -1
            }) || {}
        }
      }
      // console.log(findCity)
      this.registerModel.city = findCity.areaName
        ? [findProvince.areaName, findCity.areaName]
        : [findProvince.areaName]
      this.isLoading = false
    },
    beforeSubmit() {
      // console.log(this.registerModel)
      this.$refs.bindForm.validate(val => {
        if (val) {
          const params = {
            authonKey: this.wechatCode,
            companyName: this.registerModel.companyName,
            loginSource: 1,
            memberName: this.registerModel.memberName,
            useAreaName: `${this.registerModel.city[0]}/${this.registerModel.city[1]}`,
            userAccount: this.registerModel.userAccount,
            verifyCode: this.registerModel.verifycode
          }
          this.$httpRequester
            .post('wx/nobind/login', params)
            .then(res => {
              this.$message.success('绑定成功，即将登录')
              this.$emit('wechatLoginSuccess', res)
            })
            .catch(err => {
              console.log(err)
            })
        }
      })
    }
  },
  mounted() {
    this.getCityRegion()
  }
}
</script>

<style lang="scss" scoped>
.register-page {
  // position: relative;
  // width: 100%;
  // height: 100%;

  .register-box {
    //  width: 483px;

    width: 100%;
    // min-height: 100%;
    //background-color: #ffffff;
    //border-radius: 4px;
    // box-sizing: border-box;
    //padding: 36px;
    position: relative;
    //margin-bottom: 20px;
    .register-item /deep/ .ant-input {
      background-color: transparent;
      outline: none;
      //border:0;
      color: #fff;
      border: 2px solid #0a78b2;
      box-shadow: none;
      appearance: none;

      &:hover {
        background-color: transparent;
        border: 2px solid #0a78b2;
        outline: none;
        box-shadow: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        border: 2px solid #0a78b2;
      }
    }

    .ant-btn-link {
      color: #1ebdf2;
    }

    .label-title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        font-size: 30px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 32px;
        width: 100%;
        text-align: center;
      }
    }

    .agree-btns {
      // position: absolute;
      width: 100%;
      background-color: #1ebdf2;
      border: none;
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      line-height: 40px;
      margin-top: 5px;
    }

    .cityCascaderInput {
      .ant-cascader-picker-clear,
      .ant-cascader-picker {
        background-color: transparent !important;
        color: #ffffff;
      }
    }
    .verifycode-input {
      .have-verifycode {
        width: 53%;
      }

      .verify-btn {
        width: 44%;
        margin-left: 2%;
        background-color: #1ebdf2;
        border: none;
      }
      .verify-btn[disabled] {
        color: #fff !important;
        border: none;
      }
    }
  }

  .short-height {
    .ant-form-item-label {
      label {
        color: #ffffff !important;
      }
    }

    min-height: 100%;
    height: 495px;
    padding: 54px 60px 58px 60px;
    position: relative;

    .back {
      width: 363px;
      margin: 30px auto 0;
      height: 25px;
      text-align: center;
      position: absolute;
      bottom: 0;
      font-size: 18px;
      color: #1ebdf2;
    }
  }

  .register-form {
    width: 100%;
    // margin-top: 25px;
  }

  .success-tips {
    width: 100%;
    text-align: center;

    .success-icon {
      margin-top: 55px;
      font-size: 64px;
      color: #4d7cfe;
    }

    .tip-text {
      font-size: 14px;
      color: #1ebdf2;
      margin-top: 12px;
    }

    .sub-tip {
      font-size: 14px;
      //color: #909399;
      margin-top: 5px;
    }
  }
}
</style>
<style lang="scss">
.login-verify {
  .verify-btn[disabled] {
    color: #fff !important;
    border: none;
  }
}
.short-height {
  .ant-form-item-label {
    label {
      color: #ffffff !important;
    }
  }
  .ant-form-item-required::before {
    content: '' !important;
  }
}

.loginRegBox {
  .ant-form-item-label {
    label {
      color: #ffffff !important;
    }
  }
  .ant-form-item-required::before {
    content: '' !important;
  }
}

.register-form {
  .ant-form-item {
    margin-bottom: 16px !important;
  }
  .ant-form-explain {
    position: absolute;
  }
  .anticon,
  .anticon-close-circle,
  .ant-cascader-picker-clear,
  .ant-cascader-picker-arrow {
    //color: #fff !important;
    background-color: transparent;
  }
}
</style>
