.form-box {
  width: 100%;
  position: relative;
  .form-item /deep/ .ant-input {
    background-color: transparent;
    outline: none;
    color: #fff;
    border: 2px solid #0a78b2;
    box-shadow: none;
    appearance: none;

    &:hover {
      background-color: transparent;
      border: 2px solid #0a78b2;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border: 2px solid #0a78b2;
    }
  }

  .ant-btn-link {
    color: #1ebdf2;
  }

  .label-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
      font-size: 30px;
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 32px;
      width: 100%;
      text-align: center;
    }
  }

  .agree-btns {
    width: 100%;
    background-color: #1ebdf2;
    border: none;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 10px;
  }

  .cityCascaderInput {
    .ant-cascader-picker-clear,
    .ant-cascader-picker {
      background-color: transparent !important;
      color: #ffffff;
    }
  }
  .verifycode-input {
    .have-verifycode {
      width: 198px;
    }

    .verify-btn {
      width: 44%;
      margin-left: 2%;
      background-color: #1ebdf2;
      border: none;
    }
    .verify-btn[disabled] {
      color: #fff !important;
      border: none;
    }
  }
}

.short-height {
  .ant-form-item-label {
    label {
      color: #ffffff !important;
    }
  }

  min-height: 100%;
  height: 495px;
  padding: 54px 60px 58px 60px;
  position: relative;

  .back {
    width: 363px;
    margin: 30px auto 0;
    height: 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    color: #1ebdf2;
  }
}

.form {
  width: 100%;
}

.success-tips {
  width: 100%;
  text-align: center;

  .success-icon {
    margin-top: 55px;
    font-size: 64px;
    color: #4d7cfe;
  }

  .tip-text {
    font-size: 14px;
    color: #1ebdf2;
    margin-top: 12px;
  }

  .sub-tip {
    font-size: 14px;
    margin-top: 5px;
  }
}

.login-verify {
  .verify-btn[disabled] {
    color: #fff !important;
    border: none;
  }
}
.short-height {
  .ant-form-item-label {
    label {
      color: #ffffff !important;
    }
  }
  .ant-form-item-required::before {
    content: '' !important;
  }
}

.loginRegBox {
  .ant-form-item-label {
    label {
      color: #ffffff !important;
    }
  }
  .ant-form-item-required::before {
    content: '' !important;
  }
}

.login-form {
  .ant-form-item {
    margin-bottom: 16px !important;
  }
  .ant-form-explain {
    position: absolute;
  }
  .anticon,
  .anticon-close-circle,
  .ant-cascader-picker-clear,
  .ant-cascader-picker-arrow {
    //color: #fff !important;
    background-color: transparent;
  }
}
