<template>
  <div class="use-verify-code ">
    <a-form-model
      ref="codeForm"
      :rules="codeRules"
      :model="codeLoginData"
    >
      <a-form-model-item prop="username">
        <div class="form-input">
          <div class="input-main">
            <!-- <a-icon class="iconColor" slot="prefix" type="user" /> -->
            <input
              placeholder="请输入手机号"
              @input="changeAccount"
              @blur="codeAccountVerification(codeLoginData.username)"
              v-model="codeLoginData.username"
            />
          </div>
          <div v-if="accountCodeShow" class="error-explain">
            请输入正确的手机号码
          </div>
        </div>
      </a-form-model-item>
      <a-form-model-item prop="verifycode">
        <verify-code
          class="login-verify"
          @setVerifyCode="verifyInputCode"
          ref="verifyInput"
          :phone="codeLoginData.username"
          @validatePhone="isReallyPhone"
          :bgColor="bgColor"
          :loginStyle="loginStyle"
        ></verify-code>
      </a-form-model-item>
    </a-form-model>
    <a-button
      type="primary"
      @click="beforeLogin"
      htmlType="submit"
      class="login-bt"
      block
      >同意协议并登录
    </a-button>
  </div>
</template>

<script>
import { FormModel, Input } from 'ant-design-vue'
import verifyCode from '@/components/verifyCode.vue'
export default {
  name: 'use-verify-code',
  components: {
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aInput: Input,
    verifyCode
  },
  data() {
    return {
      accountCodeShow: false,
      codeRules: {
        verifycode: [
          { required: true, message: '请输入验证码', trigger: 'blur' }
        ]
      },
      bgColor: 'verificationBtn',
      loginStyle: 'loginStyle',
      codeLoginData: {
        username: '',
        verifycode: ''
      }
    }
  },
  computed: {
    isElectron() {
      const userAgent = navigator.userAgent.toLowerCase()
      if (userAgent.indexOf(' electron/') > -1) {
        // console.log('??')
        return true

        // Electron-specific code
      } else {
        return false
      }
    }
  },
  methods: {
    verifyInputCode(val) {
      this.codeLoginData.verifycode = val
    },
    isReallyPhone(promise) {
      this.codeAccountVerification(
        this.codeLoginData.username.toString().trim()
      )
      if (!this.accountCodeShow) {
        promise.resolve({
          validate: true,
          phone: this.codeLoginData.username
        })
      }
      // this.$refs.codeForm.validateField('username', (message) => {
      //   if (!message) {
      //     promise.resolve({
      //       validate: true,
      //       phone: this.codeLoginData.userAccount,
      //     })
      //   }
      // })
    },
    changeAccount() {
      this.codeLoginData.verifycode = ''
      this.$refs.verifyInput.clearValue()
    },
    beforeLogin() {
      this.codeAccountVerification(
        this.codeLoginData.username.toString().trim()
      )
      this.$refs.codeForm.validate(valid => {
        if (valid && !this.accountCodeShow) {
          const params = {
            username: this.codeLoginData.username.toString().trim(), // 清除首尾空格
            verifycode: this.codeLoginData.verifycode,
            loginSource: this.isElectron ? 1 : 0
          }
          const self = this
          // this.userLogin(params)
          this.$debounce(self.userLogin, params, 300)
        }
      })
    },
    codeAccountVerification(user) {
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      user = user.toString().trim()
      if (!isCellPhone.test(user)) {
        this.accountCodeShow = true
      } else {
        this.accountCodeShow = false
      }
    },
    userLogin(params) {
      this.$emit('login', params)
    }
  }
}
</script>

<style lang="scss" scoped>
.use-verify-code {
  //padding-top: 30px;
}
</style>
<style lang="scss" src="./login.scss" scoped></style>
