<template>
  <div class="WechatScanCode">
    <div class="wechat-image-list">
      <div
        class="wechat-image"
        :style="'background-image:url(' + imageUrl + ')'"
      >
        <div v-if="refresh" class="over-mask" @click="refreshImageUrl">
          <p><a-icon type="redo" style="font-size: 40px" /></p>
          <p>二维码已失效</p>
          <p>点击刷新重新获取</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WechatScanCode',
  data() {
    return {
      imageUrl: '',
      statusCode: '',
      time: 0,
      refresh: false,
      wechatRe: null
    }
  },
  methods: {
    // test() {
    //   this.$emit('bindMobile', '1234567')
    // },
    getImageUrl() {
      this.$httpRequester.get('wx/login/qrcode').then(res => {
        this.statusCode = res[0]
        this.imageUrl = res[1]
        this.time = 0
        this.judgmentStatus()
      })
    },
    judgmentStatus() {
      this.wechatRe = setInterval(() => {
        this.$httpRequester
          .get(`wx/bind/scan/${1}/${this.statusCode}`)
          .then(res => {
            // console.log(res)
            clearInterval(this.wechatRe)
            this.$emit('wechatLoginSuccess', res)
          })
          .catch(err => {
            // console.log(err)
            if (err.code === '2007') {
              this.time += 1
              if (this.time >= 15) {
                clearInterval(this.wechatRe)
                this.showRefreshCodeBtn()
              }
            }
            // else if (err.code === '2006') {
            //   clearInterval(this.wechatRe)
            //   this.$emit('bindMobile', this.statusCode)
            // }
            // else {
            //   clearInterval(this.wechatRe)
            //   this.showRefreshCodeBtn()
            // }
          })
      }, 1000)
    },
    refreshImageUrl() {
      this.refresh = false
      this.getImageUrl()
    },
    showRefreshCodeBtn() {
      this.refresh = true
    }
  },
  mounted() {
    this.getImageUrl()
  },
  destroyed() {
    clearInterval(this.wechatRe)
  }
}
</script>

<style lang="scss" scoped>
.WechatScanCode {
  text-align: center;
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  .wechat-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 240px;
    height: 240px;
    background-size: cover;
    .over-mask {
      font-size: 17px;
      width: 100%;
      height: 100%;
      font-weight: bold;
      color: #40a9ff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.8);
      p {
        margin: 0;
      }
    }
  }
}
</style>
