<template>
  <div class="filter-components" id="filterForm">
    <div class="fiter-item" v-for="(item, key) in filterList" :key="key">
      <div class="item-label" :style="{ width: labelWidth + 'px' }">s</div>
      <div class="item-serch">
        <a-input
          v-model="form[item.name]"
          :placeholder="item.placeholder || '请输入文字'"
          v-if="item.type === filterType.INPUT"
        />
        <a-select
          v-model="form[item.name]"
          :getPopupContainer="getPopupContainer"
          :placeholder="item.placeholder || '请选择'"
          :allowClear="item.props ? item.props.allowClear : false"
          :mode="item.mode || 'defalut'"
          :showSearch="item.showSearch === undefined ? false : item.showSearch"
          v-if="item.type === filterType.SELECT"
        >
          <a-select-option
            v-for="op in item.options"
            :key="op.value"
            :value="op.value"
            >{{ op.label }}</a-select-option
          >
        </a-select>
        <a-tree-select
          v-model="form[item.name]"
          :getPopupContainer="getPopupContainer"
          v-if="item.type === filterType.TREESELECT"
          :treeCheckable="
            item.treeCheckable === undefined ? true : item.treeCheckable
          "
          :labelInValue="
            item.labelInValue === undefined ? true : item.labelInValue
          "
          :showSearch="item.showSearch === undefined ? false : item.showSearch"
          treeDefaultExpandAll
          treeNodeFilterProp="label"
          :tree-node-label-prop="'label'"
          allowClear
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          :placeholder="item.placeholder || '请选择'"
        >
          <a-tree-select-node
            v-for="qua in item.options"
            :key="qua.key"
            :value="qua.value"
            :selectable="qua.selectable"
            :checkable="qua.checkable"
            :label="qua.label"
            :title="qua.title"
          >
            <a-tree-select-node
              v-for="children in qua.children"
              :key="children.key"
              :value="children.value"
              :disabled="children.disabled"
              :label="children.label"
              :title="children.title"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select>
        <a-date-range
          v-if="item.type === filterType.DATERANGE"
          v-model="form[item.name]"
        ></a-date-range>
      </div>
    </div>
  </div>
</template>

<script>
import {
  Input,
  Select,
  //Checkbox,
  DatePicker,
  Tooltip,
  Radio,
  TreeSelect,
} from 'ant-design-vue'
import filterType from './FilterType.ts'
export default {
  name: 'filter-component',
  components: {
    aInput: Input,
    aTextArea: Input.TextArea,
    aSelect: Select,
    aSelectOption: Select.Option,
    aTooltip: Tooltip,
    aDateRange: DatePicker.RangePicker,
    // aTreeSelect: TreeSelect,
    // aCheckBox: Checkbox,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    aRadio: Radio,
    aRadioGroup: Radio.Group,
  },
  data() {
    return {
      filterType,
      form: [],
    }
  },
  props: {
    filterList: {
      type: Array,
      default() {
        return [{}]
      },
    },
    labelWidth: {
      type: Number,
      default: 100,
    },
  },
  methods: {
    getPopupContainer() {
      return document.getElementById('filterForm')
    },
  },
}
</script>

<style lang="scss" scoped>
.filter-components {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 25px 24px 25px;
  position: relative;
}
</style>
