<template>
  <div class="my-buying">
    <div v-if="tableData.length" class="table-warp history-table">
      <div class="userCenter-title">
        <div class="userCenter-title-left">
          <p class="title">我的求购列表 <span> 求购有效期为7天，若失效可以重新上传。</span></p>
        </div>
        <div class="userCenter-title-right">
          <a-button type="primary" @click="goToEditBuyingInfo">
            发布收货信息
          </a-button>
        </div>
      </div>
      <a-table
        :columns="columns"
        :data-source="tableData"
        bordered
        :pagination="pagination"
        class="table"
        rowKey="index"
      >
        <template slot="isEnabled" slot-scope="item, row">
          <xn-tag type="success" v-if="row.enable">有效</xn-tag>
          <xn-tag type="error" v-else>失效</xn-tag>
        </template>
        <template slot="operate" slot-scope="item, row">
          <operate-column
            v-if="row.enable"
            :btns="notBtns"
            :info="item"
          ></operate-column>
          <div v-else>----</div>
        </template>
      </a-table>
    </div>
    <div v-else>
      <div class="table-warp noneFreeCount">
        <block-data
          :imageHeight="200"
          :imageSrc="notFind"
          :imageWidth="400"
          :text="''"
          :titleText="'你还没有发布过收货消息'"
        >
          <template slot="btSlot">
            <a-button type="primary" @click="goToEditBuyingInfo">
              立即发布
            </a-button>
          </template>
        </block-data>
      </div>
    </div>
  </div>
</template>

<script>
import { Modal, Table, Tag } from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'
import XnTag from '@/components/XnTag.vue'
import notFind from '@/assets/image/no_data_block.png'
import Operate from '@/components/Operate.vue'
import { detailModule } from '@/store/modules/detail'

export default {
  name: 'my-buying',
  components: {
    blockData,
    aTable: Table,
    aTag: Tag,
    XnTag,
    OperateColumn: Operate
  },
  computed: {
    pagination() {
      return {
        // total: this.shareTotal,
        // current: this.sharedPageNum,
        // pageSize: this.sharedPageSize,
        // onChange: this.sharedTableChange,
        showQuickJumper: true,

      }
    },
  },

  data() {
    return {
      notFind,
      freeCount: 0,
      tableData: [],
      btns: [
        {
          label: '上架',
          type: 'primary',
          click: this.releaseItem.bind(this)
        },
        {
          label: '编辑',
          click: this.editItem.bind(this)
        }
      ],
      notBtns: [
        {
          label: '下架',
          type: 'link',
          click: this.notReleaseItem.bind(this)
        }
      ],
      columns: [
        { title: '序号', dataIndex: 'index', width: 55 },
        { title: '资质', dataIndex: 'qualification' },
        { title: '求购地区', dataIndex: 'wantAreaName', width: 140 },
        { title: '落地地区', dataIndex: 'destinationAreaName', width: 140 },
        { title: '联系人', dataIndex: 'contactsPerson', width: 130 },
        { title: '联系电话', dataIndex: 'contactsPhone', width: 140 },
        { title: '有效期至', dataIndex: 'validDateText', width: 130 },
        { title: '状态', dataIndex: 'isEnabled', width: 100, scopedSlots: { customRender: 'isEnabled' } },
        { title: '发布人', dataIndex: 'memberName', width: 140 },
        { title: '发布时间', dataIndex: 'releaseTime', width: 120 },
        { title: '操作', dataIndex: '', width: 120, scopedSlots: { customRender: 'operate' } }
      ]
    }
  },
  methods: {
    notReleaseItem(item) {
      Modal.confirm({
        title: '温馨提示',
        content: `下架后信息不再对他人展示`,
        onOk: () => {
          this.$httpRequester.get('buy', { id: item.id }).then(() => {
            this.$message.success('下架成功')
            this.getMyBuyingList()
          })
        },
        onCancel: () => {}
      })
    },
    releaseItem(item) {
      if (!item.validDate) {
        if (this.freeCount === 0) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )
          return
        }
      } else {
        const currentTime = new Date().getTime()
        const endTime = new Date(item.validDate).getTime()
        if (this.freeCount === 0 && currentTime > endTime) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )
          return
        }
      }

      Modal.confirm({
        title: '温馨提示',
        content: `确认发布上架“${item.qualification},求购地区${item.wantAreaName}，落地地区${item.destinationAreaName}”这条求购信息？`,
        onOk: () => {
          this.$httpRequester.get('buy', { id: item.id }).then(() => {
            this.$message.success('发布成功')
            this.getMyBuyingList()
          })
        },
        onCancel: () => {
          this.$message.info('操作取消')
        }
      })
    },
    editItem(item) {
      localStorage.removeItem('buyingItem')
      localStorage.setItem('buyingItem', JSON.stringify(item))
      this.$router.push({
        name: 'editBuyingInfo',
        query: {
          isEdit: 1
        }
      })
    },
    goToEditBuyingInfo() {
      this.$router.push({
        name: 'editBuyingInfo'
      })
    },
    goBackBuyingList() {
      this.$router.push({
        name: 'qrMain'
      })
    },
    getMyBuyingList() {
      this.$httpRequester.post('buy/myBuyResourcesList').then(res => {
        res.forEach((e, i) => {
          e.index = i + 1
          e.wantAreaName = e.wantAreaName || '不限'
          e.destinationAreaName = e.destinationAreaName || '不限'
          e.validDateText = e.validDate || '---'
          e.isEnabled = e.enable ? '有效' : '失效'
        })
        this.tableData = res
        this.getUserBuyCount()
      })
    },

    getUserBuyCount() {
      this.$httpRequester.get('free/count/queryBuyAddCount').then(res => {
        // console.log(res)
        this.freeCount = res ? res.freeCount : 0
      })
    }
  },

  mounted() {
    this.$emit('goBackToTop')
    this.getMyBuyingList()
    //   this.getUserBuyCount()
  }
}
</script>

<style lang="less" scoped>
::v-deep .ant-table-thead > tr > th {
  padding: 0 0 0 16px;
  height: 46px;
  text-align: left;
  background-color: #f2f6f8;
}
::v-deep .ant-table-tbody > tr > td {
  padding: 0 16px;
  height: 46px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.my-buying {
  padding: 16px;
  height: 100%;
  // background-color: #ffffff !important;
  padding-bottom: 40px !important;
  min-height: 774px;

  .userCenter-title{
    display: flex;
    justify-content: space-between;
  }

  .title{
    font-size: 16px;
    font-family: PingFang-SC-Bold, PingFang-SC;
    font-weight: bold;
    color: #282828;

    span{
      font-size: 12px;
      font-weight: 400;
      color: #A0A6AB;
    }
  }

  .history-table {
    .table-operate {
      display: flex;
      align-items: flex-end;
    }

    .table {
      width: 100%;
      margin-top: 20px;
    }
  }

  .back-btns {
    position: absolute;
    right: 34px;
  }

  .noneFreeCount {
    height: 81vh;
    background: #FFFFFF;

    button{
      width: 160px;
      height: 32px;
      background: #00AB94;
      border-radius: 2px;
      margin-top: 30px;
    }
  }
}

.table-warp {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 24px;
    position: relative;
    margin-bottom: 18px;
  }
</style>
