<template>
  <div class="mine-client-page">
    <div class="filter-box">
      <div class="NotFoundBox">
        <div
          :style="'background-image:url(' + NotFound + ')'"
          class="NotFoundImg"
        ></div>
        <h3>404</h3>
        <p>非常抱歉，您访问的页面不存在</p>
        <a-button type="primary" class="return" @click="backHistory">
          返回
        </a-button>
      </div>
    </div>
  </div>
</template>
<script langs="ts">
import Vue from 'vue'
import NotFound from '@/assets/image/404.png'
import {Button, message, Modal} from 'ant-design-vue'
import router from '@/router'
import {userModule} from '@/store/modules/user'

export default Vue.extend({
  data() {
    return {
      NotFound: NotFound
    }
  },
  components: {
    aButton: Button
  },
  methods: {
    backHistory() {
     this.$router.push(localStorage.getItem('canNotFindPage'))
    }
  }
})
</script>
<style lang="less" scoped>
.mine-client-page {
  position: relative;

  .filter-box {
    background-color: #ffffff;
    width: 100%;
    border-radius: 4px;
    padding: 16px 25px;

    .NotFoundBox {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .NotFoundImg {
        height: 280px;
        width: 280px;
      }
      .return {
        margin: 15px 0 20px 0;
      }
    }
  }
}
</style>
