<template>
  <div class="index">
    <div class="title">
      <p class="isActive">修改密码</p>
    </div>
    <div class="change-password">
      <div class="change-content">
        <change-pwd :isFromLogin="false"></change-pwd>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./ChangePassword.ts"></script>

<style lang="scss" scoped>
.index{
  padding: 24px;
}
.isActive{
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 24px;
}
.change-password {
  background-color: #ffffff !important;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  height: 60vh !important;
  .change-content {
    margin: 0 auto;
    width: 520px;
  }
}
</style>

<style lang="scss">
.change-password {
  .change-content {
    .ant-form-item-label {
      label {
        color: #909399 !important;
      }
    }
  }
}
</style>
