<template>
  <div>
    <a-layout id="routerContent" class="root-layout">
      <a-layout-header id="layoutHeader" class="layout-header">
        <root-header></root-header>
        <!-- <div
          class="header-bg"
          :style="'background-image:url(' + bgImage + ')'"
        ></div> -->
        <!-- <top-tools></top-tools> -->
        <!-- <top-menu class="menu"></top-menu> -->
      </a-layout-header>
      <a-layout>
        <a-layout-sider class="layout-sider">
          <xiaoniu-menu ref="xiaoniuMenu"></xiaoniu-menu>
        </a-layout-sider>

        <a-layout-content class="layout-content" id="lc">
          <div
            class="router-history fixed top-[80px] w-full left-[200px]
            min-w-[1000px]  flex  items-center px-[16px] h-[46px] bg-white"
          >
            <!-- {{ historyList }} -->
            <div
              @click="goToHistoryItem(item)"
              :class="{
                currentPgae: item.name === $route.name,
                'history-item': item.name !== $route.name
              }"
              class="text-[12px] cursor-pointer flex-shrink-0 flex items-center
               text-sysPrimary mr-[8px] 
              bg-[#F2F6F8] px-[8px] py-[4px] rounded-[2px]"
              v-for="(item, key) in historyList"
              :key="key"
            >
              {{ item.title }}
              <a-icon
                @click.stop="removeThisItem(key)"
                class="close-icon ml-[8px]"
                type="close"
              />
            </div>
          </div>

          <div class="main-content" id="mainContent">
            <router-view
              class="router-view"
              @goBackToTop="backToTop"
              :key="$route.path"
            >
            </router-view>
          </div>
          <left-side-tool
            @goBackTop="backToTop"
            @showFeedBackModal="showFeedBackModal"
          ></left-side-tool>
          <feed-back ref="feedBackRef"></feed-back>
        </a-layout-content>
        <call-phone></call-phone>
      </a-layout>
    </a-layout>
  </div>
</template>

<script lang="ts" src="./Layout.ts"></script>
<style lang="scss" scoped>
.currentPgae {
  color: #fff;
  background-color: #00ab94;
  .close-icon {
    color: #fff;
  }
}

.ant-layout {
  background-color: #f2f6f8;
}
.root-layout {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  // padding-top: 64px;
  position: relative;
  .history-item {
    .close-icon {
      color: #a0a6ab;
    }
    &:hover {
      background-color: #00ab94;
      color: #fff;
      .close-icon {
        color: #fff;
      }
    }
  }

  .layout-header {
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    line-height: 0;
    .header-bg {
      position: absolute;
      height: 363px;
      top: 0;
      width: 100%;
      background-size: cover;
    }
    .menu {
      margin-top: 45px;
      z-index: 888;
    }
  }
  .layout-sider {
    z-index: 989;
    background-color: #fff;
  }
  .layout-content {
    width: 100%;
    flex-grow: 1;
    position: relative;
    min-height: calc(100vh - 80px);
    background-color: transparent;
    // height: 100%;
    .main-content {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      padding: 61px 66px 16px 16px;
      width: 100%;
      min-width: 1100px;
      .router-view {
        width: 100%;
        border-radius: 2px;
        background-color: transparent;
      }
    }
  }
  .layout-footer {
    background-color: #efefef;
  }
}
</style>
<style lang="scss" scoped>
@media screen and (max-width: 1200px) {
  .router-history {
    left: 0 !important;
    padding-left: 216px !important;
  }
  .layout-content {
    min-height: calc(100vh - 96px) !important;
  }
}
.router-history {
  // position: fixed;
  // cursor: pointer;
  // box-sizing: border-box;
  // // background-color: #4d7cfe;
  // color: #fff;
  // right: 0;
  z-index: 988;
  // border-radius: 4px 0 0 4px;
  box-shadow: 0px 10px 20px 0px rgba(166, 166, 166, 0.1);
}
.feedback-btns {
  top: 370px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
.homepage-style {
  border-radius: 4px !important;
}
.back-to-top {
  bottom: 10%;
  width: 40px;
  right: 17px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  color: #4d7cfe;
  background-color: #e0e8ff;
  img {
    width: 23px;
    height: 30px;
  }
}
</style>
