<template>
  <div class="login-page ">
    <!-- <div
    class="login-page"
    :style="{ 'background-image': 'url(' + BgImage + ')' }"
  > -->
    <div
      :style="{ 'background-image': 'url(' + bgPng + ')' }"
      class="absolute w-[412px] bg-contain h-[514px] right-0 bottom-0 z-[9]"
    ></div>
    <div class="mainBox z-10">
      <!-- <h1 class="main-title">
        <div
          :style="'background-image:url(' + logo + ')'"
          class="main-logo"
        ></div>
      </h1> -->
      <div class="login-from-main">
        <div class="login-form-main-left">
          <a-carousel v-if="picList.length" class="carousel" autoplay>
            <img
              v-for="item in picList"
              :key="item.index"
              :src="item.value"
              alt=""
            />
          </a-carousel>
        </div>
        <!-- :style="'background-image:url(' + loginFrom + ')'" -->
        <div v-if="false" class="login-from">
          <div v-show="isShowUserLogin">
            <div class="loading" v-show="loginLoading">
              <a-spin tip="认证中……" size="large" />
            </div>
            <div class="login-title">用户登录</div>
            <div class="login-select">
              <div
                class="select-btn"
                @click="userPasswordLogin"
                :class="{ isSelect: isUsePassword }"
              >
                密码登录
              </div>
              <div class="line"></div>
              <div
                class="select-btn"
                @click="userVerifyCodeLogin"
                :class="{ isSelect: !isUsePassword }"
              >
                验证码登录
              </div>
            </div>
            <a-form-model
              v-show="isUsePassword"
              ref="loginForm"
              :rules="loginRules"
              labelAlign="left"
              :model="formData"
              :label-col="{ span: 5 }"
            >
              <a-form-model-item prop="account">
                <div class="form-input">
                  <div class="input-main">
                    <a-icon class="iconColor" slot="prefix" type="user" />
                    <input
                      @blur="accountBlur(formData.account)"
                      placeholder="请输入手机号"
                      @change="changeAccount"
                      v-model="formData.account"
                    />
                  </div>

                  <div v-if="accountShow" class="accountShow-explain">
                    请输入正确的手机号码
                  </div>
                </div>
              </a-form-model-item>
              <a-form-model-item prop="password">
                <div class="form-input">
                  <div class="input-main">
                    <a-icon class="iconColor" slot="prefix" type="unlock" />
                    <input
                      type="password"
                      @change="changePassword"
                      @blur="passwordBlur(formData.password)"
                      placeholder="请输入密码"
                      v-model="formData.password"
                    />
                  </div>
                  <div v-if="passwordShow" class="passwordShow-explain">
                    请输入您的密码
                  </div>
                </div>
              </a-form-model-item>
              <a-form-model-item prop="verifyCode">
                <div class="verifycode-input">
                  <div class="form-code-input">
                    <div class="form-code-input-main">
                      <a-icon
                        class="iconColor"
                        slot="prefix"
                        type="safety-certificate"
                      />
                      <input
                        placeholder="请输入验证码1"
                        v-model="formData.verifyCode"
                      />
                    </div>
                  </div>
                  <div @click="randomIdentifyCode" class="code-image">
                    <verify-image
                      :identifyCode="identifyCode"
                      :contentWidth="90"
                      :contentHeight="40"
                    ></verify-image>
                  </div>
                  <a-button
                    @click="randomIdentifyCode"
                    type="link"
                    size="small"
                  >
                    <span style="color: #fff;">换一张</span>
                  </a-button>
                </div>
              </a-form-model-item>
            </a-form-model>
            <a-form-model
              ref="codeForm"
              :rules="codeRules"
              labelAlign="left"
              :model="codeLoginData"
              :label-col="{ span: 5 }"
              v-show="!isUsePassword"
            >
              <a-form-model-item prop="username">
                <div class="form-input">
                  <div class="input-main">
                    <a-icon class="iconColor" slot="prefix" type="user" />
                    <input
                      placeholder="请输入手机号"
                      @change="changeAccount"
                      @blur="codeAccountBlur(codeLoginData.username)"
                      v-model="codeLoginData.username"
                    />
                  </div>
                  <div v-if="accountCodeShow" class="accountShow-explain">
                    请输入正确的手机号码
                  </div>
                </div>
              </a-form-model-item>
              <a-form-model-item prop="verifycode">
                <verify-code
                  class="login-verify"
                  @setVerifyCode="verifyInputCode"
                  ref="verifyInput"
                  :phone="codeLoginData.username"
                  @isReallyPhone="isReallyPhone"
                  :bgColor="bgColor"
                  :loginStyle="loginStyle"
                ></verify-code>
              </a-form-model-item>
            </a-form-model>
            <div class="customer-bt" v-if="isUsePassword">
              <a-checkbox
                @change="changePwdRememberStatus"
                :checked="rememberPwd"
              >
                <span style="color: #fff;">记住密码</span>
              </a-checkbox>
              <a @click="goToFindPassword">
                <span style="color:#1ebdf2;">忘记密码</span>
              </a>
            </div>
            <a-button
              type="primary"
              @click="beforeLogin"
              htmlType="submit"
              class="login-bt"
              block
              >同意协议并登录
            </a-button>
            <div class="agree-checkbox">
              <span>查看</span>
              <a @click="showArgeement">《小牛建讯用户协议》</a>
            </div>
            <div class="register-btn">
              还没有账号??？立刻 <a @click="goToFindRegister">注册</a>
            </div>
          </div>
        </div>
        <div v-if="isLogin" class="login-from">
          <div v-if="!showPhoneBind">
            <div class="lineTitle flex items-center  justify-between">
              <div
                class="cursor-pointer"
                :class="
                  !wechatLogin && !isShowOtherLogin
                    ? 'text-textTip noActive-line'
                    : 'text-sysPrimary font-medium active-line'
                "
                @click="showWechatLogin"
              >
                微信扫码登录
              </div>
              <div
                class=" cursor-pointer"
                :class="
                  !isUserVerifyCode
                    ? 'text-textTip noActive-line'
                    : 'text-sysPrimary font-medium active-line'
                "
                @click="showVerifyLogin"
              >
                验证码登录
              </div>

              <!-- <div
                v-if="!isUsePassword && isElectron"
                @click="showPasswordLogin"
              > -->
              <div
                class=" cursor-pointer"
                :class="
                  !isUsePassword
                    ? 'text-textTip noActive-line'
                    : 'text-sysPrimary font-medium active-line'
                "
                @click="showPasswordLogin"
              >
                账号密码
              </div>
            </div>
          </div>
          <div
            v-if="showPhoneBind"
            class="text-center text-[16px] text-sysPrimary font-medium"
          >
            绑定账号
          </div>
          <div v-if="wechatLogin">
            <!-- <div class="login-title">微信扫码登录</div> -->
            <wechat-login
              @bindMobile="showBindMobileBtns"
              @wechatLoginSuccess="wechatLoginSuccess"
            ></wechat-login>
          </div>
          <div v-if="bindBtns">
            <div class="sub-title">该微信暂未绑定小牛建讯账号</div>
            <div class="bind-btns" style="margin-bottom: 135px;">
              <a-button size="large" class="bind-btn" @click="bindNewAccount"
                >注册新账号</a-button
              >
              <a-button
                size="large"
                class="bind-btn"
                @click="bindHadAccount"
                type="primary"
              >
                绑定已有账号
              </a-button>
            </div>
          </div>
          <div v-if="showRegister">
            <div
              class="login-title"
              style="margin-top: -29px;margin-bottom: 15px;"
            >
              绑定新手机号
            </div>
            <register-componment
              :wechatCode="wechatCode"
              @wechatLoginSuccess="wechatLoginSuccess"
            ></register-componment>
          </div>
          <div v-if="showPhoneBind">
            <!-- <div class="login-title">绑定已有账号</div> -->
            <had-phone
              :wechatCode="wechatCode"
              @wechatLoginSuccess="wechatLoginSuccess"
            ></had-phone>
          </div>
          <div v-if="isUsePassword">
            <!-- <div class="login-title">密码登录</div> -->
            <password-login @login="userLogin"></password-login>
          </div>
          <div v-if="isUserVerifyCode">
            <!-- <div class="login-title">验证码登录</div> -->
            <use-verify-code @login="userLogin"></use-verify-code>
          </div>
          <div class="agree-checkbox" v-if="!bindBtns && !wechatLogin">
            <span>查看</span>
            <a @click="showArgeement">《小牛建讯用户协议》</a>
          </div>

          <!-- <div v-if="isElectron">v-if="showPhoneBind && isElectron" -->
          <!--          v-if="false"-->
          <!--          <div >
            <div
                class="goToFindRegister"
                v-if="isUserVerifyCode || isUsePassword"
            >
              还没有账号？立刻 <a @click="goToFindRegister">注册</a>
            </div>
          </div>-->
          <div class="agree-checkbox agree-checkboxLeft " v-if="showRegister">
            <span>已有账号？</span><a @click="bindHadAccount">绑定已有账号</a>
          </div>
          <div
            v-if="false"
            class="agree-checkbox text-center"
            style="margin-bottom: 20px;"
          >
            <span>没有账号？</span><a @click="bindNewAccount">注册新账号</a>
          </div>
          <!-- <div
            :class="{
              otherMethods:
                isUserVerifyCode ||
                isUsePassword ||
                wechatLogin ||
                isShowOtherLogin,
              otherMethodsPosition: showRegister
            }"
            v-show="
              wechatLogin ||
                isUserVerifyCode ||
                isUsePassword ||
                isShowOtherLogin
            "
          >
            <div class="other-tips">
              <div class="tip-line"></div>
              其他登录方式
              <div class="tip-line"></div>
            </div>
          </div> -->

          <div class="tipsText">
            <p>温馨提示：</p>
            <p>推荐使用谷歌浏览器</p>
            <p><span>23:00-次日07:00</span>系统更新维护数据，暂停服务哟</p>
            <p>如有疑问，请联系您的专属管家：400-902-8966</p>
          </div>
        </div>
        <!--        :style="'background-image:url(' + loginFrom + ')'"-->
        <div class="login-from" v-else>
          <router-view v-if="isShowReg"></router-view>
          <div class="tipsText">
            <p>温馨提示：</p>
            <p>推荐使用谷歌浏览器</p>
            <p><span>23:00-次日07:00</span>系统更新维护数据，暂停服务哟</p>
            <p>如有疑问，请联系您的专属管家：400-902-8966</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-info"></div>

    <a-modal
      title="小牛建讯用户协议"
      :visible="agreement"
      @ok="() => closeModal()"
      @cancel="() => closeModal()"
    >
      <user-service-text></user-service-text>
      <div slot="footer">
        <a-button @click="closeModal()"> 确认</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script lang="ts" src="./Login.ts"></script>

<style lang="scss">
.login-verify {
  .verify-btn[disabled] {
    color: #fff !important;
    border: none;
  }
}
input::placeholder {
  /* Mozilla Firefox 19+ */
  color: #bfbfbf !important;
}
</style>
<style lang="less" scoped>

.reminder{
  font-size: 14px;
  font-weight: 400;
  color: #FF7F28;
  line-height: 20px;
  margin-bottom: 6px;
}
.passwordShow-explain {
  color: #f5222d;
  font-size: 12px;
  margin-bottom: -1px;
  clear: both;
  min-height: 22px;
  margin-top: -1px;
  line-height: 1.5;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.accountShow-explain {
  color: #f5222d;
  font-size: 12px;
  margin-bottom: -1px;
  clear: both;
  min-height: 22px;
  margin-top: -1px;
  line-height: 1.5;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.iconColor {
  color: #282828;
  margin-left: 7px;
  margin-right: 7px;
}

.form-input {
  background-color: transparent;
  outline: none;
  border: 0;
  color: #fff;
  box-shadow: none;
  appearance: none;
  .input-main {
    display: flex;
    align-items: center;
    input {
      background-color: transparent;
      border: 0;
      outline: none;
      box-shadow: none;
      width: 90%;
      height: 38px;

      &:hover {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.form-input /deep/ .ant-input {
  background-color: transparent;
  outline: none;
  border: 0;
  color: #fff;
  box-shadow: none;
  appearance: none;

  &:hover {
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-code-input {
  width: 140px;
  height: 40px;
  border: 2px solid #0a78b2;
  line-height: 40px;
  border-radius: 2px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: #282828;
  .form-code-input-main {
    display: flex;
    align-items: center;
    input {
      width: 75%;
      height: 38px;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      outline: none;
      &:hover {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.customer-bt /deep/ .ant-checkbox-inner {
  appearance: none;
  border: 2px solid #1ebdf2;
  background-color: transparent;
}

.slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel {
  background-color: #ccc;
}

.slick-slide h3 {
  color: red;
}

.login-page {
  position: relative;
  min-width: 100%;
  max-width: 1920px;
  // height: 950px;
  min-height: 100%;
  background-size: cover;
  background-color: #f2f6f8;
  background-repeat: no-repeat;
  background-position: 50%;

  .mainBox {
    width: 984px;
    height: 576px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main-title {
      text-align: center;
      width: 100%;
      font-size: 50px;
      font-family: 'longna';
      position: absolute;
      top: -150px;

      .main-logo {
        width: 230px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
      }
    }

    .login-from-main {
      //background-color: #282828;
      display: flex;
      width: 100%;
      height: 100%;
      .login-form-main-left {
        width: 501px;
        height: 100%;

        .carousel {
          img {
            width: 501px;
            height: 576px;
          }
        }
      }

      .login-from {
        width: 376px;
        // min-width: 483px;
        height: 100%;
        background-size: cover;
        background-position: center;
        padding: 60px 32px 24px 32px;
        position: relative;
        background-color: #fff;
        // border-radius: 4px;
        .tipsText {
          position: absolute;
          bottom: 24px;
          left: 32px;
          right: 0;
          font-size: 14px;
          margin: 0 auto;
          color: #A0A6AB;
          span{
            color: #FF7F28;
          }
        }

        .lineTitle {
          border-bottom: 1px solid #f2f6f8;
          //background: #F2F6F8;
          margin-bottom: 40px;
        }
        .active-line {
          //width: 65px;
          //height: 4px;
          padding-bottom: 16px;
          border-bottom: 4px solid #00ab94;
          //background: #;
        }
        .noActive-line {
          padding-bottom: 20px;
        }

        .login-select {
          display: flex;
          align-items: center;
          height: 40px;
          margin-bottom: 20px;
          justify-content: space-between;

          .line {
            height: 40px;
            width: 1px;
            background-color: #999999;
          }

          .select-btn {
            width: 49%;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
            text-align: center;

            &:hover {
              color: #1ebdf2;
            }
          }

          .isSelect {
            color: #1ebdf2;
          }
        }
        .sub-title {
          font-size: 20px;
          color: #282828;
          font-weight: bold;
          margin-top: 100px;
          margin-bottom: 24px;
          width: 100%;
          position: relative;
          text-align: center;
        }
        .bind-btns {
          width: 100%;
          margin-bottom: 42px;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: space-between;
          .bind-btn {
            margin-top: 32px;
            padding: 0 24px;
          }
        }
        .goToFindRegister {
          margin: 16px 0 26px 0;
          color: #686868;
          text-align: center;
          a {
            color: #00ab94;
          }
        }
        .bind-tips {
          font-weight: 400;
          color: #686868;
          position: absolute;
          bottom: 24px;
          font-size: 14px;
          left: 0;
          right: 0;
          margin: 0 auto;
          text-align: center;
        }

        .loading {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1000;
          padding-top: 30% !important;
          text-align: center;
          background-color: rgba(175, 175, 175, 0.3);
        }

        .login-title {
          font-size: 26px;
          color: #282828;
          font-weight: bold;
          margin-bottom: 29px;
          width: 100%;
          text-align: center;
        }

        .form-input {
          height: 40px;
          line-height: 40px;
          border-radius: 5px;
          border: 2px solid #0a78b2;
        }

        .verifycode-input {
          display: flex;
          align-items: center;
          width: 100%;
          flex-shrink: 0;
          justify-content: space-between;

          .code-image {
            width: 90px;
            height: 40px;
            cursor: pointer;
            border-radius: 5px;
            //background-color: #282828;
          }

          //.form-code-input {
          //  width: 132px;
          //  height: 40px;
          //  border: 2px solid #0a78b2;
          //  line-height: 40px;
          //  border-radius: 4px;
          //
          //}
        }

        .customer-bt {
          margin-top: -10px;
          display: flex;
          justify-content: space-between;
        }

        .remember-pwd {
          margin-top: 15px;
        }

        .login-bt {
          background-color: #1ebdf2;
          height: 36px;
          border: none;
          font-weight: bold;
          line-height: 36px;
          margin-top: 25px;
        }

        .agree-checkboxLeft {
          position: relative;

          top: -41px;
          left: 187px;
        }
        .agree-checkbox {
          text-align: left;
          margin-top: 15px;
          font-size: 14px;
          color: #686868;
          a {
            color: #00ab94;
          }
        }

        .register-btn {
          margin-top: 20px;
          text-align: center;
          width: 100%;
          color: #fff;

          a {
            color: #1ebdf2;
          }
        }
        .otherMethodsPosition {
          margin-top: -25px;
          width: 100%;
          .other-tips {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            .tip-line {
              width: 30%;
              height: 1px;
              background-color: #fff;
            }
          }
        }
        .otherMethods {
          width: 100%;
          .other-tips {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            .tip-line {
              width: 30%;
              height: 1px;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
</style>
