<template>
  <div class="vip-page">
    <a-button class="back-homepage" @click="backToReceipt" icon="double-left">
      返回上一页
    </a-button>
    <div :style="'background-image:url(' + vipBg + ')'" class="version-choose">
      <div class="main-title">加入VIP，享受更多服务</div>
      <div class="vip-carousel">
        <img :src="laba" alt="小牛建讯"/>
        <a-carousel :dots="false" autoplay dot-position="right">
          <div v-for="(item, key) in fakeNews" :key="key" class="news">
            <span>{{ item }}</span>
          </div>
        </a-carousel>
        <a-carousel :dots="false" autoplay dot-position="right">
          <div v-for="(item, key) in fakeNews" :key="key" class="news">
            <span>{{ item }}</span>
          </div>
        </a-carousel>
      </div>
      <div class="choose-content">
        <div
            v-for="(item, key) in versionList"
            :key="key"
            :class="{ versonSelect: selectIndex === key }"
            class="version"
            @mouseleave="mouseLeave(key)"
            @mouseover="mouseOver(key)"
        >
          <div v-if="item.type" class="discount">限时优惠</div>
          <div class="title"><p>{{ item.title }}</p></div>
          <div v-if="item.tips" class="versiontips">{{ item.tips }}</div>
          <div v-if="item.type" class="price">
            <div class="price-item">
              <div class="number">
                <span class="point">￥{{ item.amount }}</span>
                <span class="year">/年</span>
                <!-- <span style="font-size:14px ">元</span> -->
              </div>
              <div class="average">原价{{ item.oldAmount }}元</div>
            </div>
          </div>
          <div v-if="item.type === ''" class="group">
            <p class="groupTitle">主账号可以增减子账号<br/>解决人员流动问题</p>
            <ul>
              <li class="info">
                <span>系统集成</span> <span>界面风格定制</span>
              </li>
              <li>
                <span>个性化需求</span>
              </li>
            </ul>
          </div>
          <div>
            <a-button
                class="open-btns"
                @click="openPayMent(item, key)"
            >{{ item.text }}
            </a-button>
          </div>
          <!--          <div v-if="item.type" class="other">-->
          <!--            支付后可开发票，详情咨询客服<br/>400-902-8966-->
          <!--          </div>-->
          <!--          <div v-if="item.type === ''" class="other">-->
          <!--            如需开通定制版请联系客服查询报价<br/>客服热线：400-902-8966-->
          <!--          </div>-->
        </div>
      </div>
      <div class="customerService">
        所有版本的会员只要支付后都可开发票，详情咨询客服：400-902-8966
      </div>
    </div>

    <div class="contrast-table">
      <div id="tableWarp" class="table-warp">
        <div v-show="showFakeTableHead" :style="fakeClass" class="fake-title">
          <div class="fake-table-head">服务介绍</div>
          <div class="fake-table-head">免费体验版<br/>(有效期3天)</div>
          <div class="fake-table-head">VIP个人版</div>
          <div class="fake-table-head">VIP集团版</div>
          <div class="fake-table-head">VIP企业版</div>
          <div class="fake-table-head">VIP定制版</div>
        </div>
        <a-table
            :columns="columns"
            :data-source="tableData"
            :pagination="false"
            bordered
            class="table"
            rowKey="index"

        >
          <div slot="descriptionTitle" class="table-column-title">服务介绍</div>
          <div slot="freeTitle" class="table-column-title">
            免费体验版<br/><span class="info">(有效期3天)</span>
          </div>
          <div slot="personTitle" class="table-column-title">VIP个人版</div>
          <div slot="enterpriseTitle" class="table-column-title">VIP企业版</div>
          <div slot="enterprisePlusTitle" class="table-column-title">VIP企业Plus版</div>
          <div slot="customerTitle" class="table-column-title">VIP集团版</div>
          <div slot="teamTitle" class="table-column-title">VIP定制版</div>
          <template slot="description" slot-scope="item">
            <div class="service-title">{{ item.title }}</div>
            <p class="service-text">{{ item.text }}</p>
          </template>
          <template slot="check" slot-scope="item">
            <div v-if="item === 'check'">
              <a-icon type="check"/>
            </div>
            <div v-else>{{ item }}</div>
          </template>
        </a-table>
      </div>
    </div>
    <div class="product">
      <div class="productTitle">
        <div class="productTitleTop">
          <div class="productTitleText">
            为什么大家都使用小牛建讯开展资质服务？
          </div>
        </div>

      </div>
      <div class="productMain">
        <ul>
          <li>
            <div class="productMainText  singular">
              <p>数据全面、精准、更新快</p>
              <p>
                智能AI大数据架构，全网数据自动更新，结合人工24小时内手动抽样校验，保证数据更新快的同时更加精准有效输入搜索关键筛选条件，3秒即可查询全网建筑资质信息。
              </p>
<!--              <a-button
                  class="productMainTextBtn"
                  type="primary"
                  @click="goToProduct"
              >立即体验
              </a-button>-->
            </div>
            <img
                :src="describe1"
                alt="小牛建讯"

            />
          </li>
          <li>
            <img
                class="dbNum"
                :src="describe2"
                alt="小牛建讯"

            />
            <div class="productMainText">
              <p>更懂您的营销系统</p>
              <p>
                20年资深资质团队全程参与研发设计，懂行情、懂政策，更懂资质服务需要什么！资质查询、资质社区、进出货查询，量身为资质服务定制的营销系统！
              </p>
<!--              <a-button
                  class="productMainTextBtn"
                  type="primary"
                  @click="goToProduct"
              >立即体验
              </a-button>-->
            </div>
          </li>
          <li>
            <div class="productMainText singular">
              <p>多维筛选覆盖全网95%资质信息</p>
              <p>
                100+筛选维度，覆盖全网95%建筑资质信息，3s精准锁定目标客户；操作简单，全程小牛VIP客服一对一服务，体验更轻松。
              </p>
<!--              <a-button
                  class="productMainTextBtn"
                  type="primary"
                  @click="goToProduct"
              >立即体验
              </a-button>-->
            </div>
            <img
                :src="describe3"
                alt="小牛建讯"
            />
          </li>
        </ul>
      </div>
    </div>
    <a-modal
        :title="modalTitle"
        :visible="modalVisible"
        centered
        width="650px"
        @cancel="closeModal"
    >
      <div class="buy-info">
        <div class="info-item">购买类型：{{ buyType }}</div>
        <div v-if="isTeam" class="info-item">团队人数：{{ teamNum }}</div>
        <!--        <div class="info-item">购买账号：{{ buyAccount }}</div>-->
        <div class="info-item">套餐有效期：{{ buyTime }}</div>
        <div class="info-item">实付金额：{{ buyAmount }}</div>
      </div>
      <div class="buy-methods">
        <div class="method-btns">
          <a-button
              v-for="(item, key) in payMethods"
              :key="key"
              :icon="item.icon"
              :type="methodIndex === item.value ? 'primary' : 'default'"
              @click="selectPayMethods(item)"
          >
            {{ item.name }}
          </a-button>
        </div>
        <div class="method-info">
          <img v-if="methodIndex === 3" :src="wechatPay" class="pay-qr"/>
          <img v-else-if="methodIndex === 2" :src="companyPay" class="pay-qr"/>
          <div v-else class="bank">
            <img :src="bankPay" class="bank-logo"/>
            <div class="bank-info">
              <p>
                <span class=""> 开户名称：</span>龙绚数据运营有限公司<br/>
                <span>开户银行：</span>招商银行股份有限公司成都世纪城支行<br/>
                <span v-html="'账 &nbsp;&nbsp; &nbsp; &nbsp;户：'"> </span>1289
                1170 1910 501
              </p>
              <p class="bank-tips">
                友情提醒：充值时请在备注栏留下联系方式（即小牛建讯注册账号），以便官方服务人员与您取得联系，确认开通事宜。
              </p>
            </div>
          </div>

          <div class="pay-tips">
            说明：<br/>
            1.充值成功后，1个工作日内开通<br/>
            2.请保留支付凭证，联系客服开具发票，服务电话：400-902-8966
          </div>
        </div>
      </div>
      <div slot="footer">
        <a-button type="primary" @click="closeModal">确认</a-button>
      </div>
    </a-modal>

  </div>
</template>

<script>
// import bg from '@/assets/bg_1.png'
import wechatPay from '@/assets/image/pay/wechatPay.jpg'
import aliPay from '@/assets/image/pay/aliPay.jpg'
import bankPay from '@/assets/image/pay/bankPay.jpg'
import companyPay from '@/assets/image/pay/companyPay.png'
import vipBg from '@/assets/vipImage/vip_bg.png'
import laba from '@/assets/vipImage/laba.png'
import describe1 from '@/assets/vipImage/describe1.png'
import describe2 from '@/assets/vipImage/describe2.png'
import describe3 from '@/assets/vipImage/describe3.png'
import Cookies from 'js-cookie'
import {mapMutations} from 'vuex'
import { Carousel, Modal, Table } from 'ant-design-vue'


export default {
  name: 'vip-page',
  components: {
    aCarousel: Carousel,
    aModal: Modal,
    aTable: Table
  },
  computed: {
    projectEnv() {
      if (process.env.VUE_APP_TYPE) {
        return process.env.VUE_APP_TYPE
      } else {
        return 'online'
      }
    }
  },
  data() {
    return {
      describe1,
      describe2,
      describe3,
      laba,
      showFakeTableHead: false,
      // bg,
      vipBg,
      wechatPay,
      aliPay,
      bankPay,
      companyPay,
      buyType: '',
      buyTime: '',
      buyAccount: '',
      buyAmount: '',
      payMethods: [
        {name: '对公转账', value: 1, icon: 'bank'},
        {name: '支付宝支付', value: 2, icon: 'alipay'}
        // { name: "微信支付", value: 3, icon: "wechat" }
      ],
      methodIndex: 1,
      modalTitle: '',
      modalVisible: false,
      selectIndex: 0,
      fakeNews: [
        '184****3241 1天前购买了1年VIP企业版',
        '173****1311 5天前购买了1年VIP企业Plus版',
        '133****8573 5分钟前购买了1年VIP企业版',
        '139****3229 6天前购买了1年VIP企业Plus版',
        '150****1675 2天前购买了1年VIP企业版'
      ],
      isTeam: false,
      teamNum: 10,
      oneYearOld: 7200,
      twoYearOld: 13800,
      oneYear: 5680,
      twoYear: 9988,
      selectTeamIndex: 1,
      bill: '',
      columns: [
        {
          dataIndex: 'description',
          width: '324px',
          align: 'center',
          key: 'description',
          slots: {title: 'descriptionTitle'},
          scopedSlots: {customRender: 'description'}
        },
        {
          dataIndex: 'free',
          width: '146px',
          align: 'center',
          slots: {title: 'freeTitle'},
          customRender: (value, row, index) => {
            const obj = {
              children: value,
              attrs: {}
            }
            if (index === 3) {
              obj.attrs.rowSpan = 3
            } else if (index === 4) {
              obj.attrs.rowSpan = 0
            } else if (index === 5) {
              obj.attrs.rowSpan = 0
            } else if (index === 6) {
              obj.attrs.rowSpan = 2
            } else if (index === 7) {
              obj.attrs.rowSpan = 0
            }
            return obj
          }
        },
        {
          dataIndex: 'person',
          width: '146px',
          align: 'center',
          slots: {title: 'personTitle'},
          scopedSlots: {customRender: 'check'},
          customRender: (value, row, index) => {
            let obj = {
              children: value,
              attrs: {}
            }
            if (index === 3) {
              obj.attrs.rowSpan = 3
            } else if (index === 4) {
              obj.attrs.rowSpan = 0
            } else if (index === 5) {
              obj.attrs.rowSpan = 0
            } else if (index === 6) {
              obj.attrs.rowSpan = 2
            } else if (index === 7) {
              obj.attrs.rowSpan = 0
            } else {
              obj = {
                children: value === 'check' ? <a-icon type="check"/> : value,
                attrs: {}
              }
            }
            return obj
          }
        },
        {
          dataIndex: 'enterprise',
          width: '146px',
          align: 'center',
          slots: {title: 'enterpriseTitle'},
          scopedSlots: {customRender: 'check'},
          customRender: (value, row, index) => {
            let obj = {
              children: value,
              attrs: {}
            }
            if (index === 3) {
              obj.attrs.rowSpan = 3
            } else if (index === 4) {
              obj.attrs.rowSpan = 0
            } else if (index === 5) {
              obj.attrs.rowSpan = 0
            } else if (index === 6) {
              obj.attrs.rowSpan = 2
            } else if (index === 7) {
              obj.attrs.rowSpan = 0
            } else {
              obj = {
                children: value === 'check' ? <a-icon type="check"/> : value,
                attrs: {}
              }
            }
            return obj
          }
        },
        {
          dataIndex: 'enterprisePlus',
          width: '146px',
          align: 'center',
          slots: {title: 'enterprisePlusTitle'},
          scopedSlots: {customRender: 'check'},
          customRender: (value, row, index) => {
            let obj = {
              children: value,
              attrs: {}
            }
            if (index === 3) {
              obj.attrs.rowSpan = 3
            } else if (index === 4) {
              obj.attrs.rowSpan = 0
            } else if (index === 5) {
              obj.attrs.rowSpan = 0
            } else if (index === 6) {
              obj.attrs.rowSpan = 2
            } else if (index === 7) {
              obj.attrs.rowSpan = 0
            } else {
              obj = {
                children: value === 'check' ? <a-icon type="check"/> : value,
                attrs: {}
              }
            }
            return obj
          }
        },
        {
          dataIndex: 'customer',
          width: '146px',
          align: 'center',
          slots: {title: 'customerTitle'},
          scopedSlots: {customRender: 'check'},
          customRender: (value, row, index) => {
            let obj = {
              children: value,
              attrs: {}
            }
            if (index === 3) {
              obj.attrs.rowSpan = 3
            } else if (index === 4) {
              obj.attrs.rowSpan = 0
            } else if (index === 5) {
              obj.attrs.rowSpan = 0
            }   else {
              obj = {
                children: value === 'check' ? <a-icon type="check"/> : value,
                attrs: {}
              }
            }
            return obj
          }

        },
        {
          dataIndex: 'team',
          align: 'center',
          width: '146px',
          slots: {title: 'teamTitle'},
          scopedSlots: {customRender: 'check'},
          /*  customRender: (value, row, index) => {
              let obj = {
                children: value,
                attrs: {}
              }
              if (index === 3) {
                obj.attrs.rowSpan = 3
              } else if (index === 4) {
                obj.attrs.rowSpan = 0
              } else if (index === 5) {
                obj.attrs.rowSpan = 0
              } else if (index === 6) {
                obj.attrs.rowSpan = 2
              } else if (index === 7) {
                obj.attrs.rowSpan = 0
              }  else {
                obj = {
                  children: value === 'check' ? <a-icon type="check"/> : value,
                  attrs: {}
                }
              }
              return obj
            }*/
        }
      ],
      tableData: [],
      contrastData: [
        {
          description: {
            title: '主从账号设置和管理',
            text: '主账号可以增减子账号，解决人员流动问,题主账号统一开发票'
          },
          free: '-',
          person: '-',
          enterprise: 'check',
          team: 'check',
          customer: 'check',
          enterprisePlus:'check'
        },
        {
          description: {
            title: '团队人数',
            text: '主从账号上限总数，解决人员流动问题，团队协作必备'
          },
          free: '1',
          person: '1',
          enterprise: '10',
          team: '无上限',
          customer: '无上限',
          enterprisePlus:'20'
        },
        {
          description: {
            title: '数据分析',
            text:
                '重点省份资质数据分析，新成立无资质企业，申报资质企业， 审批未通过企业'
          },
          free: '-',
          person: 'check',
          enterprise: 'check',
          team: 'check',
          customer: 'check',
          enterprisePlus:'check'
        },
        {
          description: {
            title: '收货查询',
            text: '多条件组合查询定位客户，资质情况，企业工商、风险信息'
          },
          free: '20次/天',
          person: '50次/天',
          enterprise: '1500次/天',
          team: '不限次',
          customer: '集团人数*500次/天',
          enterprisePlus:'4000次/天'
        },
        {
          description: {
            title: '出货查询',
            text: '有无资质分别查询资质相关性推荐，出货成功率更高'
          },
          free: '20次/天',
          person: '50次/天',
          enterprise: '1500次/天',
          team: '不限次',
          customer: '集团人数*500次/天',
          enterprisePlus:'4000次/天'

        },
        {
          description: {
            title: '人员缺口名录',
            text: '平台自动检测企业资质人员配备情况，根据查询条件智能推荐有人员需求的相关企业'
          },
          free: '20次/天',
          person: '50次/天',
          enterprise: '1500次/天',
          team: '不限次',
          customer: '集团人数*500次/天',
          enterprisePlus:'4000次/天'

        },
        {
          description: {
            title: '发布资源',
            text:
                '库存/在途资源共享，中介公司资源情况，是否包函、可控股信息轻松掌握'
          },
          free: '3次',
          person: '50次',
          enterprise: '50次',
          team: '不限次',
          customer: '不限次',
          enterprisePlus:'50次'
        },
        {
          description: {
            title: '求购资源',
            text: '求购信息发布，全网寻找，解决找货困难'
          },
          free: '3次',
          person: '50次',
          enterprise: '50次',
          team: '不限次',
          customer: '不限次',
          enterprisePlus:'50次'
        },
        {
          description: {
            title: '供需配对',
            text: '系统自动匹配供求信息，配对成功，短信互推，第一时间抓住商机'
          },
          free: '-',
          person: 'check',
          enterprise: 'check',
          team: 'check',
          customer: 'check',
          enterprisePlus:'check'
        },
        {
          description: {
            title: '中介资源',
            text: '重点省份中介及资源分布情况'
          },
          free: '-',
          person: 'check',
          enterprise: 'check',
          team: 'check',
          customer: 'check',
          enterprisePlus:'check'

        },
        {
          description: {
            title: '公示公告',
            text: '重点地区批前公示、批后公告、控股变化企业信息查询'
          },
          free: '-',
          person: 'check',
          enterprise: 'check',
          team: 'check',
          customer: 'check',
          enterprisePlus:'check'

        },
        {
          description: {
            title: '知识库',
            text: '政策文件,资质百科、标准、问答等应有尽有'
          },
          free: '-',
          person: 'check',
          enterprise: 'check',
          team: 'check',
          customer: 'check',
          enterprisePlus:'check'

        },
        {
          description: {
            title: '我的客户',
            text: '客户跟踪管理,收货/出货数据统一管理'
          },
          free: '-',
          person: '个人记录',
          enterprise: '企业记录',
          team: '集团记录',
          customer: '团队记录',
          enterprisePlus:'企业记录'

        },
        {
          description: {
            title: '定制服务',
            text: '  更多个性化定制服务'
          },
          free: '-',
          person: '-',
          enterprise: '-',
          team: 'check',
          customer: '-',
          enterprisePlus:'-'

        },
        {
          description: {
            title: '专属客服',
            text: '1对1专属客服服务，赋能资质服务'
          },
          free: '-',
          person: '免费',
          enterprise: '免费',
          team: '免费',
          customer: '免费',
          enterprisePlus:'免费'

        }
      ],
      tablePosition: {},
      fakeClass: {},
      versionList: [
        {
          title: 'VIP企业Plus版会员',
          type: 'enterprisePlus',
          amount: '25800',
          oldAmount: '29800',
          text: '立即开通',
          tips: '最多可支持20个账号使用'
        },
        {
          title: 'VIP个人版会员',
          type: 'person',
          amount: '3200 ',
          oldAmount: '4200',
          text: '立即开通',
          tips: ''
        },
        {
          title: 'VIP企业版会员',
          type: 'enterprise',
          amount: '13800',
          oldAmount: '15800',
          text: '立即开通',
          tips: '最多可支持10个账号使用'
        },

        {
          title: 'VIP集团版会员',
          type: 'team',
          amount: '32800',
          oldAmount: '37800',
          text: '立即开通',
          tips: '账号数量无上限!'
        },
        {
          title: 'VIP定制版会员',
          type: '',
          amount: '',
          oldAmount: '',
          text: '立即开通',
          tips: ''
        }
      ],
      memberTypeList: [
        {
          title: 'VIP企业Plus版会员',
          type: 'enterprisePlus',
          amount: '25800',
          oldAmount: '29800',
          teamNum:'20人',
          tips: '最多可支持20个账号使用'
        },
        {
          title: 'VIP个人版会员',
          type: 'person',
          amount: '3200 ',
          oldAmount: '4200',
          tips: ''
        },
        {
          title: 'VIP企业版会员',
          type: 'enterprise',
          amount: '13800',
          oldAmount: '15800',
          teamNum:'10人',
          tips: '企业版限制10个账号'
        },
        {
          title: 'VIP集团版会员',
          type: 'team',
          amount: '32800',
          oldAmount: '37800',
          teamNum:'不限',
          tips: '集团版账号不限制'
        }
      ]
    }
  },
  methods: {
    ...mapMutations(['setShowLoginModal']),
    backToReceipt() {
      if (this.$route.query.fromUrl) {
        this.$router.push({
          name: this.$route.query.fromUrl
        })
      } else {
        this.$router.push({
          name: 'receipt'
        })
      }
    },
    mouseOver(key) {
      this.selectIndex = key
    },
    mouseLeave(key) {
      this.selectIndex = key
    },
    setBillValue() {
      switch (this.selectTeamIndex) {
        case 1:
          this.bill = this.oneYear
          break
        case 2:
          this.bill = this.twoYear
          break
        default:
          this.bill = ''
          break
      }
    },
    closeModal() {
      this.modalVisible = false
      this.methodIndex = 1
    },
    goToXiaoniuReceipt() {
      // 开发环境
      if (this.projectEnv === 'dev') {
        window.open('http://localhost:8080/#/longna/receipt')
      } else if (
          this.projectEnv === 'online' ||
          this.projectEnv === 'preview'
      ) {
        // 预发  正式环境
        window.open('http://www.xnjx666.com:9000/#/longna/receipt')
      } else if (this.projectEnv === 'test') {
        // 测试环境
        window.open('http://192.168.0.108:8099/#/longna/receipt')
      }
    },
    openPayMent(item, index) {
      if (index === 4) {
        window.open(
            'http://p.qiao.baidu.com/cps/chat?siteId=16126914&userId=29006515&siteToken=021ffcc1cc48017af59aa14863832a01'
        )
      } else {
        // this.beforeSendHttp().then(() => {
        const account = Cookies.get('memberName')
        const modalData = this.memberTypeList.find((item, key) => key === index)
        this.modalTitle = `${modalData.title} 购买`
        this.buyType = `1年${modalData.title}服务`
        this.buyTime =
            this.$moment().format('YYYY-MM-DD') +
            '~' +
            this.$moment()
                .add(1, 'year')
                .format('YYYY-MM-DD')
        this.buyAccount = account
        this.buyAmount = '￥' + modalData.amount
        if (modalData.type === 'person') {
          this.isTeam = false
        } else {
          this.isTeam = true
          this.teamNum = modalData.teamNum
        }
        this.modalVisible = true
        // })
      }
    },
    async beforeSendHttp() {
      // const isLogin = async () => {
      // try {
      const id = Cookies.get('userId')
      if (id) {
        await this.$httpRequester
            .get('member/get', {id})
            .then(() => {
              this.modalVisible = true
            })
            .catch(() => {
              this.modalVisible = false
              // if (err.code === '2005') {
              // this.expriedModalShow = true
              // } else {
              // this.$message.warning('您还未登录，请先登录注册后再进行购买', 0.5)
              // this.goToXiaoniuReceipt()
              // }
            })
      } else {
        this.modalVisible = false
        // this.$message.warning('您还未登录，请先登录注册后再进行购买', 0.5)
        // setTimeout(() => {
        //   this.setShowLoginModal(true)
        // }, 1000)
        // this.goToXiaoniuReceipt()

        // this.$emit("showLoginModal");
        // throw { noLogin: true };
      }
      // } catch (e) {
      //     console.log('err', e)
      // }
    },

    selectPayMethods(item) {
      this.methodIndex = item.value
    },
    // goToLogin() {
    //   // this.$router.push({
    //   //     name: 'Login'
    //   // })
    //   this.$emit("showLoginModal");
    // },
    setFakeTableHead() {
      if (!this.$isServer) {
        const tableDom = document.getElementById('tableWarp')
        this.tablePosition = tableDom.getBoundingClientRect()
        this.fakeClass = {
          width: this.tablePosition.width + 'px',
          left: this.tablePosition.left + 'px',
          top: 0
        }
        if (this.tablePosition.top <= 0) {
          //是否固定 table 头部
          this.showFakeTableHead = false
        } else {
          this.showFakeTableHead = false
        }
      }
    },
  /*  goToProduct() {
      this.goToXiaoniuReceipt()
    }*/
  },
  mounted() {
    this.$nextTick(() => {
      this.setBillValue()
      this.$emit('goBackTop')
      const self = this
      window.addEventListener('scroll', self.setFakeTableHead)
    })
    this.contrastData.forEach((e, i) => {
      this.tableData.push({
        ...e,
        index: i
      })
    })
  },
  beforeDestroy() {
    if (!this.$isServer) {
      const self = this
      window.removeEventListener('scroll', self.setFakeTableHead)
    }
  }
}
</script>

<!--<style lang="scss">
.addBgc {
  background-color: rgb(230, 247, 255);
  transition: 0.5s;
}
.removeBgc {
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.vip-page {
  td {
    pointer-events: none !important;
  }
}

.vip-carousel {
  height: 60px;
  width: 759px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin: 0 auto 56px;

  img {
    margin-left: 39px;
    height: 19px;
    margin-right: 35px;
  }

  .ant-carousel {
    .slick-slide {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      font-weight: 400;
      color: #d19c55;
    }
  }

  .news {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 400;
    color: #d19c55;

    img {
      display: inline-block;
      padding-right: 35px;
      padding-left: 10px;
    }
  }
}

.table-column-title {
  font-size: 14px;
  color: #c68f49;
  text-align: center;
  font-weight: bold;
}

.buy-info {
  padding: 25px 25px 10px 25px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #999999;

  .info-item {
    width: 50%;
    margin-bottom: 15px;
  }
}

.buy-methods {
  width: 100%;
  margin-top: 20px;

  .method-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .method-info {
    width: 100%;
    margin-top: 30px;

    .pay-qr {
      margin: 0 auto;
      display: block;
      height: 240px;
    }

    .bank {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      margin-bottom: 30px;

      .bank-logo {
        width: 100px;
      }

      .bank-info {
        margin-left: 20px;
        position: relative;
        font-size: 14px;
        color: #232323;

        .bank-tips {
          width: 380px;
          color: #999;
          position: absolute;
          font-size: 12px;
        }
      }
    }

    .pay-tips {
      width: 100%;
      margin-top: 20px;
      text-align: left;
      font-size: 12px;
      color: #999999;
    }
  }
}

.vip-page {
  background-color: #ffffff;

  .service-title {
    font-size: 13px;
    font-weight: bold;
    color: #c68f49;
    width: 100%;
    text-align: center;
  }

  .service-text {
    font-size: 11px;
    font-weight: 400;
    color: #d3ad7e;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0 10px;
  }
}
</style>
<style lang="scss" scoped>
.home-headerNav {
  background-color: rgba(226, 201, 158, 0.15);
  border: 1px solid #d8b277;
}
.table /deep/ table {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  background-color: #ffffff !important;
}
.vip-page {
  width: 100vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-self: center;

  .back-homepage {
    width: 100%;
    text-align: left;
  }
  .version-choose {
    width: 100%;
    height: 924px;
    padding-top: 205px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-title {
      font-size: 33px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 38px;
    }

    .choose-content {
      width: 1200px;
      display: flex;
      align-items: center;
      padding: 30px 0 30px 0;
      position: relative;
      justify-content: space-between;

      .version {
        width: 260px;
        height: 335px;
        position: relative;
        // margin: 0 20px;
        background-color: #ffffff;
        border-radius: 6px;
        // height: 420px;
        //padding: 15px;
        flex-shrink: 0;
        // transform: scale(0.9, 0.9);
        .ant-btn-primary {
          text-shadow: none !important;
          box-shadow: none !important;
        }

        //
        //&:hover {
        //  transform: scale(1.1, 1.1);
        //}

        .title {
          position: absolute;
          top: -19px;
          left: 15%;
          object-fit: fill;
          object-fit: contain;
          object-fit: scale-down;
        }

        .tips {
          font-size: 14px;
          color: #303030;
        }

        .price {
          margin-top: 68px;
          width: 100%;

          .price-item {
            width: 153px;
            height: 120px;
            margin: 0 auto;
            border: solid 1px #cfa972;
            border-bottom: none;
            background-color: #ffffff;
            text-align: center;
            .time {
              margin-top: 18px;
              font-size: 20px;
              background-image: linear-gradient(to top, #e3cba1, #cf964f);
              -webkit-background-clip: text;
              color: transparent;
            }
            .number {
              font-size: 21px;
              font-weight: bold;
              background-image: linear-gradient(to top, #e3cba1, #cf964f);
              -webkit-background-clip: text;
              color: transparent;
            }

            .average {
              font-size: 12px;
              color: #838383;
              text-decoration: line-through;
            }
          }
          .info {
            position: relative;
            top: -13px;
            width: 153px;
            margin: 0 auto;
            font-size: 13px;
            color: #ffd700;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .infoText {
              font-size: 16px;
              color: #fe0000;
            }

            .line {
              height: 1px;
              background-color: #cfa972;
              width: 40px;
            }
          }
        }

        .group {
          position: relative;
          top: -15px;
          .groupTitle {
            text-align: center;
            margin-top: 63px;
            //margin-bottom: 32px;
            font-size: 12px;
            font-weight: 400;
            color: #040404;
            line-height: 18px;
            opacity: 0.4;
          }

          ul {
            margin-left: 30%;
            margin-bottom: 0;
          }

          li {
            text-align: left;
            margin-top: 13px;
          }

          span {
            margin-left: 6px;
            font-size: 14px;
            font-weight: bold;
            background-image: linear-gradient(to top, #dfc193, #d4a260);
            -webkit-background-clip: text;
            color: transparent;
          }
        }

        .selected {
          border-color: #2196f3 !important;
          box-shadow: 2px 2px 1px 1px #e9ecef;
        }

        .team {
          margin-top: 40px;
        }

        .open-btns {
          position: relative;
          top: -10px;
          background-image: linear-gradient(to right, #dfcba6, #c7995d);
          width: 174px;
          border: none !important;
          margin-left: 45px;
          height: 37px;

          font-size: 16px;
          font-weight: 400;
          color: #583713;
        }

        .multip-tips {
          height: 26px;
          line-height: 26px;
          font-size: 12px;
        }

        .versiontips {
          text-align: center;
          font-size: 14px;
          position: relative;
          top: -25px;
        }

        .other {
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          color: #838383;
          //margin-top: 15px;
          margin-bottom: 25px;
        }

        .number-iput {
          margin-top: 20px;
        }
      }

      .versonSelect {
        transform: scale(1.1, 1.1);
      }

      .customized {
        position: absolute;
        // width: 0px;
        right: -120px;

        .project-list {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding: 0 10px;

          .project-item {
            width: 50%;
            margin-top: 10px;
            text-align: left;
          }
        }

        &:hover {
          transform: scale(1, 1);
        }
      }
    }
  }

  .contrast-table {
    width: 100%;
    padding: 40px;

    .table-warp {
      margin: 0 auto;
      background-color: #ffffff;
      min-width: 1200px;
      max-width: 1400px;
      position: relative;

      .fake-title {
        color: #c68f49;
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000;
        // justify-content: space-between;
        border: 1px solid #e8e8e8;
        border-right: none;
        background-color: #fafafa;
        flex-shrink: 0;
        flex-grow: 0;
        box-sizing: border-box;

        .fake-table-head {
          font-size: 18px;
          height: 80px;
          box-sizing: border-box;
          padding: 16px;
          border-right: 1px solid #e8e8e8;
          line-height: 24px;
          text-align: center;
          font-weight: bold;
          color: #c68f49;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 15%;

          &:first-child {
            width: 25%;
          }

          &:last-child {
            border-right: none;
          }
        }

        // height: 24px;
      }
      //#table /deep/ table colgroup col{
      //
      //      background-color: red !important;
      //}
    }
  }

  .product {
    width: 1100px;
    margin: 125px auto 0;

    .productTitle {
      .productTitleTop {
        display: flex;
        //justify-content: space-between;
        align-items: center;

        .productTitleText {
          p:first-child {
            padding: 0 5px;
            font-size: 36px;
            font-weight: bold;
            color: #d19c55;
            margin: 0;
          }
        }

        .line {
          width: 181px;
          height: 3px;
          background: #dbb57f;
          opacity: 0.5;
        }
      }

      .describe {
        font-size: 12px;
        font-weight: 400;
        color: #cea66b;
        opacity: 0.5;
        text-align: center;
      }
    }

    .productMain {
      margin-top: 102px;

      ul {
        margin-bottom: 138px;

        li {
          display: flex;

          .productMainText {
            margin-top: 30px;
            text-align: left;
            position: relative;

            p:first-child {
              font-size: 30px;
              font-weight: bold;
              color: #cea66b;
              margin-bottom: 0;
            }

            p:nth-child(2) {
              margin-top: 26px;
              font-size: 18px;
              font-weight: 400;
              color: #777777;
              line-height: 36px;
            }

            .productMainTextBtn {
              position: absolute;
              bottom: 33px;
              right: 0;
              background-color: #ddb683;
              color: #ffffff;
              width: 220px;
              height: 67px;
              border-radius: 67px;
              border-color: transparent;
              font-size: 30px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
</style>-->

<style lang="scss">
.addBgc {
  background-color: rgb(230, 247, 255);
  transition: 0.5s;
}

.removeBgc {
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.vip-page {
  td {
    pointer-events: none !important;
  }
}

.vip-carousel {
  height: 48px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin: 0 auto;

  img {
    margin-left: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .ant-carousel {
    .slick-slide {
      height: 48px;
      line-height: 48px;
      font-weight: 400;
      font-size: 14px;
      color: #FF7F28;
      //line-height: 20px;
    }
  }

  .news {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 400;
    color: #FF7F28;


  }
}

.table-column-title {
  font-size: 14px;
  color: #542200;
  text-align: center;
  font-weight: 500;

  .info {
    font-weight: normal;


  }
}

.buy-info {
  padding: 25px 25px 10px 25px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #999999;

  .info-item {
    width: 50%;
    margin-bottom: 15px;
  }
}

.buy-methods {
  width: 100%;
  margin-top: 20px;

  .method-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .method-info {
    width: 100%;
    margin-top: 30px;

    .pay-qr {
      margin: 0 auto;
      display: block;
      height: 240px;
    }

    .bank {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      margin-bottom: 30px;

      .bank-logo {
        width: 100px;
      }

      .bank-info {
        margin-left: 20px;
        position: relative;
        font-size: 14px;
        color: #232323;

        .bank-tips {
          width: 380px;
          color: #999;
          position: absolute;
          font-size: 12px;
        }
      }
    }

    .pay-tips {
      width: 100%;
      margin-top: 20px;
      text-align: left;
      font-size: 12px;
      color: #999999;
    }
  }
}

.vip-page {
  background-color: #ffffff;

  .service-title {
    font-size: 14px;
    font-weight: 500;
    color: #542200;
    line-height: 20px;
    width: 100%;
    text-align: center;
  }

  .service-text {
    font-size: 14px;
    font-weight: 400;
    color: #542200;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0;
    //padding: 0 10px;
  }
}
</style>
<style lang="scss" scoped>
.table /deep/ table {
  border: 1px solid #EFF3F6 !important;
}

.table /deep/ .ant-table-bordered .ant-table-thead > tr > th {
  border-right: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
  background-color: #F8F4F2 !important;
  padding: 12px !important;

}

.table /deep/ .ant-table-bordered .ant-table-tbody > tr > td {
  border-right: 1px solid #EFF3F6 !important;
  border-bottom: 1px solid #EFF3F6 !important;
  padding: 12px !important;
  color: #686868;
  font-size: 14px;

}

.home-headerNav {
  background-color: rgba(226, 201, 158, 0.15);
  border: 1px solid #d8b277;
}

.vip-page {
  width: 100vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  .back-homepage {
    width: 100%;
    text-align: left;
  }

  .version-choose {
    width: 100%;
    height: 640px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 68px;
    position: relative;
    padding-bottom: 125px;
    .main-title {
      font-size: 32px;
      font-weight: 500;
      color: #542200;
      line-height: 45px;
      margin-bottom: 24px;
    }

    .choose-content {
      margin-top: 64px;
      width: 1200px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;

      .version {
        width: 210px;
        height: 276px;
        background-color: #ffffff;
        border-radius: 8px;
        flex-shrink: 0;
        position: relative;

        .ant-btn-primary {
          text-shadow: none !important;
          box-shadow: none !important;
        }

        .discount {
          position: absolute;
          top: -12px;
          right: -15px;
          font-size: 12px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 24px;
          text-align: center;
          width: 61px;
          height: 24px;
          background: linear-gradient(90deg, #FFB651 0%, #FF7F28 100%);
          border-radius: 12px 12px 12px 0;
        }

        .title {
          margin-top: 24px;
          width: 100%;
          height: 47px;
          background: linear-gradient(270deg, rgba(255, 182, 81, 0) 0%, rgba(255, 127, 40, 0.1) 100%);
          font-size: 20px;
          font-weight: 600;
          color: #542200;
          line-height: 47px;
          text-align: center;
        }

        .versiontips {
          margin-top: 8px;
          font-size: 12px;
          font-weight: 400;
          color: #542200;
          line-height: 17px;
        }

        .price {
          position: absolute;
          top: 123px;
          width: 100%;

          .price-item {
            width: 153px;
            height: 120px;
            margin: 0 auto;
            //background-color: #ffffff;
            text-align: center;

            .number {
              .point {
                font-size: 26px;
                font-weight: bold;
                color: #FF7F28;
                line-height: 30px;
              }

              .year {
                margin-left: 5px;
                font-size: 17px;
                font-weight: 500;
                color: #FF7F28;
                line-height: 24px;

              }
            }

            .average {
              font-size: 14px;
              font-weight: 500;
              color: #686868;
              line-height: 20px;
              text-decoration: line-through;
              margin-top: 9px;
              opacity: 0.6;
            }
          }
        }

        .group {
          .groupTitle {
            text-align: center;
            margin-top: 8px;
            font-size: 12px;
            font-weight: 400;
            color: #542200;
          }

          ul {
            margin-top: 16px;

            .info {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
          }

          li {
            text-align: center;
            margin-top: 8px;
          }

          span {
            font-size: 16px;
            font-weight: 500;
            color: #FF7F28;
          }
        }

        .selected {
          border-color: #2196f3 !important;
          box-shadow: 2px 2px 1px 1px #e9ecef;
        }

        .team {
          margin-top: 40px;
        }

        .open-btns {
          width: 160px;
          position: absolute;
          top: 195px;
          margin-left: 25px;
          height: 40px;
          background: #FF7F28;
          box-sizing: border-box;
          padding: 0 !important;
          border-radius: 26px;
          border: 4px solid rgba(255, 127, 40, 0.2);
          font-size: 17px;
          font-weight: 400;
          color: #FFFFFF;
        }

        .multip-tips {
          height: 26px;
          line-height: 26px;
          font-size: 12px;
        }

        .versiontips {
          margin-top: 8px;
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          color: #542200;

        }

        .other {
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          color: #838383;
          position: absolute;
          bottom: 25px;
          left: 44px;
        }

        .number-iput {
          margin-top: 20px;
        }
      }

      .versonSelect {
        transform: scale(1.2, 1.2);
        //width: 260px;
        //height: 342px;
        background: linear-gradient(180deg, #FFB651 0%, #FF7F28 100%);
        box-shadow: 0 0 24px 0 #FF7F28;
        border-radius: 8px;
        border: 1px solid #FF812A;
        flex-shrink: 0;
        position: relative;
        .versiontips {
          margin-top: 8px;
          font-size: 12px;
          font-weight: 400;
          color: #FFFFFF !important;
          line-height: 17px;
        }

        .ant-btn-primary {
          text-shadow: none !important;
          box-shadow: none !important;
        }

        .discount {
          position: absolute;
          top: -12px;
          right: -15px;
          font-size: 12px;
          font-weight: 400;
          color: #FF7F28;
          line-height: 24px;
          text-align: center;
          width: 61px;
          height: 24px;
          background: #FDFDFD;
          border-radius: 12px 12px 12px 0;
        }

        .title {
          background: linear-gradient(270deg, rgba(255, 213, 175, 0) 0%, rgba(255, 180, 115, 0.5) 17%, #FF9337 100%);
          margin-top: 24px;
          width: 100%;
          height: 47px;
          font-size: 20px;
          font-weight: 600;
          color: #FFFFFF;
          line-height: 47px;
          text-align: center;
        }



        .price {
          position: absolute;
          top: 123px;
          width: 100%;

          .price-item {
            width: 153px;
            height: 120px;
            margin: 0 auto;
            //background-color: #ffffff;
            text-align: center;

            .number {
              .point {
                font-size: 26px;
                font-weight: bold;
                color: #FFFFFF;
                line-height: 30px;
              }

              .year {
                margin-left: 5px;
                font-size: 17px;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 24px;

              }
            }

            .average {
              font-size: 14px;
              font-weight: 500;
              color: #FFFFFF;
              line-height: 20px;
              text-decoration: line-through;
              margin-top: 9px;
              opacity: 0.6;

            }
          }
        }

        .group {
          .groupTitle {
            text-align: center;
            margin-top: 8px;
            font-size: 12px;
            font-weight: 400;
            color: #FFFFFF;
          }

          ul {
            margin-top: 24px;

            .info {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
          }

          li {
            text-align: center;
            margin-top: 8px;
          }

          span {
            font-size: 16px;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 22px;
          }
        }

        .selected {
          border-color: #2196f3 !important;
          box-shadow: 2px 2px 1px 1px #e9ecef;
        }

        .team {
          margin-top: 40px;
        }

        .open-btns {
          width: 160px;
          position: absolute;
          top: 195px;
          margin-left: 25px;
          height: 40px;
          background: #FFFFFF;
          box-sizing: border-box;
          padding: 0 !important;
          border-radius: 26px;
          border: none;
          //border: 4px solid rgba(173, 70, 0, 0.2);
          font-size: 17px;
          font-weight: 400;
          color: #FF7F28;
        }

        .multip-tips {
          height: 26px;
          line-height: 26px;
          font-size: 12px;
        }

        .versiontips {
          margin-top: 8px;
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          color: #542200;

        }

        .other {
          font-size: 12px;
          font-weight: 400;
          text-align: center;
          color: #838383;
          position: absolute;
          bottom: 25px;
          left: 44px;
        }

        .number-iput {
          margin-top: 20px;
        }
      }

    }
    .customerService{
      position: absolute;
      bottom:30px;
      font-size: 14px;
      font-weight: 400;
      color: #FF8129;
      line-height: 20px;

    }
  }

  .contrast-table {
    width: 100%;
    margin-top: 80px;

    .table-warp {
      margin: 0 auto;
      background-color: #ffffff;
      min-width: 1200px;
      max-width: 1200px;
      position: relative;

      .fake-title {
        color: #c68f49;
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3000;
        // justify-content: space-between;
        border: 1px solid #EFF3F6;
        border-right: none;
        background-color: #EFF3F6;
        flex-shrink: 0;
        flex-grow: 0;
        box-sizing: border-box;

        .fake-table-head {
          font-size: 18px;
          height: 80px;
          box-sizing: border-box;
          padding: 12px;
          border-right: 1px solid #EFF3F6;
          line-height: 24px;
          text-align: center;
          font-weight: bold;
          color: #c68f49;
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 15%;

          &:first-child {
            width: 25%;
          }

          &:last-child {
            border-right: none;
          }
        }

        // height: 24px;
      }

    }
  }

  .product {
    width: 1200px;
    margin: 80px auto 0;

    .productTitle {
      .productTitleTop {
        display: flex;
        //justify-content: space-between;
        align-items: center;

        .productTitleText {
          padding: 0 5px;
          font-size: 36px;
          font-weight: bold;
          color: #d19c55;
          margin: 0 auto;
        }


      }


    }

    .productMain {
      padding-top: 16px;

      ul {


        li {
          width: 1200px;
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          .singular,   .dbNum{
            margin-right: 40px;
          }


          .productMainText {

            margin-top: 88px;
            text-align: left;
            position: relative;

            p:first-child {
              font-size: 24px;
              font-weight: 500;
              color: #FF8800;
              line-height: 33px;
            }

            p:nth-child(2) {
              margin-top: 16px;
              font-size: 14px;
              font-weight: 400;
              color: #303032;
              line-height: 20px;
            }

            .productMainTextBtn {
              position: absolute;
              bottom: 33px;
              right: 0;
              width: 160px;
              height: 40px;
              background-color: #FF7F28;
              border-radius: 24px;
              border-color: transparent;
              font-weight: 400;
              font-size: 16px;
              font-weight: 500;
              color: #FFFFFF;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
</style>
