<template>
  <div class="Dynamic">
    <!--  搜索-->
    <div class="search">
      <!--      <div>筛选查询</div>-->
      <div class="from">
        <div class="from-item">
          <span>标题名称：</span>
          <a-input
            v-model="form.title"
            style=" width: 200px;"
            placeholder="请输入标题名称"
          />
        </div>
        <div class="from-item">
          <span>动态分类：</span>
          <a-select
            style=" width: 200px; "
            placeholder="请选择分类"
            v-model="form.classify"
          >
            <a-select-option
              v-for="item in classifyList"
              :key="item.val"
              :value="item.val"
              >{{ item.label }}</a-select-option
            >
          </a-select>
        </div>
        <div class="from-item">
          <span>创建时间：</span>
          <a-range-picker
            style=" width: 300px;"
            v-model="createDateRange"
            @change="onChange"
          />
        </div>
        <div class="from-item">
          <a-button @click="search" type="primary" class="have-rt-margin"
            >查询</a-button
          >
          <a-button @click="reset">重置</a-button>
        </div>
      </div>
    </div>
    <!--    列表-->
    <div class="list">
      <div class="topBtn">
        <!--        <p>-->
        <!--          数据列表-->
        <!--        </p>-->
        <p>
          <a-button type="primary" @click="addDynamic">新增动态</a-button>
        </p>
      </div>
      <a-table
        @change="changePageNum"
        :columns="columns"
        :pagination="pagination"
        rowKey="index"
        :data-source="tableData"
      >
        <template slot="operate" slot-scope="item">
          <div class="operate">
            <operate :btns="item.btns" :info="item"></operate>
          </div>
        </template>
      </a-table>
    </div>
    <!--    编辑,添加-->
    <a-drawer
      :title="title"
      placement="right"
      width="70%"
      :destroyOnClose="true"
      :visible="visible"
      @close="onClose"
    >
      <a-form-model
        :model="formModal"
        ref="dynamicForm"
        :rules="ruleCustom"
        :label-col="{ span: 4 }"
        :wrapper-col="{ offset: 5 }"
      >
        <a-form-model-item label="动态分类:" prop="dynamicTypeEnum">
          <a-select style="width: 300px;" v-model="formModal.dynamicTypeEnum">
            <a-select-option
              v-for="(item, index) in dynamicTypeEnumList"
              :key="index"
              :value="item.val"
              :title="item.label"
              >{{ item.label }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="标题名称:" prop="title">
          <a-input
            style="width: 300px;"
            v-model="formModal.title"
            placeholder="请输入标题名称"
          />
        </a-form-model-item>
        <a-form-model-item label="描述说明:" prop="description">
          <a-input
            style="width: 300px;"
            v-model="formModal.description"
            placeholder="请输入描述说明"
          />
        </a-form-model-item>
        <a-form-model-item label="关键词:" prop="keyWordList">
          <a-input
            style="width: 300px;"
            v-model="formModal.keyWordList"
            placeholder="请输入关键词"
          />
          <span style="display: inline-block;margin-left: 10px;"
            >多个关键词之间用英文逗号隔开,例:建筑,设计,行业资讯</span
          >
        </a-form-model-item>
        <a-form-model-item label="排序:">
          <a-input
            style="width: 300px;"
            v-model="formModal.sort"
            placeholder="请输入排序"
          />
        </a-form-model-item>
        <a-form-model-item label="创建时间:" prop="dynamicTime">
          <a-date-picker
            :allowClear="false"
            :disabled-date="disabledDate"
            @change="releaseTimeChange"
            :value="this.$moment(releaseTime, dateFormat)"
            :format="dateFormat"
          />
        </a-form-model-item>
        <a-form-model-item label="详情:" prop="context">
          <tiny-edit v-model="formModal.context"></tiny-edit>
        </a-form-model-item>
        <a-form-model-item
          class="form-item"
          label="封面图片"
          prop="homepagePic"
          style="margin-bottom: 50px"
        >
          <div class="clearfix">
            <a-upload
              list-type="picture-card"
              :file-list="fileList"
              :withCredentials="true"
              accept=".png, .jpg"
              :showUploadList="{ showPreviewIcon: false, showRemoveIcon: true }"
              @change="selectFile"
              :before-upload="beforeUpload"
              :remove="removeFile"
            >
              <div v-if="fileList.length < 1">
                <a-icon type="plus" />
                <div class="ant-upload-text">
                  上传图片...
                </div>
              </div>
            </a-upload>
          </div>
          <p class="tips">
            <!--            支持格式:JPG/PNG-->
            推荐图片尺寸 380px*310px
          </p>
        </a-form-model-item>
      </a-form-model>
      <div
        :style="{
          position: 'absolute',
          right: 0,
          bottom: 0,
          width: '100%',
          borderTop: '1px solid #e9e9e9',
          padding: '10px 16px',
          background: '#fff',
          textAlign: 'right',
          zIndex: 1
        }"
      >
        <a-button
          type="primary"
          :style="{ marginRight: '8px' }"
          @click="submit"
        >
          提交
        </a-button>
        <a-button @click="onClose">
          取消
        </a-button>
      </div>
    </a-drawer>
    <!--    预览-->
    <a-modal
      v-model="previewVisible"
      :closable="false"
      width="80%"
      :destroyOnClose="false"
      :footer="null"
    >
      <div class="previewContainer">
        <div class="previewMain">
          <div style="width: 100%;text-align: center;">
            <h3>
              {{ previewText.title }}
            </h3>
            <div class="sour" style="width: 100%;">
              <div style="margin: 0 auto;">
                <span style="margin-right:  30px;display: inline-block;"
                  >发布时间:{{ previewText.dynamicTime }}</span
                >
                <span>阅读量:{{ previewText.readCount }}</span>
              </div>
            </div>
          </div>
          <div
            class="infoHtml"
            style="padding: 30px;"
            v-html="previewText.context"
          ></div>

          <div class="btns" style="width: 100%;">
            <div style="width: 500px;margin: 0 auto;">
              <a-button
                style="width: 100px;margin-right: 30px;"
                type="primary"
                @click="release(previewDynamicId)"
                >发布</a-button
              >
              <a-button
                style="width: 100px;margin-right: 30px;"
                type="primary"
                ghost
                @click="editPreview(previewDynamicId)"
                >编辑</a-button
              >
              <a-button style="width: 100px;" @click="closePreview()"
                >取消</a-button
              >
            </div>
          </div>
        </div>
      </div>
    </a-modal>
  </div>
</template>

<script lang="ts" src="./Dynamic.ts"></script>

<style lang="less" scoped>
.Dynamic {
  .search {
    .from {
      display: flex;
      .from-item {
        margin-right: 20px;
      }
    }
  }
  .list {
    .topBtn {
      margin-top: 20px;
    }
  }
  .container {
    background-color: #f2f3f6;
    height: 100%;
    width: 100%;

    .construction {
      color: #505050;
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 50px;

      .title {
        display: flex;
        font-weight: 400;
        color: #505050;
      }

      .location {
        color: #599bfb;
      }

      .v-breadcrumbs {
        padding: 0 12px;
        .v-breadcrumbs__item {
          color: #599bfb;
        }
      }

      .main {
        max-width: 1200px;
        margin: 10px auto 0;
        color: #505050;
        padding: 63px;
        background-color: #ffffff;
        position: relative;
        h3 {
          text-align: center;
          font-size: 30px;
          color: #505050;
          margin-bottom: 45px;
          font-weight: normal;
        }
        .homepagePic {
          width: 790px;
          height: 322px;
          margin: 0 auto;
        }
        /*  .infoHtml{
              width: 300px;
              img{
                      width: 600px !important;
                      height: 700px !important;
              }
              p {
                  margin: 20px;
                  text-indent: 5px !important;
                  line-height: 20px;
              }
          }*/

        .sour {
          margin-top: 60px;
          line-height: 30px;
        }
        .btns {
          border: 0;
          width: calc(100% - 30%);
          margin: 50px auto;
          display: flex;
          justify-content: space-between;
          button {
            width: 200px;
            border: 0;
            height: 46px;
            border-radius: 4px;
            font-size: 20px;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
          }

          button:first-child {
            background-color: #c2c2c2;
          }

          button:nth-child(2) {
            background-color: #9a9a9a;
          }

          button:nth-child(3) {
            background-color: #599bfb;
          }
        }
      }
    }
  }
  .previewContainer {
    width: 100%;
    .previewMain {
      padding: 30px;

      .sour {
      }
    }
  }
}
//<a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
//<img alt="example" style="width: 100%" :src="previewImage" />
//</a-modal>
</style>
