<template>
  <div class="index">
    <a-table
      class="page-table"
      :columns="columns"
      rowKey="id"
      :pagination="false"
      :data-source="tableData"
    >
      <template slot="enableSwitch" slot-scope="item, record">
        <a-switch
          :checked="record.enable"
          @change="e => handleItemSwitch(e, record)"
        ></a-switch>
      </template>
      <template slot="operate" slot-scope="item, record">
        <a-button type="link" @click="edit(item, record)">编辑</a-button>
      </template>
    </a-table>
    <!--  编辑-->
    <a-drawer
      title="编辑"
      placement="right"
      width="700"
      :destroyOnClose="true"
      :visible="visible"
      @close="onClose"
    >
      <a-form-model
        :model="formModal"
        ref="recommendQualificationsForm"
        :label-col="{ span: 5 }"
        :rules="rules"
        :wrapper-col="{ offset: 5 }"
        id="qualificationType"
      >
        <a-form-model-item label="资质类别:" prop="qualificationType">
          <!--        @change="noticeTypeChange"-->
          <a-select
            v-model="form.qualificationType"
            placeholder="请选择资质类别"
            @change="qualificationTypeChange"
          >
            <a-select-option
              v-for="(item, index) in qualificationList"
              :key="index"
              :value="item.value"
              :title="item.label"
              >{{ item.label }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <!--      {{qualificationShow}}-->
        <a-form-model-item
          v-if="qualificationShow"
          label="资质名称及等级:"
          prop="qualification"
        >
          <a-input
            v-model="form.qualification"
            placeholder="请输入资质名称及等级"
          />
        </a-form-model-item>
        <a-form-model-item
          v-if="!qualificationShow"
          label="资质名称及等级:"
          prop="qualification"
        >
          <a-select
            @change="qualificationIdChange"
            v-model="form.qualification"
            show-search
            :getPopupContainer="getQualificationType"
          >
            <a-select-option
              v-for="item in getQualificationTypeData"
              :key="item.id"
              :value="item.text"
            >
              {{ item.text }}
            </a-select-option>
          </a-select>
        </a-form-model-item>
        <a-form-model-item label="排序:" prop="sortIndex">
          <a-input v-model="form.sortIndex" placeholder="请输入排序" />
        </a-form-model-item>
        <div
          :style="{
            position: 'absolute',
            right: 0,
            bottom: 0,
            width: '100%',
            borderTop: '1px solid #e9e9e9',
            padding: '10px 16px',
            background: '#fff',
            textAlign: 'right',
            zIndex: 1
          }"
        >
          <a-button
            type="primary"
            :style="{ marginRight: '8px' }"
            @click="submit"
          >
            确定
          </a-button>
          <a-button @click="onClose">
            取消
          </a-button>
        </div>
      </a-form-model>
    </a-drawer>
  </div>
</template>

<script lang="ts" src="./RecommendQualifications.ts"></script>

<style scoped></style>
