<template>
  <div class="table-filter">
    <div class="filter-item">
      <div class="filter-label">注册区域：</div>
      <a-tree-select
        id="areaTree"
        v-model="area"
        :disabled="otherDisabled"
        :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
        :filterTreeNode="notFilter"
        :getPopupContainer="getPopupContainer"
        :showCheckedStrategy="SHOW_PARENT"
        allow-clear
        aria-readonly
        class="auto-width"
        placeholder="请选择区域 "
        treeCheckable
        @change="selectArea"
      >
        <a-tree-select-node
          v-for="item in areaOptions"
          :key="item.areaCode"
          :disabled="item.disabled"
          :title="item.areaName"
          :value="item.areaCode"
        >
          <a-tree-select-node
            v-for="child in item.cityList"
            :key="child.areaCode"
            :disabled="item.disabled"
            :title="child.areaName"
            :value="child.areaCode"
          ></a-tree-select-node>
        </a-tree-select-node>
      </a-tree-select>
    </div>
    <div v-if="isNotSpecialProvince">
      <div class="filter-item">
        <div class="filter-label long-label">资质类型：</div>
        <tree-checkbox-select
          v-model="qualifications"
          :designQualificationOptions="designQualificationOptions"
          :disabled="otherDisabled"
          :fakeQualification="fakeQualification"
          :qualificationOptions="qualificationOptions"
          class="tree-search-select  auto-width"
          containerId="tableFilter"
        ></tree-checkbox-select>
        <div class="type-radio">
          <a-radio-group
            v-model="isAll"
            :disabled="otherDisabled"
            class="group"
          >
            <a-radio :value="1">包含</a-radio>
            <a-radio :value="2">仅有</a-radio>
          </a-radio-group>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                “包含”指查询结果的企业为只包含已选资质且有其他资质；“仅有
                ”指查询结果的企业只有已选择资质。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-label">关键字：</div>
        <a-input
          v-model="keyWord"
          :disabled="otherDisabled"
          allowClear
          class="filter-search"
          placeholder="请输入企业名称或法定代表人"
          @change="isNeedSetPhoneDisabled"
        />
        <div class="type-radio">
          <a-radio-group
            v-model="keywordsType"
            :disabled="otherDisabled"
            class="group"
          >
            <a-radio :value="2">模糊</a-radio>
            <a-radio :value="1">精准</a-radio>
          </a-radio-group>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                关键字搜索是指包含关键词的内容进行检索，可选择模糊或者精准搜索，提升数据精准度。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
      </div>

      <div class="filter-item">
        <div class="filter-label">马赛克串货：</div>
        <a-checkbox :checked="showAdvanced" @change="showAdvanceFilter">
          展开
        </a-checkbox>
        <a-tooltip placement="right">
          <template slot="title">
            <p class="radio-tips">
              被打码的证书图片，根据证书部分信息查询持有企业信息
            </p>
          </template>
          <a-icon type="question-circle" class="ml-[8px]" />
        </a-tooltip>
      </div>
      <!-- <div class="advanced-btns">
        <a-button
          :type="showAdvanced ? 'primary' : 'default'"
          class="have-rt-margin"
          icon="filter"
          @click="showAdvanceFilter"
          >{{ showAdvanced ? '收起马赛克串货' : '马赛克串货' }}
        </a-button>
      </div> -->
      <div
        v-show="showAdvanced"
        class="bg-[#f2f6f8] rounded-[3px] px-[24px]  pt-[24px] pb-[8px] mb-[16px]"
      >
        <div class="filter-item">
          <div class="filter-label long-label">联系电话：</div>
          <a-input
            v-model="telephone"
            :disabled="phoneIsDisabled"
            allowClear
            class="filter-search   "
            placeholder="请清空其他筛选条件后 输入11位手机号码查询"
            @change="isNeedSetPhoneDisabled"
          />
          <div v-if="telephone" class="warning-tips">
            提示：若要选择或修改以上其他查询项，请先清空联系电话
          </div>
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">登记机关：</div>
          <a-input
            v-model="mechanism"
            :disabled="otherDisabled"
            allowClear
            class="filter-search   "
            placeholder="请输入登记机关的关键字查询"
            @change="isNeedSetPhoneDisabled"
          />
        </div>
        <!-- <div class="filter-item">
        <div class="filter-label long-label">精准搜索：</div>
        <a-input
          class="filter-search   "
          v-model="legalPerson"
          allowClear
          placeholder="请输入法人名称"
        />
        <a-tooltip>
          <template slot="title">
            <p class="radio-tips">
              输入法人姓名进行精确查询
            </p>
          </template>
          <a-icon type="question-circle" />
        </a-tooltip>
      </div>-->
        <div class="filter-item">
          <div class="filter-label long-label">股东类型：</div>
          <a-select
            v-model="shareholderType"
            :disabled="otherDisabled"
            :getPopupContainer="getPopupContainer"
            allowClear
            class="filter-search   "
            placeholder="请选择股东类型"
            showArrow
            @change="isNeedSetPhoneDisabled"
          >
            <a-option
              v-for="item in shareholderOptions"
              :key="item.value"
              :title="item.label"
              :value="item.value"
              >{{ item.label }}
            </a-option>
          </a-select>
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">公司类型：</div>
          <a-select
            v-model="companyType"
            :disabled="otherDisabled"
            :getPopupContainer="getPopupContainer"
            allowClear
            class="filter-search   "
            placeholder="请选择公司类型"
            showArrow
            @change="isNeedSetPhoneDisabled"
          >
            <a-option
              v-for="item in companyTypeOptions"
              :key="item.value"
              :title="item.label"
              :value="item.value"
              >{{ item.label }}
            </a-option>
          </a-select>
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">注册资本：</div>
          <div class="register-captial">
            <a-input-number
              v-model="registerCapitalStart"
              :disabled="otherDisabled"
              :min="0.0001"
              class="captial-input"
              placeholder="最小资本"
            />
            <span>万</span>
            <div class="register-line"></div>
            <a-input-number
              v-model="registerCapitalEnd"
              :disabled="otherDisabled"
              :min="0.0001"
              class="captial-input"
              placeholder="最大资本"
            />
            <span>万</span>
          </div>

          <!--          <a-input-->
          <!--            class="filter-search"-->
          <!--            v-model="registerCapital"-->
          <!--            @change="isNeedSetPhoneDisabled"-->
          <!--            allowClear-->
          <!--            :disabled="otherDisabled"-->
          <!--            placeholder="请输入正数查询，如1000.0或1000.12"-->
          <!--          />-->
        </div>

        <div class="filter-item">
          <div class="filter-label long-label">企业成立时间：</div>
          <!-- <a-date-range-picker
            class="filter-search"
            format="YYYY-MM-DD"
            @change="isNeedSetPhoneDisabled"
            valueFormat="YYYY-MM-DD"
            :disabled="otherDisabled"
            v-model="establishmentDate"
            :disabled-date="disabledEndDate"
            :placeholder="['请选择日期范围', '请选择日期范围']"
          ></a-date-range-picker> -->
          <date-input
            v-model="establishmentDate"
            :disabled="otherDisabled"
            @input="isNeedSetPhoneDisabled"
          ></date-input>
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">资质证书编号：</div>
          <a-input
            v-model="certificateNo"
            :disabled="otherDisabled"
            allowClear
            class="filter-search   "
            placeholder="请输入资质证书编号，至少输入两位数查询"
            @change="isNeedSetPhoneDisabled"
          />
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">资质有效日期：</div>
          <a-date-range-picker
            v-model="effectiveDate"
            :disabled="otherDisabled"
            :getCalendarContainer="getPopupContainer"
            :placeholder="['请选择日期范围', '请选择日期范围']"
            class="filter-search   "
            format="YYYY-MM-DD"
            valueFormat="YYYY-MM-DD"
            @change="isNeedSetPhoneDisabled"
          ></a-date-range-picker>
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">安许有效日期：</div>
          <a-date-range-picker
            v-model="safeEffectiveDate"
            :disabled="otherDisabled"
            :getCalendarContainer="getPopupContainer"
            :placeholder="['请选择日期范围', '请选择日期范围']"
            class="filter-search   "
            format="YYYY-MM-DD"
            valueFormat="YYYY-MM-DD"
            @change="isNeedSetPhoneDisabled"
          ></a-date-range-picker>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <a-button class="large-button" type="primary" @click="setFilterToFindList"
        >查询
      </a-button>
      <a-button class="large-button" @click="e => reSetFilter(false)"
        >重置
      </a-button>
    </div>
    <div v-if="advModal" class="mask" @click="closeAdvModal(index)">
      <div class="advBox">
        <div class="close-mask" @click.stop="closeAdvModal(index)">
          <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>关闭备份 8</title>
            <g id="1.2.5-活动" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="官网-活动-活动完成弹窗" transform="translate(-1261.000000, -252.000000)">
                <g id="关闭备份-8" transform="translate(1261.000000, 252.000000)">
                  <circle id="椭圆形" fill-opacity="0.4" fill="#000000" opacity="0" cx="16" cy="16" r="16"></circle>
                  <circle id="椭圆形" stroke="#FFFFFF" stroke-width="2" fill-opacity="0" fill="#000000" cx="16" cy="16" r="13"></circle>
                  <rect id="矩形" fill="#FFFFFF" transform="translate(16.000000, 16.000000) rotate(-45.000000) translate(-16.000000, -16.000000) " x="15" y="10" width="2" height="12" rx="1"></rect>
                  <rect id="矩形" fill="#FFFFFF" transform="translate(16.000000, 16.000000) rotate(-135.000000) translate(-16.000000, -16.000000) " x="15" y="10" width="2" height="12" rx="1"></rect>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <a :href="urlAddress" target="_blank">
          <img :src="vipContent" alt="" class="welcome-image" />
        </a>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { userModule } from '@/store/modules/user'
import { universalModule } from '@/store/modules/universal'
import Vue from 'vue'
import {
  Tree,
  Select,
  Input,
  TreeSelect,
  DatePicker,
  Radio,
  Tooltip,
  Checkbox,
  Modal,
  InputNumber
} from 'ant-design-vue'
// import jumpImage from '@/assets/image/welcome.png'
import DateInput from '@/components/Form/DateInput.vue'
import TreeCheckboxSelect from '@/components/TreeCheckboxSelect.vue'
// import vipContent from '@/assets/image/money/content.png'
import vipBtn from '@/assets/image/money/btn.png'
import vipClose from '@/assets/image/money/close.png'
import { detailModule } from '@/store/modules/detail'
import jsonp from 'jsonp'
import Cookie from 'js-cookie'
import { areaJSON } from '@/utils/area.js'

// import lookupFiles = Mocha.utils.lookupFiles

export default Vue.extend({
  name: 'table-filter',
  components: {
    aCheckbox: Checkbox,
    aTree: Tree,
    aTooltip: Tooltip,
    aRadio: Radio,
    aRadioGroup: Radio.Group,
    aInput: Input,
    aSelect: Select,
    aDateRangePicker: DatePicker.RangePicker,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    aOption: Select.Option,
    DateInput,
    TreeCheckboxSelect,
    aInputNumber: InputNumber
  },
  computed: {
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    },
    version() {
      return userModule.version
    }
  },
  data() {
    return {
      userIpArea: null,
      urlAddress: '',
      vipContent: '',
      firstLink: '',
      secondLevelLink: '',
      vipBtn,
      vipClose,
      showTreeCheck: false,
      openDropdown: false,
      // fakeQualification: [] as any,
      treeData: [],
      otherDisabled: false,
      phoneIsDisabled: false,
      isAdmin: userModule.roleLevel === 2,
      gangAoTai: [810000, 820000, 710000],
      isNotSpecialProvince: true,
      keywordsType: 2, // 搜索是精准还是模糊
      isReceived: [] as any, // 有无被领取
      qualificationCount: [], // 资质数量 废弃
      qualifications: [] as any, // 资质选择
      reallyQua: [] as any, // 真正的资质选择  上面的是用来展示的
      certificateNo: '', // 证书施工编号
      effectiveDate: [] as any, // 有效日期
      safeEffectiveDate: [] as any, //安许有效日期
      printNo: [], // 发证日期
      companyName: '', // 公司姓名 this.keyword
      legalPerson: '', // 法人名称 废弃
      telephone: '', // 电话号码
      areaCode: [] as any, // 地区
      registeredCapital: '', // 注册资本 废弃
      shareholderName: '', // 股东信息  this.keyword
      shareholderType: undefined as any, // 股东类型
      companyType: undefined as any, // 公司类型
      registerCapital: '',
      registerCapitalStart: '' as any, // 注册资本最小值
      registerCapitalEnd: '' as any, // 注册资本最大值
      establishmentDate: [] as any, // 成立时间
      mechanism: '' as any, // 登记机关
      isAll: 1,
      showAdvanced: false,
      minCount: 0,
      maxCount: '',
      keyWord: '' as any,
      area: [] as any,
      receivedOptions: [
        { value: '1', label: '有' },
        { value: '2', label: '无' }
      ],
      shareholderOptions: [
        { value: '自然人股东', label: '自然人股东' },
        { value: '企业法人', label: '企业法人' },
        { value: '国有经济', label: '国有经济' },
        { value: '外商投资', label: '外商投资' },
        { value: '其他类型', label: '其他类型' }
      ],
      companyTypeOptions: [
        { value: '有限责任公司', label: '有限责任公司' },
        { value: '股份有限公司', label: '股份有限公司' },
        { value: '个人独资企业', label: '个人独资企业' },
        { value: '集体所有制', label: '集体所有制' },
        { value: '全民所有制', label: '全民所有制' },
        { value: '合伙企业', label: '合伙企业' },
        { value: '国有经济', label: '国有经济' },
        { value: '其他类型', label: '其他类型' }
      ],
      // qualificationOptions: [] as any,
      areaOptions: [] as any,
      SHOW_PARENT: (TreeSelect as any).SHOW_PARENT,
      lastFilterSave: null as any,
      must: null as any,
      filterCondition: null as any,
      defaultExpend: [] as any,
      pageSize: 10,
      pageNum: 1,
      isHaveResourcesList: false,
      advModal: false,
      index: 1,
      jumpImageVisible: false,
      jumpImage: '',
      firstAdv: false,
      secondLevelAdv: false,
      provinceName: '',
      cityName: '',
      userId: ''
    }
  },
  methods: {
    // goToVip() {
    //   this.advModal = false
    //   localStorage.setItem(userModule.userId.toString(), '0')
    //   this.$router.push({
    //     name: 'vip',
    //   })
    // },
    async userIsLogin() {
      const userAgent = navigator.userAgent.toLowerCase()

      const userId =
        userAgent.indexOf(' electron/') > -1
          ? localStorage.getItem('userId')
          : Cookie.get('userId')
      try {
        if (!userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    onlyKeyword(keyword: any) {
      this.reSetFilter(false).then(() => {
        this.keyWord = keyword
        this.keywordsType = 1
        this.setFilterToFindList()
      })
    },
    onlyPhone(phone: any) {
      this.reSetFilter(false).then(() => {
        this.telephone = phone
        this.setFilterToFindList()
      })
    },
    getPopupContainer() {
      return document.getElementById('tableFilter')
    },
    notFilter() {
      return false
    },
    async selectArea(value: any) {
      this.areaCode = []
      value.forEach((v: any) => {
        const find = this.areaOptions.find((a: any) => {
          return a.areaCode === v
        })
        const inCode = this.areaCode.find((a: any) => {
          return a === v
        })
        if (!inCode) {
          if (find) {
            this.areaCode.push(v)
            if (find.cityList.length) {
              this.areaCode = this.areaCode.concat(
                find.cityList.map((c: any) => {
                  return c.areaCode
                })
              )
            }
          } else {
            this.areaCode.push(v)
          }
        }
      })
      let isHaveSpecial = false as any
      this.areaCode.forEach((e: any) => {
        const findSpecial = this.gangAoTai.find((g: any) => {
          return g === e
        })
        if (findSpecial) {
          isHaveSpecial = true
        }
      })
      this.isNotSpecialProvince = !isHaveSpecial as any
      // this.$emit('isNotSpecialProvinceDisabled', this.isNotSpecialProvince)
      this.setAreaCodeDisabled()
      this.isNeedSetPhoneDisabled()
    },
    setFilterValue() {
      this.must = {
        areaCodes: this.areaCode,
        certificateNo: this.certificateNo,
        companyType: this.companyType,
        effectiveDateStart: this.effectiveDate[0],
        effectiveDateEnd: this.effectiveDate[1],
        safeEffectiveDateStart: this.safeEffectiveDate[0],
        safeEffectiveDateEnd: this.safeEffectiveDate[1],
        establishmentDateStart: this.establishmentDate[0],
        establishmentDateEnd: this.establishmentDate[1],
        keyWord: this.keyWord,
        keyWordType: this.keywordsType,
        qualificationIds: this.qualifications,
        qualificationQueryType: this.isAll,
        //等待更改
        registerCapitalEnd: this.registerCapitalEnd,
        registerCapitalStart: this.registerCapitalStart,
        // registerCapital: this.registerCapital,
        shareholderType: this.shareholderType,
        telephone: this.telephone,
        // haveReceive: this.isReceived,
        // 新加的  登记机关
        registrationAuthority: this.mechanism
      }

      return Promise.resolve(this.must)
    },

    isHaveFilterCondition() {
      if (
        !this.qualifications.length &&
        !this.certificateNo.length &&
        !this.shareholderType &&
        !this.companyType &&
        !this.telephone &&
        !this.registerCapital &&
        !this.effectiveDate[0] &&
        !this.safeEffectiveDate[0] &&
        !this.keyWord &&
        !this.area.length &&
        !this.registerCapitalEnd &&
        this.registerCapitalEnd !== 0 &&
        !this.registerCapitalStart &&
        this.registerCapitalStart !== 0 &&
        !this.establishmentDate[0] &&
        !this.mechanism
      ) {
        //
        return false
      } else {
        return true
      }
    },
    setFilterToFindList() {
      this.userIsLogin().then(() => {
        const keyWords = this.keyWord
        const isKanji = new RegExp('[\u4E00-\u9FA5]+') // 汉字
        const isAlphabet = new RegExp('[A-Za-z]+') // 英文
        const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
        if (!this.isHaveFilterCondition()) {
          this.$message.error('请选择输入查询条件后再进行查询')
          return
        }
        /*  if (!(this.qualifications.length && this.area.length)) {
        this.$message.error('请选择输入地区及资质后再进行查询')
        return
      }*/
        if (keyWords) {
          if (!isKanji.test(keyWords) && !isAlphabet.test(keyWords)) {
            this.$message.error('关键字查询要求至少包含一个中文或英文字符')
            return
          }
        }

        // this.registerCapitalStart !== 0   this.registerCapitalEnd !== 0

        if (
          (this.registerCapitalStart && !this.registerCapitalEnd) ||
          (!this.registerCapitalStart && this.registerCapitalEnd)
        ) {
          this.$message.error('金额填写规则有误，示例：120万 — 500万')
          return
        }
        if (this.registerCapitalStart > 0 || this.registerCapitalEnd > 0) {
          if (this.registerCapitalEnd < this.registerCapitalStart) {
            this.$message.error('金额填写规则有误，示例：120万 — 500万')
            return
          }
        }

        if (this.certificateNo) {
          if (this.certificateNo.length < 2) {
            this.$message.error('请至少输入两位证书编号')
            return
          }
        }
        if (this.telephone) {
          if (!isCellPhone.test(this.telephone)) {
            this.$message.error('请输入正确的手机号码进行查询')
            return
          }
        }
        if (this.establishmentDate.length) {
          const start = new Date(this.establishmentDate[0]).getTime()
          const end = new Date(this.establishmentDate[1]).getTime()
          if (start > end) {
            this.$message.error('成立开始时间不能大于结束时间')
            throw false
          }
        }
        this.setFilterValue().then((res: any) => {
          this.$emit('clickFindBtns', {
            options: res,
            pageNum: 1,
            pageSize: 10,
            isNotSpecialProvince: this.isNotSpecialProvince
          })
        })
        this.$emit('isNotSpecialProvinceDisabled', this.isNotSpecialProvince)
      })
    },
    async reSetFilter(isFromSelectArea: any) {
      // this.isReceived = [] // 有无被领取
      this.qualificationCount = [] // 资质数量 废弃
      this.qualifications = [] as any // 资质选择
      this.certificateNo = '' // 证书施工编号
      this.effectiveDate = [] as any // 有效日期
      this.safeEffectiveDate = [] as any //安许有效日期
      this.printNo = [] // 发证日期
      this.companyName = '' // 公司姓名 this.keyword
      this.legalPerson = '' // 法人名称  this.keyword
      this.keyWord = ''
      this.reallyQua = [] // 真正的资质选项
      this.registeredCapital = '' // 注册资本 废弃
      this.shareholderName = '' // 股东信息  this.keyword
      this.establishmentDate = [] // 成立时间
      this.isAll = 1
      this.keywordsType = 2 // 关键字搜索类型
      this.companyType = undefined as any // 公司类型
      this.shareholderType = undefined as any // 股东类型
      this.registerCapital = '' // 注册资本
      this.registerCapitalEnd = ''
      this.registerCapitalStart = ''
      this.telephone = '' // 电话号码
      this.mechanism = '' // 登记机关
      this.pageSize = 10
      this.pageNum = 1
      if (!isFromSelectArea) {
        this.area = [] // 地区
        this.areaCode = []
        this.isNotSpecialProvince = true
        this.setAreaCodeDisabled()
      }
      // this.$setQuery.addQuery(this.$route, null)
      // this.setQualificationBegin()
      this.isNeedSetPhoneDisabled()
      // if (this.lastFilterSave) {
      //   this.reSetFilterToRemoveSaveFilter()
      // }
    },
    changeReceived(val: any) {
      if (val !== undefined) {
        this.isReceived = val
      } else {
        this.isReceived = []
      }
    },
    showAdvanceFilter() {
      this.showAdvanced = !this.showAdvanced
    },
    disabledEndDate(endValue: any) {
      const currentDate = new Date().getTime()
      return endValue.valueOf() > currentDate
    },
    selectQualificationItem(qua: any, value: any) {
      const isHaveSelect = this.qualifications.find((e: any) => {
        return e.value === value
      })
      if (isHaveSelect) {
        qua.children.forEach((q: any) => {
          if (q.value !== value) {
            q.disabled = true
          }
        })
      } else {
        qua.children.forEach((q: any) => {
          q.disabled = false
        })
      }
    },
    setQualificationBegin() {
      this.qualificationOptions.forEach((q: any) => {
        q.children.forEach((c: any) => {
          c.disabled = false
        })
      })
    },

    getAreaCityOptions() {
      const r = areaJSON
      this.areaOptions = []
      this.areaOptions = r.map((a: any) => {
        return {
          ...a,
          disabled: false
        }
      })
      if (detailModule.companyNameToFilter) {
        this.onlyKeyword(detailModule.companyNameToFilter)
        detailModule.setCompanyNameToFilter('')
      } else if (!this.filterCondition) {
        const userArea = userModule.useAreaName.split('/')
        const findProvince = r.find((e: any) => {
          return e.areaName === userArea[0]
        }) // 找到省份
        if (findProvince) {
          const findCity = findProvince.cityList.find(
            (c: any) => c.areaName === userArea[1]
          ) // 找到城市
          this.area = [findCity.areaCode]
          this.areaCode = [findCity.areaCode]
        }
        this.setFilterValue().then((res: any) => {
          this.$emit('getFilterList', {
            options: res,
            pageNum: this.pageNum,
            pageSize: this.pageSize,
            isNotSpecialProvince: this.isNotSpecialProvince
          })
        })
      } else {
        this.area = this.filterCondition.areaCodes // 地区
        this.areaCode = this.filterCondition.areaCodes // 地区
        this.isNeedShowAdvanced()
      }
      this.selectArea(this.area)
      this.setAreaCodeDisabled()
      const isNotFrist = localStorage.getItem(
        // 下次弹框时间
        userModule.userId.toString()
      ) as string
      if (parseInt(isNotFrist) === 0) {
        return
      }
      //else {
      //   this.showMoneyModal()
      // }
      this.advData()
    },
    getFilterGroup() {
      console.log('这?')
      const params = {
        conditionEnum: 'CUSTOMER_INQUIRY'
      }
      this.$httpRequester
        .get('filter/queryCondition', params)
        .then((r: any) => {
          if (r) {
            this.filterCondition = JSON.parse(r.filterCondition)
            this.setLastFilterSave()
          } else {
            this.qualifications = [6]
            this.getAreaCityOptions() // 获取省份
          }
        })
    },
    setLastFilterSave() {
      // this.$nextTick(() => {
      this.pageNum = this.filterCondition.pageNum || 1
      this.pageSize = this.filterCondition.pageSize || 10
      // this.$setQuery.addQuery(this.$route, {
      //   pageSize: this.pageSize,
      //   pageNum: this.pageNum,
      // })
      // console.log(this.filterCondition)
      // this.qualificationCount = this.filterCondition.qualificationCount.data // 资质数量 废弃
      // this.reallyQua = this.filterCondition.qualificationIds || [] // 真正的资质选择
      this.qualifications = this.filterCondition.qualificationIds || []
      this.isAll = this.filterCondition.qualificationQueryType || 1
      this.keywordsType = this.filterCondition.keyWordType || 1
      this.mechanism = this.filterCondition.registrationAuthority || ''
      // this.reallyQua.forEach((e: any) => {
      //   this.qualificationOptions.forEach((q: any) => {
      //     let findQua = null as any
      //     findQua = q.children.find((c: any) => {
      //       return c.value === e
      //     })
      //     if (findQua) {
      //       this.qualifications.push({
      //         label: findQua.label,
      //         value: findQua.value,
      //       })
      //       this.selectQualificationItem(q, e)
      //     }
      //   })
      // })
      // console.log(this.qualifications)
      this.certificateNo = this.filterCondition.certificateNo
        ? this.filterCondition.certificateNo
        : '' // 证书施工编号
      this.effectiveDate[0] = this.filterCondition.effectiveDateStart // 有效开始日期
      this.effectiveDate[1] = this.filterCondition.effectiveDateEnd // 有效结束日期
      this.safeEffectiveDate[0] = this.filterCondition.safeEffectiveDateStart //安许到期开始日期
      this.safeEffectiveDate[1] = this.filterCondition.safeEffectiveDateEnd // 安许到期结束日期
      // this.printNo = this.filterCondition.printNo.data // 发证日期
      this.keyWord = this.filterCondition.keyWord
        ? this.filterCondition.keyWord
        : ''
      // this.area = this.filterCondition.areaCode.data // 地区
      // this.areaCode = this.filterCondition.areaCode.data // 地区
      // this.legalPerson = '' // 精准搜索 法人名称废弃
      this.establishmentDate = [
        this.filterCondition.establishmentDateStart,
        this.filterCondition.establishmentDateEnd
      ]
      // this.establishmentDate[0] = this.filterCondition.establishmentDateStart // 成立开始日期
      // this.establishmentDate[1] = this.filterCondition.establishmentDateEnd // 成立结束日期
      this.shareholderType = this.filterCondition.shareholderType // 股东类型
      this.registerCapital = this.filterCondition.registerCapital // 注册资本
      this.registerCapitalEnd = this.filterCondition.registerCapitalEnd
      this.registerCapitalStart = this.filterCondition.registerCapitalStart
      this.telephone = this.filterCondition.telephone
        ? this.filterCondition.telephone
        : '' // 联系电话
      this.companyType = this.filterCondition.companyType // 公司类型
      // console.log(this.establishmentDate)

      this.getAreaCityOptions()
      this.setAreaCodeDisabled() // 设置省份不能选
      // })
    },
    setAreaCodeDisabled() {
      // return
      // 控制港澳台地区不能被选择
      // let isHaveSpecial = false as any
      // this.areaCode.forEach((e: any) => {
      //   const findSpecial = this.gangAoTai.find((g: any) => {
      //     return g === e
      //   })
      //   if (findSpecial) {
      //     isHaveSpecial = true
      //   }
      // })
      if (!this.isNotSpecialProvince && this.areaCode.length) {
        // 选了港澳台就不能选其他的省份
        this.areaOptions.forEach((a: any) => {
          if (!this.gangAoTai.includes(a.areaCode)) {
            a.disabled = true
          } else {
            a.disabled = false
          }
        })
        //  this.isNotSpecialProvince = false
        // this.reSetFilter(true)
      } else if (this.isNotSpecialProvince && this.areaCode.length) {
        // 选了其他省不能选港澳台
        this.areaOptions.forEach((a: any) => {
          if (!this.gangAoTai.includes(a.areaCode)) {
            a.disabled = false
          } else {
            a.disabled = true
          }
        })
        // this.isNotSpecialProvince = true
      } else {
        this.areaOptions.forEach((a: any) => {
          // 什么都不选
          a.disabled = false
        })
        //  this.isNotSpecialProvince = true
      }
      //  console.log('disabled')
      // if (!this.areaCode[0]) {
      //   this.areaOptions.forEach((e: any) => {
      //     e.disabled = false
      //   })
      // } else {
      //   this.areaOptions.forEach((e: any) => {
      //     const isCity = e.cityList.find((c: any) => {
      //       return c.areaCode === this.areaCode[0]
      //     })
      //     if (e.areaCode === this.areaCode[0] || isCity) {
      //       e.disabled = false
      //       // console.log(e)
      //     } else {
      //       e.disabled = true
      //     }
      //   })
      // }
    },
    showMoneyModal() {
      // await this.advData()
      console.log('问题', this.firstAdv, this.secondLevelAdv)
      if (!this.firstAdv && !this.secondLevelAdv) {
        this.advModal = false
        // this.jumpImageVisible = false
        this.welcome()
      } else if (!this.firstAdv && this.secondLevelAdv) {
        this.advModal = true
        this.vipContent = this.jumpImage
        this.urlAddress = this.secondLevelLink
        this.index = 2
        // this.jumpImageVisible = true
      } else if (this.firstAdv && !this.secondLevelAdv) {
        this.advModal = true
        this.index = 2
        // this.jumpImageVisible = false
      } else if (this.firstAdv && this.secondLevelAdv) {
        this.advModal = true
        this.index = 1
      }
    },
    closeAdvModal(index: any) {
      if (index === 1) {
        this.vipContent = this.jumpImage
        this.urlAddress = this.secondLevelLink
        this.index = this.index + 1
      } else {
        this.advModal = false
        this.welcome()
      }
    },
    welcome() {
      // const currentDate = new Date().getTime()
      const filterText = []
      if (this.certificateNo.length) {
        filterText.push(`“证书编号${this.certificateNo}”`)
      }
      // if (this.printNo.length) {
      //   filterText.push(`“证书发证日期${this.printNo[0]}-${this.printNo[1]}”`)
      // }
      if (this.mechanism) {
        filterText.push(`“登记机关${this.mechanism}”`)
      }
      if (this.effectiveDate[0]) {
        filterText.push(
          `“证书有效日期${this.effectiveDate[0]}-${this.effectiveDate[1]}”`
        )
      }
      if (this.safeEffectiveDate[0]) {
        filterText.push(
          `“安许有效日期${this.safeEffectiveDate[0]}-${this.safeEffectiveDate[1]}”`
        )
      }
      if (this.establishmentDate[0]) {
        filterText.push(
          `“企业成立时间${this.establishmentDate[0]}-${this.establishmentDate[1]}”`
        )
      }
      if (this.telephone) {
        filterText.push(`联系电话${this.telephone}”`)
      }
      if (this.shareholderType) {
        filterText.push(`股东类型${this.shareholderType}”`)
      }
      if (this.companyType) {
        filterText.push(`公司类型${this.companyType}”`)
      }
      if (this.registerCapitalStart) {
        filterText.push(
          `注册资本${this.registerCapitalStart}万——${this.registerCapitalEnd}万”`
        )
      }
      // if (this.isReceived.length) {
      //   const receivedText =
      //     this.isReceived === '1' ? '“线索已被领取”' : '“线索未被领取”'
      //   filterText.push(receivedText)
      // }
      if (this.keyWord) {
        filterText.push(`“关键字${this.keyWord}”`)
      }
      if (this.qualifications.length) {
        // this.qualificationOptions
        const text = [] as any
        this.fakeQualification.forEach((e: any) => {
          if (this.qualifications.includes(e.value)) {
            text.push(e.label)
          }
        })
        const quaText = text.join('、')
        // const quaText = this.qualifications
        //   .map((e: any) => {
        //     return e.label
        //   })
        //   .join('、')
        filterText.push(`“资质项：${quaText}”`)
      }
      if (this.area.length) {
        const areaText = [] as any
        this.areaOptions.forEach((o: any) => {
          const province =
            this.area.find((a: any) => {
              return a === o.areaCode
            }) || -1
          if (province > 0) {
            areaText.push(o.areaName)
          }
          // console.log(province)
          if (o.areaCode !== province) {
            o.cityList.forEach((c: any) => {
              const city = this.area.find((a: any) => {
                return a === c.areaCode
              })
              if (city) {
                areaText.push(c.areaName)
              }
            })
          }
        })
        const areaDisplay = areaText.join('、')
        filterText.push(`“区域：${areaDisplay}“`)
        // console.log(areaText)
      }
      filterText.push(`“第${this.pageNum}页”`)
      const filterDisplay = filterText.join('，')
      //  if (!lastAccountTime) {
      // 没有的话弹窗欢迎
      // const content = `${userModule.name}，欢迎进入小牛建讯 请开始元气满满的一天的吧 ~ 当前搜索结果为<span class="text-tipBlue">${filterDisplay}。</span>`
      const h = this.$createElement
      Modal.info({
        title: '温馨提示',
        content: h('div', {}, [
          h(
            'span',
            `${userModule.name}，欢迎进入小牛建讯 请开始元气满满的一天的吧 ~ 当前搜索结果为`
          ),
          h(
            'span',
            {
              class: 'text-tipBlue'
            },
            filterDisplay
          ),
          h('span', '。')
        ]),
        onOk: () => {
          localStorage.setItem(userModule.userId.toString(), '0')
        }
      })
    },
    showJumpImage() {
      if (this.isAdmin) {
        this.$httpRequester
          .get(
            'shared/list',
            { currentPage: 1, pageSize: 1 },
            'application/x-www-form-urlencoded' as any
          )
          .then((res: any) => {
            this.isHaveResourcesList = res ? !!res.totalSize : false

            this.jumpImageVisible = true
            const html = document.getElementsByTagName('html')
            // console.log(html)
            html[0].style.overflow = 'hidden'
            document.body.style.overflow = 'hidden'
          })
      } else {
        this.jumpImageVisible = true
        const html = document.getElementsByTagName('html')
        html[0].style.overflow = 'hidden'
        document.body.style.overflow = 'hidden'
      }
    },
    closeJumpImage() {
      this.jumpImageVisible = false
      const html = document.getElementsByTagName('html')
      html[0].style.overflow = 'auto'
      document.body.style.overflow = 'auto'
      this.welcome()
    },
    isNeedShowAdvanced() {
      if (
          this.registerCapitalStart ||
          this.companyType ||
          this.shareholderType ||
          this.registerCapital ||
          this.telephone ||
          this.certificateNo.length ||
          this.effectiveDate[0] ||
          this.safeEffectiveDate[0] ||
          this.establishmentDate[0] ||
          this.mechanism
      ) {
        this.showAdvanced = true
      } else {
        this.showAdvanced = false
      }
      this.setFilterValue().then((res: any) => {
        this.$emit('getFilterList', {
          options: res,
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          isNotSpecialProvince: this.isNotSpecialProvince
        })
      })
    },
    isNeedSetPhoneDisabled() {
      if (!this.isHaveFilterCondition()) {
        this.phoneIsDisabled = false
        this.otherDisabled = false
      } else {
        if (this.telephone) {
          this.otherDisabled = true
        } else {
          this.otherDisabled = false
        }
      }
    },
    async advData() {
      this.$httpRequester
        .post('advertisement/releaseList', { advertisementType: 'HOME_PAGE' })
        .then((res: any) => {
          res.forEach((item: any) => {
            if (item.advertisementType === 'HOME_PAGE_ONE' && item.state) {
              this.vipContent = item.url
              this.urlAddress = item.clickUrl
              this.firstLink = item.clickUrl
              this.firstAdv = true
              console.log('1')
            } else if (
              item.advertisementType === 'HOME_PAGE_ONE' &&
              !item.state
            ) {
              this.firstAdv = false
            }
            if (item.advertisementType === 'HOME_PAGE_TWO' && item.state) {
              this.jumpImage = item.url
              this.secondLevelAdv = true
              this.secondLevelLink = item.clickUrl
              console.log('HOME_PAGE_TWO')
            } else if (
              item.advertisementType === 'HOME_PAGE_TWO' &&
              !item.state
            ) {
              this.secondLevelAdv = false
            }
          })
          this.showMoneyModal()
        })
    },
    async findProvinceAndCity() {
      const r = areaJSON
      const urlQueryArea = this.$route.query.userArea
        ? JSON.parse(this.$route.query.userArea as any)
        : null
      if (urlQueryArea) {
        this.provinceName = urlQueryArea.province
        this.cityName = urlQueryArea.city
      }
      this.areaOptions = []
      this.areaOptions = r.map((a: any) => {
        return {
          ...a,
          disabled: false
        }
      })
      const findProvince = this.areaOptions.find((c: any) => {
        return c.areaName === this.provinceName
      })
      let findCity = null
      const specialCity = ['北京', '上海', '重庆', '天津']

      if (findProvince) {
        const isSpecial = specialCity.find(e => {
          return findProvince.areaName.indexOf(e) > -1
        })
        if (isSpecial) {
          findCity = findProvince.cityList[0]
        } else {
          findCity =
            findProvince.cityList.find((c: any) => {
              return this.cityName && c.areaName.indexOf(this.cityName) > -1
            }) || {}
        }
      }
      if (findCity) {
        this.area = [findCity.areaCode]
      } else {
        this.area = [findProvince.areaCode]
      }
      this.selectArea(this.area).then(() => {
        if (this.userId) {
          this.setFilterValue().then((res: any) => {
            this.$emit('clickFindBtns', {
              options: res,
              pageNum: 1,
              pageSize: 10,
              isNotSpecialProvince: this.isNotSpecialProvince
            })
          })
        } else if (
          this.$route.query.qualificationId &&
          this.$route.query.userArea &&
          !this.userId
        ) {
          this.$emit('noLoginFindQualifications', {
            qualifications: this.qualifications,
            area: this.area
          })
        } else {
          this.findNoLoginList()
        }
      })
    },
    getNoLoginAreaCity() {
      const r = areaJSON
      this.areaOptions = []
      this.areaOptions = r.map((a: any) => {
        return {
          ...a,
          disabled: false
        }
      })
    },
    findNoLoginList() {
      this.getNoLoginAreaCity()
      this.$emit('findNoLoginList', this.area)
    },
    // 不登录查企业
    noLoginFindEnterPriseName() {
      this.$emit('noLoginFindEnterPriseName', this.keyWord)
    },
    // 不登录查法人
    noLoginFindLegalPerson() {
      this.$emit('noLoginFindLegalPerson', this.keyWord)
    },
    setFromGuanwang() {
      const query = this.$route.query || {}
      if (query.qualificationId) {
        if (this.version === 'V_TEAM_VIP') {
          // 集团版可以只查资质
          this.setFilterValue().then((res: any) => {
            this.$emit('clickFindBtns', {
              options: res,
              pageNum: 1,
              pageSize: 10,
              isNotSpecialProvince: this.isNotSpecialProvince
            })
          })
        } else {
          // 非集团版要拿ip地址
          this.findProvinceAndCity()
        }
      } else {
        this.setFilterValue().then((res: any) => {
          this.$emit('clickFindBtns', {
            options: res,
            pageNum: 1,
            pageSize: 10,
            isNotSpecialProvince: this.isNotSpecialProvince
          })
        })
      }
    }
  },
  mounted() {
    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
      userAgent.indexOf(' electron/') > -1
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    const query = this.$route.query || {}
    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      universalModule.getTypeQualification()
      universalModule.getQualification()
    }
    if (this.userId) {
      // await this.advData()
      if (query.keywords && query.fromMenhu) {
        this.onlyKeyword(this.$route.query.keywords)
      } else if (query.enterpriseName || query.legalPerson) {
        this.keyWord = query.enterpriseName || query.legalPerson
        this.setFromGuanwang()
      } else if (query.qualificationId) {
        this.qualifications = [parseInt(query.qualificationId as string, 10)]
        this.setFromGuanwang()
      } else {
        this.getFilterGroup()
      }
      const dom = document.getElementById('areaTree') as any
      const areaTreeInput = dom.getElementsByTagName('input')[0] as any
      const areaTreeFather = areaTreeInput.parentElement
      areaTreeFather.removeChild(areaTreeInput)
    } else {
      if (query.enterpriseName) {
        this.keyWord = query.enterpriseName
        this.noLoginFindEnterPriseName()
      } else if (query.legalPerson) {
        this.keyWord = query.legalPerson
        this.noLoginFindLegalPerson()
      } else if (query.qualificationId) {
        this.qualifications = [parseInt(query.qualificationId as string, 10)]
        this.userIpArea = JSON.parse(query.userArea as any)
        this.findProvinceAndCity()
      } else if (query.fromMenhu) {
        detailModule.changeUserLoginModal(true)
      } else {
        this.findNoLoginList() // 没登录的情况
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.customer-tree-select-item {
  display: flex;
  align-items: center;

  .customer-tree-title {
    width: 120px;
  }
}

.table-filter {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 25px 24px 25px;
  position: relative;

  .search-title {
    color: #909399;
    font-size: 16px;
  }

  .advanced-btns {
    position: absolute;
    right: 25px;
  }

  .filter-item {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;
    flex-shrink: 0;

    .tree-select {
      flex-grow: 0;
      margin-right: 24px;
      width: 336px;
      max-width: 100%;
    }

    .filter-label {
      font-size: 14px;
      color: #282828;
      width: 100px;
      flex-shrink: 0;
      text-align: left;
    }

    .filter-search {
      width: 336px;
      margin-right: 24px;
    }

    .auto-width {
      flex-grow: 0;
      margin-right: 24px;
      min-width: 336px;
      //  max-width: calc(100% - 330px);
    }

    .number-count {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .have-margin {
        margin: 0 10px;
      }
    }

    .type-radio {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 180px;

      .group {
        margin-right: 5px;
        color: #686868;
      }

      .radio-tips {
        margin-bottom: 0;
        font-size: 13px;
        color: #909399;
      }
    }

    .large-button {
      width: 88px;
      margin-right: 16px;
    }

    .register-captial {
      display: flex;
      width: 445px;
      justify-content: space-between;
      align-items: center;

      .register-line {
        width: 30px;
        height: 1px;
        margin: 0 15px;
        background-color: #909399;
      }

      .captial-input {
        width: 150px;
      }
    }
  }

  .tree-search-select {
    position: relative;

    .tree-checkbox-slot {
      position: absolute;
      z-index: 1001;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }

  .collapse-expend {
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    right: 25px;
    bottom: 10px;
    color: #4d7cfe;
  }

  /*  .mask {
      width: 100vw;
      min-width: 1920px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1002;
      background-color: rgba($color: #000000, $alpha: 0.64);
      .vip-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        //min-width:70vw;
        //max-width: 44vw;
        //min-height:67vh;
        //max-height: 74vh;
        // width: 100vw;
        max-width: 833px;
        max-height: 799px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        .vip-btn {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 12vh;
        }

        .close-icon {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: 0px;
          z-index: 1002;
        }
      }
    }*/
  .mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    background-color: rgba($color: #000000, $alpha: 0.64);
    display: flex;
    justify-content: center;
    align-items: center;

    .welcome-image {
      min-width: 600px;
      min-height: 500px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .advBox {
      min-width: 600px;
      min-height: 500px;
      position: relative;
        //position: absolute;
        //left: 50%;
        //top: 50%;
        //transform: translate(-50%, -50%);
        //img{
        //  max-width: 600px;
        //}
      .close-mask {
        width: 21px;
        height: 21px;
        z-index: 999;
        position: absolute;
        right:-32px;
        top: -32px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
</style>
