<template>
  <div id="setRiskLevelFilterFilter" class="table-card">
    <div
      :style="'background-image:url(' + pcOffical + ')'"
      class="w-[60px] h-[60px] bg-cover flex-shrink-0"
    >
      <!-- <img :src="pcOffical" /> -->
    </div>

    <div v-if="showCkeckBox" class="checkbox">
      <a-checkbox :checked="isChecked" @click="changeChecked"></a-checkbox>
    </div>

    <div class="ml-[18px]">
      <div class=" flex items-center">
        <div
          :class="{ isClicked: isClicked }"
          class="mr-[16px] company-name text-[16px] cursor-pointer text-textPrimary font-bold"
          @click="goToCompanyDetail(row)"
          v-html="row.companyNameHTML"
        ></div>
        <a-tooltip
          v-if="!isSpecialProvince"
          :title="riskText.detail"
          placement="right"
          trigger="hover"
        >
          <span
            :class="riskText.type"
            class="font-bold"
            @click="goToCompanyRisk(row)"
          >
            <!--            <a-icon type="security-scan" theme="filled" />-->
            <img
              :src="riskText.icon"
              alt=""
              class="w-[16px] h-[16px] mr-[2px]"
            />
            {{ riskText.title }}
          </span>
        </a-tooltip>
        <div v-if="row.qualificationChangeTagList.length" class="ml-[16px]">
          <a-tooltip
            v-for="(item, index) in row.qualificationChangeTagList"
            :key="index"
            placement="right"
            style="margin-right: 10px"
          >
            <template slot="title">
              <span
                >近一个月内该企业有发生{{ item.applyTag }}：
                {{ item.qualificationName }}
              </span>
            </template>
            <span
              :style="'background-image:url(' + labelQualifications + ')'"
              class="text-[14px] text-tipBlue pl-[16px] pr-[8px] inline-block"
            >
              {{ item.applyTag }}
            </span>
          </a-tooltip>
        </div>
        <div
          v-if="row.fiftyNotReceive && !isSpecialProvince"
          :style="'background-image:url(' + noReveice + ')'"
          class="w-[56px] h-[22px] bg-cover ml-[16px]"
        ></div>
      </div>

      <div v-if="!isSpecialProvince" class="mt-[5px] flex items-center">
        <div
          :class="{
            'border-[#a2a2a2] text-[#a2a2a2]': isClicked,
            'border-sysPrimary text-sysPrimary': !isClicked
          }"
          class="text-[12px] font-normal py-[3px] px-[10px]
          rounded-[2px] cursor-pointer mr-[10px]
          border-solid border-[1px] "
          @click="showRegisterPersonModal"
        >
          注册人员：{{ row.registerPersonNum || 0 }} 人
        </div>
        <div :class="{ isClicked: isClicked }">
          <span class="text-textLight">历史业绩：</span>
          <span>
            {{ row.achievementsNum || 0 }}
          </span>
        </div>
        <div class="ml-[8px]">
          {{ row.shareholderChange ? '近三个月发生股东变更' : '' }}
        </div>
      </div>

      <div :class="{ isClicked: isClicked }" class="mt-[5px]  text-textLight">
        <span v-if="row.establishmentDate !== 'no'">
          成立日期：{{ row.establishmentDate || '-' }}
        </span>
      </div>

      <div v-show="row.qualificationsListLocal.length" class="mt-[5px]">
        <a-popover
          v-if="row.qualificationsListLocal.length >= 4"
          trigger="hover"
        >
          <div slot="title" class="popover-title">施工资质</div>
          <template slot="content">
            <div
              style="max-width: 600px"
              v-html="row.qualificationsListText"
            ></div>
          </template>
          <div class="flex">
            <div
              :class="{ isClicked: isClicked }"
              class="text-textLight flex-shrink-0"
            >
              施工资质：
            </div>
            <span
              :class="{ isClicked: isClicked }"
              class=" text-textPrimary"
              v-html="row.qualificationsText"
            ></span>
          </div>
        </a-popover>
        <div v-else>
          <div class="flex">
            <div
              :class="{ isClicked: isClicked }"
              class="flex-shrink-0 text-textLight"
            >
              {{ row.specialText || '施工资质：' }}
            </div>
            <span
              :class="{ isClicked: isClicked }"
              class=" text-textPrimary"
              v-html="row.qualificationsText"
            ></span>
          </div>
        </div>
      </div>
      <div v-show="row.designQualificationListLocal.length" class="mt-[5px]">
        <a-popover
          v-if="row.designQualificationListLocal.length >= 3"
          trigger="hover"
        >
          <div slot="title" class="popover-title">设计资质</div>
          <template slot="content">
            <div
              style="max-width: 600px"
              v-html="row.designQualificationListText"
            ></div>
          </template>
          <div class="flex">
            <div
              :class="{ isClicked: isClicked }"
              class="text-textLight flex-shrink-0"
            >
              设计资质：
            </div>
            <span
              :class="{ isClicked: isClicked }"
              class="text-textPrimary "
              v-html="row.desginQualificationText"
            ></span>
          </div>
        </a-popover>
        <div v-else>
          <div class="flex">
            <div
              :class="{ isClicked: isClicked }"
              class="text-textLight flex-shrink-0"
            >
              {{ row.specialText || '设计资质：' }}
            </div>
            <span
              :class="{ isClicked: isClicked }"
              class="text-textPrimary"
              v-html="row.desginQualificationText"
            ></span>
          </div>
        </div>
      </div>

      <div v-if="!isSpecialProvince" class="mt-[5px]">
        <span v-if="!row.phoneType" class="text-textLight">
          暂无手机号，获取更多企业手机号。<img :src="cour" />
          <a-select
            :id="tableIndex"
            :getPopupContainer="getPopupContainer"
            :open="defaultOpen"
            allowClear
            class="table-risk-filter"
            placeholder="风险等级"
            size="small"
            @change="setRiskLevelFilter"
            @mouseenter="mouseenter"
            @mouseleave="mouseleave"
          >
            <a-select-option
              v-for="(item, key) in riskOption"
              :key="key"
              :value="item.value"
            >
              {{ item.label }}
            </a-select-option>
          </a-select>
        </span>
        <span v-else-if="row.phoneType === '2'">
          <span
            v-if="row.haveReceive"
            :class="{ isClicked: isClicked }"
            class="flex"
          >
            <span class="text-textLight">联系电话：</span>
            <a-tooltip title="双击可复制电话号码" trigger="hover">
              <span
                class="text-tipBlue font-bold"
                v-for="(item, index) in row.phoneNumDisplay"
                :key="index"
                @dblclick="dblCopy(item)"
              >
                {{ item
                }}<span v-if="index !== row.phoneNumDisplay.length - 1"
                  >、</span
                >
              </span>
            </a-tooltip>
          </span>

          <span v-if="!row.haveReceive" :class="{ isClicked: isClicked }">
            联系电话：{{ row.phoneNumDisplay }}
          </span>
          <div :class="{ isClicked: isClicked }">
            暂无手机号，获取更多企业手机号。
            <img :src="cour" />
            <!--            暂无手机号。注：切换风险等级，继续查找。-->
            <a-select
              :id="tableIndex"
              :getPopupContainer="getPopupContainer"
              :open="defaultOpen"
              allowClear
              class="table-risk-filter"
              placeholder="风险等级"
              size="small"
              @change="setRiskLevelFilter"
              @mouseenter="mouseenter"
              @mouseleave="mouseleave"
            >
              <a-select-option
                v-for="(item, key) in riskOption"
                :key="key"
                :value="item.value"
              >
                {{ item.label }}
              </a-select-option>
            </a-select>
          </div>
        </span>
        <span
          v-else-if="isHavePhoneNumber(row.phoneNumDisplay) && !row.haveReceive"
          :class="{ isClicked: isClicked }"
        >
          <span class="text-textLight"> 联系电话：</span>
          <span class="text-textLight">{{ row.phoneNumDisplay }}</span>
        </span>
        <div v-else :class="{ isClicked: isClicked }" class="flex">
          <span class="text-textLight">联系电话：</span>
          <a-tooltip title="双击可复制电话号码" trigger="hover">
            <span
              class="font-bold text-tipBlue"
              v-for="(item, index) in row.phoneNumDisplay"
              :key="index"
              @dblclick="dblCopy(item)"
            >
              {{ item
              }}<span v-if="index !== row.phoneNumDisplay.length - 1">、</span>
            </span>
          </a-tooltip>
        </div>
      </div>

      <div
        v-if="!isSpecialProvince"
        :class="{ isClicked: isClicked }"
        class="mt-[5px] flex items-center  text-textLight"
      >
        <div class="mr-[8px]">被查看次数：{{ row.receiveCount }}</div>
        <div v-if="row.answerStatus" class=" text-textTip">|</div>
        <div class="ml-[8px]">{{ row.answerStatus }}</div>
      </div>
      <div
        :class="{ isClicked: isClicked }"
        class="flex items-center leading-[14px] mt-[5px] "
        v-if="row.beforeNameList.length"
      >
        <img :src="clockIcon" class="w-[16px] h-[16px] mr-[2px]" />
        <div class="text-textLight">曾用名：</div>
        <div v-if="row.beforeNameList.length > 2">
          <a-popover placement="top">
            <template slot="title">
              <span>曾用名 </span>
            </template>
            <template slot="content">
              <div
                style="max-width: 600px"
                v-html="row.beforeNameListHtml"
              ></div>
            </template>
            <div
              class="cursor-pointer"
              v-html="row.beforeNameListHtmlShort"
            ></div>
          </a-popover>
        </div>
        <div v-else v-html="row.beforeNameListHtml"></div>
      </div>
    </div>

    <div class="operate">
      <div
        v-if="!isSpecialProvince"
        :class="{ shareDisabled: isSuperAdmin }"
        :style="'background-image:url(' + qrCodePrimary + ');' + ' '"
        class="qr-code-image"
        title="分享企业"
        @click="showSharQrCode(row)"
      ></div>
      <div class="region">{{ row.areaName }}</div>
      <div
        v-if="!isSpecialProvince && isHavePhoneNumber(row.phoneNumDisplay)"
        class="examine-phone"
      >
        <!-- <div class="receive btn">电话已领取</div> -->
        <div
          v-if="!row.haveReceive"
          :class="{ cDisabled: isSuperAdmin }"
          class="no-receive btn"
          @click="receiveThisItem(row)"
        >
          联系企业
        </div>
      </div>
      <div v-if="row.haveReceive" class="btns">
        <!-- <div class="btns" v-if="false"> -->
        <!-- <div v-if="row.haveReceive" class="receive btn">已领取资源</div> -->
        <div
          :class="{ cDisabled: isSuperAdmin || !row.haveReceive }"
          class="not-turn-on btn"
          @click="phoneIsNotTurnOn"
        >
          拨打未通
        </div>
        <div
          :class="{ cDisabled: isSuperAdmin || !row.haveReceive }"
          class="follow btn"
          @click="phoneIsTurnOn"
        >
          接通跟进
        </div>
      </div>
    </div>
    <a-modal
      v-model="staffModal"
      :destroyOnClose="true"
      title="注册人员"
      @cancel="closeModal"
    >
      <a-tabs :activeKey="activeKey" type="card" @change="changeTabCard">
        <a-tab-pane
          v-for="(item, key) in registerTypeTabs"
          :key="key"
          :tab="item.name + '(' + item.number + ')'"
        >
          <a-table
            :bordered="true"
            :columns="columns"
            :data-source="item.list"
            :pagination="pagination"
            :total="item.number"
            rowKey="index"
          >
            <template slot="registerTypeList" slot-scope="text, item">
              <li v-for="(d, index) in item.registerMajorList" :key="index">
                {{ d }}
              </li>
            </template>
          </a-table>
        </a-tab-pane>
      </a-tabs>
      <div slot="footer">
        <!-- <a-button @click="closeModal" type="primary">确认</a-button> -->
      </div>
    </a-modal>
  </div>
</template>

<script>
import {
  Popover,
  Tooltip,
  Checkbox,
  Modal,
  Tabs,
  Table,
  Select
} from 'ant-design-vue'
import labelQualifications from '@/assets/image/bg_label_qualifications.png'
import comapnyImage from '@/assets/image/company_image.png'
import qrCodeWhite from '@/assets/image/qr_code_white.png'
import low from '@/assets/image/menuIcon/ic_danger_low.png'
import hight from '@/assets/image/menuIcon/ic_danger_hight.png'
import centre from '@/assets/image/menuIcon/ic_danger_centre.png'
import qrCodePrimary from '@/assets/image/qr_code_primary.png'
import pcOffical from '@/assets/image/tableItem/pc_office.png'
import clockIcon from '@/assets/image/icon/clock.png'
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'
import cour from '@/assets/image/gesture.gif'
import Cookie from 'js-cookie'
import noReveice from '@/assets/image/tableItem/no_reveice.png'

export default {
  name: 'table-card',
  components: {
    aModal: Modal,
    aPopover: Popover,
    aTooltip: Tooltip,
    aCheckbox: Checkbox,
    aTabs: Tabs,
    aTable: Table,
    aTabPane: Tabs.TabPane,
    aSelect: Select,
    aSelectOption: Select.Option
  },
  computed: {
    pagination() {
      return {
        current: this.pageNum,
        pageSize: 5,
        hideOnSinglePage: true,
        // total: this.row.registerPersonNum,
        onChange: num => {
          this.pageNum = num
        }
      }
    },
    // phoneInfo() {
    //   let text = this.row.phoneText
    //   if (this.row.phoneText.indexOf('暂无') > -1) {
    //     return text
    //   } else if (this.isSuperAdmin) {
    //     return this.row.contactInformationListText
    //   } else {
    //     text = this.row.haveReceive
    //       ? this.row.contactInformationListText
    //       : this.row.phoneText.substring(0, 3) + '********'
    //     return text
    //   }
    // },
    // qrCodeImage() {
    //   // console.log(this.row.haveReceive)
    //   return this.row.haveReceive ? this.qrCodePrimary : this.qrCodeWhite
    // },
    riskText() {
      if (this.row.riskLevel !== undefined) {
        const riskDetail = [
          {
            title: '无风险',
            icon: low,
            type: 'no-risk risk',
            detail: '企业经营状况良好'
          },
          {
            title: '低风险',
            icon: low,
            type: 'no-risk risk',
            detail: '企业存在工商异常、行政处罚等信息'
          },
          {
            title: '中风险',
            icon: centre,
            type: 'medium-risk risk',
            detail: '企业存在被执行信息'
          },
          {
            title: '高风险',
            icon: hight,
            type: 'hight-risk risk',
            detail: '企业存在失信被执行信息'
          }
        ]

        return this.row.riskLevel >= 0 ? riskDetail[this.row.riskLevel] : {}
      } else {
        return {}
      }
    }
  },
  data() {
    return {
      low,
      hight,
      centre,
      labelQualifications,
      pcOffical,
      noReveice,
      defaultOpen: false,
      cour,
      clockIcon,
      riskLevelFilter: undefined,
      riskOption: [
        { label: '无风险', value: '0' },
        { label: '低风险', value: '1' },
        { label: '中风险', value: '2' },
        { label: '高风险', value: '3' }
      ],
      activeKey: 0,
      // 0=挂断，1=未接，2=空号，3=无法接通，4=不在服务器/国内，5=其他,可用
      qrCodeImage: qrCodePrimary,
      checked: false,
      comapnyImage,
      qrCodePrimary,
      qrCodeWhite,
      isSuperAdmin: userModule.roleLevel === 1,
      isSales: userModule.roleLevel === 4,
      staffModal: false,
      registerTypeTabs: [],
      pageNum: 1,
      columns: [
        { title: '序号', dataIndex: 'index', width: 70, align: 'center' },
        { title: '姓名', dataIndex: 'personName', width: 110, align: 'center' },
        { title: '注册类别', dataIndex: 'registerType', align: 'center' },
        {
          title: '注册专业',
          dataIndex: 'registerTypeList',
          width: 150,
          align: 'center',
          scopedSlots: { customRender: 'registerTypeList' }
        }
      ]
    }
  },
  props: {
    type: {
      type: String,
      default: 'default'
    },
    isSpecialProvince: {
      type: Boolean,
      default: false
    },
    index: {
      type: Number,
      default: -1
    },
    isChecked: {
      type: Boolean,
      default: false
    },
    showCkeckBox: {
      type: Boolean,
      default: false
    },
    isClicked: {
      type: [Boolean, Number, String],
      default: false
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    },
    tableIndex: {
      type: Number
    }
  },
  methods: {
    async userIsLogin() {
      const userAgent = navigator.userAgent.toLowerCase()
      const userId =
        userAgent.indexOf(' electron/') > -1
          ? localStorage.getItem('userId')
          : Cookie.get('userId')
      try {
        if (!userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    mouseenter() {
      this.defaultOpen = true
    },
    mouseleave() {
      this.defaultOpen = false
    },
    getPopupContainer() {
      return document.getElementById(this.tableIndex)
    },
    setRiskLevelFilter(val) {
      this.$emit('setRiskLevelFilter', val)
    },
    changeTabCard(key) {
      this.activeKey = key
      this.pageNum = 1
    },
    closeModal() {
      this.staffModal = false
    },
    showRegisterPersonModal() {
      this.userIsLogin().then(() => {
        if (!this.row.registerTypeList.length) {
          return
        }
        // console.log(this.row.registerTypeList)
        this.registerTypeTabs = this.row.registerTypeList.map(e => {
          return {
            name: e.registerType,
            list: e.registerPersonList.map((r, i) => {
              return { ...r, index: i + 1 }
            }),
            number: e.registerPersonList.length
          }
        })
        this.pageNum = 1
        this.activeKey = 0
        this.$emit('showRegisterDrawer', this.registerTypeTabs)
        // this.staffModal = true
      })
    },
    isHavePhoneNumber(num) {
      if (num.indexOf('暂无') > -1) {
        return false
      } else {
        return true
      }
    },
    dblCopy(phone) {
      if (!this.confirmEnding(phone, ')')) {
        copyThisText(phone)
        this.$message.success('电话号码已复制到粘贴板')
      }
    },
    //判断结尾字符
    confirmEnding(str, target) {
      const start = str.length - target.length
      const arr = str.substr(start, target.length)
      if (arr === target) {
        return true
      }
      return false
    },
    phoneIsNotTurnOn() {
      this.$emit('phoneIsNotTurnOn', this.row)
    },
    phoneIsTurnOn() {
      // console.log('接通跟进',this.row)
      this.$emit('phoneIsTurnOn', this.row)
    },
    changeChecked() {
      //console.log(this.index)
      this.$emit('changeChecked', this.index)
    },
    selectThisRow() {
      //console.log(this.checked)
    },
    goToCompanyDetail(row) {
      this.userIsLogin().then(() => {
        this.$emit('goToCompanyDetail', row)
      })
    },
    goToCompanyRisk(row) {
      this.userIsLogin().then(() => {
        this.$emit('goToCompanyRisk', row)
      })
    },
    receiveThisItem(row) {
      if (this.isSuperAdmin) {
        return
      }
      this.$emit('receiveThisItem', row)
    },
    staffFollowUp(row) {
      if (this.isSuperAdmin) {
        return
      }
      if (!row.haveReceive) {
        this.$message.error('请领取后再进行操作')
        return
      }
      this.$emit('staffFollowUp', row)
    },
    showSharQrCode(row) {
      this.userIsLogin().then(() => {
        if (this.isSuperAdmin) {
          return
        }
        // if (!row.haveReceive) {
        //  this.$message.error('请领取后再进行操作')
        //  return
        //}
        this.$emit('showSharQrCode', row)
      })
    }
  },

  watch: {
    // row: {
    //   deep: true,
    //   immediate: true,
    //   handler(val) {
    //     // console.log(val)
    //     if (val.notShowQrcode) {
    //       this.qrCodeImage = ''
    //     } else if (val.haveReceive) {
    //       this.qrCodeImage = qrCodePrimary
    //     } else {
    //       this.qrCodeImage = qrCodeWhite
    //     }
    //   },
    // },
    // tableIndex: {
    //   deep: true,
    //   immediate: true,
    //   handler(val) {
    //     console.log('index',val)
    //
    //   },
    // },
  }
}
</script>

<style lang="scss">
.hightlight {
  color: #f30c0c !important;
}

.qua-hightlight {
  color: #f30c0c !important;
}

.isClicked {
  color: #a2a2a2 !important;

  span {
    color: #a2a2a2 !important;
  }

  .staff {
    border-color: #a2a2a2 !important;
  }
}
</style>

<style lang="scss" scoped src="../../../utils/tableItemFree.scss"></style>

<style lang="scss" scoped>
.labelQualificationsText {
  display: inline-block;
  padding-left: 18px;
  padding-right: 6px;
  font-size: 14px;
  font-family: 'songti';
  color: #4d7cfe;
}

.table-card {
  width: 100%;
  padding: 24px 174px 24px 24px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-bottom: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  font-weight: 500;

  &:hover {
    background-color: rgba($color: #00ab94, $alpha: 0.05);

    .company-name {
      color: #00ab94;
    }
  }

  // justify-content: space-between;
  .checkbox {
    height: 94px;
    width: 40px;
  }

  .hight-risk {
    color: #f30c0c;
  }

  .medium-risk {
    color: #ff7f28;
  }

  .no-risk {
    color: #00bc87;
  }

  .operate {
    position: absolute;
    height: 100%;
    width: 195px;
    right: 24px;
    top: 0px;
    bottom: 0px;
    flex-shrink: 0;

    .examine-phone {
      position: absolute;
      bottom: 24px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;

      .btn {
        width: 90px;
        // width: fit-content;
        cursor: pointer;
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        //  color: #ffffff;
        border-radius: 2px;
      }
    }

    .btns {
      position: absolute;
      bottom: 24px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;

      .btn {
        width: 90px;
        cursor: pointer;
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        // color: #ffffff;
        border-radius: 2px;
      }
    }

    .receive {
      background-color: #b8b8b8;
    }

    .no-receive {
      background-color: #00ab94;
      color: #ffff;
      border: 1px solid #00ab94;

      &:hover {
        background-color: #00bc87;
        color: #fff;
        border: 1px solid #00bc87;
      }
    }

    .follow {
      background-color: #00ab94;
      color: #ffffff;
      border: 1px solid #00ab94;

      &:hover {
        background-color: #00bc87;
        border: 1px solid #00bc87;
      }
    }

    .not-turn-on {
      color: #00ab94;
      border: 1px solid #00ab94;
      background-color: #ffffff;

      &:hover {
        color: #ffffff;
        background-color: #00ab94;
        border: 1px solid #00ab94;
      }
    }

    .qr-code-image {
      margin-top: 24px;
      margin-left: 160px;
      //display: flex;
      //align-items: flex-end;
      //position: absolute;
      //top: 24px;
      //right: 0px;
      width: 34.5px;
      height: 34.5px;
      cursor: pointer;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      //background-color: #afafaf;
    }

    .shareDisabled {
      cursor: not-allowed !important;
    }

    .region {
      margin-top: 35px;
      text-align: right;
      width: 100%;
      color: #686868;
    }
  }
}
</style>
