<template>
  <div class="attention-list">
    <div class="operate">
      <a-input-search
        class="search"
        v-model="companyName"
        @search="searchCompany"
        placeholder="搜索企业名称"
        allowClear
      ></a-input-search>
      <a-button
        class="have-rt-margin"
        @click="changeRemoveBtns"
        :type="showRemoveBtns ? 'primary' : 'default'"
        icon="setting"
        >批量删除</a-button
      >
      <a-button @click="downloadExcel" icon="download">导出列表</a-button>
    </div>
    <div class="remove-btns" v-if="showRemoveBtns">
      <a-button @click="cancelSelect" class="have-rt-margin">取消</a-button>
      <a-button @click="selectAllAttention" class="have-rt-margin">
        {{ selectNum === tableData.length ? '取消全选' : '全选' }} ({{
          selectNum
        }})
      </a-button>
      <a-button @click="deleteAllAttention" class="have-rt-margin"
        >删除</a-button
      >
    </div>
    <div v-if="total" class="attention-table">
      <div class="table-card" v-for="(item, index) in tableData" :key="index">
        <a-checkbox
          v-if="showRemoveBtns"
          v-model="item.isSelect"
          class="card-check"
        ></a-checkbox>
        <div class="block-image">
          <p>{{ item.number }}</p>
        </div>
        <div class="info">
          <div class="name">{{ item.companyName }}</div>
          <div class="other">
            <span class="have-rt-margin"
              >法定代表人：{{ item.legalPerson }}</span
            >
            <span class="have-rt-margin"
              >注册资本：{{ item.registeredCapital }}</span
            >
            <span class="have-rt-margin"
              >成立日期：{{ item.establishmentDate }}</span
            >
          </div>
          <div class="date">关注日期：{{ item.attentionTime }}</div>
        </div>
        <div class="btns">
          <a-button
            @click="moveItemGroup(item)"
            class="have-rt-margin"
            size="small"
            >移动</a-button
          >
          <a-button
            @click="removeThisAttention(item)"
            type="danger"
            size="small"
            >删除</a-button
          >
        </div>
      </div>
      <div class="pagination" v-if="total > pageSize">
        <a-pagination
          v-model="pageNum"
          @change="tableChange"
          @showSizeChange="tableChange"
          :showTotal="paginationShowTotal"
          :showSizeChanger="false"
          :showQuickJumper="true"
          :pageSize.sync="pageSize"
          :total="total"
        ></a-pagination>
      </div>
    </div>
    <div v-else class="attention-table">
      <block-data
        :imageSrc="src"
        :imageWidth="'100%'"
        :titleText="''"
        :text="''"
      ></block-data>
    </div>
    <attention-modal
      :isFromDetail="false"
      @ok="changeGroup"
      ref="aM"
    ></attention-modal>
  </div>
</template>

<script>
import { Input, Checkbox, Modal, Pagination } from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'
import noDataBlock from '@/assets/image/no_data_block.png'
import attentionModal from './AttentionModal'
export default {
  name: 'attention-table',
  components: {
    aPagination: Pagination,
    attentionModal,
    aCheckbox: Checkbox,
    aInputSearch: Input.Search,
    blockData
  },
  props: {
    tableData: {
      type: Array,
      default() {
        return []
      }
    },
    total: {
      type: Number,
      default: 0
    },
    groupId: {
      type: [Number, String],
      default: -1
    }
  },
  computed: {
    selectNum() {
      const num = this.tableData.filter(e => {
        return e.isSelect
      }).length
      return num
    }
  },
  data() {
    return {
      src: noDataBlock,
      pageSize: 10,
      pageNum: 1,
      changeItem: null,
      companyName: '',
      showRemoveBtns: false
    }
  },
  methods: {
    downloadExcel() {
      const params = {
        companyName: this.companyName,
        groupId: this.groupId > -1 ? this.groupId : ''
      }
      this.$httpRequester
        .download('attention/exportCompany', params)
        .then(r => {
          const blob = new Blob([r])
          const link = document.createElement('a')
          const time = this.$moment().format('YYYY-MM-DD HH:mm:ss')
          link.href = window.URL.createObjectURL(blob)
          link.download = `${time}-关注列表.xlsx`
          link.click()
        })
    },
    tableChange(num, size) {
      this.$emit('tableChange', { num, size })
    },
    paginationShowTotal() {
      return
    },
    changeGroup(groupId) {
      this.$httpRequester
        .put('attention', {
          tagId: groupId,
          id: this.changeItem.id
        })
        .then(() => {
          this.$message.success('操作成功')
          this.$refs.aM.handleCancel()
        })
    },
    moveItemGroup(item) {
      this.changeItem = item
      this.$refs.aM.setDetaultRadio(item.tagId)
      this.$refs.aM.showModal()
    },
    cancelSelect() {
      this.tableData.forEach(e => {
        e.isSelect = false
      })
      this.showRemoveBtns = false
    },
    selectAllAttention() {
      if (this.selectNum === this.tableData.length) {
        this.tableData.forEach(e => {
          e.isSelect = false
        })
      } else {
        this.tableData.forEach(e => {
          e.isSelect = true
        })
      }
    },
    removeThisAttention(item) {
      Modal.confirm({
        title: '温馨提示',
        content: '真的要将这个企业移除关注列表吗？',
        okText: '确认',
        cancelText: '取消',
        onOk: () => {
          this.$httpRequester.delete('attention/id', item.id).then(() => {
            this.$message.success('操作成功')
            this.$emit('refreshList')
          })
        }
      })
    },
    deleteAllAttention() {
      const list = this.tableData.filter(e => {
        return e.isSelect
      })
      if (!list.length) {
        this.$message.warning('请选择需要删除的条目！')
        return
      }
      const ids = list
        .map(e => {
          return e.id
        })
        .join(',')
      Modal.confirm({
        title: '温馨提示',
        content: '真要要将所选企业移除关注列表吗？',
        okText: '确认',
        cancelText: '取消',
        onOk: () => {
          this.$httpRequester.delete('attention/ids', ids).then(() => {
            this.$message.success('操作成功')
            this.$emit('refreshList')
          })
        }
      })
    },
    changeRemoveBtns() {
      if (this.showRemoveBtns) {
        this.cancelSelect()
      } else {
        this.showRemoveBtns = true
      }
    },
    searchCompany() {
      this.$emit('refreshList', this.companyName)
    }
  },
  watch: {
    tableData: {
      immediate: true,
      deep: true,
      handler(val) {
        if (!val.length) {
          this.showRemoveBtns = false
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.attention-list {
  .operate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // margin-bottom: 16px;
    background-color: #f2f2f2;
    padding: 6px 24px;
    .search {
      width: 200px;
      margin-right: 15px;
    }
  }
  .remove-btns {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
  }
  .attention-table {
    .table-card {
      padding: 20px;
      border-bottom: solid 1px #f2f2f2;
      border-left: solid 1px #f2f2f2;
      border-right: solid 1px #f2f2f2;
      display: flex;
      align-items: flex-start;
      justify-content: left;
      position: relative;
      .card-check {
        margin-right: 15px;
        margin-top: 20px;
      }
      .block-image {
        margin-top: 10px;
        width: 66px;
        height: 66px;
        border: solid 1px #dceeff;
        background-color: #dceeff;
        flex-shrink: 0;
        border-radius: 50%;
        position: relative;
        p {
          font-size: 40px;
          font-weight: bold;
          color: #fff;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          text-align: center;
        }
      }
      .info {
        margin-left: 20px;
        .name {
          font-size: 16px;
          color: #333333;
        }
        .other {
          margin-top: 12px;
          font-size: 13px;
          color: #333333;
        }
        .date {
          margin-top: 12px;
          font-size: 14px;
          color: #666666;
        }
      }
      .btns {
        position: absolute;
        right: 20px;
        bottom: 54px;
      }
    }
    .pagination {
      margin-top: 20px;
      text-align: right;
    }
  }
}
</style>
