<template>
  <div class="AttentiomDynamic">
    <div class="operate">
      <a-input-search
        class="search"
        v-model="enterpriseName"
        @search="searchEnterpriseName"
        placeholder="搜索企业名称"
        allowClear
      ></a-input-search>
    </div>
    <div v-if="tableTotal" class="AttentiomDynamicTable">
      <div>
        <a-table
          class="page-table"
          ref="pageTable"
          rowKey="rowKeyId"
          :columns="columnsDetails"
          :data-source="listData"
          :pagination="false"
        >
          <template slot="changeContent" slot-scope="record">
            <span v-for="(item, index) in record" :key="index + 'd'">
              {{ item }}
              <br />
            </span>
          </template>
        </a-table>
      </div>
      <div class="pagination" v-if="tableTotal > pageSize">
        <a-pagination
          v-model="pageNum"
          @change="tableChange"
          @showSizeChange="tableChange"
          :showTotal="paginationShowTotal"
          :showSizeChanger="false"
          :pageSize.sync="pageSize"
          :total="tableTotal"
        >
        </a-pagination>
      </div>
    </div>
    <div v-else>
      <block-data
        :imageSrc="src"
        :imageWidth="'100%'"
        :titleText="''"
        :text="''"
      ></block-data>
    </div>
  </div>
</template>

<script>
import { Input, Table, Pagination } from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'
import noDataBlock from '@/assets/image/no_data_block.png'

export default {
  name: 'attention-dynatimc',
  components: {
    aInputSearch: Input.Search,
    aTable: Table,
    aPagination: Pagination,
    blockData
  },
  props: {
    listData: {
      type: Array,
      default() {
        return []
      }
    },
    tableTotal: {
      type: Number,
      default: 0
    },
    tagId: {
      type: [Number, String],
      default: -1
    }
  },
  data() {
    return {
      src: noDataBlock,
      enterpriseName: '',
      pageSize: 10,
      pageNum: 1,
      columnsDetails: [
        { title: '关注公司', dataIndex: 'companyName' },
        { title: '事件类型', dataIndex: 'businessType' },
        {
          title: '动态',
          dataIndex: 'changeContent',
          scopedSlots: { customRender: 'changeContent' }
        },
        { title: '动态类型', dataIndex: 'changeType' },
        { title: '时间', dataIndex: 'createTime' }
      ]
    }
  },
  methods: {
    searchEnterpriseName() {
      this.$emit('searchEnterpriseName', this.enterpriseName)
    },
    //表格数据变化
    tableChange(num, size) {
      console.log('页码和页数', num, size)
      this.$emit('tableListChange', { num, size })
    },
    paginationShowTotal() {
      return
    }
  }
}
</script>

<style lang="scss" scoped>
.AttentiomDynamic {
  .AttentiomDynamicTable {
    .pagination {
      margin-top: 20px;
      text-align: right;
    }
  }

  //table搜索
  .operate {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
    padding-top: 10px;

    .search {
      width: 200px;
      margin-right: 15px;
    }
  }
}
</style>
