<template>
  <div id="attentionModal">
    <a-modal
      :visible="display"
      wrapClassName="attention-modal"
      :title="isFromDetail ? '选择分组' : '移动分组'"
      width="450px"
      @ok="handleOk"
      @cancel="handleCancel"
    >
      <div class="group">
        <div class="add-group">
          <a-button
            v-if="isFromDetail"
            type="link"
            icon="plus"
            @click="addNewGroup"
            :disabled="groups.length > 4"
            >添加分组</a-button
          >
        </div>
        <div class="group-select">
          <a-radio-group v-model="groupId">
            <a-radio
              :value="item.value"
              class="group-item"
              v-for="(item, index) in groups"
              :key="index"
              >{{ item.label }}</a-radio
            >
          </a-radio-group>
          <div class="add-input" v-if="showAdd">
            <a-input v-model="groupName" class="input" />
            <div class="btns">
              <a-button
                @click="addGroup"
                class="have-rt-margin"
                size="small"
                type="link"
                >确认</a-button
              >
              <a-button @click="cancelAddGroup" size="small" type="link"
                >取消</a-button
              >
            </div>
          </div>
        </div>
      </div>
    </a-modal>
  </div>
</template>

<script>
import { Modal, Radio, Input } from 'ant-design-vue'
export default {
  name: 'attention-modal',
  components: {
    aInput: Input,
    aRadio: Radio,
    aRadioGroup: Radio.Group,
    aModal: Modal
  },
  props: {
    isFromDetail: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      groupName: '',
      groupId: '',
      showAdd: false,
      groups: [],
      display: false
    }
  },
  methods: {
    setDetaultRadio(val) {
      this.$nextTick(() => {
        this.groupId = parseInt(val, 10)
      })
    },
    cancelAddGroup() {
      this.groupName = ''
      this.showAdd = false
    },
    addNewGroup() {
      this.showAdd = true
    },
    addGroup() {
      if (!this.groupName) {
        return
      }
      this.$httpRequester
        .post('attention/grouping', { groupName: this.groupName })
        .then(() => {
          this.$message.success('操作成功')
          this.cancelAddGroup()
          this.getGroupList()
        })
    },
    showModal() {
      this.display = true
      this.showAdd = false
      this.groupName = ''
      this.getGroupList()
    },
    handleCancel() {
      this.display = false
    },
    handleOk() {
      this.$emit('ok', this.groupId)
    },
    getContainer() {
      return document.getElementById('attentionModal')
    },
    getGroupList() {
      this.$httpRequester.get('attention/grouping/query').then(r => {
        this.groups = r
          .map(e => {
            return {
              label: e.groupName,
              value: parseInt(e.id, 10),
              edit: false
            }
          })
          .concat([])
        // console.log(r)
        console.log(this.isFromDetail)
        if (this.isFromDetail) {
          this.groupId = parseInt(r[0].id, 10)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.attention-modal {
  .group {
    position: relative;
    .add-group {
      text-align: right;
      margin-bottom: 10px;
    }
    .group-select {
      border: 1px solid #f2f2f2;
      padding: 16px;
      border-radius: 4px;
      .group-item {
        margin-bottom: 16px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .add-input {
        display: flex;
        margin-top: 16px;
        align-items: center;
        .input {
          margin-right: 15px;
          width: 60%;
        }
      }
    }
  }
}
</style>
