<template>
  <div class="certifi-detail">
    <!--    <div v-if="detail.status === 2 && !isSuperAdmin" class="re-checkout">
      <a-button class="btn" type="primary" @click="reSend">重新提审</a-button>
    </div>-->
    <div class="info-content">
      <div
        v-if="statusImage"
        :style="'background-image:url(' + statusImage + ')'"
        class="check-status"
      ></div>
      <div
        v-if="(detail.status === 2 || detail.status === 3) && !isSuperAdmin"
        class="check-remarks"
      >
        <div>失败原因：</div>
        <div class="have-color">{{ detail.remarks }}</div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">资质状态:</div>
          <div class="detail">
            {{ statusText[detail.quelificationStatus] }}
          </div>
        </div>
      </div>

      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">资质类型:</div>
          <div class="detail">
            <div
              v-for="(item, index) in detail.qualificationTextList"
              :key="index"
            >
              {{ item }}
            </div>
          </div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">企业名称:</div>
          <div class="detail">{{ detail.enterpriseName }}</div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">注册地区:</div>
          <div class="detail">{{ detail.area }}</div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">落地地区:</div>
          <div class="detail">{{ detail.findInarea || '-' }}</div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">营业执照:</div>
          <div class="detail">
            <div v-if="detail.businessLicenseUrl" class="image-list">
              <div
                :style="
                  'background-image:url(' + detail.businessLicenseUrl + ')'
                "
                class="image-item"
                title="点击查看大图"
                @click="showImagePreview(detail.businessLicenseUrl)"
              >
                <!-- <img :src="detail.legalImageUrl" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">有效期:</div>
          <div class="detail">{{ effectiveDate }}</div>
        </div>
      </div>
      <div class="list-item">
        <div class="item-title ">资质证书:</div>
        <div class="detail">
          <div class="image-list">
            <div
              v-for="(item, key) in detail.itemsImageUrlList"
              :key="key"
              :style="'background-image:url(' + item.upLoadImageUrl + ')'"
              class="image-item"
              title="点击查看大图"
              @click="showImagePreview(item.upLoadImageUrl)"
            >
              <!-- <img :src="detail.legalImageUrl" /> -->
            </div>
          </div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">更多特性:</div>
          <div class="detail">
            <span
              class="checkbox"
              v-for="(item, key) in otherOptions"
              v-show="item.isShow"
              :key="key"
            >
              {{ item.label }}
            </span>
          </div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">备注说明:</div>
          <div class="detail">{{ detail.showDescribe || '--' }}</div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">联系人:</div>
          <div class="detail">{{ detail.contactsPerson || '-' }}</div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">手机:</div>
          <div class="detail">{{ detail.contactsPhone }}</div>
        </div>
      </div>
      <div class="item-list">
        <div class="list-item">
          <div class="item-title ">发布时间:</div>
          <div class="detail">{{ detail.createTime }}</div>
        </div>
      </div>
      <div v-if="isCertification && !detail.status" class="item-list">
        <div class="list-item">
          <div class="item-title "></div>
          <a-button class="have-rt-margin" type="primary" @click="confirmPass">
            通过
          </a-button>
          <a-button type="danger" @click="confirmRefuse">不通过</a-button>
        </div>
      </div>

      <div v-if="isSuperAdmin">
        <div v-if="detail.status === 2" class="failure-info">
          <!-- <div class="item-list">
            <div class="list-item">
              <div class="item-title ">审核状态:</div>
              <div class="detail">审核失败</div>
            </div>
          </div> -->
          <div class="item-list">
            <div class="list-item">
              <div class="item-title ">审核人员:</div>
              <div class="detail">{{ detail.memberName }}</div>
            </div>
          </div>
          <div class="item-list">
            <div class="list-item">
              <div class="item-title ">审核时间:</div>
              <div class="detail">{{ detail.auditTime }}</div>
            </div>
          </div>
          <div class="item-list">
            <div class="list-item">
              <div class="item-title ">备注原因:</div>
              <div class="detail">{{ detail.remarks }}</div>
            </div>
          </div>
        </div>
        <div v-if="detail.status === 1" class="success-info">
          <!-- <div class="item-list">
            <div class="list-item">
              <div class="item-title ">审核状态:</div>
              <div class="detail">审核成功</div>
            </div>
          </div> -->
          <div class="item-list">
            <div class="list-item">
              <div class="item-title ">审核人员:</div>
              <div class="detail">
                {{ detail.memberName || '平台自营自动审核' }}
              </div>
            </div>
          </div>
          <div class="item-list">
            <div class="list-item">
              <div class="item-title ">审核时间:</div>
              <div class="detail">
                {{ detail.auditTime || '平台自营自动审核' }}
              </div>
            </div>
          </div>
        </div>
        <!-- <div v-if="detail.status === 0" class="ing-info">
          <div class="item-list">
            <div class="list-item">
              <div class="title">审核状态:</div>
              <div class="detail">审核中</div>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <a-modal
      :destroyOnClose="true"
      :visible="showRefuse"
      title="审核失败"
      width="500px"
      @cancel="closeModal"
      @ok="refuseCertificaion"
    >
      <form-index
        ref="formIndex"
        :value="{}"
        :formItems="formItems"
        :labelCol="{ span: 4 }"
      ></form-index>
    </a-modal>
    <image-preview
      v-if="showPriview"
      :imageUrl="priviewUrl"
      @closePrview="closePrview"
    ></image-preview>
  </div>
</template>

<script>
import { universalModule } from '@/store/modules/universal'
import { userModule } from '@/store/modules/user'
import { Modal } from 'ant-design-vue'
import imagePreview from '@/components/ImagePreview.vue'
import formType from '@/components/Form/formType'
import formIndex from '@/components/Form/index.vue'
import failure from '@/assets/image/check/failure.png'
import pass from '@/assets/image/check/pass.png'
import ing from '@/assets/image/check/ing.png'

export default {
  name: 'detail',
  components: {
    imagePreview,
    aModal: Modal,
    formIndex
  },
  data() {
    return {
      statusImage: '',
      failure,
      pass,
      ing,
      // isCertification: false,
      detail: {},
      priviewUrl: '',
      showPriview: false,
      showRefuse: false,
      effectiveDate: '',
      refuseRemark: '',
      other: [],
      formItems: [
        {
          type: formType.TEXTAREA,
          value: '',
          label: '备注原因',
          name: 'remarks',
          placeholder: '请填写审核不通过原因',
          validate: [
            {
              required: true,
              trigger: 'blur',
              message: '请填写审核不通过的原因'
            }
          ]
        }
      ],
      statusText: ['现货', '预售'],
      otherOptions: [
        { label: '财务纠纷', value: 'isFinanceDispute', isShow: false },
        { label: '法律纠纷', value: 'isLawDispute', isShow: false },
        { label: '行政处罚记录', value: 'isPoliticsPenalize', isShow: false },
        { label: '在建工程', value: 'isBuildingProject', isShow: false },
        { label: '挂靠人员', value: 'isHangingClose', isShow: false },
        { label: '安全生产许可证', value: 'isSecurityLicence', isShow: false },
        { label: '包函', value: 'isNeedLetter', isShow: false },
        { label: '不可控股', value: 'isHoldingCompany', isShow: false }
      ]
    }
  },
  computed: {
    isSuperAdmin() {
      return userModule.roleLevel === 1
    },
    areaOptions() {
      return universalModule.areaOptions
    }
  },
  methods: {
    reSend() {
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1',
          reSendId: this.id
        }
      })
    },
    refuseCertificaion() {
      const remarks = this.$refs.formIndex.formValidator()
      if (!remarks) {
        return
      }

      const params = {
        status: 2,
        authenId: this.id,
        ...remarks
      }
      this.$httpRequester.post('authen/inspect', params).then(() => {
        this.closeModal()
        this.getCompanyCertificationDetail()
        this.$message.success('操作成功')
        // this.getCertificationList()
        // this.closeDraw()
      })
    },
    confirmRefuse() {
      this.refuseRemark = ''
      this.showRefuse = true
    },
    closeModal() {
      this.showRefuse = false
    },
    confirmPass() {
      Modal.confirm({
        title: '审核成功',
        content:
          '审核成功之后，该企业添加的资质信息会展示在我的发布中，一旦审核通过不可撤销，请仔细审核用户上传的资质信息。',
        onOk: () => {
          this.passCertification()
        }
      })
    },
    passCertification() {
      const params = {
        status: 1,
        authenId: this.id
      }
      this.$httpRequester.post('authen/inspect', params).then(() => {
        this.$message.success('操作成功')
        //  this.getCertificationList()
        this.getCompanyCertificationDetail()
        // this.closeDraw()
      })
    },
    closePrview() {
      this.showPriview = false
      this.priviewUrl = ''
    },
    showImagePreview(url) {
      this.showPriview = true
      this.priviewUrl = url
    },
    backFrom() {
      if (this.$route.query.from) {
        this.$router.push({
          name: this.$route.query.from,
          query: {
            pId: '4',
            historyPage: this.$route.query.historyPage || '',
            mySellPage: this.$route.query.mySellPage || '',
            cePage: this.$route.query.cePage
          }
        })
      } else {
        this.$router.push({
          name: 'mySell',
          query: {
            pId: '4'
          }
        })
      }
    },
    getCompanyCertificationDetail() {
      // console.log('getCompanyCertificationDetail')
      this.$httpRequester
        .get('authen/get/deteils', { id: this.id })
        .then(res => {
          this.detail = res
          this.detail.qualificationTextList = res.itemsInfoList.map(e => {
            return e.authenItemName
          })
          const findArea = this.areaOptions.find(e => {
            return e.value === this.detail.areaCode
          })
          if (findArea) {
            this.detail.area = findArea.label
          }
          // 落地地区
          let findInarea = {}
          if (this.detail.inAreaCode === 0) {
            findInarea = { label: '全国', value: 0 }
          } else {
            findInarea = this.areaOptions.find(e => {
              return e.value === this.detail.inAreaCode
            })
          }
          if (findInarea) {
            this.detail.findInarea = findInarea.label
          }
          for (const key in res.authenFeatureVO) {
            this.otherOptions.forEach(o => {
              if (key === o.value) {
                o.isShow = res.authenFeatureVO[key]
              }
            })
          }

          if (res.itemsImageUrlList) {
            res.itemsImageUrlList.forEach(i => {
              if (i.effectiveDate) this.effectiveDate = i.effectiveDate
            })
          }
          switch (res.status) {
            case 1:
              this.statusImage = pass
              break
            case 2:
              this.statusImage = failure
              break
            case 3:
              this.statusImage = failure
              break
            default:
              this.statusImage = ing
          }
        })
      //   console.log(this.detail)
    }
  },
  async mounted() {
    await universalModule.setAreaOptions()
    // this.id = this.$route.query.id
    // this.isCertification = this.$route.query.isCertification === '1'
    // this.$nextTick(() => {
    //   this.getCompanyCertificationDetail()
    // })
  },

  props: {
    id: {
      type: Number
    },
    isCertification: {
      type: Number
    }
  },
  watch: {
    id() {
      this.getCompanyCertificationDetail()
    },
    areaOptions() {
      this.getCompanyCertificationDetail()
    }
  }
}
</script>

<style lang="scss" scoped>
.certifi-detail {
  // margin-top: 15px;
  // margin-top: 50px;
  padding-bottom: 10px;
  background-color: #ffffff;
  width: 100%;

  .back {
    padding: 20px 10px 10px 10px;
  }

  .re-checkout {
    position: relative;
    height: 50px;
    .btn {
      position: absolute;
      right: 0;
      top: -24px;
    }
  }

  .item-list {
    display: flex;
    width: 750px;
    // justify-content: space-between;
  }

  .info-content {
    width: 100%;
    position: relative;
    // padding: 62px 22px 2px 22px;
    // border: solid 1px #f2f2f2;
    margin-bottom: 20px;
    // border-radius: 4px;
    .check-status {
      width: 114px;
      height: 114px;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      top: -24px;
      z-index: 888;
    }
  }

  .info-maintitle {
    height: 32px;
    position: absolute;
    width: 100%;
    line-height: 32px;
    padding-left: 10px;
    border-left: 10px solid #4d7cfe;
    top: 0;
    left: 0;
    box-sizing: border-box;
    color: #8e8e90;
    background-color: #f2f2f2;
  }

  .list-item {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;

    .item-title {
      font-size: 14px;
      font-weight: 400;
      color: #686868;
      text-align: left;
      margin-right: 16px;
      flex-shrink: 0;
      width: 65px;
    }

    .detail {
      font-size: 14px;
      font-weight: 400;
      color: #282828;

      .checkbox {
        display: inline-block;
        border-radius: 2px;
        border: 1px solid #d2d6d9;
        font-size: 14px;
        font-weight: 400;
        color: #282828;
        line-height: 22px;
        padding: 0 8px;
        margin-right: 8px;
        margin-bottom: 8px;
      }

      .image-item {
        width: 88px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 15px 15px 0;
        cursor: pointer;

        img {
          width: 300px;
          height: 225px;
        }
      }
    }

    //  line-height: 60px;
  }

  .failure-info {
    padding-top: 10px;
    background-color: #f2f2f2;
    color: #dc0000;
  }

  .success-info {
    padding-top: 10px;
    background-color: #f2f2f2;
    color: #4ebf56;
  }

  .ing-info {
    padding-top: 10px;
    background-color: #f2f2f2;
    color: #ff8800;
  }

  .check-remarks {
    width: 100%;
    color: #f30c0c;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin-right: 16px;
    // background: #f2f2f2;
    // border-radius: 11px;
    margin-bottom: 16px;

    .have-color {
      width: 70%;
      color: #f30c0c;
    }

    // margin-left: 22px;
  }
}
</style>
