<template>
  <div id="editGroup">
    <a-modal
      title="编辑分组"
      width="450px"
      :getContainer="getContainer"
      :visible="showEdit"
      @ok="refreshGroup"
      centered
      @cancel="refreshGroup"
    >
      <div class="edit-content">
        <a-button
          icon="plus"
          class="add-btn"
          @click="addGroupItem"
          :disabled="groups.length > 4"
          type="link"
          >添加分组</a-button
        >
        <div v-for="(item, index) in groups" :key="index">
          <div v-if="item.edit" class="group-items">
            {{ index + 1 }}.
            <a-input
              class="group-input"
              v-model="item.label"
              placeholder="请输入分组名称"
            />
            <a-button
              @click="confirmEditGroup(item)"
              type="link"
              class="confim-btn have-rt-margin"
              >确认</a-button
            >
            <a-button
              @click="cancelEditGroup(index)"
              type="link"
              class="confim-btn"
              >取消</a-button
            >
          </div>
          <div class="group-items" v-else>
            {{ index + 1 }}.
            <div class="group-input">{{ item.label }}</div>
            <div
              @click="editGroupItem(item)"
              title="编辑分组"
              class="edit-icon have-rt-margin"
            >
              <a-icon type="edit" />
            </div>
            <div
              title="删除分组"
              @click="deleteGroup(item, index)"
              class="delete-icon"
            >
              <a-icon type="delete" />
            </div>
          </div>
        </div>
      </div>
      <div slot="footer">
        <a-button key="back" @click="refreshGroup" style="right: 5px;"
          >关闭</a-button
        >
      </div>
    </a-modal>
  </div>
</template>

<script>
import { Modal, Input } from 'ant-design-vue'
export default {
  name: 'edit-group',
  components: {
    aModal: Modal,
    aInput: Input
  },
  data() {
    return {
      showEdit: false,
      groups: []
    }
  },
  methods: {
    editGroupItem(item) {
      item.edit = true
    },
    addGroupItem() {
      this.groups.push({
        value: '',
        label: '',
        edit: true
      })
    },
    getContainer() {
      return document.getElementById('editGroup')
    },
    setGroups(g) {
      this.groups = g.map(e => {
        return {
          ...e,
          edit: false
        }
      })
    },
    showEditModal() {
      this.showEdit = true
    },
    refreshGroup() {
      this.showEdit = false
      this.$emit('refreshGroup')
    },
    deleteGroup(item, index) {
      Modal.confirm({
        title: '温馨提示',
        content: `如果您选择删除【${item.label}】这个分组，那么该分组所包含的企业信息以及企业动态将一并删除，请您慎重'`,
        okText: '确认',
        cancelText: '取消',
        onOk: () => {
          // console.log(item)
          this.$httpRequester
            .delete('attention/grouping/id', item.value)
            .then(() => {
              this.$message.success('操作成功')
              this.groups.splice(index, 1)
            })
        }
      })
    },
    getGroupList() {
      this.$httpRequester.get('attention/grouping/query').then(r => {
        this.groups = r
          .map(e => {
            return {
              label: e.groupName,
              value: e.id,
              edit: false
            }
          })
          .concat([])
      })
    },
    cancelEditGroup(key) {
      if (this.groups[key].value) {
        this.groups[key].edit = false
      } else {
        this.groups.splice(key, 1)
      }
    },
    confirmEditGroup(item) {
      if (!item.label) {
        this.$message.error('请填写分组名称')
        return
      }
      if (item.value) {
        // 编辑
        this.$httpRequester
          .put('attention/grouping', {
            groupName: item.label,
            id: item.value
          })
          .then(() => {
            this.$message.success('操作成功')
            this.getGroupList()
          })
      } else {
        // 新增
        this.$httpRequester
          .post('attention/grouping', { groupName: item.label })
          .then(() => {
            this.$message.success('操作成功')
            this.getGroupList()
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.edit-content {
  position: relative;
  .add-btn {
    position: absolute;
    top: -38px;
    right: 0px;
    padding: 0 !important;
  }
  .group-items {
    display: flex;
    align-items: center;
    margin-top: 16px;
    flex-shrink: 0;
    .group-input {
      margin-right: 12px;
      margin-left: 10px;
      flex-grow: 1;
      padding: 4px 6px;
      border-radius: 4px;
      border: solid 1px #f2f2f2;
    }
    .confim-btn {
      flex-shrink: 0;

      width: 35px;
      text-align: center;
      padding: 0;
    }
  }
  .edit-icon {
    flex-shrink: 0;
    text-align: center;
    width: 35px;
    color: #4ebf56;
    cursor: pointer;
    font-size: 15px;
  }
  .delete-icon {
    width: 35px;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
    color: #f5222d;
    font-size: 15px;
  }
}
</style>
