<template>
  <div class="qualification-select">
    <div class="select-item" v-for="(qua, index) in item.list" :key="index">
      <a-tree-select
        @change="selectQualification"
        v-model="qua.qualificationId"
        allow-clear
        class="tree-select"
        treeNodeFilterProp="label"
        treeDefaultExpandAll
        treeNodeLabelProp="label"
        showSearch
        :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
        placeholder="请输入选择资质"
      >
        <!-- :tree-data="qualificationOptions" -->

        <a-tree-select-node
          v-for="qua in quaOptions"
          :key="qua.key"
          :value="qua.value"
          :selectable="false"
          :checkable="false"
          :label="qua.label"
          :title="qua.title"
        >
          <a-tree-select-node
            v-for="children in qua.children"
            :key="children.key"
            :value="children.value"
            :disabled="children.disabled"
            :label="children.label"
            :title="children.title"
          ></a-tree-select-node>
        </a-tree-select-node>
      </a-tree-select>
      <a-button
        v-show="index === 0"
        @click="addMoreQualification"
        class="btns"
        icon="plus"
        >添加更多资质</a-button
      >
      <a-button
        type="danger"
        icon="delete"
        @click="removeThisQualification(index)"
        v-show="index !== 0"
        class="btns"
      >
        移除此条资质
      </a-button>
    </div>
  </div>
</template>

<script>
import { universalModule } from '@/store/modules/universal'
import { TreeSelect } from 'ant-design-vue'
export default {
  name: 'qualification-select',
  components: {
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode
  },
  props: {
    item: {
      type: [Array, Object],
      defautl() {
        return {}
      }
    }
  },
  computed: {
    qualificationOptions() {
      return universalModule.qualificationOptions
    }
  },
  data() {
    return {
      qualifications: [],
      quaOptions: []
    }
  },
  methods: {
    removeThisQualification(index) {
      this.$emit('removeThisQualification', index)
      this.setOptionDisabled()
    },
    addMoreQualification() {
      this.$emit('addMoreQualification')
    },
    selectQualification() {
      this.setOptionDisabled()
    },
    setOptionDisabled() {
      const specialArr = []
      this.quaOptions.forEach((q, i) => {
        let find = undefined
        q.children.forEach(c => {
          find = this.item.list.find(l => {
            return c.value === l.qualificationId
          })
          if (find) {
            specialArr.push(i)
          }
        })
      })
      this.quaOptions.forEach((q, i) => {
        if (specialArr.includes(i)) {
          q.children.forEach(c => {
            c.disabled = true
          })
        } else {
          q.children.forEach(c => {
            c.disabled = false
          })
        }
      })
    }
  },
  mounted() {
    universalModule.getQualification()
  },
  watch: {
    qualificationOptions(val) {
      this.quaOptions = this.$deepCopy(val)
    }
  }
}
</script>

<style lang="scss" scoped>
.qualification-select {
  .select-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .tree-select {
      width: 75%;
    }
    .btns {
      margin-left: 20px;
    }
  }
}
</style>
