<template>
  <div>
    <div v-if="!isFromLogin" class="changePwd">
      <a-steps :current="currentStep" class="steps">
        <a-step title="验证手机号"/>
        <a-step title="修改密码"/>
        <a-step title="完成"/>
      </a-steps>
      <a-form-model
          v-if="currentStep === 0"
          ref="firstForm"
          :class="{ isNotFromLogin: !isFromLogin, isUserLogin: isFromLogin }"
          :label-col="{ span: 4 }"
          :model="changeModel"
          :rules="changeRules"
          :wrapper-col="{ span: 18 }"
          class="register-form"
          labelAlign="left"
      >
        <div v-if="!isFromLogin" class="form-tips">
          身份验证，请点击“
          <span style="color:#00AB94">获取验证码</span>”以确认身份
        </div>
        <a-form-model-item
            class="register-item"
            label="手机号:"
            prop="userName"
        >
          <a-input
              v-model="changeModel.userName"
              :class="{ isNotFromLoginUserNameInput: !isFromLogin }"
              :disabled="!isFromLogin"
              placeholder="请输入手机号码"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item
            class="register-item"
            label="验证码:"
            prop="verifycode"
        >
          <div class="verifycode-input">
            <a-input
                v-model="changeModel.verifycode"
                :class="{changePwdHaveVerifycode: !isFromLogin}"
                class="have-verifycode verify-code"
                placeholder="请输入短信验证码"
            ></a-input>
            <a-button
                :disabled="codeDisabled"
                class="verify-btn send-Verifycode"
                type="primary"
                @click="sendVerifycode"
            >{{ codeBtnText }}
            </a-button>
          </div>
        </a-form-model-item>
      </a-form-model>
      <a-form-model
          v-if="currentStep === 1"
          ref="secondForm"
          :class="{ isNotFromLogin: !isFromLogin, isUserLogin: isFromLogin }"
          :label-col="{ span: 5 }"
          :model="changeModel"
          :rules="changeRules"
          :wrapper-col="{ span: 19 }"
          class="register-form"
          labelAlign="left"
      >
        <a-form-model-item
            class="register-item"
            label="新密码"
            prop="encryptNewPassword"
        >
          <a-input
              v-model="changeModel.encryptNewPassword"
              :class="{ isNotFromLoginInput: !isFromLogin}"
              placeholder="请输入新密码"
              type="password"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item
            class="register-item"
            label="确认密码"
            prop="confirmNewPassword"
        >
          <a-input
              v-model="changeModel.confirmNewPassword"
              :class="{ isNotFromLoginInput: !isFromLogin}"
              placeholder="请确认新密码"
              type="password"
          ></a-input>
        </a-form-model-item>
      </a-form-model>
      <div v-if="currentStep === 2" class="success-tips">
        <div v-if="!isFromLogin" class="changePwdIcon">
          <img :src="successIcon" alt="" class="fromLoginSuccessImg"/>
          <div class="tip-text">
            {{ isFromLogin ? '重置密码成功！去登录' : '修改密码成功' }}
          </div>
        </div>
        <div v-if="isFromLogin && currentStep === 2" class="fromLoginSuccess">
          <img :src="successIcon" alt="" class="fromLoginSuccessImg"/>
          <div class="text">重置密码成功！</div>
          <div
              :style="{ 'background-image': 'url(' + successBtn + ')' }"
              class="successBtn"
              @click="nextSteps"
          >
            <a>{{ btText }} </a>
          </div>
        </div>
      </div>
      <a-button
          v-if="!isFromLogin&&currentStep !== 2"
          :class="{
        isNotFromLoginNextBtn: !isFromLogin,
        isUserLoginNextBtn: isFromLogin
      }"
          type="primary"
          @click="nextSteps"
      >{{ btText }}
      </a-button>
      <a-button
          v-if="isFromLogin && currentStep !== 2"
          :class="{ isNotFromLogin: !isFromLogin, isUserLoginNextBtn: isFromLogin }"
          type="primary"
          @click="nextSteps"
      >{{ btText }}
      </a-button>
    </div>
    <div v-if="isFromLogin" class="forgetPwd">
      <a-form-model
          v-if="currentStep === 0"
          ref="firstForm"
          :class="{ isUserLogin: isFromLogin }"
          :model="changeModel"
          :rules="changeRules"
          class="register-form"
      >
        <a-form-model-item
            class="register-item"
            prop="userName"
        >
          <a-input
              class="textIndent"
              v-model="changeModel.userName"
              placeholder="请输入手机号码"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item
            class="register-item"
            prop="verifycode"
        >
          <div class="verifycode-input">
            <a-input
                v-model="changeModel.verifycode"
                class="have-verifycode verify-code textIndent"
                placeholder="请输入短信验证码"
            ></a-input>
            <a-button
                :disabled="codeDisabled"
                class="verify-btn send-Verifycode"
                type="primary"
                @click="sendVerifycode"
            >{{ codeBtnText }}
            </a-button>
          </div>
        </a-form-model-item>
      </a-form-model>
      <a-form-model
          v-if="currentStep === 1"
          ref="secondForm"
          :class="{ isUserLogin: isFromLogin }"
          :model="changeModel"
          :rules="changeRules"
          class="register-form"
      >
        <a-form-model-item
            class="register-item"
            prop="encryptNewPassword"
        >
          <a-input-password
              v-model="changeModel.encryptNewPassword"
              placeholder="请输入新密码"
          ></a-input-password>
        </a-form-model-item>
        <a-form-model-item
            class="register-item"
            prop="confirmNewPassword"
        >
          <a-input-password
              v-model="changeModel.confirmNewPassword"
              placeholder="请再次输入新密码"
          ></a-input-password>
        </a-form-model-item>
      </a-form-model>
      <div v-if="currentStep === 2" class="success-tips">
        <div v-if="isFromLogin && currentStep === 2" class="fromLoginSuccess">
          <img :src="loginSuccessIcon" alt=""/>
          <div class="text">密码重置成功，请重新登录</div>
          <div
              class="successBtn"
              @click="nextSteps"
          >
            {{ btText }}
          </div>
        </div>
      </div>
      <a-button
          v-if="isFromLogin&&currentStep === 1"
          :class="{
        isUserLoginNextBtn: isFromLogin
      }"
          type="primary"
          @click="nextSteps"
      >下一步
      </a-button>
      <a-button
          v-if="isFromLogin && currentStep === 0"
          :class="{  isUserLoginNextBtn: isFromLogin }"
          type="primary"
          @click="nextSteps"
      >提交
      </a-button>
      <a-button v-if="currentStep !== 2" class="back" type="link" @click="backToLogin"
      >返回登录
      </a-button
      >
<!--      <div class="tipsText">-->
<!--        如有疑问，请联系您的专属管家：400-902-8966-->
<!--      </div>-->
    </div>
  </div>
</template>

<script lang="ts" src="./ChangePwd.ts"></script>

<style lang="scss" scoped>
*{
  padding: 0;
  margin: 0;
}
.textIndent{
  text-indent: 12px !important;
}

.changePwd {
  ::v-deep .ant-form-item-label {
    width: 78px;
    font-size: 14px;
    font-weight: 400;
    color: #282828 !important;
  }

  .steps {
    margin-bottom: 48px;
  }

  .register-form {

    .form-tips {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #282828;
      font-weight: 400;
      margin-bottom: 24px;
    }

    .isNotFromLoginUserNameInput {
      width: 400px;

    }

    ::v-deep .ant-input[disabled] {
      background-color: #F2F6F8;
    }

    .verifycode-input {
      .have-verifycode {
        width: 53%;
      }

      .verify-btn {
        width: 44%;
        margin-left: 8px;
        background-color: #00AB94;
        border: none;
      }
      .verify-btn[disabled] {
        color: #fff !important;
        border: none;
      }
    }


  }

  .isNotFromLogin {

    .isNotFromLoginInput {
      width: 400px;
    }

  }


  .changePwdIcon {
    width: 100%;
    text-align: center;

    .tip-text {
      font-size: 14px;
      font-weight: 400;
      color: #282828;
      line-height: 22px;
      margin: 8px 0;
    }

    img {
      padding-top: 40px;
      margin: 0 auto;
    }
  }
}

.forgetPwd {
  ::v-deep .ant-form-item{
    margin-bottom: 24px !important;
  }
  position: relative;
  .register-form {
    margin-top: 80px;
  }

  .register-item {
    .verifycode-input {
      .have-verifycode {
        width: 53%;
      }

      .verify-btn {
        width: 44%;
        margin-left: 8px;
        background-color: #00AB94;
        border: none;
      }
      .verify-btn[disabled] {
        color: #fff !important;
        border: none;
      }
    }

    .send-Verifycode {
      margin-left: 8px;
    }

  }

  .isUserLoginNextBtn {
    width: 312px;
  }

  ::v-deep .ant-input-suffix {
    color: #A0A6AB;
  }

  .back {
    font-size: 14px;
    font-weight: 400;
    color: #A0A6AB;
    line-height: 20px;
    position: absolute;
    right:0;
    margin-top: 36px;
  }

  .success-tips {
    text-align: center;

    .fromLoginSuccess {
      margin-top: 60px;


    }

    .text {
      font-size: 14px;
      font-weight: 400;
      color: #282828;
      line-height: 20px;
    }

    .successBtn {
      margin-top: 64px;
      width: 312px;
      height: 40px;
      background: #00AB94;
      border-radius: 2px;
      font-size: 14px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 40px;
      cursor: pointer;

    }

  }


}


</style>
