<template>
  <div class="register-page">
    <!--    <div class="main-content" :style="{ 'background-image': 'url(' + BgImage + ')' }">-->
    <!--      <h1 class="main-title">-->
    <!--        <div-->
    <!--            :style="'background-image:url(' + logo + ')'"-->
    <!--            class="main-logo"-->
    <!--        ></div>-->
    <!--      </h1>-->
    <div
      class="register-box loginRegBox"
      v-if="!isChagePwd || isFormLoginModal"
    >
      <div class="label-title">
        <div class="title">注册</div>
      </div>
      <div v-show="isLoading" class="loading">
        <a-spin size="large" tip="加载中...." />
      </div>
      <!-- <a-steps size="small" :current="currentStep">
        <a-step title="填写公司信息" />
        <a-step title="验证身份信息" />
        <a-step title="完成" />
      </a-steps> -->
      <a-form-model
        v-if="currentStep === 0"
        labelAlign="left"
        :model="registerModel"
        :rules="registerRules"
        ref="firstForm"
        class="register-form-currentStepOne"
        v-model="inputValue"
      >
        <a-form-model-item class="register-item" prop="companyName">
          <a-input
            class="textIndent"
            v-model="registerModel.companyName"
            placeholder="请正确输入公司名称"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item class="register-item" prop="city">
          <a-cascader
            :fieldNames="{
              label: 'areaName',
              value: 'areaName',
              children: 'cityList'
            }"
            :options="cityList"
            :value="registerModel.city"
            @change="selectCity"
            placeholder="使用地区"
          />
        </a-form-model-item>
      </a-form-model>
      <a-form-model
        :model="registerModel"
        :rules="registerRules"
        ref="secondForm"
        class="register-form-currentStepTwo"
        v-if="currentStep === 1"
      >
        <a-form-model-item class="register-item" prop="memberName">
          <a-input
            class="textIndent"
            v-model="registerModel.memberName"
            placeholder="请输入姓名"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item class="register-item" prop="userAccount">
          <a-input
            class="textIndent"
            v-model="registerModel.userAccount"
            placeholder="请输入手机号码"
          ></a-input>
        </a-form-model-item>
        <a-form-model-item class="register-item" prop="verifycode">
          <div class="verifycode-input">
            <a-input
              class="have-verifycode textIndent"
              v-model="registerModel.verifycode"
              placeholder="请输入短信验证码"
            ></a-input>
            <a-button
              :disabled="codeDisabled"
              @click="setVerifycode"
              class="verify-btn"
              type="primary"
              >{{ codeBtnText }}
            </a-button>
          </div>
        </a-form-model-item>
        <a-form-model-item class="register-item" prop="password">
          <a-input-password
            v-model="registerModel.password"
            placeholder="请设置密码，数字+字母组合，6-12位"
          ></a-input-password>
        </a-form-model-item>
        <a-form-model-item class="register-item" prop="validPassword">
          <a-input-password
            v-model="registerModel.validPassword"
            placeholder="请重复输入密码"
          ></a-input-password>
        </a-form-model-item>
      </a-form-model>
      <div class="success-tips" v-if="currentStep === 2">
        <div class="fromLoginSuccess">
          <img class="fromLoginSuccessImg" :src="successIcon" alt="" />
          <div class="text">注册成功，去使用</div>
          <div @click="nextSteps" class="successBtn">
            <!--            :style="{ 'background-image': 'url(' + successBtn + ')' }"-->
            <a>{{ btText }} </a>
          </div>
        </div>
        <!--        <a-icon class="success-icon" theme="filled" type="check-circle"/>-->
        <!--        <div class="tip-text">注册成功！</div>-->
        <!-- <div class="sub-tip">登录密码为888888(6个8)</div> -->
      </div>
      <!--      <a-button type="link" @click="backPreviousStep" v-if="currentStep === 1"
        >返回上一步
      </a-button>-->

      <a-button
        type="primary"
        class="btButton"
        @click="nextSteps"
        v-if="currentStep !== 2"
      >
        {{ btText }}
      </a-button>
      <div class="regBackBtn">
        <a-button
          v-if="currentStep !== 2"
          @click="backToLogin"
          class="back"
          type="link"
          >返回登录</a-button
        >
      </div>
      <!--      <div v-if="!isFormLoginModal" class="absolute bottom-[24px] text-center right-0 left-0 m-auto text-textTip text-[14px]"-->
      <!--      >-->
      <!--        如有疑问，请联系您的专属管家：400-902-8966-->
      <!--      </div>-->
    </div>
    <div class="register-box short-height" v-if="isChagePwd">
      <div class="label-title">
        <div class="title">忘记密码</div>
      </div>
      <change-pwd></change-pwd>
    </div>
    <!--    </div>-->
  </div>
</template>

<script lang="ts" src="./Index.ts">
// // 自定义校验方法， 输入框不能输入汉字
// const checkData = (rule, value) => {
//   if (value) {
//     if (!/^[\u4e00-\u9fa5]+$/gi.test(value)) {
//       callback(new Error("只可输入汉字!"));
//     }
//   }
// };
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  // margin: 0;
}
.textIndent {
  text-indent: 12px !important;
}

.register-page {
  position: relative;

  .loginRegBox {
    .register-form-currentStepOne {
      margin-top: 80px;
    }
    .register-form-currentStepTwo {
      margin-top: 40px;
    }
    //.ant-btn {
    //  padding: 0 12px !important;
    //}

    .fromLoginSuccess {
      background-color: #ffffff;
      width: 276px;
      margin: 0 auto;
      height: 316px;

      .fromLoginSuccessImg {
        margin: 64px auto 0;
      }

      .text {
        font-size: 18px;
        color: #535353;
        margin-top: 22px;
        font-weight: 400;
      }

      .successBtn {
        cursor: pointer;
        width: 312px;
        margin-top: 48px;
        height: 40px;
        background: #00ab94;
        border-radius: 2px;

        a {
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
        }
      }
    }

    width: 312px;
    min-width: 100%;
    min-height: 100%;
    //padding: 54px 78px 58px 71px;
    //height: 100%;
    position: relative;
    .regBackBtn {
      .back {
        font-size: 14px;
        font-weight: 400;
        color: #a0a6ab;
        line-height: 20px;
        position: absolute;
        right: 0;
        margin-top: 16px;
      }
    }
    .bind-tips {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #686868;
    }
    .verifycode-input {
      .have-verifycode {
        width: 53%;
      }

      .verify-btn {
        width: 44%;
        margin-left: 8px;
        background-color: #00ab94;
        border: none;
      }
      .verify-btn[disabled] {
        color: #fff !important;
        border: none;
      }
    }
  }

  .register-box {
    //width: 483px;
    min-width: 100%;
    min-height: 100%;
    //background-color: #ffffff;
    //border-radius: 4px;
    box-sizing: border-box;
    //padding: 36px;
    position: relative;
    //margin-bottom: 20px;
    // .register-item {
    //   height: 32px;
    // }
    .register-item {
      height: auto;
      /deep/ .ant-form-item-control {
        line-height: 32px;
      }
    }
    // /deep/ .ant-input {
    //   height: 32px;
    //   border-radius: 2px;
    //   background-color: transparent;
    //   outline: none;
    //   //border:0;
    //   //color: #A0A6AB;
    //   border: 1px solid #eff3f6;
    //   box-shadow: none;
    //   appearance: none;

    //   &:hover {
    //     background-color: transparent;
    //     border: 1px solid #eff3f6;
    //     outline: none;
    //     box-shadow: none;
    //   }

    //   &:focus {
    //     outline: none;
    //     box-shadow: none;
    //     border: 1px solid #eff3f6;
    //   }
    // }

    .ant-btn-link {
      color: #1ebdf2;
    }

    .loading {
      position: absolute;
      left: 0;
      width: 100%;
      min-height: 100%;
      height: 576px;
      z-index: 10000;
      top: 0;
      padding-top: 40%;
      text-align: center;
      background-color: rgba($color: #afafaf, $alpha: 0.6);
    }

    .label-title {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .title {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #00ab94;
        padding-bottom: 8px;
        border-bottom: 4px solid #00ab94;
      }
    }

    .btButton {
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      width: 312px;
      border-radius: 2px;
      background-color: #00ab94;
      border: none;
      height: 40px;
      line-height: 40px;
      //left: 36px;
      //right: 36px;
      margin: 0 auto;
    }
  }

  .short-height {
    .ant-form-item-label {
      label {
        color: #00ab94 !important;
      }
    }

    min-height: 100%;
    height: 495px;
    //padding: 54px 60px 58px 60px;
    position: relative;

    .back {
      font-size: 14px;
      font-weight: 400;
      color: #a0a6ab;
      line-height: 20px;
      position: absolute;
      right: 0;
      margin-top: 16px;
    }
  }

  .register-form {
    width: 100%;
    // margin-top: 25px;
  }

  .success-tips {
    width: 100%;
    text-align: center;

    .success-icon {
      margin-top: 55px;
      font-size: 64px;
      color: #4d7cfe;
    }

    .tip-text {
      font-size: 14px;
      color: #1ebdf2;
      margin-top: 12px;
    }

    .sub-tip {
      font-size: 14px;
      //color: #909399;
      margin-top: 5px;
    }
  }

  /*  .main-content {
      width: 100%;
      min-height: 100vh;
      height: 950px;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .main-title {
        text-align: center;
        width: 100%;
        font-size: 50px;
        color: #fff;
        font-family: 'longna';
        position: absolute;
        top: 5px;

        .main-logo {
          width: 300px;
          height: 225px;
          // border-radius: 50%;
          overflow: hidden;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
        }
      }


    }*/
}
</style>
<style lang="scss">
.short-height {
  .ant-form-item-label {
    label {
      color: #00ab94 !important;
    }
  }
  .ant-form-item-required::before {
    content: '' !important;
  }
}

.loginRegBox {
  //.ant-form-item-label {
  //  label {
  //    color: #00ab94 !important;
  //  }
  //}
  .ant-form-item-required::before {
    content: '' !important;
  }
}
</style>
