<template>
  <a-modal
    class="indexPage"
    :visible="activityModalSide"
    :footer="null"
    :width="800"
    :maskClosable="false"
    :centered="true"
    @cancel="closeVipModal"
  >
    <!-- 取消按钮 -->
    <div slot="closeIcon"><img :src="icPopupClose" alt="" /></div>

    <!-- 占位盒子 -->
    <div style="height: 47px"></div>

    <!-- 主要内容 -->
    <div class="main-content" :style="'background-image:url(' + activityBgc + '),linear-gradient(180deg, #F66E35 0%, #F65F52 100%)'">

      <!-- ---------------------------参加活动 进行中----------------------------- -->

      <div v-if="isJoinActive && !activeProgress.isFinish && !activeProgress.doneGrade">
        <!-- 大标题 -->
        <div class="title">
          <p>邀好友助力领30天VIP</p>
        </div>
        <!-- 次标题 -->
        <p class="main-content-subTitle2">你正在参与小牛建讯领取VIP会员活动</p>
        <div class="main-content-main">
          <!-- 进度 -->
          <div class="plan-detail">
            <img :src="icJd" alt="">
            <ul>
              <li>已有{{ (activeProgress && activeProgress.doneCount) || 0 }}人为你助力</li>
              <li>还差{{ (activeProgress && activeProgress.badCount) || 0 }}人助力</li>
              <li>得{{ (activeProgress && activeProgress.grade.practical) || 0 }}天VIP会员</li>
            </ul>
          </div>
          <!-- 二维码 -->
          <div :style="'background-image:url(' + bgcCode + ')'" class="code">
            <img :src="wxAppletCode" alt="">
          </div>
        </div>
        <!-- 按钮 -->
        <div class="main-code-text" @click="toVipPage">
          <p>立即升级VIP，解锁更多权益</p>
        </div>
      </div>

      <!-- ---------------------------活动中 - 活动到账----------------------------- -->

      <div v-else-if="activityInfo && !activeProgress.isFinish && activeProgress.doneGrade">
        <!-- 大标题 -->
        <div class="title">
          <p v-if="activeProgress.doneGrade.day == 5">恭喜你{{ activeProgress.doneGrade.day || 0 }}天VIP已到账</p>
          <p v-else>恭喜你累计{{ activeProgress.doneGrade.day || 0 }}天VIP已到账</p>
        </div>
        <!-- 次标题 -->
        <p class="main-content-subTitle2">你正在参与小牛建讯领取VIP会员活动</p>
        <div class="main-content-main">
          <!-- 进度 -->
          <div class="plan-detail">
            <img :src="icJd" alt="">
            <ul>
              <li>已有{{ (activeProgress && activeProgress.doneCount) || 0 }}人为你助力</li>
              <li>只需{{ (activeProgress && activeProgress.badCount) || 0 }}人助力</li>
              <li>再得{{ (activeProgress && activeProgress.grade.practical) || 0 }}天VIP会员</li>
            </ul>
          </div>
          <!-- 二维码 -->
          <div :style="'background-image:url(' + bgcCode + ')'" class="code">
            <img :src="wxAppletCode" alt="">
          </div>
        </div>
        <!-- 按钮 -->
        <div class="main-code-text" @click="toVipPage">
          <p>立即升级VIP，解锁更多权益</p>
        </div>
      </div>

      <!-- ---------------------------活动完成----------------------------- -->

      <div v-else-if="isJoinActive && activeProgress.isFinish">
        <div class="title">
          <p>完成助力</p>
        </div>
        <div class="main-content-main">
          <!-- 进度 -->
          <div class="plan-detail finish">
            <p>恭喜你成功完成本次助力活动</p>
            <p>累计<span>30天VIP</span>已全部到账</p>
          </div>
          <!-- 二维码 -->
          <div :style="'background-image:url(' + bgcCode + ')'" class="code">
            <img :src="wxAppletCode" alt="">
          </div>
        </div>
        <div class="main-code-text" @click="toVipPage">
          <p>立即升级VIP，解锁更多权益</p>
        </div>
      </div>

      <!-- ---------------------------未参加活动----------------------------- -->

      <div v-else>
        <div class="title">
          <p>邀好友助力领30天VIP</p>
        </div>
        <h4 class="main-content-title">邀好友助力领<span>30</span>天VIP</h4>
        <p :style="'background-image:url(' + bgcSubTitle + ')'" class="main-content-subTitle">
          得<span>1500</span>家建企联系电话
        </p>
        <div class="main-content-main">
          <div :style="'background-image:url(' + bgcCode + ')'" class="code">
            <img :src="wxAppletCode" alt="">
          </div>
        </div>
        <div class="main-code-text" @click="toVipPage">
          <p>立即升级VIP，解锁更多权益</p>
        </div>
      </div>
    </div>
  </a-modal>
</template>

<script>
import { detailModule } from '@/store/modules/detail'
import activityBgc from '@/assets/image/activity/activity_bgc.png'
import wxAppletCode from '@/assets/image/activity/wxApplet_code.png'
import icPopupClose from '@/assets/image/activity/ic_popup_close.png'
import icJd from '@/assets/image/activity/ic_jd.png'
import bgcSubTitle from '@/assets/image/activity/bgc_sub_title.png'
import bgcCode from '@/assets/image/activity/bgc_code.png'
export default {
  name: 'ActivityModalShow',

  data() {
    return {
      activityBgc,
      wxAppletCode,
      icPopupClose,
      icJd,
      bgcCode,
      bgcSubTitle,
      activityInfo: {},
      gradeData: [
        {
          count: 10,  // 点击量
          day: 5, // 会员天数
          practical: 5 // 实际天数
        },
        {
          count: 20,  // 点击量
          day: 10, // 会员天数
          practical: 5 // 实际天数
        },
        {
          count: 30,  // 点击量
          day: 15, // 会员天数
          practical: 5 // 实际天数
        },
        {
          count: 40,  // 点击量
          day: 20, // 会员天数
          practical: 5 // 实际天数
        },
        {
          count: 50,
          day: 25,
          practical: 5 // 实际天数
        },
        {
          count: 60,
          day: 30,
          practical: 5 // 实际天数
        },
      ]
    }
  },
  computed: {
    activityModalSide() {
      return detailModule.activityModalSide
    },

    // code => 5014  未参加活动 => 今日查看次数已用完
    // code => 5015  未参加活动 => 你的小牛体验版已到期
    // code => 5024  活动中 => 今日查看次数已用完
    // code => 5019  活动中 => 你的VIP已到期
    // code => 5020  活动中 => 5天VIP到账
    // code => 5021  活动中 => 10天VIP到账
    // code => 5022  成功完成本次助力活动

    activityContent() {
      return detailModule.activityContent
    },

    // 是否参加了活动
    isJoinActive() {
      return this.activityInfo
    },

    // 活动弹窗所需要的数据
    activeProgress() {
      const doneCount = (this.activityInfo && this.activityInfo.totalClick) || 0 // 已完成的点击量
      const result = this.activityInfo && this.progressDetailData(doneCount)

      return result
    }
  },

  watch: {
    activityModalSide(n, o) {
      if (n) {
        this.getActivityInfo()
      }
    }
  },
  methods: {
    closeVipModal() {
      detailModule.setGoToVipModalShow(false)
      detailModule.setGoToActivityModalShow(false)
      detailModule.setGoToVipTeamModalShow(false)
      detailModule.setExpriedModalShow(false)
      detailModule.setActivityModalSide(false)
      detailModule.setWatchPhoneModalShow(false)
    },

    // 获取分享活动
    getActivityInfo() {
      this.$httpRequester
        .get('wx/activity/get')
        .then(res => {
          this.activityInfo = res || null
        })
        .catch(err => {
          this.activityInfo = null
        })
    },

    progressDetailData(count = 10) {
      const doneCount = count > 60 ? 60 : count
      let grade = {} // 等级信息
      let doneGrade = {} // 已完成的等级信息
      let isFinish = false // 是否完成了活动
      let badCount = 0 // 差多少点击量到下一等级
      const gradeData = this.gradeData
      if (doneCount >= gradeData[gradeData.length - 1].count) isFinish = true
      if (isFinish) {
        grade = gradeData[gradeData.length - 1]
      } else {
        grade = gradeData.find(item => doneCount < item.count)
        doneGrade = gradeData.find(item => doneCount == item.count) || null
        badCount = grade.count - doneCount
      }

      return {
        grade,
        isFinish,
        badCount,
        doneCount,
        doneGrade
      }
    },

    // 跳转vip
    toVipPage() {
      const userAgent = navigator.userAgent.toLowerCase()
      if (userAgent.indexOf(' electron/') === -1) {
        window.open("http://www.xnjx666.com/vip")

      } else {
        if (window.ipcRenderer) {
          window.ipcRenderer.send('openBrower')
        }
      }
      this.closeVipModal()
    }
  }
}
</script>

<style scoped lang="scss">
.indexPage /deep/ .ant-modal-body {
  padding: 0 !important;
}

.indexPage /deep/ .ant-modal-content {
  width: 480px;
  height: 468px;
  margin: 0 auto;
  background: rgba($color: #fff, $alpha: 0);
  box-shadow: none;
}

.indexPage /deep/ .ant-modal-close {
  position: absolute;
  top: -30px;
  right: -40px;
}

.indexPage /deep/ .ant-modal-close-x {
  display: block;
  width: 31px;
  height: 31px;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}

.indexPage /deep/ .ant-modal-mask {
  z-index: 1007 !important;
}
.indexPage /deep/ .ant-modal-wrap {
  z-index: 1007 !important;
}

.indexPage{
  // font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 500;
}

.title{
  width: 322px;
  height: 68px;
  line-height: 68px;
  background: #F66B39;
  box-shadow: 0 2px 6px 0 rgba(182,37,0,0.50);
  border-radius: 10px;
  margin: -47px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;

  >p{
    height: 37px;
    font-size: 26px;
    color: #FFFFFF;
    line-height: 37px;
  }
}

.main-content {
  display: table;
  width: 480px;
  height: 468px;
  background-color: linear-gradient(180deg, #F66E35 0%, #F65F52 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;

  .main-content-title,
  .main-content-subTitle {
    font-size: 32px;
    color: #FFFFFF;
    margin: 17px auto 18px;
    text-align: center;
    letter-spacing: 4px;

    span{
      font-size: 48px;
      font-weight: 600;
    }
  }

  .main-content-subTitle {
    width: 360px;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    margin: 0 auto;
    color: #FFFFFF;
    letter-spacing: unset;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    span{
      font-size: 32px;
      font-weight: 600;
    }
  }

  .main-content-subTitle2{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin: 23px 0;
  }

  .main-content-main {
    width: 100%;

    .plan-detail{
      width: 420px;
      height: 88px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 4px;
      border: 1px dashed #F67847;
      margin: 23px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      >img{
        width: 273px;
        height: 18px;
      }

      >ul{
        display: flex;

        li{
          width: 140px;
          margin-top: 8px;
          font-size: 16px;
          color: #D67300;
          text-align: center;
          &:nth-child(1){
            color: #F67847;
          }
          &:nth-child(2){
            width: 120px;
          }
        }
      }
    }

    .finish{
      margin-top: 70px;
      >p{
        font-size: 20px;
        color: #D67300;

        span{
          color: #FF4040;
          font-size: 24px;
        }
      }
    }

    .code{
      width: 176px;
      height: 176px;
      border-radius: 50%;
      margin: 0 auto 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 50%;
      }
    }
  }

  .main-code-text {
    margin: 30px auto;
    width: 416px;
    height: 56px;
    line-height: 56px;
    background: linear-gradient(180deg, #FBF379 0%, #FEC335 94%, #FEC234 96%, #FEC031 100%);
    box-shadow: 0px 0px 10px 0px #FB3201;
    border-radius: 28px;
    font-size: 16px;
    color: #700909;
    text-align: center;
    cursor: pointer;
  }
}
</style>
