<template>
    <div class="activityTime">
        <div class="main" v-if="isShowActivityTime" :style="'background-image:url(' + mainBgc + ')'">
            {{ activityTime }}
        </div>
    </div>
</template>

<script>
import iconCishu from '@/assets/image/activity/icon_cishu.png'
import iconCishuNone from '@/assets/image/activity/icon_cishu_none.png'
import { homeModule } from '@/store/modules/home'
import { userModule } from '@/store/modules/user'
export default {
    data(){
        return {
            iconCishu,
            iconCishuNone,
        }
    },

    computed: {
        activityTime(){
            return homeModule.freeTime
        },

        // 是否显示
        isShowActivityTime(){
            const version = userModule.version
            if (version == 'V_FREE_TEMP' || version == 'V_ACTIVITY_VIP') {
                return true
            }
            return false
        },

        // 背景
        mainBgc(){
            if (this.activityTime > 0) {
                return iconCishu
            }
            return iconCishuNone
        }
    },

    created(){
        homeModule.getFreeTime()
    },
}
</script>

<style lang="scss" scoped>
.activityTime{
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    margin-bottom: 30px;
    .main{
        width: 72px;
        height: 72px;
        line-height: 60px;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        font-size: 26px;
        color: #FFFFFF;
        // text-shadow: 0px 0px 2px #0571DA;
    }
}
</style>