<template>
  <div class="block-page" :style="{ marginTop: marginTopNum + 'px' }">
    <img
      :height="imageHeight"
      :src="imageSrc"
      :width="imageWidth"
      class="block-image"
    />
    <p v-if="titleText" class="block-title">{{ titleText }}</p>
    <p v-if="text" class="block-text">{{ text }}</p>
    <slot name="btSlot"></slot>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import noData from '@/assets/image/no_data.png'

export default Vue.extend({
  name: 'block-data',
  data() {
    return {
      noData
    }
  },
  props: {
    imageSrc: {
      type: String,
      default: noData
    },
    marginTopNum: {
      type: Number,
      default: 10
    },
    imageWidth: {
      type: [Number, String],
      default: '400px'
    },
    imageHeight: {
      type: [Number, String],
      default: '200px'
    },
    text: {
      type: String,
      default: '默认文字'
    },
    titleText: {
      type: String,
      default: '默认标题'
    }
  }
})
</script>
<style lang="scss" scoped>
.block-page {
  background-color: #ffffff;
  text-align: center;
  height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  img {
    margin: 0 auto;
  }

  .block-title {
    margin-top: 10px;
    font-size: 14px;
    color: #282828;
  }

  .block-text {
    margin-top: 30px;
    color: rgba($color: #a0a6ab, $alpha: 1);
    font-size: 14px;
  }
}
</style>
