<template>
  <div id="callPhoneForm">
    <a-modal
      title="沟通情况"
      :visible="turnOnShow"
      :destroyOnClose="true"
      @ok="modalHandleOk"
      :zIndex="2000"
      @cancel="modalHandleCancel"
    >
      <a-form-modal
        ref="quaForm"
        :model="qualificationModel"
        :labelCol="{ span: 5 }"
        :wrapperCol="{ span: 19 }"
      >
        <a-form-item
          label="沟通资质："
          prop="qualifications"
          :rules="{
            required: true,
            message: '请选择沟通资质',
            trigger: 'change'
          }"
        >
          <tree-checkbox-select
            :fakeQualification="fakeQualification"
            containerId="callPhoneForm"
            :qualificationOptions="qualificationOptions"
            :designQualificationOptions="designQualificationOptions"
            v-model="qualificationModel.qualifications"
          ></tree-checkbox-select>
        </a-form-item>
      </a-form-modal>
      <form-components
        ref="communicationForm"
        v-model="formValue"
        :formItems="formItems"
      ></form-components>
      <div class="turnon-tips text-textTip">
        说明：
        请如实、仔细填写沟通情况，有利于提高跟踪质量。跟踪情况栏目选择“有意向”，本条客户资源自动保存到“我的客户”中，可在“我的客户”里进行跟踪管理。
      </div>
    </a-modal>
    <a-modal
      title="未接通电话"
      width="400px"
      :visible="notTurnOnShow"
      @ok="modalHandleOk"
      :zIndex="2000"
      :destroyOnClose="true"
      @cancel="modalHandleCancel"
    >
      <div id="notTurnOn" class="not-turnon-form">
        <div class="label">未接通类型：</div>
        <a-select
          :getPopupContainer="getPopupContainer"
          class="select-input"
          v-model="notTurnOnValue"
        >
          <a-select-option
            v-for="item in notTurnOnInfo"
            :key="item.value"
            :value="item.value"
            >{{ item.label }}</a-select-option
          >
        </a-select>
      </div>
    </a-modal>
  </div>
</template>

<script>
import { Modal, Select, FormModel } from 'ant-design-vue'
import FormComponents from './Form/index'
import TreeCheckboxSelect from '@/components/TreeCheckboxSelect.vue'
import formType from './Form/formType'
import { homeModule } from '@/store/modules/home'
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'
import { universalModule } from '@/store/modules/universal'

export default {
  name: 'call-phone',
  components: {
    aFormModal: FormModel,
    aFormItem: FormModel.Item,
    aModal: Modal,
    aSelect: Select,
    aSelectOption: Select.Option,
    FormComponents,
    TreeCheckboxSelect
  },
  computed: {
    defaultQua() {
      return homeModule.defaultQua
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions

      // console.log(userModule.fakeQualificationList)
    },
    qualificationOptions() {
      if (this.rowQuaStatus.onlyConstruction) {
        return universalModule.typeQualificationOptions
      } else {
        return []
      }
    },
    designQualificationOptions() {
      if (detailModule.enterpriseItem.clueSources === 1) {
        if (this.rowQuaStatus.onlyDesign) {
          return universalModule.designQualificationOptions
        } else {
          return []
        }
      } else {
        return []
      }
    },
    rowQuaStatus() {
      return homeModule.rowQuaStatus
    },
    basicInfo() {
      return detailModule.enterpriseItem
    },
    turnOnShow() {
      return homeModule.turnOnPhone
    },
    notTurnOnShow() {
      return homeModule.notTurnOnPhone
    },
    formItems() {
      return [
        // {
        //   label: '沟通资质：',
        //   type: formType.TREESELECT,
        //   options: userModule.qualificationTreeList,
        //   value: homeModule.defaultQua,
        //   placeholder: '请选择资质',
        //   validate: [
        //     {
        //       required: true,
        //       message: '请选择',
        //       trigger: 'change',
        //     },
        //   ],
        //   name: 'qualificationItemIds',
        // },
        {
          label: '沟通情况：',
          type: formType.SELECT,
          options: [
            { label: '有意向', value: 'INTENTION' },
            { label: '无意向', value: 'NO_INTENTION' },
            { label: '挂断/打错/同行', value: 'WRONG_NUMBER' },
            { label: '辞职/公司倒闭/资质已出售', value: 'RESIGNATION' }
          ],
          value: this.formValue.followStatus,
          placeholder: '请选择沟通情况',
          validate: [
            {
              required: true,
              message: '请选择沟通情况',
              trigger: 'change'
            }
          ],
          name: 'followStatus'
        },
        {
          label: '联系人：',
          type: formType.INPUT,
          value: this.formValue.contacts,
          placeholder: '请输入联系人',
          name: 'contacts',
          validate: [
            {
              required: true,
              message: '请输入联系人',
              trigger: 'blur'
            }
          ]
        },
        {
          label: '联系电话：',
          type: this.formPhoneType,
          showSearch: true,
          value: this.formValue.phone,
          options: this.basicInfo.phoneList
            ? this.basicInfo.phoneList
                .map(e => {
                  return { value: e, label: e }
                })
                .concat(this.phoneList)
            : [],
          placeholder: '请输入联系电话',
          name: 'phone',
          props: {
            allowClear: true
          },
          searchFunction: this.setInputInOptions.bind(this),
          validate: [
            {
              validator: this.validatePhoneNumber,
              required: true,
              trigger: 'blur'
            }
          ]
        },
        {
          label: '电话是否有效：',
          type: formType.RADIO,
          show: false,
          options: [
            { label: '有效', value: 11 },
            { label: '无效', value: 10 }
          ],
          value: 11,
          name: 'phoneStatus'
        },
        {
          label: '备注：',
          type: formType.TEXTAREA,
          value: this.formValue.remarks,
          placeholder: '请输入跟进备注',
          name: 'remarks',
          validate: [
            {
              required: true,
              message: '请输入跟进备注',
              trigger: 'blur'
            }
          ]
        }
      ]
    }
  },
  data() {
    return {
      formPhoneType: '',
      notTurnOnInfo: [
        { label: '挂断', value: 'HANG_UP' },
        { label: '未接', value: 'NO_ANSWER' },
        { label: '空号', value: 'EMPTY_NUMBER' },
        { label: '无法接通', value: 'NOT_AVAILABLE' },
        { label: '不在服务区/国内', value: 'NOT_SERVICE' },
        { label: '其他', value: 'OTHER' }
      ],
      contactsPhone: '',
      phoneList: [],
      qualificationModel: {
        qualifications: []
      },
      formValue: {
        followStatus: [],
        contacts: '',
        phone: '',
        remarks: ''
      },
      inputIndex: 0,
      notTurnOnValue: 'HANG_UP',
      debounce: null
    }
  },
  methods: {
    setInputInOptions(value) {
      if (!value) {
        return
      }
      let inputPhone = ''
      if (this.debounce) {
        clearTimeout(this.debounce)
      }
      this.debounce = setTimeout(() => {
        inputPhone = value
        this.phoneList.push({ value: inputPhone, label: inputPhone })
        this.contactsPhone = inputPhone
        //  clearTimeout(this.debounce)
        // console.log(this.contactsPhone)

        // this.debounce = null
      }, 500)

      // if (!this.debounce) {
    },
    getPopupContainer() {
      return document.getElementById('notTurnOn')
    },
    validatePhoneNumber(rule, value, callback) {
      const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value) && !isTelephone.test(value)) {
        callback(new Error('请输入正确的固话或者手机号码'))
      } else {
        callback()
      }
    },
    modalHandleOk() {
      if (this.notTurnOnShow) {
        //电话未接通
        const params = {
          clueSources: this.basicInfo.clueSources,
          enterpriseId: this.basicInfo.enterpriseId,
          followStatus: this.notTurnOnValue
        }
        this.$httpRequester
          .post('followRecord/addFollowRecord', params)
          .then(() => {
            this.$message.success('操作成功')
            this.modalHandleCancel()
            homeModule.pageHandleFunction()
            //   this.modalHandleCancel()
            //   this.getFollowList()
            //   this.selectMainTitle(4)
            //   this.basicInfo.haveReceive = false
            //   this.$emit('havePhoneOperate')
          })
      } else {
        // 电话已接通
        const validate = this.$refs.communicationForm.formValidator()
        let quaFormValidate = false
        this.$refs.quaForm.validate(validate => {
          quaFormValidate = validate
        })
        if (validate && quaFormValidate) {
          const params = {
            ...validate,
            enterpriseId: this.basicInfo.enterpriseId,
            clueSources: this.basicInfo.clueSources,
            enterpriseName:
              this.basicInfo.companyName || this.basicInfo.enterpriseName
          }
          params.qualificationItemIds = this.qualificationModel.qualifications.join(
            ','
          )
          this.$httpRequester
            .post('followRecord/addFollowRecord', params)
            .then(() => {
              this.$message.success('操作成功')
              if (validate.followStatus !== 'INTENTION') {
                detailModule.changeEnterpriseKey({
                  prop: 'haveReceive',
                  key: false
                })
              }
              this.modalHandleCancel()
              homeModule.pageHandleFunction()
            })
        }
      }
    },
    modalHandleCancel() {
      this.notTurnOnValue = 'HANG_UP'
      homeModule.changeTurnPhoneStatus(false)
      homeModule.changeNotTurnPhoneStatus(false)
    }
  },
  watch: {
    defaultQua: {
      handler(val) {
        if (val) {
          this.qualificationModel.qualifications = val.map(e => {
            return parseInt(e.value, 10)
          })
        }
      }
    },
    basicInfo: {
      handler(val) {
        if (this.basicInfo.phoneType === '1') {
          this.formValue.phone = this.basicInfo.phoneList
            ? this.basicInfo.phoneList[0]
            : undefined
          this.formPhoneType = formType.SELECT
        } else if (this.basicInfo.phoneType === '2') {
          this.formValue.phone = undefined
          this.basicInfo.phoneList = []
          this.formPhoneType = formType.INPUT
        }
        this.formValue.followStatus = []
        this.formValue.contacts = ''
        this.formValue.remarks = ''
        this.phoneList = []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.not-turnon-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .label {
    font-size: 14px;
    color: #282828;
  }
  .select-input {
    width: 70%;
  }
}
</style>
