<template>
  <div>
    <input @input="test" id="ckEditor" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'ck-editor',
  data() {
    return {
      editor: '',
      editorConfig: {
        language: 'zh-cn'
      }
    }
  },
  methods: {
    test(v: any) {
      console.log(v)
    }
  },
  mounted() {
    window.CKEDITOR.replace('ckEditor', {
      height: '300px',
      width: '100%',
      toolbar: 'Full'
    })
    this.editor = window.CKEDITOR.instances.editor
    // console.log(this.editor)
    //     ClassicEditor.create(document.querySelector('#ckEditor'))
    //       .then(editor => {
    //         window.editor = editor
    //       })
    //       .catch(error => {
    //         console.error('There was a problem initializing the editor.', error)
    //       })
  }
})
</script>
