<template>
  <div>
    <div
      class="flex w-[95px] items-center text-tipOrange font-medium"
      v-if="showCountDown"
    >
      <div :class="countCss" :style="'background-image:url(' + timerBg + ')'">
        {{ countHour | numFormat }}
      </div>
      <span class="y mx-[4px]">:</span>
      <div :class="countCss" :style="'background-image:url(' + timerBg + ')'">
        {{ countMinute | numFormat }}
      </div>
      <span class="mx-[4px]">:</span>
      <div :class="countCss" :style="'background-image:url(' + timerBg + ')'">
        {{ countSecond | numFormat }}
      </div>
    </div>
  </div>
</template>

<script>
import timerBg from '@/assets/image/tableItem/timer_bg.png'
export default {
  name: 'count-down',
  filters: {
    numFormat(val) {
      const v = parseInt(val, 10)
      if (v >= 10) {
        return v
      } else {
        return '0' + v
      }
    }
  },
  computed: {
    // currentTime() {
    //   return new Date().getSeconds()
    // },
  },
  data() {
    return {
      countCss:
        'bg-cover text-center w-[24px] rounded-[2px] h-[24px] leading-[24px]',
      currentTime: '',
      countMinute: 0,
      countSecond: 0,
      countHour: 0,
      showCountDown: true,
      countTime: null,
      timerBg
    }
  },
  methods: {
    setCountDownStart() {
      // console.log(currentHour)

      const start = this.$moment().format('YYYY-MM-DD HH:mm:ss')
      const end = this.$moment()
        .add(1, 'day')
        .format('YYYY-MM-DD 09:00:00')
      // console.log(start, end)
      const allSecond = this.$moment(end).diff(this.$moment(start), 's')
      this.countHour = Math.floor(allSecond / 3600).toFixed(0)
      const secondSub = allSecond - this.countHour * 3600 // 判断差值
      this.countSecond = allSecond % 60
      this.countMinute = (secondSub / 60).toFixed(0)
      // console.log(this.countMinute)
      // 开始计时
      this.setCoutDown()
      //   console.log()
    },
    setCoutDown() {
      this.countTime = setInterval(() => {
        if (new Date().getMinutes() === 0 && new Date().getHours() === 9) {
          clearInterval(this.countTime)
          // this.showCountDown = false
          this.setCountDownStart()
          this.$emit('countdownOver')
        }
        // 8点半触发更新
        if (new Date().getMinutes() === 30 && new Date().getHours() === 8) {
          // clearInterval(this.countTime)
          // this.showCountDown = false
          // this.setCountDownStart()
          this.$emit('updatePrice')
        }
        if (this.countSecond === 0) {
          this.countSecond = 60
          if (this.countMinute === 0) {
            this.countMinute = 60
            const start = this.$moment().format('YYYY-MM-DD HH:mm:ss')
            const end = this.$moment()
              .add(1, 'day')
              .format('YYYY-MM-DD 09:00:00')
            // console.log(start, end)
            const allSecond = this.$moment(end).diff(this.$moment(start), 's')
            this.countHour = Math.floor(allSecond / 3600).toFixed(0)
          }
          this.countMinute = this.countMinute === 0 ? 0 : this.countMinute - 1
        }
        this.countSecond -= 1
      }, 1000)
    }
  },
  destroyed() {
    clearInterval(this.countTime)
  },
  created() {
    this.setCountDownStart()
    // const currentHour = new Date().getHours()
    // console.log(currentHour)
    // const currentDate = this.$moment().format('YYYY-MM-DD')
    // // console.log(currentDate)
    // // 判断在不在所需区间
    // const isBetween = this.$moment().isBetween(
    //   currentDate + '08:30:00',
    //   currentDate + '09:00:00',
    //   'minute'
    // )
    // if (isBetween) {
    //   this.showCountDown = true
    //   // 去设置倒计时开始
    //
    // } else {
    //   this.showCountDown = false
    // }
  }
}
</script>
