<template>
  <div class="customer-table-componation">
    <table class="customer-table" border>
      <tr class="table-base th" v-if="th.length">
        <td
          v-for="(h, index) in th"
          :style="{
            'max-width': h.maxWidth,
            width: h.width
          }"
          :key="index"
        >
          <div>{{ h.title }}</div>
        </td>
      </tr>
      <tr v-if="!td.length">
        <td class="table-base block-td" :colspan="th.length">
          暂无{{ blockText }}数据
        </td>
      </tr>
      <tr
        class="table-base"
        v-for="(d, index) in tableData"
        :key="index"
        v-else
      >
        <td v-for="(item, dIndex) in th" :width="item.width" :key="dIndex">
          <span v-if="item.key === 'index'">{{ index + 1 }}</span>
          <span
            v-if="
              item.key !== 'investmentEnterpriseName' && item.key !== 'index'
            "
            >{{ d[item.key] }}</span
          >
          <template v-if="item.slotText">
            <a
              v-if="d.mark"
              style="color:#4d7cfe"
              @click="investmentEnterpriseNameText(d[item.key])"
              >{{ d[item.key] }}</a
            >
            <span v-else>{{ d[item.key] }}</span>
          </template>
          <component
            :enterpriseId="enterpriseId"
            :brakeRow="d"
            v-if="item.slot"
            :is="item.slot"
          ></component>
        </td>
      </tr>
    </table>

    <div class="table-pagination" v-if="total > 5">
      <a-pagination
        @change="changePage"
        :total="total"
        :pageSize="pageSize"
        :current="pageNum"
      ></a-pagination>
    </div>
  </div>
</template>

<script>
import { Pagination } from 'ant-design-vue'
import { detailModule } from '@/store/modules/detail'
export default {
  name: 'customer-table',
  components: {
    aPagination: Pagination
  },
  computed: {
    total() {
      return this.td.length
    },
    tableData() {
      const data = []
      const max = this.pageNum * this.pageSize
      const min = (this.pageNum - 1) * this.pageSize
      this.td.forEach((e, i) => {
        if (min <= i && i < max) {
          data.push(e)
        }
      })
      return data
    }
  },
  props: {
    blockText: {
      type: String,
      default: ''
    },
    th: {
      type: Array,
      default() {
        return []
      }
    },
    td: {
      type: Array,
      default() {
        return []
      }
    },
    haveIndex: {
      type: Boolean,
      default: false
    },
    enterpriseId: {
      type: [String, Number],
      default: ''
    },
    brakeRow: {
      type: Object
    }
  },
  data() {
    return {
      pageNum: 1,
      pageSize: 5
    }
  },
  methods: {
    investmentEnterpriseNameText(text) {
      this.$emit('setLegalPerson', text)
    },
    changePage(pageNum, pageSize) {
      this.pageNum = pageNum
      this.pageSize = pageSize
    }
  }
}
</script>
<style lang="scss" scoped>
.customer-table-componation {
  td {
    border: solid 1px #f2f6f8;
  }
  .customer-table {
    width: 100%;
    color: #686868;
    font-size: 14px;
    border: solid 1px #f2f6f8;
    .table-base {
      text-align: center;
      height: 36px;
    }
    .th {
      background-color: #f2f6f8;
      color: #282828;
      font-weight: 500;
    }
    // .block-td {
    // }
  }
  .table-pagination {
    width: 100%;
    margin-top: 15px;
    text-align: right;
  }
}
</style>
