<template>
  <div class="editable-cell">
    <div v-if="editable" class="editable-cell-input-wrapper">
      <!-- <a-input :value="value" @change="handleChange" @pressEnter="check" /> -->

      <a-select
        v-model="value"
        size="small"
        class="cell-select"
        :autoFocus="true"
        @change="handleChange"
        @blur="check"
        @pressEnter="check"
      >
        <a-select-option
          v-for="item in statusList"
          :key="item.value"
          :disabled="item.disabled"
          :title="item.text"
          >{{ item.text }}</a-select-option
        >
      </a-select>

      <!-- <a-icon type="check" class="editable-cell-icon-check" @click="check" /> -->
    </div>
    <div
      v-else
      @click="edit"
      :class="{
        yellow: text === cssJudge.yellow,
        green: text === cssJudge.green,
        blue: text === cssJudge.blue
      }"
      class="status-tag"
    >
      {{ displayText || ' ' }}
      <!-- <a-icon type="edit" class="editable-cell-icon" @click="edit" /> -->
    </div>
  </div>
</template>

<script lang="ts" src="./EditableCell.ts"></script>

<style lang="scss" scoped>
.editable-cell {
  position: relative;
  max-width: 80px;
}

.cell-select {
  max-width: 80px;
  margin-right: 10px;
}
.yellow {
  color: #ff7f28;
  border-color: #ff7f28;
  background-color: rgba($color: #ff7f28, $alpha: 0.1);
}
.green {
  color: #00bc87;
  border-color: #00bc87;
  background-color: rgba($color: #00bc87, $alpha: 0.1);
}
.blue {
  color: #1890ff;
  border-color: #1890ff;
  background-color: rgba($color: #1890ff, $alpha: 0.1);
}
.editable-cell-input-wrapper {
  padding-right: 24px;
  height: 28px;
}

.status-tag {
  width: 55px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  font-size: 13px;
  border-radius: 2px;
  cursor: auto;
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}
</style>
