<template>
  <div id="feedback" class="feedback-modal">
    <a-modal
      v-model="display"
      :destroyOnClose="true"
      :getContainer="getNode"
      :maskClosable="false"
      title="意见反馈"
      @cancel="closeModal"
      @ok="beforeSubmit"
    >
      <a-form-model
        ref="feedbackForm"
        :label-col="{ span: 4 }"
        :model="formModel"
        :wrapper-col="{ offset: 5 }"
        class="form-model"
      >
        <a-form-model-item label="反馈类型">
          <a-radio-group v-model="formModel.type">
            <a-radio :value="'PRODUCT_ISSUES'">产品BUG</a-radio>
            <a-radio :value="'OPTIMIZATION_SUGGESTIONS'">优化建议</a-radio>
            <a-radio :value="'OTHER'">其他</a-radio>
          </a-radio-group>
        </a-form-model-item>
        <a-form-model-item
          :rules="{
            required: true,
            message: '请填写反馈详情',
            trigger: 'blur'
          }"
          label="反馈详情"
          prop="content"
        >
          <a-textarea
            v-model="formModel.content"
            :auto-size="{ minRows: 7, maxRows: 7 }"
            :maxLength="300"
          ></a-textarea>
          <div class="feedback-max-length">
            {{ formModel.content.length }}/300
          </div>
        </a-form-model-item>
        <a-form-model-item class="form-item" label="上传附件">
          <a-upload
            :before-upload="beforeUpload"
            :fileList="fileList"
            :remove="removeFile"
            :showUploadList="{ showPreviewIcon: false, showRemoveIcon: true }"
            accept=".png, .jpg, .jpeg, .doc, .docx, .xls, .xlsx"
            aciton
            name="file"
            @change="selectFile"
          >
            <a-button>
              <a-icon type="upload" />
              选择文件…
            </a-button>
          </a-upload>
          <p class="tips">
            支持图片的png，jpg格式,文档的doc，docx，xls，xlsx格式
            <br />单个文件最大支持2M，最多不超过5个附件
          </p>
        </a-form-model-item>
        <a-form-model-item
          :rules="{
            required: true,
            validator: verifyPhone,
            trigger: 'blur'
          }"
          label="联系方式"
          prop="contactInformation"
        >
          <a-input
            v-model="formModel.contactInformation"
            placeholder="请留下手机，我们会及时联系您"
          ></a-input>
        </a-form-model-item>
      </a-form-model>
    </a-modal>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { FormModel, Input, Upload, Radio, Modal } from 'ant-design-vue'

export default Vue.extend({
  name: 'feedback',
  data() {
    return {
      display: false,
      fileName: [] as any,
      formModel: {
        type: 'PRODUCT_ISSUES',
        file: [] as any,
        content: '',
        contactInformation: ''
      },
      fileList: [],
      files: []
    }
  },
  components: {
    aModal: Modal,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aTextarea: Input.TextArea,
    aInput: Input,
    aUpload: Upload,
    aRadioGroup: Radio.Group,
    aRadio: Radio
  },
  methods: {
    verifyPhone(rule: any, value: any, callback: any) {
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    beforeSubmit() {
      const feedbackForm = this.$refs.feedbackForm as any
      feedbackForm.validate((valid: boolean) => {
        if (valid) {
          if (this.files.length) {
            this.submitFile()
          } else {
            this.submitFeedback()
          }
        }
      })
    },
    submitFile() {
      this.fileName = []
      const formdata = new FormData()
      this.fileList.forEach((file: any) => {
        formdata.append('files', file.originFileObj)
        this.fileName.push(file.name)
      })
      /*  this.formModel.file = r
            .map((e: any) => {
              return e.url
            })
            .join(',')*/

      this.$httpRequester.upload('upload/files', formdata).then((r: any) => {
        this.formModel.file = []
        if (r.length) {
          r.forEach((e: any, i: number) => {
            const arr = {
              fileName: this.fileName[i],
              filePath: e.url
            }
            this.formModel.file.push(arr)
          })
        }
        // this.formModel.file = r.url as string
        // console.log(this.formModel)
        this.submitFeedback()
      })
    },
    submitFeedback() {
      const params = {
        ...this.formModel,
        state: 0
      }
      this.$httpRequester.post('feedback/add', params).then(() => {
        this.closeModal()
        this.$message.success('提交成功')
      })
    },
    showModal() {
      this.display = true
    },
    closeModal() {
      this.formModel = {
        type: 'PRODUCT_ISSUES',
        file: [],
        content: '',
        contactInformation: ''
      }
      this.fileList = []
      this.display = false
      this.files = []
    },
    getNode() {
      return document.body
    },
    beforeUpload(file: any) {
      this.files = [...this.files, file] as []
      return false
    },
    removeFile(file: any) {
      const index = this.files.findIndex((f: any) => f.uid === file.uid)
      // console.log(index)
      const newFileList = this.files.slice()
      newFileList.splice(index, 1)
      this.files = newFileList
    },
    selectFile(item: any) {
      const size = item.file.size
      const MB = 1024 * 1024
      if (size / MB > 2) {
        this.$message.warning('文件过大!')
        return
      }
      if (item.fileList.length > 5) {
        this.$message.warning('最多只能上传五个文件')
        return false
      }
      this.fileList = item.fileList
    }
  }
})
</script>
<style lang="scss">
.tips {
  font-size: 14px;
  line-height: 2;
  color: #a0a6ab;
  margin-bottom: 0 !important;
  // height: 23px !important;
}

.feedback-max-length {
  width: 100%;
  text-align: right;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
</style>
