<template>
  <a-modal 
  v-model="visible" 
  :title="title" 
  :footer="null" 
  @ok="handleOk" 
  @cancel="handleCancel"
  class="image-preview-modal"
  >
    <div class="box">
      <img :src="imageUrl" mode="" />
    </div>
  </a-modal>
</template>

<script>
export default {
  name: 'image-preview-modal',
  props: {
    title: {
      type: String,
      default: '查看图片',
    },
    imageUrl: {
      type: String,
      default: '',
    },
    showPriview: {
      type: Boolean,
      default: false
    }
  },
  data(){
    return {
      visible: false
    }
  },
  watch: {
    'showPriview': function (n) {
      if (n) {
          this.open()
      } else {
          this.close()
      }
    }
  },
  methods: {
    open() {
      this.visible = true
    },
    close() {
      this.visible = false
    },
    handleOk(){

    },
    handleCancel() {
      this.close()
      this.$emit('closePrview')
    }
  },
}
</script>

<style lang="less">
.image-preview-modal .ant-modal{
  width: 544px;
  margin-right: 128px;
}
</style>
<style lang="scss" scoped>
.box{
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 512px;
    max-width: 512px;
  }
}
</style>
