<template>
  <div class="side-tool ">
    <activity-time></activity-time>
    <img
      src="@/assets/image/activity/activity.png"
      @click="handleActivityModalSide"
      alt=""
    />

    <!-- <a-popover title="" placement="left">
      <template slot="content">
        <img :src="appCode" width="120" />
        <div style="width: 120px;text-align:center">欢迎体验</div>
      </template>
      <div class="tool-item pt-[16px]">
        <img :src="applet" class="w-[26px]" />
        小程序
      </div>
    </a-popover> -->
    <div class="tool-item pt-[16px]">
      <img
        :src="feedback"
        class="w-[26px] cursor-pointer"
        @click="showFeedBackModal"
      />
      <!-- <a-icon type="container" class="item-icon" /> -->
      意见反馈
    </div>

    <a-popover title="" placement="left">
      <template slot="content">
        <img :src="OfficialAccounts" width="120" />
        <div style="width: 120px;text-align:center">欢迎关注</div>
      </template>
      <div class="tool-item pt-[16px]">
        <img :src="official" class="w-[26px]" />
        公众号
      </div>
    </a-popover>

    <!--    <a-popover title="" placement="left">-->
    <!--      <template slot="content">-->
    <!--        <div class="service-content">-->
    <!--          <div>客服微信：</div>-->
    <!--          <img :src="buttomQr" width="120" />-->
    <!--          <div>客服电话:400-902-8966</div>-->
    <!--        </div>-->
    <!--      </template>-->
    <!--      <div class="tool-item py-[16px] ">-->
    <!--        <img :src="customer" class="w-[26px]" />-->
    <!--        客服-->
    <!--      </div>-->
    <!--    </a-popover>-->
    <div
      class="tool-item  py-[16px] cursor-pointer"
      @click="goToCustomerServer"
    >
      <img :src="customer" class="w-[26px]" alt="" />
      <!--      <img :src="backTop" class="w-[26px]" @click="goBackTop" />-->
      客服
    </div>
    <div @click="goBackTop" class="tool-item mt-[8px] py-[16px] cursor-pointer">
      <img :src="backTop" class="w-[26px]" />

      <!-- <a-icon type="up-circle" @click="goBackTop" class="item-icon" /> -->
      回到顶部
    </div>
  </div>
</template>

<script>
import { Popover } from 'ant-design-vue'
// import OfficialAccounts from '@/assets/image/sidetool/OfficialAccounts.jpeg'
import OfficialAccounts from '@/assets/image/sidetool/offical_qr_code.jpg'
import buttomQr from '@/assets/image/sidetool/buttomQr.png'
import applet from '@/assets/image/sidetool/ic_applet.png'
import backTop from '@/assets/image/sidetool/ic_backtop.png'
import customer from '@/assets/image/sidetool/ic_customer.png'
import feedback from '@/assets/image/sidetool/ic_feedback.png'
import official from '@/assets/image/sidetool/ic_officialaccount.png'
import appCode from '@/assets/image/sidetool/appCode.png'
import { detailModule } from '@/store/modules/detail'
import ActivityTime from './ActivityTime.vue'

export default {
  name: 'side-tool',
  components: {
    aPopover: Popover,
    ActivityTime
  },
  data() {
    return {
      OfficialAccounts,
      buttomQr,
      applet,
      backTop,
      customer,
      feedback,
      official,
      appCode
    }
  },
  methods: {
    showOfficalQrCode() {},
    showServerInfo() {},
    // 打开活动弹窗
    handleActivityModalSide() {
      detailModule.setActivityModalSide(true)
    },
    goToCustomerServer() {
      window.open(
        'https://tb.53kf.com/code/client/08d52c58415dc88c23af5972ad0a6eb98/1'
      )
    },
    goBackTop() {
      this.$emit('goBackTop')
    },
    showFeedBackModal() {
      this.$emit('showFeedBackModal')
    }
  }
}
</script>
<style lang="scss">
.service-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
</style>

<style lang="scss" scoped>
.side-tool {
  position: fixed;
  right: 0;
  bottom: 7vh;
  // background-color: #fff;
  // border: solid 1px #fafafa;
  width: 72px;
  // height: 400px; // 原360px
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 30px 0;
  justify-content: space-between;
  border-radius: 3px;
  .tool-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 100%;

    font-size: 12px;
    background-color: #00ab94;

    img {
      margin-bottom: 4px;
    }
    // height: 100px;
  }
}
</style>
