<template>
  <div>
    <a-modal
      centered
      v-model="visible"
      :mask="false"
      :closable="false"
      :zIndex="1001"
      :keyboard="false"
    >
      <div slot="title" class="relative  flex items-center">
        资源锁定
        <a-icon
          class="cursor-pointer absolute right-0 text-textTip"
          :component="closeIcon"
          @click="handleCancel"
        />
      </div>
      <!-- {{ row }} -->
      <div>
        <!-- <div v-if="isWaiting" class="w-full text-center">
          <span
            class="
              text-[14px]
              py-[3px]
              px-[10px]
              h-[30px]
              leading-[30px]
              rounded-[15px]
              w-[fit-content]
              bg-[#FF7F28] bg-opacity-10
              text-center text-[#FF7F28]
            "
          >
            该资源处于锁定洽谈中，联系顾问进入排队序列
          </span> 
        </div>-->
        <div class="w-full text-center">
          <div
            class="
              w-[400px]
              inline-block
              h-[370px]
              mt-[16px]
              bg-center bg-contain bg-no-repeat
            "
            :style="'background-image:url(' + serveiceItem.img + ')'"
          ></div>
        </div>
        <!-- 
        <div class="mt-[6px] text-[14px] text-textPrimary text-center">
          {{ row.wechatTelephone || '-' }}
        </div> -->
        <div class="mt-[10px] text-[14px]  text-textTip text-center">
          {{
            isWaiting
              ? '该资源处于锁定洽谈中，联系顾问进入排队序列'
              : '点击“联系我”，平台顾问将在15分钟内联系您沟通该资源。'
          }}
          <!-- 请联系专属顾问锁定该资源 -->
        </div>
      </div>
      <div v-if="step2" class="text-[14px] text-center text-textPrimary">
        点击“联系我”，平台顾问将在15分钟内联系您沟通该资源。
      </div>
      <div slot="footer">
        <a-button @click="handleCancel">取消</a-button>
        <a-button type="primary" @click="handleOk">
          <!-- {{ step1 ? '确定' : '联系我' }} -->
          联系我
        </a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>
import kexuan from '@/assets/image/customer/kexuan_big.png'
import yanke from '@/assets/image/customer/yanke_big.png'
import yueyi from '@/assets/image/customer/yueyi_big.png'
import closeIcon from '@/components/icons/closeIcon.vue'

export default {
  name: 'lock-modal',
  data() {
    return {
      closeIcon,
      visible: false,
      row: {},
      step1: false,
      step2: false,
      isWaiting: false,
      serveiceItem: {},
      serviceList: [
        {
          id: 1,
          img: yueyi,
          // name: '小牛-玥恬',
          // forShort: '玥恬',
          // ewmMiniImg:
          //   'http://cdn.public.xnjx666.com//upload/wx/applets/static/img/yueyi.png',
          // pictureImg:
          //   'http://cdn.public.xnjx666.com//upload/wx/applets/static/img/yuetian_img.png',
          phone: '15680696282'
          // telphone: 'tel:15680696282'
        },
        {
          id: 2,
          // name: '小牛-可萱',
          // forShort: '可萱',
          // ewmMiniImg:
          //   'http://cdn.public.xnjx666.com//upload/wx/applets/static/img/kexuan.png',
          // pictureImg:
          //   'http://cdn.public.xnjx666.com//upload/wx/applets/static/img/kexuan_img.png',
          img: kexuan,
          phone: '18687716282'
          // telphone: 'tel:18687716282'
        },
        {
          id: 3,
          // name: '小牛-妍可',
          // forShort: '妍可',
          // ewmMiniImg:
          //   'http://cdn.public.xnjx666.com//upload/wx/applets/static/img/yanke.png',
          // pictureImg:
          //   'http://cdn.public.xnjx666.com//upload/wx/applets/static/img/yanke_img.png',
          img: yanke,
          phone: '19898006282'
          // telphone: 'tel:19898006282'
        }
      ]
    }
  },
  methods: {
    showModalVisible(row) {
      this.row = row
      this.visible = true
      this.step1 = true
      const find = this.serviceList.find(e => {
        return e.phone === row.wechatTelephone
      })
      this.serveiceItem = find || this.serviceList[0]
      this.isWaiting = row.isWaiting
    },
    handleOk() {
      this.$httpRequester
        .get('trade/lockRecords/add', { lockQuaId: this.row.id })
        .then(() => {
          this.step1 = false
          // this.step2 = false
          this.visible = false
          this.$emit('complateLock')
        })
        .catch(() => {
          this.step1 = false
          // this.step2 = false
          this.visible = false
        })
      // if (this.step1) {
      //   this.step1 = false
      //   this.step2 = true
      //   return
      // }
      // if (this.step2) {
      //   this.$http
      //     .get('trade/lockRecords/add', { lockQuaId: this.row.id })
      //     .then(() => {
      //       this.step1 = false
      //       this.step2 = false
      //       this.visible = false
      //       this.$emit('complateLock')
      //     })
      // }
    },
    handleCancel() {
      this.step1 = false
      this.visible = false
      // if (this.step1) {
      //   this.step1 = false
      //   this.step2 = true
      //   return
      // }
      // if (this.step2) {
      //   this.step1 = false
      //   this.step2 = false
      //   this.visible = false
      // }
    }
  }
}
</script>
