<template>
  <a-modal
    :destroyOnClose="true"
    :footer="null"
    :maskClosable="false"
    :visible="showModal"
    :width="920"
    class="indexPage"
    @cancel="closeUserLogin"
  >
    <div class="main">
      <div class="mainImg">
        <a-carousel v-if="picList.length" autoplay class="w-[544px]">
          <img
            v-for="item in picList"
            :key="item.index"
            :src="item.value"
            alt=""
            class="w-[544px]"
          />
        </a-carousel>
        <!-- <img :src="loginBg"  :visible="userLoginModal" alt="小牛建讯" width="544px" /> -->
      </div>
      <div class="login-info">
        <div
          v-show="useMethods"
          class="lineTitle flex  items-center  justify-between"
        >
          <div
            :class="
              !useWx
                ? 'text-textTip noActive-line'
                : 'text-sysPrimary font-medium active-line'
            "
            class="cursor-pointer"
            @click="useWxLogin"
          >
            微信扫码登录
          </div>
          <div
            :class="
              !useVerify
                ? 'text-textTip noActive-line'
                : 'text-sysPrimary font-medium active-line'
            "
            class="cursor-pointer"
            @click="useVerifyLogin"
          >
            验证码登录
          </div>
          <div
            :class="
              !userPwd
                ? 'text-textTip noActive-line'
                : 'text-sysPrimary font-medium active-line'
            "
            class=" cursor-pointer"
            @click="userPwdLogin"
          >
            账号密码
          </div>
        </div>
        <div class="login-content">
          <!-- <div class="login-title">{{ loginTitle }}</div> -->
          <div v-if="useWx">
            <wx-login
              @backMethods="backMethods"
              @showBind="showBind"
              @showBtn="showBtn"
            ></wx-login>
          </div>
          <div v-if="useVerify">
            <verify-code></verify-code>
          </div>
          <div v-if="userPwd">
            <password-login
              :isFormLoginModal="true"
              @goToFindPassword="goToFindPassword"
              @goToFindRegister="goToFindRegister"
            ></password-login>
          </div>
          <div class="ChangePwdBox" v-if="isChangePwd">
            <div class="label-title">
              <div class="title">忘记密码</div>
            </div>
            <change-pwd
              :isFromLoginModal="true"
              :isFromLogin="true"
              @backToLogin="backToLogin"
              @nextSteps="nextSteps"
            ></change-pwd>
          </div>
          <div class="ChangePwdBox" v-if="isRegUser">
            <regUser
              :isFormLoginModal="true"
              @backToLogin="backToLoginReg"
              @nextSteps="nextStepsReg"
            ></regUser>
          </div>
        </div>
        <div class="tipsText">
          <p>温馨提示：</p>
          <p>推荐使用谷歌浏览器</p>
          <p><span>23:00-次日07:00</span>系统更新维护数据，暂停服务哟</p>
          <p>如有疑问，请联系您的专属管家：400-902-8966</p>
        </div>
      </div>
    </div>
  </a-modal>
</template>

<script>
import loginBg from '@/assets/image/login/bg_login.png'
import passwordLogin from '@/components/Login/PasswordLogin.vue'
import { detailModule } from '@/store/modules/detail'
import { Modal, Carousel } from 'ant-design-vue'
import wxLogin from '@/components/Login/wxLogin.vue'
import verifyCode from '@/components/Login/verifyLogin.vue'
import changePwd from '@/views/Registered/ChangePwd.vue'
import regUser from '@/views/Registered/Index.vue'

export default {
  name: 'login-modal',
  computed: {
    userLoginModal() {
      // console.log(homeModule)
      return detailModule.userLoginModal
      // homeModule.userLoginModal
    }
  },
  components: {
    aModal: Modal,
    aCarousel: Carousel,
    wxLogin,
    verifyCode,
    passwordLogin,
    changePwd,
    regUser
  },
  //   inject: ['reload'],
  data() {
    return {
      picList: [],
      // loginBg,
      showModal: false,
      useWx: true,
      useVerify: false,
      userPwd: false,
      useMethods: true,
      isChangePwd: false,
      isRegUser: false,
      loginTitle: '微信扫码登录'
    }
  },
  methods: {
    goToFindPassword() {
      this.isChangePwd = true
      this.useWx = false
      this.userPwd = false
      this.useVerify = false
      this.useMethods = false
    },
    goToFindRegister() {
      this.isRegUser = true
      this.isChangePwd = false
      this.useWx = false
      this.userPwd = false
      this.useVerify = false
      this.useMethods = false
    },
    backToLogin() {
      this.useMethods = true
      this.useWxLogin()
    },
    backToLoginReg() {
      this.backToLogin()
    },
    nextStepsReg() {
      this.backToLoginReg()
    },
    nextSteps() {
      this.backToLogin()
    },
    closeUserLogin() {
      detailModule.changeUserLoginModal(false)
    },

    showBind(title) {
      this.loginTitle = title
      this.useMethods = false
    },
    backMethods(title) {
      this.useWx = true
      this.loginTitle = title
      this.useMethods = true
    },
    showBtn() {
      this.loginTitle = ''
      this.useMethods = false
    },
    useVerifyLogin() {
      this.isChangePwd = false
      this.useWx = false
      this.userPwd = false
      this.useVerify = true
      this.loginTitle = '验证码登录'
    },
    userPwdLogin() {
      this.isChangePwd = false
      this.useWx = false
      this.userPwd = true
      this.useVerify = false
      this.loginTitle = '账号密码'
    },
    useWxLogin() {
      this.isChangePwd = false
      this.useWx = true
      this.isRegUser = false
      this.userPwd = false
      this.useVerify = false
      this.loginTitle = '微信扫码登录'
    },
    getAdvList() {
      this.$httpRequester
        .post('advertisement/releaseList', { advertisementType: 'LOGIN_PAGE' })
        .then(res => {
          if (res.length) {
            this.picList = []
            res.forEach((item, index) => {
              this.picList.push({ key: index, value: item.url })
            })
          } else {
            this.picList = [{ key: 1, value: loginBg }]
          }

          // console.log(this.picList)
          this.showModal = true
        })
    }
  },
  // created() {

  // },
  mounted() {
    this.useWx = true
    this.useVerify = false
    this.loginTitle = '微信扫码登录'
    this.$nextTick(() => {
      this.getAdvList()
    })
  }
}
</script>

<style lang="scss" scoped>
.tipsText {
  position: absolute;
  bottom: 24px;
  left: 32px;
  right: 0;
  font-size: 14px;
  margin: 0 auto;
  color: #A0A6AB;
  span{
    color: #FF7F28;
  }
}
.indexPage /deep/ .ant-modal-body {
  padding: 0 !important;
}

.indexPage /deep/ .ant-modal-content {
  height: 435px;
}

.main {
  display: flex;

  .mainImg {
    // height: 435px;
    background-color: #fff;
    border-radius: 2px;
    z-index: 999;
  }

  .login-info {
    background-color: #fff;
    width: 376px;
    position: relative;
    padding: 60px 32px 24px 32px;
    .lineTitle {
      border-bottom: 1px solid #f2f6f8;
      margin-bottom: 40px;
    }
    .active-line {
      padding-bottom: 16px;
      border-bottom: 4px solid #00ab94;
    }
    .noActive-line {
      padding-bottom: 20px;
    }
  }

  .login-content {
    background-color: #fff;
    //width: 100%;
    //height: 100%;
    border-radius: 2px;
    //position: absolute;
    //top: 80px;
    //bottom: 0;
    margin: auto;
    //text-align: center;
    right: 0;
    //padding: 23px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .login-title {
      font-size: 24px;
      color: #02060b;
      font-weight: 400;
      width: 100%;
      text-align: center;
      //margin-bottom: 20px;
    }
  }
  .ChangePwdBox {
    .label-title {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .title {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #00ab94;
        padding-bottom: 8px;
        border-bottom: 4px solid #00ab94;
      }
    }
  }
}
</style>
