<template>
  <div class="operate-btns">
    <div v-for="(bt, index) in btns" :key="index" class='main'>
      <a-button
          v-if="bt.isShow === undefined ? true : bt.isShow"
          :disabled="bt.disabled === undefined ? false : bt.disabled"
          :icon="bt.icon || ''"
          :size="bt.size || 'small'"
          :style="{
          color: bt.color || '',
          'background-color': bt.backgroundColor || '',
        }"
          :type="bt.type || 'default'"
          class="rt-margin"
          @click="
          () => {
            bt.click(info)
          }
        "
      >{{ bt.label }}
      </a-button>
      <a-divider v-if="btns.length != index + 1" style="background-color: #F2F6F8;" type="vertical" />
    </div>
  </div>
</template>

<script>
import { Divider } from 'ant-design-vue'
export default {
  name: 'table-operate',
  components: {
    aDivider: Divider
  },
  props: {
    info: {
      type: Object,
      default() {
        return {}
      },
    },
    btns: {
      type: Array,
      default() {
        return [
          {
            label: 'test',
            type: 'default',
            icon: '',
            isShow: true,
            click: () => {
              console.log('test data')
            },
          },
        ]
      },
    },
  },
  methods: {},
}
</script>
<style lang="less" scoped>
.operate-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  position: relative;
  left: -7px;

  //justify-content: center;
}
</style>
