<template>
  <div id="qualificationSelect" class="qualification-select">
    <div v-for="(qua, index) in item.list" :key="index" class="select-item">
      <!-- 单选 -->
      <tree-checkbox-single-select
          v-if="item.shipmentType != 1"
          v-model="qua.qualificationId"
          :designQualificationOptions="designQualificationOptions"
          :fakeQualification="fakeQualification"
          :qualificationOptions="qualificationOptions"
          class="tree-select"
          containerId="qualificationSelect"
          @isSetFormVaue="setOptionDisabled"
      ></tree-checkbox-single-select>
      <!-- 多选 -->
      <tree-checkbox-select
          v-else
          v-model="qua.qualificationId"
          :designQualificationOptions="designQualificationOptions"
          :disabled="otherDisabled"
          :fakeQualification="fakeQualification"
          :qualificationOptions="qualificationOptions"
          class="tree-select"
          containerId="qualificationSelect"
          @isSetFormVaue="setOptionDisabled"
      ></tree-checkbox-select>
      <!-- <a-button
          v-show="index === 0 && item.shipmentType == 1"
          class="btns"
          icon="plus"
          @click="addMoreQualification">
          添加更多资质
      </a-button>
      <a-button
          v-show="index !== 0"
          class="btns"
          icon="delete"
          type="danger"
          @click="removeThisQualification(index)">
          移除此条资质
      </a-button> -->
    </div>
  </div>
</template>

<script>
import {universalModule} from '@/store/modules/universal'
import {TreeSelect} from 'ant-design-vue'
import TreeCheckboxSingleSelect from '@/components/TreeCheckboxSingleSelect.vue'
import TreeCheckboxSelect from '@/components/TreeCheckboxSelect.vue'

export default {
  name: 'qualification-select',
  components: {
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    TreeCheckboxSingleSelect,
    TreeCheckboxSelect,
  },
  props: {
    item: {
      type: [Array, Object],
      defautl() {
        return {}
      },
    },
  },
  computed: {
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    },
  },
  data() {
    return {
      // fakeQualification: [],
      // qualificationOptions: [],
      qualifications: [],
      quaOptions: [],
      otherDisabled: false,
    }
  },
  methods: {
    removeThisQualification(index) {
      this.$emit('removeThisQualification', index)
      this.setOptionDisabled()
    },
    addMoreQualification() {
      this.setOptionDisabled()
      this.$emit('addMoreQualification')
    },
    // selectQualification() {
    //   this.setOptionDisabled()
    // },
    setOptionDisabled() {
      const specialArr = []
      const arr = this.designQualificationOptions.concat(this.qualificationOptions)
      arr.forEach((q) => {
        let find = undefined
        q.children.forEach((c) => {
          c.children.forEach((e) => {
            find = this.item.list.find((l) => {
              return e.id === l.qualificationId
            })
            e.disabled = false
            if (find) {
              specialArr.push(c)
            }
          })
        })
      })
      specialArr.forEach((s) => {
        s.children.forEach((e) => {
          e.disabled = true
        })
      })
      // this.qualificationOptions.forEach((q) => {
      //   q.children.forEach((c, i) => {
      //     if (specialArr.includes(i)) {
      //       console.log(i)
      //     }
      //   })

      // })
    },
    getTypeQualifications() {
      this.qualificationOptions = []
      this.$httpRequester.get('qualification/selQualificationAllByType').then(r => {
        const qualificationOptions = r.map((e, i) => {
          return {
            title: e.qualificationType,
            key: i,
            isExpend: i === 0,
            searchTitle: e.qualificationType,
            children: e.qualificationList.map(q => {
              return {
                title: q.qualificationName,
                key: q.qualificationName,
                searchTitle: q.qualificationName,
                // checkable: true,
                children: q.qualificationLevels.map(level => {
                  return {
                    id: level.id,
                    searchTitle: level.level,
                    title: level.level,
                    disabled: false
                  }
                }),
                value: []
              }
            })
          }
        })
        this.qualificationOptions = this.$deepCopy(qualificationOptions)
      })
    },
    getQalicationList() {
      // 获取资质列表
      this.fakeQualification = []
      this.$httpRequester.get('qualification/selQualificationAll').then((r) => {
        console.log(r, 'rrrrrrrrrrr')
        r.forEach((e) => {
          e.qualificationLevels.forEach((q) => {
            this.fakeQualification.push({
              label: e.qualificationName + q.level,
              value: q.id,
            })
          })
        })
        this.getTypeQualifications()
      })
    },
  },
  async mounted() {
    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      await universalModule.getTypeQualification()
    }
  },
}
</script>

<style lang="scss" scoped>
.qualification-select {
  .select-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tree-select {
      width: 100%;
    }

    .btns {
      margin-left: 20px;
    }
  }
}
</style>
