<template>
  <div>
    <a-drawer width="800" :visible="visible" @close="onClose" title="注册人员">
      <a-tabs tab-position="top" :activeKey="activeKey" @change="changeTabCard">
        <a-tab-pane
          v-for="(item, key) in tabData"
          :key="key"
          :tab="item.name + '(' + item.number + ')'"
        >
          <a-table
            :bordered="true"
            :columns="columns"
            :data-source="item.list"
            :pagination="pagination"
            :total="item.number"
            rowKey="index"
          >
            <template slot="registerTypeList" slot-scope="text, item">
              <li v-for="(d, index) in item.registerMajorList" :key="index">
                {{ d }}
              </li>
            </template>
          </a-table>
        </a-tab-pane>
      </a-tabs>
    </a-drawer>
  </div>
</template>

<script>
import { Drawer, Tabs, Table } from 'ant-design-vue'
export default {
  name: 'register-staff',
  components: {
    aDrawer: Drawer,
    aTabs: Tabs,
    aTabPane: Tabs.TabPane,
    aTable: Table
  },
  computed: {
    pagination() {
      return {
        current: this.pageNum,
        pageSize: 10,
        hideOnSinglePage: true,
        // total: this.row.registerPersonNum,
        onChange: num => {
          this.pageNum = num
        }
      }
    }
  },
  data() {
    return {
      activeKey: 0,
      visible: false,
      tabData: [],
      pageNum: 1,
      columns: [
        { title: '序号', dataIndex: 'index', width: 70, align: 'center' },
        { title: '姓名', dataIndex: 'personName', width: 110, align: 'center' },
        { title: '注册类别', dataIndex: 'registerType', align: 'center' },
        {
          title: '注册专业',
          dataIndex: 'registerTypeList',
          width: 150,
          align: 'center',
          scopedSlots: { customRender: 'registerTypeList' }
        }
      ]
    }
  },
  methods: {
    showDrawerVisible(data) {
      this.tabData = data
      this.pageNum = 1
      this.visible = true
      console.log(data)
    },
    onClose() {
      this.visible = false
    },
    changeTabCard(key) {
      this.activeKey = key
      this.pageNum = 1
    }
  }
}
</script>
