<template>
  <div class="root-header relative">
    <div class="logo-n-tabs">
      <div class="logo" :style="'background-image:url(' + logo + ')'"></div>
      <div class="root-tabs">
        <div
          class="tab-item"
          @click="goToZiZhi"
          :class="{ isCurrentLayout: isZizhi }"
        >
          资质服务
        </div>
        <div
          class="tab-item"
          @click="goToRenCai"
          :class="{ isCurrentLayout: isRencai }"
        >
          人才服务
          <!-- <div
            :style="'background-image:url(' + gongce + ')'"
            class="absolute  bg-cover
            h-[22px] w-[36px]
           right-[-37px] top-[12px]"
          ></div> -->
        </div>
        <div
          class="tab-item"
          @click="goToGuQuan"
          :class="{ isCurrentLayout: isGuquan }"
        >
          小牛股权
          <div
            class="absolute w-[120px] left-[56px] my-[auto] top-0  bottom-0 text-[rgba(255,255,255,0.5)]"
          >
          </div>
          <div
            :style="'background-image:url(' + shangji + ')'"
            class="absolute  bg-cover
            h-[20px] w-[36px]
           right-[-40px] top-[12px]"
          ></div>
        </div>
      </div>
    </div>
    <div v-if="isLogin" class="user-tools">
      <a-carousel
        v-if="messageList.length"
        class="bulletin"
        :autoplaySpeed="5000"
        autoplay
        :dots="false"
        dot-position="right"
      >
        <div
          class="bulletin-item"
          @click="goToMessageCenter"
          v-for="(item, index) in messageList"
          :key="index"
        >
          <a-icon theme="filled" type="sound" />
          {{ item.title }}
        </div>
      </a-carousel>
      <a-tooltip placement="bottom">
        <template slot="title">
          <span> 有效期至：{{ failureTime }} </span>
        </template>
        <div class="relative">
          <div
            v-if="!isSuperAdmin"
            @click="goToVip"
            :style="'background-image:url(' + vipIcon + ')'"
            class="cursor-pointer w-[20px] mt-[2px] mr-[28px] bg-cover bg-center h-[20px]"
          ></div>
          <div
            class="absolute bottom-[-10px] left-0 right-0 mx-auto text-white  text-[12px]"
            v-if="!isSuperAdmin"
          >
            VIP
          </div>
        </div>
      </a-tooltip>
      <a-badge
        @click="goToMessageCenter"
        :count="messageTotal"
        :numberStyle="{
          minWidth: '16px',
          width: '16px',
          height: '16px',
          lineHeight: '16px',
          textAlign: 'center'
        }"
      >
        <div class="relative message">
          <a-icon type="bell" class="block" />
          <div
            class="absolute bottom-[-16px] left-[-2px] w-[30px] text-white  text-[12px]"
          >
            通知
          </div>
        </div>
      </a-badge>
      <!--      <a-drawer
        title="消息通知"
        width="70%"
        :visible="visible"
        :destroyOnClose="true"
        :body-style="{ paddingBottom: '80px' }"
        @close="onClose"
      >
        <template>
          <MesDrawer @closeDrawer="onClose" />
        </template>
      </a-drawer>-->
      <div class="avatar">
        <a-icon theme="filled" type="smile" />
      </div>
      <div class="user-info" id="userInfo">
        <a-dropdown :getPopupContainer="getPopupContainer" :trigger="['click']">
          <div class="user-dropdown">
            <p class="company-name">{{ companyName }}</p>
            <p class="user-name">
              {{ userName }}
              <a-icon type="caret-down" class=" opacity-50" />
            </p>
            <div
              class=" cursor-pointer  h-[80px]  absolute bg-cover right-0 top-0 z-50  text-center flex items-center"
              :style="'background-image:url(' + loginBtnBg + ')'"
            ></div>
          </div>
          <a-menu slot="overlay" class="w-[120px]">
            <a-menu-item key="0">
              <router-link
                class="menu-item"
                :to="{ name: 'UCBasicInfo', query: { pId: 0 } }"
                >个人中心</router-link
              >
            </a-menu-item>
            <!-- <a-menu-item key="1">
              <router-link class="menu-item" :to="{ name: 'UCAttention', query: { pId: 1 } }">我的关注</router-link>
            </a-menu-item> -->
            <a-menu-item key="2" v-if="isSuperAdmin">
              <router-link
                class="menu-item"
                :to="{ name: 'companyCount', query: { pId: 1 } }"
                >次数使用情况</router-link
              >
            </a-menu-item>
            <a-menu-item key="3" v-if="isSuperAdmin">
              <router-link
                class="menu-item"
                :to="{ name: 'downloadSetting', query: { pId: 2 } }"
                >系统配置</router-link
              >
            </a-menu-item>

            <a-menu-item
              key="4"
              v-if="(isSuperAdmin || isAdmin) && buyVersion !== 'VIP个人版'"
            >
              <router-link
                class="menu-item"
                :to="{ name: 'userSetting', query: { pId: 3 } }"
                >设置</router-link
              >
            </a-menu-item>
            <!-- <a-menu-item key="5">
              <router-link
                class="menu-item"
                :to="{ name: 'softInfo', query: { pId: 4 } }"
                >关于小牛建讯</router-link
              >
            </a-menu-item> -->
            <a-menu-item @click="clickMenuItem" key="6">
              <a class="menu-item">修改密码</a>
            </a-menu-item>
            <!-- <a-menu-item key="1">
              <a href="http://www.taobao.com/">2nd menu item</a>
            </a-menu-item>-->
            <a-menu-divider />
            <a-menu-item @click="logOut" key="7">
              <a class="menu-item">退出登录</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
        <!--    <div class="filure-time" v-if="!isSuperAdmin">
          有效期至：{{ failureTime }}
         <a-button
            style="background-color:#FF5D23;color: #ffffff;border: none; "
            size="small"
            @click="goToVip"
            >充值</a-button
          > 
        </div>-->
      </div>
    </div>
    <div
      v-else
      @click="userLogin"
      class=" cursor-pointer w-[158px] h-[80px] absolute right-0 top-0 z-30  text-center flex items-center"
      :style="'background-image:url(' + loginBtnBg + ')'"
    >
      <img :src="loginBtnUser" class="w-[20px] h-[20px] mr-[10px]" />
      登录/注册
    </div>
  </div>
</template>

<script>
import logo from '@/assets/svg/logo.svg'
import { userModule } from '@/store/modules/user'
import {
  Dropdown,
  Menu,
  Icon,
  Carousel,
  Badge,
  Drawer,
  Tooltip
} from 'ant-design-vue'
import { homeModule } from '@/store/modules/home'
import { detailModule } from '@/store/modules/detail'
import MesDrawer from '@/views/Message/Index.vue'
import loginBtnBg from '@/assets/image/menuIcon/bg_navigation.png'
import loginBtnUser from '@/assets/image/menuIcon/bg_user.png'
import vipIcon from '@/assets/image/menuIcon/ic_vip.png'
import gongce from '@/assets/image/menuIcon/gongce.png'
import Cookie from 'js-cookie'
import shangji from '@/assets/image/menuIcon/shangji.gif'

export default {
  name: 'root-header',
  components: {
    MesDrawer,
    AIcon: Icon,
    ADropdown: Dropdown,
    AMenu: Menu,
    ACarousel: Carousel,
    AMenuItem: Menu.Item,
    AMenuDivider: Menu.Divider,
    ABadge: Badge,
    ADrawer: Drawer,
    ATooltip: Tooltip
  },
  computed: {
    messageTotal() {
      return homeModule.messageTotal
    },
    messageList() {
      return homeModule.messageTotal
        ? homeModule.messageList
        : homeModule.readList
    },
    buyVersion() {
      return userModule.buyVersion
    },
    userName() {
      return userModule.name
    },
    failureTime() {
      return userModule.failureTime
    },
    userId() {
      return userModule.userId
    },
    isSuperAdmin() {
      return userModule.roleLevel === 1
    },
    companyName() {
      return userModule.companyName
    },
    isAdmin() {
      return userModule.roleLevel === 2
    },
    isSales() {
      return userModule.roleLevel === 4
    },
    isLead() {
      return userModule.isLead
    }
  },
  data() {
    return {
      shangji,
      logo,
      vipIcon,
      isZizhi: false,
      isRencai: false,
      isGuquan: false,
      isElectron: false,
      visible: false,
      isLogin: false,
      loginBtnBg,
      loginBtnUser,
      gongce
    }
  },
  methods: {
    goToZiZhi() {
      this.isZizhi = true
      if (!this.isLogin) {
        detailModule.changeUserLoginModal(true)
        return
      }
      this.$router.push({
        name: 'receipt'
      })
    },
    userLogin() {
      detailModule.changeUserLoginModal(true)
    },
    goToRenCai() {
      if (!this.isLogin) {
        detailModule.changeUserLoginModal(true)
        return
      }
      this.isRencai = true
      this.$router.push({
        name: 'gaps'
      })
    },
    goToGuQuan() {
      if (!this.isLogin) {
        detailModule.changeUserLoginModal(true)
        return
      }
      this.isGuquan = true
      this.$router.push({
        name: 'sell'
      })
    },
    goToVip() {
      const url = 'http://www.xnjx666.com/vip'
      if (!this.isElectron) {
        window.open(url)
      } else {
        if (window.ipcRenderer) {
          window.ipcRenderer.send('openBrower')
        }
        // this.$router.push({
        //   name: 'vip',
        //   query: {
        //     fromUrl: this.$route.name
        //   }
        // })
      }
    },
    getPopupContainer() {
      return document.getElementById('userInfo')
    },
    clickMenuItem() {
      this.$router.push({
        name: 'changePassword',
        query: {
          pId: '5'
        }
      })
    },
    logOut() {
      this.$httpRequester.post('user/logout').then(() => {
        localStorage.removeItem('userId')
        Cookie.remove('JSESSIONID')
        Cookie.remove('userArea')
        Cookie.remove('memberName')
        Cookie.remove('userId')
        localStorage.removeItem(this.userId.toString())
        this.$router.push('/login')
      })
    },
    goToMessageCenter() {
      // this.visible = true
      if (this.$route.name === 'messageCenter') {
        return
      }
      this.$router.push({ name: 'messageCenter' })
    },
    onClose() {
      this.visible = false
    }
  },

  mounted() {
    const userAgent = navigator.userAgent.toLowerCase()
    const userId =
      userAgent.indexOf(' electron/') > -1
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    if (userId) {
      homeModule.getNotReadStatus()
      this.$nextTick(() => {
        this.isLogin = true
      })
    }

    const fullPath = this.$route.fullPath
    if (fullPath.indexOf('longna') >= 0) {
      // 资质模块
      this.isRencai = false
      this.isGuquan = false
      this.isZizhi = true
    } else if (fullPath.indexOf('talents') >= 0) {
      // 人才模块
      this.isZizhi = false
      this.isGuquan = false
      this.isRencai = true
    } else if (fullPath.indexOf('shareholder') >= 0) {
      // 股权模块
      this.isZizhi = false
      this.isRencai = false
      this.isGuquan = true
    }
    // 都不隐藏
    if (userAgent.indexOf(' electron/') > -1) {
      // console.log('??')
      this.isElectron = true
      // Electron-specific code
    } else {
      this.isElectron = false
    }
  }
}
</script>

<style lang="scss" scoped>
.root-header {
  height: 80px;
  background-color: #00ab94;
  position: absolute;
  left: 0;
  right: 0;
  // margin: 0 auto;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  justify-content: space-between;
  color: #fff;
  .logo-n-tabs {
    display: flex;
    align-items: center;
    .root-tabs {
      margin-left: 75px;
      display: flex;
      .tab-item {
        margin-right: 52px;
        cursor: pointer;
        height: 80px;
        line-height: 80px;
        position: relative;
        .neice-icon {
          border-radius: 10px 10px 10px 0;
        }
      }
      .isCurrentLayout {
        width: fit-content;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 4px;
          bottom: 0px;
          left: 0;
          background-color: #fff;
        }
      }
    }
  }
  .logo {
    font-size: 52px;
    color: #fff;
    width: 126px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .user-tools {
    display: flex;
    align-items: center;
    // margin-bottom: 15px;
    .bulletin {
      width: 288px;
      height: 36px;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      // background-color: azure;
      margin-right: 26px;
      border-radius: 4px;
      overflow: hidden;
      .bulletin-item {
        color: #fff;
        font-size: 14px;
        padding: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 36px;
        line-height: 36px;
      }
    }
    .message {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      // margin-right: 23px;
    }
  }

  .avatar {
    font-size: 24px;
    // width: 24px;
    // height: 24px;
    color: azure;
    margin-left: 23px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .user-info {
    flex-shrink: 0;
    font-size: 14px;
    margin-top: 6px;
    // .menu-item {
    //   width: 100px;
    //   text-align: center !important;
    // }
    .filure-time {
      min-width: 250px;
      right: 10px;
      text-align: right;
      position: absolute;
      height: 30px;
      line-height: 30px;
      color: #fff;
    }
  }
  .user-dropdown {
    color: #ffffff;
    cursor: pointer;
    line-height: 1.5;
    z-index: 29;
    p {
      margin-bottom: 0 !important;
    }
    .company-name {
      font-size: 13px;
    }
    .user-name {
      width: 100%;
      text-align: left;
      font-size: 15px;
    }
  }
}
</style>
