<template>
  <div class="side-billboard">
    <div v-if="MessageShow" class="message-board">
      <div class="message-band">
        <div
          class="band-title"
          :class="{ noActive: isAnnounce }"
          @click="changMessageType(false)"
        >
          公示
        </div>
        <div
          class="band-title"
          @click="changMessageType(true)"
          :class="{ noActive: !isAnnounce }"
        >
          公告
        </div>
        <div
          class="close-icon"
          v-if="showClose"
          @click="closeAd('MessageShow')"
        >
          <a-icon type="close" />关闭
        </div>
      </div>
      <div v-if="messageList.length" class="message-list">
        <div
          class="message-item"
          v-for="(item, index) in messageList"
          :key="index"
        >
          {{ item.title }}
        </div>
      </div>
      <div class="message-list" v-else>
        暂无信息
      </div>
    </div>

    <div v-show="CertificationShow" class="band">
      <img
        @click="goToPage('UCResources')"
        class="certification-band"
        :src="Certification"
      />
      <div
        v-if="showClose"
        @click="closeAd('CertificationShow')"
        class="close-icon"
      >
        <a-icon type="close" />关闭
      </div>
    </div>

    <div v-show="ResourcesShow" class="band">
      <img
        @click="goToPage('shared')"
        class="resources-band "
        :src="Resources"
      />
      <div
        v-if="showClose"
        @click="closeAd('ResourcesShow')"
        class="close-icon"
      >
        <a-icon type="close" />关闭
      </div>
    </div>

    <img v-if="false" class="manage-band band" :src="Manage" />

    <div v-show="ContactShow" class="concat-band band">
      <img :src="Contact" />
      <img :src="ServerQr" class="manage-wechat" />
      <p class="server-phone">400-902-8966</p>
      <div v-if="showClose" @click="closeAd('ContactShow')" class="close-icon">
        <a-icon type="close" />关闭
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Certification from '@/assets/image/advertising/certification.png'
import Resources from '@/assets/image/advertising/resources.png'
import Manage from '@/assets/image/advertising/manage.png'
import Contact from '@/assets/image/advertising/contact.png'
import ServerQr from '@/assets/image/advertising/qr_server.png'
import Vue from 'vue'
export default Vue.extend({
  name: 'side-billboard',
  data() {
    return {
      Certification,
      Resources,
      Manage,
      Contact,
      ServerQr,
      CertificationShow: true,
      ContactShow: true,
      ResourcesShow: true,
      ManageShow: true,
      MessageShow: true,
      showClose: false,
      isAnnounce: false,
      announceList: [] as any,
      publicList: [] as any,
      messageList: [] as any,
    }
  },
  methods: {
    changMessageType(val: boolean) {
      this.isAnnounce = val
      if (val) {
        this.messageList = this.announceList
      } else {
        this.messageList = this.publicList
      }
    },
    closeAd(adProp: any) {
      const self = this as any
      self[adProp] = false
    },
    getAnnounceList() {
      // 获取系统公告
      const params = {
        noticeType: 1,
        pageNum: 1,
        pageSize: 10,
      }
      this.$httpRequester.post('notice/selMsgList', params).then((r: any) => {
        this.announceList = r.data.slice(0, 5)
        this.getPublicList()
      })
    },
    goToPage(name: any) {
      if (name !== this.$route.name) {
        this.$router.push({
          name,
        })
      }
    },
    getPublicList() {
      // 获取公示信息
      const params = {
        noticeType: 3,
        pageNum: 1,
        pageSize: 10,
      }
      this.$httpRequester.post('notice/selMsgList', params).then((r: any) => {
        this.publicList = r.data.slice(0, 5)
        this.messageList = this.publicList
        //  this.getPublicList()
      })
    },
  },
  mounted() {
    this.getAnnounceList()
    setTimeout(() => {
      this.showClose = true
    }, 10000)
    //  console.log('test1')
  },
})
</script>

<style lang="scss" scoped>
.side-billboard {
  width: 240px;
  // height: 1000px;
  // background-color: red;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 999;
  .message-board {
    width: 100%;
    height: 230px;
    background-color: transparent;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 22px;
    // box-shadow: -2px 1px 1px 1px #fafafa;
    .message-band {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .band-title {
        width: 50%;
        text-align: center;
        height: 40px;
        font-size: 18px;
        line-height: 2;
        color: #8e8e90;
        position: relative;
        background-color: #ffffff;
        border-radius: 6px 6px 0 0;
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 80%;
          height: 1px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background-color: #4d7cfe;
        }
      }
      .noActive {
        color: #ffffff;
        background-image: linear-gradient(0deg, #4d7cfe, #135ad5);
      }
      .close-icon {
        position: absolute;
        right: 0;
        top: -20px;
        color: #fff;
        width: fit-content;
        text-align: center;
        background-color: rgba($color: #000000, $alpha: 0.3);
        display: none;
        cursor: pointer;
      }
    }
    &:hover {
      .close-icon {
        display: block;
      }
    }
    .message-list {
      background-color: #ffffff;
      width: 100%;
      height: 260px;
      box-sizing: border-box;
      padding: 30px 20px 20px 30px;
      .message-item {
        font-size: 12px;
        color: #8e8e90;
        width: 100%;
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        &:nth-child(2n-1) {
          background-color: #f2f2f2;
        }
      }
    }
  }
  .concat-band {
    width: 100%;
    position: relative;
    .manage-wechat {
      position: absolute;
      background-color: red;
      top: 19px;
      left: 21px;
      height: 69px;
      width: 69px;
    }
    .server-phone {
      position: absolute;
      color: #333333;
      top: 54px;
      right: 10px;
      margin: 0 !important;
      font-weight: bolder;
      font-size: 13px;
    }
  }
  .band {
    cursor: pointer;
    width: 100%;
    position: relative;
    margin-bottom: 22px;
    img {
      width: 100%;
    }
    .close-icon {
      position: absolute;
      right: 0;
      top: -20px;
      color: #fff;
      width: fit-content;
      text-align: center;
      background-color: rgba($color: #000000, $alpha: 0.3);
      display: none;
    }
    &:hover {
      .close-icon {
        display: block;
      }
    }
    // box-shadow: -2px 0 5px 3px #fafafa;
  }
}
</style>
