<template>
  <div class="top-menu">
    <ul class="menu-list">
      <div
        @click="selectThisItem(item)"
        v-for="(item, index) in menuItem"
        :key="index"
      >
        <li
          v-if="!item.hidden"
          class="menu-item"
          :class="{ 'is-select': selectIndex === index }"
        >
          <img
            v-if="selectIndex === index"
            style="margin-right: 6px;vertical-align: bottom;"
            :src="item.icon"
            alt=""
          />
          <img
            v-else
            style="margin-right: 6px;vertical-align: bottom;"
            :src="item.noClickIcon"
            alt=""
          />
          {{ item.title }}
          <div class="little-triangle"></div>
        </li>
      </div>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'

import Cookie from 'js-cookie'

export default Vue.extend({
  name: 'top-menu',
  data() {
    return {
      userId: ''
      //  menuItem: userModule.fatherMenuList
    }
  },
  props: {
    // menuItem: {
    //   type: Array,
    //   default() {
    //     return
    //   }
    // }
  },
  computed: {
    menuItem() {
      if (this.userId) {
        return userModule.fatherMenuList
      } else {
        return userModule.noLoginFatherMenuList
      }
    },
    selectIndex() {
      let index = -1
      const fatherIndex = this.$route.matched.length - 2
      const fatherRoute = this.$route.matched[fatherIndex]
      this.menuItem.forEach((e: any, i: number) => {
        if (e.name === this.$route.name || e.name === fatherRoute.name) {
          index = i
        } else if (e.children.length) {
          const currentChildren = e.children.find(
            (c: any) => c.name === this.$route.name
          )
          if (currentChildren) {
            index = i
          }
        }
      })
      if (this.$route.name === 'detail') {
        if (this.$route.query.isFromClient) {
          index = 1
        } else {
          index = 0
        }
      }
      // console.log(index)
      return index + 1 ? index : -1
    }
  },
  methods: {
    selectThisItem(item: { name: string; path: string }) {
      if (!this.userId) {
        console.log('no login')
        detailModule.changeUserLoginModal(true)
        return
      }
      if (item.name === this.$route.name) {
        return
      }
      // console.log(item)
      this.$router.push({ path: item.path })
    }
  },
  mounted() {
    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
      userAgent.indexOf(' electron/') > -1
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    const routeName = this.$route.name
    this.menuItem.forEach((e: any) => {
      if (routeName === e.name) {
        e.isSelected = true
      }
    })
  }
})
</script>

<style lang="scss" scoped>
.top-menu {
  width: 1200px;
  .menu-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    height: 64px;
    padding-left: 0;
    // background-color: violet;
    .menu-item {
      display: flex;
      align-items: flex-end;
      //min-width: 135px;
      //height: 25px;
      line-height: 18px;
      font-size: 20px;
      margin-right: 56px;
      font-weight: 500;
      color: #ffffff;
      cursor: pointer;
      position: relative;
      opacity: 0.6;
      text-align: center;
      .little-triangle {
        width: 0;
        position: absolute;
        height: 0;
        bottom: -28px;
        left: 0;
        right: 0;
        margin: auto;
        visibility: hidden;
        border: solid 17px #ffffff;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }
      &:hover {
        opacity: 1;
        font-weight: 600;
      }
    }
    .is-select {
      opacity: 1;
      font-weight: 550;
      .little-triangle {
        visibility: visible;
      }
    }
  }
}
</style>
