<template>
  <div class="top-tools">
    <div class="logo" :style="'background-image:url(' + logo + ')'"></div>
    <div class="rt-content">
      <a-carousel
        v-if="messageList.length"
        class="bulletin"
        :autoplaySpeed="5000"
        autoplay
        :dots="false"
        dot-position="right"
      >
        <div
          class="bulletin-item"
          @click="goToMessageCenter"
          v-for="(item, index) in messageList"
          :key="index"
        >
          <a-icon theme="filled" type="sound" />
          {{ item.title }}
        </div>
      </a-carousel>
      <a-badge @click="goToMessageCenter" :count="messageTotal">
        <div class="message">
          <a-icon type="bell" theme="filled" />
        </div>
      </a-badge>
<!--      <a-drawer
        title="消息通知"
        width="70%"
        :visible="visible"
        :destroyOnClose="true"
        :body-style="{ paddingBottom: '80px' }"
        @close="onClose"
      >
        <template>
          <MesDrawer @closeDrawer="onClose" />
        </template>
      </a-drawer>-->

      <div class="avatar">
        <a-icon theme="filled" type="smile" />
      </div>
      <div class="user-info" id="userInfo">
        <a-dropdown :getPopupContainer="getPopupContainer" :trigger="['click']">
          <div class="user-dropdown">
            <p class="company-name">{{ companyName }}</p>
            <p class="user-name">
              {{ userName }}
              <a-icon type="down" />
            </p>
          </div>
          <a-menu slot="overlay">
            <a-menu-item key="0">
              <router-link
                class="menu-item"
                :to="{ name: 'UCBasicInfo', query: { pId: 0 } }"
                >个人中心</router-link
              >
            </a-menu-item>
            <!-- <a-menu-item key="1">
              <router-link class="menu-item" :to="{ name: 'UCAttention', query: { pId: 1 } }">我的关注</router-link>
            </a-menu-item> -->
            <a-menu-item key="2" v-if="isSuperAdmin">
              <router-link
                class="menu-item"
                :to="{ name: 'companyCount', query: { pId: 1 } }"
                >次数使用情况</router-link
              >
            </a-menu-item>
            <a-menu-item key="3" v-if="isSuperAdmin">
              <router-link
                class="menu-item"
                :to="{ name: 'downloadSetting', query: { pId: 2 } }"
                >系统配置</router-link
              >
            </a-menu-item>

            <a-menu-item
              key="4"
              v-if="(isSuperAdmin || isAdmin) && buyVersion !== 'VIP个人版'"
            >
              <router-link
                class="menu-item"
                :to="{ name: 'userSetting', query: { pId: 3 } }"
                >设置</router-link
              >
            </a-menu-item>
            <!-- <a-menu-item key="5">
              <router-link
                class="menu-item"
                :to="{ name: 'softInfo', query: { pId: 4 } }"
                >关于小牛建讯</router-link
              >
            </a-menu-item> -->
            <a-menu-item @click="clickMenuItem" key="6">
              <a class="menu-item">修改密码</a>
            </a-menu-item>
            <!-- <a-menu-item key="1">
              <a href="http://www.taobao.com/">2nd menu item</a>
            </a-menu-item>-->
            <a-menu-divider />
            <a-menu-item @click="logOut" key="7">
              <a class="menu-item">退出登录</a>
            </a-menu-item>
          </a-menu>
        </a-dropdown>
        <div class="filure-time" v-if="!isSuperAdmin">
          有效期至:{{ failureTime }}
          <a-button
            style="background-color:#FF5D23;color: #ffffff;border: none; "
            size="small"
            @click="goToVip"
            >充值</a-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./TopTools.ts"></script>
<style lang="scss">
.ant-dropdown-menu-item {
  min-width: 100px;
  text-align: center;
}
</style>

<style lang="scss" scoped>
.top-tools {
  width: 1200px;
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  z-index: 998;
  .logo {
    font-size: 52px;
    color: #fff;
    font-family: 'longna';
    width: 200px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .rt-content {
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 666;
    position: relative;
    .bulletin {
      width: 288px;
      height: 36px;
      background-color: rgba($color: #ffffff, $alpha: 0.1);
      // background-color: azure;
      margin-right: 26px;
      border-radius: 4px;
      overflow: hidden;
      .bulletin-item {
        color: #fff;
        font-size: 14px;
        padding: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 36px;
        line-height: 36px;
      }
    }
    .message {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      // margin-right: 23px;
    }
    .avatar {
      font-size: 24px;
      // width: 24px;
      // height: 24px;
      color: azure;
      margin-left: 23px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .user-info {
      flex-shrink: 0;
      font-size: 14px;
      // .menu-item {
      //   width: 100px;
      //   text-align: center !important;
      // }
      .filure-time {
        min-width: 250px;
        right: 0;
        text-align: right;
        position: absolute;
        height: 30px;
        line-height: 30px;
        color: #fff;
      }
    }
  }
  .user-dropdown {
    color: #ffffff;
    cursor: pointer;
    line-height: 1.5;
    p {
      margin-bottom: 0 !important;
    }
    .company-name {
      font-size: 13px;
    }
    .user-name {
      width: 100%;
      text-align: left;
      font-size: 15px;
    }
  }
}
</style>
