<template>
  <div class="qr-code">
    <a-modal
      v-model="shareDisplay"
      @ok="closeShareModal"
      :destroyOnClose="true"
      :footer="false"
      @cancel="closeShareModal"
      title="分享企业信息"
      :width="400"
    >
      <div>
        <div class="qr-image-content">
          <img :src="url" class="suspension-image" alt="暂无图片，请刷新后重试" title="小牛建讯">
        </div>
        <p class="qr-tips">
          微信“扫一扫” 企业资质信息轻松共享
        </p>
        <p class="qr-info">
          分享企业的二维码仅七天内有效
        </p>
      </div>
    </a-modal>
  </div>
</template>

<script>
import { Modal } from 'ant-design-vue'
import qrImage from '@/assets/image/logo/qr_image.png'

export default {
  name: 'WxqrModal',
  components: {
    AModal: Modal,
  },
  props: {
    url: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      shareDisplay: false,
      qrImage,
    }
  },
  methods: {
    showModal() {
      this.shareDisplay = true
    },
    closeShareModal() {
      this.shareDisplay = false
    },
  },
}
</script>

<style lang="scss" scoped>
.qr-code {
  position: absolute !important;
  z-index: 2001 !important;
}

.qr-code /deep/ .ant-modal-mask {
    position: absolute !important;
    z-index: 2002 !important;
}
.qr-code /deep/ .ant-modal-wrap {
    position: absolute !important;
    z-index: 2002 !important;
}

.qr-image-content {
    width: 200px;
    height: 200px;
    margin: 0 auto;

    .suspension-image {
        width: 200px;
        height: 200px;
        max-width: 100%;
    }
}
.qr-tips, .qr-info {
    text-align: center;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #F30C0C;
    margin: 25px 25px 0;
}

.qr-info{
    font-size: 13px;
    color: #666666;
    margin: 5px 0 0;
}
</style>
