<template>
  <div>
    <a-menu
      :open-keys.sync="openIndex"
      :selected-keys="selectKey"
      class="xiaoniu-menu"
      mode="inline"
    >
      <template v-for="item in menuItem">
        <a-sub-menu v-if="item.children.length" :key="item.name">
          <div slot="title">
            <div class="flex items-center">
<!--              <div-->
<!--                class="w-[16px] h-[16px] bg-cover mr-[6px]"-->
<!--                :style="'background-image:url(' + menuIcon(item) + ')'"-->
<!--              ></div>-->
<!--              {{item.icon}}-->
            <a-icon v-if="item.icon" style="font-size: 18px" :component="item.icon" />
              <span> {{ item.title}}</span>
              <div
                v-if="item.slotIcon"
                class="w-[16px] h-[16px] bg-cover mr-[6px]"
                :style="'background-image:url(' + item.slotIcon + ')'"
              ></div>
            </div>
          </div>
          <a-menu-item
            v-for="c in item.children"
            v-show="c.isShow"
            :key="c.name"
            @click="gotoLink(c)"
          >
            {{ c.title }}
          </a-menu-item>
        </a-sub-menu>
        <a-menu-item
          v-else
          :key="item.name"
          @click="gotoLink(item)"
        >
          <div class="flex items-center justify-between">
            <div class="flex items-center ">
<!--              <div-->
<!--                class="w-[16px] h-[16px] bg-cover mr-[6px]"-->
<!--                :style="'background-image:url(' + menuIcon(item) + ')'"-->
<!--              ></div>-->
<!--              {{item}}-->
<!--              {{item.icon}}-->
              <a-icon v-if="item.icon" style="font-size: 18px" :component="item.icon" />
              <span>{{ item.title }}</span>
            </div>
            <div
              v-if="item.slotIcon"
              class="w-[36px] h-[22px] bg-cover "
              :style="'background-image:url(' + item.slotIcon + ')'"
            ></div>
          </div>
        </a-menu-item>
      </template>
      <!-- <a-menu-item
          v-if="!item.children"
          :key="item.key"
          @click="gotoLink(item)"
        >
          <div class="menuItem"> -->
      <!-- <img :src="item.icon" alt="" class="iconImg" /> -->
      <!-- <span>{{ item.title }}</span>
          </div>
        </a-menu-item>
        <a-sub-menu v-else :key="item.key">
          <span slot="title" class="menuItem"> -->
      <!-- <img :src="item.icon" alt="" class="iconImg" /> -->
      <!-- <span>
              {{ item.title }}
            </span>
          </span>
          <a-menu-item
            v-for="d in item.children"
            :key="d.key"
            @click="gotoLink(d)"
          >
            {{ d.title }}
          </a-menu-item>
        </a-sub-menu>
      -->
    </a-menu>
  </div>
</template>

<script>
import { Menu,Icon } from 'ant-design-vue'
import Cookie from 'js-cookie'
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'
import { universalModule } from '@/store/modules/universal'

export default {
  name: 'xiaoniu-menu',
  components: {
    aMenu: Menu,
    aMenuItem: Menu.Item,
    aSubMenu: Menu.SubMenu,
    aIcon:Icon
  },
  data() {
    return {
      userId: '',
      selectKey: [],
      defaultKey: [],
      openIndex: []
      //   menus: [{ label: 1 }]
    }
  },
  computed: {
    menuItem() {
      if (this.userId) {
        return userModule.fatherMenuList
      } else {
        return userModule.noLoginFatherMenuList
      }
    }
  },
  methods: {
    menuIcon(item) {
      let src = ''
      if (item.children.length) {
        const find = item.children.find(e => {
          return this.selectKey.includes(e.name)
        })
        src = find ? item.icon : item.noClickIcon
      } else {
        const find = this.selectKey.includes(item.name)
        src = find ? item.icon : item.noClickIcon
      }
      return src
    },
    gotoLink(item) {
      if (!this.userId) {
        console.log('no login')
        detailModule.changeUserLoginModal(true)
        return
      }
      this.selectKey = [item.name]

      if (item.name === this.$route.name) {
        return
      }
      const history = { name: item.name, title: item.title }
      // console.log(history)
      universalModule.changeHistoryListItem(history)
      this.$router.push({ name: item.name })
    },
    changeMenuItemSelect(item) {
      const routeName = item ? item : this.$route.name
      // console.log('royte', routeName)

      const childMenu = this.menuItem.find(e => {
        return e.children.find(c => {
          return c.name === routeName
        })
      })
      if (childMenu) {
        this.openIndex = [childMenu.name]
      }
      //  资质集市特殊处理
      if (
        routeName === 'shared' ||
        routeName === 'buying' ||
        routeName === 'excellentShare'
      ) {
        this.selectKey = ['qrMain']
        //设置
      } else if (
        routeName === 'userSetting' ||
        routeName === 'department' ||
        routeName === 'organizationSetting' ||
        routeName === 'operalogSetting'
      ) {
        this.selectKey = ['userSetting']
      } else if (routeName === 'editBuyingInfo') {
        //我要买资质
        this.selectKey = ['myBuying']
      } else {
        this.selectKey = [routeName]
      }
      // this.$nextTick(() => {
      //   console.log(this.selectKey)
      // })
    }
  },
  mounted() {
    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
      userAgent.indexOf(' electron/') > -1
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    this.changeMenuItemSelect()
  },
  watch: {
    $route: {
      handler() {
        this.changeMenuItemSelect()
      },
      deep: true
    }
  }
}
</script>

<style lang="scss">
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f2f6f8 !important;
}
</style>

<style lang="scss" scoped>
.xiaoniu-menu {
  height: 100%;
  padding-top: 24px;
  ///  height: calc(100vh - 80px);
}
</style>
