<template>
    <div class="xnTag" :class="[ type ]">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'XnTag',
    props: {
        type: {
            type: String,
            default: 'success' // success error warning
        }
    }
}
</script>

<style lang="scss" scoped>
.xnTag{
    display: inline-block;
    padding: 0 4px;
    height: 22px;
    line-height: 22px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    color: #00BC87;
    background: #F8FFFD;
    border: 1px solid #00BC87;
}

.success{
    color: #00BC87;
    background: #F8FFFD;
    border: 1px solid #00BC87;
}

.error{
    color: #F30C0C;
    background: #FFEAEA;
    border: 1px solid #F30C0C;
}

.warning{
    color: #FF7F28;
    background: #FFFBF8;
    border: 1px solid #FF7F28;
}
</style>