<template>
  <div class="shared-page">
    <div id="sharedFilter" class="shared-filter">
      <div class="filter-item">
        <div class="filter-label">货源地区：</div>
        <a-select
            v-model="area"
            :getPopupContainer="getPopupContainer"
            allow-clear
            placeholder="请选择查询区域"
            style="width: 305px"
            @change="selectArea"
        >
          <a-option
              v-for="item in areaOptions"
              :key="item.value"
              :disabled="item.disabled"
              :value="item.value"
          >{{ item.label }}
          </a-option
          >
        </a-select>
      </div>
      <div class="filter-item">
        <div class="filter-label">资质类型：</div>
        <tree-checkbox-single-select
            v-model="qualifications"
            :designQualificationOptions="designQualificationOptions"
            :fakeQualification="fakeQualification"
            :qualificationOptions="qualificationOptions"
            class="auto-width"
            containerId="sharedFilter"
        ></tree-checkbox-single-select>
      </div>
      <div class="filter-item">
        <div class="filter-label">剥离方式：</div>
        <div>
          <a-checkbox
              :checked="qualificationStatus === 0"
              @change="selectQualificationStatus(0)"
          >
            分立
          </a-checkbox>
          <a-checkbox
              :checked="qualificationStatus === 1"
              @change="selectQualificationStatus(1)"
          >
            整转
          </a-checkbox>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-label">更多特性：</div>
        <div>
          <a-checkbox :checked="isNeedAll === -1" :disabled="changeNeedDisabledAll" @change="changeNeedAll">
            全部
          </a-checkbox>
          <a-checkbox :checked="isNeedLetter === 1" :disabled="changeNeedDisabled" @change="changeNeedLetter">
            包函
          </a-checkbox>
          <a-checkbox
              :checked="isHoldingCompany === 0"
              :disabled="changeNeedDisabled"
              @change="changeHoldingCompany"
          >
            可被控股
          </a-checkbox>
        </div>
      </div>
      <div class="filter-item">
        <a-button class="large-button" type="primary" @click="clickFindBtn">
          查询
        </a-button>
        <a-button class="large-button" @click="e => reSetFilter(false)">
          重置
        </a-button>
      </div>
    </div>

    <div class="table-content">
      <!-- <div class="loading" v-show="dataLoading">
        <a-spin size="large" tip="加载中......" />
      </div> -->

      <div
          class="flex items-center pb-[18px] boredr-[#F2F6F8]
         justify-between w-full border-b-[1px] border-solid"
      >
        <div class="tips buy-tips">
          小牛建讯为您查询出
          <span class=" text-textLight ">{{ total }}</span>
          个符合条件的资质
        </div>
        <div class="text-tipOrange flex items-center">
          价格刷新倒计时：
          <count-down></count-down>
        </div>
      </div>
      <div class="qr-tools">
        <div class="flex w-full tabs-list">
          <div
              v-for="item in tabOptions"
              :key="item.value"
              :class="{
              tabSelected: item.value === channel,
              normalTab: item.value !== channel
            }"
              class="text-[18px] cursor-pointer mr-[32px] pb-[8px] w-[fit-content] "
              @click="selectChannel(item.value)"
          >
            {{ item.label }}
          </div>
        </div>
        <div class="sort-tool">
          <div
              :class="{ selected: sortIndex === 0 }"
              class="tools"
              @click="changeSortRule(0)"
          >
            默认排序
          </div>
          <div class="dividing-line"></div>
          <div
              :class="{ selected: sortIndex === 1 }"
              class="tools"
              @click="changeSortRule(1)"
          >
            最新
          </div>
        </div>
      </div>
      <hr class="line"/>
      <div v-if="tableData.length" class="w-min-[200px]">
        <table-item
            v-for="(item, index) in tableData"
            :key="index"
            :clicked="itemIsClicked(item.id)"
            :freeCount="freeCount"
            :index="index"
            :row="item"
            @checkItemPhone="checkItemPhone"
            @goToCompanyDetail="goToCompanyDetail"
            @lockThisItem="lockThisItem"
            @refreshTable="getSharedList"
            @waitingThisItem="waitingThisItem"
        ></table-item>

        <div v-show="dataLoading" class="loading">
          <a-spin size="large" tip="加载中......"/>
        </div>

        <div v-if="total > 10" class="card-pagination">
          <a-pagination
              v-model="pageNum"
              :pageSize.sync="pageSize"
              :showQuickJumper="true"
              :showSizeChanger="false"
              :showTotal="paginationShowTotal"
              :total="total"
              @change="tableChange"
              @showSizeChange="tableChange"
          ></a-pagination>
          <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
        </div>
      </div>

      <block-data
          v-else
          :imageSrc="notFind"
          :text="'发布你的收货需求，有匹配的资质上架，系统将第一时间通知你'"
          :titleText="'没有想要的资质？'"
      >
        <a-button
            slot="btSlot"
            class="mt-[64px] w-[160px]"
            type="primary"
            @click="goToEdit"
        >
          立即发布
        </a-button>
      </block-data>
    </div>
    <div
        v-if="total > 0"
        class="text-center bg-white p-[24px] w-full flex justify-center"
        @click="goToEdit"
    >
      <img :src="qrBottom" class="w-full cursor-pointer"/>
    </div>
    <a-drawer
        :closable="false"
        :destroyOnClose="true"
        :visible="companyDetailDrawerDisplay"
        class="sell-drawer"
        width="840"
        @close="closeCompanyDetailDrawer"
    >
      <row-detail
          ref="rd"
          @checkItemPhone="getSharedList"
          @closeDetailDrawer="closeCompanyDetailDrawer"
          @lockThisItem="lockThisItem"
          @waitingThisItem="waitingThisItem"
      ></row-detail>
    </a-drawer>
    <qr-modal ref="qr" :url="qrCode"></qr-modal>
    <lock-modal ref="LM" @complateLock="getSharedList"></lock-modal>

    <!-- <qr-bottom></qr-bottom> -->
  </div>
</template>

<script>
import blockData from '@/components/BlockData.vue'
import lockModal from '@/components/lockModal.vue'
import qrBottom from '@/assets/image/qr/add_bottom.png'
import {
  TreeSelect,
  Drawer,
  Pagination,
  Select,
  Radio,
  Checkbox,
  Tabs,
  Spin
} from 'ant-design-vue'
import developmenting from '@/assets/image/developmenting2X.png'
import {userModule} from '@/store/modules/user'
import qrModal from '@/components/qrCode.vue'
import notFind from '@/assets/image/no_data_block.png'
import TableItem from './TableItem.vue'
// import editBuyInfo from '../Buy/Edit.vue'
import TreeCheckboxSingleSelect from '@/components/TreeCheckboxSingleSelect.vue'
import {universalModule} from '@/store/modules/universal'
import {shareholderModule} from '@/store/modules/shareholder'

import {isTimeBeyondExpectation} from '@/utils/common.js'
import countDown from '@/components/countDown.vue'
// import qrBottom from '../Bottom.vue'
import Cookie from 'js-cookie'
import {detailModule} from '@/store/modules/detail'
import quaImage from '@/assets/image/qr/qua_image.png'

import rowDetail from './rowDetail.vue'

export default {
  name: 'shared',
  components: {
    blockData,
    qrModal,
    countDown,
    aPagination: Pagination,
    aDrawer: Drawer,
    aSpin: Spin,
    TableItem,
    aSelect: Select,
    aCheckbox: Checkbox,
    aCheckboxGroup: Checkbox.Group,
    aRadio: Radio,
    aRadioGroup: Radio.Group,
    aOption: Select.Option,
    aTabs: Tabs,
    aTabPane: Tabs.TabPane,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    // editBuyInfo,
    rowDetail,
    TreeCheckboxSingleSelect,
    lockModal
    // qrBottom
  },
  data() {
    return {
      qrBottom,
      qualificationStatus: '',
      channel: 0,
      tabOptions: [
        {value: 0, label: '全部资源'},
        {value: 1, label: '平台优选'}
        // { value: 2, label: '平台自营' }
      ],
      clickList: [],
      sortIndex: 0,
      optimization: false,
      notFind,
      qrCode: '',
      dataLoading: false,
      isNeedAll: -1,
      isHoldingCompany: 1,
      isNeedLetter: 0,
      changeNeedDisabled: true,
      changeNeedDisabledAll: false,
      otherOptions: [
        // { label: '财务纠纷', value: 'isFinanceDispute' },
        // { label: '法律纠纷', value: 'isLawDispute' },
        // { label: '行政处罚记录', value: 'isPoliticsPenalize' },
        // { label: '在建工程', value: 'isBuildingProject' },
        // { label: '挂靠人员', value: 'isHangingClose' },
        // { label: '安全生产许可证', value: 'isSecurityLicence' },
        {label: '包函', value: 'isNeedLetter'},
        {label: '可被控股', value: 'isHoldingCompany'}
      ],
      other: ['isNeedLetter'],
      companyDetail: {},
      companyDetailDrawerDisplay: false,
      qualifications: undefined,
      defaultExpend: [],
      areaData: [],
      // qualificationOptions: [],
      // fakeQualification: [],
      area: 'none',
      areaCode: 0,
      lastFilterSave: null,
      imageSrc: developmenting,
      SHOW_PARENT: TreeSelect.SHOW_PARENT,
      pageSize: 10,
      pageNum: 1,
      total: 0,
      freeCount: 0,
      tableData: [{}],
      isHaveSelfList: false,
      userId: '',
      isBetween: false
    }
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    },
    areaOptions() {
      const options = universalModule.areaCityOptions
      const gangAoTai = [810000, 820000, 710000]
      options.forEach(e => {
        gangAoTai.forEach(a => {
          if (e.value === a) {
            e.disabled = true
          }
        })
      })
      options.unshift({
        label: '不限',
        value: 'none'
      })
      return options
    }
  },
  methods: {
    async userIsLogin() {
      try {
        if (!this.userId) {
          throw 'not login'
        }
      } catch (err) {
        detailModule.changeUserLoginModal(true)
        throw err
      }
    },
    goToEdit() {
      this.userIsLogin().then(() => {
        this.$emit('changeMenuItem', {routerName: 'editBuyingInfo'})
        this.$router.push({
          name: 'editBuyingInfo',
          query: {
            from: this.$route.name
          }
        })
      })
    },
    itemIsClicked(id) {
      return this.clickList.includes(id)
    },
    waitingThisItem(item) {
      this.$refs.LM.showModalVisible({...item, isWaiting: true})
    },
    checkItemPhone(row) {
      this.userIsLogin().then(() => {
        this.$httpRequester
            .get('trade/share/phone/view', {id: row.id})
            .then(() => {
              this.getSharedList()
            })
            .catch(err => {
              if (err.code === '5010') {
                this.$message.warn(err.msg)
                // detailModule.setWatchPhoneModalShow(true)
              } else if (err.code === '5013') {
                detailModule.setGoToVipModalShow(true)
              } else if (err.code === '5014') {
                detailModule.setGoToActivityModalShow(true)
              }
            })
      })
    },
    lockThisItem(item) {
      this.userIsLogin().then(() => {
        this.$refs.LM.showModalVisible(item)
      })
    },
    changeNeedAll() {
      if (this.isNeedAll === -1) {
        this.isNeedAll = 0
        this.changeNeedDisabled = false
      } else {
        this.isNeedAll = -1
        this.changeNeedDisabled = true
      }

    },
    changeNeedLetter() {
      if (this.isNeedLetter === 1) {
        this.isNeedLetter = 0
        if (this.isHoldingCompany === 1) {
          this.changeNeedDisabledAll = false
          // this.isNeedAll=-1
          // this.changeNeedDisabled=true

        }

      } else {
        this.isNeedLetter = 1
        this.changeNeedDisabledAll = true

      }
    },
    changeHoldingCompany() {
      if (this.isHoldingCompany === 1) {
        this.isHoldingCompany = 0
        this.changeNeedDisabledAll = true

      } else {
        if (this.isNeedLetter === 0) {
          this.changeNeedDisabledAll = false
          // this.isNeedAll=-1
          // this.changeNeedDisabled=true

        }

        this.isHoldingCompany = 1
      }
    },
    selectQualificationStatus(status) {
      if (this.qualificationStatus === status) {
        this.qualificationStatus = undefined
      } else {
        this.qualificationStatus = status
      }
    },
    selectChannel(channel) {
      this.channel = channel
      if (this.channel === 0) {
        this.optimization = false
      } else {
        this.optimization = true
      }
      this.pageNum = 1
      this.getSharedList()
    },
    changeSortRule(index) {
      this.sortIndex = index
      this.getSharedList()
    },
    getPopupContainer() {
      return document.getElementById('sharedFilter')
    },

    tableChange(pageNum, pageSize) {
      // this.userIsLogin().then(() => {
      this.pageSize = pageSize
      this.pageNum = pageNum
      this.$emit('goBackToTop')
      this.getSharedList()
      // })
    },
    paginationShowTotal(total) {
      return ''
      // `共${total}条数据`
    },
    selectQualification(val) {
      // console.log(val)
      // this.getSharedList()
    },
    closeCompanyDetailDrawer() {
      this.companyDetailDrawerDisplay = false
    },
    goToCompanyDetail(row) {
      this.userIsLogin().then(() => {
        this.companyDetailDrawerDisplay = true
        this.clickList.push(row.id)
        this.$nextTick(() => {
          this.$refs.rd.setBasicInfo(row)
        })
      })
    },
    selectArea(value) {
      if (value === 'none') {
        this.areaCode = 0
      } else {
        this.areaCode = value
      }
    },
    clickFindBtn() {
      this.userIsLogin().then(() => {
        this.pageSize = 10
        this.pageNum = 1
        this.getSharedList()
      })
    },
    notFilter() {
      return false
    },
    setFilterToFindList() {
      this.getSharedList()
    },
    reSetFilter() {
      this.areaCode = 0
      this.area = undefined
      this.isNeedAll = -1
      this.changeNeedDisabled = true
      this.changeNeedDisabledAll = false
      this.isNeedLetter = 0
      this.isHoldingCompany = 1
      this.qualifications = undefined
      this.qualificationStatus = undefined
      this.optimization = false
      // console.log('reset')
    },
    setDefaultExpendKey() {
      this.qualificationOptions.forEach(e => {
        this.defaultExpend.push(e.key)
      })
    },
    getFilterCondition() {
      this.$httpRequester
          .get('filter/queryCondition', {conditionEnum: 'STOCK_SHIPMENT_QUERY'})
          .then(res => {
            if (res) {
              const history = JSON.parse(res.filterCondition)
              this.qualifications = history.qualificationIds && history.qualificationIds.length
                  ? history.qualificationIds[0]
                  : undefined
              // this.isHoldingCompany = history.isHoldingCompany
              // this.isNeedLetter = history.isNeedLetter
              this.areaCode = history.areaCode ? history.areaCode : 0
              this.area = history.areaCode ? history.areaCode : 'none'
              this.qualificationStatus = history.shipmentType
              this.pageNum = history.pageNum
              this.pageSize = history.pageSize
              this.optimization = history.optimization
              this.channel = history.optimization ? 1 : 0
              this.sortIndex = history.sort ? 0 : 1
            }
            this.getSharedList()
          })

      // this.getSharedList()
    },
    setListFindBegin() {
      const shareQua = localStorage.getItem('shareQua')
      const localChannel = localStorage.getItem('channel')
      if (localChannel) {
        this.qualifications = undefined
        this.area = 'none'
        this.channel = parseInt(localChannel, 10)
        localStorage.removeItem('channel')
        this.getSharedList()
      } else if (shareQua) {
        const localQua = JSON.parse(shareQua).value
        this.$nextTick(() => {
          this.qualifications = parseInt(localQua, 10)
          localStorage.removeItem('shareQua')
          this.getSharedList()
        })
      } else {
        this.getSharedList()
      }
    },
    getSharedList() {
      // console.log(this.qualifications)
      this.dataLoading = true
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        areaCode: this.areaCode,
        shipmentType: this.qualificationStatus,
        isHoldingCompany: this.isHoldingCompany,
        sort: this.sortIndex === 0,
        isNeedLetter: this.isNeedLetter,
        optimization: this.optimization,
        qualificationIds: this.qualifications ? [this.qualifications] : []
      }
      if (this.isNeedAll === -1) {
        delete params.isHoldingCompany
        delete params.isNeedLetter

      }
      this.$httpRequester.post('trade/share/query', params).then(res => {
        this.tableData = res.list
        this.tableData.forEach(d => {
          d.isClick = false
          d.isBlur = true
          d.imageSrc = quaImage
          const qualist = d.qualificationName.split('+')
          // console.log(qualist)
          if (qualist.length > 3) {
            d.qualificationName = qualist.slice(0, 3).join('+')
            d.allQuaText = qualist.join('、')
            d.otherQua = `...等${qualist.length}个资质`
          } else {
            d.otherQua = ''
          }
          d.isBetween = this.isBetween
          d.isNew = isTimeBeyondExpectation(d.releaseTime)
        })
        this.dataLoading = false
        // this.getFreeQueryCount()
        this.total = res.total || 0
        if (this.$refs.rd) {
          this.$refs.rd.refreshData()
        }
      })
    },
    getFreeQueryCount() {
      this.$httpRequester.get('free/count/querySharedCheckCount').then(res => {
        this.freeCount = res ? res.freeCount : 0
      })
    },
    getSelfSharedList() {
      const params = {
        currentPage: 1,
        pageSize: 1
      }
      this.$httpRequester
          .get('shared/list', params, 'application/x-www-form-urlencoded')
          .then(res => {
            this.isHaveSelfList = res ? !!res.totalSize : false
          })
    }
  },
  mounted() {
    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      universalModule.getTypeQualification()
      universalModule.getQualification()
    }

    // if (this.isAdmin) {
    //   this.getSelfSharedList()
    // }
    universalModule.setAreaOptions()

    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
        userAgent.indexOf(' electron/') > -1
            ? localStorage.getItem('userId')
            : Cookie.get('userId')
    this.$nextTick(() => {
      if (!this.userId) {
        this.getSharedList()
      } else {
        this.getFilterCondition()
      }

      this.$emit('goBackToTop')

      const history = localStorage.getItem('shareholderHistory') || '[]'
      const historyList = JSON.parse(history)
      if (!historyList.length) {
        shareholderModule.changeShareholderHistoryListItem({
          title: '出货信息',
          name: this.$route.name
        })
      }
    })
  },
  created() {
    const currentDate = this.$moment().format('YYYY-MM-DD')
    // console.log(currentDate)
    // 判断在不在所需区间
    this.isBetween = this.$moment().isBetween(
        currentDate + '08:30:00',
        currentDate + '09:00:00',
        'minute'
    )
  }
}
</script>

<style lang="scss" scoped>
.sell-drawer {
  /deep/ .ant-drawer-body {
    padding: 0 !important;
  }
}
</style>
<style lang="scss" scoped>
.shared-page {
  padding: 16px;

  .line {
    width: 100%;
    margin-top: 15px;
    border-right: none;
    border-left: none;
    border-bottom: 0;
    margin-bottom: 0;
    height: 1px;
    border-top: solid 1px #f2f6f8;
  }

  .shared-filter {
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 24px 24px 8px 24px;
    position: relative;

    .search-title {
      color: #909399;
      font-size: 16px;
    }

    .advanced-btns {
      margin-left: 25px;
      position: relative;
      // position: absolute;
      right: 25px;
    }

    .filter-item {
      display: flex;
      width: 100%;
      margin-bottom: 26px;
      align-items: center;
      flex-shrink: 0;
      position: relative;

      .filter-label {
        font-size: 14px;
        color: #232323;
        width: 80px;
      }

      .long-label {
        width: 100px;
      }

      .filter-search {
        width: 306px;
        margin-right: 24px;
      }

      .auto-width {
        flex-grow: 0;
        margin-right: 24px;
        min-width: 306px;
        //  max-width: calc(100% - 330px);
      }

      .short-filter {
        width: 266px;
      }

      .number-count {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .have-margin {
          margin: 0 10px;
        }
      }

      .type-radio {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        width: 180px;

        .group {
          margin-right: 5px;
        }

        .radio-tips {
          margin-bottom: 0;
          font-size: 13px;
          color: #909399;
        }
      }

      .large-button {
        width: 88px;
        margin-right: 16px;
      }

      .rt-abs-button {
        position: absolute;
        right: 0px;
        width: 116px;
      }
    }

    .collapse-expend {
      position: absolute;
      font-size: 14px;
      cursor: pointer;
      right: 25px;
      bottom: 10px;
      color: #4d7cfe;
    }
  }

  .table-content {
    // padding: 16px 24px;
    background-color: #ffffff;
    border-radius: 2px;

    .free-count-info {
      margin-top: 10px;
      // margin-top: 12px;
      padding: 10px 21px;
      border: solid 1px #f2f6f8;
      background-color: #f2f6f8;
      position: relative;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .add-btn {
        position: absolute;
        right: 21px;
      }
    }

    .tabs-list {
      border-bottom: 1px #eff3f6 solid;

      .tabSelected {
        color: #00ab94;
        border-bottom: 3px solid #00ab94;
      }

      .normalTab {
        color: #686868;
        border-bottom: 3px solid transparent;
      }
    }
  }

  .qr-tools {
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;

    .sort-tool {
      position: absolute;
      top: 0px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 110px;

      .dividing-line {
        height: 15px;
        background-color: #f2f6f8;
        width: 1px;
      }

      .tools {
        cursor: pointer;
        color: #a0a6ab;

        &:hover {
          color: #00ab94;
        }
      }

      .selected {
        color: #00ab94;
      }
    }
  }

  .card-pagination {
    width: 100%;
    // text-align: right;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .fake-btn {
      margin-left: 8px;
    }
  }

  .process {
    width: 100%;
    background-size: cover;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 16px;
    border-radius: 2px;
    overflow: hidden;
  }
}
</style>
