<template>
  <div class="">
    <div
      @click="closeDetailDrawer"
      class="text-sysPrimary px-[24px] pt-[24px] pb-[16px] text-[16px] flex items-center cursor-pointer"
    >
      <a-icon :component="backIcon" class="mr-[4px]" />
      返回
    </div>
    <div :class="titleBgCss">
      <div :class="titleCss">
        资质情况
      </div>
      <div class="text-tipOrange text-[14px] font-medium flex items-center">
        价格刷新倒计时：
        <count-down></count-down>
      </div>
    </div>
    <div class="p-[24px] flex items-start">
      <div
        class="w-[104px] h-[144px] bg-cover relative z-[9]"
        :style="
          'background-image:url(' + (info.itemsImageUrl || quaImage) + ')'
        "
      >
        <div
          v-if="info.isSell === 1"
          class="
            h-full
            w-full
            bg-cover
            absolute
            bg-black
            left-0
            right-0
            top-0
            flex
            items-center
            justify-center
            bg-opacity-40
            bottom-0
            m-auto
          "
        >
          <img :src="isSelled" class="h-[64px]  w-[64px]" />
        </div>
      </div>
      <div class="ml-[24px]">
        <div
          class="mb-[6px] flex items-center font-medium text-[16px] text-textPrimary"
        >
          {{ info.qualificationName }}
          <a-popover v-if="info.otherQua" trigger="hover">
            <div slot="title">全部资质</div>
            <template slot="content">
              <div style="max-width: 600px" v-html="info.allQuaText"></div>
            </template>
            <span class=" text-tipBlue" v-if="info.otherQua">
              {{ info.otherQua }}
            </span>
          </a-popover>
        </div>
        <div class="mb-[6px] flex items-center ">
          <div
            v-if="info.type"
            class="
              text-[14px] text-white bg-[#F30B0D]  w-[fit-content]
              px-[6px]  py-[1px]  rounded-[2px] mr-[8px]
            "
          >
            优选
          </div>
          <div
            v-if="info.isNew"
            class="
              text-[14px] text-[#FFA061]  w-[fit-content] bg-[#FFE3D1]
              px-[6px] py-[1px] rounded-[2px]  mr-[8px]
            "
          >
            新上架
          </div>
          <div
            v-if="info.shipmentType === 1"
            class="
              text-[14px] text-[#FF7071]  w-[fit-content] bg-[#FFD8D9]
              px-[6px] py-[1px] rounded-[2px]  mr-[8px]
            "
          >
            整转
          </div>
        </div>
        <div class="mb-[6px] text-textLight">
          其它特性：
          <span class="text-tipOrange mr-[8px]">
            {{ info.isNeedLetter === 1 ? '包函' : '不包函' }}
          </span>
          <span class="text-tipOrange">
            {{ info.isHoldingCompany === 0 ? '可被控股' : '不可控股' }}
          </span>
          <!-- <span></span> -->
        </div>
        <div class="mb-[6px] text-textLignt flex items-center">
          <div class="mr-[24px]">注册地区：{{ info.areaName }}</div>
          <div class="mr-[24px]">落地地区：{{ info.inAreaName }}</div>
          <div v-if="!info.type" class="mr-[24px]">
            联系人：{{ info.contactsPerson || '-' }}
          </div>
          <div v-if="!info.type" class="mr-[24px] relative ">
            <span @dblclick="copyPhone">
              联系电话：
              <span class="text-tipOrange">
                {{ info.contactsPhone || '-' }}
              </span>
            </span>
            <a-tooltip title="复制电话号码" placement="right" v-if="info.checkState">
              <a-icon
                @click="copyPhone"
                :component="conyIcon"
                style="font-size: 16px"
                class="text-[#2194FF] absolute  right-[-20px] bottom-[3px]"
              />
            </a-tooltip>
          </div>
        </div>
        <div class="mb-[6px]" v-if="info.type">
          <span
            class="text-tipOrange"
            v-if="!info.isBetween || info.isSell === 1"
          >
            <span class="text-[14px]">￥</span>
            <span class="text-[24px] ml-[-6px]">
              {{ info.cachePrice || '--' }}
            </span>
            <span class="text-[14px] ml-[-5px]">万</span>
          </span>
          <span v-if="info.isBetween && info.isSell !== 1">价格刷新中...</span>
        </div>
        <div class="text-tipOrange mb-[6px] text-[14px]" v-else>
          ￥<span class="text-[20px]">面议</span>
        </div>
        <div v-if="info.isSell !== 1 && info.type">
          <a-tooltip placement="right">
            <template slot="title">
              <p>
                锁定规则：<br />
                1、锁定资源后，你将拥有该资源的优先购买权；<br />
                2、每一个资源只能被一个用户锁定；<br />
                3、如需锁定资源，请点击“锁定资源”，添加顾问微信，确认购买意向后，由顾问为你锁定；<br />
                4、当有多人对同一资提交源锁定意向时，将按提交锁定资源的时间先后顺序确认锁定人；<br />
                5、资源锁定之后，后续未达成交易，该资源将被释放，其他用户可继续锁定该资源；<br />
              </p>
            </template>
            <a-button
              @click="lockThisItem"
              type="primary"
              v-if="info.lockedState === 0"
            >
              锁定资源
            </a-button>
          </a-tooltip>

          <a-button type="primary" disabled v-if="info.lockedState === 2">
            待顾问确认
          </a-button>
          <a-tooltip placement="right">
            <template slot="title">
              <p>该资源处于锁定洽谈中，联系顾问进入排队序列</p>
            </template>
            <a-button
              type="primary"
              @click="waitingThisItem"
              v-if="info.lockedState === 1"
            >
              已锁定，洽谈中
            </a-button>
          </a-tooltip>
        </div>
        <div v-if="info.isSell !== 1 && !info.type">
          <a-button
            @click="checkItemPhone"
            type="primary"
            :disabled="info.checkState"
          >
            查看电话
          </a-button>
        </div>
      </div>
    </div>
    <div :class="titleBgCss" v-if="info.shipmentType == 1">
      <div :class="titleCss">
        整转资质
      </div>
    </div>
    <div
      v-if="info.shipmentType == 1"
      class="px-[24px] pt-[24px] pb-[12px] flex items-center flex-wrap"
    >
      <div
        class="text-[14px] mb-[12px] leading-5 text-textPrimary mr-[24px]"
        v-for="(item, key) in quaList"
        :key="key"
      >
        {{ item }}
      </div>
    </div>
    <div :class="titleBgCss">
      <div :class="titleCss">
        付款方式
      </div>
    </div>
    <p class="p-[24px] whitespace-pre-line text-textPrimary text-[14px]">
      {{ info.paymentMethod || '无' }}
    </p>
    <div :class="titleBgCss">
      <div :class="titleCss">
        特别说明
      </div>
    </div>
    <div class="p-[24px] whitespace-pre-line text-textPrimary text-[14px]">
      {{ info.specialNote || '无' }}
    </div>
    <div :class="titleBgCss" v-if="info.itemsImageUrl">
      <div :class="titleCss">
        资质证书
      </div>
    </div>
    <div class="p-[24px]" v-if="info.itemsImageUrl">
      <img :src="info.itemsImageUrl" class="w-[301px]" />
    </div>
    <div :class="titleBgCss">
      <div :class="titleCss">
        交易流程
      </div>
    </div>
    <div class="p-[24px]">
      <img :src="typeBottom" class="w-full" v-if="info.type" />
      <img :src="noTypeBottom" class="w-full" v-if="!info.type" />
    </div>
  </div>
</template>

<script>
import quaImage from '@/assets/image/qr/qua_image.png'
import sellBottom from '@/assets/image/qr/sell_bottom.png'
import typeBottom from '@/assets/image/qr/type_bottom.png'
import noTypeBottom from '@/assets/image/qr/no_type_bottom.png'
import { isTimeBeyondExpectation } from '@/utils/common.js'
import { Tooltip, Tag, Popover } from 'ant-design-vue'
import countDown from '@/components/countDown.vue'
import isSelled from '@/assets/image/qr/is_selled.png'
import conyIcon from '@/components/icons/copy.vue'
import backIcon from '@/components/icons/backIcon.vue'

export default {
  name: 'row-detail',
  components: {
    aTooltip: Tooltip,
    aPopover: Popover,
    countDown
  },
  props: {
    row: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      typeBottom,
      noTypeBottom,
      conyIcon,
      backIcon,
      isSelled,
      quaImage,
      sellBottom,
      quaList: [],
      titleCss:
        'pl-[7px] border-l-[6px] h-[16px] leading-[16px] border-sysPrimary border-solid',
      titleBgCss:
        'bg-[#f2f6f8] flex items-center text-textPrimary justify-between  item  text-[16px] font-bold h-[54px]  w-full px-[24px] py-[20px]',
      info: {}
    }
  },
  methods: {
    copyPhone() {
      this.$message.success('电话号码已复制到粘贴板')
      copyThisText(this.info.contactsPhone)
    },
    refreshData() {
      this.setBasicInfo(this.info)
    },
    setBasicInfo(row) {
      this.$httpRequester
        .get('trade/share/info', { id: row.id, type: row.type })
        .then(res => {
          this.info = res
          this.info.type = row.type
          const qualist = res.qualificationName.split('+')
          this.quaList = qualist
          const currentDate = this.$moment().format('YYYY-MM-DD')
          // console.log(currentDate)
          // 判断在不在所需区间
          this.info.isBetween = this.$moment().isBetween(
            currentDate + '08:30:00',
            currentDate + '09:00:00',
            'minute'
          )
          // console.log(qualist)
          if (qualist.length > 2) {
            this.info.qualificationName = qualist.slice(0, 2).join('+')
            this.info.allQuaText = qualist.join('、')
            this.info.otherQua = `...等${qualist.length}个资质`
          } else {
            this.info.otherQua = ''
          }
          this.info.isNew = isTimeBeyondExpectation(res.releaseTime)
        })
    },
    closeDetailDrawer() {
      this.$emit('closeDetailDrawer')
    },
    lockThisItem() {
      this.$emit('lockThisItem', this.info)
    },
    waitingThisItem() {
      this.$emit('waitingThisItem', this.info)
    },
    checkItemPhone() {
      this.$httpRequester
        .get('trade/share/phone/view', { id: this.info.id })
        .then(() => {
          this.$emit('checkItemPhone')
        })
    }
  }
}
</script>
