<template>
  <div class="buying-table-item z-[9]">
    <div
        v-if="row.isSell === 1"
        class="
        sell-mask
        bg-white bg-opacity-60
        z-10
        w-full
        h-full
        absolute
        left-0
        top-0
      "
    ></div>
    <div class="lf">
      <!-- <div class="is-new">实时库存</div> -->
      <div class="qua-image relative z-[9]">
        <img
            v-if="isBlur"
            :src="quaImage"
            class="filter  blur-[4px] w-full h-full object-cover"
        />
        <img
            :src="row.itemsImageUrl || quaImage"
            class="w-full h-full object-cover"
            @load="loadQuaImage(row)"
        />
        <div
            v-if="row.isSell === 1"
            class="
            h-full
            w-full
            bg-cover
            absolute
            bg-black
            left-0
            right-0
            top-0
            flex
            items-center
            justify-center
            bg-opacity-40
            bottom-0
            m-auto
          "
        >
          <img :src="isSelled" class="h-[64px]  w-[64px]"/>
        </div>
      </div>
      <div class="info">
        <div class="z-[11] qualification cursor-pointer" @click="goToDetail">
          <div
              v-if="row.isSell === 1"
              class="
              sell-mask
              bg-white bg-opacity-60
              z-10
              w-full
              h-full
              absolute
              left-0
              top-0
            "
          ></div>

          <span :class="{ 'text-[#a2a2a2]': clicked }">
            {{ row.qualificationName }}
          </span>
          <a-popover v-if="row.otherQua" trigger="hover">
            <div slot="title">全部资质</div>
            <template slot="content">
              <div style="max-width: 600px" v-html="row.allQuaText"></div>
            </template>
            <span v-if="row.otherQua" class=" text-tipBlue">
              {{ row.otherQua }}
            </span>
          </a-popover>
        </div>
        <div class="flex items-center ">
          <div
              v-if="row.type"
              class="
              text-[14px] text-white bg-[#F30B0D]  w-[fit-content]
              px-[6px]  py-[1px]  rounded-[2px] mr-[8px]
            "
          >
            优选
          </div>
          <div
              v-if="row.isNew"
              class="
              text-[14px] text-[#FFA061]  w-[fit-content] bg-[#FFE3D1]
              px-[6px] py-[1px] rounded-[2px]  mr-[8px]
            "
          >
            新上架
          </div>
          <div
              v-if="row.shipmentType === 1"
              class="
              text-[14px] text-[#FF7071]  w-[fit-content] bg-[#FFD8D9]
              px-[6px] py-[1px] rounded-[2px]  mr-[8px]
            "
          >
            整转
          </div>
        </div>
        <div
            :class="{ 'text-textPrimary': !clicked, 'text-textClicked': clicked }"
            class="mt-[8px] flex items-start"
        >
          <div class="w-[56px] text-[14px]  ">
            <div class="mb-[2px]">注册地区</div>
            <div>{{ row.areaName }}</div>
          </div>
          <div class="mx-[24px] mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"></div>
          <div class="w-[56px] text-[14px]">
            <div class="mb-[2px]">落地地区</div>
            <div>{{ row.inAreaName }}</div>
          </div>
          <div class="mx-[24px]  mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"></div>
          <div class="w-[28px] text-[14px]  ">
            <div class="mb-[2px]  ">包函</div>
            <div>
              {{ row.isNeedLetter === 1 ? '是' : '否' }}
            </div>
          </div>
          <div
              class="mx-[24px]  mt-[14px]  w-[1px] h-[16px] bg-[#F2F6F8]"
          ></div>
          <div class="w-[56px] text-[14px]  ">
            <div class="mb-[2px]  ">可被控股</div>
            <div>
              {{ row.isHoldingCompany === 0 ? '是' : '否' }}
            </div>
          </div>
          <div
              class="mx-[24px]  mt-[14px]  w-[1px] h-[16px] bg-[#F2F6F8]"
          ></div>
          <div class="text-[14px] w-[82px]">
            <div class="mb-[2px]">发布时间</div>
            <div>{{ row.releaseTime }}</div>
          </div>
          <div
              v-if="!row.type"
              class="mx-[24px]  mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"
          ></div>
          <div v-if="!row.type" class="w-[56px] text-[14px]  ">
            <div class="mb-[2px]">联系人</div>
            <div
                class="overflow-ellipsis whitespace-nowrap w-full overflow-hidden"
            >
              {{ row.contactsPerson || '-' }}
            </div>
          </div>
          <div
              v-if="!row.type"
              class="mx-[24px] mt-[14px] w-[1px] h-[16px] bg-[#F2F6F8]"
          ></div>
          <div v-if="!row.type" class="text-[14px] ">
            <div class="mb-[2px]">联系电话</div>
            <div v-if="!row.checkState">***********</div>
            <div
                v-if="row.checkState"
                class="text-center text-tipOrange relative"
            >
              <span @dblclick="copyPhone"> {{ row.contactsPhone }} </span>
              <a-tooltip placement="right" title="复制电话号码">
                <a-icon
                    :component="conyIcon"
                    class="text-[#2194FF] absolute  right-[-19px] bottom-[3px]"
                    style="font-size: 16px"
                    @click="copyPhone"
                />
              </a-tooltip>
            </div>
          </div>
        </div>
        <div
            class="
            w-full
            flex
            relative
            justify-between
            items-center
            mt-[5px]
          "
        >
          <div v-if="row.type">
            <span
                v-if="!row.isBetween || row.isSell === 1"
                class="text-tipOrange relative"
            >
              <span class="text-[14px] absolute bottom-0">￥</span>
              <span class="text-[24px] ml-[14px]">
                {{ row.cachePrice || '--' }}
              </span>
              <span class="text-[14px] absolute bottom-0 right-[-16px]">
                万
              </span>
            </span>
            <span v-if="row.isBetween && row.isSell !== 1">价格刷新中...</span>
          </div>
          <div v-else class="text-tipOrange text-[14px]">
            ￥<span class="text-[20px]">面议</span>
          </div>
          <div
              v-if="row.isSell !== 1 && row.type"
              class="absolute bottom-[56px] right-[0px]"
          >
            <a-tooltip placement="right">
              <template slot="title">
                <p>
                  锁定规则：<br/>
                  1、锁定资源后，你将拥有该资源的优先购买权；<br/>
                  2、每一个资源只能被一个用户锁定；<br/>
                  3、如需锁定资源，请点击“锁定资源”，添加顾问微信，确认购买意向后，由顾问为你锁定；<br/>
                  4、当有多人对同一资提交源锁定意向时，将按提交锁定资源的时间先后顺序确认锁定人；<br/>
                  5、资源锁定之后，后续未达成交易，该资源将被释放，其他用户可继续锁定该资源；<br/>
                </p>
              </template>
              <a-button
                  v-if="row.lockedState === 0"
                  class="w-[112px]"
                  type="primary"
                  @click="lockThisItem"
              >
                锁定资源
              </a-button>
            </a-tooltip>

            <a-button
                v-if="row.lockedState === 2"
                class="w-[112px]"
                disabled
                type="primary"
            >
              待顾问确认
            </a-button>
            <a-tooltip placement="right">
              <template slot="title">
                <p>该资源处于锁定洽谈中，联系顾问进入排队序列</p>
              </template>
              <a-button
                  v-if="row.lockedState === 1"
                  class="w-[112px] px-[7px]"
                  type="primary"
                  @click="waitingThisItem"
              >
                已锁定，洽谈中
              </a-button>
            </a-tooltip>
          </div>
          <div
              v-if="row.isSell !== 1 && !row.type"
              class="absolute bottom-[56px] right-[0px]"
          >
            <a-button
                :disabled="row.checkState"
                class="w-[112px]"
                type="primary"
                @click="checkItemPhone"
            >
              查看电话
            </a-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Tooltip, Tag, Popover} from 'ant-design-vue'
// import { userModule } from '@/store/modules/user'
import {detailModule} from '@/store/modules/detail'
import quaImage from '@/assets/image/qr/qua_image.png'
// import good from '@/assets/image/qr/icon/good.png'
import isSelled from '@/assets/image/qr/is_selled.png'
import conyIcon from '@/components/icons/copy.vue'
// import { mapMutations } from 'vuex'

import Cookie from 'js-cookie'

export default {
  name: 'table-item',
  components: {
    aPopover: Popover,
    aTooltip: Tooltip,
    aTag: Tag
  },
  data() {
    return {
      conyIcon,
      quaImage,
      isSelled,
      isBlur: true,
      // good,
      otherList: [
        {label: '包函', value: 'isNeedLetter', have: '可', not: '不'},
        {label: '被控股', value: 'isHoldingCompany', have: '可', not: '不可'}
        // {
        //   label: '安全生产许可证',
        //   value: 'isSecurityLicence',
        //   have: '有',
        //   not: '无',
        // },
      ]
    }
  },
  props: {
    freeCount: {
      type: Number,
      default: 0
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    },
    index: {
      type: Number,
      default: 0
    },
    clicked: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    // isAdmin() {
    //   return userModule.roleLevel === 2
    // },
  },
  methods: {
    // ...mapMutations(['changeLoginModalShow']),
    loadQuaImage() {
      this.isBlur = false
    },
    copyPhone() {
      this.$message.success('电话号码已复制到粘贴板')
      copyThisText(this.row.contactsPhone)
    },
    checkItemPhone() {
      this.$emit('checkItemPhone', this.row)
    },
    lockThisItem() {
      // const userId = Cookie.get('userId')
      // if (!userId) {
      //   this.changeLoginModalShow(true)
      //   return
      // }
      this.$emit('lockThisItem', this.row)
    },
    goToDetail() {
      this.$emit('goToCompanyDetail', this.row)
    },
    waitingThisItem() {
      // const userId = Cookie.get('userId')
      // if (!userId) {
      //   this.changeLoginModalShow(true)
      //   return
      // }
      this.$emit('waitingThisItem', this.row)
    },
    watchThisPhone() {
      // if (this.freeCount === 0) {
      //   this.$message.warning('您的免费次数已使用完毕，请联系顾问人员增加次数')
      //   return
      //   // }
      //   this.$httpRequester
      //     .get('shared/phone/view', { id: this.row.id })
      //     .then(() => {
      //       this.$emit('refreshList')
      //     })
      //     .catch((err) => {
      //       if (err.code === '5010') {
      //         this.$message.warn('出售与求购相关使用次数已用完')
      //         // detailModule.setWatchPhoneModalShow(true)
      //       } else if (err.code === '5013') {
      //         detailModule.setGoToVipModalShow(true)
      //       } else if (err.code === '5014') {
      //         detailModule.setGoToActivityModalShow(true)
      //       }
      //     })
    }
  },
  created() {
  }
}
</script>
<style lang="scss" scoped>
.filterGray {
  filter: grayscale(90%);
}

.buying-table-item {
  min-height: 200px;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  &:hover {
    background-color: #ebf9f7;

    .qualification {
      color: #00ab94 !important;
    }
  }

  border-bottom: solid 1px #eff3f6;
  border-left: solid 1px #eff3f6;
  border-right: solid 1px #eff3f6;

  .lf {
    width: 100%;
    position: relative;
    align-items: flex-start;
    display: flex;

    .is-new {
      width: 52px;
      height: 22px;
      background-color: #e1251b;
      text-align: center;
      line-height: 22px;
      font-size: 12px;
      color: #fff;
      position: absolute;
      left: -24px;
      top: -24px;
      z-index: 100;
    }

    .qua-image {
      z-index: 99;
      width: 104px;
      height: 144px;

      // background-color: #4d7cfe;
      position: relative;
      margin-right: 24px;
      flex-grow: 0;
      overflow: hidden;

      .image {
        width: 175px;
        height: 218px;
        background-size: cover;
        position: absolute;
        right: -55px;
        bottom: -70px;
      }
    }

    .info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 144px;

      .qualification {
        font-size: 16px;
        color: #282828;
        position: relative;
        display: flex;
        font-weight: 500;
        align-items: center;
        width: fit-content;
        //   cursor: pointer;
        margin-bottom: 8px;

        .channel-tag {
          margin-left: 10px;
        }

        // .excellent {
        // }
        // .platform {
        // }
      }

      .other-list {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        justify-content: flex-start;

        .other-item {
          width: fit-content;
          padding: 0 16px 0 10px;
          font-size: 14px;
          margin-right: 5px;
          text-align: center;
          border-right: solid 1px #ddd;

          .value {
            margin-top: 4px;
            font-size: 12px;
          }

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      .area-date {
        font-size: 13px;
        margin-bottom: 4px;
        color: #8e8e90;
      }
    }
  }

  .rt {
    // margin-bottom: 20px;
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .submit-time {
      position: absolute;
      color: #8e8e90;
      text-align: right;
      top: -80px;
      right: 0;
      width: 200px;
    }

    .line {
      font-size: 14px;
    }

    .btns {
      text-align: right;
      width: 72px;
    }

    .phone-tips {
      font-size: 12px;
      color: #a0a6ab;
    }
  }
}
</style>
