.free-vip-item {
  cursor: pointer;
  width: 100%;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  .free-main-title {
    letter-spacing: 2px;
    font-size: 24px;
    position: absolute;
    width: fit-content;
    left: 16%;
    top: 32%;
    text-align: center;
    font-weight: 600;
    color: #542200;
  }
  .free-sub-title {
    position: absolute;
    color: #542200;
    text-align: left;
    // margin-top: 12px;
    left: 16%;
    top: 52%;
    font-size: 16px;
    font-weight: 400;
  }
  .free-vip-btn {
    cursor: pointer;
    height: 48px;
    width: 120px;
    background-color: #ff7f28;
    border-radius: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10%;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 48px;
    &:hover {
      text-shadow: 0px 0px 1px rgba($color: #ff7f28, $alpha: 0.2);
    }
  }
}
.no-data-select {
  margin-right: 15px;
  width: 110px;
  /deep/.ant-select-selection {
    border-color: #d2d6d9;
  }
  /deep/.ant-select-selection__placeholder {
    color: #282828;
  }
}
.risk-filter-btn {
  margin-right: 15px;
  width: 110px;
  /deep/.ant-select-selection {
    border-color: #00ab94 !important;
  }
  /deep/.ant-select-selection__placeholder,
  /deep/ .ant-select-arrow {
    color: #00ab94;
  }
  /deep/.ant-select-selection-selected-value {
    color: #00ab94 !important;
  }
}

.table-risk-filter {
  width: 100px;
  margin-left: 8px;
  /deep/.ant-select-selection {
    border-color: #00ab94 !important;
  }
  /deep/.ant-select-selection__placeholder,
  /deep/ .ant-select-arrow {
    color: #00ab94 !important;
  }
  /deep/.ant-select-selection-selected-value {
    color: #00ab94 !important;
  }
}
