<template>
  <a-form-model
    :model="formModal"
    ref="announcementForm"
    :label-col="{ span: 4 }"
    :wrapper-col="{ offset: 5 }"
  >
    <a-form-model-item label="地区:" prop="areaCode">
      <a-select
        v-model="areaCode"
        mode="multiple"
        id="areaTree"
        @change="handleChange"
        placeholder="请选择地区"
      >
        <a-select-option
          v-for="item in cityList"
          :key="item.value"
          :value="item.value"
          >{{ item.label }}
        </a-select-option>
      </a-select>
    </a-form-model-item>
    <a-form-model-item
      :rules="{
        required: true,
        message: '请输入标题',
        trigger: 'blur'
      }"
      label="标题:"
      prop="title"
    >
      <a-input v-model="formModal.title" placeholder="请输入标题"></a-input>
    </a-form-model-item>
    <a-form-model-item
      :rules="{
        required: true,
        message: '请输入内容',
        trigger: 'blur'
      }"
      label="内容:"
      prop="content"
    >
      <tiny-edit v-model="formModal.content"></tiny-edit>
    </a-form-model-item>
    <a-form-model-item label="数据来源:" prop="sourceUrl">
      <a-input
        v-model="formModal.sourceUrl"
        placeholder="请输入数据来源"
      ></a-input>
    </a-form-model-item>
    <a-form-model-item class="form-item" label="附件:">
      <a-upload
        :remove="removeFile"
        accept=".png, .jpg, .jpeg, .doc, .docx, .xls, .xlsx,.pdf"
        :before-upload="beforeUpload"
        @change="selectFile"
        :fileList="fileList"
        :showUploadList="{ showPreviewIcon: false, showRemoveIcon: true }"
        name="file"
      >
        <a-button>
          <a-icon type="upload" />
          选择文件…
        </a-button>
      </a-upload>
      <p class="tips">
        支持图片的png，jpg格式,文档的doc，docx，xls，xlsx，pdf格式,单个文件最大支持2M,最多不超过10个附件
      </p>
    </a-form-model-item>
    <a-form-model-item label="发布日期:" prop="sendTime">
      <a-date-picker
        :allowClear="false"
        :disabled-date="disabledDate"
        @change="releaseTimeChange"
        :value="this.$moment(releaseTime, dateFormat)"
        :format="dateFormat"
      />
    </a-form-model-item>
    <div class="bottom-btns">
      <a-button type="primary" @click="beforeSubmit">提交</a-button>
    </div>
  </a-form-model>
</template>
<script>
import TinyEdit from '@/components/TinyEdit.vue'
import {
  Button,
  DatePicker,
  Drawer,
  FormModel,
  Input,
  Select,
  Spin,
  Table,
  Upload
} from 'ant-design-vue'
import { areaJSON } from '@/utils/area'
export default {
  name: 'AddPolicy',
  components: {
    aUpload: Upload,
    aTable: Table,
    aButton: Button,
    aDatePicker: DatePicker,
    aDrawer: Drawer,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aSelect: Select,
    aSelectOption: Select.Option,
    aInput: Input,
    aSpin: Spin,
    TinyEdit
  },
  props: {
    detailsData: {
      required: true
    },
    isEdit: {
      required: true
    }
  },
  watch: {
    isEdit(val) {
      this.isEditOrAdd(val)
    }
  },
  data() {
    return {
      dateFormat: 'YYYY-MM-DD',
      releaseTime: this.$moment(),
      cityList: [{ label: '全国', value: 0 }],
      fileList: [],
      files: [],
      judgeSubmit: false,
      areaCode: undefined,
      formModal: {
        areaCodes: [],
        id: '',
        title: '',
        content: '',
        enclosureUrl: '',
        sourceUrl: '',
        sendTime: null
      }
    }
  },
  methods: {
    isEditOrAdd(val) {
      this.judgeSubmit = val
      if (val) {
        this.fileList = this.detailsData.enclosureUrl
          ? this.detailsData.enclosureUrl.split(',').map((e, i) => {
              return {
                uid: i,
                isHaveUpload: true,
                name: e
              }
            })
          : []
        this.releaseTime = this.detailsData.sendTime
        // this.detailsData.sendTime
        // console.log('this.detailsData.sendTime ',this.releaseTime )
        this.formModal.id = this.detailsData.noticeId
        this.formModal.areaCodes = this.detailsData.areaCodes
        this.areaCode = this.detailsData.areaCodes
        this.formModal.title = this.detailsData.title
        this.formModal.content = this.detailsData.content
        this.formModal.enclosureUrl = this.detailsData.enclosureUrl
        this.formModal.sourceUrl = this.detailsData.sourceUrl
        this.formModal.sendTime = this.detailsData.sendTime
      } else {
        this.fileList = []
        this.files = []
        this.releaseTime = this.$moment()
        this.areaCode = undefined
        this.formModal.title = ''
        this.formModal.content = ''
        this.formModal.enclosureUrl = ''
        this.formModal.sourceUrl = ''
        this.formModal.sendTime = ''
      }
    },
    disabledDate(current) {
      return current && current > this.$moment()
    },
    handleChange(value) {
      const show = value.find(item => {
        return item === 0
      })
      if (show === 0) {
        this.areaCode = [0]
      } else {
        this.areaCode = value
      }
      this.formModal.areaCodes = this.areaCode
    },
    selectFile(item) {
      // console.log('item', item)
      const size = item.file.size
      const MB = 1024 * 1024
      if (size / MB > 10) {
        this.$message.warning('文件过大!')
        return
      }
      if (item.fileList.length > 10) {
        this.$message.warning('最多只能上传10个文件')
        return
      }
      this.fileList = item.fileList
    },
    beforeUpload(file) {
      this.files = [...this.files, file]
      return false
    },
    removeFile(file) {
      const index = this.files.findIndex(f => f.uid === file.uid)
      // console.log(index)
      const newFileList = this.files.slice()
      newFileList.splice(index, 1)
      this.files = newFileList
    },
    releaseTimeChange(date, dateString) {
      this.formModal.sendTime = dateString
      this.releaseTime = dateString
    },
    beforeSubmit() {
      this.$refs.announcementForm.validate(val => {
        if (val) {
          const formdata = new FormData()
          const haveUpload = []
          this.fileList.forEach(file => {
            if (!file.isHaveUpload) {
              formdata.append('files', file.originFileObj)
            } else {
              haveUpload.push({
                url: file.name
              })
            }
          })
          this.$httpRequester.upload('upload/file/names', formdata).then(r => {
            if (r.length) {
              this.formModal.enclosureUrl = r
                .concat(haveUpload)
                .map(e => {
                  return e.url
                })
                .join(',')
            }
            this.file = r.url
            this.formModal.sendTime =
              this.formModal.sendTime === ''
                ? this.$moment().format('yyyy-MM-DD')
                : this.formModal.sendTime
            // console.log(this.formModal)
            this.$emit('beforeSubmit', this.formModal, this.judgeSubmit)
          })
        } else {
          return false
        }
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      const dom = document.getElementById('areaTree')
      const areaTreeInput = dom.getElementsByTagName('input')[0]
      const areaTreeFather = areaTreeInput.parentElement
      areaTreeFather.removeChild(areaTreeInput)
    })
    this.isEditOrAdd(this.isEdit)
    const res = areaJSON
    // this.$httpRequester.get('regionCode/selList', {}).then(res => {
    res.forEach(item => {
      const d = {
        value: item.areaCode,
        label: item.areaName
      }
      this.cityList.push(d)
    })
    // })
  }
}
</script>

<style lang="scss" scoped>
.form-drawer {
  position: relative;

  .bottom-btns {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
    height: 50px;
    display: flex;
    box-sizing: border-box;
    padding-right: 24px;
    align-items: center;
    justify-content: flex-end;

    .lf-btn {
      margin-right: 16px;
    }
  }
}

.file-item {
  display: block;
  margin-top: 5px;
}

.lf-btn {
  margin-right: 24px;
}
</style>
