<template>
  <a-form-model
    :model="formModal"
    ref="announcementForm"
    :label-col="{ span: 4 }"
    :wrapper-col="{ offset: 5 }"
  >
    <a-form-model-item
      :rules="{
        required: true,
        message: '请输入标题',
        trigger: 'blur'
      }"
      label="标题:"
      prop="title"
    >
      <a-input v-model="formModal.title" placeholder="请输入标题"></a-input>
    </a-form-model-item>
    <a-form-model-item
      :rules="{
        required: true,
        message: '请输入内容',
        trigger: 'blur'
      }"
      label="内容:"
      prop="content"
    >
      <tiny-edit v-model="formModal.content"></tiny-edit>
    </a-form-model-item>
    <a-form-model-item label="发布日期:" prop="sendTime">
      <a-date-picker
        :allowClear="false"
        :value="this.$moment(releaseTime, dateFormat)"
        :format="dateFormat"
        style="width: 306px"
        :disabled-date="disabledDate"
        @change="releaseTimeChange"
      />
    </a-form-model-item>
    <div class="bottom-btns">
      <a-button type="primary" @click="beforeSubmit">提交</a-button>
    </div>
  </a-form-model>
</template>

<script>
import TinyEdit from '@/components/TinyEdit.vue'
import {
  Button,
  DatePicker,
  Drawer,
  FormModel,
  Input,
  Select,
  Spin,
  Table,
  Upload
} from 'ant-design-vue'
import { log } from 'util'

export default {
  name: 'AddPolicy',
  components: {
    aUpload: Upload,
    aTable: Table,
    aButton: Button,
    aDatePicker: DatePicker,
    aDrawer: Drawer,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aSelect: Select,
    aSelectOption: Select.Option,
    aInput: Input,
    aSpin: Spin,
    TinyEdit
  },
  props: {
    detailsData: {
      required: true
    },
    isEdit: {
      required: true
    }
  },
  watch: {
    isEdit(val) {
      this.isEditOrAdd(val)
    }
  },
  data() {
    return {
      judgeSubmit: false,
      dateFormat: 'YYYY-MM-DD',
      releaseTime: this.$moment(),
      formModal: {
        title: '',
        content: '',
        sendTime: '',
        id: ''
      }
    }
  },
  methods: {
    isEditOrAdd(val) {
      this.judgeSubmit = val
      if (val) {
        this.fileList = this.detailsData.enclosureUrl
          ? this.detailsData.enclosureUrl.split(',').map((e, i) => {
              return {
                uid: i,
                isHaveUpload: true,
                name: e
              }
            })
          : []
        this.releaseTime = this.detailsData.sendTime
        this.formModal.id = this.detailsData.noticeId
        this.formModal.title = this.detailsData.title
        this.formModal.content = this.detailsData.content
        this.formModal.sendTime = this.detailsData.sendTime
      } else {
        this.formModal.id = ''
        this.fileList = []
        this.files = []
        this.releaseTime = this.$moment()
        this.formModal.title = ''
        this.formModal.content = ''
        this.formModal.sendTime = ''
      }
    },
    disabledDate(current) {
      return current && current > this.$moment()
    },
    releaseTimeChange(date, dateString) {
      this.formModal.sendTime = dateString
      this.releaseTime = dateString
    },
    beforeSubmit() {
      this.$refs.announcementForm.validate(val => {
        if (val) {
          this.formModal.sendTime =
            this.formModal.sendTime === ''
              ? this.$moment().format(this.dateFormat)
              : this.formModal.sendTime
          // console.log(this.formModal)
          this.$emit('beforeSubmit', this.formModal, this.judgeSubmit)
        } else {
          return false
        }
      })
    }
  },
  mounted() {
    this.isEditOrAdd(this.isEdit)
  }
}
</script>

<style lang="scss" scoped>
.form-drawer {
  position: relative;

  .bottom-btns {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
    height: 50px;
    display: flex;
    box-sizing: border-box;
    padding-right: 24px;
    align-items: center;
    justify-content: flex-end;

    .lf-btn {
      margin-right: 16px;
    }
  }
}

.file-item {
  display: block;
  margin-top: 5px;
}

.lf-btn {
  margin-right: 24px;
}
</style>
