<template>
  <a-form-model
    :model="formModal"
    ref="announcementForm"
    :label-col="{ span: 4 }"
    :wrapper-col="{ offset: 5 }"
  >
    <a-form-model-item
      :rules="{
        required: true,
        message: '请输入标题',
        trigger: 'blur'
      }"
      label="标题:"
      prop="title"
    >
      <a-input v-model="formModal.title" placeholder="请输入标题"></a-input>
    </a-form-model-item>
    <a-form-model-item
      :rules="{
        required: true,
        message: '请输入内容',
        trigger: 'blur'
      }"
      label="内容:"
      prop="content"
    >
      <tiny-edit v-model="formModal.content"></tiny-edit>
    </a-form-model-item>
    <a-form-model-item class="form-item" label="附件:">
      <a-upload
        :remove="removeFile"
        accept=".png, .jpg, .jpeg, .doc, .docx, .xls, .xlsx,.pdf"
        :before-upload="beforeUpload"
        @change="selectFile"
        :fileList="fileList"
        :showUploadList="{ showPreviewIcon: false, showRemoveIcon: true }"
        name="file"
      >
        <a-button>
          <a-icon type="upload" />
          选择文件…
        </a-button>
      </a-upload>
      <p class="tips">
        支持图片的png，jpg格式,文档的doc，docx，xls，xlsx，pdf格式,单个文件最大支持2M,最多不超过10个附件
      </p>
    </a-form-model-item>
    <div class="bottom-btns">
      <a-button type="primary" @click="beforeSubmit">提交</a-button>
    </div>
  </a-form-model>
</template>

<script>
import TinyEdit from '@/components/TinyEdit.vue'
import {
  Button,
  DatePicker,
  Drawer,
  FormModel,
  Input,
  Select,
  Spin,
  Table,
  Upload
} from 'ant-design-vue'
export default {
  name: 'System',
  components: {
    aUpload: Upload,
    aTable: Table,
    aButton: Button,
    aDatePicker: DatePicker,
    aDrawer: Drawer,
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aSelect: Select,
    aSelectOption: Select.Option,
    aInput: Input,
    aSpin: Spin,
    TinyEdit
  },
  props: {
    detailsData: {
      required: true
    },
    isEdit: {
      required: true
    }
  },
  watch: {
    isEdit(val) {
      this.isEditOrAdd(val)
    }
  },
  data() {
    return {
      judgeSubmit: false,
      files: [],
      fileList: [],
      formModal: {
        title: '',
        content: '',
        enclosureUrl: '',
        id: ''
      }
    }
  },
  methods: {
    isEditOrAdd(val) {
      this.judgeSubmit = val
      if (val) {
        this.fileList = this.detailsData.enclosureUrl
          ? this.detailsData.enclosureUrl.split(',').map((e, i) => {
              return {
                uid: i,
                isHaveUpload: true,
                name: e
              }
            })
          : []
        this.formModal.id = this.detailsData.noticeId
        this.formModal.areaCode = this.detailsData.areaCode
        this.formModal.title = this.detailsData.title
        this.formModal.content = this.detailsData.content
        this.formModal.enclosureUrl = this.detailsData.enclosureUrl
      } else {
        this.formModal.id = ''
        this.fileList = []
        this.files = []
        this.formModal.title = ''
        this.formModal.content = ''
        this.formModal.enclosureUrl = ''
      }
    },
    selectFile(item) {
      // console.log('item', item)
      const size = item.file.size
      const MB = 1024 * 1024
      if (size / MB > 10) {
        this.$message.warning('文件过大!')
        return
      }
      if (item.fileList.length > 10) {
        this.$message.warning('最多只能上传10个文件')
        return
      }
      this.fileList = item.fileList
    },
    beforeUpload(file) {
      this.files = [...this.files, file]
      return false
    },
    removeFile(file) {
      const index = this.files.findIndex(f => f.uid === file.uid)
      // console.log(index)
      const newFileList = this.files.slice()
      newFileList.splice(index, 1)
      this.files = newFileList
    },
    beforeSubmit() {
      this.$refs.announcementForm.validate(val => {
        if (val) {
          const formdata = new FormData()
          const haveUpload = []
          this.fileList.forEach(file => {
            if (!file.isHaveUpload) {
              formdata.append('files', file.originFileObj)
            } else {
              haveUpload.push({
                url: file.name
              })
            }
          })
          this.$httpRequester.upload('upload/file/names', formdata).then(r => {
            if (r.length) {
              this.formModal.enclosureUrl = r
                .concat(haveUpload)
                .map(e => {
                  return e.url
                })
                .join(',')
            }
            this.file = r.url
            this.$emit('beforeSubmit', this.formModal, this.judgeSubmit)
          })
        } else {
          return false
        }
      })
    }
  },
  mounted() {
    this.isEditOrAdd(this.isEdit)
  }
}
</script>

<style lang="scss" scoped>
.form-drawer {
  position: relative;
  .bottom-btns {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.1);
    height: 50px;
    display: flex;
    box-sizing: border-box;
    padding-right: 24px;
    align-items: center;
    justify-content: flex-end;
    .lf-btn {
      margin-right: 16px;
    }
  }
}

.file-item {
  display: block;
  margin-top: 5px;
}
.lf-btn {
  margin-right: 24px;
}
</style>
