<template>
  <div class="buying-page">
    <div class="buying-filter" id="buyingFilter">
      <div class="filter-item">
        <div class="filter-label">求购地区：</div>
        <a-select
          allow-clear
          @change="selectArea"
          style="width: 305px"
          :getPopupContainer="getPopupContainer"
          v-model="area"
          placeholder="请选择查询区域"
        >
          <a-option
            v-for="item in areaOptions"
            :key="item.value"
            :value="item.value"
            :disabled="item.disabled"
            >{{ item.label }}</a-option
          >
        </a-select>
      </div>
      <div class="filter-item">
        <div class="filter-label">资质：</div>
        <tree-checkbox-single-select
          v-model="qualifications"
          class="auto-width"
          containerId="buyingFilter"
          :designQualificationOptions="designQualificationOptions"
          :fakeQualification="fakeQualification"
          :qualificationOptions="qualificationOptions"
        ></tree-checkbox-single-select>
        <!-- <a-tree-select
          :getPopupContainer="getPopupContainer"
          @change="selectQualification"
          v-model="qualifications"
          :treeDefaultExpandedKeys="defaultExpend"
          :treeExpandedKeys="defaultExpend"
          allow-clear
          showSearch
          class="auto-width"
          treeNodeFilterProp="label"
          treeNodeLabelProp="label"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          placeholder="请输入选择资质"
        >
          <a-tree-select-node
            v-for="qua in qualificationOptions"
            :key="qua.key"
            :value="qua.value"
            :selectable="false"
            :checkable="false"
            :label="qua.label"
            :title="qua.title"
          >
            <a-tree-select-node
              v-for="children in qua.children"
              :key="children.key"
              :value="children.value"
              :disabled="children.disabled"
              :label="children.label"
              :title="children.title"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select> -->
      </div>
      <div class="filter-item">
        <a-button class="large-button" @click="clickFindBtn" type="primary"
          >查询</a-button
        >
        <a-button class="large-button" @click="e => reSetFilter(false)"
          >重置</a-button
        >
        <a-button
          @click="goToBuyQualification"
          class="large-button rt-abs-button"
          >我要求购资源</a-button
        >
      </div>
    </div>
    <div class="table-content">
      <!--<div class="table-operate">
     <div class="free-text" v-if="freeCount >= 0">
          免费查看电话使用次数剩余：{{ freeCount }}次
        </div>
        <a-button @click="goToMyBuying" class="add-btn specical-btn"
          >我的求购</a-button
        > 
      </div>-->
      <div class="buy-tools">
        <div class=" text-textLight">
          小牛建讯为您查询出
          <span class=" text-textPrimary">{{ total }}</span>
          个符合条件的求购信息
        </div>
        <div class="sort-tool">
          <div
            class="tools"
            @click="changeSortRule(0)"
            :class="{ selected: sortIndex === 0 }"
          >
            默认排序
          </div>
          <div class="dividing-line"></div>
          <div
            class="tools"
            @click="changeSortRule(1)"
            :class="{ selected: sortIndex === 1 }"
          >
            最新
          </div>
        </div>
      </div>
      <hr class="line" />
      <div class="table-list">
        <div class="loading" v-show="dataLoading">
          <a-spin size="large" tip="加载中......" />
        </div>
        <div v-if="tableData.length" style="min-height:200px">
          <div v-if="tableData[0].qualification">
            <table-item
              @refreshList="getBuyingList"
              :freeCount="freeCount"
              v-for="(row, index) in tableData"
              :key="index"
              :index="index"
              :row="row"
            ></table-item>
          </div>
          <div class="table-pagination">
            <a-pagination
              v-model="pageNum"
              @change="tableChange"
              @showSizeChange="tableChange"
              :showSizeChanger="false"
              :showQuickJumper="true"
              :pageSize.sync="pageSize"
              :total="total"
            ></a-pagination>
            <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
          </div>
        </div>
        <div class="no-data" v-else>
          <div class="block-content">
            <div class="block-title">没有您想要的求购信息?</div>
            <div class="block-tips">
              转让资质，就找小牛建讯，快速对接需求方，安全可靠
            </div>
            <div class="block-btns">
              <div class="speed ">
                <a-button class="btn" size="large" @click="fastSend"
                  >快速发布</a-button
                >
                <div class="tips">只需一步，买家找上门</div>
              </div>
              <div class="excellent ">
                <a-button
                  type="primary"
                  @click="goToExcellentShare"
                  class="btn"
                  size="large"
                  >优选发布
                </a-button>
              </div>
            </div>
          </div>
        </div>
        <!-- <block-data
          :titleText="''"
          :text="isAdmin ? '暂无满足条件的求购需求！' : ''"
          :imageSrc="notFind"
          v-else
        >
          <template slot="btSlot">
            <a-button
              v-if="isAdmin"
              @click="goToEditMyBuying"
              class="add-btn specical-btn"
            >
              去发布
            </a-button>
          </template>
        </block-data> -->
        <!-- <div class="tips">
          求购资源数据说明<br />
          1. “求购资源”
          列表中展示的电话号码均已短信验证，确保电话号码真实有效。<br />
          2. “求购资源”
          列表中展示的求购信息均为用户根据实际需求发布，数据真实准确性高。
        </div> -->
      </div>
    </div>
    <qr-bottom></qr-bottom>

    <!-- <div
      class="process"
      :style="'background-image:url(' + processBg + ')'"
    ></div> -->
  </div>
</template>

<script>
import { TreeSelect, Drawer, Pagination, Select, Spin } from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'
import qrModal from '@/components/qrCode.vue'
import { userModule } from '@/store/modules/user'
import notFind from '@/assets/image/no_data_block.png'
import TableItem from './TableItem'
import processBg from '@/assets/image/qr/process.png'
import TreeCheckboxSingleSelect from '@/components/TreeCheckboxSingleSelect.vue'
import { universalModule } from '@/store/modules/universal'
import qrBottom from '../Bottom.vue'
import { areaJSON } from '@/utils/area'

export default {
  name: 'buy-qualication',
  components: {
    qrBottom,
    TableItem,
    blockData,
    qrModal,
    aPagination: Pagination,
    aDrawer: Drawer,
    aSpin: Spin,
    aSelect: Select,
    aOption: Select.Option,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    TreeCheckboxSingleSelect
  },
  data() {
    return {
      dataLoading: false,
      sortIndex: 0,
      condition: null,
      qualificationIds: [],
      pageSize: 10,
      pageNum: 1,
      total: 0,
      tableData: [{}],
      notFind,
      freeCount: 0,
      // qualificationOptions: [],
      // fakeQualification: [],
      areaOptions: [],
      qualifications: undefined,
      defaultExpend: [],
      area: undefined,
      areaData: [],
      areaCode: '',
      lastFilterSave: null,
      haveMyBuyData: false,
      processBg
    }
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    },
    designQualificationOptions() {
      return universalModule.designQualificationOptions
    }
  },
  methods: {
    goToBuyQualification() {
      this.$router.push({
        name: 'editBuyingInfo'
      })
    },
    goToExcellentShare() {
      this.$router.push({
        name: 'excellentShare',
        query: {
          channel: '1',
          isEdit: 1
        }
      })
    },
    fastSend() {
      this.$emit('fastSend')
    },
    changeSortRule(index) {
      this.sortIndex = index
      this.getBuyingList()
    },
    getPopupContainer() {
      return document.getElementById('buyingFilter')
    },
    clickFindBtn() {
      this.pageSize = 10
      this.pageNum = 1
      this.getBuyingList()
      // pageSize: this.pageSize,
      // this.setFilterToServer()
    },
    setFilterToServer() {
      if (!this.qualifications && !this.area) {
        this.$message.warning('请选择筛选条件后再查询!')
        return
      }

      const params = {
        filterCondition: JSON.stringify({
          area: this.area,
          qualifications: this.qualifications
        }),
        companyId: userModule.companyId || 1, // todo:测试数据
        saveUserName: userModule.name,
        saveUserId: userModule.userId,
        conditionName: userModule.name + '共享数据'
      }
      if (this.lastFilterSave) {
        params.id = this.lastFilterSave.id
        this.$httpRequester
          .put('filter/buy/updateConditionByPage', params)
          .then(() => {
            console.log('更新成功')
          })
      } else {
        this.$httpRequester
          .post('filter/buy/saveConditionByPage', params)
          .then(() => {
            console.log('保存成功')
          })
      }
      this.areaCode = this.area
      this.getBuyingList()
    },
    reSetFilter() {
      this.qualifications = undefined
      this.areaCode = []
      this.area = 'none'
    },
    tableChange(pageNum, pageSize) {
      this.pageSize = pageSize
      this.pageNum = pageNum
      this.$emit('goBackToTop')
      this.getBuyingList()
    },
    selectQualification(item) {
      console.log(item)
    },
    selectArea() {},
    goToMyBuying() {
      if (this.haveMyBuyData) {
        this.$router.push({
          name: 'myBuying'
        })
      } else {
        this.$router.push({
          name: 'editBuyingInfo',
          query: {
            isFromTable: 1
          }
        })
      }
    },
    goToEditMyBuying() {
      this.$router.push({
        name: 'editBuyingInfo',
        query: {
          isFromTable: 1
        }
      })
    },
    getTypeQualifications() {
      this.qualificationOptions = []
      this.$httpRequester
        .get('qualification/selQualificationAllByType')
        .then(r => {
          const qualificationOptions = r.map((e, i) => {
            return {
              title: e.qualificationType,
              key: i,
              isExpend: i === 0,
              children: e.qualificationList.map(q => {
                return {
                  title: q.qualificationName,
                  key: q.qualificationName,
                  // checkable: true,
                  children: q.qualificationLevels.map(level => {
                    return {
                      id: level.id,
                      title: level.level,
                      disabled: false
                    }
                  }),
                  value: []
                }
              })
            }
          })
          this.qualificationOptions = this.$deepCopy(qualificationOptions)
          // this.getQualificationOptions()
          // const typeList = this.$deepCopy(tqualificationOptions)
          userModule.setQualificationTypeList(qualificationOptions)
          // this.getFilterGroup() // 先拉取选项再进行赋值
        })
    },
    getQalicationList() {
      // 获取资质列表
      this.fakeQualification = []
      this.$httpRequester.get('qualification/selQualificationAll').then(r => {
        r.forEach(e => {
          e.qualificationLevels.forEach(q => {
            this.fakeQualification.push({
              label: e.qualificationName + q.level,
              value: q.id
            })
          })
        })
        const typeList = this.$deepCopy(this.fakeQualification)
        userModule.setFakeQualificationList(typeList)
        this.getTypeQualifications()
        //  this.getFilterGroup() // 先拉取选项再进行赋值
      })
    },
    getFilterCondition() {
      this.$httpRequester
        .get('filter/buy/queryConditionByPage', {
          pages: 1,
          rows: 1,
          sortBy: 'saveTime',
          desc: true,
          userId: userModule.userId,
          companyId: userModule.companyId
        })
        .then(res => {
          this.condition = res.records[0] || null
          this.getAreaOptions()
        })
    },
    getAreaOptions() {
      const r = areaJSON
      // this.$httpRequester.get('regionCode/selList').then(r => {
      this.areaOptions = []
      this.areaData = r
      const gangAoTai = [810000, 820000, 710000]
      // 去除港澳台
      r.forEach(option => {
        if (gangAoTai.includes(option.areaCode)) {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: true
          })
        } else {
          this.areaOptions.push({
            label: option.areaName,
            value: option.areaCode,
            disabled: false
          })
        }
      })
      this.areaOptions.unshift({
        label: '不限',
        value: 'none'
      })
      this.area = 'none'
      // if (!this.condition) {
      //   const userArea = userModule.useAreaName.split('/')
      //   const findProvince = r.find((e) => {
      //     return e.areaName === userArea[0]
      //   }) // 找到省份
      //   // console.log(findProvince)
      //   if (findProvince) {
      //     this.area = parseInt(findProvince.areaCode, 10)
      //   }
      // } else {
      //   const filter = JSON.parse(this.condition.filterCondition)
      //   if (filter.area) {
      //     this.area =
      //       filter.area !== 'none' ? parseInt(filter.area, 10) : 'none'
      //   } else {
      //     this.arae === undefined
      //   }

      //   this.qualifications = filter.qualifications || null
      // }
      // const p = new Promise((resolve) => {
      //   this.selectArea(this.area)
      //   resolve(this.areaCode)
      // })
      //  this.areaCode = this.area
      //  this.getBuyingList()
      // p.then(() => {
      //   this.getBuyingList()
      // })
      // })
    },
    setDefaultExpendKey() {
      this.qualificationOptions.forEach(e => {
        this.defaultExpend.push(e.key)
      })
    },
    getBuyingList() {
      this.dataLoading = true
      const params = {
        areaCode: typeof this.area === 'number' ? [this.area] : [],
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        newestSort: this.sortIndex === 1, // 是否最新
        qualificationIds: this.qualifications ? [this.qualifications] : []
      }
      this.$httpRequester.post('buy/buyResourcesList', params).then(res => {
        res.data.forEach(e => {
          e.contactsPhoneText =
            '<span ondblclick="copyThisText(' +
            e.contactsPhone +
            ')">' +
            e.contactsPhone +
            '</span>'
        })
        this.dataLoading = false
        this.tableData = res.data
        this.total = res.totalSize
        this.getFreeWatchCount()
      })
    },
    getFreeWatchCount() {
      this.$httpRequester.get('free/count/queryBuyCheckCount').then(res => {
        // console.log(res)
        this.freeCount = res ? res.freeCount : 0
      })
    },
    getMyBuyingList() {
      this.$httpRequester.post('buy/myBuyResourcesList').then(res => {
        //  console.log(res)
        this.haveMyBuyData = !!res.length
      })
    }
  },
  mounted() {
    // if (userModule.qualificationTreeList.length) {
    //   this.qualificationOptions = userModule.qualificationTreeList
    //   this.setDefaultExpendKey()
    // } else {
    //   this.getQalicationList()
    // }
    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      universalModule.getTypeQualification()
      universalModule.getQualification()
    }
    // this.getQalicationList()
    this.getAreaOptions()
    // this.getFilterCondition()
    // this.$nextTick(() => {
    if (this.isAdmin) {
      this.getMyBuyingList()
    }
    this.getBuyingList()
    // this.getBuyingList()
    //   // const dom = document.getElementById('areaTree')
    //   // const areaTreeInput = dom.getElementsByTagName('input')[0]
    //   // const areaTreeFather = areaTreeInput.parentElement
    //   // areaTreeFather.removeChild(areaTreeInput)
    // //   this.getFilterCondition()
    // this.getFreeWatchCount()
    //   // this.getAreaOptions()
    // })
  }
}
</script>

<style lang="scss" scoped>
.buying-page {
  .buying-filter {
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 24px 24px 8px 24px;
    position: relative;
    .search-title {
      color: #909399;
      font-size: 16px;
    }

    .filter-item {
      display: flex;
      width: 100%;
      position: relative;
      margin-bottom: 16px;
      align-items: center;
      flex-shrink: 0;
      .filter-label {
        font-size: 14px;
        color: #282828;
        width: 80px;
      }
      .long-label {
        width: 100px;
      }
      .filter-search {
        width: 306px;
        margin-right: 24px;
      }
      .auto-width {
        flex-grow: 0;
        margin-right: 24px;
        min-width: 306px;
        //  max-width: calc(100% - 330px);
      }
      .large-button {
        width: 88px;
        margin-right: 16px;
      }
      .rt-abs-button {
        position: absolute;
        right: 0px;
        width: 116px;
      }
    }
  }
  .line {
    width: 100%;
    margin: 0;
    border-right: none;
    border-left: none;
    border-bottom: 0;
    margin-top: 15px;
    height: 1px;
    border-top: solid 1px #f2f6f8;
  }

  .buy-tools {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .sort-tool {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 110px;
      .dividing-line {
        height: 15px;
        background-color: #a0a6ab;
        width: 1px;
      }
      .tools {
        cursor: pointer;
        &:hover {
          color: #00ab94;
        }
      }
      .selected {
        color: #00ab94;
      }
    }
  }
  .table-operate {
    margin-top: 10px;
    padding: 10px 21px;
    border: solid 1px #f2f6f8;
    background-color: #f2f6f8;
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    .add-btn {
      position: absolute;
      right: 21px;
    }
  }
  .table-list {
    .table-pagination {
      margin-top: 10px;
      width: 100%;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .no-data {
    height: 400px;
    width: 100%;
    position: relative;
    .block-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 700px;
      height: 350px;
      border-radius: 6px;
      border: 1px solid #ccc;
      .block-title {
        font-size: 19px;
        color: #333;
        margin-top: 80px;
        text-align: center;
        font-weight: bold;
      }
      .block-tips {
        margin-top: 30px;
        font-size: 14px;
        text-align: center;
      }
      .block-btns {
        margin-top: 30px;
        display: flex;
        align-items: top;
        justify-content: center;
        text-align: center;
        .btn {
          margin: 0 15px;
          width: 120px;
        }
        // text-align: center;
      }
    }
  }
  .process {
    width: 100%;
    background-size: cover;
    height: 148px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
</style>
