<template>
  <div class="my-buying">
    <div class="second-title">
      <p class="isActive">我的求购</p>
      <a-button @click="goBackBuyingList" class="back-btns"
        >返回求购资源
      </a-button>
    </div>
    <div class="history-table" v-if="tableData.length">
      <div class="table-operate">
        <a-button
          @click="goToEditBuyingInfo"
          class="have-rt-margin"
          type="primary"
        >
          发布求购信息
        </a-button>
        <div class="tips" v-if="freeCount >= 0">
          求购剩余上架次数: {{ freeCount }}次
        </div>
      </div>
      <a-table
        rowKey="id"
        class="table"
        :columns="columns"
        :dataSource="tableData"
        bordered
      >
        <template slot="operate" slot-scope="item">
          <operate-column
            :btns="item.enable ? notBtns : btns"
            :info="item"
          ></operate-column>
        </template>
      </a-table>
    </div>
    <block-data
      v-else
      :titleText="''"
      :text="'您还没有发布过求购信息，去发布求购，小牛帮你快速寻找~'"
      :imageWidth="''"
      :imageHeight="440"
      :imageSrc="notFind"
    >
      <template slot="btSlot">
        <a-button @click="goToEditBuyingInfo">发布求购信息</a-button>
      </template>
    </block-data>
  </div>
</template>

<script>
import { Modal, Table } from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'

import notFind from '@/assets/image/no_data_block.png'
import Operate from '@/components/Operate.vue'
import { detailModule } from '@/store/modules/detail'

export default {
  name: 'my-buying',
  components: {
    blockData,
    aTable: Table,
    OperateColumn: Operate
  },
  data() {
    return {
      notFind,
      freeCount: 0,
      tableData: [],
      btns: [
        {
          label: '上架',
          type: 'primary',
          click: this.releaseItem.bind(this)
        },
        {
          label: '编辑',
          click: this.editItem.bind(this)
        }
      ],
      notBtns: [
        {
          label: '取消上架',
          type: 'link',
          click: this.notReleaseItem.bind(this)
        }
      ],
      columns: [
        { title: '资质类别及等级', dataIndex: 'qualification' },
        { title: '联系人', dataIndex: 'contactsPerson' },
        { title: '联系电话', dataIndex: 'contactsPhone', width: 120 },
        { title: '求购地区', dataIndex: 'wantAreaName', width: 100 },
        { title: '落地地区', dataIndex: 'destinationAreaName', width: 100 },
        { title: '操作时间', dataIndex: 'releaseTime', width: 110 },
        { title: '有效期至', dataIndex: 'validDateText', width: 110 },
        {
          title: '操作',
          width: 150,
          scopedSlots: { customRender: 'operate' }
        }
      ]
    }
  },
  methods: {
    notReleaseItem(item) {
      Modal.confirm({
        title: '温馨提示',
        content: `确认取消上架“${item.qualification},求购地区${item.wantAreaName}，落地地区${item.destinationAreaName}”这条求购信息？`,
        onOk: () => {
          this.$httpRequester.get('buy', { id: item.id }).then(() => {
            this.$message.success('取消发布成功')
            this.getMyBuyingList()
          })
        },
        onCancel: () => {
          this.$message.info('操作取消')
        }
      })
    },
    releaseItem(item) {
      if (!item.validDate) {
        if (this.freeCount === 0) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )
          return
        }
      } else {
        const currentTime = new Date().getTime()
        const endTime = new Date(item.validDate).getTime()
        if (this.freeCount === 0 && currentTime > endTime) {
          this.$message.warning(
            '您的免费次数已使用完毕，请联系客服人员增加次数'
          )
          return
        }
      }

      Modal.confirm({
        title: '温馨提示',
        content: `确认发布上架“${item.qualification},求购地区${item.wantAreaName}，落地地区${item.destinationAreaName}”这条求购信息？`,
        onOk: () => {
          this.$httpRequester.get('buy', { id: item.id }).then(() => {
            this.$message.success('发布成功')
            this.getMyBuyingList()
          })
        },
        onCancel: () => {
          this.$message.info('操作取消')
        }
      })
    },
    editItem(item) {
      localStorage.removeItem('buyingItem')
      localStorage.setItem('buyingItem', JSON.stringify(item))
      this.$router.push({
        name: 'editBuyingInfo',
        query: {
          isEdit: 1
        }
      })
    },
    goToEditBuyingInfo() {
      this.$router.push({
        name: 'editBuyingInfo'
      })
    },
    goBackBuyingList() {
      this.$router.push({
        name: 'buying'
      })
    },
    getMyBuyingList() {
      this.$httpRequester.post('buy/myBuyResourcesList').then(res => {
        res.forEach(e => {
          e.wantAreaName = e.wantAreaName || '不限'
          e.destinationAreaName = e.destinationAreaName || '不限'
          e.validDateText = e.validDate || '---'
        })
        this.tableData = res
        this.getUserBuyCount()
      })
    },

    getUserBuyCount() {
      this.$httpRequester.get('free/count/queryBuyAddCount').then(res => {
        // console.log(res)
        this.freeCount = res ? res.freeCount : 0
      })
    }
  },

  mounted() {
    this.getMyBuyingList()
    //   this.getUserBuyCount()
  }
}
</script>

<style lang="less" scoped>
.my-buying {
  height: 100%;
  background-color: #ffffff !important;
  padding-bottom: 40px !important;
  .history-table {
    padding: 24px 34px;
    .table-operate {
      display: flex;
      align-items: flex-end;
    }
    .table {
      margin-top: 20px;
    }
  }
  .back-btns {
    position: absolute;
    right: 34px;
  }
}
</style>
