<template>
  <div class="buying-table-item">
    <div class="lf">
      <div class="is-new" v-if="row.freshResources">新上架</div>
      <div class="qua-image" :style="'background-image:url(' + qrBg + ')'">
        <!-- <p>{{ index + 1 }}</p> -->
      </div>
      <div class="info">
        <div class="qualification">{{ row.qualification }}</div>
        <div class="other">
          <div class="area-date">
            求购地区：{{ row.wantAreaName || '不限' }}
          </div>
          <div class="area-date">
            落地地区：{{ row.destinationAreaName || '不限' }}
          </div>
          <div class="area-date">发布时间：{{ row.releaseTime }}</div>
          <div class="flex justify-between items-center">
            <div class="contact">
              <span class="mr-[16px] line">
                联系人：{{ row.checkState ? row.contactsPerson : '***' }}
              </span>
              <a-tooltip
                v-if="row.checkState"
                title="双击可复制电话号码"
                trigger="hover"
              >
                <span class="point-phone"
                  >电话：
                  <span
                    @dblclick="dblCopy"
                    class=" text-textPrimary"
                    v-html="row.contactsPhoneText"
                  ></span
                ></span>
              </a-tooltip>
              <span class="phone line" v-else>电话：***********</span>
            </div>
            <div class="flex items-center">
              <div class="text-textTip mr-[8px]">
                手机号经短信校验属实
              </div>
              <a-button
                @click="watchThisPhone"
                class="btns"
                size="small"
                :disable="row.checkState"
                type="primary"
                >查看电话</a-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'
import { Tooltip } from 'ant-design-vue'
import qrBg from '@/assets/image/qr/qr_bg.png'

export default {
  name: 'table-item',
  components: {
    aTooltip: Tooltip
  },
  computed: {
    isAdmin() {
      return userModule.roleLevel === 2
    }
  },
  props: {
    freeCount: {
      type: Number,
      default: 0
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    },
    index: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      qrBg
    }
  },
  methods: {
    dblCopy() {
      this.$message.success('电话号码已复制到粘贴板')
    },
    watchThisPhone() {
      // if (this.freeCount === 0) {
      //   this.$message.warning('您的免费次数已使用完毕，请联系客服人员增加次数')
      //   return
      // }
      this.$httpRequester
        .get('buy/viewContactInfo', { id: this.row.id })
        .then(() => {
          this.$emit('refreshList')
        })
        .catch(err => {
          if (err.code === '5010') {
            this.$message.warn('出售与求购相关使用次数已用完')
            // detailModule.setWatchPhoneModalShow(true)
          } else if (err.code === '5013') {
            detailModule.setGoToVipModalShow(true)
            // detailModule.setWatchPhoneModalShow(true)
          }
        })
    }
  }
}
</script>
<style lang="scss" scoped>
.buying-table-item {
  height: 192px;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid 1px #f2f6f8;
  border-left: solid 1px #f2f6f8;
  border-right: solid 1px #f2f6f8;
  .lf {
    position: relative;
    align-items: flex-start;
    display: flex;
    width: 100%;
    .is-new {
      width: 52px;
      font-size: 12px;
      height: 22px;
      background-color: #00bc87;
      text-align: center;
      line-height: 22px;
      color: #fff;
      position: absolute;
      left: -24px;
      top: -24px;
      z-index: 100;
    }
    .qua-image {
      z-index: 99;
      width: 104px;
      height: 144px;
      // background-color: #00ab94;
      position: relative;
      margin-right: 20px;
      overflow: hidden;
      border-radius: 3px;
      flex-shrink: 0;
      flex-grow: 0;
      background-size: contain;
      // .image {
      //   width: 175px;
      //   height: 218px;
      //   background-size: cover;
      //   position: absolute;
      //   right: -65px;
      //   bottom: -70px;
      // }
    }
    .info {
      flex-grow: 1;
      .qualification {
        font-size: 16px;
        color: #282828;
        position: relative;
        display: flex;
        font-weight: 500;
        align-items: center;
        //   cursor: pointer;
        margin-bottom: 16px;
      }
      .area-date {
        font-size: 13px;
        margin-bottom: 4px;
        color: #686868;
      }
    }
  }
  .rt {
    .line {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .btns {
      text-align: right;
      width: 70px;
      margin-bottom: 8px;
    }
    .phone-tips {
      font-size: 12px;
      color: #686868;
    }
  }
}
</style>
