<template>
  <div class="mine-client-page">
    <div class="filter-box">
      <div class="filter-title">消息中心</div>
      <div class="filter-list">
        <div class="filter-item">
          <div class="label-title">消息类型：</div>
          <a-button
              v-for="(item, index) in typeBtns"
              :key="index"
              :class="{ isSelect: noticeType === item.value }"
              class="filter-btn have-margin"
              @click="setStatus(item.value)"
          >{{ item.title }}
          </a-button
          >
        </div>
        <div class="filter-item">
          <div class="label-title">发送时间：</div>
          <a-date-range
              v-model="dateRanger"
              :disabled-date="disabledEndDate"
              :placeholder="['请选择发送时间', '请选择发送时间']"
              class="filter-input"
              @change="selectDateRange"

          >
            <a-icon slot="suffixIcon" type="calendar"/>
          </a-date-range>
        </div>
      </div>
      <div class="operate-btns">
        <a-button class="btns rt" type="primary" @click="getMessageList"
        >查询
        </a-button
        >
        <a-button class="btns" @click="renewFilter">重置</a-button>
      </div>
    </div>
    <div class="fenge"></div>
    <div class="table-content">
      <div class="table-btns">
        <div class="floatRight">
          <a-button class="btn rt" @click="readAllMessage">全部已读</a-button>
          <a-button class="btn" @click="getMessageList">刷新</a-button>
        </div>
      </div>
      <a-table
          :columns="columns"
          :data-source="tableData"
          :pagination="false"
          rowKey="id"
          bordered
      >
        <template slot="readStatus" slot-scope="text, item">
          <div class="readStatus">
            <div
                :class="{ isRead: item.readStatus, noRead: !item.readStatus }"
                class="status-tag"
            >
              {{ text }}
            </div>
          </div>
        </template>
        <template slot="download" slot-scope="text, item">
          <a
              v-for="(link, index) in item.downloadFiles"
              :key="index"
              class="file-item"
              @click="previewOrDownloadFile(link)"
          >
            <a-icon :type="link.icon"/>
            {{ link.title }}
          </a>
        </template>
        <template slot="detail" slot-scope="text">
          <div class="mini-content" v-html="text"></div>
        </template>
        <template slot="operate" slot-scope="item" >
          <div  class="btn">
            <a-button @click="noticeDetailDisplay(item)" type="link"
            >查看详情</a-button
            >
          </div>

<!--            <operate :btns="btns" :info="item"></operate>-->
        </template>
        <!-- <template slot="phoneList" slot-scope="text,item">
          <a-popover v-if="item.phoneList.length > 1" trigger="hover">
            <div class="popover-title" slot="title">联系电话</div>
            <template slot="content">{{item.phoneListText}}</template>
            {{text}}
          </a-popover>
          <div v-else>{{text}}</div>
        </template>-->
      </a-table>
      <div class="card-pagination">
        <a-pagination
            v-model="pageNum"
            :hideOnSinglePage="true"
            :showTotal="
              () => {
                return false
              }
            "
            @change="changePageNum"
            :showQuickJumper="true"
            :pageSize.sync="pageSize"
            :total="total"
        ></a-pagination>
        <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
      </div>

    </div>
    <a-modal
        v-model="showDetail"
        title="公告详情"
        width="448px"
        @cancel="closeMessgeModal"
        @ok="closeMessgeModal"
    >
      <div class="message-modal-title">{{ modalTitle }}</div>
      <div class="message-modal-time">
        {{ time }}
      </div>
      <div
          class="message-modal-detail"
          @click="clickMessageDetail"
          v-html="detail"
      ></div>
      <div v-if="downloadFiles.length > 1" style="display: flex;">
        <div style="margin-right: 5px;">附:</div>
        <div>
          <p
              v-for="(item, index) in downloadFiles"
              :key="index + 'rrr'"
              style="cursor: pointer;"
              @click="previewOrDownloadFile(item)"
          >
            {{ item.url }}
          </p>
        </div>
      </div>

      <template slot="footer">
        <a-button key="back" style="right: 5px;" @click="closeMessgeModal">取消</a-button>
        <a-button key="back" style="right: 5px;" type="primary" @click="closeMessgeModal">确定</a-button>
      </template>
    </a-modal>
  </div>
</template>

<script lang="ts" src="./Index.ts"></script>

<style lang="scss" scoped>

.btn{
  text-align: left;
   ::v-deep .ant-btn{
    padding: 0;

  }
}
.card-pagination {
  width: 100%;
  // text-align: right;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .fake-btn {
    margin-left: 8px;
  }
}
::v-deep .ant-table-thead > tr > th {
  height: 46px;
  text-align: center;
  background-color: #F2F6F8;
  border: none;
}
::v-deep .ant-table-tbody>tr>td{
  padding: 0 16px;
  height: 22px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}


.mine-client-page {
  position: relative;

  .filter-box {
    width: 100%;
    border-radius: 4px;
    padding: 24px;

    .filter-title {
      font-size: 16px;
      font-weight: 500;
      color: #282828;
      line-height: 22px;
      margin-bottom: 29px;
    }


    .filter-list {
      width: 100%;

      .filter-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 24px;


        .label-title {
          width: 70px;
          height: 22px;
          font-size: 14px;
          font-weight: 400;
          color: #282828;
          line-height: 22px;
          font-family: PingFangSC-Regular, PingFang SC;
        }

        .filter-input {
          width: 306px;
        }

        .filter-btn {
          width: 86px;
          height: 36px;
          line-height: 36px;
        }

        .isSelect {
          background-color: rgba($color: #FFFFFF, $alpha: 1);
          color: #00AB94;
          border-radius: 2px;
          border: 1px solid #00AB94;
        }

        .have-margin {
          margin-right: 24px;
        }
      }
    }

    .operate-btns {

      .btns {
        height: 40px;
        width: 102px;
        line-height: 40px;

      }

      .rt {
        margin-right: 24px;
      }
    }
  }

  .fenge {
    height: 16px;
    width: 100%;
    background-color: #F2F6F8;

  }

  .table-content {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 4px;

    .mini-content {
      width: 450px;
      text-align: center;
      height: 46px;
      line-height: 46px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
     ::v-deep  p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

      }
    }
    .readStatus{
      width: 100%;
      display: flex;
      align-items: center;
      .status-tag {
        width: 40px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        border-radius: 2px;
        margin: 0;
      }
    }

    .noRead {

      background: #FFFBF8;
      color:#FF7F28;
      text-align: center;
      border: 1px solid #FF7F28;
    }

    .isRead {

      background: #F4FFFE;
      text-align: center;
      border: 1px solid #00AB94;
      color: #00AB94;
    }

    .table-btns {
      width: 100%;
      height: 50px;

      .floatRight {
        float: right;
        z-index: 999;

        .ant-btn {
          color: #00AB94;
          border-color: #00AB94;
        }
      }

    }

    .rt {
      margin-right: 24px;
    }

    .file-item {
      display: block;
      margin-top: 5px;
    }
  }
}
</style>
