<template>
  <div class="use-password">
    <a-form-model
      ref="loginForm"
      :model="formData"
      :rules="loginRules"
      class="form-box"
    >
      <a-form-model-item prop="account">
        <div class="form-input">
          <div class="input-main">
            <!--            <a-icon slot="prefix" class="iconColor" type="user" />-->
            <input
              v-model="formData.account"
              placeholder="请输入手机号"
              @blur="accountBlur(formData.account)"
              @input="changeAccount"
            />
          </div>
          <div v-if="accountShow" class="error-explain">
            请输入正确的手机号码
          </div>
        </div>
      </a-form-model-item>
      <a-form-model-item prop="password">
        <div class="form-input">
          <div class="input-main">
            <!--            <a-icon slot="prefix" class="iconColor" type="unlock" />-->
            <input
              v-model="formData.password"
              name="password"
              onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[\u4E00-\u9FA5]/g,''))"
              onkeyup="value=value.replace(/[\u4E00-\u9FA5]/g,'')"
              placeholder="请输入密码"
              type="password"
              @blur="passwordBlur(formData.password)"
              @input="changePassword"
            />
          </div>
          <div v-if="passwordShow" class="error-explain">
            请输入您的密码
          </div>
        </div>
      </a-form-model-item>
      <a-form-model-item prop="verifyCode">
        <div class="verifycode-input">
          <div class="form-code-input">
            <div class="form-code-input-main">
              <!--              <a-icon-->
              <!--                slot="prefix"-->
              <!--                class="iconColor"-->
              <!--                type="safety-certificate"-->
              <!--              />-->
              <input v-model="formData.verifyCode" placeholder="请输入验证码" />
            </div>
          </div>
          <div class="code-image" @click="randomIdentifyCode">
            <verify-image
              :contentHeight="32"
              :contentWidth="90"
              :identifyCode="identifyCode"
            ></verify-image>
          </div>
          <a-button size="small" type="link" @click="randomIdentifyCode">
            <span class="changeIdentifyCode">换一张</span>
          </a-button>
        </div>
      </a-form-model-item>
    </a-form-model>
    <div class="customer-bt">
      <div class="cursor-pointer" @click="changePwdRememberStatus">
        <img
          width="16px"
          class="mr-[6px]"
          :src="rememberPwdCheckPng"
          v-if="rememberPwd"
        />
        <img
          width="16px"
          class="mr-[6px]"
          :src="rememberPwdNoCheckPng"
          v-else
        />
        <span>记住密码</span>
      </div>
      <div class="customer-right">
        <a @click="goToFindPassword">
          忘记密码？
        </a>
        <p class="line"></p>
        <a @click="goToFindRegister">注册</a>
      </div>
    </div>

    <a-button
      block
      class="login-bt"
      htmlType="submit"
      type="primary"
      @click="beforeLogin"
      >同意协议并登录
    </a-button>
    <div class="user-service">
      查看<a @click="showUserService">《小牛用户协议》</a>
    </div>
    <a-modal
      title="小牛建讯用户协议"
      :visible="agreement"
      @ok="() => closeModal()"
      @cancel="() => closeModal()"
    >
      <user-service-text></user-service-text>
      <div slot="footer">
        <a-button @click="closeModal()"> 确认</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>
import { JSEncrypt } from 'jsencrypt'
import { FormModel, Input, Checkbox } from 'ant-design-vue'
import verifyImage from '@/components/VerifyImage.vue'
import userServiceText from '@/components/userServiceText.vue'
import rememberPwdNoCheckPng from '@/assets/image/icon/remember_pwd_nocheck.png'
import rememberPwdCheckPng from '@/assets/image/icon/remember_pwd_check.png'
import { detailModule } from '@/store/modules/detail'
import Cookie from 'js-cookie'

export default {
  name: 'password-login',
  components: {
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aInput: Input,
    aCheckbox: Checkbox,
    verifyImage,
    userServiceText
  },
  data() {
    return {
      rememberPwdCheckPng,
      rememberPwdNoCheckPng,
      agreement: false,
      loginRules: {
        verifyCode: [
          {
            validator: this.verifyCodevalidate,
            required: true,
            message: '请输入正确的验证码',
            trigger: 'blur'
          }
        ]
      },
      formData: {
        password: '',
        account: '',
        verifyCode: ''
      },
      accountShow: false,
      passwordShow: false,
      identifyCode: '',
      rememberPwd: false,
      alphaBet: [
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9',
        'A',
        'B',
        'C',
        'D',
        'E',
        'F',
        'G',
        'H',
        'J',
        'K',
        'L',
        'M',
        'N',
        'P',
        'Q',
        'R',
        'S',
        'T',
        'U',
        'V',
        'W',
        'X',
        'Y',
        'Z'
      ],
      publicKey:
        'MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoUSnVj2D7J0WECHHF/rrjbO/x692gNJUhtYD/6Te2NKOW+0Hjq5lkk6lz5zO80Bikv9aCk2bDTDkh2xuUugkP26d2ZYcQCKibc2+di1AX6M56IJlKdnyY5gXM+L5bv6urGfpLqf1X1XJNoJP+WAUliA5RtBI7S1f+4zwycmm86HQazPVsARQGX2Bm8fvxNMlYxRM5rSzrZjbCYwL70/KVpow5mXr/n9N+zk+WnkXWq8UlkBd2KS/bsQbXJ3my/fkk2nWOZvpEyBdekYykrv4iw9x/9v/4bloRJvy6+Dbb4TZo0TxsGEUHIhHJ8kQ5gKPih32TdCSPGyUwSgYcWLSHwIDAQAB',
      reallyPwd: ''
    }
  },
  props: {
    isFormLoginModal: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeModal() {
      this.agreement = false
    },
    showUserService() {
      // this.$refs.service.showModal()
      this.agreement = true
    },
    verifyCodevalidate(rule, value, callback) {
      if (value === '') {
        callback(new Error('请输入验证码'))
      } else if (
        value.toLocaleLowerCase() !== this.identifyCode.toLocaleLowerCase()
      ) {
        callback(new Error('请输入正确的验证码'))
      } else {
        this.$refs.loginForm.validateField('verifyCode')
        callback()
      }
    },
    beforeLogin() {
      this.accountBlur(this.formData.account.toString().trim())
      this.pwdVerification(this.reallyPwd, this.formData.password)
      const isRemember = localStorage.getItem('isRemember')
      this.$refs.loginForm.validate(valid => {
        if (valid && !this.passwordShow && !this.accountShow) {
          if (isRemember === '1') {
            // 判断有没有记住密码
            const params = {
              username: this.formData.account.toString().trim(), // 清除首尾空格
              password: this.reallyPwd,
              loginSource: 1
            }
            this.userLogin(params)
          } else {
            // this.getPublicKey().then(() => {
            // 没有重现获取key然后登录
            const params = {
              username: this.formData.account.toString().trim(), // 清除首尾空格
              password: this.setPasswordRSA(),
              loginSource: 1
            }
            const self = this
            this.$debounce(self.userLogin, params, 300)
            // this.userLogin(params)
            // })
          }
        } else {
          this.randomIdentifyCode()
          return false
        }
      })
      // console.log('ress')
    },
    userLogin(data) {
      const params = { ...data, rememberPwd: this.rememberPwd }
      this.$httpRequester
        .post('user/login', params, 'application/x-www-form-urlencoded')
        .then(r => {
          console.log(r)
          localStorage.setItem('userId', r.id)
          localStorage.setItem(r.id.toString(), r.todayFirst ? '1' : '0')
          this.$message.success('登录成功')
          Cookie.set('JSESSIONID', r.tokeId, { expires: 7 })
          Cookie.set('userId', r.id, { expires: 7 })

          if (params.rememberPwd) {
            // 记住密码
            localStorage.setItem('isRemember', params.rememberPwd ? '1' : '0')
            const userInfo = JSON.stringify(params)
            localStorage.setItem('loginInfo', userInfo)
          } else {
            // 不记住就删除cookie里面的
            localStorage.removeItem('isRemember')
            localStorage.removeItem('loginInfo')
          }
          setTimeout(() => {
            location.reload()
          }, 1000)
          clearInterval()

          // this.$router.push('./longna/receipt')
          // this.loginLoading = false
        })
        .catch(err => {
          if (err.code === '2005') {
            detailModule.setExpriedModalShow(true)
          }
          // this.loginLoading = false
          this.randomIdentifyCode()
        })
        .finally(() => {
          // this.loginLoading = false
        })
      // console.log(this.rememberPwd)
      // this.$emit('login',)
    },
    pwdVerification(reallyPwd, password) {
      const isRemember = localStorage.getItem('isRemember')
      if (isRemember === '1') {
        this.passwordBlur(reallyPwd)
      } else {
        this.passwordBlur(password)
      }
    },
    randomIdentifyCode() {
      const one = Math.floor(Math.random() * this.alphaBet.length)
      const two = Math.floor(Math.random() * this.alphaBet.length)
      const three = Math.floor(Math.random() * this.alphaBet.length)
      const four = Math.floor(Math.random() * this.alphaBet.length)
      this.identifyCode =
        this.alphaBet[one] +
        this.alphaBet[two] +
        this.alphaBet[three] +
        this.alphaBet[four]
    },
    changeAccount() {
      this.rememberPwd = false
      this.reallyPwd = ''
      this.formData.password = ''
      //  this.codeLoginData.verifycode = ''
      if (this.$refs.verifyInput) {
        this.$refs.verifyInput.clearValue()
      }
      this.clearCurrentCookie()
    },
    accountBlur(user) {
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      user = user.toString().trim()
      if (!isCellPhone.test(user)) {
        this.accountShow = true
      } else {
        this.accountShow = false
      }
    },
    changePassword() {
      this.rememberPwd = false
      this.clearCurrentCookie()
      this.reallyPwd = ''
    },
    clearCurrentCookie() {
      localStorage.removeItem('loginInfo')
      localStorage.removeItem('isRemember')
      localStorage.removeItem('JSESSIONID')
    },
    passwordBlur(pwd) {
      if (pwd) {
        this.passwordShow = false
      } else {
        this.passwordShow = true
      }
    },
    goToFindPassword() {
      if (this.isFormLoginModal) {
        this.$emit('goToFindPassword')
      } else {
        this.$router.push({
          name: 'registered',
          query: { isFindPwd: '1' }
        })
      }
    },
    goToFindRegister() {
      if (this.isFormLoginModal) {
        this.$emit('goToFindRegister')
      } else {
        this.$router.push({
          name: 'registered'
        })
      }
    },
    changePwdRememberStatus() {
      this.rememberPwd = !this.rememberPwd
    },
    setPasswordRSA() {
      const encryptor = new JSEncrypt()
      // 设置公钥
      encryptor.setPublicKey(this.publicKey)
      // 加密数据
      return encryptor.encrypt(this.formData.password)
    }
  },
  mounted() {
    this.randomIdentifyCode()
    const isRemember = localStorage.getItem('isRemember')
    // Cookie.get('isRemember')
    if (isRemember === '1') {
      let loginInfo = localStorage.getItem('loginInfo')
      loginInfo = JSON.parse(loginInfo)
      this.formData.account = loginInfo.username
      this.formData.password = '**********'
      this.reallyPwd = loginInfo.password
      this.rememberPwd = true
    } else {
      localStorage.removeItem('loginInfo')
      localStorage.removeItem('isRemember')
      // Cookie.remove('loginInfo')
      // Cookie.remove('isRemember')
    }
    // localStorage.clear()
    //  Cookie.remove('JSESSIONID')
  }
}
</script>

<style lang="less">
.use-password {
  //padding-top: 20px;
  .error-explain {
    color: #f5222d;
    font-size: 12px;
    clear: both;
    line-height: 20px;
  }
  .form-input {
    background-color: transparent;
    outline: none;
    color: #282828;
    box-shadow: none;
    appearance: none;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    border: 1px solid #eff3f6;
    .input-main {
      display: flex;
      align-items: center;
      input {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
        width: 90%;
        height: 30px;
        padding-left: 8px;
        &:hover {
          background-color: transparent;
          border: 0;
          outline: none;
          box-shadow: none;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .iconColor {
    color: #ffffff;
    margin-left: 7px;
    margin-right: 7px;
  }
  .form-input /deep/ .ant-input {
    background-color: transparent;
    outline: none;
    border: 0;
    color: #fff;
    box-shadow: none;
    appearance: none;

    &:hover {
      background-color: transparent;
      border: 0;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .form-code-input {
    width: 154px;
    height: 32px;
    border: 1px solid #e5e7eb;
    line-height: 40px;
    border-radius: 2px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    // color: #ffffff;
    .form-code-input-main {
      display: flex;
      align-items: center;
      input {
        width: 75%;
        height: 32px;
        text-indent: 8px;

        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
        &:hover {
          background-color: transparent;
          border: 0;
          box-shadow: none;
          outline: none;
        }
        &:focus {

          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .verifycode-input {
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    justify-content: space-between;

    .code-image {
      width: 90px;
      height: 32px;
      margin-left: 8px;
      cursor: pointer;
      border-radius: 2px;
    }
    .changeIdentifyCode {
      font-size: 14px;
      font-weight: 400;
      color: #2194ff;
    }
  }

  .customer-bt {
    margin-top: -4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    font-size: 14px;
    color: #a0a6ab;
    .rememberPwd {
      color: #a0a6ab;
    }
    .customer-right {
      margin: 0;
      padding: 0;
      height: 16px !important;

      display: flex;
      align-items: center;
      .line {
        height: 16px;
        width: 1px;
        margin: 0 8px;
        background-color: #a0a6ab;
      }
    }
    .line {
      height: 16px;
      background: #a0a6ab;
      display: inline-block;
    }
  }
  .customer-bt /deep/ .ant-checkbox-inner {
    appearance: none;
    border: 2px solid #00ab94;
    background-color: transparent;
  }

  .login-bt {
    background-color: #00ab94;
    height: 40px;
    border: none;
    font-weight: bold;
    line-height: 40px;
    margin-top: 25px;
  }
  .user-service {
    width: 312px;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    a {
      color: #00ab94;
    }
  }
}
</style>
