<template>
  <div class="verify-login">
    <a-form-model
      class="verify-form"
      ref="ruleForm"
      :rules="rules"
      :model="formValue"
    >
      <a-form-model-item  prop="phone">
        <a-input v-model="formValue.phone" placeholder="请输入手机号">
        </a-input>
      </a-form-model-item>
      <a-form-model-item  prop="verifyCode" >
        <a-input-search
          v-model="formValue.verifyCode"
          class="loginInputSearch"
          placeholder="请输入短信验证码"
        >
          <a-button
            @click.native="beforeSendCode"
            :disabled="isSend"
            class="send-btns"
            slot="enterButton"
          >
            {{ verifyText }}
          </a-button>
        </a-input-search>
      </a-form-model-item>
    </a-form-model>

    <a-button class="verify-btn" id="loginButton" @click="login"
      >同意协议并登录</a-button
    >
    <div class="user-service">
      查看<a @click="showUserService">《小牛用户协议》</a>
    </div>
    <div class="wx-tips">未注册的手机号验证后将自动创建新账号</div>
    <!-- <user-service ref="service"></user-service> -->
    <a-modal
      title="小牛建讯用户协议"
      :visible="agreement"
      @ok="() => closeModal()"
      @cancel="() => closeModal()"
    >
      <user-service-text></user-service-text>
      <div slot="footer">
        <a-button @click="closeModal()"> 确认</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>
import Cookie from 'js-cookie'
import { FormModel, Input } from 'ant-design-vue'
import { userModule } from '@/store/modules/user'
import { detailModule } from '@/store/modules/detail'
import userServiceText from '@/components/userServiceText.vue'

// import userService from '@/views/components/userService'
// import { mapMutations } from 'vuex'
// import Store from '@/store'

export default {
  name: 'verify-login',
  components: {
    aFormModel: FormModel,
    aFormModelItem: FormModel.Item,
    aInput: Input,
    aInputSearch: Input.Search,
    userServiceText
  },
  props: {
    isBind: {
      type: Boolean,
      default: false
    },
    authonKey: {
      type: String,
      default: ''
    }
  },
  // inject: ['reload'],
  data() {
    return {
      agreement: false,
      formValue: {
        phone: '',
        verifyCode: ''
      },
      rules: {
        phone: [
          {
            validator: this.validatePhoneNumber,
            required: true,
            message: '请输入正确的手机号',
            trigger: 'blur'
          }
        ],
        verifyCode: [
          {
            required: true,
            message: '请输入验证码',
            trigger: 'change'
          }
        ]
      },
      verifyText: '获取验证码',
      isSend: false
    }
  },
  methods: {
    // ...mapMutations([
    //   'setShowLoginModal',
    //   'setLoginSuccess',
    //   'setUserInfo',
    //   'setExpriedModalShow'
    // ]),

    showUserService() {
      // this.$refs.service.showModal()
      this.agreement = true
    },
    closeModal() {
      this.agreement = false
    },
    validatePhoneNumber(rule, value, callback) {
      // const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    beforeSendCode() {
      this.$refs.ruleForm.validateField('phone', val => {
        if (!val) {
          this.sendCode()
        }
      })
      // console.log(validate)
      // return
    },
    userInfo(userId) {
      this.$httpRequester.get('member/get', { id: userId }).then(r => {
        userModule.setUserInfo(r)
      })
    },
    goToPage(r) {
      this.$message.success('登录成功', 0.5)
      Cookie.set('JSESSIONID', r.tokeId, { expires: 7 })
      Cookie.set('memberName', r.memberName, { expires: 7 })
      Cookie.set('userId', r.id, { expires: 7 })
      localStorage.setItem('userId', r.id)
      localStorage.setItem(r.id.toString(), r.todayFirst ? '1' : '0')
      detailModule.changeUserLoginModal(false)
      this.$setQuery.addQuery(this.$route, {})
      location.reload()
    },
    login() {
      const loginSource = this.$route.query.loginSource || 0
      // console.log(loginSource)
      this.$refs.ruleForm.validate(val => {
        if (val) {
          if (this.isBind) {
            const params = {
              username: this.formValue.phone,
              verifycode: this.formValue.verifyCode,
              loginSource,
              authonKey: this.authonKey
            }
            this.$httpRequester
              .post(
                'wx/website/login',
                params,
                'application/x-www-form-urlencoded'
              )
              .then(r => {
                this.goToPage(r)
                // this.setLoginSuccess(true)
                this.userInfo(r.id)
                // this.reload()
              })
              .catch(err => {
                if (err.code === '2005') {
                  detailModule.setExpriedModalShow(true)
                }
              })
          } else {
            const params = {
              username: this.formValue.phone,
              verifycode: this.formValue.verifyCode,
              loginSource
            }
            this.$httpRequester
              .post('user/login', params, 'application/x-www-form-urlencoded')
              .then(r => {
                this.goToPage(r)
                this.setLoginSuccess(true)
                this.userInfo(r.id)
                // this.reload()
              })
              .catch(err => {
                if (err.code === '2005') {
                  detailModule.setExpriedModalShow(true)
                }
              })
          }
        }
      })
    },
    sendCode() {
      // console.log('?')
      this.$httpRequester
        .post(
          'user/sms/verificte/send',
          { cellPhone: this.formValue.phone },
          'application/x-www-form-urlencoded'
        )
        .then(() => {
          this.isSend = true
          let time = 120
          const interVal = setInterval(() => {
            if (time === 0) {
              this.verifyText = '重新发送'
              clearInterval(interVal)
              this.isSend = false
            } else {
              this.verifyText = '重新发送(' + time + ')'
            }
            time -= 1
          }, 1000)
        })
        .catch(() => {
          this.isSend = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .ant-input {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  border: 1px solid #EFF3F6;
  ::v-deep &:hover {
    border: 1px solid #EFF3F6;
    box-shadow: none;
  }
  &:active {
    border: 1px solid #EFF3F6;
    box-shadow: none;
  }
  &:before {
    border: 1px solid #EFF3F6 !important;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid #EFF3F6 !important;
    box-shadow: none;
  }

}

.has-error {
  .ant-input-search-enter-button ::v-deep input {
    border: 1px solid #f5222d !important;
  }
    .loginInputSearch{
      .ant-input {
        border: 1px solid #f5222d !important;
        box-shadow: none;
      }
    }

  }
.wx-tips {
  margin-top: 10px;
  font-size: 14px;
  color: #a0a6ab;
}
.verify-form {
  width: 312px;

  .ant-form-item {
    .ant-input {
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      border: 1px solid #EFF3F6;

       &:hover {
         //border: none;
         border: 1px solid #EFF3F6 !important;
         box-shadow: none;
       }

      &:focus {
        //border: none;
        border: 1px solid #EFF3F6 !important;
        box-shadow: none;
      }


    }

    .has-error {
      .ant-input {
        border-color: #f5222d !important;
      }
    }

    // .ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
    // }
    .ant-form-explain {
      font-size: 14px;
      padding-left: 10px;
      text-align: left;
    }


    .send-btns {
      height: 32px;
      line-height: 32px;
      width: 125px;
      background-color: #00ab94;
      color: #fff;
      font-size: 14px;
      margin-left: 10px;
    }
  }
}
</style>
<style lang="scss" scoped>

.verify-login {
  width: 376px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .verify-btn {
    width: 312px;
    height: 40px;
    line-height: 40px;
    background-color: #00ab94;
    color: #fff;
    font-size: 14px;
  }

  .user-service {
    width: 312px;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    a {
      color: #00ab94;
    }
  }
}
</style>
