<template>
  <div class="business-info">
    <!-- <div class="info-item">
      <div class="sub-title">公司简介</div>
      <p class="profile content">
        {{ businessInfo.companyProfile || '暂无简介' }}
      </p>
    </div> -->
    <div class="info-item">
      <div class="sub-title">
        股东信息<span v-if="shareholderTd.length > 0"
          >({{ shareholderTd.length }})</span
        >
      </div>
      <div class="content">
        <customer-table
          blockText="股东信息"
          :th="shareholderTh"
          :td="shareholderTd"
        ></customer-table>
      </div>
    </div>

    <div class="info-item">
      <div class="sub-title">
        施工资质企业对外投资<span v-if="investmentTd.length > 0"
          >({{ investmentTd.length }})</span
        >
      </div>
      <div class="tips">
        施工企业对外投资：指有资质的施工企业的对外投资，被投资企业也有施工资质。
      </div>
      <div class="content">
        <customer-table
          @setLegalPerson="setLegalPerson"
          blockText="对外投资"
          :th="investmentTh"
          :td="investmentTd"
        >
        </customer-table>
      </div>
    </div>
    <div class="info-item">
      <div class="sub-title">工商信息</div>
      <table class="content content-table" border>
        <tr v-for="(tableData, index) in bussinessTable" :key="index">
          <td
            :colspan="td.colspan || 1"
            :class="{ isTitle: !!!(tdKey % 2), isValue: tdKey % 2 }"
            v-for="(td, tdKey) in tableData.td"
            :key="tdKey"
          >
            {{ td.title }}
          </td>
        </tr>
      </table>
    </div>
    <div class="info-item">
      <div class="sub-title">
        主要人员<span v-if="mainPersonTd.length > 0"
          >({{ mainPersonTd.length }})</span
        >
      </div>
      <div class="content">
        <customer-table
          blockText="主要人员"
          :th="mainPersonTh"
          :td="mainPersonTd"
        ></customer-table>
      </div>
    </div>

    <div class="info-item">
      <div class="sub-title">
        分支机构<span v-if="branchList.length > 0"
          >({{ branchList.length }})</span
        >
      </div>
      <table
        class="content content-table branch-table"
        border
        v-if="branchList.length"
      >
        <tr v-for="(item, index) in branchList" :key="index">
          <td class="bg-td">{{ index + 1 }}</td>
          <td>{{ item.branchName }}</td>
        </tr>
      </table>

      <div class="content block-table" v-else>暂无分支机构数据</div>
    </div>
    <div class="info-item">
      <div class="sub-title">
        工商变更<span v-if="manageChangeTd.length > 0"
          >({{ manageChangeTd.length }})</span
        >
      </div>
      <div class="content">
        <customer-table
          blockText="工商变更"
          :th="manageChangeTh"
          :td="manageChangeTd"
        ></customer-table>
      </div>
    </div>
    <div class="tips">
      数据来源：该数据源于国家企业信用信息公示系统
    </div>
  </div>
</template>

<script lang="ts" src="./Business.ts"></script>

<style lang="scss" scoped>
.business-info {
  .info-item {
    margin-bottom: 40px;
    .sub-title {
      font-size: 14px;
      color: #282828;
      font-weight: 500;
    }
    .content {
      margin-top: 16px;
    }
    .block-table {
      height: 46px;
      text-align: center;
      font-size: 14px;
      color: #686868;
      line-height: 46px;
      border: #f2f6f8 solid 1px;
    }
    .content-table {
      width: 100%;
      letter-spacing: 1px;
      border: #f2f6f8 solid 1px;
      line-height: 20px;
      .isTitle {
        width: 101px;
        height: 52px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: #282828;
        background-color: #f2f6f8;
      }
      .isValue {
        width: 203px;
        text-align: left;
        padding: 5px 10px;
        box-sizing: border-box;
        font-size: 13px;
        color: #686868;
      }
      td {
        border: 1px solid #f2f6f8;
      }
    }
    .branch-table {
      tr {
        height: 36px;
      }
      .bg-td {
        text-align: center;
        background-color: #f2f6f8;
      }
    }
    .profile {
      color: #686868;
      font-size: 13px;
      line-height: 18px;
    }
  }
}
</style>
