<template>
  <div class="company-detail">
    <div class="basic-info">
      <div class="flex items-center justify-between">
        <div class="back" @click="goBack">
          <img :src="back" alt="小牛建讯" height="18px" width="18px" />
          <span class="backText">返回</span>
        </div>

        <div class="count-refresh">
          <div @click="refreshData" class=" flex items-center">
            <img :src="refresh" alt="小牛建讯" height="18px" width="18px" />
            <span class="refresh"> {{ currentDate }}数据更新</span>
          </div>
          <!-- <div class="count">全网领取次数：{{ basicInfo.receiveCount }}次</div> -->
        </div>
      </div>
      <div class="name-n-count">
        <div class="name  select-none">
          <span
            class="cursor-pointer"
            @dbclick="
              copyThisText(basicInfo.companyName || basicInfo.enterpriseName)
            "
            @click="
              copyThisText(basicInfo.companyName || basicInfo.enterpriseName)
            "
            >{{ basicInfo.companyName || basicInfo.enterpriseName }}
          </span>
          <span
            v-if="businessInfo.riskLevel > 1"
            :class="'text-' + businessInfo.riskColor"
            class="ml-[16px] text-[14px] font-norma"
          >
            <img
              :src="businessInfo.riskIcon"
              alt=""
              class="w-[16px] h-[16px]"
            />
            {{ businessInfo.riskText }}
          </span>
          <span class="status" v-if="businessInfo.businessStatus">
            {{ businessInfo.businessStatus }}
          </span>
          <div class="other-info">
            <span v-if="businessInfo.beforeNameText" class="text-textLight">
              曾用名： {{ businessInfo.beforeNameText }}
            </span>
            <br v-if="businessInfo.beforeNameText" />
            <span class=" text-textLight"> 社会统一信用代码： </span>
            <span class=" text-textPrimary">
              {{ businessInfo.socialCreditCode }}
            </span>
            <br />
            <span class=" text-textLight"> 法定代表人： </span>
            <a
              v-if="!isFromClient && businessInfo.legalPerson !== '-'"
              class="click-person"
              @click="copyThisText(businessInfo.legalPerson)"
              @dblclick="copyThisText(businessInfo.legalPerson)"
            >
              <!-- <a-tooltip
                title="法定代表人同名查询"
                placement="right"
                arrow-point-at-center
              >
                  @click="setLegalPersonToFilter(businessInfo.legalPerson)" -->
              <a-tooltip
                title="双击复制"
                placement="right"
                arrow-point-at-center
              >
                <span class="flex items-center h-[22px]">
                  <span
                    class="text-textPrimary mr-[5px]"
                    v-html="businessInfo.legalPerson"
                  ></span>
                  <a-icon
                    class="text-[16px] text-tipBlue"
                    :component="copyIcon"
                  />
                </span>
              </a-tooltip>
            </a>
            <span v-html="businessInfo.legalPerson" v-else></span>
          </div>
        </div>

        <div
          class="text-center cursor-pointer"
          v-if="!basicInfo.isSimple"
          @click="showSharQrCode(basicInfo)"
        >
          <img :src="qrCodePrimary" class="w-[30px] h-[30px]" />
          <div class="text-[12px] text-textLight mt-[4px]">分享资源</div>
        </div>
      </div>
      <!-- <div @click="businessInfoDisplay" class="business-btn">
        <a-icon type="container" class="icon-right" />查看工商信息
      </div>-->
      <div class="distribution-btn">
        <div v-if="isFromClient" class="user-name">
          跟进销售: {{ basicInfo.memberName }}
        </div>
        <div v-if="isFromClient" class="status">
          跟进状态:
          <span
            class="status-tag"
            :class="{
              greeTag:
                basicInfo.followStatus === '有意向' ||
                basicInfo.followStatus === '已成交'
            }"
            >{{ basicInfo.followStatus }}</span
          >
        </div>
        <!-- <div v-if="isFromClient" class="change-status">
          <a-select @change="changeItemStatus" class="select" defaultValue="更改状态">
            <a-select-option
              :disabled="item.disabled"
              v-for="item in statusList"
              :value="item.value"
              :key="item.value"
            >{{item.text}}</a-select-option>
          </a-select>
        </div>-->
        <!-- <div>
          <a-button
            :disabled="isSuperAdmin"
            icon="share-alt"
            type="default"
            v-if="!basicInfo.isSimple"
            @click="showSharQrCode"
            >分享资源</a-button
          >
        </div> -->

        <!-- <a-button
          v-if="isFromClient || basicInfo.haveReceive"
          :disabled="isSuperAdmin || isSales"
          @click="showAssignModal"
        >分配资源</a-button>-->
        <div class="rt-botton" v-if="!basicInfo.isNotHavePhone">
          <a-button
            v-if="isFromClient"
            type="primary"
            class="have-rt-margin"
            :disabled="isSuperAdmin"
            @click="addNewAssign"
            >添加跟进记录</a-button
          >
          <a-button
            v-if="!isFromClient && basicInfo.haveReceive"
            @click="phoneIsNotTurnOn"
            class="not-turn-on have-rt-margin"
            >拨打未通</a-button
          >
          <a-button
            v-if="!isFromClient && basicInfo.haveReceive"
            @click="phoneIsTurnOn"
            class="turn-on have-rt-margin"
            >接通跟进</a-button
          >
          <!-- <a-button
            icon="heart"
            :type="isAttention ? 'primary' : 'default'"
            @click="changeEnterpriseAttention"
            class="have-rt-margin"
            >{{ isAttention ? '取消关注' : '关注企业' }}</a-button
          > -->
        </div>
      </div>
    </div>
    <!-- <div v-if="!basicInfo.haveReceive && !isFromClient && !isSuperAdmin">
      <block-data
        text="领取资源后可查看企业详细信息"
        title="访问受限"
      ></block-data>
    </div>-->
    <div class="detail-warp">
      <div class="spin-loading" v-if="showLoading">
        <a-spin size="large" class="a-spin" tip="加载中..." />
      </div>

      <div class="detail-title-list">
        <div
          class="main-title"
          @click="selectMainTitle(index)"
          v-for="(item, index) in mainTitleList"
          :key="index"
          :class="{ isSelect: titleSelectIndex === index }"
        >
          <div
            v-if="businessInfo.riskLevel > 1 && index === 3"
            :class="{
              'bg-[#f30c0c]': businessInfo.riskLevel === 3,
              'bg-tipOrange': businessInfo.riskLevel === 2
            }"
            class="w-[6px] h-[6px] my-auto absolute left-[-12px] rounded-[6px] top-0 bottom-[13px]"
          ></div>
          {{ item.title }}
        </div>
      </div>
      <div class="content">
        <component
          :enterpriseId="enterpriseId"
          :contactList="contactList"
          :imageHeight="300"
          :imageWidth="300"
          :clueSources="clueSources"
          :followList="followList"
          :businessInfo="businessInfo"
          text="请点击查看电话按钮获取企业联系方式"
          titleText="访问受限"
          :riskLevel="riskLevel"
          @setInvestmentCompany="setInvestmentCompany"
          @setPhoneToFilter="setPhoneToFilter"
          @copyThisPhone="copyThisText"
          @setRiskLevelFilter="setRiskLevelFilter"
          :isFromClient="isFromClient"
          :qualifications="qualifications"
          :is="mainTitleList[titleSelectIndex].component"
        >
          <template slot="btSlot">
            <a-button
              type="primary"
              class="have-rt-margin"
              @click="receiveEmterprice"
              v-if="!isFromClient || basicInfo.haveReceive"
              :disabled="isSuperAdmin"
              >查看电话</a-button
            >
          </template>
        </component>
      </div>
    </div>
    <assign
      ref="assignModal"
      @setSelectStaff="setSelectStaff"
      @assignSuccess="assignSuccess"
      :receiveList="[
        {
          enterpriseId: basicInfo.enterpriseId,
          enterpriseName: basicInfo.enterpriseName || basicInfo.companyName
        }
      ]"
    ></assign>
    <a-modal
      @ok="addFollow"
      :destroyOnClose="true"
      @cancel="closeFollowDrawer"
      v-model="followShow"
      title="添加跟进记录"
    >
      <follow :followQualication="followQualication" ref="followRef"></follow>
      <!-- <follow ref="followRef"></follow> -->
      <!--      <template slot="footer">-->
      <!--        <a-button key="back" @click="handleCancel1" style="right: 5px;"-->
      <!--          >关闭</a-button-->
      <!--        >-->
      <!--      </template>-->
    </a-modal>
    <!-- <qr-modal ref="qr" :url="qrCode"></qr-modal> -->
    <wxqr-code ref="wxqr" :url="wxQrCode"></wxqr-code>
    <attention-modal
      :isFromDetail="true"
      @ok="attentionToGroup"
      ref="aM"
    ></attention-modal>
  </div>
</template>
<script lang="ts" src="./Index.ts"></script>
<style lang="scss">
.qr-image-content {
  text-align: center;
  position: relative;
  .logo-content {
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    background-color: #ffffff;
  }
  .suspension-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
  }
}
.qr-tips {
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  margin: 0 25px;
  // margin-top: 5px;
}
</style>
<style lang="scss">
.detail-title-list {
  display: flex;
  margin-top: 16px;
  align-items: center;
  .main-title {
    font-size: 16px;
    color: #686868;
    margin-bottom: 16px;
    width: fit-content;
    padding-bottom: 13px;
    // font-weight: bold;
    position: relative;
    cursor: pointer;
    border-bottom: solid 3px transparent;
    margin-right: 32px;

    &:hover {
      color: #00ab94;
      border-bottom: solid 3px #00ab94;
    }
    // display: flex;
    // align-self: center;
    // justify-content: space-between;
  }
  .isSelect {
    // color: #333333;
    color: #00ab94;
    border-bottom: solid 3px #00ab94;
  }
}
</style>
<style lang="scss" scoped>
.company-detail {
  .backText {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #00ab94;
    line-height: 22px;
  }
  .count-refresh {
    .refresh {
      margin-left: 3px;
      font-size: 14px;
      font-weight: 400;
      color: #686868;
      line-height: 22px;
    }
  }
  .basic-info {
    background-color: #ffffff;
    width: 100%;
    // height: 190px;
    box-sizing: border-box;
    padding-bottom: 24px;
    // padding: 20px 24px 24px 24px;
    // border-radius: 4px;
    position: relative;
    border-bottom: 1px solid rgba($color: #cccccc, $alpha: 0.3);
    .refresh {
      // position: absolute;
      // right: 24px;
      // top: 20px;
      color: #686868;
      cursor: pointer;
      font-size: 13px;
    }
    .back {
      cursor: pointer;
      font-size: 16px;
      color: #686868;
      display: flex;
      // width: 120px;
      align-items: center;
      &:hover {
        color: #00ab94;
      }
      .lf-arrow {
        margin-right: 4px;
      }
    }
    .name-n-count {
      display: flex;
      align-items: center;
      margin-top: 13px;
      justify-content: space-between;
      .name {
        font-size: 16px;
        font-weight: bold;
        color: #282828;
        .status {
          display: inline-block;
          margin-left: 16px;
          background-color: #f4fffe;
          border-radius: 2px;
          padding: 1px 8px;
          font-size: 12px;
          border: solid 1px #00ab94;
          font-weight: normal;
          color: #00ab94;
          width: fit-content;
          text-align: center;
        }
        .other-info {
          margin-top: 5px;
          font-size: 14px;
          font-weight: normal;
          .click-person {
            display: inline-flex;
            align-items: center;
            img {
              margin-left: 5px;
            }
          }
        }
      }
      .count {
        margin-top: 10px;
        font-size: 13px;
        color: #909399;
      }
    }
    .business-btn {
      font-size: 13px;
      margin-top: 10px;
      color: #00ab94;
      cursor: pointer;
    }
    .distribution-btn {
      display: flex;
      align-items: center;
      margin-top: 24px;
      font-size: 13px;
      color: #909399;
      width: 100%;
      justify-content: space-between;
      .user-name {
        margin-right: 50px;
      }
      .rt-botton {
        justify-self: flex-end;
        .turn-on {
          background-color: #00ab94;
          color: #ffffff;
          border: 1px solid #00ab94;
          &:hover {
            background-color: #00bc87;
            border: 1px solid #00bc87;
          }
        }
        .not-turn-on {
          background-color: #ffffff;
          color: #00ab94;
          border: 1px solid #00ab94;
          &:hover {
            background-color: #00bc87;
            color: #fff;
            border: 1px solid #00bc87;
          }
        }
      }
      .status {
        margin-right: 95px;
        .status-tag {
          border-radius: 4px;
          height: 28px;
          line-height: 28px;
          text-align: center;
          padding: 4px 8px;
          color: #fa8f00;
          margin-left: 6px;
          background-color: rgba($color: #fa8f00, $alpha: 0.1);
        }
        .greeTag {
          color: #67c23a;
          background-color: rgba(103, 194, 58, 0.1);
        }
      }
      .change-status {
        margin-right: 9px;
        .select {
          width: 100px;
        }
      }
    }
  }
  .icon-right {
    margin-right: 4px;
  }
  .detail-warp {
    // margin-top: 24px;
    min-height: calc(100% - 214px);
    width: 100%;
    position: relative;
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    .spin-loading {
      position: absolute;
      width: 100%;
      text-align: center;
      background-color: rgba($color: #333333, $alpha: 0.2);
      z-index: 1000;
      height: 100%;
      .a-spin {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
      }
    }
    .content {
      background-color: #ffffff;
      width: 100%;
      border-radius: 4px;
      box-sizing: border-box;
      // padding-to: 24px;
      // height: 200px;
    }
  }
}
.not-turnon-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .label {
    font-size: 14px;
  }
  .select-input {
    width: 70%;
  }
}
</style>
