<template>
  <div class="risk-info">
    <div class="info-item">
      <div class="sub-title">
        <span style="color:#dc0000" v-if="riskLevel === 3">
          失信被执行
          <span v-if="breakFaithTd.length > 0"
            >({{ breakFaithTd.length }})</span
          >
        </span>
        <span v-else>
          失信被执行
          <span v-if="breakFaithTd.length > 0"
            >({{ breakFaithTd.length }})</span
          >
        </span>
      </div>
      <div class="content">
        <customer-table
          blockText="失信被执行"
          :th="breakFaithTh"
          :td="breakFaithTd"
          :enterpriseId="enterpriseId"
        ></customer-table>
      </div>
      <div class="tips">数据来源：该数据源于中国执行信息公开网</div>
    </div>

    <div class="info-item">
      <div class="sub-title">
        <span style="color:#ff8800" v-if="riskLevel === 2"
          >被执行人信息
          <span v-if="executionTd.length > 0">
            ({{ executionTd.length }})
          </span>
        </span>
        <span v-else
          >被执行人信息
          <span v-if="executionTd.length > 0">
            ({{ executionTd.length }})
          </span>
        </span>
      </div>
      <div class="content">
        <customer-table
          blockText="被执行人信息"
          :th="executionTh"
          :td="executionTd"
        ></customer-table>
      </div>
      <div class="tips">数据来源：该数据源于中国执行信息公开网</div>
    </div>

    <div class="info-item">
      <div class="sub-title">
        工商异常<span v-if="businessExceptionCount > 0">
          ({{ businessExceptionCount }})</span
        >
      </div>
      <div class="content">
        <customer-table
          blockText="工商异常"
          :th="businessErrorTh"
          :td="businessErrorTd"
        ></customer-table>
      </div>
      <div class="tips">数据来源：该数据源于国家企业信用信息公示系统</div>
    </div>

    <!-- <div class="info-item">
      <div class="sub-title">裁判文书({{ refereeTd.length }})</div>
      <div class="content">
        <customer-table
          blockText="裁判文书"
          :th="refereeTh"
          :td="refereeTd"
        ></customer-table>
      </div>
      <div class="tips">数据来源：该数据源于国家企业信用信息公示系统</div>

    </div> -->
    <div class="info-item">
      <div class="sub-title">
        行政处罚<span v-if="penaltiesTd.length > 0"
          >({{ penaltiesTd.length }})</span
        >
      </div>
      <div class="content">
        <customer-table
          blockText="行政处罚"
          :th="penaltiesTh"
          :td="penaltiesTd"
        ></customer-table>
      </div>
      <div class="tips">数据来源：该数据源于国家企业信用信息公示系统</div>
    </div>
  </div>
</template>
<script lang="ts" src="./Risk.ts"></script>

<style lang="scss" scoped>
.risk-info {
  .info-item {
    margin-bottom: 40px;
    .sub-title {
      font-size: 14px;
      color: #282828;
      font-weight: 500;
    }
    .content {
      margin-top: 16px;
    }
    .block-table {
      height: 36px;
      text-align: center;
      font-size: 14px;
      color: #686868;
      line-height: 36px;
      border: #f2f6f8 solid 1px;
    }
    .content-table {
      width: 100%;
      border: #f2f6f8 solid 1px;
    }
  }
}
</style>
