<template>
  <div class="talents-gaps relative">
    <div class="flex items-start">
      <!-- {{ detail }}  contactPhone-->
      <div class="basic-info mr-[16px] flex items-start bg-white p-[24px]">
        <div
          class="w-[60px] h-[60px] mr-[16px] flex-shrink-0  bg-contain"
          :style="'background-image:url(' + gapsImg + ')'"
        ></div>
        <div class="detail">
          <div class="flex items-center mb-[12px]">
            <div class=" text-textPrimary text-[16px] mr-[16px] font-medium">
              {{ detail.companyName }}
            </div>
            <div
              v-if="detail.businessStatus"
              class=" bg-[#F4FFFE]
               border-solid border-[1px] border-sysPrimary rounded-[2px]
               px-[8px] py-[2px] text-sysPrimary text-[12px]"
            >
              {{ detail.businessStatus }}
            </div>
            <a-tooltip :destroyTooltipOnHide="true" placement="right">
              <template slot="title">
                <span>{{ checkTimeEum }}</span>
              </template>
              <span
                class="inline-block
                text-[#FF7F28] 
                border-[#FF7F28] border-[1px] border-solid
                bg-[#FFFBF8] text-[12px] font-medium
                ml-[15px]
                px-[8px] py-[2px] rounded-[2px] cursor-pointer z-20"
              >
                动态核查
              </span>
            </a-tooltip>
          </div>
          <div class="mb-[8px]">
            <span class=" text-textPrimary  inline-block mr-[24px]">
              <span class=" text-textLight">
                社会统一信用代码:
              </span>
              {{ detail.socialCreditCode || '-' }}
            </span>
            <span class=" text-textPrimary">
              <span class=" text-textLight"> 法定代表人：</span>
              {{ detail.legalPerson || '-' }}
            </span>
          </div>
          <div class="mb-[8px]">
            <span class=" text-textPrimary  inline-block mr-[24px]">
              <span class=" text-textLight  ">
                注册地区:
              </span>
              {{ detail.areaName || '-' }}
            </span>
            <span class=" text-textPrimary">
              <span class=" text-textLight"> 成立时间：</span>
              {{ detail.establishmentDate || '-' }}
            </span>
          </div>
          <div class=" text-textLight">
            经营范围：{{ detail.businessScope || '-' }}
          </div>
        </div>
      </div>
      <div class="phone-list flex-shrink-0 w-[373px] bg-white ">
        <div class="other box-border pt-[16px] px-[24px] w-full">
          <div class="text-sysPrimary mb-[8px]">该企业人员补充方案：</div>
          <div v-if="detail.bmcaseVO" class="relative">
            <div
              class="flex items-start  text-textPrimary"
              v-for="(bmcase, index) in bmCaseList"
              :key="index"
            >
              <span class="w-[70px] flex-shrink-0"
                >【{{ bmcase.caseNo }}】</span
              >
              <div>
                <div
                  v-for="(person, j) in bmcase.lackRegisterPersonList"
                  :key="j"
                >
                  <span v-if="j < 1">
                    <span>
                      {{ person.registerMajor }}
                    </span>
                    {{ person.registerType }} {{ person.needNum }}人
                    <span v-if="bmcase.lackRegisterPersonList.length > 1">
                      ...
                    </span>
                  </span>
                </div>
              </div>
            </div>
            <a-button
              class="more-btn"
              size="small"
              type="link"
              @click="showAllCase"
              v-if="haveMoreCase"
            >
              查看更多方案
            </a-button>
          </div>
        </div>
        <div
          class="phone relative box-border p-[24px] flex items-start
           min-h-[164px] bg-no-repeat bg-cover bg-bottom"
          :style="'background-image:url(' + phoneBg + ')'"
        >
          <div class=" text-sysPrimary mb-[6px]">联系电话：</div>
          <div>
            <div
              class="text-textPrimary"
              v-for="(item, key) in detail.contactPhone"
              :key="key"
            >
              <a-tooltip title="双击可复制电话号码" trigger="hover">
                <span @dblclick="dblCopy(item)">{{ item }}</span>
              </a-tooltip>
            </div>
          </div>
          <a-button
            v-if="!detail.haveReceive"
            @click="receiveThisEnterprise"
            class="absolute-btn right-[24px] bottom-[24px]"
            type="primary"
            size="small"
            >联系企业
          </a-button>
          <a-button
            v-else
            class="absolute-btn contant-btn right-[24px] bottom-[24px]"
            type="defalut"
            size="small"
            @click="addFollow"
            >沟通情况
          </a-button>
        </div>
      </div>
    </div>
    <div class="other-table w-full bg-white mt-[16px] p-[24px]">
      <a-tabs :activeKey="activeKey" @change="changeTabPane">
        <a-tab-pane
          key="1"
          :tab="'资质(' + buildQuaNum + ')'"
          :disabled="!buildQuaNum"
        >
          <div>
            <a-table
              bordered
              rowKey="index"
              :pagination="false"
              :columns="quaColumn"
              :dataSource="buildQua"
            >
            </a-table>
            <p class="tips mt-[24px] text-[12px] text-[#A0A2A7]">
              数据来源：该数据来源于“中华人民共和国住房和城乡建设部”，其他资质项来源于企业所在省份最高建设主管部门官方网站。具体资质项来源于发证部门，数据更精准
            </p>
          </div>
        </a-tab-pane>
        <a-tab-pane
          key="2"
          :tab="'注册人员(' + registerNum + ')'"
          :disabled="!registerNum"
        >
          <div class="w-full">
            <div class="flex items-center">
              <div
                class="register-btn mr-[32px]"
                :class="{ isCurrenType: currentRegisterIndex === key }"
                v-for="(item, key) in registerStaff"
                @click="changeRegisterType(key)"
                :key="key"
              >
                {{ item.label }} ({{ item.value.length }})
              </div>
            </div>
            <div class="mt-[16px]">
              <a-table
                bordered
                rowKey="index"
                :pagination="{
                  current: registerPage,
                  hideOnSinglePage: true,
                  pageSize: 10,
                  onChange: page => {
                    changeRegisterPage(page)
                  },
                  total: registerTable.length
                }"
                :columns="registerColumn"
                :dataSource="registerTable"
              >
              </a-table>
              <p class="tips mt-[24px] text-[12px] text-[#A0A2A7]">
                数据来源：该数据来源于“中华人民共和国住房和城乡建设部”，其他资质项来源于企业所在省份最高建设主管部门官方网站。具体资质项来源于发证部门，数据更精准！
              </p>
            </div>
          </div>
        </a-tab-pane>
        <a-tab-pane
          key="3"
          :tab="'动态核查(' + checkNum + ')'"
          :disabled="!checkNum"
        >
          <div class="mt-[16px]">
            <a-table
              bordered
              rowKey="index"
              :pagination="false"
              :columns="checkColumn"
              :dataSource="checkTime"
            >
            </a-table>
            <p class="tips mt-[24px] text-[12px] text-[#A0A2A7]">
              数据来源：该数据来源于企业所在省份最高建设主管部门和地级市建设主管部门官方网站。具体核查内容查看官方网站，数据更精准！
            </p>
          </div>
        </a-tab-pane>
        <a-tab-pane
          key="4"
          :tab="'跟进记录(' + followNum + ')'"
          :disabled="!followNum"
        >
          <div class="mt-[16px]">
            <a-table
              bordered
              rowKey="index"
              :pagination="{
                current: followPage,
                hideOnSinglePage: true,
                pageSize: 10,
                onChange: page => {
                  changeFollowPage(page)
                },
                total: followNum
              }"
              :columns="followColumn"
              :dataSource="followData"
            >
            </a-table>
          </div>
        </a-tab-pane>
      </a-tabs>
    </div>
    <follow
      @confirmFollow="confirmFollow"
      :enterprisePhoneList="detail.contactPhone"
      ref="gapFollow"
    ></follow>
    <a-modal
      width="700px"
      :destroyOnClose="true"
      title="人员补充方案"
      :visible="caseModal"
      @cancel="closeModal"
    >
      <a-table
        :pagination="false"
        rowKey="index"
        :columns="caseColumns"
        :data-source="caseData"
        bordered
      >
        <template slot="register" slot-scope="text">
          <div v-html="text"></div>
        </template>
      </a-table>
      <div class="mt-[12px] text-[13px] text-[rgba(51, 51, 51, 0.65)]">
        说明：1. 二级建造师均可由更高的一级建造师代替
        <br />
        2. 以上方案为大数据分析结果，仅供参考
      </div>
      <div slot="footer">
        <a-button @click="closeModal" type="primary">确认</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>
import gapsImg from '@/assets/image/tanlents/gapsImg.png'
import phoneBg from '@/assets/image/tanlents/phoneBg.png'
import { Tabs, Table, Breadcrumb, Modal, Tooltip } from 'ant-design-vue'
import { detailModule } from '@/store/modules/detail'
import follow from './Follow.vue'

export default {
  name: 'talents-detail',
  components: {
    aTooltip: Tooltip,
    aBreadcrumb: Breadcrumb,
    aBreadcrumbItem: Breadcrumb.Item,
    aTable: Table,
    aTabs: Tabs,
    aTabPane: Tabs.TabPane,
    follow
  },
  computed: {
    checkTimeEum() {
      let text = ''
      switch (this.detail.dynamicCheckEnum) {
        case 'NO_CHECK':
          text = '没有被核查'
          break
        case 'ONE_MONTH_CHECK':
          text = '近1个月被核查'
          break
        case 'HALF_YEAR_CHECK':
          text = '近半年被核查'
          break
        case 'ONE_YEAR_CHECK':
          text = '近1年被核查'
          break
        case 'ONE_YEAR_MORE_CHECK':
          text = '1年以上被核查'
          break
        default:
          text = '没有被核查'
          break
      }
      return text
    },
    caseColumns() {
      return [
        {
          title: '方案',
          dataIndex: 'caseNo',
          width: '100px',
          customRender: (text, row, index) => {
            const obj = {
              children: text,
              attrs: {}
            }
            const tableIndex = this.caseData.findIndex(e => {
              return e.caseNo === text
            }) // 找第一次出现的位置
            const find = this.detail.bmcaseVO
              ? this.detail.bmcaseVO.find(e => {
                  return e.caseNo === text
                })
              : {}
            const colLength = find.lackRegisterPersonList.length
            if (index === tableIndex) {
              obj.attrs.rowSpan = colLength
            } else {
              obj.attrs.rowSpan = 0
            }
            return obj
          }
        },
        {
          title: '人员配置',
          dataIndex: 'register',
          scopedSlots: { customRender: 'register' }
        }
      ]
    },
    quaColumn() {
      return [
        { title: '序号', dataIndex: 'index', width: '100px' },
        {
          title: '资质类别',
          dataIndex: 'quaType',
          align: 'center',
          customRender: (text, row, index) => {
            const obj = {
              children: text,
              attrs: {}
            }
            if (index === 0) {
              obj.attrs.rowSpan = this.buildQua.length
            } else {
              obj.attrs.rowSpan = 0
            }
            return obj
          }
        },
        {
          title: '资质证书号',
          dataIndex: 'no',
          align: 'center',

          customRender: (text, row, index) => {
            const obj = {
              children: text,
              attrs: {}
            }
            const tableIndex = this.buildQua.findIndex(e => {
              return e.no === text
            }) // 找第一次出现的位置
            const find = this.buildQua.filter(e => {
              return e.no === text
            })
            const colLength = find.length
            if (index === tableIndex) {
              obj.attrs.rowSpan = colLength
            } else {
              obj.attrs.rowSpan = 0
            }
            return obj
          }
        },

        { title: '资质类别及等级', align: 'center', dataIndex: 'label' },
        {
          title: '有效期至',
          dataIndex: 'effectTime',
          align: 'center',
          customRender: (text, row, index) => {
            const obj = {
              children: text,
              attrs: {}
            }
            const tableIndex = this.buildQua.findIndex(e => {
              return e.effectTime === text
            }) // 找第一次出现的位置
            const find = this.buildQua.filter(e => {
              return e.effectTime === text
            })
            const colLength = find.length
            if (index === tableIndex) {
              obj.attrs.rowSpan = colLength
            } else {
              obj.attrs.rowSpan = 0
            }
            return obj
          }
        }
      ]
    },
    bmCaseList() {
      const ary = this.detail.bmcaseVO
        ? this.$deepCopy(this.detail.bmcaseVO)
        : ''
      let bm = []
      if (ary.length > 1) {
        bm = ary.splice(0, 2)
      } else {
        bm = ary
      }
      return bm
    }
  },
  data() {
    return {
      haveMoreCase: false,
      activeKey: '1',
      enterpriseId: '',
      detail: {},
      gapsImg,
      phoneBg,
      buildQua: [],
      buildQuaNum: 0,
      registerStaff: [],
      registerNum: 0,
      registerColumn: [
        { title: '序号', dataIndex: 'index', width: '100px', align: 'center' },
        { title: '姓名', dataIndex: 'personName', align: 'center' },
        { title: '注册类别', dataIndex: 'registerType', align: 'center' },
        // { title: '注册号', dataIndex: 'index' },
        { title: '注册专业', dataIndex: 'registerMajor', align: 'center' }
      ],
      registerPage: 1,
      registerTable: [],
      checkTime: [],
      checkNum: 0,
      checkColumn: [
        { title: '序号', dataIndex: 'index', width: '100px', align: 'center' },
        { title: '核查日期', dataIndex: 'checkDate', align: 'center' },
        { title: '核查情况', dataIndex: 'checkSituation', align: 'center' },
        { title: '备注', dataIndex: 'remarks', align: 'center' }
      ],
      followPage: 1,
      followData: [],
      followNum: 0,
      followColumn: [
        { title: '序号', dataIndex: 'index', width: '100px', align: 'center' },
        { title: '时间', dataIndex: 'createTime', align: 'center' },
        { title: '用户名', dataIndex: 'memberName', align: 'center' },
        { title: '状态', dataIndex: 'followStatus', align: 'center' },
        { title: '跟进备注', dataIndex: 'remarks', align: 'center' }
      ],
      currentRegisterIndex: 0,
      caseModal: false,
      caseData: []
    }
  },
  methods: {
    dblCopy(phone) {
      copyThisText(phone)
      this.$message.success('电话号码已复制到粘贴板')
    },
    showAllCase() {
      this.caseData = []
      this.detail.bmcaseVO.forEach((e, i) => {
        this.caseData = this.caseData.concat(
          e.lackRegisterPersonList.map((r, j) => {
            return {
              index: i + '+' + j,
              caseNo: e.caseNo,
              register: `<span class="text-sysPrimary">${r.registerMajor}</span> ${r.registerType}${r.needNum}人`
            }
          })
        )
      })
      this.caseModal = true
    },
    closeModal() {
      this.caseModal = false
    },
    checkIsHaveMoreCase() {
      if (this.detail.bmcaseVO.length > 2) {
        this.haveMoreCase = true
      }
      this.detail.bmcaseVO.forEach(e => {
        if (e.lackRegisterPersonList.length > 1) {
          this.haveMoreCase = true
        }
      })
    },
    setFollowStatus(v) {
      const status = [
        { label: '有意向', value: 'INTENTION' },
        { label: '无意向', value: 'NO_INTENTION' },
        { label: '挂断/打错/同行', value: 'HANG_UP' },
        { label: '辞职/公司倒闭', value: 'RESIGNATION' },
        { label: '未成交', value: 'NO_DEAL' },
        { label: '已成交', value: 'DEAL' }
      ]
      const find = status.find(e => {
        return e.value === v
      })
      if (find) {
        return find.label
      } else if (v === 'RECEIVED') {
        return '已领取'
      } else if (v === 'RETURN_BACK') {
        return '退回公海'
      }
    },
    confirmFollow(data) {
      const params = {
        ...data,
        enterpriseId: this.enterpriseId
      }
      // console.log(params)
      this.$httpRequester
        .post('bm/follow/addFollowRecord', params)
        .then(() => {
          this.changeFollowPage(1).then(() => {
            this.$message.success('跟进成功')
            this.$refs.gapFollow.modalHandleCancel()
            this.activeKey = '4'
            this.getEnterpriseDetail()
          })
        })
        .catch(() => {
          this.changeFollowPage(1).then(() => {
            this.$refs.gapFollow.modalHandleCancel()
            this.activeKey = '4'
            this.getEnterpriseDetail()
          })
          // setTimeout(() => {
          //   location.reload()
          // }, 800)
        })
    },
    addFollow() {
      this.$refs.gapFollow.showModal(this.detail.contactPhone[0])
    },
    changeTabPane(key) {
      this.activeKey = key
    },
    async changeFollowPage(page) {
      this.followPage = page
      const parmas = {
        enterpriseId: this.enterpriseId,
        pageNum: this.followPage
      }
      await this.$httpRequester
        .post('bm/follow/queryPage', parmas)
        .then(res => {
          this.followNum = res.totalSize

          this.followData = res.data.map((d, i) => {
            const j = i + (res.pageNum - 1) * res.pageSize
            return {
              ...d,
              followStatus: this.setFollowStatus(d.followStatus),
              index: j + 1 < 10 ? '0' + (j + 1) : j + 1
            }
          })
        })
    },
    changeRegisterPage(page) {
      this.registerPage = page
    },
    changeRegisterType(key) {
      this.currentRegisterIndex = key
      this.registerPage = 1
      this.registerTable = this.registerStaff[key].value
    },
    getEnterpriseDetail() {
      this.$httpRequester
        .get('bm/buildManGap/detail', { enterpriseId: this.enterpriseId })
        .then(res => {
          this.detail = res
          this.checkIsHaveMoreCase()
        })
    },
    receiveThisEnterprise() {
      this.$httpRequester
        .get('bm/clue/receive', { enterpriseId: this.enterpriseId })
        .then(() => {
          this.getEnterpriseDetail()
        })
        .catch(err => {
          if (err.code === '2005') {
            detailModule.setExpriedModalShow(true)
          }
          if (err.code === '5003') {
            Modal.info({
              title: '温馨提示',
              content: err.msg,
              okText: '确定',
              onOk: () => {
                console.log('is ok')
              }
            })
          } else if (err.code === '5008') {
            detailModule.setGoToVipTeamModalShow(true)
          } else if (err.code === '5013') {
            detailModule.setGoToVipModalShow(true)
          }
        })
    },
    async getAllInfo() {
      const parmas = { enterpriseId: this.enterpriseId }
      const d = this.$httpRequester.get('bm/buildManGap/detail', parmas)
      const q = this.$httpRequester.get(
        'qualification/selQualificationByEnterpriseId',
        parmas
      )
      const r = this.$httpRequester.get(
        'bm/registerPerson/selByEnterpriseId',
        parmas
      )
      const c = this.$httpRequester.get(
        'bm/dynamicCheck/selByEnterprise',
        parmas
      )
      const f = this.$httpRequester.post('bm/follow/queryPage', parmas)
      await Promise.all([d, q, r, c, f]).then(res => {
        this.detail = res[0]
        // console.log(res)
        // console.log(this.detail)
        this.checkIsHaveMoreCase()
        const buildQua = res[1].filter(e => {
          return e.industryName === '施工资质'
        })
        this.buildQuaNum = 0
        const buildQuaList = buildQua[0] ? buildQua[0].certificates : []
        buildQuaList.forEach(e => {
          this.buildQuaNum += e.qualificationNum
          e.items.forEach(item => {
            this.buildQua.push({
              quaType: '建筑行业资质',
              effectTime: e.effectiveDate,
              no: e.certificateNo,
              label: item.qualificationName
            })
          })
        })
        this.buildQua = this.buildQua.map((e, i) => {
          return {
            ...e,
            index: i + 1 < 10 ? '0' + (i + 1) : i + 1
          }
        })
        if (res[2]) {
          this.registerNum = 0
          for (const key in res[2]) {
            if (Object.hasOwnProperty.call(res[2], key)) {
              const element = res[2][key]
              this.registerStaff.unshift({
                label: key,
                value: element.map((ele, i) => {
                  return {
                    ...ele,
                    index: i + 1 < 10 ? '0' + (i + 1) : i + 1
                  }
                })
              })
              this.registerNum += element.length
            }
          }
          this.registerTable = this.registerStaff[0].value
        }
        this.checkTime = res[3]
          ? res[3].map((e, i) => {
              return {
                ...e,
                index: i + 1 < 10 ? '0' + (i + 1) : i + 1
              }
            })
          : []
        this.checkNum = this.checkTime.length
        if (this.checkTime.length){
          this.checkTime.forEach(item=>{
            if (Object.prototype.toString.call(item.checkDate) === '[object Object]'){
              item.checkDate=item.checkDate.year+'-'+item.checkDate.monthValue+'-'+item.checkDate.dayOfMonth
            }
          })
        }

        this.followNum = res[4].totalSize
        this.followData = res[4].data.map((d, i) => {
          return {
            ...d,
            followStatus: this.setFollowStatus(d.followStatus),
            index: i + 1 < 10 ? '0' + (i + 1) : i + 1
          }
        })
        this.activeKey = this.$route.query.tabIndex || '1'
      })
    }
  },
  async mounted() {
    this.enterpriseId = this.$route.query.enterpriseId
    await this.getAllInfo()
  }
}
</script>

<style lang="scss" scoped>
.talents-gaps {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 16px 16px 16px;
  .register-btn {
    cursor: pointer;
    &:hover {
      color: #00ab94;
    }
  }
  .isCurrenType {
    color: #00ab94;
  }
  .absolute-btn {
    position: absolute !important;
  }
  .contant-btn {
    border-color: #00ab94;
    color: #00ab94;
  }
  .more-btn {
    position: absolute;
    right: 0;
    z-index: 99;
    bottom: -22px;
  }
}
</style>
