<template>
  <div class="talents-gaps relative">
    <!-- <div
      class="w-full box-border absolute top-0 left-0 p-[16px] 
      bg-white"
    >
      <a-breadcrumb>
        <a-breadcrumb-item>
          人员查询
        </a-breadcrumb-item>
        <a-breadcrumb-item>
          人员缺口名录
        </a-breadcrumb-item>
      </a-breadcrumb>
    </div> -->
    <div id="tableFilter" class="filter-content">
      <div class="filter-item">
        <div class="filter-label">注册地区：</div>
        <a-tree-select
          id="areaTree"
          v-model="area"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          :filterTreeNode="notFilter"
          :getPopupContainer="getPopupContainer"
          :showCheckedStrategy="SHOW_PARENT"
          allow-clear
          aria-readonly
          class="area-select"
          placeholder="请选择区域 "
          treeCheckable
          @change="selectArea"
        >
          <a-tree-select-node
            v-for="item in areaOptions"
            :key="item.value"
            :disabled="item.disabled"
            :title="item.label"
            :value="item.value"
          >
            <a-tree-select-node
              v-for="child in item.cityList"
              :key="child.areaCode"
              :disabled="item.disabled"
              :title="child.areaName"
              :value="child.areaCode"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select>
      </div>
      <div class="filter-item">
        <div class="filter-label">注册类别：</div>
        <a-radio-group
          v-model="type"
          class="filter-radio"
          @change="onChangeType"
        >
          <a-radio value="一级注册建造师">
            一级建造师
          </a-radio>
          <a-radio value="二级注册建造师">
            二级建造师
          </a-radio>
        </a-radio-group>
      </div>
      <div class="filter-item">
        <div class="filter-label">注册专业：</div>
        <div class="major-select">
          <a-select
            v-model="major"
            :allowClear="true"
            :getPopupContainer="getPopupContainer"
            class="filter-select"
            placeholder="请选择缺证类型"
          >
            <a-option
              v-for="(item, key) in qualificationOptions"
              :key="key"
              :value="item.value"
            >
              {{ item.label }}
            </a-option>
          </a-select>
          <img class="w-[14px] h-[14px] ml-[16px]" :src="equalGreat" />
          <div class="member-count  ml-[15px]">
            <a-input-number
              v-model="count"
              :precision="0"
              :min="0"
              :max="100000"
            />
            人
          </div>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-label">企业名称：</div>
        <a-input
          class="w-[300px]"
          placeholder="请输入企业名称"
          v-model="enterpriseName"
          allowClear
        />
      </div>
      <div class="filter-item">
        <a-button
          type="primary"
          @click="findTableList"
          class="filter-btns have-rt-margin"
        >
          查询
        </a-button>
        <a-button class="filter-btns" @click="resetFilter">重置</a-button>
      </div>
      <div
        class="tips-band absolute right-[24px] top-[24px] px-[20px] py-[16px] w-[224px]
         border-[1px] border-solid border-opacity-60  border-sysPrimary z-10
         bg-[#F4FFFE]"
      >
        <div class=" text-sysPrimary text-[12px] mb-[8px]">怎么查询....？</div>
        <ul class=" text-textPrimary mb-0 text-[12px] leading-[24px] tip-ul">
          <li>
            手中有证，有什么证就搜什么证
          </li>
          <li>
            手中无证，按地区搜
          </li>
        </ul>
        <div class="tip-triangle"></div>
      </div>
    </div>
    <div class="table-content">
      <div class="table-tool">
        <div class="text-[#686868] text-[14px]">
          为您查找到
          <span class="text-textPrimary font-medium"> {{ itemNum }} </span>
          家符合条件的企业
          <a-select
            id="checkSelect"
            v-model="checkTime"
            :allowClear="true"
            class="check-select"
            :getPopupContainer="getCeckPopupContainer"
            @change="changeCheckTime"
            @mouseenter="openCheckTimeOption"
            @mouseleave="closeCheckTimeOption"
            :open="openCheckTime"
            placeholder="动态核查标记"
          >
            <a-option
              v-for="(item, key) in checkOptions"
              :key="key"
              :value="item.value"
            >
              {{ item.label }}
            </a-option>
          </a-select>
        </div>
      </div>

      <div v-if="total">
        <table-item
          v-for="(item, index) in tableData"
          :key="index"
          :item="item"
          :isClicked="findClickedItem(item.enterpriseId)"
          @goToDetail="clickThisItem"
          @receiveThisItem="receiveThisItem"
          @addFollow="addFollow"
        ></table-item>
        <div v-show="dataLoading" class="loading">
          <a-spin size="large" tip="加载中......"/>
        </div>
        <div class=" justify-end flex items-center w-full mt-[24px]">
          <a-pagination
            @change="changePage"
            :pageSize="pageSize"
            v-model="pageNum"
            :hideOnSinglePage="true"
            :showQuickJumper="true"
            :total="total"
          />
          <a-button v-if="total > pageSize" class="ml-[20px]">确定</a-button>
        </div>
      </div>
      <div v-else>
        <block-data
          imageWidth="600px"
          :imageSrc="notFind"
          :text="''"
          :titleText="''"
        ></block-data>
      </div>
    </div>
    <follow
      @confirmFollow="confirmFollow"
      :enterprisePhoneList="followPhoneList"
      ref="gapFollow"
    ></follow>
  </div>
</template>

<script>
import {
  TreeSelect,
  Radio,
  Select,
  InputNumber,
  Pagination,
  Modal,
  Input,
  Spin,
  Breadcrumb
} from 'ant-design-vue'
import { universalModule } from '@/store/modules/universal'
import { talentsModule } from '@/store/modules/talents'
import tableItem from './TableItem.vue'
import { detailModule } from '@/store/modules/detail'
import follow from './Follow.vue'
import equalGreat from '@/assets/image/tanlents/equalGreat.png'
import { hide } from '@/components/pageationHide.js'
import BlockData from '@/components/BlockData.vue'
import notFind from '@/assets/image/no_data_block.png'
export default {
  name: 'talents-gaps',
  components: {
    BlockData,
    aInputNumber: InputNumber,
    aSelect: Select,
    aOption: Select.Option,
    aRadioGroup: Radio.Group,
    aRadio: Radio,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    tableItem,
    aPagination: Pagination,
    aModal: Modal,
    aBreadcrumb: Breadcrumb,
    aBreadcrumbItem: Breadcrumb.Item,
    follow,
    aInput: Input,
    aSpin: Spin
  },
  computed: {
    areaOptions() {
      const options = universalModule.areaCityOptions
      const gangAoTai = [810000, 820000, 710000]
      options.forEach(e => {
        gangAoTai.forEach(a => {
          if (e.value === a) {
            e.disabled = true
          }
        })
      })
      return options
    },

    // areaOptions() {
    //   const options = universalModule.areaCityOptions.forEach(e => {
    //     return ['江苏', '浙江', '广东', '四川', '云南', '湖南', '山东'].find(
    //         a => {
    //           return e.label.indexOf(a) > -1
    //         }
    //     )
    //   })
    //   return options
    // },
    isListQuery() {
      return detailModule.isListQuery
    }
  },
  watch: {
    isListQuery: {
      handler(val) {
        if (val) {
          this.getGapList()
          detailModule.setListQuery(false)
        }
      }
    }
  },
  data() {
    return {
      dataLoading: false,
      enterpriseName: '',
      openCheckTime: false,
      notFind,
      SHOW_PARENT: TreeSelect.SHOW_PARENT,
      equalGreat,
      area: [],
      areaCodes: [],
      type: '二级注册建造师',
      count: undefined,
      major: undefined,
      qualificationOptions: [
        { label: '建筑工程', value: '建筑工程' },
        { label: '公路工程', value: '公路工程' },
        { label: '铁路工程', value: '铁路工程' },
        { label: '民航机场工程', value: '民航机场工程' },
        { label: '港口与航道工程', value: '港口与航道工程' },
        { label: '水利水电工程', value: '水利水电工程' },
        { label: '市政公用工程', value: '市政公用工程' },
        { label: '通信与广电工程', value: '通信与广电工程' },
        { label: '矿业工程', value: '矿业工程' },
        { label: '机电工程', value: '机电工程' }
      ],
      itemNum: 0,
      checkTime: undefined,
      checkOptions: [
        { label: '近1个月被核查', value: 'ONE_MONTH_CHECK' },
        { label: '近半年被核查', value: 'HALF_YEAR_CHECK' },
        { label: '近1年被核查', value: 'ONE_YEAR_CHECK' },
        { label: '1年以上被核查', value: 'ONE_YEAR_MORE_CHECK' },
        { label: '没有被核查', value: 'NO_CHECK' }
      ],
      filter: {},
      pageSize: 10,
      pageNum: 1,
      total: 0,
      tableData: [],
      followPhoneList: [],
      followId: '',
      fangdou: null,
      clickedList: []
    }
  },
  methods: {
    getCeckPopupContainer() {
      return document.getElementById('checkSelect')
    },
    findClickedItem(id) {
      return this.clickedList.includes(id)
    },
    clickThisItem(id) {
      // console.log(this.clickedList)
      const history = {
        name: 'talentsDetail',
        title: '企业详情',
        query: {
          enterpriseId: id
        }
      }
      talentsModule.changeHistoryListItem(history)
      if (this.clickedList.includes(id)) {
        return
      } else {
        this.clickedList.push(id)
      }
    },
    closeCheckTimeOption() {
      this.openCheckTime = false
    },
    openCheckTimeOption() {
      this.openCheckTime = true
    },
    changeCheckTime() {
      this.pageNum = 1
      this.getGapList()
    },
    showTotal(total) {
      return '共' + total + '条数据'
    },
    findTableList() {
      this.pageSize = 10
      this.pageNum = 1
      this.checkTime = undefined
      this.getGapList()
    },
    notFilter() {
      return false
    },
    changePage(page) {
      // console.log(page)
      this.pageNum = page
      this.$emit('goBackToTop')
      this.getGapList().then(() => {
        // this.$emit('goBackToTop')
      })
    },
    resetFilter() {
      // this.checkTime = undefined
      this.area = []
      this.areaCodes = []
      this.type = '二级注册建造师'
      this.count = undefined
      this.major = undefined
      this.enterpriseName = ''
      // this.qualificationOptions = [
      //   // { label: '建筑工程', value: '建筑工程' },
      //   // { label: '公路工程', value: '公路工程' },
      //   // { label: '铁路工程', value: '铁路工程' },
      //   // { label: '民航机场工程', value: '民航机场工程' },
      //   // { label: '港口与航道工程', value: '港口与航道工程' },
      //   // { label: '水利水电工程', value: '水利水电工程' },
      //   // { label: '市政公用工程', value: '市政公用工程' },
      //   // { label: '通信与广电工程', value: '通信与广电工程' },
      //   // { label: '矿业工程', value: '矿业工程' },
      //   // { label: '机电工程', value: '机电工程' }
      //   { label: '建筑工程', value: '建筑工程' },
      //   { label: '公路工程', value: '公路工程' },
      //   { label: '水利水电工程', value: '水利水电工程' },
      //   { label: '矿业工程', value: '矿业工程' },
      //   { label: '市政公用工程', value: '市政公用工程' },
      //   { label: '机电工程', value: '机电工程' }
      // ]
      this.onChangeType()
      this.pageSize = 1
    },
    getPopupContainer() {
      return document.getElementById('tableFilter')
    },
    async onChangeType() {
      this.major = undefined
      // const value = e.target.value
      if (this.type === '一级注册建造师') {
        this.qualificationOptions = [
          { label: '建筑工程', value: '建筑工程' },
          { label: '公路工程', value: '公路工程' },
          { label: '铁路工程', value: '铁路工程' },
          { label: '民航机场工程', value: '民航机场工程' },
          { label: '港口与航道工程', value: '港口与航道工程' },
          { label: '水利水电工程', value: '水利水电工程' },
          { label: '市政公用工程', value: '市政公用工程' },
          { label: '通信与广电工程', value: '通信与广电工程' },
          { label: '矿业工程', value: '矿业工程' },
          { label: '机电工程', value: '机电工程' }
        ]
      } else {
        this.qualificationOptions = [
          { label: '建筑工程', value: '建筑工程' },
          { label: '公路工程', value: '公路工程' },
          { label: '水利水电工程', value: '水利水电工程' },
          { label: '矿业工程', value: '矿业工程' },
          { label: '市政公用工程', value: '市政公用工程' },
          { label: '机电工程', value: '机电工程' }
        ]
      }
    },
    selectArea(val) {
      // console.log(val)
      this.areaCodes = []
      this.areaOptions.forEach(e => {
        if (val.includes(e.value)) {
          this.areaCodes = this.areaCodes.concat(
            e.cityList.map(c => {
              return c.areaCode
            })
          )
        }
      })
      this.areaCodes = this.areaCodes.concat(val)
      // console.log(this.areaCodes)
    },
    async getGapList() {
      
      const params = {
        areaCodes: this.areaCodes,
        dynamicCheck: this.checkTime,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        registerMajor: this.major,
        registerNum: this.count,
        enterpriseName: this.enterpriseName,
        registerType: this.type
      }
      this.dataLoading = true
      await this.$httpRequester
        .post('bm/buildManGap/list', params)
        .then(res => {
          console.log(res)
          const replaceReg = new RegExp(this.enterpriseName, 'g')
          // 高亮替换v-html值
          const replaceString =
            '<span class="hightlight">' + this.enterpriseName + '</span>'
          res.data.forEach(e => {
            // console.log(e)
            e.enterpriseNameHTML = this.enterpriseName
              ? e.enterpriseName.replace(replaceReg, replaceString)
              : e.enterpriseName // 开始替换
            e.qualificationList = []
            if (e.phoneList && e.phoneList.length) {
              if (e.haveReceive) {
                e.phoneListText = e.phoneList
                  .map(c => {
                    return (
                      '<span ondblclick="copyThisText(' +
                      c +
                      ')">' +
                      c +
                      '</span>'
                    )
                  })
                  .join('、')
              } else {
                e.phoneListText = e.phoneList.join('、')
              }
              //  : '***********'
            } else {
              e.phoneListText = '暂无联系方式'
            }
            switch (e.dynamicCheckEnum) {
              case 'NO_CHECK':
                e.checkTime = '没有被核查'
                break
              case 'ONE_MONTH_CHECK':
                e.checkTime = '近1个月被核查'
                break
              case 'HALF_YEAR_CHECK':
                e.checkTime = '近半年被核查'
                break
              case 'ONE_YEAR_CHECK':
                e.checkTime = '近1年被核查'
                break
              case 'ONE_YEAR_MORE_CHECK':
                e.checkTime = '1年以上被核查'
                break
              default:
                e.checkTime = '没有被核查'
                break
            }
            e.buildQualificationsList
              .filter(b => {
                return b.qualificationItems.length
              })
              .forEach(q => {
                e.qualificationList.push(...q.qualificationItems)
              })
            e.qualificationListText = e.qualificationList
              .map(q => {
                return q.qualificationName
              })
              .join('、')
          })
          this.tableData = res.data
          this.total = res.totalSize
          if (res.totalSize < 1000) {
            this.itemNum = res.totalSize
          } else {
            const unit = res.totalSize.toString().length
            if (unit > 4) {
              this.itemNum =
                Math.floor(res.totalSize / Math.pow(10, unit - 2)) *
                  Math.pow(10, unit - 2) +
                '+'
            } else {
              this.itemNum =
                Math.floor(res.totalSize / Math.pow(10, unit - 1)) *
                  Math.pow(10, unit - 1) +
                '+'
            }
          }
          this.$nextTick(() => {
            hide(this.total, this.pageNum)
          })
        })

        .finally(() => {
          this.dataLoading = false
        })
    },
    receiveThisItem(enterpriseId) {
      this.$httpRequester
        .get('bm/clue/receive', { enterpriseId })
        .then(() => {
          this.getGapList()
        })
        .catch(err => {
          if (err.code === '2005') {
            detailModule.setExpriedModalShow(true)
          }
          if (err.code === '5003') {
            Modal.info({
              title: '温馨提示',
              content: err.msg,
              okText: '确定',
              onOk: () => {
                console.log('is ok')
              }
            })
          } else if (err.code === '5008') {
            detailModule.setGoToVipTeamModalShow(true)
          } else if (err.code === '5013') {
            detailModule.setGoToVipModalShow(true)
          }
        })
    },
    addFollow(item) {
      this.followId = item.enterpriseId
      this.followPhoneList = item.phoneList
      this.$refs.gapFollow.showModal(item.phoneList[0])
    },
    confirmFollow(data) {
      const params = {
        ...data,
        enterpriseId: this.followId
      }
      // console.log(params)
      this.$httpRequester
        .post('bm/follow/addFollowRecord', params)
        .then(() => {
          this.getGapList().then(() => {
            this.$message.success('跟进成功')
            this.$refs.gapFollow.modalHandleCancel()
          })
        })
        .catch(() => {
          this.$refs.gapFollow.modalHandleCancel()
          this.getGapList()
        })
    },
    setHistoryToFilter(history) {
      this.pageNum = history.pageNum
      this.areaCodes = history.areaCodes
      this.area = history.areaCodes
      this.type = history.registerType
      this.enterpriseName = history.enterpriseName
      this.onChangeType().then(() => {
        this.major = history.registerMajor
        this.count = history.registerNum
        this.getGapList()
      })

      // this.checkTime = history.dynamicCheck
    },
    getFilterHistory() {
      const params = {
        conditionEnum: 'PERSONNEL_QUERY'
      }
      this.$httpRequester.get('filter/queryCondition', params).then(res => {
        // console.log(res)
        if (res) {
          const history = JSON.parse(res.filterCondition)
          this.setHistoryToFilter(history)
        } else {
          this.getGapList()
        }
      })
    }
  },
  mounted() {
    universalModule.setAreaOptions()
    this.$nextTick(() => {
      const dom = document.getElementById('areaTree')
      const areaTreeInput = dom.getElementsByTagName('input')[0]
      const areaTreeFather = areaTreeInput.parentElement
      areaTreeFather.removeChild(areaTreeInput)
    })
    this.getFilterHistory()
    const history = localStorage.getItem('talentHistory') || '[]'
    const historyList = JSON.parse(history)
    if (!historyList.length) {
      talentsModule.changeTalentHistoryListItem({
        title: '人员缺口名录',
        name: this.$route.name
      })
    }
  }
}
</script>
<style lang="scss">
.check-select {
  width: 142px;
  margin-left: 16px;

  .ant-select-selection {
    border-color: #00ab94;
  }

  .ant-select-selection-selected-value {
    color: #00ab94;
  }

  .ant-select-selection__placeholder {
    color: #00ab94;
  }

  .ant-select-arrow .ant-select-arrow-icon {
    color: #00ab94;
  }
}
</style>

<style lang="scss" scoped>
.talents-gaps {
  box-sizing: border-box;
  padding: 16px 16px 16px 16px;
  width: 100%;

  .filter-content {
    width: 100%;
    padding: 20px 24px 10px 24px;
    background-color: #fff;
    position: relative;
    border-radius: 2px;

    .filter-item {
      margin-bottom: 20px;
      display: flex;
      z-index: 20;
      position: relative;
      align-items: flex-start;

      .filter-label {
        color: #282828;
        font-size: 14px;
        height: 30px;
        flex-shrink: 0;
        margin-right: 10px;
        line-height: 30px;
      }

      .area-select {
        min-width: 300px;
      }

      .filter-select {
        min-width: 300px;
      }

      .filter-btns {
        width: 88px;
      }

      .filter-radio {
        height: 30px;
        display: flex;
        align-items: center;
      }

      .major-select {
        display: flex;
        align-items: center;
      }
    }
  }

  .tip-ul {
    li {
      // &::before {
      //   content: '';
      //   width: 4px;
      //   height: 4px;
      //   display: inline-block;
      //   border-radius: 2px;
      //   vertical-align: middle;
      //   background-color: #1980ff;
      // }
    }
  }

  .tip-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-right-color: #00ab94;
    border-top-color: #00ab94;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: 1px;
    top: 1px;
  }

  .table-tool {
    padding-bottom: 18px;
    border-bottom: solid 1px #eeeeee;
  }
}
</style>
