<template>
  <div class="gap-item flex  relative items-start py-[24px]">
    <div
      :style="'background-image:url(' + gapsImg + ')'"
      class="w-[60px] h-[60px]  bg-contain flex-shrink-0 mr-[16px]"
    ></div>
    <div class="item-info">
      <div
        :class="{
          'text-textPrimary': !isClicked,
          ' text-textLight': isClicked
        }"
        class="company-name cursor-pointer
         mb-[5px] text-[16px] font-bold"
        @click="goToDetail"
        v-html="item.enterpriseNameHTML"
      >
        <!-- {{ item.enterpriseName }} -->
      </div>

      <!-- <div class="mb-[10px] text-[16px] text-textPrimary">
        {{ item.enterpriseName }}
      </div> -->
      <div class="flex items-center mb-[5px]">
        <div
          @click="goRegisterPerson"
          class="w-[fit-content] cursor-pointer text-textLight 
          text-[12px] pr-[8px] border-r-[1px] border-solid border-[#A0A6AB]"
        >
          <span>注册人员： </span>
          <span class="text-textPrimary">
            {{ item.registerPersonCount }}人
          </span>
        </div>
        <div class=" ml-[8px] text-[14px] relative">
          <span :class="itemLightStyle">注册地区：</span>
          <span class=" text-textPrimary mr-[16px]">
            {{ item.areaName }}
          </span>
          <a-tooltip
            v-if="item.checkTime !== '没有被核查'"
            :destroyTooltipOnHide="true"
            placement="right"
          >
            <template slot="title">
              <span>{{ item.checkTime }}</span>
            </template>
            <span
              @click="goCeheckTimeDetail"
              class="inline-block
            text-[#FF7F28]
            border-[#FF7F28] border-[1px] border-solid
            bg-[#FFFBF8] text-[12px] font-medium
            px-[8px] py-[1px] rounded-[2px] cursor-pointer z-20"
            >
              动态核查
            </span>
          </a-tooltip>
        </div>
      </div>
      <div class="flex items-start mb-[5px]">
        <span>该企业人员补充方案：</span>
        <div class="text-textPrimary relative">
          <div
            class="flex items-start"
            v-for="(bmcase, index) in bmCase"
            :key="index"
          >
            <span class="w-[70px]">【{{ bmcase.caseNo }}】</span>
            <div>
              <div
                v-for="(person, j) in bmcase.lackRegisterPersonList"
                :key="j"
              >
                <span v-if="j < 1">
                  <span> {{ person.registerMajor }}</span>
                  {{ person.registerType }} {{ person.needNum }}人
                  <span v-if="bmcase.lackRegisterPersonList.length > 1">
                    ...
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div
            v-if="isNeedMore(bmCase)"
            class=" absolute bottom-0 right-[-84px] mt-[5px]  text-tipBlue cursor-pointer"
            size="small"
            type="link"
            @click="showAllCase"
          >
            查看更多方案
            <!-- <a-icon type="double-right" /> -->
          </div>
        </div>
      </div>
      <div class="mb-[5px] text-[14px]">
        <span v-if="!item.haveReceive">
          <span :class="itemLightStyle">联系电话：</span>
          <span class=" text-textPrimary">
            {{ item.phoneListText }}
          </span>
        </span>
        <a-tooltip v-else title="双击可复制电话号码" trigger="hover">
          <span>
            <span :class="itemLightStyle">联系电话：</span>
            <span
              class="font-bold text-tipBlue"
              @dblclick="dblCopy"
              v-html="item.phoneListText"
            ></span
          ></span>
        </a-tooltip>
      </div>

      <div class="mb-[5px] text-[14px]">
        <span :class="itemLightStyle"> 取得施工资质：</span>
        <span class="text-textPrimary">
          {{ item.qualificationListText }}
          共{{ item.qualificationList.length }}项
        </span>
      </div>
      <div class="mb-[8px] text-[14px] relative flex">
        <div>被查看次数：{{ item.receiveCount || 0 }}</div>
        <div class="ml-[15px]">{{ item.answerStatus }}</div>
      </div>
    </div>
    <div
      @click="receiveThisItem"
      v-if="!item.haveReceive"
      class="receive-item w-[72px] h-[24px]
        text-center cursor-pointer rounded-[2px]
        absolute right-[24px] top-[90px]
        leading-[24px] bg-sysPrimary text-white"
    >
      联系企业
    </div>
    <div
      @click="addFollow"
      v-else
      class="receive-item w-[72px] h-[24px]
        text-center cursor-pointer rounded-[2px]
        absolute right-[24px] top-[90px]
        border-[1px] border-solid border-sysPrimary
        leading-[24px]  bg-white text-sysPrimary"
    >
      沟通情况
    </div>
    <a-modal
      width="540px"
      :destroyOnClose="true"
      title="人员补充方案"
      :visible="caseShow"
      @cancel="closeModal"
    >
      <a-table
        :pagination="false"
        rowKey="index"
        :columns="columns"
        :data-source="caseData"
        bordered
      >
        <template slot="register" slot-scope="text">
          <div v-html="text"></div>
        </template>
      </a-table>
      <div class="mt-[12px] text-[13px] text-[rgba(51, 51, 51, 0.65)]">
        说明：1. 二级建造师均可由更高的一级建造师代替
        <br />
        2. 以上方案为大数据分析结果，仅供参考
      </div>
      <div slot="footer">
        <a-button type="primary" @click="closeModal">确认</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>
import gapsImg from '@/assets/image/tableItem/pc_office.png'
import { Tag, Tooltip, Modal, Table } from 'ant-design-vue'

export default {
  name: 'gap-item',
  components: {
    aModal: Modal,
    aTag: Tag,
    aTooltip: Tooltip,
    aTable: Table
  },
  props: {
    item: {
      type: Object,
      default() {
        return {}
      }
    },
    isClicked: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    bmCase() {
      const ary = this.item.bmcaseVO
      let bm = []
      if (ary.length > 2) {
        bm = ary.splice(0, 2)
      } else {
        bm = ary
      }
      return bm
    },
    columns() {
      return [
        {
          title: '方案',
          dataIndex: 'caseNo',
          width: '100px',
          customRender: (text, row, index) => {
            const obj = {
              children: text,
              attrs: {}
            }
            const tableIndex = this.caseData.findIndex(e => {
              return e.caseNo === text
            }) // 找第一次出现的位置
            const find = this.item.bmcaseVO.find(e => {
              return e.caseNo === text
            })
            const colLength = find.lackRegisterPersonList.length
            if (index === tableIndex) {
              obj.attrs.rowSpan = colLength
            } else {
              obj.attrs.rowSpan = 0
            }
            return obj
          }
        },
        {
          title: '人员配置',
          dataIndex: 'register',
          scopedSlots: { customRender: 'register' }
        }
      ]
    }
  },
  data() {
    return {
      caseData: [],
      gapsImg,
      caseShow: false,
      itemLightStyle: 'text-[14px] text-textLight'
    }
  },
  methods: {
    isNeedMore(bmCase) {
      // console.log(bmCase)
      let need = false
      if (bmCase.length > 2) {
        need = true
      } else {
        bmCase.forEach(e => {
          if (e.lackRegisterPersonList.length > 1) {
            need = true
          }
        })
      }
      return need
      // if(bmCase.length > 2){
      //   return true
      // }
      // return true
    },
    isHaveManyBmcase(bmCase) {
      let isHave = false
      bmCase.forEach(e => {
        if (e.lackRegisterPersonList.length > 1) {
          isHave = true
        }
      })
      return isHave
    },
    goRegisterPerson() {
      if (!this.item.registerPersonCount) {
        return
      }
      this.$router.push({
        name: 'talentsDetail',
        query: {
          enterpriseId: this.item.enterpriseId,
          tabIndex: '2'
        }
      })
    },
    goCeheckTimeDetail() {
      if (
        this.item.dynamicCheckEnum === 'NO_CHECK' ||
        !this.item.dynamicCheckEnum
      ) {
        return
      }
      this.$router.push({
        name: 'talentsDetail',
        query: {
          enterpriseId: this.item.enterpriseId,
          tabIndex: '3'
        }
      })
    },
    closeModal() {
      this.caseShow = false
    },
    showAllCase() {
      this.caseData = []
      this.item.bmcaseVO.forEach((e, i) => {
        this.caseData = this.caseData.concat(
          e.lackRegisterPersonList.map((r, j) => {
            return {
              index: i + '+' + j,
              caseNo: e.caseNo,
              register: `<span class="text-sysPrimary">${r.registerMajor}</span> ${r.registerType}${r.needNum}人`
            }
          })
        )
      })
      this.caseShow = true
    },
    receiveThisItem() {
      this.$emit('receiveThisItem', this.item.enterpriseId)
    },
    addFollow() {
      this.$emit('addFollow', {
        enterpriseId: this.item.enterpriseId,
        phoneList: this.item.phoneList
      })
    },
    goToDetail() {
      this.$emit('goToDetail', this.item.enterpriseId)
      this.$router.push({
        name: 'talentsDetail',
        query: {
          enterpriseId: this.item.enterpriseId
        }
      })
    },
    dblCopy() {
      this.$message.success('电话号码已复制到粘贴板')
    }
  }
}
</script>

<style lang="scss">
.hightlight {
  color: #f30c0c !important;
}
</style>
<style lang="scss" scoped>
.gap-item {
  background-color: #fff;
  border-bottom: solid 1px #eeeeee;
  font-weight: 500;
  &:hover {
    background-color: rgba($color: #00ab94, $alpha: 0.05);
    .company-name {
      color: #00ab94;
    }
  }
  // .register-count {
  //   border: solid 1px #a0a2a7;
  //   width: fit-content;
  //   height: 20px;
  //   line-height: 20px;
  //   padding: 0 4px;
  //   border-radius: 2px;
  // }

  .company-name {
    &:hover {
      color: #00ab94;
    }
  }
}
</style>
