<template>
  <div>
    <div class="contact-menu">
      <div v-for="(item, index) in concatMenus" :key="index" class="menu-items">
        <span
            :class="{
            selected: contactType === item.type,
            notClick: !contactList[item.type].length
          }"
            class="item"
            type="link"
            @click="switchContactTable(item)"
        >{{ item.title }}({{ contactList[item.type].length }})</span
        >
        <span v-if="index < concatMenus.length - 1" class="circle-point"></span>
      </div>

      <a-button v-if="isAdmin" class="addBtn" @click="adminAddContactsClick"
      >新增
      </a-button>
    </div>
    <div class="contact-list">
      <div    class="contace-item"   v-for="(item, index) in contactList[contactType]"
              :key="index">
        <div
            class="contace-item-box"
        >
          <div v-if="item.contactsType === '2'"
               :class="{ adminHideContactsClass: confirmEnding(item.contactsPhone,'*'),adminHideContactsClassName: !confirmEnding(item.contactsPhone,'*') }">
            >
            {{ item.contactsPhone }}
            <span class="ml-[6px]">{{ item.isHide ? '(数据验证中)' : '' }}</span>

          </div>
          <div v-if="item.contactsType === '1'" class="phone">
            <div v-if="isFromClient"
                 :class="{ adminHideContactsClass: confirmEnding(item.contactsPhone,'*'),adminHideContactsClassName: !confirmEnding(item.contactsPhone,'*') }">
              {{ item.contactsPhone }}
              <span class="ml-[6px]">{{item.isHide? '(数据验证中)' : '' }}</span>
            </div>
            <div v-else>
              <a-tooltip :title="confirmEnding(item.contactsPhone,'*')?'':'双击复制联系电话'" arrow-point-at-center>
                <a :class="{ adminHideContactsClass: confirmEnding(item.contactsPhone,'*'),adminHideContactsClassName: !confirmEnding(item.contactsPhone,'*') }"
                   @dblclick="copyPhone(item.contactsPhone)">
                  {{ item.contactsPhone }}
                  <span class="ml-[6px]">{{ item.isHide ? '(数据验证中)' : '' }}</span>
                </a>
                <img
                    v-if="item.contactsPhone&&!confirmEnding(item.contactsPhone,'*')"
                    :src="iconCopy"
                    alt=""
                    class="copy-icon"
                    @click="copyPhone(item.contactsPhone)"
                />
              </a-tooltip>
            </div>
            <!-- <a-tooltip
              arrow-point-at-center
              placement="right"
              title="点击复制电话到粘贴板"
            > -->
            <!-- <a-icon
                type="copy"
                class="copy-icon"
                @click="copyPhone(item.contactsPhone)"
              /> -->
            <!-- <img
                v-if="item.contactsPhone"
                :src="iconCopy"
                class="copy-icon"
                @click="copyPhone(item.contactsPhone)"
              />
            </a-tooltip> -->
          </div>

          <div v-if="isAdmin"
               :class="{ adminHideContactsClick: confirmEnding(item.contactsPhone,'*'),adminHideContacts: !confirmEnding(item.contactsPhone,'*') }"
               @click="onChange(item.id)">
            {{ item.isHide ? '显示' : '隐藏' }}
          </div>
        </div>
      </div>

      <div v-if="!contactList[contactType].length" class="no-data">
        <span>
          暂无手机号。
        </span>
        <!--        ，程序员正在努力解析。注：除了高风险，其他风险程度不影响分立。-->
        <!--        <a-select
          class="detail-risk-filter"
          v-model="riskLevelFilter"
          allowClear
          @change="setRiskLevelFilter"
          placeholder="请选择企业风险等级"
        >
          <a-select-option
            v-for="(item, key) in riskOption"
            :key="key"
            :value="item.value"
          >
            {{ item.label }}
          </a-select-option>
        </a-select>-->
      </div>
    </div>

    <div class="adminAddContacts">
      <a-modal
          v-model="isShowAdminAddContacts"
          :destroyOnClose="true"
          width="600px"
          @cancel="() => closeModal()"
          @ok="() => beforeSubmit()"
      >
        <div slot="title" style="text-align:center">新增联系电话</div>
        <form-index
            ref="addContactsForm"
            v-model="formValue"
            :formItems="formItems"
            :labelCol="{ span: 5 }"
        ></form-index>
      </a-modal>
    </div>
    数据来源：该数据源于国家企业信用信息公示系统、百度1
  </div>
</template>

<script lang="ts">
import {Tooltip, Select, Button, Modal} from 'ant-design-vue'
import poke from '@/assets/image/poke.png'
import iconCopy from '@/assets/image/icon/ic_copy.png'
import formIndex from '@/components/Form/index.vue'
import Vue from 'vue'
import formType from '@/components/Form/formType'
import {detailModule} from '@/store/modules/detail'
import {userModule} from '@/store/modules/user'

export default Vue.extend({
  name: 'company-detail-concat',
  computed: {
    formItems(): any {
      return [
        {
          label: '电话号码',
          type: formType.INPUT,
          value: this.formValue.contacts,
          name: 'contacts',
          validate: [
            {
              required: true,
              validator: this.validatePhoneNumber,
              trigger: 'blur'
            }
          ],
          placeholder: '请输入电话号码'
        },
        {
          label: '是否法人验证',
          type: formType.RADIO,
          name: 'isLegalMan',
          validate: [
            {
              required: true,
              message: '请选择是否法人验证',
              trigger: 'change'
            }
          ],
          options: [
            {label: '是', value: true},
            {label: '否', value: false}
          ],
          value: this.formValue.isLegalMan
        }
      ]
    },
    basicInfo(): any {
      return detailModule.enterpriseItem
    },
    isAdmin(): any {
      return userModule.roleLevel === 1
    }
  },
  data() {
    return {
      iconCopy,
      isShowAdminAddContacts: false,
      isShowAdminHideContacts: false,
      riskLevelFilter: undefined,
      riskOption: [
        {label: '无风险', value: '0'},
        {label: '低风险', value: '1'},
        {label: '中风险', value: '2'},
        {label: '高风险', value: '3'}
      ],
      poke,
      concatMenus: [
        {title: '全部', type: 'all'},
        {title: '手机', type: 'mobile'},
        {title: '固话', type: 'phone'}
      ],
      contactType: 'all',
      formValue: {
        enterpriseId: '',
        contacts: '',
        isLegalMan: true
      },
    }
  },
  components: {
    formIndex,
    aSelect: Select,
    aSelectOption: Select.Option,
    aTooltip: Tooltip,
    aModal: Modal,
    aButton: Button,
  },
  props: {
    isFromClient: {
      type: Boolean,
      default: false
    },
    contactList: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {
    // getPhoneList(){
    //   this.$httpRequester.get('business/baseInfo/selEnterprisePhoneByEnterpriseId?enterpriseId='+this.basicInfo.enterpriseId).then(res=>{
    //     this.phoneList=res
    //   })
    //
    // },
    //判断结尾字符
    confirmEnding(str: any, target: any) {
      const start = str.length - target.length
      const arr = str.substr(start, target.length)
      if (arr === target) {
        return true
      }
      return false
    },

    onChange(e: any) {
      // console.log(e)

      this.$httpRequester.post(`/enterpriseContacts/adminHide`, {contactPhoneId: e}, 'application/x-www-form-urlencoded').then(res => {
        this.$message.success('操作成功', 0.5)
        const parent= this.$parent as any
        parent.enterpriseContact()
      })

    },
    validatePhoneNumber(rule: any, value: any, callback: any) {
      //  const isTelephone = /^\d{3}-\d{8}$|^\d{4}-\d{7,8}$/
      const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
      if (!isCellPhone.test(value)) {
        callback(new Error('请输入正确的手机号码'))
      } else {
        callback()
      }
    },
    adminAddContactsClick() {
      this.isShowAdminAddContacts = true
    },
    closeModal() {
      this.isShowAdminAddContacts = false
      this.isShowAdminHideContacts = false
      this.formValue.isLegalMan = true
      this.formValue.contacts = ''
    },

    beforeSubmit() {
      const valid = this.$refs.addContactsForm as any
      const isValid = valid.formValidator()
      this.formValue.enterpriseId = this.basicInfo.enterpriseId
      if (isValid) {
        this.$httpRequester
            .post('enterpriseContacts/adminAdd', this.formValue)
            .then(() => {
              this.$message.success('操作成功')
              this.closeModal()
            })
      }
    },
    copyPhone(phone: any) {
      copyThisText(phone)
      this.$message.success('复制成功')
    },
    switchContactTable(item: any) {
      this.contactType = item.type
    },
    setRiskLevelFilter(val: any) {
      this.$emit('setRiskLevelFilter', val)
    },
    setPhoneToFilter(phone: any) {
      this.$emit('setPhoneToFilter', phone)
    },
    copyThisPhone(phone: any) {
      copyThisText(phone)
      this.$message.success('复制成功')
      // this.$emit('copyThisPhone', phone)
    },

  }
})
</script>
<style lang="scss" scoped>
.adminHideContactsClass {
  font-size: 14px;
  font-weight: 400;
  color: #2194FF !important;
  line-height: 44px;
}

.adminHideContactsClassName {
  font-size: 14px;
  font-weight: 400;
  color: #282828 !important;
  line-height: 44px;
}

.checkbox {
  width: 100%;
}

.contact-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #686868;
  font-weight: normal;
  border-bottom: 1px solid #EFF3F6;
  padding-bottom: 16px;


  .addBtn {
    background-color: #ffffff;
    color: #00ab94;
    border: 1px solid #00ab94;
    margin-left: 24px;
  }

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      cursor: pointer;

      &:hover {
        color: #00ab94;
      }
    }

    .selected {
      color: #00ab94;
    }

    .notClick {
      color: #a0a6ab;
      cursor: not-allowed;
      pointer-events: none;
    }

    .circle-point {
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #c0c4cc;
      margin: 0 15px;
    }
  }
}

.contact-list {

  .adminHideContactsClick {
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #00AB94;
    font-size: 14px;
    font-weight: 400;
    color: #00AB94;
    line-height: 20px;
    text-align: center;


  }

  .adminHideContacts {
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #FF7F28;
    font-size: 14px;
    font-weight: 400;
    color: #FF7F28;
    line-height: 20px;
    text-align: center;

  }

  .contace-item {
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    height: 44px;
    line-height: 44px;

    .contace-item-box{
      width: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      // padding-left: 10px;
      font-size: 14px;
      color: #282828;



    }

    .phone {
      display: flex;
      align-items: center;
    }

    .copy-icon {
      cursor: pointer;
      margin-left: 4px;
      width: 20px;
      color: #ff8800;
      // &:hover {
      //   color: #00AB94;
      // }
    }
  }
}

.detail-risk-filter {
  width: 175px;
}

.no-data {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
</style>
