<template>
  <div>
    <div class="follow-list">
      <div v-for="(item, index) in followList" :key="index" class="follow-item">
        <div
          v-for="(follow, fi) in item.selFollowRecordVO"
          :key="fi"
          class="time-label"
        >
          <!-- <div class="circle havebg"></div> -->
          <div class="label">
            <div class="tab"></div>
            <div class="little-circle"></div>
            {{ follow.timeLabel }}
          </div>
          <div
            v-for="(detail, di) in follow.followRecordList"
            :key="di"
            class="follow-detail"
          >
            <!-- <div class="circle"></div> -->
            <div class="follow-user">
              <div class="name-type">
                <span>{{ detail.memberName || '空' }}</span>
                <span>{{ detail.followType }}</span>
              </div>
              <div class="detail-time text-textLight">
                {{ detail.createTime | time }}
              </div>
            </div>
            <div class="detail-content">
              <div v-if="detail.qualificationNames.length">
                跟进资质：
                <span
                  v-text="qualificationText(detail.qualificationNames)"
                ></span>
              </div>
              <div v-if="detail.followStatus">
                跟进状态：{{ detail.followStatus | statusText }}
                {{
                  detail.followStatus === 'NO_DEAL' ||
                  detail.followStatus === 'NO_INTENTION'
                    ? '----资源退回公海'
                    : ''
                }}
              </div>
              <div>跟进来源：{{ clueSourcesText[clueSources] || '-' }}</div>
              <!-- <div v-if="detail.outcallOrderId">
                外呼单号：{{ detail.outcallOrderId }}
              </div> -->
              <div v-if="detail.content">跟进备注：{{ detail.content }}</div>
              <div v-if="detail.remarks">跟进备注：{{ detail.remarks }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!followList.length" class="no-data">暂无跟进记录</div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import moment from 'moment'
import { detailModule } from '@/store/modules/detail'

export default Vue.extend({
  name: 'follow-list',
  filters: {
    time(val: any) {
      const dateTime = new Date(val)
      return moment(dateTime).format('YYYY-MM-DD HH:mm:ss')
    },
    statusText(val: string) {
      return [
        { label: '未确认', value: 'UNCONFIRMED' },
        { label: '自动关联领取', value: 'AUTOMATIC_RECEIVE' },
        { label: '超24小时未确认', value: 'OVERTIME_BACK' },
        { label: '自动关联退回公海', value: 'AUTOMATIC_BACK' },
        { label: '有意向', value: 'INTENTION' },
        { label: '无意向', value: 'NO_INTENTION' },
        { label: '挂断/打错/同行', value: 'WRONG_NUMBER' },
        { label: '辞职/公司倒闭/资质已出售', value: 'RESIGNATION' },
        { label: '挂断', value: 'HANG_UP' },
        { label: '未接', value: 'NO_ANSWER' },
        { label: '空号', value: 'EMPTY_NUMBER' },
        { label: '无法接通', value: 'NOT_AVAILABLE' },
        { label: '不在服务区/国内', value: 'NOT_SERVICE' },
        { label: '其他', value: 'OTHER' },
        { label: '已成交', value: 'DEAL' },
        { label: '未成交', value: 'NO_DEAL' }
      ].find((e: any) => {
        return e.value === val
      })?.label
    }
  },
  data() {
    return {
      clueSourcesText: ['', '收货查询', '出货查询']
    }
  },
  props: {
    followList: {
      type: Array,
      default() {
        return []
      }
    },
    clueSources: {
      type: Number,
      default: 0
    }
  },
  computed: {
    lookFollowListCodeData() {
      // console.log(homeModule)
      return detailModule.lookFollowListCodeData
    }
  },
  methods: {
    qualificationText(list: any) {
      return list
        .map((e: any) => {
          return e
        })
        .join('、')
    }
  },
  mounted() {
    if (!this.followList.length) {
      if (this.lookFollowListCodeData.msg) {
        this.$message.error(this.lookFollowListCodeData.msg)
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.no-data {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.follow-list {
  margin-top: 20px;
  .follow-item {
    // padding-bottom: 0px;
    // padding-top: 10px;
    // padding-left: 48px;
    margin-left: 8px;
    // border-left: solid 1px rgba($color: #cccccc, $alpha: 0.3);

    .time-label {
      width: 100%;
      position: relative;
      margin-top: -20px;
      margin-bottom: 40px;

      .havebg {
        background-color: #00ab94;
      }

      .label {
        position: relative;
        width: 100px;
        color: #fff;
        text-align: center;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        margin-left: 16px;
        background-color: #00ab94;

        .tab {
          border-color: #00ab94;
          position: absolute;
          height: 0;
          width: 0;
          border-style: solid;
          border-width: 16px;
          border-left-color: transparent;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-right-color: #00ab94;
          left: -32px;
        }

        .little-circle {
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          left: -3px;
          top: 0;
          bottom: 0;
          margin: auto 0;
        }
      }
    }

    .circle {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      left: -56px;
      top: 8px;
      margin: auto;
      background-color: #fff;
      border: solid 1px #00ab94;
    }

    .follow-detail {
      position: relative;
      margin-top: 16px;
      // background-color: #fcfcfc;
      border-radius: 2px;
      border: solid 1px #eff3f6;
      padding: 9px 16px 16px 16px;
      color: #282828;
      .follow-user {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .name-type {
          span {
            display: inline-block;
            margin-right: 14px;
            // color: #333333;
            font-size: 13px;
          }
        }
      }

      .detail-content {
        font-size: 13px;
        // color: #606366;

        div {
          margin-bottom: 3px;
        }
      }
    }
  }
}
</style>
