<template>
  <svg   fill="currentColor" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon_selected_Personal center</title>
    <g id="破产" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="The-navigation-bar" transform="translate(-56.000000, -331.000000)">
        <g id="icon_selected_Personal-center" transform="translate(56.000000, 331.000000)">
          <rect id="矩形" fill-opacity="0" fill="#D8D8D8" x="0" y="0" width="18" height="18"></rect>
          <rect id="矩形" stroke="currentColor" stroke-width="1.5" x="3" y="2" width="12" height="14" rx="1"></rect>
          <circle id="椭圆形" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" cx="9" cy="8" r="2"></circle>
          <path d="M12,13 C12,11.3431458 10.6568542,10 9,10 C7.34314575,10 6,11.3431458 6,13" id="路径" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"></path>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'account',
  data() {
    return {}
  },
  mounted() {
  }
}
</script>
