<template>
  <svg
    width="18px"
    height="18px"
    viewBox="0 0 18 18"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>返回</title>
    <g
      id="小牛股权"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="出货信息-详情-平台发布"
        transform="translate(-664.000000, -26.000000)"
      >
        <g id="抽屉-返回" transform="translate(664.000000, 24.000000)">
          <g id="返回" transform="translate(0.000000, 2.000000)">
            <rect
              id="矩形"
              fill="#D8D8D8"
              opacity="0"
              x="0"
              y="0"
              width="18"
              height="18"
            ></rect>
            <polyline
              id="路径"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              points="8 5 8 3 16 3 16 15 8 15 8 13"
            ></polyline>
            <polyline
              id="路径"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              points="4 12 2 9 11 9"
            ></polyline>
            <polyline
              id="路径备份"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              transform="translate(6.500000, 7.500000) scale(1, -1) translate(-6.500000, -7.500000) "
              points="4 9 2 6 11 6"
            ></polyline>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'copy-icon',
  data() {
    return {}
  },
  mounted() {}
}
</script>
