<template>
  <svg fill="currentColor" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon_selected_Personal center备份</title>
    <g id="破产" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="The-navigation-bar" transform="translate(-56.000000, -377.000000)">
        <g id="icon_selected_Personal-center备份" transform="translate(56.000000, 377.000000)">
          <rect id="矩形" fill-opacity="0" fill="#D8D8D8" x="0" y="0" width="18" height="18"></rect>
          <rect id="矩形" stroke="currentColor" stroke-width="1.5" x="3" y="2" width="12" height="14" rx="1"></rect>
          <rect id="矩形" fill="currentColor" x="5" y="5" width="4" height="2" rx="1"></rect>
          <rect id="矩形备份-2" fill="currentColor" x="5" y="8" width="5" height="2" rx="1"></rect>
          <rect id="矩形备份-3" fill="currentColor" x="10" y="11" width="3" height="2" rx="1"></rect>
          <rect id="矩形备份" fill="currentColor" x="10" y="5" width="3" height="2" rx="1"></rect>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'bankrupt',
  data() {
    return {}
  },
  mounted() {
  }
}
</script>
