<template>
  <svg
    width="18px"
    height="18px"
    viewBox="0 0 18 18"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>icon_收货信息-2</title>
    <g
      id="小牛股权"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g id="The-navigation-bar" transform="translate(-8.000000, -84.000000)">
        <g
          id="icon_收货信息-2"
          transform="translate(17.000000, 93.000000) scale(-1, 1) translate(-17.000000, -93.000000) translate(8.000000, 84.000000)"
        >
          <rect
            id="矩形"
            fill-opacity="0"
            fill="#D8D8D8"
            x="0"
            y="0"
            width="18"
            height="18"
          ></rect>
          <path
            d="M10,16 L4,16 C2.8954305,16 2,15.2164983 2,14.25 L2,3.75 C2,2.78350169 2.8954305,2 4,2 L14,2 C15.1045695,2 16,2.78350169 16,3.75 L16,7.25"
            id="路径"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></path>
          <line
            x1="6"
            y1="6.5"
            x2="6"
            y2="7.5"
            id="路径"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="6"
            y1="10.5"
            x2="6"
            y2="11.5"
            id="路径备份-6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="9"
            y1="6.5"
            x2="9"
            y2="7.5"
            id="路径备份-3"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="12"
            y1="6.5"
            x2="12"
            y2="7.5"
            id="路径备份-5"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="11"
            y1="13"
            x2="16"
            y2="13"
            id="路径-44备份-2"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <polyline
            id="路径-45"
            stroke="currentColor"
            stroke-width="2"
            points="14.5 10 16.5 13 14.5 16.5"
          ></polyline>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'buy-icon',
  data() {
    return {}
  },
  mounted() {}
}
</script>
