<template>
  <svg
    width="17px"
    height="17px"
    viewBox="0 0 17 17"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>编组 13</title>
    <g
      id="小牛股权"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g id="出货信息" transform="translate(-1205.000000, -1475.000000)">
        <g id="编组-8" transform="translate(336.000000, 1386.000000)">
          <g id="编组-13" transform="translate(869.000000, 89.000000)">
            <rect
              id="矩形"
              fill="#D8D8D8"
              opacity="0"
              x="0"
              y="0"
              width="17"
              height="17"
            ></rect>
            <rect
              id="矩形备份-6"
              stroke="currentColor"
              stroke-width="1.5"
              x="2"
              y="5"
              width="10"
              height="10"
              rx="1"
            ></rect>
            <path
              d="M15,10 L9,10 C7.8954305,10 7,9.1045695 7,8 L7,2"
              id="路径"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              transform="translate(11.000000, 6.000000) rotate(-180.000000) translate(-11.000000, -6.000000) "
            ></path>
            <line
              x1="10"
              y1="10"
              x2="4"
              y2="10"
              id="路径"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linejoin="round"
              transform="translate(7.000000, 10.000000) rotate(-180.000000) translate(-7.000000, -10.000000) "
            ></line>
            <line
              x1="7"
              y1="13"
              x2="7"
              y2="7"
              id="路径"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linejoin="round"
              transform="translate(7.000000, 10.000000) rotate(-180.000000) translate(-7.000000, -10.000000) "
            ></line>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'copy-icon',
  data() {
    return {}
  },
  mounted() {}
}
</script>
