<template>
  <svg fill="currentColor" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon_selected_My client</title>
    <g id="破产" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="The-navigation-bar" transform="translate(-56.000000, -193.000000)">
        <g id="icon_selected_My-client" transform="translate(56.000000, 193.000000)">
          <rect id="矩形" fill-opacity="0" fill="#D8D8D8" x="0" y="0" width="18" height="18"></rect>
          <path d="M3,4 L14,4 C14.5522847,4 15,4.44771525 15,5 L15,16 C15,16.5522847 14.5522847,17 14,17 L4,17 C3.44771525,17 3,16.5522847 3,16 L3,4 L3,4 Z" id="矩形" stroke="currentColor" stroke-width="1.5"></path>
          <path d="M3,6 L3,2 C3,1.44771525 3.44771525,1 4,1 L10.5,1 L10.5,1" id="路径" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
          <circle id="椭圆形" stroke="currentColor" stroke-width="1.5" cx="9" cy="9.5" r="1.5"></circle>
          <path d="M12,14 C12,12.3431458 10.6568542,11 9,11 C7.34314575,11 6,12.3431458 6,14" id="路径" stroke="currentColor" stroke-width="1.5"></path>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'customer',
  data() {
    return {}
  },
  mounted() {
  }
}
</script>
