<template>
  <svg fill="currentColor" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon_selected_The knowledge base@2x</title>
    <g id="破产" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="The-navigation-bar" transform="translate(-56.000000, -286.000000)">
        <g id="icon_selected_The-knowledge-base" transform="translate(56.000000, 286.000000)">
          <rect id="矩形" fill-opacity="0" fill="#D8D8D8" x="0" y="0" width="18" height="18"></rect>
          <rect id="矩形" stroke="currentColor" stroke-width="1.5" x="3" y="2" width="6" height="14" rx="1"></rect>
          <path d="M7,9 L5,9 M13,9 L11,9 M7,12 L5,12 M13,12 L11,12 M5,6 L7,6 M11,6 L13,6" id="形状" stroke="currentColor" stroke-width="1.5"></path>
          <rect id="矩形备份-8" stroke="currentColor" stroke-width="1.5" x="9" y="2" width="6" height="14" rx="1"></rect>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'knowledge',
  data() {
    return {}
  },
  mounted() {
  }
}
</script>
