<template>
  <svg
    width="18px"
    height="18px"
    viewBox="0 0 18 18"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>icon_我的求购-2</title>
    <g
      id="小牛股权"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g id="The-navigation-bar" transform="translate(-7.000000, -176.000000)">
        <g
          id="icon_我的求购-2"
          transform="translate(16.000000, 185.000000) scale(-1, 1) translate(-16.000000, -185.000000) translate(7.000000, 176.000000)"
        >
          <rect
            id="矩形"
            fill-opacity="0"
            fill="#D8D8D8"
            x="0"
            y="0"
            width="18"
            height="18"
          ></rect>
          <path
            d="M8,16 L4,16 C2.8954305,16 2,15.2164983 2,14.25 L2,3.75 C2,2.78350169 2.8954305,2 4,2 L14,2 C15.1045695,2 16,2.78350169 16,3.75 L16,8"
            id="路径"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            transform="translate(9.000000, 9.000000) scale(-1, 1) translate(-9.000000, -9.000000) "
          ></path>
          <line
            x1="7"
            y1="6"
            x2="13"
            y2="6"
            id="路径-44备份-2"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="11.5"
            y1="10"
            x2="13"
            y2="10"
            id="路径-44备份-5"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="1.5"
            y1="16.5"
            x2="2.76554446"
            y2="15.125"
            id="路径-44备份-6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <circle
            id="椭圆形"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linejoin="round"
            cx="5.5"
            cy="12.5"
            r="2.5"
          ></circle>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'mybuy-icon',
  data() {
    return {}
  },
  mounted() {}
}
</script>
