<template>
  <svg
    width="18px"
    height="18px"
    viewBox="0 0 18 18"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>icon_我的出售-2</title>
    <g
      id="小牛股权"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g id="The-navigation-bar" transform="translate(-7.000000, -130.000000)">
        <g
          id="icon_我的出售-2"
          transform="translate(16.000000, 139.000000) scale(-1, 1) translate(-16.000000, -139.000000) translate(7.000000, 130.000000)"
        >
          <rect
            id="矩形"
            fill-opacity="0"
            fill="#D8D8D8"
            x="0"
            y="0"
            width="18"
            height="18"
          ></rect>
          <path
            d="M12,16 L10,16 L4,16 C2.8954305,16 2,15.2164983 2,14.25 L2,3.75 C2,2.78350169 2.8954305,2 4,2 L14,2 C15.1045695,2 16,2.78350169 16,3.75 L16,11"
            id="路径"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            transform="translate(9.000000, 9.000000) scale(-1, 1) translate(-9.000000, -9.000000) "
          ></path>
          <line
            x1="2"
            y1="15.5"
            x2="2"
            y2="16.5"
            id="路径备份-6"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="6"
            y1="8"
            x2="12"
            y2="8"
            id="路径-44备份-2"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="7"
            y1="11"
            x2="11"
            y2="11"
            id="路径-44备份-4"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <line
            x1="9"
            y1="8"
            x2="9"
            y2="13"
            id="路径-44备份-3"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
          ></line>
          <polyline
            id="路径-45"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            transform="translate(9.000000, 7.000000) rotate(-270.000000) translate(-9.000000, -7.000000) "
            points="7 5 11 7 7 9"
          ></polyline>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'mysell-icon',
  props: {
    color: {}
  },
  data() {
    return {}
  },
  mounted() {}
}
</script>
