<template>
  <svg  fill="currentColor" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>ic_navigation_personnel_selected@2x</title>
    <g id="破产" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="The-navigation-bar" transform="translate(-356.000000, -101.000000)">
        <g id="ic_navigation_personnel_selected" transform="translate(356.000000, 101.000000)">
          <rect id="矩形备份-2" fill-opacity="0" fill="#D2D6D9" x="0" y="0" width="18" height="18"></rect>
          <path d="M8.00619942,2.44386374 L8.06938491,2.45364871 L8.25,16 C8.25,16.0690356 8.2220178,16.1315356 8.1767767,16.1767767 C8.13153559,16.2220178 8.06903559,16.25 8,16.25 L8,16.25 L3,16.25 C2.93096441,16.25 2.86846441,16.2220178 2.8232233,16.1767767 C2.7779822,16.1315356 2.75,16.0690356 2.75,16 L2.75,16 L2.75,5.45244794 C2.75,5.40692077 2.76237638,5.36319374 2.7847184,5.32535021 C2.80706042,5.28750669 2.83936809,5.25554667 2.87923066,5.23355352 L2.87923066,5.23355352 L7.87923066,2.47493283 C7.93967669,2.4415833 8.00791786,2.43589156 8.06938491,2.45364871 Z" id="矩形" stroke="currentColor" stroke-width="1.5"></path>
          <path d="M10.8232233,5.64489647 C11.047546,5.57167316 11.0941061,5.58523151 11.1342189,5.61075779 L11.1342189,5.61075779 L15.1342189,8.15621234 C15.2063309,8.20210182 15.25,8.28165262 15.25,8.36712771 L15.25,8.36712771 L15.25,16 C15.25,16.0690356 15.2220178,16.1315356 15.1767767,16.1767767 C15.1315356,16.2220178 15.0690356,16.25 15,16.25 L15,16.25 L11,16.25 C10.9309644,16.25 10.8684644,16.2220178 10.8232233,16.1767767 C10.7779822,16.1315356 10.75,16.0690356 10.75,16 L10.75,16 L10.75,5.82167316 C10.75,5.75263757 10.7779822,5.69013757 10.8232233,5.64489647 Z" id="矩形备份-3" stroke="currentColor" stroke-width="1.5"></path>
          <line x1="3" y1="8" x2="6" y2="8" id="路径-14" stroke="currentColor" stroke-width="1.5"></line>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'personnelIcon',
  data() {
    return {}
  },
  mounted() {}
}
</script>
