<template>
  <svg height="18px" version="1.1" viewBox="0 0 18 18" width="18px" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon_selected_shipment备份</title>
    <g id="破产" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
      <g id="The-navigation-bar" transform="translate(-56.000000, -101.000000)">
        <g id="icon_selected_shipment备份" transform="translate(56.000000, 101.000000)">
          <rect id="矩形" fill="#D8D8D8" fill-opacity="0"
                height="18" transform="translate(9.000000, 9.000000) scale(-1, 1) translate(-9.000000, -9.000000) " width="18"
                x="0" y="0"></rect>
          <path
              id="路径"
              d="M9.85714286,16 L4,16 C3.44771525,16 3,15.5522847 3,15 L3,3 C3,2.44771525 3.44771525,2 4,2 L14,2 C14.5522847,2 15,2.44771525 15,3 L15,9 L15,9" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"></path>
          <line id="路径-44" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" x1="7" x2="11" y1="6"
                y2="6"></line>
          <line id="路径-44备份" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" x1="7" x2="11" y1="9"
                y2="9"></line>
          <line id="路径-44备份-2" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" x1="10" x2="15" y1="13.75"
                y2="13.75"></line>
          <polyline id="路径-45" points="13 12 15 13.8461538 13 16" stroke="currentColor" stroke-linecap="round"
                    stroke-width="1.5"></polyline>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'receiving',
  data() {
    return {}
  },
  mounted() {
  }
}
</script>
