<template>
  <svg     fill="currentColor" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>icon_selected_shipment备份 2</title>
    <g id="破产" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="The-navigation-bar" transform="translate(-56.000000, -147.000000)">
        <g id="icon_selected_shipment备份-2" transform="translate(65.000000, 156.000000) scale(-1, 1) translate(-65.000000, -156.000000) translate(56.000000, 147.000000)">
          <rect id="矩形" fill-opacity="0" fill="#D8D8D8" transform="translate(9.000000, 9.000000) scale(-1, 1) translate(-9.000000, -9.000000) " x="0" y="0" width="18" height="18"></rect>
          <path d="M9.85714286,16 L4,16 C3.44771525,16 3,15.5522847 3,15 L3,3 C3,2.44771525 3.44771525,2 4,2 L14,2 C14.5522847,2 15,2.44771525 15,3 L15,9 L15,9" id="路径" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
          <line x1="7" y1="6" x2="11" y2="6" id="路径-44" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></line>
          <line x1="7" y1="9" x2="11" y2="9" id="路径-44备份" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></line>
          <line x1="10" y1="13.75" x2="15" y2="13.75" id="路径-44备份-2" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></line>
          <polyline id="路径-45" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" points="13 12 15 13.8461538 13 16"></polyline>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'sell',
  data() {
    return {}
  },
  mounted() {
  }
}
</script>
