<template>
  <a-locale-provider :locale="locale">
    <div class=" h-full">
      <router-view id="rootDom" :class="{ mobile: !isPc }" class="root">
      </router-view>
      <div v-if="isUpdate" class="update-mask">
        <div class="update-info">
          <a-progress
            :percent="updatePercent"
            class="update-progress"
            type="circle"
          />
          <div class="update-text">正在下载更新....</div>
        </div>
      </div>
      <a-modal :visible="updateModal" title="更新信息" @cancel="cancelModal">
        <p>已下载最新版本 {{ versionInfo }}点击确定更新升级</p>
        <p>更新信息：</p>
        <p style="white-space: pre-line;">{{ updateInfo }}</p>
        <div slot="footer">
          <a-button type="primary" @click="confirmModal">确定</a-button>
        </div>
      </a-modal>
      <!--      5012-->
      <a-modal
        :visible="freeOverDateModalShow"
        title="温馨提示"
        @cancel="closeVipModal"
      >
        <p style="text-align:center">
          您今日的“查询条件”次数已使用完毕，继续使用请先升级成VIP会员
        </p>
        <div style="text-align:center">
          <a @click="goToVip">我要升级>></a>
        </div>
        <div slot="footer">
          <a-button type="primary" @click="closeVipModal">确认</a-button>
        </div>
      </a-modal>
      <!--      2005-->
      <a-modal
        :visible="expriedModalShow"
        :zIndex="1005"
        title="温馨提示"
        @cancel="closeVipModal"
      >
        <p style="text-align:center">
          当前使用版本已过期，继续使用请先升级成VIP会员
        </p>
        <div style="text-align:center">
          <a @click="goToVip">我要升级>></a>
        </div>
        <div slot="footer">
          <a-button type="primary" @click="closeVipModal">确认</a-button>
        </div>
      </a-modal>
      <!--     原来的: 5013-->
      <a-modal
        :visible="watchPhoneModalShow"
        title="温馨提示"
        @cancel="closeVipModal"
      >
        <p style="text-align:center">
          当前使用本版查看次数已达上线，继续使用请联系客服升级VIP版本
        </p>
        <div style="text-align:center;color: #00AB94">
          <a @click="goToVip">我要升级>></a>
        </div>
        <div slot="footer">
          <a-button type="primary" @click="closeVipModal">确认</a-button>
        </div>
      </a-modal>
      <!--         5013-->
      <a-modal
        :visible="goToVipModalShow"
        :zIndex="1008"
        title="温馨提示"
        @cancel="closeVipModal"
      >
        <p style="text-align:center">
          当前使用本版查看次数已达上线，继续使用请联系客服升级VIP版本
        </p>
        <div style="text-align:center;color: #00AB94">
          <a @click="goToVip">我要升级>></a>
        </div>
        <div slot="footer">
          <a-button type="primary" @click="closeVipModal">确认</a-button>
        </div>
      </a-modal>
      <!--      5008-->
      <a-modal
        :visible="goToVipTeamModalShow"
        :zIndex="1008"
        title="温馨提示"
        @cancel="closeVipModal"
      >
        <p style="text-align:center">
          您今日的“查看电话”次数已使用完毕，继续使用请先升级成VIP集团版
        </p>
        <div style="text-align:center">
          <a @click="goToVip">我要升级>></a>
        </div>
        <div slot="footer">
          <a-button type="primary" @click="closeVipModal">确认</a-button>
        </div>
      </a-modal>

      <!--      5008 活动期间-->
      <activity-modal></activity-modal>

      <!-- 活动期间侧边栏弹窗 -->
      <activity-modal-side></activity-modal-side>

      <!--      3008-->
      <a-modal
        :visible="verification"
        :zIndex="1009"
        title="温馨提示"
        @cancel="closeVerification"
      >
        <div style="text-align:center;">
          <p class="verText">
            当前操作频繁，请进行验证
          </p>
          <div class="verificationImg">
            <img :src="verificationImg" alt="小牛建讯" />
            <div class="link"></div>
            <span class="refresh" @click="refresh">点击刷新</span>
          </div>
        </div>
        <div class="verInput">
          <a-input
            style="width: 300px;height: 42px;"
            v-model="code"
            placeholder="请输入正确答案"
          ></a-input>
        </div>
        <div slot="footer">
          <a-button type="primary" @click="confirmVerification">确认</a-button>
        </div>
      </a-modal>
      <login-modal v-if="userLoginModal"></login-modal>

      <!-- <div v-else>
      请不要打开控制台，关闭后请点击刷新重新加载页面
    </div> -->
    </div>
  </a-locale-provider>
</template>
<script lang="ts">
import Vue from 'vue'
import { ConfigProvider, Modal, Progress, Input, Icon } from 'ant-design-vue'
import zhCN from 'ant-design-vue/lib/locale-provider/zh_CN.js'
import { detailModule } from '@/store/modules/detail'
import loginModal from '@/components/LoginModal.vue'
// import the styles
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import { userModule } from '@/store/modules/user'
import ActivityModal from '@/components/ActivityModal.vue'
import ActivityModalSide from './components/ActivityModalSide.vue'

export default Vue.extend({
  name: 'app',
  components: {
    aIcon: Icon,
    aInput: Input,
    aModal: Modal,
    aLocaleProvider: ConfigProvider,
    aProgress: Progress,
    loginModal,
    ActivityModal: ActivityModal,
    ActivityModalSide
  },
  watch: {
    verification: {
      handler(val) {
        if (val) {
          this.getImg()
        }
      }
    }
  },
  computed: {
    // 登录弹窗
    userLoginModal() {
      return detailModule.userLoginModal
      // homeModule.userLoginModal
    },
    verification() {
      return detailModule.verification
    },
    softVersion() {
      return userModule.version
    },
    watchPhoneModalShow() {
      return detailModule.watchPhoneModalShow
    },
    goToVipModalShow() {
      return detailModule.goToVipModalShow
    },
    goToVipTeamModalShow() {
      return detailModule.goToVipTeamModalShow
    },
    expriedModalShow() {
      return detailModule.expriedModalShow
    },
    freeOverDateModalShow() {
      return detailModule.freeOverDateModalShow
    },
    isPc() {
      if (/(iPhone|iPad|iPod|iOS)/i.test(this.userAgent)) {
        return false
      } else if (/(Android)/i.test(this.userAgent)) {
        return false
      } else {
        return true
      }
    }
  },
  data() {
    return {
      verificationImg: '',
      code: null,
      isOpenDevTool: false,
      text: '',
      updateModal: false,
      versionInfo: '',
      updateInfo: '',
      updatePercent: 0,
      locale: zhCN,
      btnShow: true,
      isUpdate: false,
      userAgent: navigator.userAgent as any
    }
  },

  methods: {
    refresh() {
      this.getImg()
    },
    getImg() {
      this.$httpRequester.download('/verification/getImage').then(res => {
        this.verificationImg = window.URL.createObjectURL(res)
      })
    },

    closeVerification() {
      this.$message.error('请进行验证!')
    },
    confirmVerification() {
      if (this.code) {
        this.$httpRequester
          .get('/verification/getVerification', { code: this.code })
          .then(res => {
            this.$message.success('验证成功!')
            this.code = null
            detailModule.setListQuery(true)
            detailModule.setVerification(false)
          })
          .catch(err => {
            this.refresh()
            this.code = null
          })
      } else {
        this.$message.error('请输入验证码!')
      }
    },
    closeVipModal() {
      detailModule.setGoToVipModalShow(false)
      detailModule.setGoToVipTeamModalShow(false)
      detailModule.setExpriedModalShow(false)
      // detailModule.setFreeOverModalShow(false)
      detailModule.setWatchPhoneModalShow(false)
    },
    goToVip() {
      detailModule.setGoToVipModalShow(false)
      detailModule.setGoToVipTeamModalShow(false)
      detailModule.setExpriedModalShow(false)
      // detailModule.setFreeOverModalShow(false)
      detailModule.setWatchPhoneModalShow(false)
      const userAgent = navigator.userAgent.toLowerCase()
      if (userAgent.indexOf(' electron/') === -1) {
        window.open("http://www.xnjx666.com/vip")
      } else {
        if (window.ipcRenderer) {
          window.ipcRenderer.send('openBrower')
        }
        // this.$router.push({
        //   name: 'vip',
        //   query: {
        //     fromUrl: this.$route.name
        //   }
        // })
      }
    },
    showUpdateProgress(status: any) {
      // console.log(status)
      this.isUpdate = status
    },
    changeUpdateProgress(percent: any) {
      this.updatePercent = percent
    },
    showErrorProgress() {
      this.isUpdate = false
      this.$message.error('自动更新失败，请联系小牛客服进行处理')
    },
    cancelModal() {
      if (window.ipcRenderer) {
        const ipcRenderer = window.ipcRenderer
        ipcRenderer.send('checkForUpdate')
      }
    },
    confirmModal() {
      if (window.ipcRenderer) {
        const ipcRenderer = window.ipcRenderer
        ipcRenderer.send('updateNow')
      }
    }
  },

  mounted() {
    if (this.softVersion === 'V_FREE_TEMP') {
      this.text = '您今日的“查看电话”次数已使用完毕，继续使用请先升级成VIP会员'
    } else {
      this.text =
        '您今日的“查看电话”次数已使用完毕，继续使用请先升级成VIP集团版'
    }
    const self = this as any
    const showUpdateProgress = this.showUpdateProgress
    const changeUpdateProgress = this.changeUpdateProgress
    const showErrorProgress = this.showErrorProgress
    if (window.ipcRenderer) {
      const ipcRenderer = window.ipcRenderer
      ipcRenderer.on('message', (event: any, data: any) => {
        // console.log('message', data.msg)
        switch (data.status) {
          case 1:
            showUpdateProgress(true)
            break
          case -1:
            showErrorProgress()
            break
          default:
            break
        }
      })
      ipcRenderer.on('downloadProgress', (event: any, progressObj: any) => {
        // console.log('downloadProgress', progressObj)
        changeUpdateProgress(parseInt(progressObj.percent, 10))
        // 可自定义下载渲染效果
      })
      ipcRenderer.on('isUpdateNow', (event: any, versionInfo: any) => {
        // console.log(versionInfo)
        // 自定义选择效果，效果自行编写
        showUpdateProgress(false)

        self.versionInfo = versionInfo
        self.$httpRequester
          .get('/sys/config/query/appUpText')
          .then((res: any) => {
            // console.log(res)
            self.updateModal = true
            self.updateInfo = res
          })
        // Modal.confirm({
        //   title: '温馨提示',
        //   content: '已下载最新版本' + versionInfo + ',点击确定更新升级',
        //   okText: '确定',
        //   cancelText: '取消',
        //   onOk() {
        //     ipcRenderer.send('updateNow')
        //   },
        //   onCancel() {
        //     ipcRenderer.send('checkForUpdate') // 必需升级
        //   },
        // })
      })
      ipcRenderer.send('checkForUpdate')
      const hvaeUserId = !!localStorage.getItem('userId') || !!userModule.userId
      if (hvaeUserId) {
        ipcRenderer.send('getClientInfo')
        ipcRenderer.on('sendNetworkInfo', (event: any, info: any) => {
          const ip = info['以太网'][1].address
          const mac = info['以太网'][1].mac
          // console.log(ip, mac)
          self.$httpRequester.put('areaIp/u/ct', { cp: ip, cm: mac })
        })
      }
      //  vm.autoUpdate() // electron应用启动后主动触发检查更新函数
    }

    // if (VUE_APP_TYPE === 'online') {
    //   window.addEventListener('devtoolschange', (event) => {
    //     // console.log('Is DevTools open:', event.detail.isOpen)
    //     if (event.detail.isOpen) {
    //       this.isOpenDevTool = true
    //       localStorage.setItem('isOpenTool', 'open')
    //     } else {
    //       this.isOpenDevTool = false
    //       localStorage.removeItem('isOpenTool')
    //     }

    //     // console.log('DevTools orientation:', event.detail.orientation)
    //   })
    //   const isOpen = localStorage.getItem('isOpenTool')
    //   if (isOpen) {
    //     this.isOpenDevTool = true
    //   } else {
    //     this.isOpenDevTool = false
    //   }
    // }
  },
  beforeDestroy() {
    // 移除ipcRenderer所有事件
    if (window.ipcRenderer) {
      window.ipcRenderer.removeAllListeners()
    }
  },
  created() {
    // if (VUE_APP_TYPE === 'online') {
    //   window.onkeydown = window.onkeyup = window.onkeypress = function(
    //     event: any
    //   ) {
    //     // 判断是否按下F12，F12键码为123
    //     if (event.keyCode === 123) {
    //       event.preventDefault() // 阻止默认事件行为
    //       // console.log('??')
    //       // window.event.returnValue = false
    //       return false
    //     }
    //   }
    //   window.oncontextmenu = function(event: any) {
    //     event.preventDefault() // 阻止默认事件行为
    //     return false
    //   }
    // }
  }
})
</script>
<style lang="scss">
.ant-table-column-title {
  font-weight: 500;
}
.ant-pagination-item-active a {
  color: #fff !important;
}
img {
  display: inline-block !important;
}
.anticon {
  vertical-align: baseline;
}
.verificationImg {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 20px;
  img {
    height: 45px;
    width: 200px;
  }
  .link {
    margin: 0 20px;
    height: 35px;
    width: 1px;
    background-color: #d9d9d9;
  }
  .refresh {
    width: 56px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #4d7cfe;
    line-height: 20px;
  }
}
.verInput {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.verText {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #595959;
  line-height: 20px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 1300px;
  background-color: #f7f9fe;
}

.warning-tips {
  color: #dc0000;
  font-weight: bold;
}

.message-modal-title {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
}

.message-modal-time {
  font-size: 12px;
  font-weight: 400;
  color: #a0a6ab;
  margin-top: 4px;
  margin-bottom: 8px;
}

.message-modal-detail {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
  line-height: 20px;
}

.transpant-dom {
  opacity: 0 !important;
}

.ant-form-explain {
  font-size: 12px !important;
}

.primary-text {
  color: #4d7cfe;
  font-size: 15px;
}

.bold-text {
  font-weight: bold;
}

.text-center {
  text-align: center !important;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.popover-title {
  font-weight: bold;
}

.root {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-width: 1300px;
  height: 100%;
}

.update-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;

  .update-info {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 300px;

    .update-progress {
      .ant-progress-text {
        color: #fff !important;
      }
    }

    .update-text {
      margin-top: 20px;
      color: #fff;
    }
  }
}

.mobile {
  min-width: 100vw !important;
  overflow-y: scroll !important;
}

.have-rt-margin {
  margin-right: 15px;
}

.have-bottom-margin {
  margin-bottom: 15px;
}

.have-rt-top24 {
  margin-top: 24px;
}

.page-table {
  margin-top: 24px;
}

.cDisabled {
  // pointer-events: none;
  cursor: not-allowed !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.25) !important;
}

.table-content {
  margin-top: 16px;
  box-sizing: border-box;
  padding: 24px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 2px;
  flex: 1;
  position: relative;
}

.specical-btn {
  color: #fff;
  background-color: #65b3fe;

  &:hover {
    background-color: #84baef;
    border-color: #84baef;
    color: #fff;
  }
}

.second-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
  color: #8e8e90;
  font-size: 20px;
  height: 48px;
  position: relative;

  p {
    margin: 0 0 0 34px;
    height: 48px;
    width: fit-content;
    line-height: 48px;
    cursor: pointer;
    border-bottom: solid 1px transparent;
  }

  .isActive {
    border-bottom: solid 1px #4d7cfe;
  }
}

.loading {
  width: calc(100% - 200px);
  z-index: 1000;
  height: calc(100% - 126px);
  background-color: rgba($color: #afafaf, $alpha: 0.4);
  position: fixed;
  left: 200px;
  top: 126px;
  text-align: center;
  // padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.defaultBtnHover {
  color: #00ab94;
  border-color: #00ab94;
  background-color: #ffffff;

  &:hover {
    color: #fff;
    border-color: #00ab94;
    background-color: #00ab94;
  }
}
</style>
