<template>
  <div class="shipment-filter" id="shipmentFilter">
    <div class="filter-item relative">
      <div class="title-label">出货地区：</div>
      <a-tree-select
        v-model="area"
        @change="selectArea"
        placeholder="请选择区域 "
        allow-clear
        treeCheckable
        id="shipmentTree"
        :disabled="otherDisabled"
        :getPopupContainer="getPopupContainer"
        aria-readonly
        :filterTreeNode="notFilter"
        class="filter-input"
        :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
        :showCheckedStrategy="SHOW_PARENT"
      >
        <a-tree-select-node
          v-for="item in areaOptions"
          :key="item.areaCode"
          :value="item.areaCode"
          :title="item.areaName"
          :disabled="item.disabled"
        >
          <a-tree-select-node
            v-for="child in item.cityList"
            :value="child.areaCode"
            :key="child.areaCode"
            :disabled="item.disabled"
            :title="child.areaName"
          ></a-tree-select-node>
        </a-tree-select-node>
      </a-tree-select>
    </div>

    <div class="filter-item" v-show="!otherDisabled">
      <div class="title-label">企业施工资质：</div>
      <div class="filter-input">
        <a-radio-group
          :disabled="otherDisabled"
          @change="setHaveQualification"
          v-model="haveQualification"
        >
          <a-radio :value="true">有</a-radio>
          <a-radio :value="false">无</a-radio>
        </a-radio-group>
      </div>
    </div>

    <div class="filter-item relative" v-if="haveQualification">
      <div class="title-label">出售施工资质：</div>
      <div class="mb-[25px]">
        <tree-checkbox-single-select
          v-model="levelTwo"
          :designQualificationOptions="[]"
          :disabled="otherDisabled"
          placeholder="请选择企业取得的施工资质，必选"
          :fakeQualification="fakeQualification"
          :qualificationOptions="qualificationOptions"
          containerId="shipmentFilter"
          @input="changeSelectQua"
          class="w-[351px]"
        ></tree-checkbox-single-select>
        <!-- <a-select
          allowClear
          @change="changeSelectQua"
          @dropdownVisibleChange="dropdownVisibleChange"
          :disabled="otherDisabled"
          :open="showQuaSelect"
          :getPopupContainer="getPopupContainer"
          placeholder="请选择出售的资质类别"
          class="filter-input"
          :dropdownMatchSelectWidth="false"
          :dropdownStyle="{
            height: '132px',
            overflow: 'auto',
            zIndex: 10001
          }"
          v-model="levelTwo"
        >
          <div slot="dropdownRender" class="h-full">
            <div class="relative h-full">
              <div
                @mousedown="e => e.preventDefault()"
                v-if="showQuaSelect"
                class="flex pb-[32px] h-[100px]  overflow-y-auto items-start relative"
              >
                <div
                  class=" absolute left-0 top-0   w-[120px] border-r-[1px] border-r-solid border-[#EFF3F6]"
                >
                  <div
                    :class="{
                      'text-sysPrimary bg-[#EBF9F7]': levelOne === key
                    }"
                    @click="selectLevelOne(key)"
                    class="py-[5px] 
                   px-[14px] cursor-pointer hover:text-sysPrimary hover:bg-[#EBF9F7] "
                    v-for="(item, key) in saleQuaOptions"
                    :key="key"
                  >
                    {{ item.label }}
                  </div>
                </div>
                <div class="h-full pl-[120px] w-full ">
                  <div
                    @click="selectLevelTwo(item.value)"
                    :class="{
                      'text-sysPrimary bg-[#EBF9F7]': item.value === levelTwo
                    }"
                    class="py-[5px]
                   px-[14px] cursor-pointer hover:text-sysPrimary hover:bg-[#EBF9F7] "
                    v-for="(item, key) in saleQuaOptions[levelOne].children"
                    :key="key"
                  >
                    {{ item.label }}
                  </div>
                </div>
              </div>
              <div
                class=" border-t-[1px] border-t-solid border-t-[#EBF9F7] absolute bottom-[0px] w-full py-[5px] px-[14px]"
              >
                其他资质潜客正在分析中...
              </div>
            </div>
          </div>

          <a-option
            v-for="(item, key) in levelTwoOptions"
            :label="item.label"
            :value="item.value"
            :key="key"
          >
            {{ item.label }}
          </a-option>
        </a-select> -->
      </div>
      <div
        class=" text-tipOrange left-[116px] absolute bottom-[-5px]  leading-[30px] h-[30px]"
      >
        说明：查询结果企业不包含出售资质
      </div>
    </div>
    <div
      v-if="recommendBtns.length && haveQualification"
      class="filter-item  relative"
    >
      <div class="title-label">企业已有资质：</div>
      <tree-checkbox-select
        v-model="commendQua"
        :designQualificationOptions="[]"
        :disabled="otherDisabled"
        placeholder="请选择企业取得的施工资质，必选"
        :fakeQualification="fakeQualification"
        :qualificationOptions="qualificationOptions"
        :disableCheck="commendQuaOptions"
        containerId="shipmentFilter"
        @dropdownHidden="clickFindBtns"
        @isSetFormVaue="selectFromTreeSelect"
        class="mb-[16px]"
      ></tree-checkbox-select>
      <div
        class="tips h-[21px] leading-[21px] bottom-[-5px] left-[116px] font-medium  whitespace-nowrap  absolute "
      >
        <span class="text-tipOrange">
          说明：“企业已有资质”为空，查询出全部有资质但没有“出售施工资质”的企业
        </span>
      </div>
      <div
        @click="showHelpPicture"
        class="flex cursor-pointer  top-0 right-0 absolute
        px-[9px] py-[5px] w-[98px] items-center justify-between bg-[#ffe0cb] rounded-[2px]"
      >
        <div
          :style="'background-image:url(' + helpIcon + ')'"
          class=" bg-cover w-[20px] h-[20px]"
        ></div>
        <div class="text-[#FF7F28]">出货教程</div>
      </div>
    </div>
    <div
      v-if="recommendBtns.length && haveQualification"
      class="mt-[20px] pl-[116px] relative"
    >
      <div class="w-[80px]">推荐方案：</div>
      <div class="text-tipOrange font-medium text-[14px] mb-[10px] h-[21px] ">
        说明：小牛AI根据当地建筑企业资质结构和流转情况，为您找到以下6种潜客筛选方案，持有方案中资质的企业购买该资质意向度较高
      </div>
      <div class="flex items-center w-[855px] justify-between flex-wrap ">
        <a-button
          :disabled="otherDisabled"
          :type="
            recommendQualifications ===
            item[0].qualificationId + ',' + item[1].qualificationId
              ? 'primary'
              : 'default'
          "
          @click="setRecommendQua(key)"
          class="mb-[16px] w-[32%] text-[12px]"
          v-for="(item, key) in recommendBtns"
          :key="key"
        >
          {{ item[0].qualificationName }} + {{ item[1].qualificationName }}
        </a-button>
      </div>
    </div>

    <div class="filter-item" v-if="!haveQualification">
      <div class="title-label">企业名关键词：</div>
      <a-select
        allowClear
        :disabled="otherDisabled"
        @change="selectEnterpriseKeywords"
        :getPopupContainer="getPopupContainer"
        placeholder="请选择企业名称的关键词查询"
        class="filter-input"
        v-model="enterpriseKeyWord"
      >
        <a-option
          v-for="(item, key) in enterpriseKeyWordOption"
          :label="item.label"
          :value="item.value"
          :key="key"
          >{{ item.label }}</a-option
        >
      </a-select>
    </div>

    <div class="filter-item">
      <div class="title-label">高级筛选:</div>
      <div class="filter-input">
        <a-checkbox :checked="advancedFilter" @change="showAdvancedFilter">
          展开
        </a-checkbox>
      </div>
    </div>
    <div
      v-if="advancedFilter"
      class="bg-[#f2f6f8] rounded-[3px] px-[24px]  pt-[24px] pb-[8px] mb-[16px]"
    >
      <div class="filter-item">
        <div class="title-label">企业设计资质：</div>
        <div class="filter-input">
          <a-checkbox-group
            :value="haveDesign"
            :disabled="otherDisabled"
            :options="[
              { label: '有', value: 1 },
              { label: '无', value: 0 }
            ]"
            @change="setHaveDesign"
          ></a-checkbox-group>
        </div>
      </div>
      <div class="filter-item">
        <div class="title-label">注册资本：</div>
        <div class="register-captial">
          <a-input-number
              :disabled="otherDisabled"
              v-model="registerCapitalStart"
              :min="0.0001"
              class="captial-input"
              placeholder="最小资本"
          />
          <span>万</span>
          <div class="register-line"></div>
          <a-input-number
              :disabled="otherDisabled"
              v-model="registerCapitalEnd"
              :min="0.0001"
              class="captial-input"
              placeholder="最大资本"
          />
          <span>万</span>
        </div>

        <!--          <a-input-->
        <!--            class="filter-search"-->
        <!--            v-model="registerCapital"-->
        <!--            @change="isNeedSetPhoneDisabled"-->
        <!--            allowClear-->
        <!--            :disabled="otherDisabled"-->
        <!--            placeholder="请输入正数查询，如1000.0或1000.12"-->
        <!--          />-->
      </div>

      <div class="filter-item">
        <div class="title-label">关键字：</div>
        <div class="have-radio-input">
          <a-input
            :disabled="otherDisabled"
            v-model="keyWord"
            allow-clear
            @change="isNeedSetPhoneDisabled"
            class="input"
            placeholder="请输入企业名称或法定代表人"
          />
          <div class="type-radio">
            <a-radio-group
              :disabled="otherDisabled"
              v-model="keyWordType"
              class="group"
            >
              <a-radio :value="2">模糊</a-radio>
              <a-radio :value="1">精准</a-radio>
            </a-radio-group>
            <a-tooltip>
              <template slot="title">
                <p class="radio-tips">
                  关键字搜索是指包含关键词的内容进行检索，可选择模糊或者精准搜索，提升数据精准度。
                </p>
              </template>
              <a-icon type="question-circle" />
            </a-tooltip>
          </div>
        </div>
      </div>
      <div class="filter-item">
        <div class="title-label">联系电话：</div>
        <div class="have-radio-input">
          <a-input
            :disabled="phoneDisabled"
            v-model="phoneNum"
            @change="isNeedSetPhoneDisabled"
            allowClear
            class="input"
            placeholder="请清空其他筛选条件后 输入11位手机号码查询"
          />
          <div class="warning-tips" v-if="phoneNum">
            提示：若要选择或修改以上其他查询项，请先清空联系电话
          </div>
        </div>
      </div>
      <div class="filter-item" v-show="otherDisabled">
        <div class="title-label">企业施工资质：</div>
        <div class="filter-input">
          <a-radio-group v-model="phoneHaveQua">
            <a-radio :value="true">有</a-radio>
            <a-radio :value="false">无</a-radio>
          </a-radio-group>
        </div>
      </div>
    </div>
    <!-- <a-button
      @click="showAdvancedFilter"
      icon="filter"
      class="absolute right-[24px] top-[138px]"
      :type="advancedFilter ? 'primary' : 'default'"
    >
      高级筛选
    </a-button> -->
    <div class="filter-item">
      <a-button class="large-button" @click="clickFindBtns" type="primary">
        查询
      </a-button>
      <a-button class="large-button" @click="e => reSetFilter(false)">
        重置
      </a-button>
    </div>
    <div
      v-if="helpPicture"
      class="z-[2000] fixed w-[100vw] h-[100vh] top-0 left-0 bg-black bg-opacity-70"
    >
      <img @click="closeHelpPicture" :src="sellHelp" class="w-full h-full" />
      <!-- <div
        class="text-white text-[20px] cursor-pointer"
        @click="closeHelpPicture"
      >
        关闭
      </div> -->
    </div>
  </div>
</template>

<script>
import {
  Select,
  Input,
  TreeSelect,
  Radio,
  Tooltip,
  Checkbox,
  Modal,
  Cascader,
  InputNumber
} from 'ant-design-vue'
import { userModule } from '@/store/modules/user'
import helpIcon from '@/assets/image/tableItem/help_icon.png'
import DateInput from '@/components/Form/DateInput.vue'
import TreeCheckboxSelect from '@/components/TreeCheckboxSelect.vue'
import TreeCheckboxSingleSelect from '@/components/TreeCheckboxSingleSelect.vue'

import { areaJSON } from '@/utils/area.js'
import { universalModule } from '@/store/modules/universal'
import sellHelp from '@/assets/image/sell_help.png'
import Cookie from 'js-cookie'

export default {
  name: 'shipment-filter',
  components: {
    aCascader: Cascader,
    aCheckbox: Checkbox,
    aCheckboxGroup: Checkbox.Group,
    aTreeSelect: TreeSelect,
    TreeCheckboxSingleSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    aSelect: Select,
    aOption: Select.Option,
    aRadio: Radio,
    aTooltip: Tooltip,
    aRadioGroup: Radio.Group,
    aInput: Input,
    DateInput,
    TreeCheckboxSelect,
    aInputNumber:InputNumber
  },
  computed: {
    isSuperAdmin() {
      return userModule.roleLevel === 1
    },
    fakeQualification() {
      return universalModule.fakeQualificationOptions
    },
    qualificationOptions() {
      return universalModule.typeQualificationOptions
    }
  },
  data() {
    return {
      registerCapitalStart:'',//注册资本最小值
      registerCapitalEnd:'',//注册资本最大值
      sellHelp,
      helpIcon,
      showQuaSelect: false,
      saleQualificationIds: [], // 默认是72
      saleQuaOptions: [],
      levelTwoErr: false,
      haveLow: true,
      advancedFilter: false,
      levelOne: 0,
      levelTwo: undefined,
      levelOneOptions: [],
      levelTwoOptions: [],
      customerQuaOptions: [],
      history: null,
      gangAoTai: [810000, 820000, 710000],
      enterpriseKeyWord: undefined,
      enterpriseKeyWordOption: [
        { label: '建筑', value: '建筑' },
        { label: '建设', value: '建设' },
        { label: '工程', value: '工程' },
        { label: '劳务', value: '劳务' },
        { label: '安装', value: '安装' },
        { label: '装饰', value: '装饰' },
        { label: '科技', value: '科技' },
        { label: '市政', value: '市政' },
        { label: '钢结构', value: '钢结构' },
        { label: '电力工程', value: '电力工程' },
        { label: '分公司', value: '分公司' },
        { label: '办事处', value: '办事处' }
      ],
      phoneNum: '',
      keyWordType: 2,
      keyWord: '',
      SHOW_PARENT: TreeSelect.SHOW_PARENT,
      haveQualification: true,
      phoneHaveQua: true,
      haveDesign: [],
      area: [],
      areaCode: [],
      areaOptions: [],
      qualifications: undefined,
      defaultExpend: [],
      commendQuaOptions: [],
      // qualificationOptions: [],
      recommendQuaOptions: [],
      establishmentDate: [],
      filter: {},
      commendQua: [],
      recommendQualifications: undefined,
      recommendBtns: [],
      // fakeQualification: [],
      filterCondition: null,
      phoneDisabled: false,
      otherDisabled: false,
      helpPicture: false,
      userId: ''
    }
  },
  methods: {
    closeHelpPicture() {
      this.helpPicture = false
    },
    showHelpPicture() {
      this.helpPicture = true
    },
    showAdvancedFilter() {
      this.advancedFilter = !this.advancedFilter
    },
    changeSelectQua(val) {
      // console.log(val)
      if (!val) {
        this.qualificationIds = []
        this.recommendBtns = []
        this.commendQua = []
        this.levelOne = 0
        this.levelTwo = undefined
      } else {
        this.selectLevelTwo(val)
      }
    },
    dropdownVisibleChange(open) {
      this.showQuaSelect = open
    },
    selectLevelTwo(val) {
      this.levelTwo = val
      this.showQuaSelect = false
      this.findCommondQua(val)
      this.$emit('selectSellQualification', val)
      // this.levelTwoErr = false
    },
    async findCommondQua(val) {
      this.commendQuaOptions = [val]
      await this.$httpRequester
        .get('precise/getRelevanceQualification', { qualificationIds: val })
        .then(res => {
          if (res.length) {
            this.recommendBtns = res
            this.recommendQualifications =
              this.recommendBtns[0][0].qualificationId +
              ',' +
              this.recommendBtns[0][1].qualificationId
            this.commendQua = [
              this.recommendBtns[0][0].qualificationId,
              this.recommendBtns[0][1].qualificationId
            ]
          }
        })
    },

    selectLevelOne(key) {
      this.levelOne = key
    },
    onlyPhone(phone) {
      const haveQualification = this.haveQualification
      this.reSetFilter().then(() => {
        this.haveQualification = haveQualification
        this.phoneNum = phone
        this.isNeedSetPhoneDisabled()
        this.clickFindBtns()
      })
    },
    onlyKeyword(keyWord) {
      const haveQualification = this.haveQualification
      this.reSetFilter().then(() => {
        this.haveQualification = haveQualification
        this.keyWord = keyWord
        this.keyWordType = 1
        this.clickFindBtns()
      })
    },
    getPopupContainer() {
      return document.getElementById('shipmentFilter')
    },
    notFilter() {
      return false
    },
    async reSetFilter() {
      this.saleQualificationIds = []
      this.enterpriseKeyWord = undefined
      this.phoneNum = ''
      this.keyWordType = 2
      this.keyWord = ''
      this.registerCapitalStart=''
      this.registerCapitalEnd=''
      this.area = []
      this.recommendBtns = []
      this.areaCode = []
      this.qualifications = undefined
      this.establishmentDate = []
      this.recommendQualifications = undefined
      this.commendQua = []
      this.haveQualification = true
      this.haveDesign = []
      this.levelTwo = undefined
      this.levelOne = 0
      // this.levelTwoOptions = []
      this.otherDisabled = false
      this.phoneDisabled = false
      // this.isNeedSetPhoneDisabled()
    },
    notHaveFilterOption() {
      if (
        !this.keyWord &&
        !this.enterpriseKeyWord &&
        !this.phoneNum &&
        !this.levelOne &&
        !this.levelTwo
      ) {
        return true
      } else {
        return false
      }
    },
    async setFilterOption() {
      // let qualificationIds = []
      // if (this.levelTwo) {
      //   qualificationIds = [this.levelTwo]
      // } else if (this.levelOne !== undefined && this.levelTwo === undefined) {
      //   qualificationIds = this.levelOneOptions[this.levelOne].list.map(l => {
      //     return l.id
      //   })
      // }
      try {
        const isCellPhone = /^1(3|4|5|6|7|8|9)\d{9}$/
        if (this.phoneNum) {
          if (!isCellPhone.test(this.phoneNum)) {
            this.$message.error('请输入正确的手机号码进行查询')
            throw false
            // return
          }
        }
        if (!this.keyWord && !this.phoneNum) {
          if (this.haveQualification) {
            if (!this.levelTwo) {
              this.$message.error('请选择出售的施工资质后再进行查询')
              throw false
            }
            // if (!this.commendQua.length) {
            //   this.$message.error('请选择推荐资质后再进行查询')
            //   throw false
            // }
          } else {
            this.levelTwo = undefined
            this.recommendBtns = []
            this.commendQua = []
          }
          if (!this.area.length) {
            this.$message.error('请选择区域后再进行查询')
            throw false
          }
        }
        if (
            (this.registerCapitalStart && !this.registerCapitalEnd) ||
            (!this.registerCapitalStart && this.registerCapitalEnd)
        ) {
          this.$message.error('金额填写规则有误，示例：120万 — 500万')
          return
        }
        if (this.registerCapitalStart > 0 || this.registerCapitalEnd > 0) {
          if (this.registerCapitalEnd < this.registerCapitalStart) {
            this.$message.error('金额填写规则有误，示例：120万 — 500万')
            return
          }
        }

        if (this.establishmentDate.length) {
          const start = new Date(this.establishmentDate[0]).getTime()
          const end = new Date(this.establishmentDate[1]).getTime()
          if (start > end) {
            this.$message.error('成立开始时间不能大于结束时间')
            throw false
          }
        }
      } catch (e) {
        const a = e

        throw a
      }
      let haveDesignQualification = undefined
      if (this.haveDesign.length) {
        haveDesignQualification = Boolean(this.haveDesign[0])
      }
      this.filter = {
        // recommendQualificationId: this.recommendQualifications
        //   ? this.recommendQualifications
        //   : undefined,
        // sellingQualificationId: this.commendQua,
        areaCodeList: this.areaCode,
        haveBuildQualification: this.phoneNum
          ? this.phoneHaveQua
          : this.haveQualification,
        haveDesignQualification: haveDesignQualification,
        // haveLowLevel: this.haveQualification ? this.haveLow : undefined,
        enterpriseKeyWord: this.enterpriseKeyWord,
        keyWord: this.keyWord,
        registerCapitalStart:this.registerCapitalStart,
        registerCapitalEnd:this.registerCapitalEnd,
        qualificationIds: this.levelTwo ? [this.levelTwo] : undefined,
        relevanceIds: this.haveQualification ? this.commendQua : undefined,
        keyWordType: this.keyWordType,
        phoneNum: this.phoneNum
      }
    },
    clickFindBtns() {
      this.setFilterOption().then(() => {
        this.$emit('clickFindBtns')
      })
    },
    setFilterToFindList(num, size) {
      const pageNum = num ? num : this.$route.query.pageNum
      const pageSize = size ? size : this.$route.query.pageSize

      this.$emit('setFilter', {
        filter: this.filter,
        pageNum,
        pageSize
      })
    },
    selectArea(value) {
      this.areaCode = []
      value.forEach(v => {
        const find = this.areaOptions.find(a => {
          return a.areaCode === v
        })
        const inCode = this.areaCode.find(a => {
          return a === v
        })
        if (!inCode) {
          if (find) {
            this.areaCode.push(v)
            if (find.cityList.length) {
              this.areaCode = this.areaCode.concat(
                find.cityList.map(c => {
                  return c.areaCode
                })
              )
            }
          } else {
            this.areaCode.push(v)
          }
        }
      })
    },
    async getAreaList() {
      // await this.$httpRequester.get('regionCode/selList').then(r => {
      const r = areaJSON

      this.areaOptions = []
      this.areaOptions = r.map(a => {
        return {
          ...a,
          disabled: false
        }
      })
      this.areaOptions.forEach(e => {
        if (this.gangAoTai.includes(e.areaCode)) {
          e.disabled = true
        }
      })
      // this.getFilterHistory()
      if (!this.history) {
        let userArea = []
        let findProvince = null
        if (this.userId) {
          userArea = userModule.useAreaName.split('/')
          findProvince = r.find(e => {
            return e.areaName === userArea[0]
          }) // 找到省份
        } else {
          userArea = JSON.parse(this.$route.query.userArea)
          findProvince = r.find(e => {
            return e.areaName === userArea.province
          }) // 找到省份
        }

        if (findProvince) {
          // const findCity = findProvince.cityList.find(
          //   (c) => c.areaName === userArea[1]
          // ) // 找到城市
          this.area = [findProvince.areaCode]
          this.areaCode = [
            findProvince.areaCode,
            ...findProvince.cityList.map(c => {
              return c.areaCode
            })
          ]
        } else {
          this.areaCode = []
        }

        this.setFilterOption().then(() => {
          if (this.userId) {
            this.setFilterToFindList()
          } else {
            this.$emit('noLoginGetList', this.filter)
          }
        })
      }
    },
    setHaveQualification() {
      if (this.haveQualification) {
        this.enterpriseKeyWord = undefined
        // this.commendQua = []
        // this.qualificationId = undefined
      }
      this.isNeedSetPhoneDisabled()
    },
    setHaveDesign(value) {
      // 只能选一个
      if (!value.length || value.length === 1) {
        this.haveDesign = value
      } else {
        if (this.haveDesign[0] === value[0]) {
          this.haveDesign = [value[1]]
        } else {
          this.haveDesign = [value[0]]
        }
      }
      this.isNeedSetPhoneDisabled()
      // this.$emit('changeFiftyAndRelvateStatus', {
      //   haveQualification: this.haveQualification,
      //   haveDesign: this.haveDesign
      // })
    },

    selectRecommentQualifications(val) {
      this.qualifications = val
      this.isNeedSetPhoneDisabled()
    },
    selectFromTreeSelect(val) {
      this.recommendQualifications = val.join(',')
      // this.clickFindBtns()
    },
    setRecommendQua(key) {
      // this.qualifications = item.qualificationIds
      this.commendQua = [
        this.recommendBtns[key][0].qualificationId,
        this.recommendBtns[key][1].qualificationId
      ]
      this.recommendQualifications =
        this.recommendBtns[key][0].qualificationId +
        ',' +
        this.recommendBtns[key][1].qualificationId
      this.clickFindBtns()
    },
    selectEnterpriseKeywords(val) {
      if (val === '分公司' || val === '办事处') {
        Modal.info({
          title: '温馨提示',
          content: '某些分公司和办事处也有购买意向'
        })
      }
      this.isNeedSetPhoneDisabled()
    },
    getFilterHistory() {
      const params = {
        conditionEnum: 'PRECISE_QUERY'
      }
      this.$httpRequester.get('filter/queryCondition', params).then(res => {
        if (res) {
          this.history = JSON.parse(res.filterCondition)
          this.setHistoryToFilter(this.history)
        } else {
          this.getAreaList()
        }
      })
    },
    setCommendAndFind(val) {
      this.commendQua = val
      this.selectFromTreeSelect(val)
      this.clickFindBtns()
    },
    async setHistoryToFilter(data) {
      // console.log(data)
      // this.enterpriseKeyWord = data.enterpriseKeyWord
      this.phoneNum = data.phoneNum
      this.keyWordType = data.keyWordType || 2
      this.keyWord = data.keyWord
      this.registerCapitalStart=data.registerCapitalStart
      this.registerCapitalEnd=data.registerCapitalEnd
      this.area = []
      if (data.areaCodeList) {
        await this.getAreaList().then(() => {
          this.selectArea(data.areaCodeList)
          this.area = data.areaCodeList
        })
      } else {
        await this.getAreaList()
      }

      this.haveQualification =
        data.haveBuildQualification === undefined
          ? true
          : !!data.haveBuildQualification

      if (this.haveQualification && !data.keyWord) {
        if (data.qualificationIds && data.qualificationIds.length) {
          this.levelTwo = data.qualificationIds[0]
        } else {
          this.levelTwo = 72
        }

        if (this.levelTwo) {
          await this.findCommondQua(this.levelTwo).then(() => {
            if (data.relevanceIds && data.relevanceIds.length) {
              this.commendQua = data.relevanceIds
            }
          })
        }
      }
      this.enterpriseKeyWord = data.enterpriseKeyWord
      this.haveDesign =
        data.haveDesignQualification === undefined
          ? []
          : [Number(data.haveDesignQualification)]
      const pageNum = data.pageNum || 1
      const pageSize = data.pageSize || 10
      if (this.keyWord || this.phoneNum || this.haveDesign.length||this.registerCapitalStart) {
        this.advancedFilter = true
      }

      this.setFilterOption().then(() => {
        this.$emit('setFilter', {
          filter: this.filter,
          pageSize,
          pageNum
        })
      })
      this.isNeedSetPhoneDisabled()
    },
    isNeedSetPhoneDisabled() {
      if (
        !this.commendQua.length &&
        !this.areaCode &&
        !this.haveQualification &&
        !this.haveDesign.length &&
        !this.recommendQualifications &&
        !this.enterpriseKeyWord &&
        !this.keyWord &&
        !this.phoneNum
      ) {
        this.otherDisabled = false
        this.phoneDisabled = false
      } else {
        if (this.phoneNum) {
          this.otherDisabled = true
          this.phoneDisabled = false
        } else {
          this.otherDisabled = false
          this.phoneDisabled = false
        }
      }
      if (!this.haveQualification) {
        this.$emit('changeCommendDisabled', !this.haveQualification)
      } else {
        this.$emit('changeCommendDisabled', this.otherDisabled)
      }
      // console.log(this.otherDisabled)
    },
    getTwoLevelTreeList() {
      this.saleQuaOptions = []
      this.$httpRequester
        .get('/qualification/selQualificationByRelevance')
        .then(res => {
          this.levelTwoOptions = []
          res.forEach((e, i) => {
            this.levelTwoOptions = this.levelTwoOptions.concat(
              e.qualificationList.map(q => {
                return {
                  label: q.qualificationName,
                  value: q.qualificationId
                }
              })
            )
            this.saleQuaOptions.push({
              value: i,
              label: e.qualificationTypeLevel,
              children: e.qualificationList.map(q => {
                return {
                  label: q.qualificationName,
                  value: q.qualificationId
                }
              })
            })
          })
          if (this.userId) {
            this.getFilterHistory()
          } else {
            this.setNoLoginFilter()
          }
        })
    },
    setNoLoginFilter() {
      this.levelTwo = 7
      this.findCommondQua(this.levelTwo).then(() => {
        this.getAreaList()
      })
      // .then(() => {
      // if (data.relevanceIds && data.relevanceIds.length) {
      // this.commendQua = data.relevanceIds
      // }
      // })
    }
  },
  mounted() {
    // console.log(this.fakeQualification.length)

    if (!this.fakeQualification.length || !this.qualificationOptions.length) {
      universalModule.getTypeQualification()
      universalModule.getQualification()
    }
    const userAgent = navigator.userAgent.toLowerCase()
    this.userId =
      userAgent.indexOf(' electron/') > -1
        ? localStorage.getItem('userId')
        : Cookie.get('userId')
    this.$nextTick(() => {
      if (this.userId) {
        this.getFilterHistory()
      } else {
        this.setNoLoginFilter()
      }
      // const dom = document.getElementById('shipmentTree')
      // const areaTreeInput = dom.getElementsByTagName('input')[0]
      // const areaTreeFather = areaTreeInput.parentElement
      // areaTreeFather.removeChild(areaTreeInput)
      // this.setFilterToFindList()
      // this.getTwoLevelTreeList()
    })
  }
}
</script>
<style lang="scss" scoped>
.shipment-filter {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 30px 24px 8px 24px;
  position: relative;
  .filter-item {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 16px;
    flex-shrink: 0;
    .register-captial {
      display: flex;
      width: 445px;
      justify-content: space-between;
      align-items: center;

      .register-line {
        width: 30px;
        height: 1px;
        margin: 0 15px;
        background-color: #909399;
      }

      .captial-input {
        width: 150px;
      }
    }
    .title-label {
      font-size: 14px;
      color: #282828;
      // height: 32px;
      // line-height: 32px;
      flex-shrink: 0;
      width: 100px;
      text-align: left;
      margin-right: 16px;
    }
    .filter-input {
      // height: 32px;
      // line-height: 32px;
      min-width: 336px;
      margin-right: 16px;
      /deep/ .ant-cascader-menu {
        height: 200px;
      }
    }
    .levelTwoErr {
      /deep/.ant-select-selection {
        border: 1px solid #ff4d4f;
      }
    }
    .have-radio-input {
      display: flex;
      align-items: center;
      .input {
        margin-right: 15px;
        width: 336px;
      }
    }
    .large-button {
      width: 88px;
      margin-right: 16px;
    }
    .have-qualication-select {
      .recommend-select {
        height: 32px;
        line-height: 32px;
        min-width: 336px;
        margin-bottom: 6px;
      }
      .single-checkbox {
        width: 336px;
      }
      .recommend-qua {
        margin-top: 10px;
        // margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        .recommend-btn {
          margin-bottom: 10px;
          margin-right: 15px;
        }

      }
    }
  }
}
</style>
