<template>
  <div class="simple-card">
    <div v-if="showCkeckBox" class="checkbox">
      <a-checkbox :checked="isChecked" @click="changeChecked"></a-checkbox>
    </div>
    <div
      class="w-[60px] h-[60px] bg-cover flex-shrink-0"
      :style="'background-image:url(' + pcOffical + ')'"
    ></div>
    <div class="ml-[18px]">
      <div class="flex items-center">
        <div
          class="mr-[16px] company-name text-[16px] cursor-pointer text-textPrimary font-bold"
          :class="{ isClicked: isClicked, isTransfer: type === 'transfer' }"
          @click="goToCompanyDetail(row)"
          v-html="row.companyNameHTML"
        ></div>
        <a-tooltip
          v-if="!isSpecialProvince"
          :title="riskText.detail"
          placement="right"
          trigger="hover"
        >
          <div
            class="font-bold"
            :class="riskText.type"
            @click="goToCompanyRisk(row)"
          >
            <img
              :src="riskText.icon"
              class="w-[16px] h-[16px] mr-[2px]"
              alt=""
            />
            {{ riskText.title }}
          </div>
        </a-tooltip>
        <div
          v-if="row.fiftyNotReceive"
          class="w-[56px] h-[22px] bg-cover ml-[16px]"
          :style="'background-image:url(' + noReveice + ')'"
        ></div>
      </div>
      <div
        :class="{ isClicked: isClicked }"
        class="mt-[5px] text-textPrimary"
        v-if="
          row.qualificationRelevanceList &&
            row.qualificationRelevanceList.length
        "
      >
        <span>与该企业资质关联性：</span>
        <span v-for="(r, i) in row.qualificationRelevanceList" :key="i">
          <span v-if="i < 3">
            <span class="text-[#FF7F28] relevance-name">
              {{ r.qualificationName }}
            </span>
            <span class=" text-textLight relevance-type">
              （{{ r.relevance }}）
              <span
                v-if="i < 2 && i !== row.qualificationRelevanceList.length - 1"
                >、
              </span>
            </span>
          </span>
        </span>

        <a-popover
          v-if="row.qualificationRelevanceList.length > 3"
          trigger="hover"
        >
          <div slot="title" class="popover-title">与该企业资质关联性</div>
          <template slot="content">
            <div style="max-width: 600px">
              <span v-for="(r, i) in row.qualificationRelevanceList" :key="i">
                <span>
                  {{ r.qualificationName }}
                </span>
                <span>
                  （{{ r.relevance }}）
                  <span v-if="i !== row.qualificationRelevanceList.length - 1"
                    >、
                  </span>
                </span>
              </span>
            </div>
          </template>
          <span
            class="text-tipBlue relevance-tip cursor-pointer"
            v-if="row.qualificationRelevanceList.length > 3"
          >
            等{{ row.qualificationRelevanceList.length }}项
          </span>
        </a-popover>

        <!-- <a-popover trigger="hover" v-if="row.relevateOptionsTooltip">
          <div slot="title" class="popover-title">相关资质</div>
          <template slot="content">
            <div style="max-width: 600px">
              {{ row.relevateOptionsTooltip }}
            </div>
          </template>
          <span class="text-tipBlue"> 等{{ row.relevationLength }}项 </span>
        </a-popover> -->
      </div>

      <div class="mt-[5px] text-textLight" :class="{ isClicked: isClicked }">
        <span v-if="row.establishmentDate !== 'no'">
          成立日期：{{ row.establishmentDate || '-' }}
        </span>
      </div>

      <div class="mt-[5px]" v-if="row.isHaveDesignQualification">
        <a-popover
          v-if="row.designQualificationsListLocal.length >= 4"
          trigger="hover"
        >
          <div slot="title" class="popover-title">设计资质</div>
          <template slot="content">
            <div
              style="max-width: 600px"
              v-html="row.designQualificationsListText"
            ></div>
          </template>
          <div :class="{ isClicked: isClicked }" class="flex">
            <div
              :class="{ isClicked: isClicked }"
              class="flex-shrink-0 text-textLight"
            >
              设计资质：
            </div>
            <span
              class="text-textPrimary"
              v-html="row.designQualificationsText"
            ></span>
          </div>
        </a-popover>
        <div v-else>
          <div :class="{ isClicked: isClicked }" class="flex">
            <div
              :class="{ isClicked: isClicked }"
              class="flex-shrink-0 text-textLight"
            >
              {{ row.specialText || '设计资质：' }}
            </div>
            <span
              class="text-textPrimary"
              v-html="row.designQualificationsText"
            ></span>
          </div>
        </div>
      </div>

      <div
        v-if="!isSpecialProvince"
        class="mt-[5px]"
        :class="{ isClicked: isClicked }"
      >
        <span v-if="!isHavePhoneNumber(row.phoneNumDisplay)">
          暂无手机号。
          <!--          暂无手机号，程序员正在努力解析。注：除了高风险，其他风险程度不影响分立。-->
        </span>
        <div
          class="flex items-start"
          v-else-if="isHavePhoneNumber(row.phoneNumDisplay) && !row.haveReceive"
        >
          <span class="text-textLight">联系电话：</span>
          <span class="text-textPrimary">{{ row.phoneNumDisplay }}</span>
        </div>
        <a-tooltip v-else title="双击可复制电话号码" trigger="hover">
          <div class="flex items-center w-[fit-content]">
            <span class="text-textLight">联系电话：</span>
            <span
              class="font-bold text-tipBlue"
              v-for="(item, index) in row.phoneNumDisplay"
              :key="index"
              @dblclick="dblCopy(item)"
            >
              {{ item }}
              <span v-if="index !== row.phoneNumDisplay.length - 1">、</span>
            </span>
          </div>
        </a-tooltip>
      </div>
      <div
        v-if="!isSpecialProvince"
        class=" flex items-center  mt-[5px] text-textLight"
        :class="{ isClicked: isClicked }"
      >
        <div class="mr-[8px]">被查看次数：{{ row.receiveCount }}</div>
        <div class=" text-textTip" v-if="row.answerStatus">|</div>
        <div class="ml-[8px]" v-if="row.answerStatus">
          {{ row.answerStatus }}
        </div>
      </div>
      <div
        :class="{ isClicked: isClicked }"
        class="flex items-center leading-[14px] mt-[5px] "
        v-if="row.beforeNameList.length"
      >
        <img :src="clockIcon" class="w-[16px] h-[16px] mr-[2px]" />
        <div>曾用名：</div>
        <div v-if="row.beforeNameList.length > 2">
          <a-popover placement="top">
            <template slot="title">
              <span>曾用名 </span>
            </template>
            <template slot="content">
              <div
                style="max-width: 600px"
                v-html="row.beforeNameListHtml"
              ></div>
            </template>
            <div
              class="cursor-pointer"
              v-html="row.beforeNameListHtmlShort"
            ></div>
          </a-popover>
        </div>
        <div v-else v-html="row.beforeNameListHtml"></div>
      </div>
    </div>
    <div class="operate">
      <!-- <div
        title="分享企业"
        v-if="!isSpecialProvince"
        @click="showSharQrCode(row)"
        class="qr-code-image"
        :class="{ shareDisabled: isSuperAdmin }"
        :style="'background-image:url(' + qrCodeImage + ');' + ' '"
      ></div> -->
      <div class="region">{{ row.areaName }}</div>
      <div v-if="!isSpecialProvince" class="examine-phone">
        <!-- <div class="receive btn">电话已领取</div> -->
        <div
          v-if="!row.haveReceive"
          :class="{ cDisabled: isSuperAdmin }"
          class="no-receive btn"
          @click="receiveThisItem(row)"
        >
          联系企业
        </div>
      </div>
      <div v-if="row.haveReceive" class="btns">
        <!-- <div class="btns" v-if="false"> -->
        <!-- <div v-if="row.haveReceive" class="receive btn">已领取资源</div> -->
        <div
          :class="{ cDisabled: isSuperAdmin || !row.haveReceive }"
          class="not-turn-on btn"
          @click="phoneIsNotTurnOn"
        >
          拨打未通
        </div>
        <div
          :class="{ cDisabled: isSuperAdmin || !row.haveReceive }"
          class="follow btn"
          @click="phoneIsTurnOn"
        >
          接通跟进
        </div>
      </div>
    </div>
    <a-modal v-model="staffModal" title="注册人员" @cancel="closeModal">
      <a-tabs type="card" @change="changeTabCard">
        <a-tab-pane
          v-for="(item, key) in registerTypeTabs"
          :key="key"
          :tab="item.name + '(' + item.number + ')'"
        >
          <a-table
            :bordered="true"
            :columns="columns"
            :data-source="item.list"
            :pagination="false"
            rowKey="index"
          ></a-table>
        </a-tab-pane>
      </a-tabs>
      <div slot="footer">
        <!-- <a-button @click="closeModal" type="primary">确认</a-button> -->
      </div>
    </a-modal>
  </div>
</template>

<script>
import { Popover, Tooltip, Checkbox, Modal, Tabs, Table } from 'ant-design-vue'
import comapnyImage from '@/assets/image/company_image.png'
import qrCodeWhite from '@/assets/image/qr_code_white.png'
import qrCodePrimary from '@/assets/image/qr_code_primary.png'
import { userModule } from '@/store/modules/user'
import low from '@/assets/image/menuIcon/ic_danger_low.png'
import hight from '@/assets/image/menuIcon/ic_danger_hight.png'
import centre from '@/assets/image/menuIcon/ic_danger_centre.png'
import pcOffical from '@/assets/image/tableItem/pc_office.png'
import noReveice from '@/assets/image/tableItem/no_reveice.png'
import clockIcon from '@/assets/image/icon/clock.png'

export default {
  name: 'table-card',
  components: {
    aModal: Modal,
    aPopover: Popover,
    aTooltip: Tooltip,
    aCheckbox: Checkbox,
    aTabs: Tabs,
    aTable: Table,
    aTabPane: Tabs.TabPane
  },
  computed: {
    // phoneInfo() {
    //   let text = this.row.phoneText
    //   if (this.row.phoneText.indexOf('暂无') > -1) {
    //     return text
    //   } else if (this.isSuperAdmin) {
    //     return this.row.contactInformationListText
    //   } else {
    //     text = this.row.haveReceive
    //       ? this.row.contactInformationListText
    //       : this.row.phoneText.substring(0, 3) + '********'
    //     return text
    //   }
    // },
    // qrCodeImage() {
    //   // console.log(this.row.haveReceive)
    //   return this.row.haveReceive ? this.qrCodePrimary : this.qrCodeWhite
    // },
    riskText() {
      if (this.row.riskLevel !== undefined) {
        const riskDetail = [
          {
            title: '无风险',
            icon: low,
            type: 'no-risk risk',
            detail: '企业经营状况良好'
          },
          {
            title: '低风险',
            icon: low,
            type: 'no-risk risk',
            detail: '企业存在工商异常、行政处罚等信息'
          },
          {
            title: '中风险',
            icon: centre,
            type: 'medium-risk risk',
            detail: '企业存在被执行信息'
          },
          {
            title: '高风险',
            icon: hight,
            type: 'hight-risk risk',
            detail: '企业存在失信被执行信息'
          }
        ]

        return this.row.riskLevel >= 0 ? riskDetail[this.row.riskLevel] : {}
      } else {
        return {}
      }
    }
  },
  data() {
    return {
      low,
      hight,
      centre,
      pcOffical,
      noReveice,
      clockIcon,
      // 0=挂断，1=未接，2=空号，3=无法接通，4=不在服务器/国内，5=其他,可用
      qrCodeImage: qrCodePrimary,
      checked: false,
      comapnyImage,
      qrCodePrimary,
      qrCodeWhite,
      isSuperAdmin: userModule.roleLevel === 1,
      isSales: userModule.roleLevel === 4,
      staffModal: false,
      registerTypeTabs: [],
      columns: [
        { title: '序号', dataIndex: 'index' },
        { title: '姓名', dataIndex: 'personName' },
        { title: '注册类别', dataIndex: 'registerType' },
        { title: '注册专业', dataIndex: 'registerMajor' }
      ]
    }
  },
  props: {
    type: {
      type: String,
      default: 'default'
    },
    isSpecialProvince: {
      type: Boolean,
      default: false
    },
    index: {
      type: Number,
      default: -1
    },
    isChecked: {
      type: Boolean,
      default: false
    },
    showCkeckBox: {
      type: Boolean,
      default: false
    },
    isClicked: {
      type: [Boolean, Number, String],
      default: false
    },
    row: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {
    changeTabCard() {},
    closeModal() {
      this.staffModal = false
    },
    showRegisterPersonModal() {
      if (!this.row.registerTypeList.length) {
        return
      }
      // console.log(this.row.registerTypeList)
      this.registerTypeTabs = this.row.registerTypeList.map(e => {
        return {
          name: e.registerType,
          list: e.registerPersonList.map((r, i) => {
            return { ...r, index: i + 1 }
          }),
          number: e.registerPersonList.length
        }
      })
      this.staffModal = true
    },
    isHavePhoneNumber(num) {
      if (num.indexOf('暂无') > -1) {
        return false
      } else {
        return true
      }
    },
    dblCopy(phone) {
      if (!this.confirmEnding(phone, ')')) {
        copyThisText(phone)
        this.$message.success('电话号码已复制到粘贴板')
      }
    },
    //判断结尾字符
    confirmEnding(str, target) {
      const start = str.length - target.length
      const arr = str.substr(start, target.length)
      if (arr === target) {
        return true
      }
      return false
    },
    phoneIsNotTurnOn() {
      this.$emit('phoneIsNotTurnOn', this.row)
    },
    phoneIsTurnOn() {
      this.$emit('phoneIsTurnOn', this.row)
    },
    changeChecked() {
      //console.log(this.index)
      this.$emit('changeChecked', this.index)
    },
    selectThisRow() {
      //console.log(this.checked)
    },
    goToCompanyDetail(row) {
      this.$emit('goToCompanyDetail', { isSimple: true, ...row })
    },
    goToCompanyRisk(row) {
      this.$emit('goToCompanyRisk', { isSimple: true, ...row })
    },
    receiveThisItem(row) {
      if (this.isSuperAdmin) {
        return
      }
      this.$emit('receiveThisItem', row)
    },
    staffFollowUp(row) {
      if (this.isSuperAdmin) {
        return
      }
      if (!row.haveReceive) {
        this.$message.error('请领取后再进行操作')
        return
      }
      this.$emit('staffFollowUp', row)
    },
    showSharQrCode(row) {
      if (this.isSuperAdmin) {
        return
      }
      // if (!row.haveReceive) {
      //  this.$message.error('请领取后再进行操作')
      //  return
      //}
      this.$emit('showSharQrCode', row)
    }
  },
  watch: {
    // row: {
    //   deep: true,
    //   immediate: true,
    //   handler(val) {
    //     // console.log(val)
    //     if (val.notShowQrcode) {
    //       this.qrCodeImage = ''
    //     } else if (val.haveReceive) {
    //       this.qrCodeImage = qrCodePrimary
    //     } else {
    //       this.qrCodeImage = qrCodeWhite
    //     }
    //   },
    // },
  }
}
</script>
<style lang="scss">
.hightlight {
  color: #f30c0c !important;
}

.qua-hightlight {
  color: #f30c0c !important;
}
.isClicked {
  color: #a2a2a2 !important;
  span {
    color: #a2a2a2 !important;
  }
}
</style>

<style lang="scss" scoped>
.simple-card {
  width: 100%;
  padding: 24px 174px 24px 24px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-bottom: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  &:hover {
    background-color: #ebf9f7;
    .company-name {
      color: #00ab94 !important;
    }
  }
  .checkbox {
    height: 94px;
    width: 40px;
  }

  .hight-risk {
    color: #f30c0c;
  }

  .medium-risk {
    color: #ff7f28;
  }

  .no-risk {
    color: #00bc87;
  }

  .operate {
    position: absolute;
    height: 100%;
    width: 195px;
    right: 24px;
    bottom: 0;
    top: 0;
    flex-shrink: 0;

    .examine-phone {
      position: absolute;
      bottom: 24px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;

      .btn {
        width: 90px;
        // width: fit-content;
        cursor: pointer;
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        //  color: #ffffff;
        border-radius: 2px;
      }
    }

    .btns {
      position: absolute;
      bottom: 24px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;

      .btn {
        width: 90px;
        cursor: pointer;
        padding: 0 10px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        // color: #ffffff;
        border-radius: 2px;
      }
    }

    .receive {
      background-color: #b8b8b8;
    }

    .no-receive {
      background-color: #00ab94;
      color: #fff;
      border: 1px solid #00ab94;

      &:hover {
        background-color: #00bc87;
        color: #fff;
        border: 1px solid #00bc87;
      }
    }

    .follow {
      background-color: #00ab94;
      color: #ffffff;
      border: 1px solid #00ab94;

      &:hover {
        background-color: #00bc87;
        border: 1px solid #00bc87;
      }
    }

    .not-turn-on {
      color: #00ab94;
      border: 1px solid #00ab94;
      background-color: #ffffff;

      &:hover {
        color: #ffffff;
        background-color: #00bc87;
        border: 1px solid #00bc87;
      }
    }

    .qr-code-image {
      top: 32px;
      right: 0px;
      width: 34.5px;
      height: 34.5px;
      cursor: pointer;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      //background-color: #afafaf;
      position: absolute;
    }

    .shareDisabled {
      cursor: not-allowed !important;
    }

    .region {
      position: absolute;
      top: 64px;
      width: 100%;
      color: #686868;
      text-align: right;
    }
  }
}
</style>
