<template>
  <div id="tbFilter" class="table-filter">
    <div class="filter-item">
      <div class="filter-label">区域：</div>
      <a-tree-select
        v-model="area"
        @change="selectArea"
        placeholder="请选择区域 "
        allow-clear
        treeCheckable
        id="areaTree"
        aria-readonly
        :filterTreeNode="notFilter"
        class="auto-width"
        :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
        :showCheckedStrategy="SHOW_PARENT"
      >
        <a-tree-select-node
          v-for="item in areaOptions"
          :key="item.areaCode"
          :value="item.areaCode"
          :title="item.areaName"
          :disabled="item.disabled"
        >
          <a-tree-select-node
            v-for="child in item.cityList"
            :value="child.areaCode"
            :key="child.areaCode"
            :disabled="item.disabled"
            :title="child.areaName"
          ></a-tree-select-node>
        </a-tree-select-node>
      </a-tree-select>
    </div>
    <div v-if="isNotSpecialProvince">
      <div class="filter-item">
        <div class="filter-label">资质：</div>
        <a-tree-select
          @change="selectQualification"
          v-model="qualifications"
          :treeDefaultExpandedKeys="defaultExpend"
          :treeExpandedKeys="defaultExpend"
          tree-checkable
          allow-clear
          labelInValue
          class="auto-width"
          treeNodeFilterProp="label"
          treeNodeLabelProp="label"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          placeholder="请输入选择资质"
        >
          <!-- :tree-data="qualificationOptions" -->

          <a-tree-select-node
            v-for="qua in qualificationOptions"
            :key="qua.key"
            :value="qua.value"
            :selectable="qua.selectable"
            :checkable="qua.checkable"
            :label="qua.label"
            :title="qua.title"
          >
            <a-tree-select-node
              v-for="children in qua.children"
              :key="children.key"
              :value="children.value"
              :disabled="children.disabled"
              :label="children.label"
              :title="children.title"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select>
        <!-- <a-select
        mode="multiple"
        allowClear
        showArrow
        v-model="qualifications"
        placeholder="请选择资质"
        optionFilterProp="title"
        class="auto-width"
      >
        <a-option
          v-for="item in qualificationOptions"
          :value="item.value"
          :key="item.value"
          :title="item.label"
        >
          {{ item.label }}
        </a-option>
      </a-select>-->
        <div class="type-radio">
          <a-radio-group v-model="isAll" class="group">
            <a-radio :value="1">包含</a-radio>
            <a-radio :value="2">仅有</a-radio>
          </a-radio-group>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                说明:
                “包含”指企业取得资质包含已选资质且有其他资质；“仅有”指企业取得资质只有已选择资质。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
      </div>
      <div class="filter-item">
        <div class="filter-label">关键字：</div>
        <a-input
          class="filter-search"
          v-model="keyWord"
          allowClear
          placeholder="请输入企业名称或法定代表人"
        />
        <div class="type-radio">
          <a-radio-group v-model="keywordsType" class="group">
            <a-radio :value="0">模糊</a-radio>
            <a-radio :value="1">精准</a-radio>
          </a-radio-group>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                说明: 可对需要查询的企业名称或法定代表人进行检索。
                ”模糊”为包含关键字的检索 ，“精准”为关键词有且仅有的检索。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
        <div class="advanced-btns">
          <a-button
            :type="showAdvanced ? 'primary' : 'default'"
            @click="showAdvanceFilter"
            icon="filter"
            class="have-rt-margin"
            >{{ showAdvanced ? '收起高级匹配' : '高级匹配' }}
          </a-button>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                说明: 选择“高级匹配”可以根据更多的条件查询相关企业。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
      </div>
      <div v-show="showAdvanced">
        <!-- <div class="filter-item">
        <div class="filter-label long-label">精准搜索：</div>
        <a-input
          class="filter-search short-filter"
          v-model="legalPerson"
          allowClear
          placeholder="请输入法人名称"
        />
        <a-tooltip>
          <template slot="title">
            <p class="radio-tips">
              输入法人姓名进行精确查询
            </p>
          </template>
          <a-icon type="question-circle" />
        </a-tooltip>
      </div>-->
        <div class="filter-item">
          <div class="filter-label long-label">证书编号：</div>
          <a-input
            class="filter-search short-filter"
            v-model="certificateNo"
            allowClear
            placeholder="请输入需要查询的证书编号"
          />
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">证书发证日期：</div>
          <a-date-range-picker
            class="filter-search short-filter"
            format="YYYY-MM-DD"
            valueFormat="YYYY-MM-DD"
            v-model="printNo"
            :disabled-date="disabledEndDate"
            :placeholder="['请选择日期范围', '请选择日期范围']"
          ></a-date-range-picker>
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">证书有效日期：</div>
          <a-date-range-picker
            class="filter-search short-filter"
            format="YYYY-MM-DD"
            v-model="effectiveDate"
            valueFormat="YYYY-MM-DD"
            :placeholder="['请选择日期范围', '请选择日期范围']"
          ></a-date-range-picker>
        </div>
        <div class="filter-item">
          <div class="filter-label long-label">企业成立时间：</div>
          <a-date-range-picker
            class="filter-search short-filter"
            format="YYYY-MM-DD"
            valueFormat="YYYY-MM-DD"
            v-model="establishmentDate"
            :disabled-date="disabledEndDate"
            :placeholder="['请选择日期范围', '请选择日期范围']"
          ></a-date-range-picker>
        </div>
        <!-- <div class="filter-item">
        <div class="filter-label long-label">证书资质数量：</div>
        <div class="filter-search short-filter number-count">
          <a-input-number
            class="num-input"
            v-model="minCount"
            placeholder="最小值"
            :min="0"
          ></a-input-number>
          <div class="text-label">个</div>
          <div class="text-label have-margin">至</div>
          <a-input-number
            class="num-input"
            v-model="maxCount"
            :min="minCount"
            placeholder="最大值"
          ></a-input-number>
          <div class="text-label">个</div>
        </div>
      </div>-->
        <div class="filter-item">
          <div class="filter-label long-label">有无被领取：</div>
          <a-select
            allowClear
            showArrow
            @change="changeReceived"
            v-model="isReceived"
            placeholder="请选择领取状态"
            class="filter-search short-filter"
          >
            <a-option
              v-for="item in receivedOptions"
              :value="item.value"
              :key="item.value"
              :title="item.label"
              >{{ item.label }}
            </a-option>
          </a-select>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                说明：列表中“被查看次数：0”视为无被领取，其余视为有被领取。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <a-button
        size="large"
        class="large-button"
        @click="setFilterToFindList"
        type="primary"
        >查询
      </a-button>
      <a-button
        size="large"
        class="large-button"
        @click="e => reSetFilter(false)"
        >重置
      </a-button>
    </div>
    <!--    <div v-if="jumpImageVisible" @click="closeJumpImage" class="mask">-->
    <!--      <div @click="closeJumpImage" class="close-mask">关闭</div>-->
    <!--      <img @click="goToMyResources" class="welcome-image" :src="jumpImage" />-->
    <!--    </div>-->
  </div>
</template>

<script lang="ts">
import { userModule } from '@/store/modules/user'
import Vue from 'vue'
import {
  Select,
  Input,
  TreeSelect,
  DatePicker,
  Radio,
  Tooltip,
  Modal
} from 'ant-design-vue'
import jumpImage from '@/assets/image/welcome.png'
import { areaJSON } from '@/utils/area.js'

export default Vue.extend({
  name: 'table-filter',
  components: {
    aTooltip: Tooltip,
    aRadio: Radio,
    aRadioGroup: Radio.Group,
    aInput: Input,
    aSelect: Select,
    aDateRangePicker: DatePicker.RangePicker,
    aTreeSelect: TreeSelect,
    aTreeSelectNode: TreeSelect.TreeNode,
    aOption: Select.Option
  },
  data() {
    return {
      isAdmin: userModule.roleLevel === 2,
      jumpImageVisible: false,
      jumpImage,
      gangAoTai: [810000, 820000, 710000],
      isNotSpecialProvince: true,
      keywordsType: 0, // 搜索是精准还是模糊
      isReceived: [] as any, // 有无被领取
      qualificationCount: [], // 资质数量 废弃
      qualifications: [] as any, // 资质选择
      reallyQua: [] as any, // 真正的资质选择  上面的是用来展示的
      certificateNo: '', // 证书施工编号
      effectiveDate: [], // 有效日期
      printNo: [], // 发证日期
      companyName: '', // 公司姓名 this.keyword
      legalPerson: '', // 法人名称 废弃
      areaCode: [] as any, // 地区
      registeredCapital: '', // 注册资本 废弃
      shareholderName: '', // 股东信息  this.keyword
      establishmentDate: [], // 成立时间
      isAll: 1,
      showAdvanced: false,
      minCount: 0,
      maxCount: '',
      keyWord: '',
      area: [] as any,
      receivedOptions: [
        { value: '1', label: '有' },
        { value: '2', label: '无' }
      ],
      qualificationOptions: [] as any,
      areaOptions: [] as any,
      SHOW_PARENT: (TreeSelect as any).SHOW_PARENT,
      lastFilterSave: null as any,
      must: null as any,
      filterCondition: null as any,
      defaultExpend: [] as any,
      pageSize: 10,
      pageNum: 0
    }
  },
  methods: {
    notFilter() {
      return false
    },
    selectArea(value: any) {
      this.areaCode = []
      value.forEach((v: any) => {
        const find = this.areaOptions.find((a: any) => {
          return a.areaCode === v
        })
        if (find) {
          this.areaCode.push(v)
          if (find.cityList.length) {
            this.areaCode = this.areaCode.concat(
              find.cityList.map((c: any) => {
                return c.areaCode
              })
            )
          }
        } else {
          this.areaCode.push(v)
        }
      })
      let isHaveSpecial = false as any
      this.areaCode.forEach((e: any) => {
        const findSpecial = this.gangAoTai.find((g: any) => {
          return g === e
        })
        if (findSpecial) {
          isHaveSpecial = true
        }
      })
      this.isNotSpecialProvince = !isHaveSpecial as any
      this.setAreaCodeDisabled()
    },
    setFilterValue() {
      this.must = {
        isReceived: {
          data: this.isReceived.length ? this.isReceived : ''
        },
        qualificationCount: {
          data: this.qualificationCount
        },
        qualification: {
          isContain: this.isAll,
          data: this.reallyQua
        },
        certificateNo: {
          data: this.certificateNo
        },
        effectiveDate: {
          data: this.effectiveDate
        },
        companyName: {
          data: ''
        },
        legalPerson: {
          data: this.legalPerson
        },
        keywords: {
          data: this.keyWord,
          type: this.keywordsType
        },
        areaCode: {
          data: this.areaCode
        },
        registeredCapital: {
          data: []
        },
        shareholderName: {
          data: []
        },
        establishmentDate: {
          data: this.establishmentDate
        },
        printNo: {
          data: this.printNo
        }
      }

      // console.log(must)

      // {"isReceived":{"data":""},
      // "qualificationCount":{"data":[]},
      // "qualification":{"data":[3]},
      // "certificateNo":{"data":""},
      // "effectiveDate":{"data":[]},
      // "companyName":{"data":""},
      // "legalPerson":{"data":""},
      // "areaCode":{"data":[]},
      // "registeredCapital":{"data":[]},
      // "shareholderName":{"data":[]},
      // "establishmentDate":{"data":[]}

      // this.$emit('getValue')
      return Promise.resolve(this.must)
    },
    saveCurrentPageSizeAndPageNum(num: any, size: any) {
      this.pageNum = num
      this.pageSize = size
      // console.log(this.filterCondition)
      this.setFilterValue().then((res: any) => {
        const condition = this.isHaveFilterCondition()
          ? res
          : this.filterCondition // 点了重置，没有筛选条件就用上次的，没点就更新
        // this.$emit('getFilterList', {
        //   options: condition,
        //   pageNum: this.pageNum,
        //   pageSize: this.pageSize,
        // })
        this.saveUserLastFindFilter(condition)
      })
    },
    saveUserLastFindFilter(filter: any) {
      const saveFilterParams = {
        filterCondition: JSON.stringify({
          ...filter,
          pageSize: this.pageSize,
          pageNum: this.pageNum
        }),
        companyId: userModule.companyId || 1, // todo:测试数据
        saveUserName: userModule.name,
        saveUserId: userModule.userId,
        conditionName: userModule.name + '的最后保存数据'
      } as any
      if (this.filterCondition) {
        saveFilterParams.id = this.lastFilterSave.id
        this.$httpRequester.put('filter', saveFilterParams).then(() => {
          console.log('更新成功')
          this.filterCondition = JSON.parse(saveFilterParams.filterCondition)
          this.setLastFilterSave()
        })
      } else {
        this.$httpRequester.post('filter', saveFilterParams).then(() => {
          console.log('保存成功')
          this.getFilterGroup()
          // this.$message.success('操作成功')
          // this.handleCancelSave()
        })
      }
    },
    reSetFilterToRemoveSaveFilter() {
      this.$httpRequester
        .delete('filter/id', this.lastFilterSave.id)
        .then(() => {
          console.log('删除用户的保存数据')
        })
    },
    isHaveFilterCondition() {
      if (
        !this.isReceived.length &&
        !this.qualifications.length &&
        !this.certificateNo.length &&
        !this.printNo.length &&
        !this.effectiveDate.length &&
        !this.keyWord &&
        !this.reallyQua.length &&
        !this.area.length &&
        !this.establishmentDate.length
      ) {
        //
        return false
      } else {
        return true
      }
    },
    setFilterToFindList() {
      // if (
      //   !this.isReceived.length &&
      //   !this.qualifications.length &&
      //   !this.certificateNo.length &&
      //   !this.printNo.length &&
      //   !this.effectiveDate.length &&
      //   !this.keyWord &&
      //   !this.reallyQua.length &&
      //   !this.area.length &&
      //   !this.establishmentDate.length &&
      //   !this.legalPerson.length
      // ) {
      //   this.$message.error('请选择输入查询条件后再进行查询')
      //   return
      // }
      const keyWords = this.keyWord
      const isKanji = new RegExp('[\u4E00-\u9FA5]+') // 汉字
      const isAlphabet = new RegExp('[A-Za-z]+') // 英文
      if (keyWords) {
        if (!isKanji.test(keyWords) && !isAlphabet.test(keyWords)) {
          this.$message.error('关键字查询要求至少包含一个中文或英文字符')
          return
        }
      }
      if (!this.isHaveFilterCondition()) {
        this.$message.error('请选择输入查询条件后再进行查询')
        return
      }
      // console.log('success find')
      this.pageNum = 1
      this.$setQuery.addQuery(this.$route, {
        pageNum: this.pageNum,
        pageSize: this.pageSize
      })
      this.$emit('clickFindBtns')
      this.setFilterValue().then((res: any) => {
        this.saveUserLastFindFilter(res)
        // this.$emit('getFilterList', {
        //   options: res,
        //   pageNum: this.pageNum,
        //   pageSize: this.pageSize,
        // })
      })
    },
    reSetFilter(isFromSelectArea: any) {
      this.isReceived = [] // 有无被领取
      this.qualificationCount = [] // 资质数量 废弃
      this.qualifications = [] as any // 资质选择
      this.certificateNo = '' // 证书施工编号
      this.effectiveDate = [] // 有效日期
      this.printNo = [] // 发证日期
      this.companyName = '' // 公司姓名 this.keyword
      this.legalPerson = '' // 法人名称  this.keyword
      this.keyWord = ''
      this.reallyQua = [] // 真正的资质选项

      this.registeredCapital = '' // 注册资本 废弃
      this.shareholderName = '' // 股东信息  this.keyword
      this.establishmentDate = [] // 成立时间
      this.isAll = 1
      this.keywordsType = 0 // 关键字搜索类型
      this.pageSize = 10
      this.pageNum = 1
      if (!isFromSelectArea) {
        this.area = [] // 地区
        this.areaCode = []
        this.isNotSpecialProvince = true
        this.setAreaCodeDisabled()
      }
      // this.$setQuery.addQuery(this.$route, null)
      this.setQualificationBegin()

      // if (this.lastFilterSave) {
      //   this.reSetFilterToRemoveSaveFilter()
      // }
    },
    changeReceived(val: any) {
      if (val !== undefined) {
        this.isReceived = val
      } else {
        this.isReceived = []
      }
    },
    showAdvanceFilter() {
      this.showAdvanced = !this.showAdvanced
    },
    disabledEndDate(endValue: any) {
      const currentDate = new Date().getTime()
      return endValue.valueOf() > currentDate
    },
    selectQualification(value: any) {
      // 一次性全清除就全部置白
      if (!value.length) {
        this.qualificationOptions.forEach((q: any) => {
          q.children.forEach((c: any) => {
            c.disabled = false
          })
        })
      } else {
        // 用特殊的方法处理disabled 问题,这种情况下一次只有一个
        const currentVal = value.map((e: any) => {
          return e.value
        })
        const find = currentVal.concat(this.reallyQua).find((e: any) => {
          return !this.reallyQua.includes(e) || !currentVal.includes(e)
        })
        // console.log(find)
        this.qualificationOptions.forEach((q: any) => {
          if (
            q.children.find((e: any) => {
              return e.value === find
            })
          ) {
            // console.log(q)
            if (currentVal.includes(find)) {
              // 在当前value里面就是新加的
              q.children.forEach((e: any) => {
                if (e.value !== find) {
                  e.disabled = true
                }
              })
            } else {
              // 不在就是删除的
              q.children.forEach((e: any) => {
                e.disabled = false
              })
            }
          }
        })
      }
      this.reallyQua = value.map((e: any) => {
        return e.value
      })
    },
    selectQualificationItem(qua: any, value: any) {
      // console.log(qua, value)
      const isHaveSelect = this.qualifications.find((e: any) => {
        return e.value === value
      })
      // console.log(isHaveSelect)
      if (isHaveSelect) {
        qua.children.forEach((q: any) => {
          if (q.value !== value) {
            q.disabled = true
          }
        })
      } else {
        qua.children.forEach((q: any) => {
          q.disabled = false
        })
      }
      // this.defaultExpend.push(key)
    },
    setQualificationBegin() {
      this.qualificationOptions.forEach((q: any) => {
        q.children.forEach((c: any) => {
          c.disabled = false
        })
      })
    },
    getQualificationOptions() {
      this.qualificationOptions = []
      this.$httpRequester
        .get('qualification/selQualificationAll')
        .then((r: any) => {
          const qua = [] as any
          r.forEach((e: any, i: number) => {
            this.defaultExpend.push(e.qualificationName + i)
            qua.push({
              title: e.qualificationName,
              label: e.qualificationName,
              value: e.qualificationName + i,
              key: e.qualificationName + i,
              selectable: false,
              checkable: false,
              children: e.qualificationLevels.map((q: any) => {
                return {
                  selectable: true,
                  checkable: true,
                  disabled: false,
                  label: e.qualificationName + q.level,
                  title: q.level,
                  value: q.id,
                  key: q.id
                }
              })
            })
            this.qualificationOptions.push({
              title: e.qualificationName,
              label: e.qualificationName,
              value: e.qualificationName + i,
              key: e.qualificationName + i,
              selectable: false,
              checkable: false,
              children: e.qualificationLevels.map((q: any) => {
                return {
                  selectable: true,
                  checkable: true,
                  disabled: false,
                  label: e.qualificationName + q.level,
                  title: q.level,
                  value: q.id,
                  key: q.id
                }
              })
            })
          })
          userModule.setQualificationOptions(qua)
          this.getFilterGroup() // 先拉取选项再进行赋值
        })
    },
    getAreaCityOptions() {
      const r = areaJSON
      // this.$httpRequester.get('regionCode/selList').then((r: any) => {
      this.areaOptions = []

      // const JiangSu = r.find((e: any) => {
      //   return e.areaCode === 320000
      // })
      this.areaOptions = r.map((a: any) => {
        return {
          ...a,
          disabled: false
        }
      })
      if (!this.lastFilterSave) {
        const userArea = userModule.useAreaName.split('/')
        const findProvince = r.find((e: any) => {
          return e.areaName === userArea[0]
        }) // 找到省份
        // console.log(findProvince)
        if (findProvince) {
          const findCity = findProvince.cityList.find(
            (c: any) => c.areaName === userArea[1]
          ) as any // 找到城市
          this.area = [findCity.areaCode]
          this.areaCode = [findCity.areaCode]
        }
        this.setFilterValue().then((res: any) => {
          this.$emit('getFilterList', {
            options: res,
            pageNum: this.pageNum,
            pageSize: this.pageSize,
            isNotSpecialProvince: this.isNotSpecialProvince
          })
        })
      } else {
        this.area = this.filterCondition.areaCode.data // 地区
        this.areaCode = this.filterCondition.areaCode.data // 地区
        this.isNeedShowAdvanced()
      }
      this.selectArea(this.area)
      // this.setAreaCodeDisabled()
      this.welcome()

      // todo:现在只有江苏的，先写死

      //  [JiangSu]
      // if (userArea[0] !== '江苏省') {
      //   // 非江苏的定位江苏

      //   this.area = [JiangSu.areaCode]

      //   this.areaCode = this.area.concat(
      //     JiangSu.cityList.map((c: any) => {
      //       return c.areaCode
      //     })
      //   )
      // } else {
      //   // 江苏本地的走本地城市
      //   const findCity = JiangSu.cityList.find(
      //     (c: any) => c.areaName === userArea[1]
      //   )
      //   this.area = [findCity.areaCode]
      //   this.areaCode = [findCity.areaCode]
      // }
      // })
    },
    getFilterGroup() {
      const params = {
        rows: 1,
        page: 1,
        userId: userModule.userId,
        companyId: userModule.companyId
      }
      this.$httpRequester
        .get('filter/queryConditionByPage', params)
        .then((r: any) => {
          this.lastFilterSave = r.records.length ? r.records[0] : null
          if (this.lastFilterSave) {
            this.filterCondition = JSON.parse(
              this.lastFilterSave.filterCondition
            )
            this.setLastFilterSave()
          } else {
            this.getAreaCityOptions() // 获取省份
          }
        })
    },
    setLastFilterSave() {
      // this.$nextTick(() => {
      this.pageNum = this.filterCondition.pageNum || 1
      this.pageSize = this.filterCondition.pageSize || 10
      this.$setQuery.addQuery(this.$route, {
        pageSize: this.pageSize,
        pageNum: this.pageNum
      })

      this.isReceived = this.filterCondition.isReceived.data || [] // 有无被领取
      this.qualificationCount = this.filterCondition.qualificationCount.data // 资质数量 废弃
      this.reallyQua = this.filterCondition.qualification.data // 真正的资质选择
      this.qualifications = [] as any
      this.isAll = this.filterCondition.qualification.isContain || 1
      this.keywordsType = this.filterCondition.keywords.type || 0
      this.reallyQua.forEach((e: any) => {
        this.qualificationOptions.forEach((q: any) => {
          let findQua = null as any
          findQua = q.children.find((c: any) => {
            return c.value === e
          })
          if (findQua) {
            this.qualifications.push({
              label: findQua.label,
              value: findQua.value
            })
            this.selectQualificationItem(q, e)
          }
        })
      })
      // console.log(this.qualifications)
      this.certificateNo = this.filterCondition.certificateNo.data // 证书施工编号
      this.effectiveDate = this.filterCondition.effectiveDate.data // 有效日期
      this.printNo = this.filterCondition.printNo.data // 发证日期
      this.keyWord = this.filterCondition.keywords
        ? this.filterCondition.keywords.data
        : '' // 公司姓名 this.keyword
      // this.area = this.filterCondition.areaCode.data // 地区
      // this.areaCode = this.filterCondition.areaCode.data // 地区
      this.legalPerson = '' // 精准搜索 法人名称废弃
      this.establishmentDate = this.filterCondition.establishmentDate.data // 成立日期
      // console.log('this way1')

      this.getAreaCityOptions()
      // this.setAreaCodeDisabled() // 设置省份不能选
      // })
    },
    setAreaCodeDisabled() {
      // 控制港澳台地区不能被选择
      // let isHaveSpecial = false as any
      // this.areaCode.forEach((e: any) => {
      //   const findSpecial = this.gangAoTai.find((g: any) => {
      //     return g === e
      //   })
      //   if (findSpecial) {
      //     isHaveSpecial = true
      //   }
      // })
      if (!this.isNotSpecialProvince && this.areaCode.length) {
        // 选了港澳台就不能选其他的省份
        this.areaOptions.forEach((a: any) => {
          if (!this.gangAoTai.includes(a.areaCode)) {
            a.disabled = true
          } else {
            a.disabled = false
          }
        })
        //  this.isNotSpecialProvince = false
        // this.reSetFilter(true)
      } else if (this.isNotSpecialProvince && this.areaCode.length) {
        // 选了其他省不能选港澳台
        this.areaOptions.forEach((a: any) => {
          if (!this.gangAoTai.includes(a.areaCode)) {
            a.disabled = false
          } else {
            a.disabled = true
          }
        })
        // this.isNotSpecialProvince = true
      } else {
        this.areaOptions.forEach((a: any) => {
          // 什么都不选
          a.disabled = false
        })
        //  this.isNotSpecialProvince = true
      }
      //  console.log('disabled')
      // if (!this.areaCode[0]) {
      //   this.areaOptions.forEach((e: any) => {
      //     e.disabled = false
      //   })
      // } else {
      //   this.areaOptions.forEach((e: any) => {
      //     const isCity = e.cityList.find((c: any) => {
      //       return c.areaCode === this.areaCode[0]
      //     })
      //     if (e.areaCode === this.areaCode[0] || isCity) {
      //       e.disabled = false
      //       // console.log(e)
      //     } else {
      //       e.disabled = true
      //     }
      //   })
      // }
    },
    welcome() {
      const currentDate = new Date().getTime()
      const nextWeclomeTime = localStorage.getItem(
        // 下次弹框时间
        userModule.userId.toString()
      ) as string
      // console.log(parseInt(lastAccountTime, 10) < currentDate)

      // console.log('userModule.account', currentAccount)
      // 当前时间大于下次弹框时间 就去弹窗，反之
      if (parseInt(nextWeclomeTime, 10) > currentDate) {
        return
      }
      const filterText = []
      if (this.certificateNo.length) {
        filterText.push(`“证书编号${this.certificateNo}”`)
      }
      if (this.printNo.length) {
        filterText.push(`“证书发证日期${this.printNo[0]}-${this.printNo[1]}”`)
      }
      if (this.effectiveDate.length) {
        filterText.push(
          `“证书有效日期${this.effectiveDate[0]}-${this.effectiveDate[1]}”`
        )
      }
      if (this.establishmentDate.length) {
        filterText.push(
          `“企业成立时间${this.establishmentDate[0]}-${this.establishmentDate[1]}”`
        )
      }
      if (this.isReceived.length) {
        const receivedText =
          this.isReceived === '1' ? '“线索已被领取”' : '“线索未被领取”'
        filterText.push(receivedText)
      }
      if (this.keyWord) {
        filterText.push(`“关键字${this.keyWord}”`)
      }
      if (this.qualifications.length) {
        const quaText = this.qualifications
          .map((e: any) => {
            return e.label
          })
          .join('、')
        filterText.push(`“资质项：${quaText}”`)
      }
      if (this.area.length) {
        const areaText = [] as any
        this.areaOptions.forEach((o: any) => {
          const province =
            this.area.find((a: any) => {
              return a === o.areaCode
            }) || -1
          if (province > 0) {
            areaText.push(o.areaName)
          }
          // console.log(province)
          if (o.areaCode !== province) {
            o.cityList.forEach((c: any) => {
              const city = this.area.find((a: any) => {
                return a === c.areaCode
              })
              if (city) {
                areaText.push(c.areaName)
              }
            })
          }
        })
        const areaDisplay = areaText.join('、')
        filterText.push(`“区域：${areaDisplay}“`)
        // console.log(areaText)
      }
      filterText.push(`“第${this.pageNum}页”`)
      const filterDisplay = filterText.join('，')
      //  if (!lastAccountTime) {
      // 没有的话弹窗欢迎
      const content = `${userModule.name}，欢迎进入小牛建讯 请开始元气满满的一天的吧 ~ 当前搜索结果为${filterDisplay}。`
      Modal.info({
        title: '温馨提示',
        content,
        onOk: () => {
          this.showJumpImage()
        }
      })
      const nextDay = new Date(
        this.$moment()
          .add(1, 'days')
          .format('yyyy-MM-DD 00:00:00')
      ).getTime()
      // .valueOf()
      localStorage.setItem(userModule.userId.toString(), nextDay.toString())
      // console.log(nextDay)
    },

    showJumpImage() {
      this.jumpImageVisible = true
      const html = document.getElementsByTagName('html')
      // console.log(html)
      html[0].style.overflow = 'hidden'
      document.body.style.overflow = 'hidden'
    },
    goToMyResources() {
      this.closeJumpImage()

      if (this.isAdmin) {
        // 只有公司管理员能跳转
        this.$router.push({
          name: 'resources'
        })
      } else {
        this.$message.info('请联系公司管理员进行认证操作')
      }
    },
    closeJumpImage() {
      this.jumpImageVisible = false
      const html = document.getElementsByTagName('html')
      // console.log(html)
      html[0].style.overflow = 'auto'
      document.body.style.overflow = 'auto'
    },
    isNeedShowAdvanced() {
      if (
        this.isReceived.length ||
        this.certificateNo.length ||
        this.effectiveDate.length ||
        this.printNo.length ||
        this.establishmentDate.length
      ) {
        this.showAdvanced = true
      } else {
        this.showAdvanced = false
      }
      // setTimeout(() => {
      //   console.log(this.pageNum, this.pageSize)
      // }, 3000)

      this.setFilterValue().then((res: any) => {
        // console.log(this.pageNum, this.pageSize)
        this.$emit('getFilterList', {
          options: res,
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          isNotSpecialProvince: this.isNotSpecialProvince
        })
      })
    }
    /*advData() {
      this.$httpRequester.post('advertisement/list', {advertisementType: 1}).then((res: any) => {
        res.forEach((item: any,index: number) => {
          if (item.state){
            this.advList.push({key:index,value:item.url})
          }
        })
      })
    }*/
  },
  // created() {
  //   this.getAreaCityOptions()
  // },
  mounted() {
    /*this.advData()*/
    this.$nextTick(() => {
      this.getQualificationOptions()
      const dom = document.getElementById('areaTree') as any
      const areaTreeInput = dom.getElementsByTagName('input')[0] as any
      const areaTreeFather = areaTreeInput.parentElement
      areaTreeFather.removeChild(areaTreeInput)
      this.pageSize = this.$route.query.pageSize
        ? parseInt(this.$route.query.pageSize as string, 10)
        : 10
      this.pageNum = this.$route.query.pageNum
        ? parseInt(this.$route.query.pageNum as string, 10)
        : 1
      // areaTreeInput.setAttribute('disabled', true)
    })
  },
  watch: {
    // areaCode(val) {
    // }
  }
})
</script>

<style lang="scss" scoped>
.table-filter {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 25px 24px 25px;
  position: relative;

  .search-title {
    color: #909399;
    font-size: 16px;
  }

  .advanced-btns {
    position: absolute;
    right: 25px;
  }

  .filter-item {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;
    flex-shrink: 0;

    .filter-label {
      font-size: 14px;
      color: #666666;
      width: 60px;
    }

    .long-label {
      width: 100px;
    }

    .filter-search {
      width: 306px;
      margin-right: 24px;
    }

    .auto-width {
      flex-grow: 0;
      margin-right: 24px;
      min-width: 306px;
      //  max-width: calc(100% - 330px);
    }

    .short-filter {
      width: 266px;
    }

    .number-count {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .have-margin {
        margin: 0 10px;
      }
    }

    .type-radio {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 180px;

      .group {
        margin-right: 5px;
      }

      .radio-tips {
        margin-bottom: 0;
        font-size: 13px;
        color: #909399;
      }
    }

    .large-button {
      width: 126px;
      margin-right: 16px;
    }
  }

  .collapse-expend {
    position: absolute;
    font-size: 14px;
    cursor: pointer;
    right: 25px;
    bottom: 10px;
    color: #4d7cfe;
  }

  .mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    background-color: rgba($color: #000000, $alpha: 0.64);

    .welcome-image {
      width: 60vw;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      cursor: pointer;
    }

    .close-mask {
      position: absolute;
      right: 40px;
      top: 30px;
      color: #ffffff;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
</style>
